
{% import "./../utils.njk" as utils %}
<!--
nav.fd-side-nav (.has-icons .compact .condensed)
    div.fd-side-nav__main-navigation
        ul.fd-side-nav__list
            li.fd-side-nav__item (.has-child)
                a.fd-side-nav__link (.is-active, .is-expanded)
                    div.fd-side-nav__text
                ul.fd-side-nav__sublist
                    li.fd-side-nav__subitem
                    a.fd-side-nav__sublink  (.is-active)
                        div.fd-side-nav__text
-->

{%- macro navicon(glyph="") -%}
<i class="fd-side-nav__icon{{ ' sap-icon--'+glyph if glyph }}" role="presentation"></i>
{%- endmacro %}

{%- macro navitem(navitem={}) -%}
{%- set _id = utils.id() -%}
<li class="fd-side-nav__item{{ 'has-child' if navitem.haschild }}">
    {%- set state = { selected: navitem.selected, expanded: navitem.expanded } %}
    {%- set aria = { } %}
    {%- if navitem.selected %}
        {%- set aria = { selected: navitem.selected } %}
    {%- elseif navitem.expanded %}
        {%- set aria = { expanded: navitem.expanded } %}
    {%- endif %}
    {%- if navitem.items -%}
    <a class="fd-side-nav__link{{ modifier.link | modifier('nav__link') }}{{ state | state }}"{{ aria | aria }} href="{{ navitem.href or '#' }}" aria-controls="{{ _id }}" aria-haspopup="true">
        {%- if navitem.icon -%}
            {{ navicon(navitem.icon) }}
        {%- endif %}
        <div class="fd-side-nav__text">{{ navitem.label }}</div>
    </a>
    {%- set sublisthidden = "true" %}
    {%- if navitem.expanded %}
        {%- set sublisthidden = "false" %}
    {%- endif %}
    <ul class="fd-side-nav__sublist" id="{{ _id }}" aria-hidden="{{ sublisthidden }}">
        {%- for subitem in navitem.items %}
            <li class="fd-side-nav__subitem">
                {%- set state = { selected: subitem.selected, disabled: subitem.disabled } %}
                {%- set aria = {} %}
                {%- if subitem.selected %}
                    {%- set aria = { selected: subitem.selected } %}
                {%- elif subitem.disabled %}
                    {%- set aria = { disabled: subitem.disabled } %}
                {%- endif %}
                <a class="fd-side-nav__sublink{{ modifier.link | modifier('nav__sublink') }}{{ state | state }}"{{ aria | aria }} href="{{ item.href or '#' }}">
                    {%- if subitem.icon -%}
                    {{ navicon(subitem.icon) }}
                    {%- endif %}
                    <div class="fd-side-nav__text">{{ subitem.label }}</div>
                </a>
            </li>
        {%- endfor -%}
    </ul>
    {%- else -%}
    <a class="fd-side-nav__link{{ modifier.link | modifier('nav__link') }}{{ state | state }}"{{ aria | aria }} href="{{ navitem.href or '#' }}">
        {%- if navitem.icon -%}
        {{ navicon(navitem.icon) }}
        {%- endif %}
        <div class="fd-side-nav__text">{{ navitem.label }}</div>
    </a>
    {%- endif -%}
</li>
{%- endmacro %}

{%- macro navlist(properties={}) -%}
<ul class="fd-side-nav__list">
    {%- for item in properties %}
        {{ navitem(item) }}
    {%- endfor -%}
</ul>
{%- endmacro %}

{%- macro side_nav(properties={}, modifier={}, state={}, aria={}, classes="") -%}
<nav class="fd-side-nav{{ modifier.block | modifier('side-nav') }} {{'has-icons' if modifier.hasicons}} {{'compact' if state.compact}} {{'condensed' if state.condensed}}">
    <div class="fd-side-nav__main-navigation">
        {{ navlist(properties.main) }}
    </div>
    {%- if properties.utility  %}
    <div class="fd-side-nav__utility">
        {{ navlist(properties.utility) }}
    </div>
    {%- endif -%}
</nav>
{%- endmacro -%}
