{% extends "layout.njk" %}
{% from "./../format.njk" import format %}

{% block content %}
<!-- output the component example and the code snippet -->
<h2>Side Navigation with one level - text-only, cozy mode</h2>
{% set example %}
<nav class="fd-side-nav">
    <div class="fd-side-nav__main-navigation">
      <ul class="test-sidenav-list">
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
      </ul>
    </div>
    <div class="fd-side-nav__utility">
       <ul class="test-sidenav-list">
        <li>Item 1</li>
        <li>Item 1</li>
       </ul>
    </div>
</nav>
{% endset %}
{{ format(example) }}

<br><br><br>
<h2>Side navigation with icons - condensed state</h2>
{% set example %}
<nav class="fd-side-nav fd-side-nav--condensed">
   <div class="fd-side-nav__main-navigation">
      <ul class="test-sidenav-list">
        <li class="test-sidenav-list-icon sap-icon--home"></li>
        <li class="test-sidenav-list-icon sap-icon--calendar"></li>
        <li class="test-sidenav-list-icon sap-icon--employee"></li>
        <li class="test-sidenav-list-icon sap-icon--activities"></li>
      </ul>
    </div>
    <div class="fd-side-nav__utility">
       <ul class="test-sidenav-list">
        <li class="test-sidenav-list-icon sap-icon--bar-chart"></li>
        <li class="test-sidenav-list-icon sap-icon--video"></li>
       </ul>
    </div>
</nav>
{% endset %}
{{ format(example) }}

<h2>Nested List Without Icons</h2>
{% set example %}
<ul class="fd-nested-list fd-nested-list--text-only">
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link is-selected"href="#/">
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link has-child"href="#/" aria-controls="EX100L2" aria-haspopup="true">
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
        <ul class="fd-nested-list level-2" id="EX100L2" aria-hidden="true">
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link"href="#/">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
            </li>
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link has-child" 
                   href="#/" aria-controls="EX100L3" aria-haspopup="true">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
                <ul class="fd-nested-list level-3" id="EX100L3" aria-hidden="true">
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link"href="#/">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                    </li>
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link has-child" 
                           href="#/" aria-controls="EX100L4" aria-haspopup="true">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                        <ul class="fd-nested-list level-4" id="EX100L4" aria-hidden="true">
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/">
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link has-child" 
                                   href="#/" aria-controls="EX100L5" aria-haspopup="true">
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                                <ul class="fd-nested-list level-5" id="EX100L5" aria-hidden="true">
                                    <li class="fd-nested-list__item">
                                        <a class="fd-nested-list__link"href="#/">
                                            <span class="fd-nested-list__title">Level 5 Item</span>
                                        </a>
                                    </li>
                                    <li class="fd-nested-list__item">
                                        <a class="fd-nested-list__link has-child" 
                                           href="#/" aria-controls="EX100L6" aria-haspopup="true">
                                            <span class="fd-nested-list__title">Level 5 Item</span>
                                        </a>
                                        <ul class="fd-nested-list level-6" id="EX100L6" aria-hidden="true">
                                            <li class="fd-nested-list__item">
                                                <a class="fd-nested-list__link"href="#/">
                                                    <span class="fd-nested-list__title">Level 6 Item</span>
                                                </a>
                                            </li>
                                            <li class="fd-nested-list__item">
                                                <a class="fd-nested-list__link"href="#/" >
                                                    <span class="fd-nested-list__title">Level 6 Item</span>
                                                </a>
                                            </li>
                                            <li class="fd-nested-list__item">
                                                <a class="fd-nested-list__link"href="#/">
                                                    <span class="fd-nested-list__title">Level 6 Item</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="fd-nested-list__item">
                                        <a class="fd-nested-list__link"href="#/">
                                            <span class="fd-nested-list__title">Level 5 Item</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/">
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link"href="#/">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link"href="#/">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
</ul>
{% endset %}
{{ format(example) }}

<br><br><br>

<h2>Nested List With Icons</h2>
{% set example %}
<ul class="fd-nested-list fd-nested-list--no-border">
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--home"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link is-selected"href="#/">
            <span class="fd-nested-list__icon sap-icon--calendar"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link has-child"href="#/" aria-controls="EX700L2" aria-haspopup="true">
            <span class="fd-nested-list__icon sap-icon--employee"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
        <ul class="fd-nested-list level-2" id="EX700L2" aria-hidden="true">
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link"href="#/">
                    <span class="fd-nested-list__icon sap-icon--home"></span>
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
            </li>
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link has-child" 
                   href="#/" aria-controls="EX700L3" aria-haspopup="true">
                    <span class="fd-nested-list__icon sap-icon--appointment"></span>
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
                <ul class="fd-nested-list level-3" id="EX700L3" aria-hidden="true">
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link"href="#/">
                            <span class="fd-nested-list__icon sap-icon--group"></span>
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                    </li>
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link has-child" 
                           href="#/" aria-controls="EX700L4" aria-haspopup="true">
                            <span class="fd-nested-list__icon sap-icon--history"></span>
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                        <ul class="fd-nested-list level-4" id="EX700L4" aria-hidden="true">
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/">
                                    <span class="fd-nested-list__icon sap-icon--leads"></span>
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/" >
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/">
                                    <span class="fd-nested-list__icon sap-icon--opportunity"></span>
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link"href="#/">
                            <span class="fd-nested-list__icon sap-icon--retail-store"></span>
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link"href="#/">
                    <span class="fd-nested-list__icon sap-icon--video"></span>
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--activities"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--bar-chart"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
</ul>
{% endset %}
{{ format(example) }}

<br><br><br>

<h2>Nested List With Icons Only in First-Level Items</h2>
{% set example %}
<ul class="fd-nested-list">
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--home"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link is-selected"href="#/">
            <span class="fd-nested-list__icon sap-icon--calendar"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link has-child"href="#/" aria-controls="EX300L2" aria-haspopup="true">
            <span class="fd-nested-list__icon sap-icon--employee"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
        <ul class="fd-nested-list fd-nested-list--text-only level-2" id="EX300L2" aria-hidden="true">
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link"href="#/">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
            </li>
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link has-child" 
                   href="#/" aria-controls="EX300L3" aria-haspopup="true">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
                <ul class="fd-nested-list fd-nested-list--text-only level-3" id="EX300L3" aria-hidden="true">
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link"href="#/">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                    </li>
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link has-child" 
                           href="#/" aria-controls="EX300L4" aria-haspopup="true">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                        <ul class="fd-nested-list fd-nested-list--text-only level-4" id="EX300L4" aria-hidden="true">
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/">
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/" >
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/">
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link"href="#/">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link"href="#/">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--activities"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--bar-chart"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
</ul>
{% endset %}
{{ format(example) }}

<br><br><br>

<h2>Nested List With Group Headers</h2>
{% set example %}
<ul class="fd-nested-list">
    <li class="fd-nested-list__group-header">
        Group Header 1
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--home"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link is-selected"href="#/">
            <span class="fd-nested-list__icon sap-icon--calendar"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link has-child"href="#/" aria-controls="EX400L2" aria-haspopup="true">
            <span class="fd-nested-list__icon sap-icon--employee"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
        <ul class="fd-nested-list fd-nested-list--text-only level-2" id="EX400L2" aria-hidden="true">
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link"href="#/">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
            </li>
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link has-child" 
                   href="#/" aria-controls="EX400L3" aria-haspopup="true">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
                <ul class="fd-nested-list fd-nested-list--text-only level-3" id="EX400L3" aria-hidden="true">
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link"href="#/">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                    </li>
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link has-child" 
                           href="#/" aria-controls="EX400L4" aria-haspopup="true">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                        <ul class="fd-nested-list fd-nested-list--text-only level-4" id="EX400L4" aria-hidden="true">
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/">
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/" >
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/">
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link"href="#/">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link"href="#/">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--activities"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__group-header">
        Group Header 2
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--bar-chart"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
</ul>
{% endset %}
{{ format(example) }}

<br><br><br>

<h2>Nested List With Group Headers Compact Mode</h2>
{% set example %}
<ul class="fd-nested-list fd-nested-list--compact">
    <li class="fd-nested-list__group-header">
        Group Header 1
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--home"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link is-selected"href="#/">
            <span class="fd-nested-list__icon sap-icon--calendar"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link has-child"href="#/" aria-controls="EX500L2" aria-haspopup="true">
            <span class="fd-nested-list__icon sap-icon--employee"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
        <ul class="fd-nested-list fd-nested-list--text-only level-2" id="EX500L2" aria-hidden="true">
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link"href="#/">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
            </li>
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link has-child" 
                   href="#/" aria-controls="EX500L3" aria-haspopup="true">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
                <ul class="fd-nested-list fd-nested-list--text-only level-3" id="EX500L3" aria-hidden="true">
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link"href="#/">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                    </li>
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link has-child" 
                           href="#/" aria-controls="EX500L4" aria-haspopup="true">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                        <ul class="fd-nested-list fd-nested-list--text-only level-4" id="EX500L4" aria-hidden="true">
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/">
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/" >
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/">
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link"href="#/">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link"href="#/">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--activities"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__group-header">
        Group Header 2
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--bar-chart"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
</ul>
{% endset %}
{{ format(example) }}

<br><br><br>

<h2>Nested List Without Links</h2>
{% set example %}
<ul class="fd-nested-list fd-nested-list--compact">
    <li class="fd-nested-list__group-header">
        Group Header 1
    </li>
    <li class="fd-nested-list__item">
        <div class="fd-nested-list__content">
            <span class="fd-nested-list__icon sap-icon--home"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </div>
    </li>
    <li class="fd-nested-list__item">
        <div class="fd-nested-list__content is-selected">
            <span class="fd-nested-list__icon sap-icon--calendar"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </div>
    </li>
    <li class="fd-nested-list__item">
        <div class="fd-nested-list__content has-child" aria-controls="EX600L2" aria-haspopup="true">
            <span class="fd-nested-list__icon sap-icon--employee"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </div>
        <ul class="fd-nested-list fd-nested-list--text-only level-2" id="EX600L2" aria-hidden="true">
            <li class="fd-nested-list__item">
                <div class="fd-nested-list__content">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </div>
            </li>
            <li class="fd-nested-list__item">
                <div class="fd-nested-list__content has-child" 
                    aria-controls="EX600L3" aria-haspopup="true">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </div>
                <ul class="fd-nested-list fd-nested-list--text-only level-3" id="EX600L3" aria-hidden="true">
                    <li class="fd-nested-list__item">
                        <div class="fd-nested-list__content">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </div>
                    </li>
                    <li class="fd-nested-list__item">
                        <div class="fd-nested-list__content has-child" 
                            aria-controls="EX600L4" aria-haspopup="true">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </div>
                        <ul class="fd-nested-list fd-nested-list--text-only level-4" id="EX600L4" aria-hidden="true">
                            <li class="fd-nested-list__item">
                                <div class="fd-nested-list__content">
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </div>
                            </li>
                            <li class="fd-nested-list__item">
                                <div class="fd-nested-list__content" >
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </div>
                            </li>
                            <li class="fd-nested-list__item">
                                <div class="fd-nested-list__content">
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="fd-nested-list__item">
                        <div class="fd-nested-list__content">
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="fd-nested-list__item">
                <div class="fd-nested-list__content">
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </div>
            </li>
        </ul>
    </li>
    <li class="fd-nested-list__item">
        <div class="fd-nested-list__content">
            <span class="fd-nested-list__icon sap-icon--activities"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </div>
    </li>
    <li class="fd-nested-list__group-header">
        Group Header 2
    </li>
    <li class="fd-nested-list__item">
        <div class="fd-nested-list__content">
            <span class="fd-nested-list__icon sap-icon--bar-chart"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </div>
    </li>
    <li class="fd-nested-list__item">
        <div class="fd-nested-list__content">
            <span class="fd-nested-list__title">Level 1 Item</span>
        </div>
    </li>
</ul>
{% endset %}
{{ format(example) }}

<br><br><br>

<h2>Right To Left Support</h2>
{% set example %}
<ul class="fd-nested-list fd-nested-list--no-border" dir="rtl">
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--home"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link is-selected"href="#/">
            <span class="fd-nested-list__icon sap-icon--calendar"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link has-child"href="#/" aria-controls="EX7000" aria-haspopup="true">
            <span class="fd-nested-list__icon sap-icon--employee"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
        <ul class="fd-nested-list level-2" id="EX7000" aria-hidden="true">
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link"href="#/">
                    <span class="fd-nested-list__icon sap-icon--home"></span>
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
            </li>
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link has-child" 
                   href="#/" aria-controls="EX7010" aria-haspopup="true">
                    <span class="fd-nested-list__icon sap-icon--email-read"></span>
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
                <ul class="fd-nested-list level-3" id="EX7010" aria-hidden="true">
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link"href="#/">
                            <span class="fd-nested-list__icon sap-icon--home"></span>
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                    </li>
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link has-child" 
                           href="#/" aria-controls="EX7020" aria-haspopup="true">
                            <span class="fd-nested-list__icon sap-icon--documents"></span>
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                        <ul class="fd-nested-list level-4" id="EX7020" aria-hidden="true">
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/">
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/" >
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                            <li class="fd-nested-list__item">
                                <a class="fd-nested-list__link"href="#/">
                                    <span class="fd-nested-list__title">Level 4 Item</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="fd-nested-list__item">
                        <a class="fd-nested-list__link"href="#/">
                            <span class="fd-nested-list__icon sap-icon--employee-pane"></span>
                            <span class="fd-nested-list__title">Level 3 Item</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="fd-nested-list__item">
                <a class="fd-nested-list__link"href="#/">
                    <span class="fd-nested-list__icon sap-icon--database"></span>
                    <span class="fd-nested-list__title">Level 2 Item</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--activities"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__icon sap-icon--bar-chart"></span>
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
    <li class="fd-nested-list__item">
        <a class="fd-nested-list__link"href="#/">
            <span class="fd-nested-list__title">Level 1 Item</span>
        </a>
    </li>
</ul>
{% endset %}
{{ format(example) }}
{% endblock %}
