{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import side_nav %}

{% block content %}

<style media="screen">
  textarea.test-textarea {
    font-family: monospace;
    height: 100px;
    width: 90%;
    padding: 10px;
    font-size: 0.9rem;
    border: solid 1px rgba(0,0,0,0.1)
  }
</style>

    <!-- output the component example and the code snippet -->
    <h2>Side navigation with icons and multiple levels - cozy state</h2>
    {% set example %}

        {{ side_nav(
                properties = {
                "main": [
                        {
                            "label": "Overview",
                            "icon": "home",
                            "selected": true
                        },
                        {
                            "label": "Questions",
                            "icon": "question-mark",
                            "haschild": true,
                            "items": [
                                {
                                    "label": "My Opportunities"
                                },
                                {
                                    "label": "My Requests"
                                },
                                {
                                    "label": "My Links"
                                }
                            ]
                        },
                        {
                            "label": "Documents",
                            "icon": "documents",
                            "haschild": true,
                            "items": [
                                {
                                    "label": "Link"
                                },
                                {
                                    "label": "Link"
                                },
                                {
                                    "label": "Link"
                                }
                            ]
                        },
                        {
                            "label": "Awards",
                            "icon": "competitor"
                        },
                        {
                            "label": "Files",
                            "icon": "attachment"
                        }
                ],
                "utility": [
                        {
                            "label": "Legal Information",
                            "icon": "compare"
                        },
                        {
                            "label": "Useful Links",
                            "icon": "chain-link"
                        }
                ]
            },
            state = {
                "compact": false,
                "condensed": false
                
            },
            modifier = {
                "hasicons": true
            }
          )
        }}
    {% endset %}
    {{- format(example) -}}


    <br><br><br>

    <h2>Side navigation with icons and multiple levels - compact state</h2>
    {% set example %}

        {{ side_nav(
                properties = {
                "main": [
                        {
                            "label": "Overview",
                            "icon": "home",
                            "selected": true
                        },
                        {
                            "label": "Questions",
                            "icon": "question-mark",
                            "haschild": true,
                            "items": [
                                {
                                    "label": "My Opportunities"
                                },
                                {
                                    "label": "My Requests"
                                },
                                {
                                    "label": "My Links"
                                }
                            ]
                        },
                        {
                            "label": "Documents",
                            "icon": "documents",
                            "haschild": true,
                            "items": [
                                {
                                    "label": "Link"
                                },
                                {
                                    "label": "Link"
                                },
                                {
                                    "label": "Link"
                                }
                            ]
                        },
                        {
                            "label": "Awards",
                            "icon": "competitor"
                        },
                        {
                            "label": "Files",
                            "icon": "attachment"
                        }
                ],
                "utility": [
                        {
                            "label": "Legal Information",
                            "icon": "compare"
                        },
                        {
                            "label": "Useful Links",
                            "icon": "chain-link"
                        }
                ]
            },
            state = {
                "compact": true,
                "condensed": false
                
            },
            modifier = {
                "hasicons": true
            }
          )
        }}
    {% endset %}
    {{- format(example) -}}

    <br><br><br>

    <h2>Side navigation with icons - condensed state</h2>
    {% set example %}

        {{ side_nav(
                properties = {
                "main": [
                        {
                            "label": "Overview",
                            "icon": "home",
                            "selected": true
                        },
                        {
                            "label": "Questions",
                            "icon": "question-mark",
                            "haschild": true,
                            "items": [
                                {
                                    "label": "My Opportunities"
                                },
                                {
                                    "label": "My Requests"
                                },
                                {
                                    "label": "My Links"
                                }
                            ]
                        },
                        {
                            "label": "Documents",
                            "icon": "documents",
                            "haschild": true,
                            "items": [
                                {
                                    "label": "Link"
                                },
                                {
                                    "label": "Link"
                                },
                                {
                                    "label": "Link"
                                }
                            ]
                        },
                        {
                            "label": "Awards",
                            "icon": "competitor"
                        },
                        {
                            "label": "Files",
                            "icon": "attachment"
                        }
                ],
                "utility": [
                        {
                            "label": "Legal Information",
                            "icon": "compare"
                        },
                        {
                            "label": "Useful Links",
                            "icon": "chain-link"
                        }
                ]
            },
            state = {
                "compact": false,
                "condensed": true
                
            },
            modifier = {
                "hasicons": true
            }
          )
        }}
    {% endset %}
    {{- format(example) -}}

    <br><br><br>

    <h2>Side navigation with text only</h2>
    {% set example %}

        {{ side_nav(
                properties = {
                "main": [
                        {
                            "label": "Overview",
                            "selected": true
                        },
                        {
                            "label": "Questions",
                            "haschild": true,
                            "items": [
                                {
                                    "label": "My Opportunities"
                                },
                                {
                                    "label": "My Requests"
                                },
                                {
                                    "label": "My Links"
                                }
                            ]
                        },
                        {
                            "label": "Documents",
                            "haschild": true,
                            "items": [
                                {
                                    "label": "Link"
                                },
                                {
                                    "label": "Link"
                                },
                                {
                                    "label": "Link"
                                }
                            ]
                        },
                        {
                            "label": "Awards"
                        },
                        {
                            "label": "Files"
                        }
                ],
                "utility": [
                        {
                            "label": "Legal Information"
                        },
                        {
                            "label": "Useful Links"
                        }
                ]
            },
            state = {
                "compact": false,
                "condensed": false
                
            },
            modifier = {
                "hasicons": false
            }
          )
        }}
    {% endset %}
    {{- format(example) -}}


    <br><br><br>

    <h2>Side navigation with text only - compact state</h2>
    {% set example %}

        {{ side_nav(
                properties = {
                "main": [
                        {
                            "label": "Home",
                            "selected": true
                        },
                        {
                            "label": "Questions",
                            "haschild": true,
                            "items": [
                                {
                                    "label": "My Progress"
                                },
                                {
                                    "label": "My Documents"
                                },
                                {
                                    "label": "My Links"
                                }
                            ]
                        },
                        {
                            "label": "Customers"
                        },
                        {
                            "label": "POS"
                        }
                ],
                "utility": [
                        {
                            "label": "Legal Information"
                        },
                        {
                            "label": "Useful Links"
                        }
                ]
            },
            state = {
                "compact": true,
                "condensed": false
                
            },
            modifier = {
                "hasicons": false
            }
          )
        }}
    {% endset %}
    {{- format(example) -}}


{% endblock %}
