{% import "./../utils.njk" as utils %}

<!--
time:
    properties={},
    modifier={ block: [] },
    aria={}
-->

{%- macro time(properties={}, modifier=[], aria=[]) -%}
<div class="fd-time{{ modifier | modifier('time') }}"{{ aria | aria }}>
  {%- for item in properties.items %}
    {{ time_item(item) }}
  {%- endfor %}
</div>
{%- endmacro %}

{%- macro time_item(properties={}) -%}
{%- set _id = utils.id() %}
  <div class="fd-time__item">
      <div class="fd-time__control">
          <button class="btn-playground"></button>
      </div>
      <input class="fd-time__input input-playground-full-width" type="text" placeholder="{{properties.placeholder}}" value="{{properties.value}}" id="{{ _id }}" aria-label="{{properties.label | capitalize }}"/>
      <div class="fd-time__control">
          <button class="btn-playground"></button>
      </div>
  </div>
{%- endmacro %}
