{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import time %}

{% block content %}
  <p>The <code>fd-time</code> component is used for a single time value. Multiple components can be used in the <code>fd-time-picker</code> to assemble a clock time. A max of four will account for hours, minutes, seconds and period of the day.</p>

  <p>
<strong>It will be rare to see this component used outside of the <code>fd-time-picker</code>.
</strong>

  </p>

  <h2>Basic with active hours</h2>
  {% set example %}
{{ time(properties=data.properties) }}
  {% endset %}

  {{ format(example) }}

  <h2>Basic with active minutes</h2>
  {% set example %}
{{ time(properties=data.propertiesMinutes) }}
  {% endset %}

  {{ format(example) }}

  <h2>Basic with active seconds</h2>
  {% set example %}
{{ time(properties=data.propertiesSeconds) }}
  {% endset %}

  {{ format(example) }}

  <h2>Basic with active meridian</h2>
  {% set example %}
{{ time(properties=data.meridianProperties) }}
  {% endset %}

  {{ format(example) }}

  <h2>Compact with active hours</h2>
  {% set example %}
{{ time(properties=data.properties, modifier=['compact']) }}
  {% endset %}

  {{ format(example) }}

  <h2>Compact with active minutes</h2>
  {% set example %}
{{ time(properties=data.propertiesMinutes, modifier=['compact']) }}
  {% endset %}

  {{ format(example) }}

  <h2>Compact with active Seconds</h2>
  {% set example %}
{{ time(properties=data.propertiesSeconds, modifier=['compact']) }}
  {% endset %}

  {{ format(example) }}

  <h2>Compact with active meridian</h2>
  {% set example %}
{{ time(properties=data.meridianProperties, modifier=['compact']) }}
  {% endset %}

  {{ format(example) }}

  <h2>Tablet with active hours</h2>
  {% set example %}
{{ time(properties=data.properties, modifier=['tablet']) }}
  {% endset %}

  {{ format(example) }}

  <h2>Tablet with active minutes</h2>
  {% set example %}
{{ time(properties=data.propertiesMinutes, modifier=['tablet']) }}
  {% endset %}

  {{ format(example) }}

  <h2>Tablet with active Seconds</h2>
  {% set example %}
{{ time(properties=data.propertiesSeconds, modifier=['tablet']) }}
  {% endset %}

  {{ format(example) }}

  <h2>Tablet with active meridian</h2>
  {% set example %}
{{ time(properties=data.meridianProperties, modifier=['tablet']) }}
  {% endset %}

  {{ format(example) }}

{% endblock %}
