<!--
modal:
    properties={},
-->

{% macro modal(properties={}) %}
    <div class="fd-modal fd-modal--active"
         id="{% if properties.id %}{{ properties.id }}{% else %}example-modal{% endif %}" role="dialog">
        <div role="document"
             class="fd-modal__content
             {% set modal = properties.modal_content %}
             {% if modal.is_resizable %}fd-modal__content--resizable{% endif %}
             {% if modal.is_draggable %}fd-modal__content--draggable-grab{% endif %}
             {% if modal.modal_content_size %}fd-modal__content--{{ modal.modal_content_size }}{% endif %}
        ">

            <header class="fd-modal__header fd-bar {% if modal.has_subheader %}fd-bar--subheader{% endif %}">
                <div class="fd-bar__left">
                    <div class="fd-bar__element">
                        <h1 class="fd-modal__title">
                            Modal header
                        </h1>
                    </div>
                </div>
            </header>
            {% if modal.has_subheader %}
                <div class="fd-modal__subheader fd-bar fd-bar--subheader">
                    <div class="fd-bar__left">
                        <div class="fd-bar__element">
                            Modal subheader
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="fd-modal__body {% if modal.has_no_vertical_paddings %}fd-modal__body--no-vertical-padding{% endif %}">
                {{ properties.body }}
                {% if modal.has_loader %}
                    <div class="fd-modal__loader fd-busy-indicator--l" aria-hidden="false" aria-label="Loading">
                        Loader
                    </div>
                {% endif %}
            </div>

            <footer class="fd-modal__footer fd-bar fd-bar--footer">
                <div class="fd-bar__right">
                    <div class="fd-bar__element">
                        {%- for action in properties.actions %}
                            <button class="btn-playground">{{ action.label }}</button>
                        {%- endfor %}
                    </div>
                </div>
            </footer>

        </div>
    </div>

{%- endmacro %}