{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import modal, modal_toggle_setup %}


{% block content %}
    {{ modal_toggle_setup() }}

    <h1>Modal in default mode</h1>
    {% set example %}

        {{ modal(
            properties={
                header: "Modal Header",
                body: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                actions: [
                    { label: 'Confirm'},
                    { type: 'light', label: 'Cancel' }
                ]
            }
        ) }}

    {% endset %}
    {{ format(example) }}

    <br><br>

    <h1>Modal in compact mode</h1>
    {% set example %}

        {{ modal(
            properties={
                modal_content: {
                    is_compact: true
                },
                header: "Modal Header",
                body: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                actions: [
                    { label: 'Confirm'},
                    { type: 'light', label: 'Cancel' }
                ]
            }
        ) }}

    {% endset %}
    {{ format(example) }}
    <br><br>

    <h1>Modal in resizable mode</h1>
    {% set example %}

        {{ modal(
            properties={
                modal_content: {
                    is_resizable: true
                },
                header: "Modal Header",
                body: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                actions: [
                    { label: 'Confirm'},
                    { type: 'light', label: 'Cancel' }
                ]
            }
        ) }}

    {% endset %}
    {{ format(example) }}
    <br><br>

    {% for size in ["s", "m", "l", "xl", "xxl"] %}

        <h1>Modal size {{ size }}</h1>
        {% set example %}

            {{ modal(
                properties={
                    modal_content: {
                        modal_content_size: size
                    },
                    header: "Modal Header",
                    body: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                    actions: [
                        { label: 'Confirm'},
                        { type: 'light', label: 'Cancel' }
                    ]
                }
            ) }}

        {% endset %}
        {{ format(example) }}

        <br><br>
    {% endfor %}

    <h1>Toggleable modal</h1>
    {% set example %}

        {{ modal(
            properties={
                toggleable: true,
                id: "toggleable-modal-example",
                header: "Modal Header",
                body: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                actions: [
                    { label: 'Confirm'},
                    { type: 'light', label: 'Cancel' }
                ]
            }
        ) }}

    {% endset %}
    {{ format(example) }}

    <br><br>

{% endblock %}
