// CUSTOM imports to create the IE11-compatible CSS
@import "./../node_modules/@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/css_variables";
$fd-support-css-var-fallback: true;
@import "./settings";
@import "./fonts";
@import "./icons";
@import "./core";
@import "./layout";
@import "./components";
@import "./helpers";
