:root {
  --fdGrid_List_Item_Hover_Border_Color: var(--sapTile_Interactive_BorderColor);
  --fdGrid_List_Item_Border_Radius: var(--sapTile_BorderCornerRadius);
  --fdGrid_List_Item_Toolbar_Shadow: none;
  --fdGrid_List_Highlight_Offset: 0.5rem;
}
