:root {
  --fdGrid_List_Item_Hover_Border_Color: var(--sapTile_Interactive_BorderColor);
  --fdGrid_List_Item_Border_Radius: var(--sapElement_BorderCornerRadius);
  --fdGrid_List_Item_Toolbar_Shadow: var(--sapContent_HeaderShadow);
  --fdGrid_List_Item_Focus_Box_Shadow: none;
  --fdGrid_List_Item_Focus_Border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
  --fdGrid_List_Item_Focus_Outline_Offset: 0.0625rem;
}
