:root {
  --fdGrid_List_Item_Hover_Border_Color: var(--sapTile_Interactive_BorderColor);
  --fdGrid_List_Item_Border_Radius: var(--sapTile_BorderCornerRadius);
  --fdGrid_List_Item_Toolbar_Shadow: none;
  --fdGrid_List_Item_Focus_Box_Shadow: inset 0 0 0 var(--sapContent_FocusWidth) var(--sapContent_FocusColor);
  --fdGrid_List_Item_Focus_Border: 0.1775rem solid var(--sapList_Background);
  --fdGrid_List_Item_Focus_Outline_Offset: 0;
}
