@use "sass:map";

body {
  font-family: '72', 'Open Sans', sans-serif;
  padding: 0;
}

/** Popover docs styling */
[id*="story--components-popover--"] {
  min-height: 320px;
}

/** Quick View docs styling */
[id*="story--components-quick-view--"] {
  min-height: 350px;
}

#story--components-quick-view--popover {
  min-height: 550px;
}

/** Avatar Group docs styling */
[id*="story--components-avatar-group--"] {
  min-height: 250px;
  display: flex;
  justify-content: center;

  [id^="popover_avatar_"] {
    left: -136px;
  }

  [dir="rtl"] [id^="popover_avatar_"] {
    left: auto;
    right: 8px;
  }

  [id^="popover_avatar_more_"] {
    left: -100px;

    [dir="rtl"] & {
      right: -100px;
    }
  }

  [id^="popover_avatar-group_"] {
    left: -20px;

    [dir="rtl"] & {
      right: -20px;
    }
  }

  .fd-popover__body {
    &::before,
    &::after {
      left: calc(50% - 8px);

      [dir="rtl"] & {
        right: calc(50% - 8px);
      }
    }
  }
}

/* match the storybook heading styles non-autogenerated headings */
.toc-heading,
.sbdocs-h2 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-overflow-scrolling: touch;
  margin: 20px 0 8px;
  cursor: text;
  position: relative;
  color: #404040;
  font-size: 24px;
  padding: 0 0 4px;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

$docs-hd-tp: 10px; /* top padding */
$docs-hd-bp: 12px; /* bottom padding */
$docs-hd-ch: 28px; /* content height */
$docs-tm: 30px; /* top margin */
$heading-toc-spacer: $docs-hd-tp + $docs-hd-bp + $docs-hd-ch + $docs-tm;

.sbdocs-h2,
.sbdocs-h3 {
  &:focus {
    outline: none;
  }
}

/* storybook iframe */
.sb-show-main {
  margin: 0;
}

/* storybook iframe inner wrapper */
.sbdocs {
  &.sbdocs-wrapper {
    padding-top: 75px;
  }
}

/* header */
.fddocs-header {
  box-sizing: border-box;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #404040;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 2px solid #d7dbde;
  z-index: 1001;

  &--label {
    align-self: center;
    margin: 0 6px;
  }

  a {
    color: #404040;
    text-decoration: none;
  }
}

/* footer */
.fddocs-footer {
  padding: 16px 0;
  font-size: 14px;
  line-height: 1.33;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  border-top: 2px solid #d7dbde;
  color: #404040;
  /* stylelint-disable no-descending-specificity */
  a {
    margin-left: 24px;
    text-decoration: none;
    color: #404040;

    &:hover {
      color: #0e7290;
    }
  }

  /* stylelint-enable no-descending-specificity */

  &__logo {
    margin-right: 16px;
    min-width: 120px;
    display: flex;
    align-items: center;
  }

  &__slogan {
    white-space: nowrap;
    margin-right: 5px;
    font-weight: bold;
  }

  &__copyright {
    margin-left: 24px;
    width: 100%;
  }

  &--left {
    display: flex;
    align-items: center;
    justify-self: start;
    justify-content: space-between;
  }

  &--right {
    justify-self: end;
    display: flex;
    justify-content: space-between;
  }
}

/* older versions links */
ul.fddocs-versions {
  display: flex;
  margin: 6px 0 0;
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
  gap: 20px;

  li {
    margin: 0;
  }
}

@media (width <= 1200px) {
  ul.fddocs-versions {
    display: none;
  }
}

.fddocs-community,
.fddocs-versions {
  /* stylelint-disable no-descending-specificity */
  a {
    color: #0e7290;
    text-decoration: none;

    &:hover {
      color: #404040;
    }
  }
}

/* community social links */
.fddocs-community {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #d7dbde;
  color: #404040;
  font-size: 14px;

  section {
    width: 50%;
    margin: 10px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    margin: 0 0 20px;
  }

  h4 {
    font-weight: normal;
    font-size: 16px;
  }

  /* stylelint-enable no-descending-specificity */
  img {
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
  }
}

/* story example layout containers */
.fddocs-container {
  display: flex;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;

  &--break {
    flex-basis: 100%;
    height: 0;
    border-bottom: 10px solid transparent;
  }

  &--icon {
    padding: 10px;
    float: left;
    width: 16%;
    text-align: center;
    height: 120px;
  }
}

blockquote {
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 5px;
  background: #fffde4;
  font-size: 1rem;

  &.docs-deprecated {
    background: #ffebeb;
    background: var(--sapErrorBackground, #ffebeb);
    color: var(--sapNegativeColor, #bb0000);
    border-color: var(--sapNegativeColor, #bb0000);
  }
}

code.docs-code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

code.docs-code-grey {
  color: rgb(64 64 64 / 90%);
  background-color: #f8f8f8;
}

.fddocs-button-container {
  > .fd-button-split,
  > .fd-button {
    margin-block-end: 5px;
  }

  display: block;
}

.fddocs-button-container.fddocs-ai-button-container {
  > .fd-button-split,
  > .fd-button {
    margin-block-end: 0;
  }

  gap: 2rem;
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.fd-dialog,
.fd-message-box {
  z-index: 101;
}

.fd-dialog-docs-static,
.fd-message-box-docs-static {
  &.fd-dialog,
  .fd-dialog,
  &.fd-message-box,
  .fd-message-box {
    position: relative;
    background-color: transparent;
    z-index: 1;
    justify-content: center;

    &::before {
      background-color: transparent;
    }
  }

  &.fd-dialog__content,
  .fd-dialog__content,
  &.fd-message-box__content,
  .fd-message-box__content {
    position: relative;
    transform: translate(0%, 0%);
    width: 50%;
    height: auto;

    &:not(:last-child) {
      margin-block-end: 2rem;
    }
  }
}

.fddocs.fd-info-label {
  margin-right: 5px;
}

.docs-layout-grid-bg {
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 4rem;
  text-align: center;

  &--tall {
    min-height: 25rem;
  }

  &--vertical {
    height: 100%;
  }

  &--border {
    border: 2px solid #000000;
  }

  &--color-1 {
    background-color: #30c5d2;
    color: white;
  }

  &--color-2 {
    background-color: #32b5c8;
    color: white;
  }

  &--color-3 {
    background-color: #34a4bf;
    color: white;
  }

  &--color-4 {
    background-color: #3694b5;
    color: white;
  }

  &--color-5 {
    background-color: #3883ac;
    color: white;
  }

  &--color-6 {
    background-color: #3a73a2;
    color: white;
  }

  &--color-7 {
    background-color: #3d6299;
    color: white;
  }

  &--color-8 {
    background-color: #3f528f;
    color: white;
  }

  &--color-9 {
    background-color: #414186;
    color: white;
  }

  &--color-10 {
    background-color: #43317c;
    color: white;
  }

  &--color-11 {
    background-color: #452073;
    color: white;
  }

  &--color-12 {
    background-color: #471069;
    color: white;
  }
}

.themed-container {
  background-color: var(--sapBackgroundColor, #f7f7f7);
}

.sb-docs-intro {
  color: #404040;
}

body.sb-show-main {
  background-color: var(--sapBackgroundColor, #f7f7f7);
  font-family: var(--sapFontFamily, "72", "72full", Arial, Helvetica, sans-serif);
  font-size: var(--sapFontSize, 0.875rem);
  color: var(--sapTextColor, #32363a);
}

.fdsb-layout-panel-playground {
  border: 1px solid navy;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  background: gold;
  font-size: 14px;
  box-shadow: 0 5px 20px 0 blue;
}

.fddocs.fd-container {
  min-height: 20px;
  padding: 20px;
  background: lightblue;
  border: 1px solid yellow;

  [class^="fd-col"] {
    background-color: #edeff0;
    height: 70px;
    border: 1px solid #d9d9d9;
    text-align: center;
    padding: 10px 5px;
  }
}

.tile-content-playground,
.tile-content-small-playground {
  background-color: linen;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.tile-content-playground {
  width: 9rem;
  height: 3.875rem;
}

.tile-content-small-playground {
  width: 8.25rem;
  height: 3.438rem;
}

.example-container {
  display: flex;
  align-items: center;
  margin: 10px 0;

  .fddocs-text {
    max-width: 300px;
    padding: 0 15px;
  }
}

.fddocs-select {
  margin-right: 15px;
}

.slider-container {
  width: 50%;
}

.slider-container--range .fd-slider__track-range {
  left: 40%;
}

[dir="rtl"] .slider-container--range .fd-slider__track-range {
  left: -20%;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 500px;
  padding: 0;
  margin-left: 30%;
  margin-right: 30%;
}

.fddocs-tile-example-background-color {
  background-color: #c0e0fa;
}

.fd-grid-list__item-body {
  .fd-grid-list__item-image {
    background-image: url('../../../../../.storybook/static/assets/images/backgrounds/leaves.jpg');
  }

  .fd-grid-list__item-content p {
    margin: 0;

    &:last-of-type {
      margin-block-end: 0.875rem;
    }
  }
}

[dir="rtl"] .grid-list-item-body-example .grid-list-item-body-example-avatar {
  margin-right: 0;
  margin-left: 1rem;
}

.fd-status-indicator.coreographed {
  display: inline;
}

.fd-custom-resizable-card-layout-flex {
  display: flex;
  flex-wrap: wrap;

  @mixin set-card-dimensions($width: 20rem, $height: 20rem) {
    width: $width;
    height: $height;
    margin: 0.5rem;
  }

  .card-one-dimensions {
    @include set-card-dimensions(40rem, 16rem);
  }

  .card-two-dimensions {
    @include set-card-dimensions(20rem, fit-content);
  }

  .card-three-dimensions {
    @include set-card-dimensions();
  }

  .card-four-dimensions {
    @include set-card-dimensions(20rem, 35rem);
  }

  .card-five-dimensions {
    @include set-card-dimensions(40rem, 25rem);
  }

  .card-six-dimensions {
    @include set-card-dimensions();
  }
}

.docs-column-flex {
  display: flex;
  flex-direction: column;

  &--align-start {
    align-items: flex-start;
  }
}

.docs-layout-margins-paddings {
  background-color: #3d6299;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  text-align: center;

  &--color-13 {
    background-color: #3d6299;
    color: white;
    border: 2px solid red;
  }

  &--color-14 {
    background-color: #30c5d2;
    color: white;
    border: 2px solid black;
  }

  &--secondary-bg {
    background-color: #dbdbdb;
    display: inline-block;
  }

  &--padded {
    padding: 1.5rem;
  }

  &--margin {
    margin: 1.5rem;
  }

  /* padding+width = actual width, so specifying different widths to show the backgrounds correctly */
  &--width {
    width: 19rem; /* for tiny 0.5rem each(horizontal padding)+19rem = 20rem total */

    &-sm {
      width: 18rem; /* for tiny 1rem each(horizontal padding)+18rem = 20rem total */
    }

    &-md {
      width: 16rem; /* for tiny 2rem each(horizontal padding)+16rem = 20rem total */
    }

    &-lg {
      width: 14rem; /* for tiny 3rem each(horizontal padding)+14rem = 20rem total */
    }
  }
}

.fddocs-margin-end-none,
[dir="rtl"] .fddocs-margin-end-none {
  margin: 1.5rem;
}

.fddocs-list-height {
  height: 11rem;
}

@media (width <= 600px) {
  .sbdocs-preview {
    min-width: calc(100% + 20px * 2);
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 0;
  }
}
