@use "sass:map";

@import "custom";

/* fix bug in storybook@6 where toolbar height is hardcoded - causes scrollbar  */
a[title='Open canvas in new tab'] {
  height: initial;
  margin-block-start: 0;
}

/* make room for TOCBot */
@media (width >= 64rem) {
  .sbdocs.sbdocs-content {
    margin-inline-end: 13.75rem;
    max-width: 65rem;
  }
}

/* story containers - cleaner presentation */
.sbdocs .sbdocs-preview {
  border: 1px solid #eaecee;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: none;
}

/* source code blocks */
.sbdocs .docblock-code-toggle {
  border-radius: 0 0 0.5rem 0.5rem;
}
