@use "sass:map";

@import "custom";

/* fix bug in storybook@6 where toolbar height is hardcoded - causes scrollbar  */
a[title='Open canvas in new tab'] {
  height: initial;
  margin-top: 0;
}

/* make room for TOCBot */
@media (width >= 1024px) {
  .sbdocs.sbdocs-content {
    margin-inline-end: 200px;
  }
}
