{% extends "layout.njk" %}
{% import "./../utils.njk" as utils %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import popover, popover_popperjs, list %}
{% from "./../menu/component.njk" import menu %}

{% block content %}

<style media="screen">
    .fd-popover{ margin-left: 100px; margin-right: 100px;}

    .popover-body__pgd {
    font-family: '72', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    color: black;
    font-size: 14px;
    margin: 0;
    border: 0;
    padding: 0 4px;
    }
</style>


{%- set _id = utils.id() %}
{%- set _id2 = utils.id() %}
{%- set _id3 = utils.id() %}
{%- set _id4 = utils.id() %}
{%- set _id5 = utils.id() %}
{%- set _id6 = utils.id() %}
{%- set _id7 = utils.id() %}

{%- macro sample_control(properties={}) -%}
  <span aria-controls="{{ properties.id }}" aria-expanded="false" aria-haspopup="true"{{ " disabled" if state.disabled }}{{ aria | aria }}>Click Here</span>
{%- endmacro %}

<h2>popover with menu default </h2>
{% set example %}
{{  popover(properties={
    id: _id,
    control: sample_control(properties={id: _id}),
    body: list()
  })
}}
{% endset %}
{{ format(example) }}

<br><br><br><br>

<h2>popover with menu left </h2>
{% set example %}
{{  popover(properties={
    id: _id7,
    control: sample_control(properties={id: _id7}),
    body: list()
  }, modifier={ block: ['left']})
}}
{% endset %}
{{ format(example) }}

<br><br><br><br>

<h2>popover with menu right </h2>
{% set example %}
{{  popover(properties={
    id: _id2,
    control: sample_control(properties={id: _id2}),
    body: list()
  }, modifier={ block: ['right']})
}}

{% endset %}
{{ format(example) }}
<br><br>

<h2>No Arrow left </h2>
{% set example %}

{{  popover(properties={
    id: _id3,
    control: sample_control(properties={id: _id3}),
    body: list()
  }, modifier={ block: ['no-arrow']})
}}

{% endset %}
{{ format(example) }}

<br><br><br><br>

<h2>No Arrow right </h2>
{% set example %}

{{  popover(properties={
    id: _id4,
    control: sample_control(properties={id: _id4}),
    body: list()
  }, modifier={ block: ['no-arrow', 'right']})
}}

{% endset %}
{{ format(example) }}

<br><br><br><br>

<h2>Use with popper.js</h2>
<p>NOTE: This will not be functional as the popper.js library is not being used here so this
is simply a styling example.</p>
{% set example %}

{{  popover_popperjs(properties={
    id: _id5,
    control: sample_control(properties={id: _id5}),
    body: list()
  }, modifier={ block: []})
}}

{% endset %}
{{ format(example) }}

<br><br><br><br>

<h2>No Arrow with popper.js</h2>
<p>NOTE: This will not be functional as the popper.js library is not being used here so this
is simply a styling example.</p>
{% set example %}

{{  popover_popperjs(properties={
    id: _id6,
    control: sample_control(properties={id: _id6}),
    body: list()
  }, modifier={ block: ['no-arrow']})
}}

{% endset %}
{{ format(example) }}


{% endblock %}
