{% extends "layout.njk" %}
{% import "./../utils.njk" as utils %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import popover, popover_popperjs, popover_content %}
{% from "./../menu/component.njk" import menu %}

{% block content %}

<style media="screen">
    .fd-popover{ margin-left: 100px; margin-right: 100px;}

    .sample-control {
      padding: 10px;
      margin: 0;
      border: 1px solid black;
      background: #ccc;
      font-size: 14px;
    }
    .sample-content {
      font-size: 14px;
      margin: 0;
      border: 0;
      padding: 10px;
    }

    .sample-control-input {
      width: 500px;
    } 
</style>


{%- set _id = utils.id() %}
{%- set _id2 = utils.id() %}
{%- set _id3 = utils.id() %}
{%- set _id4 = utils.id() %}
{%- set _id5 = utils.id() %}
{%- set _id6 = utils.id() %}
{%- set _id7 = utils.id() %}

{%- macro sample_control(properties={}) -%}
  <button class="fd-popover__control sample-control" aria-controls="{{ properties.id }}" aria-expanded="false" aria-haspopup="true"{{ " disabled" if state.disabled }}{{ aria | aria }}>
    Click Here
  </button>
{%- endmacro %}

{%- macro sample_control_input(properties={}) -%}
  <input class="fd-popover__control sample-control-input" />
{%- endmacro %}

<h2>popover with menu default </h2>
{% set example %}
{{  popover(properties={
    id: _id,
    control: sample_control(properties={id: _id}),
    body: popover_content()
  })
}}
{% endset %}
{{ format(example) }}

<br><br><br><br>

<h2>popover with menu left </h2>
{% set example %}
{{  popover(properties={
    id: _id7,
    control: sample_control(properties={id: _id7}),
    body: popover_content()
  }, modifier={ block: ['left']})
}}
{% endset %}
{{ format(example) }}

<br><br><br><br>

<h2>popover with menu right </h2>
{% set example %}
{{  popover(properties={
    id: _id2,
    control: sample_control(properties={id: _id2}),
    body: popover_content()
  }, modifier={ block: ['right']})
}}

{% endset %}
{{ format(example) }}
<br><br>

<h2>No Arrow left </h2>
{% set example %}

{{  popover(properties={
    id: _id3,
    control: sample_control(properties={id: _id3}),
    body: popover_content()
  }, modifier={ block: ['no-arrow']})
}}

{% endset %}
{{ format(example) }}

<br><br><br><br>

<h2>No Arrow right </h2>
{% set example %}

{{  popover(properties={
    id: _id4,
    control: sample_control(properties={id: _id4}),
    body: popover_content()
  }, modifier={ block: ['no-arrow', 'right']})
}}

{% endset %}
{{ format(example) }}

<br><br><br><br>

<h2>Use with popper.js</h2>
<p>NOTE: This will not be functional as the popper.js library is not being used here so this
is simply a styling example.</p>
{% set example %}

{{  popover_popperjs(properties={
    id: _id5,
    control: sample_control(properties={id: _id5}),
    body: popover_content()
  }, modifier={ block: []})
}}

{% endset %}
{{ format(example) }}

<br><br><br><br>

<h2>No Arrow with popper.js</h2>
<p>NOTE: This will not be functional as the popper.js library is not being used here so this
is simply a styling example.</p>
{% set example %}

{{  popover_popperjs(properties={
    id: _id6,
    control: sample_control(properties={id: _id6}),
    body: popover_content()
  }, modifier={ block: ['no-arrow']})
}}

{% endset %}
{{ format(example) }}

<br><br><br><br>

<h2>Full width of parent with popper.js</h2>
<p>NOTE: This will not be functional as the popper.js library is not being used here so this
is simply a styling example.</p>
{% set example %}

{{  popover_popperjs(properties={
    id: _id7,
    control: sample_control_input(properties={id: _id7}),
    body: popover_content()
  }, modifier={ block: ['no-arrow', 'full-width']})
}}

{% endset %}
{{ format(example) }}


{% endblock %}
