{% extends "layout.njk" %}
{% from "./../format.njk" import format %}

{% block content %}
<style media="screen">
  .fd-tile {
    margin-bottom: 10px;
  }
</style>

<h2>Numeric Content</h2>
{% set example %}
<h4>Generic Tile Sizes (Responsiveness)</h4>
<br>
<div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;">
  <div class="fd-tile">
      <div class="fd-tile__header"></div>
      <div class="fd-tile__content"></div>
      <div class="fd-tile__footer"></div>
  </div>
  <div class="fd-tile fd-tile--s">
      <div class="fd-tile__header"></div>
      <div class="fd-tile__content"></div>
      <div class="fd-tile__footer"></div>
  </div>
</div>
<br>
<h4>Generic Tile Layout</h4>
<br>
<div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;">
  <div class="fd-tile">
      <div class="fd-tile__header"></div>
      <div class="fd-tile__content"></div>
      <div class="fd-tile__footer"></div>
  </div>
      <div class="fd-tile fd-tile--double">
      <div class="fd-tile__header"></div>
      <div class="fd-tile__content"></div>
      <div class="fd-tile__footer"></div>
  </div>
  <div class="fd-tile fd-tile--s">
      <div class="fd-tile__header"></div>
      <div class="fd-tile__content"></div>
      <div class="fd-tile__footer"></div>
  </div>
      <div class="fd-tile fd-tile--s fd-tile--double">
      <div class="fd-tile__header"></div>
      <div class="fd-tile__content"></div>
      <div class="fd-tile__footer"></div>
  </div>
</div>

<br>
<h4>Generic Tile Content Columns</h4>
<br>
<div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;">
  <div class="fd-tile">
    <div class="fd-tile__header fd-tile__header--2-col">
        <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
        <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
    </div>
    <div class="fd-tile__content fd-tile__content--2-col">
        <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
        <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
    </div>
    <div class="fd-tile__footer fd-tile__footer--2-col">
        <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
        <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
    </div>
  </div>
  <div class="fd-tile fd-tile--double">
      <div class="fd-tile__header fd-tile__header--2-col">
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
      </div>
      <div class="fd-tile__content fd-tile__content--2-col">
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
      </div>
      <div class="fd-tile__footer fd-tile__footer--2-col">
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
      </div>
  </div>
  <div class="fd-tile fd-tile--s">
      <div class="fd-tile__header fd-tile__header--2-col">
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
      </div>
      <div class="fd-tile__content fd-tile__content--2-col">
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
      </div>
      <div class="fd-tile__footer fd-tile__footer--2-col">
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
      </div>
  </div>
  <div class="fd-tile fd-tile--s fd-tile--double">
      <div class="fd-tile__header fd-tile__header--2-col">
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
      </div>
      <div class="fd-tile__content fd-tile__content--2-col">
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
      </div>
      <div class="fd-tile__footer fd-tile__footer--2-col">
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
          <div class="fd-tile__section" style="background-color: #C0E0FA"></div>
      </div>
  </div>
</div>
{% endset %}
{{ format(example) }}


<h2>KPI Tile</h2>
{% set example %}
<div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;">
  <div class="fd-tile fd-tile--kpi">
      <div class="fd-tile__header">
          <div class="fd-tile__title">Tile Title Text</div>
          <div class="fd-tile__subtitle">Tile Subtitle Text</div>
      </div>
      <div class="fd-tile__content"></div>
      <div class="fd-tile__footer fd-tile__footer--2-col">
          <div class="fd-tile__section">
              <span class="sap-icon--refresh fd-tile__refresh"></span>
              <span class="fd-tile__footer-text">Now</span>
          </div>
          <div class="fd-tile__section"><span class="fd-tile__footer-text">Footer</span></div>
      </div>
  </div>
  <div class="fd-tile fd-tile--kpi fd-tile--s">
      <div class="fd-tile__header">
          <div class="fd-tile__title">Tile Title Text</div>
          <div class="fd-tile__subtitle">Tile Subtitle Text</div>
      </div>
      <div class="fd-tile__content"></div>
      <div class="fd-tile__footer fd-tile__footer--2-col">
          <div class="fd-tile__section">
              <span class="sap-icon--refresh fd-tile__refresh"></span>
              <span class="fd-tile__footer-text">Now</span>
          </div>
          <div class="fd-tile__section"><span class="fd-tile__footer-text">Footer</span></div>
      </div>
  </div>
</div>
{% endset %}
{{ format(example) }}

<h2>Launch Tile - Profile</h2>
{% set example %}
<div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;">
  <div class="fd-tile fd-tile--launch">
      <div class="fd-tile__header">
          <div class="fd-tile__title">Launch Tile (Profile) Title Text</div>
          <div class="fd-tile__subtitle">Launch Tile Subtitle</div>
      </div>
      <div class="fd-tile__content">
          <span class="fd-tile__profile-img" style="background-image: url('https://placeimg.com/60/60/nature')" role="presentation" aria-label="Profile Image"></span>
      </div>
      <div class="fd-tile__footer">
          <span class="fd-tile__footer-text">Footer Text</span>
      </div>
  </div>
  <div class="fd-tile fd-tile--kpi fd-tile--s">
      <div class="fd-tile__header">
          <div class="fd-tile__title">Launch Tile (Profile) Title Text</div>
          <div class="fd-tile__subtitle">Launch Tile Subtitle</div>
      </div>
      <div class="fd-tile__content">
          <span class="fd-tile__profile-img" style="background-image: url('https://placeimg.com/50/50/nature')" role="presentation" aria-label="Profile Image"></span>
      </div>
      <div class="fd-tile__footer">
          <span class="fd-tile__footer-text">Unit, Notification</span>
      </div>
  </div>
</div>

{% endset %}
{{ format(example) }}

<h2>Launch Tile - Logo</h2>
{% set example %}
<div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;">
  <div class="fd-tile fd-tile--launch">
      <div class="fd-tile__header">
          <div class="fd-tile__title">Launch Tile (Logo) Title Text</div>
          <div class="fd-tile__subtitle">Launch Tile Subtitle</div>
      </div>
      <div class="fd-tile__content">
          <img class="fd-tile__logo" src="//unpkg.com/fundamental-styles/dist/images/sap-logo.png" srcset="//unpkg.com/fundamental-styles/dist/images/sap-logo@2x.png 1x, //unpkg.com/fundamental-styles/dist/images/sap-logo@3x.png 2x, //unpkg.com/fundamental-styles/dist/images/sap-logo@4x.png 3x" alt="SAP">
      </div>
      <div class="fd-tile__footer">
          <span class="fd-tile__footer-text">Footer Text</span>
      </div>
  </div>
  <div class="fd-tile fd-tile--kpi fd-tile--s">
      <div class="fd-tile__header">
          <div class="fd-tile__title">Launch Tile (Logo) Title Text</div>
          <div class="fd-tile__subtitle">Launch Tile Subtitle</div>
      </div>
      <div class="fd-tile__content">
          <img class="fd-tile__logo" src="//unpkg.com/fundamental-styles/dist/images/sap-logo.png" srcset="//unpkg.com/fundamental-styles/dist/images/sap-logo@2x.png 1x, //unpkg.com/fundamental-styles/dist/images/sap-logo@3x.png 2x, //unpkg.com/fundamental-styles/dist/images/sap-logo@4x.png 3x" alt="SAP">
      </div>
      <div class="fd-tile__footer">
          <span class="fd-tile__footer-text">Unit, Notification</span>
      </div>
  </div>
</div>

{% endset %}
{{ format(example) }}


<h2>Feed Tile</h2>
{% set example %}
<div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center;">
  <div class="fd-tile fd-tile--double fd-tile--feed">
      <div class="fd-tile__header">
          <div class="fd-tile__title">Feed Tile Title Text sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
          <div class="fd-tile__subtitle">Feed Tile Subtitle Text</div>
      </div>
      <div class="fd-tile__content fd-tile__content--2-col">
          <div class="fd-tile__section">
              <div class="fd-tile__content-text-container">
                  <div class="fd-tile__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt magna aliqua.</div>
                  <div class="fd-tile__content-byline">About 1 minute ago.</div>
              </div>
          </div>
          <div class="fd-tile__section">0</div>
      </div>
      <div class="fd-tile__footer">
          <span class="fd-tile__footer-text">Footer</span>
      </div>
  </div>
  <div class="fd-tile fd-tile--double fd-tile--s fd-tile--feed">
      <div class="fd-tile__header">
          <div class="fd-tile__title">Feed Tile Title Text sed do eiusmod</div>
          <div class="fd-tile__subtitle">Feed Tile Subtitle Text</div>
      </div>
      <div class="fd-tile__content fd-tile__content--2-col">
          <div class="fd-tile__section">
              <div class="fd-tile__content-text-container">
                  <div class="fd-tile__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod.</div>
                  <div class="fd-tile__content-byline">About 1 minute ago.</div>
              </div>
          </div>
          <div class="fd-tile__section">99</div>
      </div>
      <div class="fd-tile__footer">
          <span class="fd-tile__footer-text">Footer</span>
      </div>
  </div>
</div>
{% endset %}
{{ format(example) }}

{% endblock %}
