{#
    see ./data.json for object structure
#}
{% from "../icon/component.njk" import icon %}
{%- macro button(properties={}, modifier={}, state={}, aria={}, classes="", size="", disabled=false) -%}
{%- set is_default = modifier.block and modifier.block.length and not (modifier.block | join("")) %}

<button class="fd-button {{ modifier.block | modifier('button') }} {{ ' fd-button--'+size if size }} {{ state | state }} {{ ' sap-icon--'+properties.icon if properties.icon }} {{ classes | classes }}" {{ aria | aria }}{% if disabled %} disabled {% endif %}>
    {%- if properties.label %}{{properties.label}}{%- endif %}
</button>

{%- endmacro %}
