{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import button %}
{% from "./component-anchor.njk" import anchor_button %}

{% block content %}

{% set
    types = [
        "",
        "ghost",
        "emphasized",
        "transparent",
        "positive",
        "negative",
        "attention"
    ]
%}

{%- macro buttonFactory(label, icon, type, size, menu, aria, state) -%}
        {{- button(
        { label: label,
           icon:icon },
            modifier={ block: [type,size,menu] },
            aria=aria,
            state=state
        )}}
{%- endmacro -%}

{%- macro anchorFactory(label, icon, type, size, menu, aria, state) -%}
        {{- anchor_button(
        { label: label,
           icon:icon },
            modifier={ block: [type,size,menu] },
            aria=aria,
            state=state
        )}}
{%- endmacro -%}

{%- macro buttonExamples(type) -%}
        <h3><code>button: {{code_display(type)}}</code></h3>
        {{buttonFactory('Button','', type, '', '', {},{})}}
        {{buttonFactory('Button','', type, '', 'menu', {},{})}}
        {{buttonFactory('Button','', type, 'compact', '', {},{})}}
        {{buttonFactory('Button','', type, 'compact', 'menu', {},{})}}
        {{buttonFactory('Add to Cart','cart', type, '', '', {},{})}}
        {{buttonFactory('Add to Cart','cart', type, '', 'menu', {},{})}}
        {{buttonFactory('Add to Cart','cart', type, 'compact', '', {},{})}}
        {{buttonFactory('Add to Cart','cart', type, 'compact', 'menu', {},{})}}
        {{buttonFactory('','attachment', type, '', '', { label: 'Add Attachment' },{})}}
        {{buttonFactory('','attachment', type, '', 'menu', { label: 'Add Attachment' },{})}}
        {{buttonFactory('','attachment', type, 'compact', '', { label: 'Add Attachment' },{})}}
        {{buttonFactory('','attachment', type, 'compact', 'menu', { label: 'Add Attachment' },{})}}

        <h3><code>button states: {{code_display(type)}}</code></h3>
        {{buttonFactory('Focused','', type, '', '', {},{ focus: true })}}
        {{buttonFactory('Selected','', type, '', '', {selected:true},{})}}
        {{buttonFactory('Disabled','', type, '', '',{}, {disabled:true})}}
{%- endmacro -%}

{%- macro anchorExamples(type) -%}
        <h3> <code>anchor: {{code_display(type)}}</code></h3>
        {{anchorFactory('Button','', type, '', '', {},{})}}
        {{anchorFactory('Button','', type, '', 'menu', {},{})}}
        {{anchorFactory('Button','', type, 'compact', '', {},{})}}
        {{anchorFactory('Button','', type, 'compact', 'menu', {},{})}}
        {{anchorFactory('Add to Cart','cart', type, '', '', {},{})}}
        {{anchorFactory('Add to Cart','cart', type, '', 'menu', {},{})}}
        {{anchorFactory('Add to Cart','cart', type, 'compact', '', {},{})}}
        {{anchorFactory('Add to Cart','cart', type, 'compact', 'menu', {},{})}}
        {{anchorFactory('','attachment', type, '', '', { label: 'Add Attachment' },{})}}
        {{anchorFactory('','attachment', type, '', 'menu', { label: 'Add Attachment' },{})}}
        {{anchorFactory('','attachment', type, 'compact', '', { label: 'Add Attachment' },{})}}
        {{anchorFactory('','attachment', type, 'compact', 'menu', { label: 'Add Attachment' },{})}}

        <h3><code>anchor states: {{code_display(type)}}</code></h3>
        {{anchorFactory('Focused','', type, '', '', {},{ focus: true })}}
        {{anchorFactory('Selected','', type, '', '', {selected:true},{})}}
        {{anchorFactory('Disabled','', type, '', '',{}, {disabled:true})}}
{%- endmacro -%}

{%- macro code_display(type) -%}
    {{".fd-button--" + type if type}}
{%- endmacro -%}

{% for type in types %}
    {% set example %}
        {{buttonExamples(type)}}
        {{anchorExamples(type)}}
    {% endset %}
    {{ format(example) }}
{% endfor %}

{% endblock %}
