{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import button %}
{% from "./component-anchor.njk" import anchor_button %}

{% set button_designs = [
    "",
    "emphasized",
    "accept",
    "reject",
    "lite",
    "ghost"
] %}
{% set button_modes = ["cozy", "compact"] %}
{% set button_icons = ["text", "icon", "text_icon", "icon_text"] %}
{% set button_states = ["normal", "hover", "active", "selected"] %}
{% set button_data = [
    {
        label: 'Add to Cart',
        icon: 'attachment'
    }, {
        label: 'Disabled',
        icon: 'attachment',
        disabled: true
    }, {
        label: 'Submit'
    }, {
        label: 'Disabled',
        disabled: true
    }, {
        icon: 'attachment'
    }, {
        icon: 'attachment',
        disabled: true
    }, {
        label: 'Add to Cart',
        icon: 'attachment',
        iconPosition: 'end'
    }
] %}

{% macro btncode(content = "", bgcolor = "transparent") %}
    <div style="background-color:{{bgcolor}}">
        {{ content }}
    </div>
    <textarea readonly="readonly" class="test-textarea">{{ content | e | trim }}</textarea>
{% endmacro %}

{% block content %}
    <style media="screen">

        .button_playground {
            width: 100%;
        }
        .button_playground a,
        .button_playground button {
            margin-bottom: 5px !important;
            margin-right: 5px !important;
        };
    </style>

    <table class="button_playground" border="1" cellpadding="10">
        <tr>
            <th>Design Type</th>
            <th>Button Examples</th>
        </tr>
        {% for d1 in button_designs %}
            <tr style="height:300px">
                <th>{{d1}}</th>
                <td>
                    {% set example %}
                    {% for m1 in button_modes %}
                        <p>{{m1}}</p>
                        {% for b1 in button_data %}
                            {{-  button(b1, design=d1, mode=m1)}}
                        {% endfor %}
                        <br/>
                    {% endfor %}
                    {% endset %}
                    {{ btncode(example) }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}