{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import button %}
{% from "./component-anchor.njk" import anchor_button %}

{% block content %}

{% set emphasis = ["emphasized", "", "light" ] %}
{% set types = ["", "standard", "positive ", "medium", "negative" ] %}
{% set sizes = ["", "compact" ] %}

{%- macro code_display(e, type, size) -%}
    {{".fd-button--" + e if e}}{{".fd-button--" + type if type}}{{".fd-button--" + size if size}}{{".fd-button" if not type and not size and not e}}
{%- endmacro -%}

{% for type in types %}
    {% for e in emphasis %}
        {% for size in sizes %}
            {% set example %}
                <h3><code>button: {{code_display(e, type, size)}}</code></h3>
                {{- button(
                { label: 'Button' },
                modifier={ block: [type,size,e] })
                }}
                {{- button(
                { label: 'Add to Cart',
                    icon: 'cart' },
                    modifier={ block: [type,size,e] })
                }}
                {{-  button(
                { icon: 'attachment' },
                    modifier={ block: [type,size,e] },
                    aria={ label: 'Add Attachment' })
                }}
                <h3> <code>anchor: {{code_display(e, type, size)}}</code></h3>
                {{- anchor_button(
                { label: 'Button' },
                modifier={ block: [type,size,e] })
                }}
                {{- anchor_button(
                { label: 'Add to Cart',
                    icon: 'cart' },
                    modifier={ block: [type,size,e] })
                }}
                {{-  anchor_button(
                { icon: 'attachment' },
                    modifier={ block: [type,size,e] },
                    aria={ label: 'Add Attachment' })
                }}
            {% endset %}
            {{ format(example) }}

            {% set example %}
                <h3><code>button: {{code_display(e, type, size)}}</code></h3>
                {{-  button(
                { label: 'Focused',
                    icon: 'cart' },
                    modifier={ block: [type,size,e] },
                    state={ focus: true })
                }}
                {{- button(
                { label: 'Selected' },
                modifier={ block: [type,size,e] },
                aria={ selected: true })
                }}
                {{-  button(
                { label: 'Disabled',
                    icon: 'cart' },
                    modifier={ block: [type,size,e] },
                    state={ disabled: true })
                }}
                <h3><code>anchor: {{code_display(e, type, size)}}</code></h3>
                {{-  anchor_button(
                { label: 'Focused',
                    icon: 'cart' },
                    modifier={ block: [type,size,e] },
                    state={ focus: true })
                }}
                {{- anchor_button(
                { label: 'Selected' },
                modifier={ block: [type,size,e] },
                aria={ selected: true })
                }}
                {{-  anchor_button(
                { label: 'Disabled',
                    icon: 'cart' },
                    modifier={ block: [type,size,e] },
                    state={ disabled: true })
                }}
            {% endset %}
            {{ format(example) }}

        {% endfor %}
    {% endfor %}
{% endfor %}


{% set example %}

<button class="fd-button fd-button--menu">Action Button</button>
<button class="fd-button fd-button--menu" aria-disabled="true">Action Button</button>
<button class="fd-button--emphasized fd-button--menu sap-icon--cart">Add to Cart</button>
<button class="fd-button--standard fd-button--menu sap-icon--filter"></button>
<button class="fd-button--compact fd-button--menu">Compact</button>


{% endset %}
{{- format(example) -}}

{% endblock %}
