{% macro list(properties={}, toggles={}, modifier=[]) %}
<ul class="fd-list{{ modifier | modifier('list') }}  {{ 'fd-list--multi-input' if toggles.multiInput }} {{ 'fd-list--dropdown' if toggles.dropdown }} {{'fd-list--has-message' if toggles.hasMessage }}">
    {%- if properties.groups %}
		{%- if toggles.hasMessage %}
			<li class="fd-list__message fd-list__message--success">Message</li>
		{%- endif %}
        {%- for group in properties.groups %}
            {%- if group.header %}
                <li class="fd-list__group-header">
                    {{group.header}}
                </li>
            {%- endif %}
            {%- for item in group.items %}
                {{ list_item(item, toggles)| indent(2) }}
            {%- endfor %}
        {%- endfor %}
        {%- if properties.footer %}
            <li class="fd-list__footer">
                {{properties.footer}}
            </li>
        {%- endif %}
    {%- else %}
        <li class="fd-list__item fd-list__item--no-data">
            <span class="fd-list__title">No data found.</span>
        </li>
    {%- endif %}
</ul>
{%- endmacro %}

{% macro list_item(item={}, toggles={}, modifier=[]) %}
<li class="fd-list__item{{ modifier | modifier('list__item') }} {{ 'is-selected' if item.selected }} {{ 'is-active' if item.active }} {{ 'is-hover' if item.hover }}">
    {%- if toggles.multiInput %}
    	<label class="fd-list__label">
	{%- endif %}
	{%- if toggles.useIconBefore %}
        <span class="fd-list__icon">{{item.iconBefore}}</span>
    {%- endif %}
    {%- if toggles.byline %}
        {%- if item.thumbnail %}
            <span class="fd-list__thumbnail list-tumbnail-playground"></span>
        {%- endif %}

        <div class="fd-list__content">
            <div class="fd-list__title">{{item.title}}</div>
            <div class="fd-list__byline {{ 'fd-list__byline--2-col' if toggles.byline2col }}">
                {%- if item.bylineLeft %}
                    <div class="fd-list__byline-left">{{item.bylineLeft}}</div>
                {%- endif %}
                {%- if item.bylineRight %}
                    <div class="fd-list__byline-right {{ 'fd-list__byline-right--' + item.semantic if item.semantic }}">{{item.bylineRight}}</div>
                {%- endif %}
                {%- if item.byline %}
                    {{item.byline}}
                {%- endif %}
            </div>
        </div>

        {%- else %}
            <span class="fd-list__title {{ 'fd-list__title--no-wrap' if toggles.noWrap }}">{{item.title}}</span>
    {%- endif %}
    {%- if toggles.useSecondary %}
        <span class="fd-list__secondary  {{ 'fd-list__secondary--no-wrap' if toggles.noWrap }}">{{item.secondary}}</span>
    {%- endif %}
    {%- if toggles.useIconAfter %}
        <span class="fd-list__icon">{{item.iconAfter}}</span>
    {%- endif %}
    {%- if toggles.multiInput %}
    	</label>
	{%- endif %}
</li>
{%- endmacro %}
