{% extends "layout.njk" %}
{% from "./component.njk" import list %}
{% from "./../format.njk" import format %}

{%- set basic_list = {
    "groups": [
        {
            "items": [
                { "title": "List item 1", "secondary": "Complete" },
                { "title": "List item 2", "secondary": "Incomplete" },
                { "title": "List item 3" },
                { "title": "List item 4", "secondary": "Complete" }
            ]
        }
    ]
} %}

{%- set list_with_icons = {
    "groups": [
        {
            "items": [
                { "title": "List item 1", "iconBefore": "X", "iconAfter": ">" },
                { "title": "List item 2", "iconAfter": ">" },
                { "title": "List item 3", "iconBefore": "X" },
                { "title": "List item 4", "iconBefore": "O", "iconAfter": ">" }
            ]
        }
    ]
} %}

{%- set multi_input_list = {

    "groups": [
      {
        "items": [
          {
            "title": "List item 1"
          },
          {
            "title": "List item 2 (Selected)",
            "selected": true
          },
          {
            "title": "List item 3 - Lorem ipsum dolor sit amet, consectetur sed do",
            "active": true
          },
          {
            "title": "List item 4 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud",
            "hover": true
          }
        ]
      }
    ],
    "footer": "Footer"
  } %}

{%- set dropdown_list = {

    "groups": [
      {
        "items": [
          {
            "title": "List item 1",
			"secondary": "More information needed"
          },
          {
            "title": "List item 2 (Selected)",
            "selected": true,
			"secondary": "More"
          },
          {
            "title": "List item 3 - Lorem ipsum dolor sit amet, consectetur sed do",
            "active": true,
			"secondary": "Information"
          },
          {
            "title": "List item 4 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud",
            "hover": true,
			"secondary": "Very long text for information Very long text for information Very long text for information Very long text for information "
          }
        ]
      }
    ]
  } %}

  {%- set byline_list = {
    "groups": [
        {
            "items": [
                { "thumbnail": true, "title": "Title", "byline": "Byline (description)" },
                { "thumbnail": true, "title": "Title", "selected": true },
                { "title": "Title", "byline": "Byline (description)" }
            ]
        }
    ]
  } %}

  {%- set byline_semantic_list = {
    "groups": [
        {
            "items": [
                { "thumbnail": true, "title": "Title", "bylineLeft": "First text item in Byline (Standard text item)", "bylineRight": "Second text item in Byline (Can be semantic (Status) or not)", "semantic": "neutral" },
                { "thumbnail": true, "title": "Title", "bylineLeft": "First text item in Byline (Standard text item)", "bylineRight": "Second text item in Byline (Can be semantic (Status) or not)", "semantic": "positive" },
                { "thumbnail": true, "title": "Title", "bylineLeft": "First text item in Byline (Standard text item)", "bylineRight": "Second text item in Byline (Can be semantic (Status) or not)", "semantic": "critical" },
                { "thumbnail": true, "title": "Title", "bylineLeft": "First text item in Byline (Standard text item)", "bylineRight": "Second text item in Byline (Can be semantic (Status) or not)", "semantic": "negative" },
                { "thumbnail": true, "title": "Title", "bylineLeft": "First text item in Byline (Standard text item)", "bylineRight": "Second text item in Byline (Can be semantic (Status) or not)", "semantic": "informative" }
            ]
        }
    ]
  } %}

{% set modifiers = ["", "compact", "no-border"] %}
{% set bylineModifiers = ["byline", "byline fd-list--compact", "byline fd-list--no-border"] %}

{% block content %}

    <h2>Basic</h2>
    {% set example %}
        {%- for modifier in modifiers %}
            {%- if modifier %}
                <h3>{{ modifier }}</h3>
            {%- endif %}
            {{ list(basic_list, modifier=[modifier]) }}
        {%- endfor %}
    {% endset %}
    {{ format(example) }}

    <h2>Secondary text</h2>
    {% set example %}
        {%- for modifier in modifiers %}
            {%- if modifier %}
                <h3>{{ modifier }}</h3>
            {%- endif %}
            {{ list(basic_list, toggles={"useSecondary": true}, modifier=[modifier]) }}
        {%- endfor %}
    {% endset %}
    {{ format(example) }}

    <h2>Icons (Before)</h2>
    {% set example %}
        {%- for modifier in modifiers %}
            {%- if modifier %}
                <h3>{{ modifier }}</h3>
            {%- endif %}
            {{ list(list_with_icons, toggles={"useIconBefore": true}, modifier=[modifier]) }}
        {%- endfor %}
    {% endset %}
    {{ format(example) }}

    <h2>Icons (After)</h2>
    {% set example %}
        {%- for modifier in modifiers %}
            {%- if modifier %}
                <h3>{{ modifier }}</h3>
            {%- endif %}
            {{ list(list_with_icons, toggles={"useIconAfter": true}, modifier=[modifier]) }}
        {%- endfor %}
    {% endset %}
    {{ format(example) }}

    <h2>Selection</h2>
    {% set example %}
        {%- for modifier in modifiers %}
            {%- if modifier %}
                <h3>{{ modifier }}</h3>
            {%- endif %}
            {{ list(list_with_icons, toggles={"selection": true}, modifier=[modifier]) }}
        {%- endfor %}
    {% endset %}
    {{ format(example) }}

    <h2>Icons (Before & After)</h2>
    {% set example %}
        {%- for modifier in modifiers %}
            {%- if modifier %}
                <h3>{{ modifier }}</h3>
            {%- endif %}
            {{ list(list_with_icons, toggles={"useIconBefore": true, "useIconAfter": true}, modifier=[modifier]) }}
        {%- endfor %}
    {% endset %}
    {{ format(example) }}

    <h2>Group Headers and Footer with Selected and Active states</h2>
    {% set example %}
        {%- for modifier in modifiers %}
            {%- if modifier %}
                <h3>{{ modifier }}</h3>
            {%- endif %}
            {{ list(data.properties, modifier=[modifier]) }}
        {%- endfor %}
    {% endset %}
    {{ format(example) }}

    <h2>All options</h2>
    {% set example %}
        {%- for modifier in modifiers %}
            {%- if modifier %}
                <h3>{{ modifier }}</h3>
            {%- endif %}
            {{ list(data.properties, data.toggles, modifier=[modifier]) }}
        {%- endfor %}
    {% endset %}
    {{ format(example) }}

    <h2>Empty</h2>
    {% set example %}
        {%- for modifier in modifiers %}
            {%- if modifier %}
                <h3>{{ modifier }}</h3>
            {%- endif %}
            {{ list({}, modifier=[modifier]) }}
        {%- endfor %}
    {% endset %}
    {{ format(example) }}

	{% set modifiers = ["", "compact"] %}

	<h2>Basic Multi Input</h2>
	{% set example %}
		{%- for modifier in modifiers %}
			{%- if modifier %}
				<h3>{{ modifier }}</h3>
			{%- endif %}
			{{ list(basic_list, toggles={"multiInput": true}, modifier=[modifier]) }}
		{%- endfor %}
	{% endset %}
	{{ format(example) }}

	<h2>Multi Input with active and selected state, plus footer</h2>
	{% set example %}
		{%- for modifier in modifiers %}
			{%- if modifier %}
				<h3>{{ modifier }}</h3>
			{%- endif %}
			{{ list(multi_input_list, toggles={"multiInput": true}, modifier=[modifier]) }}
		{%- endfor %}
	{% endset %}
	{{ format(example) }}

	<h2>Multi Input with active and selected state, plus footer and message</h2>
	{% set example %}
		{%- for modifier in modifiers %}
			{%- if modifier %}
				<h3>{{ modifier }}</h3>
			{%- endif %}
			{{ list(multi_input_list, toggles={"multiInput": true, "hasMessage": true}, modifier=[modifier]) }}
		{%- endfor %}
	{% endset %}
	{{ format(example) }}

	<h2>Basic Dropdown</h2>
	{% set example %}
		{%- for modifier in modifiers %}
			{%- if modifier %}
				<h3>{{ modifier }}</h3>
			{%- endif %}
			{{ list(basic_list, toggles={"dropdown": true}, modifier=[modifier]) }}
		{%- endfor %}
	{% endset %}
	{{ format(example) }}

	<h2>Dropdown with active and selected state</h2>
	{% set example %}
		{%- for modifier in modifiers %}
			{%- if modifier %}
				<h3>{{ modifier }}</h3>
			{%- endif %}
			{{ list(dropdown_list, toggles={"dropdown": true}, modifier=[modifier]) }}
		{%- endfor %}
	{% endset %}
	{{ format(example) }}

	<h2>Dropdown with active and selected state, plus message</h2>
	{% set example %}
		{%- for modifier in modifiers %}
			{%- if modifier %}
				<h3>{{ modifier }}</h3>
			{%- endif %}
			{{ list(dropdown_list, toggles={"dropdown": true, "hasMessage": true}, modifier=[modifier]) }}
		{%- endfor %}
	{% endset %}
	{{ format(example) }}

	<h2>Dropdown with active and selected state, plus message and 2 columns</h2>
	{% set example %}
		{%- for modifier in modifiers %}
			{%- if modifier %}
				<h3>{{ modifier }}</h3>
			{%- endif %}
			{{ list(dropdown_list, toggles={"dropdown": true, "useSecondary": true, "hasMessage": true}, modifier=[modifier]) }}
		{%- endfor %}
	{% endset %}
	{{ format(example) }}

	<h2>Dropdown with active and selected state, plus message and 2 columns, overflow no wrap</h2>
	{% set example %}
		{%- for modifier in modifiers %}
			{%- if modifier %}
				<h3>{{ modifier }}</h3>
			{%- endif %}
			{{ list(dropdown_list, toggles={"dropdown": true, "useSecondary": true, "hasMessage": true, "noWrap": true}, modifier=[modifier]) }}
		{%- endfor %}
	{% endset %}
	{{ format(example) }}

    <h2>Standard List with Byline</h2>
    {% set example %}
        {%- for modifier in bylineModifiers %}
            {%- if modifier %}
                <h3>{{ modifier }}</h3>
            {%- endif %}
            {{ list(byline_list, toggles={"byline": true}, modifier=[modifier]) }}
        {%- endfor %}
    {% endset %}
    {{ format(example) }}

    <h2>Standard List with Byline and Semantic Byline Second Item</h2>
    {% set example %}
        {%- for modifier in bylineModifiers %}
            {%- if modifier %}
                <h3>{{ modifier }}</h3>
            {%- endif %}
            {{ list(byline_semantic_list, toggles={"byline2col": true, "byline": true}, modifier=[modifier]) }}
        {%- endfor %}
    {% endset %}
    {{ format(example) }}

    <h2>Standard List with Byline, Semantic Byline Second Item and Selection</h2>
    {% set example %}
        {%- for modifier in bylineModifiers %}
            {%- if modifier %}
                <h3>{{ modifier }}</h3>
            {%- endif %}
            {{ list(byline_semantic_list, toggles={"byline2col": true, "byline": true, "selection": true}, modifier=[modifier]) }}
        {%- endfor %}
    {% endset %}
    {{ format(example) }}

{% endblock %}
