@import "./sap_horizon";

:root {
  --fdGrid_List_Item_Border_Radius: 1rem; // Should be --sapTile_BorderCornerRadius, but in themes, it is incorrect value
  --fdGrid_List_Item_Focus_Box_Shadow: none;
  --fdGrid_List_Item_Focus_Border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
  --fdGrid_List_Item_Focus_Outline_Offset: 0.1875rem;
}
