.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
.vscode
.tmp
*.log
*.tgz
__diff_output__
storybook-chromatic
storybook-static
stories/docs/
dist
node_modules
yarn.lock
stories/*/*.visual.js
*.visual.js
*.accessibility.test.js
