language: node_js
node_js: 10.19.0
dist: trusty
services:
  - docker
git:
  depth: false
env:
  - DOCKER=true
script:
  - npm run build:prod
jobs:
  include:
  - stage: Lint, Test and Size
    script:
      - docker pull backstopjs/backstopjs:3.9.2
      - npm run test:ci-config
      - npm run test
  -
    script: npm run storybook:visual
  -
    script: npm run lint
  -
    script: npm run build:prod && npm run size
  - stage: Pre-release
    if: branch = master
    before_deploy:
    - git checkout master
    - bash ./ci-scripts/setup-npm.sh
    deploy:
    - provider: script
      script: bash ./ci-scripts/publish-rc.sh
      skip_cleanup: true
  - stage: Release
    if: branch = tmp_branch_for_automated_release_do_not_use
    before_deploy:
    - git config --add remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
    - git fetch
    - git checkout master
    - bash ./ci-scripts/setup-npm.sh
    - gem update --system
    - gem install ruby bundler jekyll
    deploy:
    - provider: script
      script: bash ./ci-scripts/publish.sh
      skip_cleanup: true
      on:
        all_branches: true
notifications:
  email:
    on_failure: always
    on_success: change
  slack:
    rooms:
      - ui-fundamentals:zVRyxlqkYnQFD7p8QHkWM8Fd#styles-automated
