{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import layout_grid %}

{% block content %}

{%- set div_playground %}
<div class="panel-playground">Placeholder div</div>
{% endset %}

{% macro layout_item(direction="", number="") -%}
<div class="panel-playground fd-layout-grid__span-{{direction}}-{{number}}">Placeholder div</div>
{%- endmacro %}

<h2>1-col grid (default)</h2>
{% set example %}
<div class="fd-layout-grid-container">
    <div class="fd-layout-grid">
        <div class="panel-playground">Placeholder div</div>
        <div class="panel-playground">Placeholder div</div>
        <div class="panel-playground">Placeholder div</div>
        <div class="panel-playground">Placeholder div</div>
        <div class="panel-playground">Placeholder div</div>
        <div class="panel-playground">Placeholder div</div>
        <div class="panel-playground">Placeholder div</div>
        <div class="panel-playground">Placeholder div</div>
        <div class="panel-playground">Placeholder div</div>
        <div class="panel-playground">Placeholder div</div>
    </div>
</div>
{% endset %}
{{ format(example) }}

<h2>6 col grid</h2>
{% set example %}
    <div class="fd-layout-grid-container">
        <div class="fd-layout-grid fd-layout-grid--col-6">
            <div class="panel-playground">Placeholder div</div>
            <div class="panel-playground">Placeholder div</div>
            <div class="panel-playground">Placeholder div</div>
            <div class="panel-playground">Placeholder div</div>
            <div class="panel-playground">Placeholder div</div>
            <div class="panel-playground">Placeholder div</div>
            <div class="panel-playground">Placeholder div</div>
            <div class="panel-playground">Placeholder div</div>
            <div class="panel-playground">Placeholder div</div>
            <div class="panel-playground">Placeholder div</div>
        </div>
    </div>
{% endset %}
{{ format(example) }}

<br><br>

<h2>Multi row grid</h2>
{% set example %}
    <div class="fd-layout-grid-container">
        <div class="fd-layout-grid-row">
            <div class="fd-layout-grid fd-layout-grid--col-2">
                <div class="panel-playground">Placeholder div</div>
                <div class="panel-playground">Placeholder div</div>
            </div>
        </div>
        <div class="fd-layout-grid-row">
            <div class="fd-layout-grid fd-layout-grid--col-2">
                <div class="panel-playground">Placeholder div</div>
                <div class="panel-playground">Placeholder div</div>
            </div>
        </div>
    </div>
{% endset %}
{{ format(example) }}

<br><br>

<h2>Nested grid</h2>
{% set example %}
    <div class="fd-layout-grid-container">
        <div class="fd-layout-grid-row">
            <div class="fd-layout-grid fd-layout-grid--col-6 fd-layout-grid--nested">
                <div class="fd-layout-grid fd-layout-grid--col-6">
                    <div class="panel-playground">Placeholder div</div>
                </div>
                <div class="fd-layout-grid fd-layout-grid--col-6">
                    <div class="panel-playground">Placeholder div</div>
                </div>
                <div class="fd-layout-grid fd-layout-grid--col-6">
                    <div class="panel-playground">Placeholder div</div>
                </div>
            </div>
        </div>
    </div>
{% endset %}
{{ format(example) }}

<br><br>

<h2>Grid without gap</h2>
{% set example %}
    <div class="fd-layout-grid-container fd-layout-grid-container--no-gap">
        <div class="fd-layout-grid-row">
            <div class="fd-layout-grid fd-layout-grid--col-6 fd-layout-grid--nested">
                <div class="fd-layout-grid fd-layout-grid--col-6 fd-layout-grid--no-gap">
                    <div class="panel-playground">Placeholder div</div>
                </div>
                <div class="fd-layout-grid fd-layout-grid--col-6 fd-layout-grid--no-gap">
                    <div class="panel-playground">Placeholder div</div>
                </div>
                <div class="fd-layout-grid fd-layout-grid--col-6 fd-layout-grid--no-gap">
                    <div class="panel-playground">Placeholder div</div>
                </div>
            </div>
        </div>
    </div>
{% endset %}
{{ format(example) }}

{% endblock %}
