@mixin standard() {
  @include applyColors(var(--sapButton_TextColor), var(--sapButton_BorderColor), var(--sapButton_Background));
}

@mixin standardHover {
  @include applyColors(
    var(--sapButton_Hover_TextColor),
    var(--sapButton_Hover_BorderColor),
    var(--sapButton_Hover_Background)
  );
}

@mixin standardPressed {
  @include applyColors(
    var(--sapButton_Selected_TextColor),
    var(--sapButton_Active_BorderColor),
    var(--sapButton_Active_Background)
  );
}

// Toggled state
@mixin standardToggled() {
  @include applyColors(
    var(--sapButton_Selected_TextColor),
    var(--sapButton_Selected_BorderColor),
    var(--sapButton_Selected_Background)
  );
}

@mixin standardToggledHover {
  @include applyColors(
    var(--sapButton_Selected_TextColor),
    var(--sapButton_Selected_Hover_BorderColor),
    var(--sapButton_Selected_Hover_Background)
  );
}

@mixin standardToggledPressed() {
  @include applyColors(
    var(--sapButton_Selected_TextColor),
    var(--sapButton_Selected_Hover_BorderColor),
    var(--sapButton_Selected_Hover_Background)
  );
}

@mixin standardPressedFocus() {
  outline-color: var(--fdButton_Pressed_Focused_Color);
}

@mixin standardFocus() {
  @include buttonFocus(var(--fdButton_Focus_Outline_Offset));
}

@mixin standardDisabled() {
  @include isDisabled();

  outline: none;
  box-shadow: none;
}
