{% extends "layout.njk" %}
{% from "./component.njk" import counter %}
{% from "./../format.njk" import format %}

{% block content %}
<div>

    <h2>default</h2>
    <p>Show nothing when 0, max is 999</p>
    <br>
    {% set single_counter %}
{{ counter(count=0, modifier="") }}
{{ counter(count=5, modifier="") }}
{{ counter(count=25, modifier="") }}
{{ counter(count=101, modifier="") }}
{{ counter(count=4001, modifier="") }}
    {% endset %}
    {{ format(single_counter) }}
</div>

<br><br>
<h2>notification</h2>


{% set example %}
<button class="counter-button_pgd sap-icon--bell" aria-label="Notifications">{{ counter(count=1,modifier="notification") }}</button>

<button class="counter-button_pgd sap-icon--bell" aria-label="Notifications">{{ counter(count=20,modifier="notification") }}</button>

<button class="counter-button_pgd sap-icon--bell" aria-label="Notifications">{{ counter(count=300,modifier="notification") }}</button>

<button class="counter-button_pgd sap-icon--bell" aria-label="Notifications">{{ counter(count=6000,modifier="notification") }}</button>

<ul class="counter-list_pgd">
    <li class="counter-list-item_pgd"><div class="counter-list-item-before_pgd"><span class="sap-icon--bell"></span>{{ counter(count=5,modifier="notification",aria={ label: "Unread count"}) }}</div>Option 2</li>
</ul>

{% endset %}
{{ format(example) }}
<br><br>

{% endblock %}
