{% extends "layout.njk" %}
{% from "./../format.njk" import format %}

{% block content %}
    <div>

        <h2>default</h2>
        <br/>
        {% set single_counter %}
        <span class="fd-counter" aria-label="Unread count">5</span>
        <span class="fd-counter" aria-label="Unread count">25</span>
        <span class="fd-counter" aria-label="Unread count">101</span>
        <span class="fd-counter" aria-label="Unread count">4001</span>
        <span class="fd-counter" aria-label="Unread count">9999+</span>
        {% endset %}
        {{ format(single_counter) }}
    </div>

    <br><br>
    <h2>notification</h2>

    {% set example %}
    <p>Read<span class="fd-counter" arial-label="Unread count">1</span></p>
    <br/>
    <button aria-label="Notifications">Open<span class="fd-counter fd-counter--notification" arial-label="Unread count">24</span></button>
    <br/><br/>
    <button aria-label="Notifications">Check<span class="fd-counter" arial-label="Unread count">300</span></button>
    <br/><br/>
    <a aria-label="Notifications">close<span class="fd-counter" arial-label="Unread count">6000</span></a>
    <br/><br/>
    <span class="sap-icon--bell"><span class="fd-counter fd-counter--notification" arial-label="Unread count">24</span></span>
    {% endset %}
    {{ format(example) }}

{% endblock %}