{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import counter %}

{% block content %}

    <h2>default counters</h2>
    <br/>
    {% set single_counter %}
    {{counter(count = 5, modifier='')}}
    {{counter(count = 25, modifier='')}}
    {{counter(count = 101, modifier='')}}
    {{counter(count = 4001, modifier='')}}
    {{counter(count = 10101, modifier='')}}
    {% endset %}
    {{ format(single_counter) }}

    <br><br>
    <h2>notification counters</h2>

    {% set example %}
    <div>Inbox{{counter(count = 1)}}</div>
    <br/>
    <div>Inbox{{counter(count = 24)}}</div>
    <br/>
    <div>Inbox{{counter(count = 300)}}</div>
    <br/>
    <div>Inbox{{counter(count = 6000) | trim}}</div>
    <br/><br/>
    <div>Inbox{{counter(count = 12000) | trim}}</div>
    {% endset %}
    {{ format(example) }}

{% endblock %}