{% import "./../utils.njk" as utils %}

<!--
table:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->

{% macro table(properties={}, modifier={}, state={}, aria={}, classes=[]) -%}
{%- if properties.fixed_col_table %}
<div class="fd-table--fixed-wrapper">
<div class="fd-table--fixed">
{% endif %}
<table  class="fd-table{{ modifier.block | modifier('table') }}{{ state | state }}{{ classes | classes }}"{{ aria | aria }}>
    <thead class="fd-table__header">
        <tr class="fd-table__row">
            {%- for header in properties.headers %}
            {%- if header.context_menu -%}
            <th class="fd-table__context-menu {{header.classes | classes}} fd-table__cell" style="width:{{header.width}}"{{header.aria | aria}}  scope="col">
                <span class="fd-table__context-menu-label">Header Column</span>
            </th>
            {%- else -%}
            {% set sort_class = "fd-table__cell fd-table__sort-column" if header.sortable else "" %}
            {% set sort_order_class = "fd-table__cell fd-table__sort-column--"+header.sort_order if header.sort_order and header.sortable  else "" %}
            <th class="fd-table__cell {{sort_class}} {{sort_order_class}}" scope="col">{{header.label}}</th>
            {%- endif -%}
            {%- endfor %}
        </tr>
    </thead>
    <tbody class="fd-table__body" >
        {%- for row in properties.rows %}
        <tr{% if properties.selectedRow === loop.index %} aria-selected="true"{% endif %}  class="fd-table__row">
            {%- for item in row %}
            {%- if item.label %}
            <td class="{{item.class}} fd-table__cell" style="width:{{item.width}}">{{ item.label }}</td>
            {%- else %}
            <td class="fd-table__cell">{{ item }}</td>
            {%- endif %}
            {%- endfor %}
        </tr>
        {%- endfor %}
    </tbody>
</table>
{%- if properties.fixed_col_table %}
</div>
</div>
{% endif %}


{%- endmacro %}
