{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import table %}
{% import "./../utils.njk" as utils %}

{% block content %}

{% set headers = [
        { label: "Header Column" },
        { label: "Header Column" },
        { label: "Header Column" },
        { label: "Header Column" },
        { label: "Header Column" }
    ]
%}

{% set class_row = [
        { label: "Lorem ipsum dolor sit amet ipsum", class: "fd-table__fixed-cell", width: "200px", fixed_col: true},
        { label: "Lorem ipsum dolor sit amet ipsum",  offset: "200px" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" }
    ]
%}

{% set row = ['Lorem', 'Lorem ipsum dolor sit amet ipsum', 'Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet', 'Lorem ipsum', 'Lorem ipsum dolor sit amet'] %}

<!-- output the component example and the code snippet -->
<h2>default</h2>
{% set example %}
{{  table(properties={
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ]
    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h2>default with selected row</h2>
{% set example %}
<table class="fd-table">
    <thead class="fd-table__header">
        <tr class="fd-table__row">
            <th class="fd-table__cell" scope="col">Column Header</th>
            <th class="fd-table__cell" scope="col">Column Header</th>
            <th class="fd-table__cell" scope="col">Column Header</th>
            <th class="fd-table__cell" scope="col">Column Header</th>
            <th class="fd-table__cell" scope="col">Column Header</th>
        </tr>
    </thead>
    <tbody class="fd-table__body">
        <tr class="fd-table__row">
            <td class="fd-table__cell">Lorem Ipsum</td>
            <td class="fd-table__cell">user.name@email.com</td>
            <td class="fd-table__cell">First Name</td>
            <td class="fd-table__cell">Last Name</td>
            <td class="fd-table__cell">01/26/17</td>
        </tr>
        <tr class="fd-table__row" aria-selected="true">
            <td class="fd-table__cell">Lorem Ipsum</td>
            <td class="fd-table__cell">user.name@email.com</td>
            <td class="fd-table__cell">First Name</td>
            <td class="fd-table__cell">Last Name</td>
            <td class="fd-table__cell">01/26/17</td>
        </tr>
        <tr class="fd-table__row">
            <td class="fd-table__cell">Lorem Ipsum</td>
            <td class="fd-table__cell">user.name@email.com</td>
            <td class="fd-table__cell">First Name</td>
            <td class="fd-table__cell">Last Name</td>
            <td class="fd-table__cell">01/26/17</td>
        </tr>
    </tbody>
</table>
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Table with `--no-borders`</h3>
{% set example %}
{{  table(properties={
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ]
    },
    modifier={
        block: ['no-borders']
    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Table with `--striped`</h3>
{% set example %}
{{  table(properties={
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ]
    },
    modifier={
        block: ['striped']
    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Sortable Column Enabled</h3>

{% set example %}
{{  table({
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ],
        sortable: true,
        stripedTable: true,
        noBorders:false
    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Asc Sort Column Example</h3>

{% set example %}
{{  table({
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column",
                sortable: true,
                sort_order:"asc"
            },
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ],
        sortable: true,
        stripedTable: true,
        noBorders:false

    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Dec Sort Column Example</h3>

{% set example %}
{{  table({
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column",
                sortable: true,
                sort_order:"dsc"
            },
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ],
        sortable: true,
        stripedTable: true,
        noBorders:false

    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Column with Contextual Menu</h3>

{% set example %}
{{  table({
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column",
                id: "col1",
                context_menu: true,
                aria: {
                    controls: "col1",
                    haspopup: true
                }
            },
            {
                label: "Header Column",
                id: "col2",
                context_menu: true,
                aria: {
                    controls: "col2",
                    haspopup: true
                }
            },
            {
                label: "Header Column",
                id: "col3",
                context_menu: true,
                aria: {
                    controls: "col3",
                    haspopup: true
                }
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ],
        contextual_headers: true,
        stripedTable: true,
        noBorders:false
    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Fixed Column with Contextual Menu</h3>

{% set example %}
{{  table({
        rows: [class_row, class_row, class_row],
        headers: [
            {
                label: "Header Column",
                id: "col1.2",
                context_menu: true,
                addon_before: true,
                fixed_col: true,
                width: "200px",
                aria: {
                    controls: "col1.2",
                    haspopup: true
                },
                classes: ["fd-table__fixed-cell"]
            },
            {
                label: "Header Column",
                id: "col2.2",
                context_menu: true,
                offset: "200px",
                aria: {
                    controls: "col2.2",
                    haspopup: true
                }
            },
            {
                label: "Header Column",
                id: "col3.2",
                context_menu: true,
                aria: {
                    controls: "col3.2",
                    haspopup: true
                }
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ],
        contextual_headers: true,
        fixed_col_table: true,
        stripedTable: true,
        noBorders:false

    })
}}
{% endset %}
{{ format(example) }}


{% endblock %}
