{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import toggle %}

{% block content %}

<h3>Cozy Toggle (default)</h3>
{% set example %}
<label>
{{  toggle()
}}
</label>

<label>
{{  toggle(
        properties={
            offLabel: 'OFF',
            onLabel: 'ON'
        },
        modifier={
            block: ['label']
        }

    )
}}
</label>

<label>
{{  toggle(
        modifier={
            block: ['semantic']
        }

    )
}}
</label>
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Compact Toggle</h3>
{% set example %}
<label>
{{  toggle(
        modifier={
            block: ['compact']
        }

    )
}}
</label>

<label>
{{  toggle(
        properties={
            offLabel: 'OFF',
            onLabel: 'ON'
        },
        modifier={
            block: ['label', 'compact']
        }

    )
}}
</label>

<label>
{{  toggle(
        properties={},
        modifier={
            block: ['compact', 'semantic']
        }

    )
}}
</label>
{% endset %}
{{ format(example) }}

<hr>

<h2>Other Sizes</h2>
{% set example %}

<h3>Large</h3>

<label>
{{  toggle(
        modifier={
            block: ['l']
        }
    )
}}

</label>

<br><br><br>

<h3>Small</h3>

<label>
{{  toggle(
        modifier={
            block: ['s']
        }
    )
}}
</label>

<br><br><br>

<h3>Extra small</h3>

<label>
{{  toggle(
        modifier={
            block: ['xs']
        }
    )
}}
</label>
{% endset %}
{{ format(example) }}

<br><br><br>

<hr> 

<h2>checked</h2>
{% set example %}
<label>
{{  toggle(
        modifier={
            block: ['xs']
        },
        state={
            checked: true
        }
    )
}}
</label>
<label>
{{  toggle(
        modifier={
            block: ['s']
        },
        state={
            checked: true
        }
    )
}}
</label>
<label>
{{  toggle(
        state={
            checked: true
        }
    )
}}
</label>
<label>
{{  toggle(
        modifier={
            block: ['l']
        },
        state={
            checked: true
        }
    )
}}
</label>
{% endset %}
{{ format(example) }}


<br><br><br>

<hr>

<h2>disabled</h2>
{% set example %}
<label>
{{  toggle(
        modifier={
            block: ['xs']
        },
        state={
            disabled: true
        }
    )
}}
</label>
<label>
{{  toggle(
        modifier={
            block: ['s']
        },
        state={
            disabled: true
        }
    )
}}
</label>
<label>
{{  toggle(
        state={
            disabled: true,
            checked: true
        }
    )
}}
</label>
<label>
{{  toggle(
        modifier={
            block: ['l']
        },
        state={
            disabled: true,
            checked: true
        }
    )
}}
</label>
{% endset %}
{{ format(example) }}

<h2>Inline label</h2>
{% set example %}
<label>
{{  toggle(
        properties={
            inlineLabel: 'Testing a long label here'
        },
        modifier={
            block: ['xs']
        }

    )
}}
</label>
<label>
{{  toggle(
        properties={
            inlineLabel: 'Short label'
        },
        modifier={
            block: ['s']
        }

    )
}}
</label>
<label>
{{  toggle(
        properties={
            inlineLabel: 'Testing a long label here'
        }
    )
}}
</label>
<label>
{{  toggle(
        properties={
            inlineLabel: 'Testing a long label here'
        },
        modifier={
            block: ['xl']
        }

    )
}}
</label>
{% endset %}
{{ format(example) }}


{% endblock %}
