{% extends "layout.njk" %}
{% from "./../format.njk" import format %}

{% block content %}


<h2>Bar - Desktop</h2>
    
{% set example %}
<div class="fd-bar">
        <div class="fd-bar__left">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__middle">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

<br>

<div class="fd-bar fd-bar--cosy">
        <div class="fd-bar__left">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__middle">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

{% endset %}
{{ format(example) }}

<h2>Bar - Header</h2>
    
{% set example %}
<div class="fd-bar fd-bar--header">
        <div class="fd-bar__left">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__middle">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

<br>

<div class="fd-bar fd-bar--cosy fd-bar--header">
        <div class="fd-bar__left">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__middle">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

{% endset %}
{{ format(example) }}

<h2>Bar - SubHeader</h2>
    
{% set example %}
<div class="fd-bar fd-bar--subheader">
        <div class="fd-bar__left">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__middle">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

<br>

<div class="fd-bar fd-bar--cosy fd-bar--subheader">
        <div class="fd-bar__left">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__middle">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

{% endset %}
{{ format(example) }}

<h2>Bar - Header with SubHeader</h2>
    
{% set example %}
<div class="fd-bar fd-bar--header-with-subheader">
        <div class="fd-bar__left">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__middle">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>
<div class="fd-bar fd-bar--subheader">
        <div class="fd-bar__middle">
                <div class="fd-bar__element fd-bar__element--full-width">
                        <input class="input-playground input-playground--subheader" type="text" value="subheader">
                </div>
        </div>
</div>

<br>

<div class="fd-bar fd-bar--cosy fd-bar--header-with-subheader">
        <div class="fd-bar__left">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__middle">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>
<div class="fd-bar fd-bar--cosy fd-bar--subheader">
        <div class="fd-bar__middle">
                <div class="fd-bar__element fd-bar__element--full-width">
                        <input class="input-playground input-playground--subheader" type="text" value="subheader">
                </div>
        </div>
</div>

{% endset %}
{{ format(example) }}

<h2>Bar - Footer</h2>
    
{% set example %}
<div class="fd-bar fd-bar--footer">
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

<br><br>

<div class="fd-bar fd-bar--cosy fd-bar--footer">
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

{% endset %}
{{ format(example) }}

<h2>Bar - Floating Footer</h2>
    
{% set example %}
<div class="fd-bar fd-bar--floating-footer">
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

<br>

<div class="fd-bar fd-bar--cosy fd-bar--floating-footer">
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

{% endset %}
{{ format(example) }}


<h2>Bar - Page </h2>
    
{% set example %}
<div class="fd-bar fd-bar--page fd-bar--header">
        <div class="fd-bar__left">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__middle">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

<br>

<div class="fd-bar fd-bar--page fd-bar--footer">
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

<br>

<div class="fd-bar fd-bar--page-s fd-bar--header">
        <div class="fd-bar__left">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__middle">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

<br>

<div class="fd-bar fd-bar--page-s fd-bar--footer">
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

<br>

<div class="fd-bar fd-bar--page-m_l fd-bar--header">
        <div class="fd-bar__left">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__middle">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

<br>

<div class="fd-bar fd-bar--page-m_l fd-bar--footer">
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

<br>

<div class="fd-bar fd-bar--page-xl fd-bar--header">
        <div class="fd-bar__left">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__middle">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>

<br>

<div class="fd-bar fd-bar--page-xl fd-bar--footer">
        <div class="fd-bar__right">
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
                <div class="fd-bar__element">
                        <button class="el-playground"></button>
                </div>
        </div>
</div>
{% endset %}
{{ format(example) }}

{% endblock %}
