{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import button_split %}
{% import "./../utils.njk" as utils %}

{% block content %}

  {% set example %}
  
{% call button_split() -%}{%- endcall %}

{% endset %}
{{ format(example) }}

{% endblock %}
