{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import button_split %}
{% import "./../utils.njk" as utils %}

{% block content %}

<h2>default</h2>
{% set example %}
  
{% call button_split() -%}
  <span class="split-btn-playground"><span>placeholder</span></span>
  <span class="split-btn-playground"><span>x</span></span>
{%- endcall %}

{% endset %}
{{ format(example) }}

<h2>emphasized</h2>
{% set example %}
  
{% call button_split() -%}
  <span class="split-btn-playground--emphasized"><span>placeholder</span></span>
  <span class="split-btn-playground--emphasized"><span>x</span></span>
{%- endcall %}

{% endset %}
{{ format(example) }}

{% endblock %}
