{% extends "layout.njk" %}
{% from "./component.njk" import  formItem %}
{% from "./../format.njk" import format %}

{% block content %}

<h2>default</h2>
{% set example %}
  
{% call formItem() -%}
  <label>Placeholder label</label>
  <input class="input-playground" placeholder="Placeholder input" />
{%- endcall %}

{% endset %}
{{ format(example) }}
<br><br>

{% endblock %}
