{% extends "layout.njk" %}
{% from "./component.njk" import  formItem %}
{% from "./../format.njk" import format %}

{% block content %}

<h2>default</h2>
{% set example %}
  
{% call formItem() -%}
  <label>Placeholder label</label>
  <input class="input-playground" placeholder="Placeholder input" />
{%- endcall %}

{% endset %}
{{ format(example) }}
<br><br>
{% set example %}
  {% call formItem() -%}
    <label>Placeholder label</label>
    <input class="input-playground" placeholder="Placeholder input" />
    <span class="fd-form-message span-playground">Placeholder form message</span>
  {%- endcall %}
{% endset %}
{{ format(example) }}

{% endblock %}
