@import "../mixins";
@import "../../new-settings";

$block-button: #{$fd-namespace}-button;
$block-button-toggled: #{$block-button}--toggled;

@mixin fd-button-focus($fd-button-outline-offset: -0.1875rem) {
  outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
  outline-offset: $fd-button-outline-offset;

  @content;

  &.#{$block-button-toggled},
  &.is-selected {
    outline-color: var(--fdButton_Outline_Contrast);
  }
}

// Button pad to create a background under the round segmented buttons in Horizon themes
@mixin fd-button-pad($background: var(--sapButton_Background)) {
  position: relative;

  &::before {
    content: "";
    display: var(--fdButton_Segmented_Pad_Display);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: $background;
    border-radius: var(--sapButton_BorderCornerRadius);
  }
}

@mixin fd-button-active-selected {
  &:active,
  &.is-active,
  // @deprecated
  &[aria-selected="true"],
  &.is-selected {
    @content;
  }
}
