@import "../mixins";
@import "../../new-settings";

$block-button: #{$fd-namespace}-button;
$block-button-toggled: #{$block-button}--toggled;

@mixin fd-button-focus($fd-button-fake-outline-offset: 0.0625rem) {
  outline: none;

  &::after {
    content: '';
    position: absolute;
    display: block;
    border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    top: $fd-button-fake-outline-offset;
    left: $fd-button-fake-outline-offset;
    right: $fd-button-fake-outline-offset;
    bottom: $fd-button-fake-outline-offset;
    border-radius: var(--fdButton_Focus_Border_Radius);
  }

  &.#{$block-button-toggled},
  &.is-selected {
    &::after {
      border-color: var(--fdButton_Outline_Contrast);
    }
  }
}

// Button pad to create a background under the round segmented buttons in Horizon themes
@mixin fd-button-pad($background: var(--sapButton_Background), $includeShadow: true) {
  position: relative;

  &::before {
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: $background;
    border-radius: var(--sapButton_BorderCornerRadius);

    @if $includeShadow {
      box-shadow: inset 0 0 0 var(--sapButton_BorderWidth) var(--fdButtonPrioritizedBorderColor, var(--sapButton_BorderColor));
    }
  }
}

@mixin fd-button-active-selected {
  &:active,
  &.is-active,
  // @deprecated
  &[aria-selected="true"],
  &.is-selected {
    @content;
  }
}
