
{% import "../forms.njk" as forms %}
{% from "../icon/component.njk" import icon %}

{% macro pagination(properties={}) %}

{%- set currentPage = properties.currentPage -%}
{%- set totalItems = properties.totalItems -%}
{%- set itemsPerPage = properties.itemsPerPage -%}
{%- set pages = totalItems/itemsPerPage -%}

<div class="fd-pagination">
  <span class="fd-pagination__total">{{totalItems}} items</span>
  <nav class="fd-pagination__nav">
{%- if currentPage !== 1%}
    <a href="#" class="fd-pagination__link fd-pagination__link--previous" aria-label="Previous" aria-disabled="{{currentPage === 1}}"></a>
{%- endif %}
{%- if pages < 4 %}
    {%- for item in range(1, pages + 1) %}{{pageLink(item, item === currentPage)}}{%- endfor %}
{%- elseif (currentPage === pages) or (currentPage === pages + 1) or (currentPage > 4) %}
    {{ pageLink(1) }}
    {%- for item in range(pages, pages+1) %}
        <span class="fd-pagination__link fd-pagination__link--more" role="presentation"></span>
        {%- if (item === currentPage) %}{{pageLink(item - 1)}}
        {%- elseif (currentPage !== (pages)) or (item !== (pages))%}
            {{pageLink(currentPage - 1)}}{{pageLink(currentPage, true)}}{{pageLink(currentPage + 1)}}
            <span class="fd-pagination__link fd-pagination__link--more" role="presentation"></span>
        {%- endif %} 
        {{ pageLink(item, item === currentPage  or item === pages + 1) }}
    {%- endfor %}
{%- else %}
    {%- for item in range(1, 4) %}{{pageLink(item, item === currentPage)}}{%- endfor %}
    {%- for item in range(pages, pages+1) %}
        <span class="fd-pagination__link fd-pagination__link--more" role="presentation"></span>
        {%- if (item === currentPage) %} {{pageLink(item -1)}} {%- endif %}
        {{ pageLink(item, item === currentPage  or item === pages + 1)}}
    {%- endfor %}
{%- endif %}
{%- if currentPage !== pages %}
    <a href="#" class="fd-pagination__link fd-pagination__link--next" aria-label="Next" aria-disabled="{{currentPage === pages | round(0)}}"></a>
{%- endif %}
  </nav>
</div>
{% endmacro %}

{% macro pageLink(page=0, selected=false) %}
<a href="#" class="fd-pagination__link {{'is-selected' if selected}}">{{page}}</a>{% endmacro %}
