{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import pagination %}

{% block content %}

<!-- output the component example and the code snippet -->
{% set example %}
{{  pagination(
        properties={
            totalItems: 30,
            itemsPerPage: 10,
            currentPage: 1
        }
    )
}}
{% endset %}
{{- format(example) -}}
<br /><br />
{% set example2 %}
{{  pagination(
        properties={
            totalItems: 30,
            itemsPerPage: 10,
            currentPage: 2
        }
    )
}}
{% endset %}
{{- format(example2) -}}
<br /><br />
{% set example20 %}
{{  pagination(
        properties={
            totalItems: 30,
            itemsPerPage: 10,
            currentPage: 3
        }
    )
}}
{% endset %}
{{- format(example20) -}}
<br /><br />
{% set example3 %}
{{  pagination(
        properties={
            totalItems: 500,
            itemsPerPage: 10,
            currentPage: 2
        }
    )
}}
{% endset %}
{{- format(example3) -}}
<br /><br />
{% set example4 %}
{{  pagination(
        properties={
            totalItems: 500,
            itemsPerPage: 10,
            currentPage: 22
        }
    )
}}
{% endset %}
{{- format(example4) -}}
<br /><br />
{% set example5 %}
{{  pagination(
        properties={
            totalItems: 500,
            itemsPerPage: 10,
            currentPage: 50
        }
    )
}}
{% endset %}
{{- format(example5) -}}

{% endblock %}
