@mixin sap-reset {
  font-family: "72", "72full", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: $fn-color-grey-10;
  font-weight: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;

  &::before,
  &::after {
    box-sizing: inherit;
    font-size: inherit;
  }
}

@mixin sap-rtl {
  @at-root {
    [dir="rtl"] &,
    &[dir="rtl"] {
      @content;
    }
  }
}

@mixin sap-transition($property: all, $duration: 150ms, $animation: ease-in) {
  $fn-transition: $property $duration $animation;

  -webkit-transition: $fn-transition;
  -moz-transition: $fn-transition;
  -ms-transition: $fn-transition;
  -o-transition: $fn-transition;
  transition: $fn-transition;
}

// States
@mixin sap-hover {
  &:hover,
  &.is-hover {
    @content;
  }
}

@mixin sap-empty {
  &:empty,
  &.is-empty {
    @content;
  }
}

@mixin sap-pressed {
  &[aria-pressed="true"],
  &.is-pressed {
    @content;
  }
}

@mixin sap-readonly {
  &[aria-readonly="true"],
  &[readonly],
  &.is-readonly {
    @content;
  }
}

@mixin sap-selected {
  &[aria-selected="true"],
  &.is-selected {
    @content;
  }
}

@mixin sap-expanded {
  &[aria-expanded="true"] {
    @content;
  }
}

@mixin sap-active {
  &:active,
  &.is-active {
    @content;
  }
}

@mixin sap-focus-active {
  &:focus:active,
  &.is-focus.is-active {
    @content;
  }
}

@mixin sap-disabled {
  &[aria-disabled="true"],
  &:disabled,
  &.is-disabled {
    @content;
  }
}

@mixin sap-focus() {
  &:focus,
  &.is-focus {
    @content;
  }
}

@mixin sap-is-focus() {
  &.is-focus {
    @content;
  }
}

@mixin sap-not-focus-visible() {
  &:focus:not(.focus-visible) {
    @content;
  }
}

@mixin sap-focus-visible() {
  &.focus-visible,
  &.is-focus {
    @content;
  }
}

@mixin sap-focus-within() {
  &:focus-within,
  &.is-focus-within {
    @content;
  }
}

@mixin sap-display() {
  &.is-display {
    @content;
  }
}

// Flex Helpers
@mixin sap-flex($direction: row) {
  display: flex;
  flex-direction: $direction;
  @content;
}

@mixin sap-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin sap-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}

@mixin sap-flex-vertical-center {
  display: flex;
  align-items: center;
  @content;
}

// Set Paddings
@mixin sap-set-padding-left($left: 0) {
  padding-left: $left;

  @include sap-rtl() {
    padding-right: $left;
    padding-left: 0;
  }
}

@mixin sap-set-padding-right($right: 0) {
  padding-right: $right;

  @include sap-rtl() {
    padding-right: 0;
    padding-left: $right;
  }
}

@mixin sap-set-paddings-x($left: 0, $right: 0) {
  padding-left: $left;
  padding-right: $right;

  @include sap-rtl() {
    padding-right: $left;
    padding-left: $right;
  }
}

@mixin sap-set-paddings-x-equal($value: 0) {
  padding-left: $value;
  padding-right: $value;
}

@mixin sap-set-paddings-y($top: 0, $bottom: 0) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin sap-set-paddings-y-equal($value: 0) {
  padding-top: $value;
  padding-bottom: $value;
}

// Set position absolute
@mixin sap-set-position-right($right) {
  right: $right;

  @include sap-rtl() {
    right: auto;
    left: $right;
  }
}

@mixin sap-set-position-left($left) {
  left: $left;

  @include sap-rtl() {
    left: auto;
    right: $left;
  }
}

@mixin sap-user-select() {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin sap-set-top-right-bottom-left($top:0, $right:0, $bottom:0, $left:0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;

  @include sap-rtl() {
    left: $right;
    right: $left;
  }
}

@mixin sap-set-square($size) {
  width: $size;
  height: $size;
}

@mixin sap-set-square-min-width($size) {
  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
}

@mixin sap-set-rectangle($width, $height) {
  width: $width;
  height: $height;
}

// display mixins
$sap-display-types: inline block contents flex grid inline-block inline-flex inline-grid inline-table list-item run-in table table-caption table-column-group table-header-group table-footer-group table-row-group table-cell table-column table-row none initial inherit !default;

@mixin sap-display($type: inline) {
  display: $type !important;

  @content;
}

// border-radius
$sap-corner-border-radius: (
  "element": var(--sapElement_BorderCornerRadius),
  "button": var(--sapButton_BorderCornerRadius),
  "field": var(--sapField_BorderCornerRadius),
  "group": var(--sapGroup_BorderCornerRadius),
  "popover": var(--sapPopover_BorderCornerRadius),
  "tile": var(--sapTile_BorderCornerRadius)
);

@mixin sap-set-border-radius($value...) {
  $_value: $value;

  @if (map-has-key($sap-corner-border-radius, #{$value})) {
    $_value: map-get($sap-corner-border-radius, #{$value});
  }

  border-radius: $_value;

  @content;
}

// content paddings

$sap-content-paddings-home: (
  "sm": 0.5rem,
  "md": 2rem,
  "lg": 2rem,
  "xl": 3rem,
);

$sap-content-paddings-container: (
  "sm": 1rem,
  "md": 2rem,
  "lg": 2rem,
  "xl": 3rem,
);

$sap-content-paddings-nav: (
  "sm": 1rem,
  "md": 2rem,
  "lg": 2rem,
  "xl": 3rem,
);

@mixin sap-set-content-paddings($type, $value) {
  @if ($type == 'home') {
    padding-left: map-get($sap-content-paddings-home, $value) !important;
    padding-right: map-get($sap-content-paddings-home, $value) !important;
  } @else if ($type == 'container') {
    padding-left: map-get($sap-content-paddings-container, $value) !important;
    padding-right: map-get($sap-content-paddings-container, $value) !important;
  } @else {
    padding-left: map-get($sap-content-paddings-nav, $value) !important;
    padding-right: map-get($sap-content-paddings-nav, $value) !important;
  }
}

@mixin sap-set-dynamic-content-paddings($type) {
  @include sap-media-sm() {
    @include sap-set-content-paddings($type, 'sm');
  }

  @include sap-media-md() {
    @include sap-set-content-paddings($type, 'md');
  }

  @include sap-media-lg() {
    @include sap-set-content-paddings($type, 'lg');
  }

  @include sap-media-xl() {
    @include sap-set-content-paddings($type, 'xl');
  }
}

@mixin sap-content-paddings($type: home, $size: default) {
  @if ($size == default) {
    @include sap-set-dynamic-content-paddings($type);
  } @else {
    @include sap-set-content-paddings($type, $size);
  }
}

// flex
$sap-flex-spacings: (
  "tiny": 0.5rem,
  "small": 1rem,
  "medium": 2rem,
  "large": 3rem
);

// ----------- FLEX DIRECTION -----------
@mixin sap-flex($direction: row) {
  display: flex;
  flex-direction: $direction;

  @content;
}

// ----------- FLEX ALIGN CONTENT -----------
@mixin sap-flex-align-content($type: normal, $direction: row) {
  @include sap-flex($direction) {
    flex-wrap: wrap;
    align-content: $type;
  }

  @content;
}

// ----------- FLEX ALIGN ITEMS -----------
@mixin sap-flex-align-items($type: stretch, $direction: row) {
  @include sap-flex($direction) {
    align-items: $type;
  }

  @content;
}

// ----------- FLEX GAP -----------
@mixin sap-flex-gap($value, $type: "", $direction: row) {
  @include sap-flex($direction);

  $_value: "";

  @if $value == "tiny" {
    $_value: map_get($sap-flex-spacings, "tiny");
  } @else if $value == "small" {
    $_value: map_get($sap-flex-spacings, "small");
  } @else if $value == "medium" {
    $_value: map_get($sap-flex-spacings, "medium");
  } @else if $value == large {
    $_value: map_get($sap-flex-spacings, "large");
  } @else {
    $_value: $value;
  }

  @if $type == "" {
    gap: $_value;
  } @else {
    #{$type}-gap: $_value;
  }

  @content;
}

// ----------- FLEX JUSTIFY CONTENT -----------
@mixin sap-flex-justify($type: flex-start, $direction: row) {
  @include sap-flex($direction) {
    justify-content: $type;
  }

  @content;
}

// ----------- FLEX WRAP -----------
@mixin sap-flex-wrap($type: nowrap, $direction: row) {
  @include sap-flex($direction) {
    flex-wrap: $type;
  }

  @content;
}

// ----------- FLEX CENTER -----------
@mixin sap-flex-center($direction: row) {
  @include sap-flex() {
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
  }

  @content;
}

// ----------- FLEX ORDER -----------
@mixin sap-flex-order($value: 0) {
  order: $value;

  @content;
}

// ----------- FLEX GROW -----------
@mixin sap-flex-grow($value) {
  flex-grow: $value;

  @content;
}

// ----------- FLEX SHRINK -----------
@mixin sap-flex-shrink($value) {
  flex-shrink: $value;

  @content;
}

// ----------- FLEX ALIGN SELF -----------
@mixin sap-flex-align-self($value) {
  align-self: $value;

  @content;
}

// ----------- FLEX CHILD -----------
@mixin sap-flex-child($value) {
  flex: $value;

  @content;
}

// MARGINS

$sap-margins: (
  "tiny": 0.5rem,
  "small": 1rem,
  "medium": 2rem,
  "large": 3rem
);

$sap-container-sides: (
  "top": top,
  "bottom": bottom,
  "begin": left,
  "end": right,
  "x": horizontal,
  "y": vertical
);

@mixin sap-set-margin-all($value: 0) {
  margin: $value;
}

@mixin sap-set-margin-top($value: 0) {
  margin-top: $value;
}

@mixin sap-set-margin-bottom($value: 0) {
  margin-bottom: $value;
}

@mixin sap-set-margin-begin($value: 0) {
  margin-left: $value;

  @include sap-rtl() {
    margin-left: 0;
    margin-right: $value;
  }
}

@mixin sap-set-margin-end($value: 0) {
  margin-right: $value;

  @include sap-rtl() {
    margin-right: 0;
    margin-left: $value;
  }
}

@mixin sap-set-margin-x-equal($value: 0) {
  margin-right: $value;
  margin-left: $value;
}

@mixin sap-set-margin-y-equal($value: 0) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin sap-set-margin-x($valueLeft: 0, $valueRight: 0) {
  margin-left: $valueLeft;
  margin-right: $valueRight;

  @include sap-rtl() {
    margin-left: $valueRight;
    margin-right: $valueLeft;
  }
}

@mixin sap-set-margin-y($valueTop: 0, $valueBottom: 0) {
  margin-top: $valueTop;
  margin-bottom: $valueBottom;
}

@mixin sap-margin($value, $side: '') {
  $_value: $value !important;

  @if (map-has-key($sap-margins, #{$value})) {
    $_value: map-get($sap-margins, #{$value}) !important;
  }

  @if ($side != '') {
    @if ($side == top) {
      @include sap-set-margin-top($_value);
    } @else if($side == bottom) {
      @include sap-set-margin-bottom($_value);
    } @else if($side == begin) {
      @include sap-set-margin-begin($_value);
    } @else if($side == end) {
      @include sap-set-margin-end($_value);
    } @else if($side == x) {
      @include sap-set-margin-x-equal($_value);
    } @else if($side == y) {
      @include sap-set-margin-y-equal($_value);
    }
  } @else {
    @include sap-set-margin-all($_value);
  }
}

@mixin sap-margin-responsive() {
  @include sap-media-sm() {
    margin: 0 0 1rem 0 !important;
  }

  @include sap-media-md() {
    margin: 1rem !important;
  }

  @include sap-media-lg() {
    margin: 1rem 2rem !important;
  }

  @include sap-media-xl() {
    margin: 1rem 3rem !important;
  }
}

// MEDIA QUERIES
$small: 600px;
$medium: 1024px;
$large: 1440px;
$offset: 1px;

@mixin sap-media-sm() {
  @media (max-width: #{$small - $offset}) {
    @content;
  }
}

@mixin sap-media-md() {
  @media (min-width: #{$small}) and (max-width: #{$medium - $offset}) {
    @content;
  }
}

@mixin sap-media-lg() {
  @media (min-width: #{$medium}) and (max-width: #{$large - $offset}) {
    @content;
  }
}

@mixin sap-media-xl() {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin sap-media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin sap-media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin sap-media-range-width($minWidth, $maxWidth) {
  @media (min-width: $minWidth) and (max-width: $maxWidth) {
    @content;
  }
}

@mixin sap-media-print() {
  @media print {
    @content;
  }
}

@mixin sap-media-orientation($orientation) {
  @media (orientation: $orientation) {
    @content;
  }
}

// PADDINGS
$sap-paddings: (
  "tiny": 0.5rem,
  "small": 1rem,
  "medium": 2rem,
  "large": 3rem
);

$sap-container-sides: (
  "top": top,
  "bottom": bottom,
  "begin": left,
  "end": right,
  "x": horizontal,
  "y": vertical
);

@mixin sap-set-padding-all($value: 0) {
  padding: $value;
}

@mixin sap-set-padding-top($value: 0) {
  padding-top: $value;
}

@mixin sap-set-padding-bottom($value: 0) {
  padding-bottom: $value;
}

@mixin sap-set-padding-begin($value: 0) {
  padding-left: $value;

  @include sap-rtl() {
    padding-left: 0;
    padding-right: $value;
  }
}

@mixin sap-set-padding-end($value: 0) {
  padding-right: $value;

  @include sap-rtl() {
    padding-right: 0;
    padding-left: $value;
  }
}

@mixin sap-set-padding-x-equal($value: 0) {
  padding-right: $value;
  padding-left: $value;
}

@mixin sap-set-padding-y-equal($value: 0) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin sap-set-padding-x($valueLeft: 0, $valueRight: 0) {
  padding-left: $valueLeft;
  padding-right: $valueRight;

  @include sap-rtl() {
    padding-left: $valueRight;
    padding-right: $valueLeft;
  }
}

@mixin sap-set-padding-y($valueTop: 0, $valueBottom: 0) {
  padding-top: $valueTop;
  padding-bottom: $valueBottom;
}

@mixin sap-padding($value: 1rem, $side: '') {
  $_value: $value !important;

  @if (map-has-key($sap-paddings, #{$value})) {
    $_value: map-get($sap-paddings, #{$value}) !important;
  }

  @if ($side != '') {
    @if ($side == top) {
      @include sap-set-padding-top($_value);
    } @else if($side == bottom) {
      @include sap-set-padding-bottom($_value);
    } @else if($side == begin) {
      @include sap-set-padding-begin($_value);
    } @else if($side == end) {
      @include sap-set-padding-end($_value);
    } @else if($side == x) {
      @include sap-set-padding-x-equal($_value);
    } @else if($side == y) {
      @include sap-set-padding-y-equal($_value);
    }
  } @else {
    @include sap-set-padding-all($_value);
  }
}

@mixin sap-padding-responsive() {
  @include sap-media-sm() {
    @include sap-padding(small, x);
    @include sap-padding(0, y);
  }

  @include sap-media-md() {
    @include sap-padding(medium, x);
    @include sap-padding(0, y);
  }

  @include sap-media-lg() {
    @include sap-padding(medium, x);
    @include sap-padding(0, y);
  }

  @include sap-media-xl() {
    @include sap-padding(large, x);
    @include sap-padding(0, y);
  }
}

// SHADOWS
$sap-box-shadow-types: (
  "level-0": var(--sapContent_Shadow0),
  "level-1": var(--sapContent_Shadow1),
  "level-2": var(--sapContent_Shadow2),
  "level-3": var(--sapContent_Shadow3),
  "header": var(--sapContent_HeaderShadow),
  "shell": var(--sapShell_Shadow),
  "none": none,
);

$sap-text-shadow-types: (
  "text": var(--sapContent_TextShadow),
  "contrast-text": var(--sapContent_ContrastTextShadow),
  "group-title-text": var(--sapShell_GroupTitleTextShadow),
  "emphasized-text": var(--sapButton_Emphasized_TextShadow),
);

@mixin sap-set-box-shadow($value) {
  box-shadow: $value;
}

@mixin sap-set-text-shadow($value) {
  text-shadow: $value;
}

@mixin sap-shadow($type) {
  @if (map-has-key($sap-box-shadow-types , #{$type} )) {
    @include sap-set-box-shadow(map-get($sap-box-shadow-types, #{$type}));
  } @else if (map-has-key($sap-text-shadow-types , #{$type} )) {
    @include sap-set-text-shadow(map-get($sap-text-shadow-types, #{$type}));
  } @else {
    @warn "Unknown type of shadow";
  }
}

@mixin sap-sr-only() {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;

  @content;
}

// TYPOGRAPHY
$sap-font-types: (
  "regular": var(--sapFontFamily),
  "light": var(--sapFontLightFamily),
  "bold": var(--sapFontBoldFamily),
  "semibold": var(--sapFontSemiboldFamily),
  "semibold-duplex": var(--sapFontSemiboldDuplexFamily),
  "monospaced-regular": var(--sapContent_MonospaceFontFamily),
  "monospaced-bold": var(--sapContent_MonospaceBoldFontFamily),
  "black": var(--sapFontBlackFamily),
  "header": var(--sapFontHeaderFamily),
);

// FONT FAMILY
@mixin sap-font-family($type) {
  @if ($type == "regular") {
    font-family: map-get($sap-font-types, "regular");
  } @else if ($type == "light") {
    font-family: map-get($sap-font-types, "light");
  } @else if ($type == "bold") {
    font-family: map-get($sap-font-types, "bold");
  } @else if ($type == "semibold") {
    font-family: map-get($sap-font-types, "semibold");
  } @else if ($type == "semibold-duplex") {
    font-family: map-get($sap-font-types, "semibold-duplex");
  } @else if ($type == "monospaced-regular") {
    font-family: map-get($sap-font-types, "monospaced-regular");
  } @else if ($type == "monospaced-bold") {
    font-family: map-get($sap-font-types, "monospaced-bold");
  } @else if ($type == "black") {
    font-family: map-get($sap-font-types, "black");
  } @else if ($type == "header") {
    font-family: map-get($sap-font-types, "header");
  } @else {
    font-family: $type;
  }
}

// FONT SIZE
$sap-font-sizes: (
  "header-6": var(--sapFontHeader6Size),
  "header-5": var(--sapFontHeader5Size),
  "header-4": var(--sapFontHeader4Size),
  "header-3": var(--sapFontHeader3Size),
  "header-2": var(--sapFontHeader2Size),
  "header-1": var(--sapFontHeader1Size),
  "small": var(--sapFontSmallSize),
  "medium": var(--sapFontSize),
  "large": var(--sapFontLargeSize),
);

@mixin sap-font-size($size) {
  @if ($size == "header-6") {
    font-size: map-get($sap-font-sizes, "header-6");
  } @else if ($size == "header-5") {
    font-size: map-get($sap-font-sizes, "header-5");
  } @else if ($size == "header-4") {
    font-size: map-get($sap-font-sizes, "header-4");
  } @else if ($size == "header-3") {
    font-size: map-get($sap-font-sizes, "header-3");
  } @else if ($size == "header-2") {
    font-size: map-get($sap-font-sizes, "header-2");
  } @else if ($size == "header-1") {
    font-size: map-get($sap-font-sizes, "header-1");
  } @else if ($size == "small") {
    font-size: map-get($sap-font-sizes, "small");
  } @else if ($size == "medium") {
    font-size: map-get($sap-font-sizes, "medium");
  } @else if ($size == "large") {
    font-size: map-get($sap-font-sizes, "large");
  } @else {
    font-size: $size;
  }
}

// LINE HEIGHT
@mixin sap-font-line-height($value: normal) {
  line-height: $value;
}

// COMMON CASES
@mixin sap-font($type) {
  @if ($type == header-3) {
    font-family: var(--sapFontHeaderFamily);
    font-size: var(--sapFontHeader3Size);
    color: var(--sapGroup_TitleTextColor);
  } @else {
    font-family: var(--sapFontFamily);

    @if ($type == standard-text) {
      font-size: var(--sapFontSize);
      color: var(--sapTextColor);
    } @else if($type == small-detail-text) {
      font-size: var(--sapFontSmallSize);
      color: var(--sapContent_LabelColor);
    } @else if($type == standard-field-text) {
      font-size: var(--sapFontSize);
      color: var(--sapField_TextColor);
    } @else {
      font-size: var(--sapFontSize);
      color: var(--sapContent_LabelColor);
    }
  }
  @content;
}

// BORDER
@mixin sap-border($width, $style, $color, $pos: all) {
  $_border: $width $style $color;

  @if ($pos == "top") {
    border-top: $_border;
  } @else if ($pos == "bottom") {
    border-bottom: $_border;
  } @else if ($pos == "left") {
    border-left: $_border;

    @include sap-rtl() {
      border-left: none;
      border-right: $_border;
    }
  } @else if ($pos == "right") {
    border-right: $_border;

    @include sap-rtl() {
      border-left: $_border;
      border-right: none;
    }
  } @else if ($pos == "x") {
    border-left: $_border;
    border-right: $_border;
  } @else if ($pos == "y") {
    border-top: $_border;
    border-bottom: $_border;
  } @else if ($pos == "all") {
    border: $_border;
  } @else {
    border: $_border;
  }
}

// FOCUS
@mixin sap-fiori-focus($offset: -0.1875rem, $alternative: false) {
  &:focus,
  &.is-focus {
    outline-offset: $offset;
    outline-width: var(--sapContent_FocusWidth);
    outline-style: var(--sapContent_FocusStyle);

    @if $alternative == true {
      outline-color: var(--sapContent_ContrastFocusColor);
    } @else {
      outline-color: var(--sapContent_FocusColor);
    }

    @content;
  }
}

@mixin sap-fiori-focus-within($offset: -0.1875rem, $alternative: false) {
  &:focus-within,
  &.is-focus-within {
    outline-offset: $offset;
    outline-width: var(--sapContent_FocusWidth);
    outline-style: var(--sapContent_FocusStyle);

    @if $alternative == true {
      outline-color: var(--sapContent_ContrastFocusColor);
    } @else {
      outline-color: var(--sapContent_FocusColor);
    }

    @content;
  }
}

@mixin sap-fake-fiori-focus($offset: 0, $radius: 0, $alternative: false) {
  &:focus,
  &.is-focus {
    outline: none;
    position: relative;

    &::after {
      @if $alternative == true {
        border-color: var(--sapContent_ContrastFocusColor);
      } @else {
        border-color: var(--sapContent_FocusColor);
      }

      border-width: var(--sapContent_FocusWidth);
      border-style: var(--sapContent_FocusStyle);
      border-radius: $radius;
      content: '';
      position: absolute;
      pointer-events: none;
      top: $offset;
      bottom: $offset;
      left: $offset;
      right: $offset;
      @content;
    }
  }
}

@mixin sap-fake-fiori-focus-within($offset: 0, $radius: 0, $alternative: false) {
  &:focus-within,
  &.is-focus-within {
    outline: none;
    position: relative;

    &::after {
      @if $alternative == true {
        border-color: var(--sapContent_ContrastFocusColor);
      } @else {
        border-color: var(--sapContent_FocusColor);
      }

      border-width: var(--sapContent_FocusWidth);
      border-style: var(--sapContent_FocusStyle);
      border-radius: $radius;
      content: '';
      position: absolute;
      pointer-events: none;
      top: $offset;
      bottom: $offset;
      left: $offset;
      right: $offset;
      @content;
    }
  }
}

@mixin sap-elevation($index, $position: relative) {
  position: $position;
  z-index: $index;
}

// COLORS
$sap-colors: sapbrandcolor,
  saphighlightcolor,
  sapbasecolor,
  sapshellcolor,
  sapbackgroundcolor,
  saptextcolor,
  saplinkcolor,
  saplink_hover_color,
  saplink_active_color,
  saplink_visited_color,
  saplink_invertedcolor,
  saplink_subtlecolor,
  sapselectedcolor,
  sapactivecolor,
  saphighlighttextcolor,
  saptitlecolor,
  sapnegativecolor,
  sapcriticalcolor,
  sappositivecolor,
  sapinformativecolor,
  sapneutralcolor,
  sapnegativeelementcolor,
  sapcriticalelementcolor,
  sappositiveelementcolor,
  sapinformativeelementcolor,
  sapneutralelementcolor,
  sapnegativetextcolor,
  sappositivetextcolor,
  sapcriticaltextcolor,
  sapinformativetextcolor,
  sapneutraltextcolor,
  sapneutralbordercolor,
  saperrorcolor,
  saperrorbordercolor,
  sapwarningcolor,
  sapwarningbordercolor,
  sapsuccesscolor,
  sapsuccessbordercolor,
  sapinformationcolor,
  sapinformationbordercolor,
  saperrorbackground,
  sapwarningbackground,
  sapsuccessbackground,
  sapinformationbackground,
  sapneutralbackground,
  sapindicationcolor_1,
  sapindicationcolor_1_background,
  sapindicationcolor_1_bordercolor,
  sapindicationcolor_1_hover_background,
  sapindicationcolor_1_active_background,
  sapindicationcolor_1_textcolor,
  sapindicationcolor_2,
  sapindicationcolor_2_background,
  sapindicationcolor_2_bordercolor,
  sapindicationcolor_2_hover_background,
  sapindicationcolor_2_active_background,
  sapindicationcolor_2_textcolor,
  sapindicationcolor_3,
  sapindicationcolor_3_background,
  sapindicationcolor_3_bordercolor,
  sapindicationcolor_3_hover_background,
  sapindicationcolor_3_active_background,
  sapindicationcolor_3_textcolor,
  sapindicationcolor_4,
  sapindicationcolor_4_background,
  sapindicationcolor_4_bordercolor,
  sapindicationcolor_4_hover_background,
  sapindicationcolor_4_active_background,
  sapindicationcolor_4_textcolor,
  sapindicationcolor_5,
  sapindicationcolor_5_background,
  sapindicationcolor_5_bordercolor,
  sapindicationcolor_5_hover_background,
  sapindicationcolor_5_active_background,
  sapindicationcolor_5_textcolor,
  sapindicationcolor_6,
  sapindicationcolor_6_background,
  sapindicationcolor_6_bordercolor,
  sapindicationcolor_6_hover_background,
  sapindicationcolor_6_active_background,
  sapindicationcolor_6_textcolor,
  sapindicationcolor_7,
  sapindicationcolor_7_background,
  sapindicationcolor_7_bordercolor,
  sapindicationcolor_7_hover_background,
  sapindicationcolor_7_active_background,
  sapindicationcolor_7_textcolor,
  sapindicationcolor_8,
  sapindicationcolor_8_background,
  sapindicationcolor_8_bordercolor,
  sapindicationcolor_8_hover_background,
  sapindicationcolor_8_active_background,
  sapindicationcolor_8_textcolor,
  sapcontent_iconcolor,
  sapcontent_contrasticoncolor,
  sapcontent_noninteractiveiconcolor,
  sapcontent_markericoncolor,
  sapcontent_markertextcolor,
  sapcontent_measureindicatorcolor,
  sapcontent_selected_measureindicatorcolor,
  sapcontent_imageplaceholderbackground,
  sapcontent_imageplaceholderforegroundcolor,
  sapcontent_ratedcolor,
  sapcontent_unratedcolor,
  sapcontent_busycolor,
  sapcontent_focuscolor,
  sapcontent_contrastfocuscolor,
  sapcontent_shadowcolor,
  sapcontent_contrastshadowcolor,
  sapcontent_searchhighlightcolor,
  sapcontent_helpcolor,
  sapcontent_labelcolor,
  sapcontent_contrasttextcolor,
  sapcontent_foregroundcolor,
  sapcontent_foregroundbordercolor,
  sapcontent_foregroundtextcolor,
  sapcontent_badgebackground,
  sapcontent_badgetextcolor,
  sapcontent_placeholderloading_background,
  sapcontent_draganddropactivecolor,
  sapcontent_selected_background,
  sapcontent_selected_textcolor,
  sapcontent_selected_hover_background,
  sapcontent_selected_foregroundcolor,
  sapcontent_illustrative_color1,
  sapcontent_illustrative_color2,
  sapcontent_illustrative_color3,
  sapcontent_illustrative_color4,
  sapcontent_illustrative_color5,
  sapcontent_illustrative_color6,
  sapcontent_illustrative_color7,
  sapcontent_illustrative_color8,
  sapcontent_illustrative_color9,
  sapcontent_illustrative_color10,
  sapcontent_illustrative_color11,
  sapcontent_illustrative_color12,
  sapcontent_illustrative_color13,
  sapcontent_illustrative_color14,
  sapcontent_illustrative_color15,
  sapcontent_illustrative_color16,
  sapcontent_illustrative_color17,
  sapcontent_illustrative_color18,
  sapcontent_illustrative_color19,
  sapcontent_illustrative_color20,
  sapshell_background,
  sapshell_bordercolor,
  sapshell_textcolor,
  sapshell_interactivebackground,
  sapshell_interactivetextcolor,
  sapshell_interactivebordercolor,
  sapshell_grouptitletextcolor,
  sapshell_hover_background,
  sapshell_active_background,
  sapshell_active_textcolor,
  sapshell_selected_background,
  sapshell_selected_textcolor,
  sapshell_selected_hover_background,
  sapshell_navigation_background,
  sapshell_navigation_selectedcolor,
  sapshell_navigation_selected_textcolor,
  sapshell_navigation_textcolor,
  sapshell_navigation_hover_background,
  sapshell_navigation_active_background,
  sapshell_navigation_active_textcolor,
  sapshell_negativecolor,
  sapshell_criticalcolor,
  sapshell_positivecolor,
  sapshell_informativecolor,
  sapshell_neutralcolor,
  sapavatar_1_background,
  sapavatar_1_bordercolor,
  sapavatar_1_textcolor,
  sapavatar_2_background,
  sapavatar_2_bordercolor,
  sapavatar_2_textcolor,
  sapavatar_3_background,
  sapavatar_3_bordercolor,
  sapavatar_3_textcolor,
  sapavatar_4_background,
  sapavatar_4_bordercolor,
  sapavatar_4_textcolor,
  sapavatar_5_background,
  sapavatar_5_bordercolor,
  sapavatar_5_textcolor,
  sapavatar_6_background,
  sapavatar_6_bordercolor,
  sapavatar_6_textcolor,
  sapavatar_7_background,
  sapavatar_7_bordercolor,
  sapavatar_7_textcolor,
  sapavatar_8_background,
  sapavatar_8_bordercolor,
  sapavatar_8_textcolor,
  sapavatar_9_background,
  sapavatar_9_bordercolor,
  sapavatar_9_textcolor,
  sapavatar_10_background,
  sapavatar_10_bordercolor,
  sapavatar_10_textcolor,
  sapbutton_background,
  sapbutton_bordercolor,
  sapbutton_textcolor,
  sapbutton_hover_background,
  sapbutton_hover_bordercolor,
  sapbutton_hover_textcolor,
  sapbutton_iconcolor,
  sapbutton_active_background,
  sapbutton_active_bordercolor,
  sapbutton_active_textcolor,
  sapbutton_emphasized_background,
  sapbutton_emphasized_bordercolor,
  sapbutton_emphasized_textcolor,
  sapbutton_emphasized_hover_background,
  sapbutton_emphasized_hover_bordercolor,
  sapbutton_emphasized_hover_textcolor,
  sapbutton_emphasized_active_background,
  sapbutton_emphasized_active_bordercolor,
  sapbutton_emphasized_active_textcolor,
  sapbutton_reject_background,
  sapbutton_reject_bordercolor,
  sapbutton_reject_hover_background,
  sapbutton_reject_hover_bordercolor,
  sapbutton_reject_hover_textcolor,
  sapbutton_reject_active_background,
  sapbutton_reject_active_bordercolor,
  sapbutton_reject_active_textcolor,
  sapbutton_reject_textcolor,
  sapbutton_reject_selected_background,
  sapbutton_reject_selected_bordercolor,
  sapbutton_reject_selected_textcolor,
  sapbutton_reject_selected_hover_background,
  sapbutton_reject_selected_hover_bordercolor,
  sapbutton_accept_background,
  sapbutton_accept_bordercolor,
  sapbutton_accept_hover_background,
  sapbutton_accept_hover_bordercolor,
  sapbutton_accept_hover_textcolor,
  sapbutton_accept_active_background,
  sapbutton_accept_active_bordercolor,
  sapbutton_accept_active_textcolor,
  sapbutton_accept_textcolor,
  sapbutton_accept_selected_background,
  sapbutton_accept_selected_bordercolor,
  sapbutton_accept_selected_textcolor,
  sapbutton_accept_selected_hover_background,
  sapbutton_accept_selected_hover_bordercolor,
  sapbutton_lite_background,
  sapbutton_lite_bordercolor,
  sapbutton_lite_textcolor,
  sapbutton_lite_hover_background,
  sapbutton_lite_hover_bordercolor,
  sapbutton_lite_hover_textcolor,
  sapbutton_lite_active_background,
  sapbutton_lite_active_bordercolor,
  sapbutton_selected_background,
  sapbutton_selected_bordercolor,
  sapbutton_selected_textcolor,
  sapbutton_selected_hover_background,
  sapbutton_selected_hover_bordercolor,
  sapbutton_attention_background,
  sapbutton_attention_bordercolor,
  sapbutton_attention_textcolor,
  sapbutton_attention_hover_background,
  sapbutton_attention_hover_bordercolor,
  sapbutton_attention_hover_textcolor,
  sapbutton_attention_active_background,
  sapbutton_attention_active_bordercolor,
  sapbutton_attention_active_textcolor,
  sapbutton_attention_selected_background,
  sapbutton_attention_selected_bordercolor,
  sapbutton_attention_selected_textcolor,
  sapbutton_attention_selected_hover_background,
  sapbutton_attention_selected_hover_bordercolor,
  sapbutton_negative_background,
  sapbutton_negative_bordercolor,
  sapbutton_negative_textcolor,
  sapbutton_negative_hover_background,
  sapbutton_negative_hover_bordercolor,
  sapbutton_negative_hover_textcolor,
  sapbutton_negative_active_background,
  sapbutton_negative_active_bordercolor,
  sapbutton_negative_active_textcolor,
  sapbutton_critical_background,
  sapbutton_critical_bordercolor,
  sapbutton_critical_textcolor,
  sapbutton_critical_hover_background,
  sapbutton_critical_hover_bordercolor,
  sapbutton_critical_hover_textcolor,
  sapbutton_critical_active_background,
  sapbutton_critical_active_bordercolor,
  sapbutton_critical_active_textcolor,
  sapbutton_success_background,
  sapbutton_success_bordercolor,
  sapbutton_success_textcolor,
  sapbutton_success_hover_background,
  sapbutton_success_hover_bordercolor,
  sapbutton_success_hover_textcolor,
  sapbutton_success_active_background,
  sapbutton_success_active_bordercolor,
  sapbutton_success_active_textcolor,
  sapbutton_information_background,
  sapbutton_information_bordercolor,
  sapbutton_information_textcolor,
  sapbutton_information_hover_background,
  sapbutton_information_hover_bordercolor,
  sapbutton_information_hover_textcolor,
  sapbutton_information_active_background,
  sapbutton_information_active_bordercolor,
  sapbutton_information_active_textcolor,
  sapbutton_neutral_background,
  sapbutton_neutral_bordercolor,
  sapbutton_neutral_textcolor,
  sapbutton_neutral_hover_background,
  sapbutton_neutral_hover_bordercolor,
  sapbutton_neutral_hover_textcolor,
  sapbutton_neutral_active_background,
  sapbutton_neutral_active_bordercolor,
  sapbutton_neutral_active_textcolor,
  sapbutton_track_background,
  sapbutton_track_bordercolor,
  sapbutton_track_textcolor,
  sapbutton_track_hover_background,
  sapbutton_track_hover_bordercolor,
  sapbutton_track_selected_background,
  sapbutton_track_selected_bordercolor,
  sapbutton_track_selected_textcolor,
  sapbutton_track_selected_hover_background,
  sapbutton_track_selected_hover_bordercolor,
  sapbutton_handle_background,
  sapbutton_handle_bordercolor,
  sapbutton_handle_textcolor,
  sapbutton_handle_hover_background,
  sapbutton_handle_hover_bordercolor,
  sapbutton_handle_selected_background,
  sapbutton_handle_selected_bordercolor,
  sapbutton_handle_selected_textcolor,
  sapbutton_handle_selected_hover_background,
  sapbutton_handle_selected_hover_bordercolor,
  sapbutton_track_negative_background,
  sapbutton_track_negative_bordercolor,
  sapbutton_track_negative_textcolor,
  sapbutton_track_negative_hover_background,
  sapbutton_track_negative_hover_bordercolor,
  sapbutton_handle_negative_background,
  sapbutton_handle_negative_bordercolor,
  sapbutton_handle_negative_textcolor,
  sapbutton_handle_negative_hover_background,
  sapbutton_handle_negative_hover_bordercolor,
  sapbutton_track_positive_background,
  sapbutton_track_positive_bordercolor,
  sapbutton_track_positive_textcolor,
  sapbutton_track_positive_hover_background,
  sapbutton_track_positive_hover_bordercolor,
  sapbutton_handle_positive_background,
  sapbutton_handle_positive_bordercolor,
  sapbutton_handle_positive_textcolor,
  sapbutton_handle_positive_hover_background,
  sapbutton_handle_positive_hover_bordercolor,
  sapbutton_tokenbackground,
  sapbutton_tokenbordercolor,
  sapfield_background,
  sapfield_textcolor,
  sapfield_placeholdertextcolor,
  sapfield_bordercolor,
  sapfield_helpbackground,
  sapfield_hover_background,
  sapfield_hover_bordercolor,
  sapfield_hover_helpbackground,
  sapfield_active_bordercolor,
  sapfield_focus_background,
  sapfield_focus_bordercolor,
  sapfield_focus_helpbackground,
  sapfield_readonly_bordercolor,
  sapfield_readonly_helpbackground,
  sapfield_requiredcolor,
  sapfield_invalidcolor,
  sapfield_invalidbackground,
  sapfield_warningcolor,
  sapfield_warningbackground,
  sapfield_successcolor,
  sapfield_successbackground,
  sapfield_informationcolor,
  sapfield_informationbackground,
  sapgroup_titlebackground,
  sapgroup_titlebordercolor,
  sapgroup_titletextcolor,
  sapgroup_contentbackground,
  sapgroup_contentbordercolor,
  sapgroup_footerbackground,
  saptoolbar_background,
  saptoolbar_separatorcolor,
  saplist_headerbackground,
  saplist_headerbordercolor,
  saplist_headertextcolor,
  saplist_bordercolor,
  saplist_textcolor,
  saplist_active_textcolor,
  saplist_active_background,
  saplist_selectionbackgroundcolor,
  saplist_selectionbordercolor,
  saplist_hover_selectionbackground,
  saplist_background,
  saplist_hover_background,
  saplist_alternatingbackground,
  saplist_groupheaderbackground,
  saplist_groupheaderbordercolor,
  saplist_groupheadertextcolor,
  saplist_footerbackground,
  saplist_footertextcolor,
  saplist_tablegroupheaderbackground,
  saplist_tablegroupheaderbordercolor,
  saplist_tablegroupheadertextcolor,
  saplist_tablefooterborder,
  saplist_tablefixedbordercolor,
  sapmessage_errorbordercolor,
  sapmessage_warningbordercolor,
  sapmessage_successbordercolor,
  sapmessage_informationbordercolor,
  sapprogress_background,
  sapprogress_bordercolor,
  sapprogress_textcolor,
  sapprogress_negativebackground,
  sapprogress_negativebordercolor,
  sapprogress_negativetextcolor,
  sapprogress_criticalbackground,
  sapprogress_criticalbordercolor,
  sapprogress_criticaltextcolor,
  sapprogress_positivebackground,
  sapprogress_positivebordercolor,
  sapprogress_positivetextcolor,
  sapprogress_informationbackground,
  sapprogress_informationbordercolor,
  sapprogress_informationtextcolor,
  sapprogress_value_background,
  sapprogress_value_bordercolor,
  sapprogress_value_textcolor,
  sapprogress_value_negativebackground,
  sapprogress_value_negativebordercolor,
  sapprogress_value_negativetextcolor,
  sapprogress_value_criticalbackground,
  sapprogress_value_criticalbordercolor,
  sapprogress_value_criticaltextcolor,
  sapprogress_value_positivebackground,
  sapprogress_value_positivebordercolor,
  sapprogress_value_positivetextcolor,
  sapprogress_value_informationbackground,
  sapprogress_value_informationbordercolor,
  sapprogress_value_informationtextcolor,
  sapscrollbar_facecolor,
  sapscrollbar_trackcolor,
  sapscrollbar_bordercolor,
  sapscrollbar_symbolcolor,
  sapscrollbar_hover_facecolor,
  sapslider_background,
  sapslider_bordercolor,
  sapslider_selected_background,
  sapslider_selected_bordercolor,
  sapslider_handlebackground,
  sapslider_handlebordercolor,
  sapslider_rangehandlebackground,
  sapslider_hover_handlebackground,
  sapslider_hover_handlebordercolor,
  sapslider_hover_rangehandlebackground,
  sapslider_active_handlebackground,
  sapslider_active_handlebordercolor,
  sapslider_active_rangehandlebackground,
  sappageheader_background,
  sappageheader_bordercolor,
  sappageheader_textcolor,
  sappagefooter_background,
  sappagefooter_bordercolor,
  sappagefooter_textcolor,
  sapinfobar_background,
  sapinfobar_hover_background,
  sapinfobar_active_background,
  sapinfobar_noninteractive_background,
  sapinfobar_textcolor,
  sapobjectheader_background,
  sapobjectheader_bordercolor,
  sapobjectheader_hover_background,
  sapobjectheader_title_textcolor,
  sapobjectheader_subtitle_textcolor,
  sapblocklayer_background,
  saptile_background,
  saptile_hover_background,
  saptile_active_background,
  saptile_bordercolor,
  saptile_titletextcolor,
  saptile_textcolor,
  saptile_iconcolor,
  saptile_separatorcolor,
  saptile_interactive_bordercolor,
  saptile_overlaybackground,
  saptile_overlayforegroundcolor,
  sapaccentcolor1,
  sapaccentcolor2,
  sapaccentcolor3,
  sapaccentcolor4,
  sapaccentcolor5,
  sapaccentcolor6,
  sapaccentcolor7,
  sapaccentcolor8,
  sapaccentcolor9,
  sapaccentcolor10,
  sapaccentbackgroundcolor1,
  sapaccentbackgroundcolor2,
  sapaccentbackgroundcolor3,
  sapaccentbackgroundcolor4,
  sapaccentbackgroundcolor5,
  sapaccentbackgroundcolor6,
  sapaccentbackgroundcolor7,
  sapaccentbackgroundcolor8,
  sapaccentbackgroundcolor9,
  sapaccentbackgroundcolor10,
  saplegend_workingbackground,
  saplegend_nonworkingbackground,
  saplegend_currentdatetime,
  saplegendcolor1,
  saplegendcolor2,
  saplegendcolor3,
  saplegendcolor4,
  saplegendcolor5,
  saplegendcolor6,
  saplegendcolor7,
  saplegendcolor8,
  saplegendcolor9,
  saplegendcolor10,
  saplegendcolor11,
  saplegendcolor12,
  saplegendcolor13,
  saplegendcolor14,
  saplegendcolor15,
  saplegendcolor16,
  saplegendcolor17,
  saplegendcolor18,
  saplegendcolor19,
  saplegendcolor20,
  saplegendbackgroundcolor1,
  saplegendbackgroundcolor2,
  saplegendbackgroundcolor3,
  saplegendbackgroundcolor4,
  saplegendbackgroundcolor5,
  saplegendbackgroundcolor6,
  saplegendbackgroundcolor7,
  saplegendbackgroundcolor8,
  saplegendbackgroundcolor9,
  saplegendbackgroundcolor10,
  saplegendbackgroundcolor11,
  saplegendbackgroundcolor12,
  saplegendbackgroundcolor13,
  saplegendbackgroundcolor14,
  saplegendbackgroundcolor15,
  saplegendbackgroundcolor16,
  saplegendbackgroundcolor17,
  saplegendbackgroundcolor18,
  saplegendbackgroundcolor19,
  saplegendbackgroundcolor20,
  sapchart_orderedcolor_1,
  sapchart_orderedcolor_2,
  sapchart_orderedcolor_3,
  sapchart_orderedcolor_4,
  sapchart_orderedcolor_5,
  sapchart_orderedcolor_6,
  sapchart_orderedcolor_7,
  sapchart_orderedcolor_8,
  sapchart_orderedcolor_9,
  sapchart_orderedcolor_10,
  sapchart_orderedcolor_11,
  sapchart_bad,
  sapchart_critical,
  sapchart_good,
  sapchart_neutral,
  sapchart_sequence_1,
  sapchart_sequence_2,
  sapchart_sequence_3,
  sapchart_sequence_4,
  sapchart_sequence_5,
  sapchart_sequence_6,
  sapchart_sequence_7,
  sapchart_sequence_8,
  sapchart_sequence_9,
  sapchart_sequence_10,
  sapchart_sequence_11,
  sapchart_sequence_neutral;

@mixin sap-color($color, $background: false) {
  @if $background == true {
    background-color: var(--#{$color});
  } @else {
    color: var(--#{$color});
  }
}
