@use "sass:map";
@use "common-settings" as commonsettings;
@use "common-mixins" as commonmixins;
@use "common-variables" as commonvars;

$block: #{commonsettings.$sap-namespace}-flex;

.#{$block} {
  // Properties for the Parent (flex container)
  display: flex;

  $optionsAlignContent: flex-start, flex-end, center, space-between, space-around, space-evenly, stretch, start, end, baseline;

  @each $type in $optionsAlignContent {
    &--align-content-#{$type} {
      @include commonmixins.sap-flex-align-content(#{$type});
    }
  }

  $optionsAlignItems: stretch, flex-start, flex-end, center, baseline, start, end, self-start, self-end;

  @each $type in $optionsAlignItems {
    &--align-items-#{$type} {
      @include commonmixins.sap-flex-align-items(#{$type});
    }
  }

  $optionsDirection: row, row-reverse, column, column-reverse;

  @each $type in $optionsDirection {
    &--#{$type} {
      @include commonmixins.sap-flex(#{$type});
    }
  }

  @each $type, $value in commonvars.$sap-flex-spacings {
    &--gap-#{$type} {
      gap: $value;
      display: flex;
    }
  }

  @each $type, $value in commonvars.$sap-flex-spacings {
    &--row-gap-#{$type} {
      display: flex;
      row-gap: $value;
    }
  }

  @each $type, $value in commonvars.$sap-flex-spacings {
    &--column-gap-#{$type} {
      display: flex;
      column-gap: $value;
    }
  }

  $optionsJustify: flex-start, flex-end, center, space-between, space-around, space-evenly, start, end, left, right;

  @each $type in $optionsJustify {
    &--justify-#{$type} {
      @include commonmixins.sap-flex-justify(#{$type});
    }
  }

  $optionsWrap: nowrap, wrap, wrap-reverse;

  @each $type in $optionsWrap {
    &--#{$type} {
      @include commonmixins.sap-flex-wrap(#{$type});
    }
  }

  &--center {
    @include commonmixins.sap-flex-center();

    &-column {
      @include commonmixins.sap-flex-center() {
        flex-direction: column;
      }
    }
  }

  // Properties for the Children (flex items)
  @for $i from 0 through 10 {
    &-order-#{$i} {
      @include commonmixins.sap-flex-order(#{$i});
    }
  }

  @for $i from 1 through 10 {
    &-grow-#{$i} {
      @include commonmixins.sap-flex-grow(#{$i});
    }
  }

  @for $i from 1 through 10 {
    &-shrink-#{$i} {
      @include commonmixins.sap-flex-shrink(#{$i});
    }
  }

  $optionsAlignSelf: auto, flex-start, flex-end, center, baseline, stretch;

  @each $type in $optionsAlignSelf {
    &-align-self-#{$type} {
      @include commonmixins.sap-flex-align-self(#{$type});
    }
  }
}
