@use "sass:map";

@import 'common-settings';
@import 'common-mixins';

$block: #{$sap-namespace}-tool-layout;

.#{$block} {
  --fdToolLayout_Gap: 0.5rem;
  --fdToolLayout_Padding: 0.5rem 0.5rem 0 0.5rem;
  --fdToolLayout_Content_Container_Border_Radius: 0.5rem 0.5rem 0 0;
  --fdToolLayout_Content_Container_Background: var(--sapBackgroundColor);
  --fdToolLayout_Content_Container_BoxShadow: var(--sapToolLayoutContent_Shadow1);

  @include sap-reset();

  @include sap-flex(column) {
    gap: var(--fdToolLayout_Gap);
  }

  width: 100%;
  height: 100%;
  padding: var(--fdToolLayout_Padding);
  background: var(--fdToolLayout_Background);

  &__container {
    @include sap-reset();

    @include sap-flex() {
      flex-wrap: wrap;
    }

    &:not(:first-child) {
      gap: var(--fdToolLayout_Gap);
    }
  }

  &__header-container {
    @include sap-reset();

    width: 100%;
  }

  &__navigation-container {
    @include sap-reset();

    &--horizontal {
      flex: 1;
      min-width: 100%;

      & + .#{$block}__content-container {
        min-width: 100%;
      }
    }
  }

  &__content-container {
    @include sap-reset();

    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: var(--fdToolLayout_Content_Container_BoxShadow);
    background: var(--fdToolLayout_Content_Container_Background);
    border-radius: var(--fdToolLayout_Content_Container_Border_Radius);

    &--transparent {
      --fdToolLayout_Content_Container_Background: transparent;
      --fdToolLayout_Content_Container_BoxShadow: none;
    }

    &--list {
      --fdToolLayout_Content_Container_Background: var(--sapGroup_ContentBackground);
    }
  }

  &--horizontal-navigation {
    --fdToolLayout_Gap: 0;

    .#{$block}__container:not(:first-child) {
      --fdToolLayout_Gap: 0.5rem;
    }

    &.#{$block}--phone {
      .#{$block}__container:not(:first-child) {
        --fdToolLayout_Gap: 0.25rem;
      }
    }
  }

  &--tablet {
    --fdToolLayout_Padding: 0.5rem;
    --fdToolLayout_Content_Container_Border_Radius: 0.5rem;
  }

  &--phone {
    --fdToolLayout_Gap: 0.25rem;
    --fdToolLayout_Padding: 0.25rem;
    --fdToolLayout_Content_Container_Border_Radius: 0.25rem;
  }

  &--sticky {
    @include sap-set-equal-positions(0);

    position: absolute;

    .#{$block} {
      &__container {
        position: relative;
      }

      &__container:not(:first-child) {
        flex: 1;
        overflow: hidden;
      }

      &__content-container,
      &__navigation-container {
        height: 100%;
        overflow: scroll;
      }
    }
  }
}
