{% import "./../utils.njk" as utils %}

{#
    see ./data.json for object structure
#}

{% macro multi_input(
    properties={},
    state={},
    aria={},
    classes=[]
    ,size="")
-%}
    <div class="fd-multi-input">
        <div class="fd-multi-input-field">
            <input class="input-playground" placeholder="placeholder input" />
        </div>
        <div class="fd-multi-input-tokens">
            <button class="btn-playground">placeholder</button>
            <button class="btn-playground">placeholder</button>
            <button class="btn-playground">placeholder</button>
        </div>
    </div>
{%- endmacro %}
