@import "./btp-colors/sap_horizon_dark";
@import "./common/switch/sap_horizon";
@import "./common/button/sap_horizon";
@import "./common/grid-list/sap_horizon";
@import "./common/icon-tab-bar/sap_horizon";
@import "./common/table/sap_horizon";
@import "./common/dynamic-page-layout/sap_horizon";
@import "./common/scrollbar/sap_horizon";
@import "./common/card/sap_horizon";
@import "./common/slider/sap_horizon";
@import "./common/splitter/sap_horizon";
@import "./common/input/sap_horizon";
@import "./common/input-group/sap_horizon";
@import "./common/wizard/sap_horizon";
@import "./common/panel/sap_horizon";
@import "./common/carousel/sap_horizon";
@import "./common/feed-list-item/sap_horizon";
@import "./common/message-box/sap_horizon";
@import "./common/busy-indicator/sap_horizon";
@import "./common/menu/sap_horizon";
@import "./common/checkbox/sap_horizon";
@import "./common/radio/sap_horizon";
@import "./common/link/sap_horizon";
@import "./common/vertical-nav/sap_horizon";
@import "./common/rating-indicator/sap_horizon";
@import "./common/select/sap_horizon";
@import "./common/tile/sap_horizon";
@import "./common/progress-indicator/sap_horizon";
@import "./common/form-message/sap_horizon";
@import "./common/info-label/sap_horizon";
@import "./common/file-uploader/sap_horizon";
@import "./common/variant-management/sap_horizon";

:root {
  /* Busy indicator */
  // Currently this variable has incorrect colour value. Use hardcoded until @sap-theming package is fixed.
  // After that, this block should be removed
  // --fdBusy_Indicator_Dot_Color: var(--sapContent_BusyColor);
  --fdBusy_Indicator_Dot_Color: #4db1ff;

  /* Switch */
  --fdSwitch_Semantic_Error_Handle_Border_Color: var(--sapButton_Track_Negative_Background);
  --fdSwitch_Semantic_Success_Handle_Border_Color: var(--sapButton_Track_Positive_Background);

  /* Object status */
  --fdInverted_Object_Border_Width: 0;

  /* Action sheet */
  --fdOverlay_Background_Opacity: 0.6;

  /* Avatar */
  --fdAvatar_BackgroundColor: var(--sapAccentColor6);
  --fdAvatar_Tile_BackgroundColor: var(--sapTile_IconColor);
  --fdAvatar_Transparent_BackgroundColor: transparent;
  --fdAvatar_Border: none;
  --fdAvatar_Text_Shadow: none;
  --fdAvatar_Focus_Outline_Offset: -0.3125rem;
  --fdAvatar_Focus_Outline_Radius: 0.9rem;
  --fdAvatar_Focus_Outline_Radius_Circle: 100%;
  --fdAvatar_Accent_Color: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_1: var(--sapAvatar_1_Background);
  --fdAvatar_Accent_Color_2: var(--sapAvatar_2_Background);
  --fdAvatar_Accent_Color_3: var(--sapAvatar_3_Background);
  --fdAvatar_Accent_Color_4: var(--sapAvatar_4_Background);
  --fdAvatar_Accent_Color_5: var(--sapAvatar_5_Background);
  --fdAvatar_Accent_Color_6: var(--sapAvatar_6_Background);
  --fdAvatar_Accent_Color_7: var(--sapAvatar_7_Background);
  --fdAvatar_Accent_Color_8: var(--sapAvatar_8_Background);
  --fdAvatar_Accent_Color_9: var(--sapAvatar_9_Background);
  --fdAvatar_Accent_Color_10: var(--sapAvatar_10_Background);
  --fdAvatar_Accent_Color_1_Text: var(--sapAvatar_1_TextColor);
  --fdAvatar_Accent_Color_2_Text: var(--sapAvatar_2_TextColor);
  --fdAvatar_Accent_Color_3_Text: var(--sapAvatar_3_TextColor);
  --fdAvatar_Accent_Color_4_Text: var(--sapAvatar_4_TextColor);
  --fdAvatar_Accent_Color_5_Text: var(--sapAvatar_5_TextColor);
  --fdAvatar_Accent_Color_6_Text: var(--sapAvatar_6_TextColor);
  --fdAvatar_Accent_Color_7_Text: var(--sapAvatar_7_TextColor);
  --fdAvatar_Accent_Color_8_Text: var(--sapAvatar_8_TextColor);
  --fdAvatar_Accent_Color_9_Text: var(--sapAvatar_9_TextColor);
  --fdAvatar_Accent_Color_10_Text: var(--sapAvatar_10_TextColor);
  --fdAvatar_Accent_Color_1_Border: 0.0625rem solid var(--sapAvatar_1_BorderColor);
  --fdAvatar_Accent_Color_2_Border: 0.0625rem solid var(--sapAvatar_2_BorderColor);
  --fdAvatar_Accent_Color_3_Border: 0.0625rem solid var(--sapAvatar_3_BorderColor);
  --fdAvatar_Accent_Color_4_Border: 0.0625rem solid var(--sapAvatar_4_BorderColor);
  --fdAvatar_Accent_Color_5_Border: 0.0625rem solid var(--sapAvatar_5_BorderColor);
  --fdAvatar_Accent_Color_6_Border: 0.0625rem solid var(--sapAvatar_6_BorderColor);
  --fdAvatar_Accent_Color_7_Border: 0.0625rem solid var(--sapAvatar_7_BorderColor);
  --fdAvatar_Accent_Color_8_Border: 0.0625rem solid var(--sapAvatar_8_BorderColor);
  --fdAvatar_Accent_Color_9_Border: 0.0625rem solid var(--sapAvatar_9_BorderColor);
  --fdAvatar_Accent_Color_10_Border: 0.0625rem solid var(--sapAvatar_10_BorderColor);

  /* Avatar Group */
  --fdAvatarGroup_MoreButton_Border: var(--sapButton_BorderWidth);
  --fdAvatarGroup_MoreButton_Vertical_Offset: -0.25rem;
  --fdAvatarGroup_Focus_Outline_Radius: 0.5rem;
  --fdAvatarGroup_Focus_Outline_Offset: -0.25rem;

  /* Radio */
  --fdRadio_Selected_Color: var(--sapContent_Selected_ForegroundColor);
  --fdRadio_Inner_Content_Size: 0.75rem;
  --fdRadio_Inner_Content_Size_Compact: 0.5rem;
  --fdRadio_Inner_Content_Padding: 1rem;
  --fdRadio_Inner_Content_Padding_Compact: 0.75rem;
  --fdRadio_Hover_Box_Shadow: var(--sapContent_Interaction_Shadow);
  --fdRadio_Readonly_Border_Type: dashed;
  --fdRadio_Readonly_Border_Width: var(--sapElement_BorderWidth);
  --fdRadio_Error_Hover_Shadow: var(--sapContent_Negative_Shadow);
  --fdRadio_Warning_Hover_Shadow: var(--sapContent_Critical_Shadow);
  --fdRadio_Success_Hover_Shadow: var(--sapContent_Positive_Shadow);
  --fdRadio_Information_Hover_Shadow: var(--sapContent_Informative_Shadow);
  --fdRadio_Warning_Error_Information_Border_Style: solid;
  --fdRadio_Hover_Background: var(--sapField_Hover_Background);

  /* Checkbox */
  --fdCheckbox_Hover_Background: var(--sapField_Hover_Background);
  --fdCheckbox_Hover_Shadow: var(--sapContent_Interaction_Shadow);
  --fdCheckbox_Selected_Color: var(--sapContent_Selected_ForegroundColor);
  --fdCheckbox_Error_State_Shadow: var(--sapContent_Negative_Shadow);
  --fdCheckbox_Warning_State_Shadow: var(--sapContent_Critical_Shadow);
  --fdCheckbox_Success_State_Shadow: var(--sapContent_Positive_Shadow);
  --fdCheckbox_Information_State_Shadow: var(--sapContent_Informative_Shadow);
  --fdCheckbox_State_Hover_Background: var(--sapField_Hover_Background);
  --fdCheckbox_Readonly_Border_Width: var(--sapElement_BorderWidth);
  --fdCheckbox_Readonly_Border_Type: dashed;
  --fdCheckbox_Warning_Error_Information_Border_Style: solid;

  /* Dynamic Page Layout */
  --fdDynamicPage_Hover_Border_Bottom: none;
  --fdDynamicPage_Title_Header_Transparent_Background: transparent;
  --fdDynamicPage_Button_Left_Gradient: linear-gradient(to left, var(--sapObjectHeader_BorderColor), transparent);
  --fdDynamicPage_Button_Right_Gradient: linear-gradient(to right, var(--sapObjectHeader_BorderColor), transparent);
  --fdDynamicPage_Button_Group_Background: var(--sapObjectHeader_BorderColor);
  --fdDynamicPage_Content_List_Background: var(--sapGroup_ContentBackground);
  --fdDynamicPage_Content_Transparent_Background: transparent;

  /* Token */
  --fdToken_Text_Shadow: none;
  --fdToken_Border_Radius: var(--sapButton_BorderCornerRadius);
  --fdToken_Text_Color: var(--sapButtonTextColor);
  --fdToken_Padding_Left: 0.25rem;
  --fdToken_Background_Color_Hover: var(--sapButton_TokenBackground);
  --fdToken_Border_Color_Hover: var(--sapButton_TokenBorderColor);
  --fdToken_Box_Shadow_Hover: var(--sapContent_Interaction_Shadow);
  --fdToken_Box_Shadow_Selected_Hover: var(--sapContent_Interaction_Shadow);
  --fdToken_Outline_Offset: 0.0625rem;
  --fdToken_Outline_Offset_Compact: 0;
  --fdToken_Background_Color_Read_Only: var(--sapButton_TokenBackground);
  --fdToken_Border_Color_Read_Only: var(--sapButton_TokenBorderColor);
  --fdToken_Border_Color_Selected_Focus: var(var(--sapContent_FocusColor));

  /* TODO: DEPRECATED Side-Nav */
  --fdSideNav_Text_Shadow: none;

  /* Vertical-Nav */
  --fdVerticalNav_Text_Shadow: none;

  /* Time */
  --fdTime_Text_Shadow: none;

  /* Select */
  --fdSelect_Text_Shadow: none;
  --fdSelect_Button_Interractive_SideBorder: none;

  /* Popover */
  --fdPopover_Border_Radius: var(--sapPopover_BorderCornerRadius);
  --fdPopover_Border_Width: 0.0625rem;
  --fdPopover_Border_Color: #636669;

  /* Product Switch */
  --fdProductSwitch_Text_Shadow: none;
  --fdProductSwitch_Shadow: none;
  --fdProductSwitch_Border: none;

  /* Menu */
  --fdMenu_Text_Shadow: none;

  /* List */
  --fdList_Button_Spacing: 0.125rem;
  --fdList_Growing_Font_Weight: bold;
  --fdList_Active_Outline_Color: var(--sapContent_FocusColor);

  /* Input Group */
  --fdInputGroup_Text_Shadow: none;
  --fdInputGroup_ControlButton_SideBorder: var(--sapButton_BorderWidth) solid transparent;
  --fdInputGroup_ControlButton_SideBorder_Active: solid var(--sapButton_BorderWidth) transparent;

  /* Input */
  --fdInput_Text_Shadow: none;
  --fdInput_State_Text_Style: normal;
  --fdInput_State_Font_Weight: normal;
  --fdInput_State_Border_Type: solid;
  --fdPlaceholder_Font_Style: italic;
  --fdInput_Outline_Offset: -0.125rem;
  --fdInput_Outline_Offset_States: -0.125rem;

  /* Calendar */
  --fdCalendar_Text_Shadow: none;
  --fdCalendar_Active_Item_Border: 0.125rem solid var(--sapList_SelectionBorderColor);
  --fdCalendar_Active_Focus_Item_Outline_Color: var(--sapList_SelectionBorderColor);
  --fdCalendar_Active_Focus_Item_Outline_Offset: -0.375rem;
  --fdCalendar_Item_Current_Border: none;
  --fdCalendar_Border_Radius: var(--sapButton_BorderCornerRadius);
  --fdCalendar_Item_Active_Background_Hover: var(--sapList_Hover_Background);
  --fdCalendar_Special_Day_Marker_Height: 0.375rem;
  --fdCalendar_Item_Current_Inner_Border_Color: transparent;
  --fdCalendar_Item_Current_Active_Special_Day_Width: calc(100% - 0.25rem);
  --fdCalendar_Item_Current_Active_Special_Day_Height: calc(100% - 1.25rem);
  --fdCalendar_Item_Current_Active_Special_Day_Bottom: 0.125rem;
  --fdCalendar_Item_Current_Active_Special_Day_Left: auto;
  --fdCalendar_Item_Current_Active_Special_Day_Right: auto;
  --fdCalendar_Month_Year_Item_Border_Radius: var(--sapButton_BorderCornerRadius);

  /* Form Header */
  --fdFormHeader_Border_Width: var(--sapList_BorderWidth);

  /* Badge */
  --fdBadge_Border_Color: var(--sapGroup_ContentBorderColor);

  /** Flexible Column Layout */
  --fdFlexibleColumnLayout_Toggle_Image_Color: var(--sapHighlightColor);
  --fdFlexibleColumnLayout_Border: none;
  --fdFlexibleColumnLayout_Background_Solid: var(--sapShell_Background);
  --fdFlexibleColumnLayout_Background_Translucent: var(--sapGroup_ContentBackground);
  --fdFlexibleColumnLayout_Background_Transparent: transparent;

  /** Dialog */
  --fdDialog_Background_Opacity: 0.6;

  /* Message Strip */
  --fdMessageStrip_Border_Width: 0.0625rem;
  --fdMessageStrip_Border_Radius: var(--sapPopover_BorderCornerRadius);
  --fdMessageStrip_Border_Color_Success: var(--sapMessage_SuccessBorderColor);
  --fdMessageStrip_Border_Color_Error: var(--sapMessage_ErrorBorderColor);
  --fdMessageStrip_Border_Color_Warning: var(--sapMessage_WarningBorderColor);
  --fdMessageStrip_Border_Color_Neutral: var(--sapNeutralBorderColor);
  --fdMessageStrip_Border_Color_Informative: var(--sapMessage_InformationBorderColor);
  --fdMessageStrip_Icon_Color_Success: var(--sapPositiveElementColor);
  --fdMessageStrip_Icon_Color_Error: var(--sapNegativeElementColor);
  --fdMessageStrip_Icon_Color_Warning: var(--sapCriticalElementColor);
  --fdMessageStrip_Icon_Color_Neutral: var(--sapNeutralElementColor);
  --fdMessageStrip_Icon_Color_Information: var(--sapInformativeElementColor);

  /* Page */
  --fdPage_List_Background: var(--sapGroup_ContentBackground);
  --fdPage_Transparent_Background: transparent;

  /* Action List Item */
  --fdList_Item_Action_Border: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);
  --fdList_Item_Action_Height: 2.75rem;
  --fdList_Item_Action_Button_Size: 100%;
  --fdList_Item_Action_Button_Size_Compact: 100%;
  --fdList_Item_Action_Button_Spacing: 0;
  --fdList_Item_Action_Button_Border: none;
  --fdList_Item_Action_Button_Border_Radius: 0;

  /* Table */
  --fdTable_Hover_Down_Color: inherit;

  /* Feed Input */
  --fdFeed_Input_Placeholder_Font_Style: italic;

  /* Toolbar */
  --fdToolbar_Auto_Background: var(--sapToolbar_Background);
  --fdToolbar_Solid_Background: var(--sapToolbar_Background);
  --fdToolbar_Info_Outline_Color: var(--sapContent_FocusColor);

  /* Tool Header */
  --fdTool_Header_Icon_Color_Default: var(--sapShell_TextColor);
  --fdTool_Header_Icon_Color_Contrast: var(--sapShell_TextColor);
  --fdTool_Header_Icon_Color_Positive: var(--sapShell_PositiveColor);
  --fdTool_Header_Icon_Color_Critical: var(--sapShell_CriticalColor);
  --fdTool_Header_Icon_Color_Negative: var(--sapShell_NegativeColor);
  --fdTool_Header_Icon_Color_Neutral: var(--sapShell_NeutralColor);
  --fdTool_Header_Icon_Color_Inverted_Default: var(--sapShell_TextColor);
  --fdTool_Header_Icon_Color_Inverted_Contrast: var(--sapShell_TextColor);
  --fdTool_Header_Icon_Color_Inverted_Positive: var(--sapTextColor);
  --fdTool_Header_Icon_Color_Inverted_Critical: var(--sapTextColor);
  --fdTool_Header_Icon_Color_Inverted_Negative: var(--sapTextColor);
  --fdTool_Header_Icon_Color_Inverted_Neutral: var(--sapTextColor);
  --fdTool_Header_Icon_Background_Color_Inverted_Default: transparent;
  --fdTool_Header_Icon_Background_Color_Inverted_Contrast: transparent;
  --fdTool_Header_Icon_Background_Color_Inverted_Positive: var(--sapShell_PositiveColor);
  --fdTool_Header_Icon_Background_Color_Inverted_Critical: var(--sapShell_CriticalColor);
  --fdTool_Header_Icon_Background_Color_Inverted_Negative: var(--sapShell_NegativeColor);
  --fdTool_Header_Icon_Background_Color_Inverted_Neutral: var(--sapShell_NeutralColor);
  --fdTool_Header_Object_Status_Color_Positive: var(--sapShell_PositiveColor);
  --fdTool_Header_Object_Status_Color_Critical: var(--sapShell_CriticalColor);
  --fdTool_Header_Object_Status_Color_Negative: var(--sapShell_NegativeColor);
  --fdTool_Header_Object_Status_Color_Neutral: var(--sapShell_NeutralColor);
  --fdTool_Header_Object_Status_Color_Informative: var(--sapShell_InformativeColor);
  --fdTool_Header_Object_Status_Text_Color_Inverted: var(--sapTextColor);
  --fdTool_Header_Object_Status_Background_Color_Inverted_Positive: var(--sapShell_PositiveColor);
  --fdTool_Header_Object_Status_Background_Color_Inverted_Critical: var(--sapShell_CriticalColor);
  --fdTool_Header_Object_Status_Background_Color_Inverted_Negative: var(--sapShell_NegativeColor);
  --fdTool_Header_Object_Status_Background_Color_Inverted_Neutral: var(--sapShell_NeutralColor);
  --fdTool_Header_Object_Status_Background_Color_Inverted_Informative: var(--sapShell_InformativeColor);

  /* Micro Process Flow */
  --fdMicro_Process_Flow_Icon_Color: var(--sapButton_Neutral_Background);
  --fdMicro_Process_Flow_Active_Icon_Color: var(--sapContent_ContrastIconColor);

  /** Illustrated Message */
  --sapIllus_BrandColorPrimary: var(--sapContent_Illustrative_Color1);
  --sapIllus_BrandColorSecondary: var(--sapContent_Illustrative_Color2);
  --sapIllus_AccentColor: var(--sapContent_Illustrative_Color3);
  --sapIllus_StrokeDetailColor: var(--sapContent_Illustrative_Color4);
  --sapIllus_Layering1: var(--sapContent_Illustrative_Color5);
  --sapIllus_Layering2: var(--sapContent_Illustrative_Color6);
  --sapIllus_BackgroundColor: var(--sapContent_Illustrative_Color7);
  --sapIllus_ObjectFillColor: var(--sapContent_Illustrative_Color8);
  --sapIllus_NoColor: none;
  --sapIllus_PatternShadow: url(#sapIllus_PatternShadow);
  --sapIllus_PatternHighlight: url(#sapIllus_PatternHighlight);

  /** Text */
  --fdText_Selected_Background_Color: var(--sapSelectedColor);

  /** Shellbar */
  --fdShellbar_Height: 3.25rem;
  --fdShellbar_Shadow: none;
  --fdShellbar_Button_Hover_Border_Color: var(--sapButton_Lite_BorderColor);
  --fdShellbar_Button_Active_Border_Color: var(--sapButton_Lite_Active_BorderColor);
  --fdShellbar_Button_Outline_Color: var(--sapContent_FocusColor);
  --fdShellbar_Input_Border: none;
  --fdShellbar_Input_Background: var(--sapShell_InteractiveBackground);
  --fdShellbar_Input_Addon_Border_Width: var(--sapButton_BorderWidth);
  --fdShellbar_Input_Color: var(--sapShell_InteractiveTextColor);
  --fdShellbar_Input_Placeholder_Color: var(--sapField_PlaceholderTextColor);
  --fdShellbar_Input_Border_Radius: 1.125rem;
  --fdShellbar_Input_Hover_Border_Color: var(--sapField_BorderColor);
  --fdShellbar_Input_Addon_Dimension: 1.75rem;

  /** Message Page */
  --fdMessage_Page_Container_Background: var(--sapGroup_ContentBackground);
  --fdMessage_Page_Container_Corner_Radius: var(--sapElement_BorderCornerRadius);
  --fdMessage_Page_Title_Margin_Top: 2rem;
  --fdMessage_Page_Title_Margin_Bottom: 0.5rem;

  /** Bar */
  --fdBar_Left_Area_Padding_Right: 0.25rem;
  --fdBar_Middle_Area_Padding_X: 0.25rem;
  --fdBar_Right_Area_Padding_Left: 0.25rem;

  /** Object List */
  --fdObject_List_Title_Font_Size: var(--sapFontHeader5Size);
  --fdObject_List_Title_Font_Weight: bolder;
  --fdObject_List_Number_Font_Size: 1.25rem;
}
