@use "sass:map";

@import "./btp-colors/sap_horizon";
@import "./common/switch/sap_horizon";
@import "./common/button/sap_horizon";
@import "./common/grid-list/sap_horizon";
@import "./common/icon-tab-bar/sap_horizon";
@import "./common/table/sap_horizon";
@import "./common/dynamic-page-layout/sap_horizon";
@import "./common/scrollbar/sap_horizon";
@import "./common/card/sap_horizon";
@import "./common/slider/sap_horizon";
@import "./common/splitter/sap_horizon";
@import "./common/input/sap_horizon";
@import "./common/input-group/sap_horizon";
@import "./common/wizard/sap_horizon";
@import "./common/panel/sap_horizon";
@import "./common/carousel/sap_horizon";
@import "./common/feed-list-item/sap_horizon";
@import "./common/busy-indicator/sap_horizon";
@import "./common/menu/sap_horizon";
@import "./common/checkbox/sap_horizon";
@import "./common/radio/sap_horizon";
@import "./common/link/sap_horizon";
@import "./common/vertical-nav/sap_horizon";
@import "./common/rating-indicator/sap_horizon";
@import "./common/select/sap_horizon";
@import "./common/tile/sap_horizon";
@import "./common/progress-indicator/sap_horizon";
@import "./common/form-message/sap_horizon";
@import "./common/info-label/sap_horizon";
@import "./common/file-uploader/sap_horizon";
@import "./common/variant-management/sap_horizon";
@import "./common/shellbar/sap_horizon";
@import "./common/generic-tag/sap_horizon";
@import "./common/flexible-column-layout/sap_horizon";
@import "./common/avatar/sap_horizon";
@import "./common/avatar-group/sap_horizon";
@import "./common/message-popover/sap_horizon";
@import "./common/token/sap_horizon";
@import "./common/calendar/sap_horizon";
@import "./common/step-input/sap_horizon";
@import "./common/object-status/sap_horizon";
@import "./common/tokenizer/sap_horizon";
@import "./common/notification/sap_horizon";
@import "./common/pagination/sap_horizon";
@import "./common/search-field/sap_horizon";
@import "./common/navigation/sap_horizon";
@import "./common/navigation-menu/sap_horizon";
@import "./common/navigation-list/sap_horizon";
@import "./common/tool-header/sap_horizon";
@import "./common/textarea/sap_horizon";

:root {
  /* BTP */
  --sapMenu_Shadow1: 0 0 0.125rem 0 rgb(34 53 72 / 16%), 0 0.5rem 1rem 0 rgb(34 53 72 / 16%);
  --sapMenu_Shadow2: 0 0 0.125rem 0 rgb(34 53 72 / 48%), 0 1rem 2rem 0 rgb(34 53 72 / 16%);
  --sapNotifications_Shadow2: 0 0 0.125rem 0 rgb(34 53 72 / 48%), 0 1rem 2rem 0 rgb(34 53 72 / 16%);
  --sapSearchHover_Shadow: 0 0 0.125rem 0 rgb(34 53 72 / 16%), 0 0.5rem 1rem 0 rgb(34 53 72 / 16%);
  --sapMenu_Background: var(--sapList_Background);
  --sapMenu_Hover_Background: var(--sapList_Hover_Background);
  --sapMenu_Active_Background: var(--sapList_Active_Background);
  --sapMenu_Selected_Background: var(--sapList_Hover_SelectionBackground);
  --sapNavigation_Shadow1: 0 0 0.125rem 0 rgb(34 53 72 / 16%), 0 0.5rem 1rem 0 rgb(34 53 72 / 16%);
  --sapNavigation_Shadow2: 0 0 0.125rem 0 rgb(34 53 72 / 48%), 0 1rem 2rem 0 rgb(34 53 72 / 16%);
  --sapNavigation_Background: var(--sapList_Background);
  --sapNavigation_Hover_Background: var(--sapList_Hover_Background);
  --sapNavigation_Active_Background: var(--sapList_Active_Background);
  --sapNavigation_Selected_Background: var(--sapList_Hover_SelectionBackground);

  /* Switch */
  --fdSwitch_Semantic_Error_Handle_Border_Color: var(--sapButton_Track_Negative_Background);
  --fdSwitch_Semantic_Success_Handle_Border_Color: var(--sapButton_Track_Positive_Background);

  /* Dynamic Page Layout */
  --fdDynamicPage_Hover_Border_Bottom: none;
  --fdDynamicPage_Title_Header_Transparent_Background: transparent;
  --fdDynamicPage_Button_Left_Gradient: linear-gradient(to left, var(--sapObjectHeader_BorderColor), transparent);
  --fdDynamicPage_Button_Right_Gradient: linear-gradient(to right, var(--sapObjectHeader_BorderColor), transparent);
  --fdDynamicPage_Button_Group_Background: var(--sapObjectHeader_BorderColor);
  --fdDynamicPage_Content_List_Background: var(--sapGroup_ContentBackground);
  --fdDynamicPage_Content_Transparent_Background: transparent;

  /* TODO: DEPRECATED Side-Nav */
  --fdSideNav_Text_Shadow: none;

  /* Time */
  --fdTime_Text_Shadow: none;

  /* Select */
  --fdSelect_Text_Shadow: none;
  --fdSelect_Button_Interractive_SideBorder: none;

  /* Popover */
  --fdPopover_Border_Radius: var(--sapPopover_BorderCornerRadius);
  --fdPopover_Border_Width: 0.0625rem;
  --fdPopover_Border_Color: #acb8c1;

  /* Product Switch */
  --fdProductSwitch_Text_Shadow: none;
  --fdProductSwitch_Shadow: none;

  /* Menu */
  --fdMenu_Text_Shadow: none;

  /* List */
  --fdList_Button_Spacing: 0.125rem;
  --fdList_Growing_Font_Weight: bold;
  --fdList_Active_Outline_Color: var(--sapContent_FocusColor);

  /* Input Group */
  --fdInputGroup_Text_Shadow: none;
  --fdInputGroup_ControlButton_SideBorder: var(--sapButton_BorderWidth) solid transparent;
  --fdInputGroup_ControlButton_SideBorder_Active: solid var(--sapButton_BorderWidth) transparent;

  /* Input */
  --fdInput_Text_Shadow: none;
  --fdInput_State_Text_Style: normal;
  --fdInput_State_Font_Weight: normal;
  --fdInput_State_Border_Type: solid;
  --fdPlaceholder_Font_Style: italic;
  --fdInput_Outline_Offset: -0.125rem;
  --fdInput_Outline_Offset_States: -0.125rem;

  /* Calendar */
  --fdCalendar_Text_Shadow: none;
  --fdCalendar_Active_Item_Border: 0.125rem solid var(--sapList_SelectionBorderColor);
  --fdCalendar_Active_Focus_Item_Outline_Color: var(--sapList_SelectionBorderColor);
  --fdCalendar_Active_Focus_Item_Outline_Offset: -0.375rem;
  --fdCalendar_Item_Current_Border: none;
  --fdCalendar_Border_Radius: var(--sapButton_BorderCornerRadius);
  --fdCalendar_Item_Active_Background_Hover: var(--sapList_Hover_Background);
  --fdCalendar_Special_Day_Marker_Height: 0.3125rem;
  --fdCalendar_Item_Current_Inner_Border_Color: transparent;
  --fdCalendar_Item_Current_Active_Special_Day_Width: calc(100% - 0.25rem);
  --fdCalendar_Item_Current_Active_Special_Day_Height: calc(100% - 1.25rem);
  --fdCalendar_Item_Current_Active_Special_Day_Bottom: 0.125rem;
  --fdCalendar_Item_Current_Active_Special_Day_Left: auto;
  --fdCalendar_Item_Current_Active_Special_Day_Right: auto;
  --fdCalendar_Month_Year_Item_Border_Radius: var(--sapButton_BorderCornerRadius);
  --fdCalendar_Active_Item_Font_Weight: var(--sapFontBoldFamily);

  /* Form Header */
  --fdFormHeader_Border_Width: var(--sapGroup_TitleBorderWidth);

  /* Badge */
  --fdBadge_Border_Color: transparent;

  /* Message Strip */
  --fdMessageStrip_Border_Color_Success: var(--sapMessage_SuccessBorderColor);
  --fdMessageStrip_Border_Color_Error: var(--sapMessage_ErrorBorderColor);
  --fdMessageStrip_Border_Color_Warning: var(--sapMessage_WarningBorderColor);
  --fdMessageStrip_Border_Color_Neutral: var(--sapNeutralBorderColor);
  --fdMessageStrip_Border_Color_Informative: var(--sapMessage_InformationBorderColor);
  --fdMessageStrip_Icon_Color_Success: var(--sapPositiveElementColor);
  --fdMessageStrip_Icon_Color_Error: var(--sapNegativeElementColor);
  --fdMessageStrip_Icon_Color_Warning: var(--sapCriticalElementColor);
  --fdMessageStrip_Icon_Color_Neutral: var(--sapNeutralElementColor);
  --fdMessageStrip_Icon_Color_Information: var(--sapInformativeElementColor);

  /* Page */
  --fdPage_List_Background: var(--sapGroup_ContentBackground);
  --fdPage_Transparent_Background: transparent;

  /* Action List Item */
  --fdList_Item_Action_Border: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);
  --fdList_Item_Action_Button_Size: 100%;
  --fdList_Item_Action_Button_Size_Compact: 100%;
  --fdList_Item_Action_Button_Spacing: 0;
  --fdList_Item_Action_Button_Border: none;
  --fdList_Item_Action_Button_Border_Radius: 0;

  /* Table */
  --fdTable_Hover_Down_Color: inherit;

  /* Feed Input */
  --fdFeed_Input_Placeholder_Font_Style: italic;

  /* Toolbar */
  --fdToolbar_Auto_Background: var(--sapToolbar_Background);
  --fdToolbar_Solid_Background: var(--sapToolbar_Background);
  --fdToolbar_Transparent_Background: transparent;
  --fdToolbar_Info_Outline_Color: var(--sapContent_FocusColor);

  /* Tool Header */
  --sapToolHeader_Shadow1: 0 0 0.125rem 0 rgb(85 107 130 / 16%), 0 0.5rem 1rem 0 rgb(85 107 130 / 16%);

  /* Micro Process Flow */
  --fdMicro_Process_Flow_Icon_Color: var(--sapButton_Neutral_Background);
  --fdMicro_Process_Flow_Active_Icon_Color: var(--sapContent_ContrastIconColor);

  /** Illustrated Message */
  --sapIllus_BrandColorPrimary: var(--sapContent_Illustrative_Color1);
  --sapIllus_BrandColorSecondary: var(--sapContent_Illustrative_Color2);
  --sapIllus_AccentColor: var(--sapContent_Illustrative_Color3);
  --sapIllus_StrokeDetailColor: var(--sapContent_Illustrative_Color4);
  --sapIllus_Layering1: var(--sapContent_Illustrative_Color5);
  --sapIllus_Layering2: var(--sapContent_Illustrative_Color6);
  --sapIllus_BackgroundColor: var(--sapContent_Illustrative_Color7);
  --sapIllus_ObjectFillColor: var(--sapContent_Illustrative_Color8);
  --sapIllus_NoColor: none;
  --sapIllus_PatternShadow: url("#sapIllus_PatternShadow");
  --sapIllus_PatternHighlight: url("#sapIllus_PatternHighlight");

  /** Text */
  --fdText_Selected_Background_Color: var(--sapSelectedColor);

  /** Message Page */
  --fdMessage_Page_Container_Background: var(--sapGroup_ContentBackground);
  --fdMessage_Page_Container_Corner_Radius: var(--sapElement_BorderCornerRadius);
  --fdMessage_Page_Title_Margin_Top: 2rem;
  --fdMessage_Page_Title_Margin_Bottom: 0.5rem;

  /** Bar */
  --fdBar_Left_Area_Padding_Right: 0.25rem;
  --fdBar_Middle_Area_Padding_X: 0.25rem;
  --fdBar_Right_Area_Padding_Left: 0.25rem;
  --fdBar_Header_Font_Family: var(--sapFontHeaderFamily);
  --fdBar_Header_Color: var(--sapPageHeader_TextColor);

  /** Object List */
  --fdObject_List_Title_Font_Size: var(--sapFontHeader5Size);
  --fdObject_List_Title_Font_Weight: bolder;
  --fdObject_List_Number_Font_Size: 1.25rem;

  /** Nested List */
  --fdNested_List_Border_Corner_Radius: var(--sapPopover_BorderCornerRadius);

  /** Tool Layout */
  --fdToolLayout_Background: #eaecee;

  /** Splitter */
  --sapSplitPane_Shadow1: 0 0 0.125rem 0 rgb(34 53 72 / 16%), 0 0.5rem 1rem 0 rgb(34 53 72 / 16%);

  /** Modal */
  --fdModal_BackgroundColor: rgb(0 0 0 / 20%);

  /** User Menu */
  --fdUserMenu_User_Name_Font_Family: var(--sapFontBoldFamily);
}
