@import "fn-settings";

$block: #{$fn-namespace}-avatar;

$fn-avatar-base: (
  "xl": (
    "size": 4rem,
    "radius": 1rem,
    "iconSize": 2rem,
    "iconFontSize": 1.5rem,
    "initialsSize": 1.125rem,
    "initialsLineHeight": 1.375rem
  ),
  "l": (
    "size": 3rem,
    "radius": 0.875rem,
    "iconSize": 1.5rem,
    "iconFontSize": 1.125rem,
    "initialsSize": 0.875rem,
    "initialsLineHeight": 1.375rem
  ),
  "m": (
    "size": 2.5rem,
    "radius": 0.625rem,
    "iconSize": 1.25rem,
    "iconFontSize": 0.9375rem,
    "initialsSize": 0.75rem,
    "initialsLineHeight": 1.125rem
  ),
  "s": (
    "size": 2rem,
    "radius": 0.5rem,
    "iconSize": 1rem,
    "iconFontSize": 0.75rem,
    "initialsSize": 0.75rem,
    "initialsLineHeight": 1.125rem
  ),
  "xs": (
    "size": 1.5rem,
    "radius": 0.375rem,
    "iconSize": 0.75rem,
    "iconFontSize": 0.5625rem,
    "initialsSize": 0.75rem,
    "initialsLineHeight": 1.125rem
  )
);

$fn-avatar-base-colors: (
  "mango": (
    "background": $fn-color-mango-2,
    "color": $fn-color-mango-8,
    "normal": $fn-color-mango-7,
    "hover": $fn-color-mango-8,
    "active": $fn-color-mango-9,
    "focus": $fn-color-mango-7
  ),
  "red": (
    "background": $fn-color-red-2,
    "color": $fn-color-red-8,
    "normal": $fn-color-red-7,
    "hover": $fn-color-red-8,
    "active": $fn-color-red-9,
    "focus": $fn-color-red-7
  ),
  "raspberry": (
    "background": $fn-color-raspberry-2,
    "color": $fn-color-raspberry-8,
    "normal": $fn-color-raspberry-7,
    "hover": $fn-color-raspberry-8,
    "active": $fn-color-raspberry-9,
    "focus": $fn-color-raspberry-7
  ),
  "pink": (
    "background": $fn-color-pink-2,
    "color": $fn-color-pink-8,
    "normal": $fn-color-pink-7,
    "hover": $fn-color-pink-8,
    "active": $fn-color-pink-9,
    "focus": $fn-color-pink-7
  ),
  "indigo": (
    "background": $fn-color-indigo-2,
    "color": $fn-color-indigo-8,
    "normal": $fn-color-indigo-7,
    "hover": $fn-color-indigo-8,
    "active": $fn-color-indigo-9,
    "focus": $fn-color-indigo-7
  ),
  "blue": (
    "background": $fn-color-blue-2,
    "color": $fn-color-blue-8,
    "normal": $fn-color-blue-7,
    "hover": $fn-color-blue-8,
    "active": $fn-color-blue-9,
    "focus": $fn-color-blue-7
  ),
  "teal": (
    "background": $fn-color-teal-2,
    "color": $fn-color-teal-8,
    "normal": $fn-color-teal-7,
    "hover": $fn-color-teal-8,
    "active": $fn-color-teal-9,
    "focus": $fn-color-teal-7
  ),
  "green": (
    "background": $fn-color-green-2,
    "color": $fn-color-green-8,
    "normal": $fn-color-green-7,
    "hover": $fn-color-green-8,
    "active": $fn-color-green-9,
    "focus": $fn-color-green-7
  ),
  "cyan": (
    "background": $fn-color-cyan-2,
    "color": $fn-color-cyan-8,
    "normal": $fn-color-cyan-7,
    "hover": $fn-color-cyan-8,
    "active": $fn-color-cyan-9,
    "focus": $fn-color-cyan-7
  ),
  "grey": (
    "background": $fn-color-grey-2,
    "color": $fn-color-grey-8,
    "normal": $fn-color-grey-7,
    "hover": $fn-color-grey-8,
    "active": $fn-color-grey-9,
    "focus": $fn-color-grey-7
  )
);

.#{$block} {
  @include fn-reset();
  @include fn-flex-center();
  @include fn-transition();

  border-width: 0.125rem;
  border-style: solid;

  &__initials {
    @include fn-reset();

    font-weight: bold;
  }

  &__icon {
    @include fn-reset();
    @include fn-flex-center();
  }

  &__thumbnail {
    @include fn-reset();

    width: 100%;
    height: 100%;
    display: flex;
    border-radius: inherit;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  &--thumbnail {
    border: none;
    position: relative;

    &::after {
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 50%;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
    }

    &.#{$block}--interactive {
      cursor: pointer;

      @include fn-hover () {
        &::after {
          background: linear-gradient(0deg, rgba(21, 39, 58, 0.1), rgba(21, 39, 58, 0.1)); // , url(.jpg);
        }

        @include fn-active () {
          &::after {
            background: linear-gradient(0deg, rgba(21, 39, 58, 0.15), rgba(21, 39, 58, 0.15)); // , url(.jpg);
          }
        }
      }

      @include fn-active () {
        &::after {
          background: linear-gradient(0deg, rgba(21, 39, 58, 0.15), rgba(21, 39, 58, 0.15)); // , url(.jpg);
        }
      }

      @include fn-is-focus() {
        outline: none;
        border: 0.125rem solid $fn-color-white;
        box-shadow: $fn-focus-outline-shadow-blue;
      }

      @include fn-not-focus-visible() {
        outline: none;
        border: none;
        box-shadow: none;

        @include fn-hover () {
          outline: none;
          border: none;
          box-shadow: none;

          &::after {
            background: linear-gradient(0deg, rgba(21, 39, 58, 0.1), rgba(21, 39, 58, 0.1)); // , url(.jpg);
          }

          @include fn-active () {
            outline: none;
            border: none;
            box-shadow: none;

            &::after {
              background: linear-gradient(0deg, rgba(21, 39, 58, 0.15), rgba(21, 39, 58, 0.15)); // , url(.jpg);
            }
          }
        }
      }

      @include fn-focus-visible() {
        outline: none;
        border: 0.125rem solid $fn-color-white;
        box-shadow: $fn-focus-outline-shadow-blue;
      }

      @include fn-disabled() {
        pointer-events: none;
        opacity: $fn-disabled-opacity;
      }
    }
  }

  @each $set-name, $set-prop in $fn-avatar-base {
    &--#{$set-name} {
      @include fn-set-square-min-width(map-get($set-prop, 'size'));

      border-radius: map-get($set-prop, 'radius');

      &.#{$block}--circle {
        border-radius: 50%;
      }

      .#{$block}__initials {
        font-size: map-get($set-prop, 'initialsSize');
        line-height: map-get($set-prop, 'initialsLineHeight');
      }

      .#{$block}__icon {
        width: map-get($set-prop, 'iconSize');
        height: map-get($set-prop, 'iconSize');

        [class*='sap-icon'] {
          font-size: map-get($set-prop, 'iconFontSize');
        }
      }
    }
  }

  @each $set-name, $set-prop in $fn-avatar-base-colors {
    &--#{$set-name} {
      background: map-get($set-prop, 'background');
      border-color: map-get($set-prop, 'background');

      .#{$block}__initials {
        color: map-get($set-prop, 'color');
      }

      [class*='sap-icon'] {
        color: map-get($set-prop, 'color');
      }

      &.#{$block}--interactive {
        cursor: pointer;
        background: map-get($set-prop, 'normal');
        border-color: map-get($set-prop, 'normal');

        .#{$block}__initials {
          color: $fn-color-white;
        }

        [class*='sap-icon'] {
          color: $fn-color-white;
        }

        @include fn-hover() {
          box-shadow: none;
          background: map-get($set-prop, 'hover');
          border-color: map-get($set-prop, 'hover');

          @include fn-active() {
            box-shadow: none;
            background: map-get($set-prop, 'active');
            border-color: map-get($set-prop, 'active');
          }
        }

        @include fn-active() {
          box-shadow: none;
          background: map-get($set-prop, 'active');
          border-color: map-get($set-prop, 'active');
        }

        @include fn-is-focus() {
          outline: none;
          border-color: $fn-color-white;
          background: map-get($set-prop, 'focus');
          box-shadow: 0 0 0 0.125rem map-get($set-prop, 'normal');
        }

        @include fn-not-focus-visible() {
          outline: none;
          box-shadow: none;
          background: map-get($set-prop, 'normal');
          border-color: map-get($set-prop, 'normal');

          @include fn-hover() {
            box-shadow: none;
            background: map-get($set-prop, 'hover');
            border-color: map-get($set-prop, 'hover');

            @include fn-active() {
              box-shadow: none;
              background: map-get($set-prop, 'active');
              border-color: map-get($set-prop, 'active');
            }
          }
        }

        @include fn-focus-visible() {
          outline: none;
          border-color: $fn-color-white;
          background: map-get($set-prop, 'focus');
          box-shadow: 0 0 0 0.125rem map-get($set-prop, 'normal');
        }

        @include fn-disabled() {
          pointer-events: none;
          opacity: $fn-disabled-opacity;
        }
      }
    }
  }
}
