@import "fn-settings";

$block: #{$fn-namespace}-busy-indicator;
$fd-dots-color: $fn-color-blue-7;
$fd-dots-size: 1rem;

.#{$block} {
  @include fn-reset();

  font-size: 0;
  display: block;

  .#{$block}--circle-0,
  .#{$block}--circle-1,
  .#{$block}--circle-2 {
    @include fn-reset();

    border-radius: 50%;
    width: $fd-dots-size;
    height: $fd-dots-size;
    color: $fd-dots-color;
    display: inline-block;
    background-color: $fn-color-blue-7;
  }

  .#{$block}--circle-0 {
    animation: grow 1.6s infinite cubic-bezier(0.32, 0.06, 0.85, 1.11);
  }

  .#{$block}--circle-1 {
    animation: grow 1.6s infinite cubic-bezier(0.32, 0.06, 0.85, 1.11);
    animation-delay: 200ms;
  }

  .#{$block}--circle-2 {
    animation: grow 1.6s infinite cubic-bezier(0.32, 0.06, 0.85, 1.11);
    animation-delay: 400ms;
  }

  @keyframes grow {
    0%,
    50%,
    100% {
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
    }

    25% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
}
