@import "fn-settings";

$block: #{$fn-namespace}-button;

@mixin fn-button-base($background, $color, $shadow, $outline: "") {
  @if $outline != "" {
    box-shadow: $shadow, $outline;
  } @else {
    box-shadow: $shadow;
  }

  background: $background;

  [class*='sap-icon'] {
    color: $color;
  }

  .#{$block}__text {
    color: $color;
  }
}

.#{$block} {
  @include fn-reset();
  @include fn-transition();
  @include fn-flex-center();
  @include fn-button-base($fn-color-white, $fn-color-blue-7, $fn-shadow-blue-level-0);

  cursor: pointer;
  max-width: 100%;
  position: relative;
  height: $fn-control-height;
  border-radius: $fn-border-radius-6;
  padding: 0.3125rem 0.75rem;

  [class*='sap-icon'] {
    @include fn-flex-center();
    @include fn-set-square(1.125rem);

    font-size: 1rem;

    &::before {
      @include fn-flex-center();
    }

    & + .#{$block}__text {
      @include fn-set-margin-left($fn-padding-xs);
    }
  }

  &__text {
    @include fn-reset();
    @include fn-ellipsis();

    font-weight: bold;
    line-height: 1.375rem;

    & + [class*='sap-icon'] {
      @include fn-set-margin-left($fn-padding-xs);
    }
  }

  @include fn-hover() {
    @include fn-button-base($fn-color-white, $fn-color-blue-8, $fn-shadow-blue-level-1);

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-blue-9, $fn-shadow-blue-level-0);
    }
  }

  @include fn-active() {
    @include fn-button-base($fn-color-white, $fn-color-blue-9, $fn-shadow-blue-level-0);
  }

  @include fn-is-focus() {
    @include fn-button-base($fn-color-white, $fn-color-blue-7, none);

    outline: none;
    border-color: $fn-color-white;
    box-shadow: $fn-focus-outline-shadow-blue, $fn-focus-outline-inner-shadow;
  }

  @include fn-not-focus-visible() {
    @include fn-button-base($fn-color-white, $fn-color-blue-7, $fn-shadow-blue-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-blue-8, $fn-shadow-blue-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-blue-9, $fn-shadow-blue-level-0);
      }
    }

    outline: none;
  }

  @include fn-focus-visible() {
    @include fn-button-base($fn-color-white, $fn-color-blue-7, none);

    outline: none;
    border-color: $fn-color-white;
    box-shadow: $fn-focus-outline-shadow-blue, $fn-focus-outline-inner-shadow;
  }

  @include fn-disabled() {
    @include fn-button-base($fn-color-white, $fn-color-blue-7, none);

    cursor: not-allowed;
    opacity: $fn-disabled-opacity;
  }

  &--icon-only {
    width: 2rem;
    padding: 0.4375rem;
  }

  // EMPHASIZED BUTTON
  &--emphasized {
    @include fn-button-base($fn-color-blue-7, $fn-color-white, $fn-shadow-blue-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-blue-8, $fn-color-white, $fn-shadow-blue-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-blue-9, $fn-color-white, $fn-shadow-blue-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-blue-9, $fn-color-white, $fn-shadow-blue-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-blue-7, $fn-color-white, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-blue, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-blue-7, $fn-color-white, $fn-shadow-blue-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-blue-8, $fn-color-white, $fn-shadow-blue-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-blue-9, $fn-color-white, $fn-shadow-blue-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-blue-7, $fn-color-white, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-blue, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-blue-7, $fn-color-white, none);
    }
  }

  // SECONDARY BUTTON
  &--secondary {
    @include fn-button-base($fn-color-grey-1, $fn-color-grey-7, none);

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-grey-8, $fn-shadow-grey-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-grey-9, $fn-shadow-grey-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-grey-9, $fn-shadow-grey-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-white, $fn-color-grey-7, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-grey, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-grey-1, $fn-color-grey-7, none);

      @include fn-hover() {
        @include fn-button-base($fn-color-white, $fn-color-grey-8, $fn-shadow-grey-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-white, $fn-color-grey-9, $fn-shadow-grey-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-grey-7, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-grey, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-grey-1, $fn-color-grey-7, none);
    }

    // SECONDARY EMPHASIZED BUTTON
    &.#{$block}--emphasized {
      @include fn-button-base($fn-color-grey-7, $fn-color-white, $fn-shadow-grey-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-grey-8, $fn-color-white, $fn-shadow-grey-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-grey-9, $fn-color-white, $fn-shadow-grey-level-0);
        }
      }

      @include fn-active() {
        @include fn-button-base($fn-color-grey-9, $fn-color-white, $fn-shadow-grey-level-0);
      }

      @include fn-is-focus() {
        @include fn-button-base($fn-color-grey-7, $fn-color-white, none);

        border-color: $fn-color-white;
        box-shadow: $fn-focus-outline-shadow-grey, $fn-focus-outline-inner-shadow;
      }

      @include fn-not-focus-visible() {
        @include fn-button-base($fn-color-grey-7, $fn-color-white, $fn-shadow-grey-level-0);

        @include fn-hover() {
          @include fn-button-base($fn-color-grey-8, $fn-color-white, $fn-shadow-grey-level-1);

          @include fn-active() {
            @include fn-button-base($fn-color-grey-9, $fn-color-white, $fn-shadow-grey-level-0);
          }
        }
      }

      @include fn-focus-visible() {
        @include fn-button-base($fn-color-grey-7, $fn-color-white, none);

        border-color: $fn-color-white;
        box-shadow: $fn-focus-outline-shadow-grey, $fn-focus-outline-inner-shadow;
      }

      @include fn-disabled() {
        @include fn-button-base($fn-color-grey-7, $fn-color-white, $fn-shadow-grey-level-0);
      }
    }
  }

  // LAYOUT BUTTON
  &--layout {
    @include fn-button-base(transparent, $fn-color-grey-7, none);

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-grey-8, $fn-shadow-grey-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-grey-9, $fn-shadow-grey-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-grey-9, $fn-shadow-grey-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-white, $fn-color-grey-7, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-grey, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base(transparent, $fn-color-grey-7, none);

      @include fn-hover() {
        @include fn-button-base($fn-color-white, $fn-color-grey-8, $fn-shadow-grey-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-white, $fn-color-grey-9, $fn-shadow-grey-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-grey-7, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-grey, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base(transparent, $fn-color-grey-7, none);
    }
  }

  // POSITIVE BUTTON
  &--positive {
    @include fn-button-base($fn-color-white, $fn-color-green-7, $fn-shadow-green-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-green-8, $fn-shadow-green-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-green-9, $fn-shadow-green-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-green-9, $fn-shadow-green-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-white, $fn-color-green-7, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-green, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-green-7, $fn-shadow-green-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-white, $fn-color-green-8, $fn-shadow-green-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-white, $fn-color-green-9, $fn-shadow-green-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-green-7, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-green, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-white, $fn-color-green-7, $fn-shadow-green-level-0);
    }

    // POSITIVE EMPHASIZED BUTTON
    &.#{$block}--emphasized {
      @include fn-button-base($fn-color-green-7, $fn-color-white, $fn-shadow-green-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-green-8, $fn-color-white, $fn-shadow-green-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-green-9, $fn-color-white, $fn-shadow-green-level-0);
        }
      }

      @include fn-active() {
        @include fn-button-base($fn-color-green-9, $fn-color-white, $fn-shadow-green-level-0);
      }

      @include fn-is-focus() {
        @include fn-button-base($fn-color-green-7,  $fn-color-white, none);

        border-color: $fn-color-white;
        box-shadow: $fn-focus-outline-shadow-green, $fn-focus-outline-inner-shadow;
      }

      @include fn-not-focus-visible() {
        @include fn-button-base($fn-color-green-7, $fn-color-white, $fn-shadow-green-level-0);

        @include fn-hover() {
          @include fn-button-base($fn-color-green-8, $fn-color-white, $fn-shadow-green-level-1);

          @include fn-active() {
            @include fn-button-base($fn-color-green-9, $fn-color-white, $fn-shadow-green-level-0);
          }
        }
      }

      @include fn-focus-visible() {
        @include fn-button-base($fn-color-green-7,  $fn-color-white, none);

        border-color: $fn-color-white;
        box-shadow: $fn-focus-outline-shadow-green, $fn-focus-outline-inner-shadow;
      }

      @include fn-disabled() {
        @include fn-button-base($fn-color-green-7, $fn-color-white, $fn-shadow-green-level-0);
      }
    }
  }

  // CRITICAL BUTTON
  &--critical {
    @include fn-button-base($fn-color-white, $fn-color-mango-6, $fn-shadow-mango-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-mango-8, $fn-shadow-mango-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-mango-8, $fn-shadow-mango-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-mango-8, $fn-shadow-mango-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-white, $fn-color-mango-6, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-mango, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-mango-6, $fn-shadow-mango-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-white, $fn-color-mango-8, $fn-shadow-mango-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-white, $fn-color-mango-8, $fn-shadow-mango-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-mango-6, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-mango, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-white, $fn-color-mango-6, $fn-shadow-mango-level-0);
    }

    // CRITICAL EMPHASIZED BUTTON
    &.#{$block}--emphasized {
      @include fn-button-base($fn-color-mango-6, $fn-color-white, $fn-shadow-mango-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-mango-8, $fn-color-white, $fn-shadow-mango-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-mango-8, $fn-color-white, $fn-shadow-mango-level-0);
        }
      }

      @include fn-active() {
        @include fn-button-base($fn-color-mango-8, $fn-color-white, $fn-shadow-mango-level-0);
      }

      @include fn-is-focus() {
        @include fn-button-base($fn-color-mango-6,  $fn-color-white, none);

        border-color: $fn-color-white;
        box-shadow: $fn-focus-outline-shadow-mango, $fn-focus-outline-inner-shadow;
      }

      @include fn-not-focus-visible() {
        @include fn-button-base($fn-color-mango-6, $fn-color-white, $fn-shadow-mango-level-0);

        @include fn-hover() {
          @include fn-button-base($fn-color-mango-8, $fn-color-white, $fn-shadow-mango-level-1);

          @include fn-active() {
            @include fn-button-base($fn-color-mango-8, $fn-color-white, $fn-shadow-mango-level-0);
          }
        }
      }

      @include fn-focus-visible() {
        @include fn-button-base($fn-color-mango-6,  $fn-color-white, none);

        border-color: $fn-color-white;
        box-shadow: $fn-focus-outline-shadow-mango, $fn-focus-outline-inner-shadow;
      }

      @include fn-disabled() {
        @include fn-button-base($fn-color-mango-6, $fn-color-white, $fn-shadow-mango-level-0);
      }
    }
  }

  // NEGATIVE BUTTON
  &--negative {
    @include fn-button-base($fn-color-white, $fn-color-red-7, $fn-shadow-red-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-red-8, $fn-shadow-red-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-red-9, $fn-shadow-red-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-red-9, $fn-shadow-red-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-white, $fn-color-red-7, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-red, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-red-7, $fn-shadow-red-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-white, $fn-color-red-8, $fn-shadow-red-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-white, $fn-color-red-9, $fn-shadow-red-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-red-7, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-red, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-white, $fn-color-red-7, $fn-shadow-red-level-0);
    }

    &.#{$block}--emphasized {
      @include fn-button-base($fn-color-red-7, $fn-color-white, $fn-shadow-red-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-red-8, $fn-color-white, $fn-shadow-red-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-red-9, $fn-color-white, $fn-shadow-red-level-0);
        }
      }

      @include fn-active() {
        @include fn-button-base($fn-color-red-9, $fn-color-white, $fn-shadow-red-level-0);
      }

      @include fn-is-focus() {
        @include fn-button-base($fn-color-red-7,  $fn-color-white, none);

        border-color: $fn-color-white;
        box-shadow: $fn-focus-outline-shadow-red, $fn-focus-outline-inner-shadow;
      }

      @include fn-not-focus-visible() {
        @include fn-button-base($fn-color-red-7, $fn-color-white, $fn-shadow-red-level-0);

        @include fn-hover() {
          @include fn-button-base($fn-color-red-8, $fn-color-white, $fn-shadow-red-level-1);

          @include fn-active() {
            @include fn-button-base($fn-color-red-9, $fn-color-white, $fn-shadow-red-level-0);
          }
        }
      }

      @include fn-focus-visible() {
        @include fn-button-base($fn-color-red-7,  $fn-color-white, none);

        border-color: $fn-color-white;
        box-shadow: $fn-focus-outline-shadow-red, $fn-focus-outline-inner-shadow;
      }

      @include fn-disabled() {
        @include fn-button-base($fn-color-red-7, $fn-color-white, $fn-shadow-red-level-0);
      }
    }
  }

  // TOGGLED / SELECTED BUTTON
  &.#{$block}--toggled,
  &.#{$block}--selected {
    @include fn-button-base($fn-color-white, $fn-color-blue-7, $fn-shadow-blue-level-0);

    overflow: hidden;

    &::after {
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 0;
      position: absolute;
      border-bottom: $fn-border-width $fn-border-style $fn-color-blue-7;
    }

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-blue-7, $fn-shadow-blue-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-blue-7, $fn-shadow-blue-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-blue-7, $fn-shadow-blue-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-white, $fn-color-blue-7, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-blue, $fn-focus-outline-inner-shadow;

      &::after {
        border-bottom: none;
      }
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-blue-7, $fn-shadow-blue-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-white, $fn-color-blue-7, $fn-shadow-blue-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-white, $fn-color-blue-7, $fn-shadow-blue-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-blue-7, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-blue, $fn-focus-outline-inner-shadow;

      &::after {
        border-bottom: none;
      }
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-white, $fn-color-blue-7, $fn-shadow-blue-level-0);
    }
  }
}
