@import "fn-settings";

$block: #{$fn-namespace}-card;

:root {
  --fn-card-background-color: var(--fn-base-color-content);
  --fn-card-border-radius: var(--fn-border-radius-16);
  --fn-card-box-shadow: var(--fn-shadow-grey-level-2);
  --fn-card-title-color: var(--fn-color-grey-10);
  --fn-card-subtitle-color: var(--fn-color-grey-7);
  --fn-card-content-border-radius: 0 0 var(--fn-border-radius-16) var(--fn-border-radius-16);
}

.#{$block} {
  @include fn-reset();
  @include fn-set-square(100%);

  @include fn-flex(column) {
    flex: 1;
  }

  min-width: 10rem;
  min-height: 10rem;
  background-color: var(--fn-card-background-color);
  border-radius: var(--fn-card-border-radius);
  box-shadow: var(--fn-card-box-shadow);

  &--data {
    --fn-card-box-shadow: var(--fn-shadow-grey-level-0);

    @include fn-hover() {
      --fn-card-box-shadow: var(--fn-shadow-grey-level-1);
    }

    @include fn-focus-visible() {
      outline: none;

      --fn-card-box-shadow: var(--fn-focus-outline-shadow-blue);
    }

    @include fn-selected() {
      --fn-card-background-color: var(--fn-color-blue-2);
      --fn-card-box-shadow: var(--fn-shadow-blue-level-0);

      @include fn-hover() {
        --fn-card-box-shadow: var(--fn-shadow-blue-level-1);
      }

      @include fn-focus-visible() {
        outline: none;

        --fn-card-box-shadow: var(--fn-focus-outline-shadow-blue);
      }
    }
  }

  &__header {
    @include fn-reset();
    @include fn-flex-vertical-center();

    padding: 1.25rem 1.5rem;

    & > [class*='fn-icon'] {
      min-width: 1.125rem;
    }
  }

  &__title-container {
    @include fn-reset();
    @include fn-flex(column);

    max-width: 100%;
    min-width: 0;

    &:not(:first-child) {
      @include fn-set-margin-left(0.375rem);
    }

    &:not(:last-child) {
      @include fn-set-margin-right(0.375rem);
    }

    &:not(:first-child):not(:last-child) {
      @include fn-set-margins-x-equal(0.375rem);
    }
  }

  &__actions-container {
    @include fn-reset();
    @include fn-flex();
    @include fn-set-margin-left(auto);

    & > button:not(:first-child) {
      @include fn-set-margin-left(0.375rem);
    }
  }

  &__title {
    @include fn-reset();

    font-weight: bolder;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: var(--fn-card-title-color);

    &--truncate {
      @include fn-ellipsis();
    }
  }

  &__subtitle {
    @include fn-reset();

    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0.125rem;
    color: var(--fn-card-subtitle-color);

    &--truncate {
      @include fn-ellipsis();
    }
  }

  &__content {
    @include fn-reset();
    @include fn-set-square(100%);

    flex: 1;
    padding: 1.5rem;
    overflow: hidden;
    border-radius: var(--fn-card-content-border-radius);

    &--no-padding {
      padding: 0;
    }

    &--scroll {
      overflow-y: scroll;
    }
  }
}
