@import "fn-settings";

$block: #{$fn-namespace}-link;

.#{$block} {
  @include fn-reset();
  @include fn-set-paddings-x-equal(0.1875rem);

  width: fit-content;
  height: fit-content;
  display: inline-block;
  text-decoration: none;
  color: $fn-color-blue-7;
  border-radius: $fn-border-radius-2;

  @include fn-hover() {
    text-decoration: underline;
  }

  @include fn-is-focus() {
    outline: none;
    text-decoration: none;
    box-shadow: $fn-focus-outline-shadow-blue;
  }

  @include fn-not-focus-visible() {
    text-decoration: none;

    @include fn-hover() {
      text-decoration: underline;
    }

    @include fn-active() {
      text-decoration: underline;
    }
  }

  @include fn-focus-visible() {
    outline: none;
    text-decoration: none;
    box-shadow: $fn-focus-outline-shadow-blue;
  }

  @include fn-active() {
    text-decoration: underline;
  }

  @include fn-disabled() {
    outline: none;
    box-shadow: none;
    pointer-events: none;
    opacity: $fn-disabled-opacity;
  }

  &--emphasized {
    font-weight: bold;
  }
}
