@import "fn-settings";

$block: #{$fn-namespace}-message-strip;

@mixin fn-message-strip-states($background, $iconColor) {
  background: $background;

  .#{$block}__icon {
    &::before {
      color: $iconColor;
    }
  }
}

.#{$block} {
  @include fn-reset();
  @include fn-flex-vertical-center();
  @include fn-set-paddings-y-equal(0.1875rem);

  position: relative;
  width: fit-content;
  min-height: 1.875rem;
  background: $fn-color-blue-2;
  border-radius: $fn-border-radius-4;

  &--dismissible {
    .#{$block}__text {
      @include fn-set-paddings-x(2rem, 1.75rem);

      &:first-child {
        @include fn-set-paddings-x(0.5rem, 1.75rem);
      }
    }
  }

  &__text {
    @include fn-reset();
    @include fn-set-paddings-x(2rem, 0.5rem);

    max-width: 100%;
    line-height: 1.5rem;
    color: $fn-color-grey-9;

    &--truncate {
      @include fn-ellipsis();
    }

    &:first-child {
      @include fn-set-paddings-x-equal(0.5rem);
    }
  }

  .#{$block}__icon {
    @include fn-flex-center();
    @include fn-set-position-left(0.5rem);
    @include fn-set-square-min-width(1.125rem);

    top: 0.375rem;
    position: absolute;
    font-size: 0.9375rem;

    &::before {
      color: $fn-color-blue-7;
    }
  }

  .#{$block}__close-button {
    @include fn-set-position-right(0.25rem);

    top: 0.375rem;
    position: absolute;
  }

  &--success {
    @include fn-message-strip-states($fn-color-green-2, $fn-color-green-7);
  }

  &--warning {
    @include fn-message-strip-states($fn-color-mango-2, $fn-color-mango-6);
  }

  &--error {
    @include fn-message-strip-states($fn-color-red-2, $fn-color-red-7);
  }
}
