@import "fn-settings";

$block: #{$fn-namespace}-rating-indicator;

@mixin fn-rating-indicator-labels-after-checked() {
  .#{$block}__input:checked ~ .#{$block}__input + .#{$block}__label {
    @content;
  }
}

.#{$block} {
  @include fn-reset();

  cursor: pointer;
  height: 1.375rem;
  width: fit-content;
  padding: 0.125rem 0.25rem;
  border-radius: $fn-border-radius-4;

  @include fn-hover() {
    box-shadow: $fn-shadow-grey-level-1;

    @include fn-active() {
      box-shadow: $fn-focus-outline-shadow-grey;
    }
  }

  @include fn-active() {
    box-shadow: $fn-focus-outline-shadow-grey;
  }

  @include fn-focus-within() {
    outline: none;
    box-shadow: $fn-focus-outline-shadow-grey;
  }

  @include fn-disabled() {
    pointer-events: none;
    opacity: $fn-disabled-opacity;
  }

  @include fn-readonly() {
    @include fn-hover() {
      box-shadow: $fn-shadow-grey-level-1;

      @include fn-active() {
        box-shadow: $fn-shadow-grey-level-0;
      }
    }

    @include fn-active() {
      box-shadow: $fn-shadow-grey-level-0;
    }

    @include fn-rating-indicator-labels-after-checked() {
      &::before {
        content: '\e065';
        color: $fn-color-grey-6;
      }
    }
  }

  @include fn-display() {
    pointer-events: none;

    .#{$block}__label::before {
      color: $fn-color-grey-6;
    }
  }

  &__container {
    @include fn-reset();
  }

  &__input {
    @include fn-reset();
    @include fn-set-square(1.125rem);

    z-index: -1;
    opacity: 0.0001;
    position: absolute;
  }

  &__label {
    @include fn-reset();
    @include fn-flex-center();
    @include fn-set-square(1.125rem);
    @include fn-set-margin-right(0.125rem);

    &::before {
      content: '\e065';
      font-size: 0.875rem;
      font-family: "SAP-icons";
      color: $fn-color-mango-6;
    }

    opacity: 1;
    float: left;
    cursor: pointer;

    &:last-child {
      @include fn-set-margin-right(0);
    }

    @include fn-rtl() {
      float: right;
    }
  }

  @include fn-rating-indicator-labels-after-checked() {
    &::before {
      content: '\e0a1';
      color: $fn-color-grey-6;
    }
  }

  &[class*='#{$block}--'] &__input,
  &[class*='#{$block}--'] &__label,
  &__input,
  &__label {
    &--zero-rating {
      width: 0;
      margin: 0;
      padding: 0;
      opacity: 0.0001;
      overflow: hidden;
    }
  }
}
