@import "fn-settings";

$block: #{$fn-namespace}-tag;

$tag-colors-rest: (
  "grey": (
    "background": $fn-color-grey-1,
    "border": $fn-color-grey-4,
    "text": $fn-color-grey-6,
    "background-state": $fn-color-base-white,
    "shadow-hover": $fn-shadow-grey-small,
    "text-press": $fn-color-grey-7,
    "shadow-press": $fn-shadow-grey-xs,
    "text-focus": $fn-color-grey-5
  ),
  "blue": (
    "background": $fn-color-blue-1,
    "border": $fn-color-blue-4,
    "text": $fn-color-blue-6,
    "background-state": $fn-color-base-white,
    "shadow-hover": $fn-shadow-blue-small,
    "text-press": $fn-color-blue-7,
    "shadow-press": $fn-shadow-blue-xs,
    "text-focus": $fn-color-blue-5
  ),
  "teal": (
    "background": $fn-color-teal-1,
    "border": $fn-color-teal-4,
    "text": $fn-color-teal-6,
    "background-state": $fn-color-base-white,
    "shadow-hover": $fn-shadow-teal-small,
    "text-press": $fn-color-teal-7,
    "shadow-press": $fn-shadow-teal-xs,
    "text-focus": $fn-color-teal-5
  ),
  "green": (
    "background": $fn-color-green-1,
    "border": $fn-color-green-4,
    "text": $fn-color-green-6,
    "background-state": $fn-color-base-white,
    "shadow-hover": $fn-shadow-green-small,
    "text-press": $fn-color-green-7,
    "shadow-press": $fn-shadow-green-xs,
    "text-focus": $fn-color-green-5
  ),
  "mango": (
    "background": $fn-color-mango-1,
    "border": $fn-color-mango-4,
    "text": $fn-color-mango-6,
    "background-state": $fn-color-base-white,
    "shadow-hover": $fn-shadow-mango-small,
    "text-press": $fn-color-mango-7,
    "shadow-press": $fn-shadow-mango-xs,
    "text-focus": $fn-color-mango-5
  ),
  "red": (
    "background": $fn-color-red-1,
    "border": $fn-color-red-4,
    "text": $fn-color-red-6,
    "background-state": $fn-color-base-white,
    "shadow-hover": $fn-shadow-red-small,
    "text-press": $fn-color-red-7,
    "shadow-press": $fn-shadow-red-xs,
    "text-focus": $fn-color-red-5
  ),
  "pink": (
    "background": $fn-color-pink-1,
    "border": $fn-color-pink-4,
    "text": $fn-color-pink-6,
    "background-state": $fn-color-base-white,
    "shadow-hover": $fn-shadow-pink-small,
    "text-press": $fn-color-pink-7,
    "shadow-press": $fn-shadow-pink-xs,
    "text-focus": $fn-color-pink-5
  ),
  "indigo": (
    "background": $fn-color-indigo-1,
    "border": $fn-color-indigo-4,
    "text": $fn-color-indigo-6,
    "background-state": $fn-color-base-white,
    "shadow-hover": $fn-shadow-indigo-small,
    "text-press": $fn-color-indigo-7,
    "shadow-press": $fn-shadow-indigo-xs,
    "text-focus": $fn-color-indigo-5
  )
);

.#{$block} {
  @include fn-reset();
  @include fn-transition();
  @include fn-flex-center();
  @include fn-set-paddings-x(0.625rem, $fn-padding-small);

  height: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: fit-content;
  line-height: 1rem;
  font-weight: bold;
  font-size: 0.75rem;
  border-radius: $fn-border-radius-xs;

  &::before {
    left: 0;
    content: '';
    height: 100%;
    position: absolute;
    border-left-width: $fn-border-width;
    border-left-style: $fn-border-style;
  }

  @include fn-rtl() {
    &::before {
      right: 0;
      left: auto;
    }
  }

  @each $set-name, $color-set in $tag-colors-rest {
    &--#{$set-name} {
      color: map_get($color-set, "text");
      background: map_get($color-set, "background");

      &::before {
        border-left-color: map_get($color-set, "border");
      }

      @include fn-hover() {
        box-shadow: map_get($color-set, "shadow-hover");
        background: map_get($color-set, "background-state");
      }

      @include fn-pressed() {
        color: map_get($color-set, "text-press") !important;
        box-shadow: map_get($color-set, "shadow-press") !important;
        background: map_get($color-set, "background-state") !important;
      }

      @include fn-active() {
        color: map_get($color-set, "text-press") !important;
        box-shadow: map_get($color-set, "shadow-press") !important;
        background: map_get($color-set, "background-state") !important;
      }

      @include fn-is-focus() {
        outline: none;
        color: map_get($color-set, "text-focus");
        background: map_get($color-set, "background-state");
        box-shadow: $fn-shadow-blue-small, $fn-focus-outline-shadow-blue;
      }

      @include fn-not-focus-visible() {
        outline: none;
        color: map_get($color-set, "text");
        background: map_get($color-set, "background");
        box-shadow: none;
      }

      @include fn-focus-visible() {
        outline: none;
        color: map_get($color-set, "text-focus");
        background: map_get($color-set, "background-state");
        box-shadow: $fn-shadow-blue-small, $fn-focus-outline-shadow-blue;
      }

      @include fn-disabled() {
        box-shadow: none;
        cursor: not-allowed;
        color: $fn-color-grey-3;
        background: $fn-color-grey-1;

        &::before {
          border-left-color: $fn-color-grey-2;
        }
      }
    }
  }
}
