{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import calendar %}

{% block content %}
    <style>
        .fd-calendar--mobile-portrait {
            height: 500px;
            width: 360px;
        }
        .fd-calendar--mobile-landscape {
            width: 640px;
            height: 360px;
        }
    </style>

    <p>The <code>.fd-calendar__item</code> container takes the majority of styling. The rest of the markup provides the
        structure and layout.
    </p>

    <h2>dates, month, years</h2>
    <!-- output the component example and the code snippet -->
    {% set example %}
        {{ calendar(
            properties=data.properties,
            modifier={
                block: data.modifier.block
            },
            state=data.state,
            aria=data.aria
        ) }}
        {{ calendar(
            properties=data.properties,
            modifier={
                block: ['compact']
            },
            state=data.state,
            aria=data.aria
        ) }}

    {% endset %}
    {{ format(example) }}


    <br><br>

    <h2>dates</h2>
    <p>The previous and next controls are standard buttons with all available states. For example, add
        <code>disabled</code> or <code>aria-disabled="true"</code> to gray out the previous button when past dates are
        not allowed.</p>
    {% set example %}
        {{ calendar({
            "month": 8,
            "year": 2018,
            "today": 6,
            "dates": {
                "daysOffset": 3,
                "block": [25,29],
                "selected": 15,
                "disablePast": true
            }
        }) }}
        {{ calendar({
            "month": 8,
            "year": 2018,
            "today": 6,
            "dates": {
                "daysOffset": 3,
                "block": [25,29],
                "selected": 15,
                "disablePast": true
            }
        },
            modifier={
                block: ['compact']
            }) }}
    {% endset %}
    {{ format(example) }}


    <br><br>

    <h2>months</h2>
    {% set example %}
        {{ calendar({
            "month": 0,
            "year": 2018,
            "today": 3,
            "months": {
                "selected": 2,
                "show": true
            }
        }) }}
        {{ calendar({
            "month": 0,
            "year": 2018,
            "today": 3,
            "months": {
                "selected": 2,
                "show": true
            }
        }, modifier={
            block: ['compact']
        }) }}
    {% endset %}
    {{ format(example) }}

    <br><br>
    <h2>years</h2>
    {% set example %}
        {{ calendar({
            "month": 0,
            "year": 2018,
            "today": 3,
            "years": {
                "selected": 3,
                "show": true
            }
        }) }}
        {{ calendar({
            "month": 0,
            "year": 2018,
            "today": 3,
            "years": {
                "selected": 3,
                "show": true
            }
        },
            modifier={
                block: ['compact']
            }) }}
    {% endset %}
    {{ format(example) }}

    <br><br>
    <h2>Calendar on mobile devices</h2>
    {% set example %}
        <h3>Landscape</h3>
        {{ calendar({
            "mobile": 'landscape',
            "month": 8,
            "year": 2018,
            "today": 6,
            "dates": {
                "daysOffset": 3,
                "block": [25,29],
                "selected": 15,
                "disablePast": true
            }
        },
            modifier={
                block: ['mobile-landscape']
            }) }}

        <h3>Portrait</h3>
        {{ calendar({
            "mobile": 'portrait',
            "month": 8,
            "year": 2018,
            "today": 6,
            "dates": {
                "daysOffset": 3,
                "block": [25,29],
                "selected": 15,
                "disablePast": true
            }
        },
            modifier={
                block: ['mobile-portrait']
            }) }}
    {% endset %}
    {{ format(example) }}

{% endblock %}
