@use "sass:map";


@import "./settings";
@import "../../styles/src/new-settings";
@import "../../styles/src/mixins";

$block: #{$fd-cx-namespace}-nested-list;
$button: #{$fd-cx-namespace}-button;

.#{$block} {
  $fd-nested-list-item-height: 2.75rem;
  $fd-nested-list-item-height-compact: 1.5rem;
  $fd-nested-list-item-border-radius: 0.5rem;

  --fdNestedList_Item_Height: 2.75rem;
  --fdNestedList_Item_Spacing: 0.25rem;
  --fdNestedList_Item_Spacing_Compact: 0.125rem;
  --fdNestedList_Item_Margin: 0.5rem;
  --fdNestedList_Item_Header_Margin_Top: 0.25rem;
  --fdNestedList_Focus_Offset: 0.125rem;
  --fdNestedList_Focus_Offset_Width: var(--sapContent_FocusWidth);
  --fdNestedList_Button_Margin_Left: 0.5rem;

  $fd-nested-list-item-spacing: 0.25rem;
  $fd-nested-list-item-spacing-compact: 0.125rem;

  @mixin fd-nested-list-states-colors($textColor, $backgroundColor) {
    color: $textColor;
    background: $backgroundColor;
  }

  @mixin fd-nested-list-focus($offset: var(--fdNestedList_Focus_Offset), $width: var(--fdNestedList_Focus_Offset_Width)) {
    &:focus,
    &.is-focus {
      outline-offset: $offset;
      outline: var(--sapContent_FocusColor) var(--sapContent_FocusStyle) $width;
      @content;
    }
  }

  @include fd-reset();

  width: 100%;
  list-style: none;

  &.level-1 {
    & > .#{$block}__item {
      @include fd-set-margins-x-equal(0.5rem);

      &:first-child {
        margin-block-start: var(--fdNestedList_Item_Spacing);
      }

      &:last-child {
        margin-block-end: var(--fdNestedList_Item_Spacing);
      }
    }

    .#{$block}__title {
      @include fd-set-paddings-x(0, 1rem);
    }
  }

  .#{$block}.level-2 {
    .#{$block}__title {
      @include fd-set-paddings-x(3rem, 1rem);
    }
  }

  .#{$block}.level-3 {
    .#{$block}__title {
      @include fd-set-paddings-x(5rem, 1rem);
    }
  }

  &[aria-hidden="true"] {
    display: none;
  }

  /* ELEMENTS */
  &__item {
    @include fd-reset();

    display: block;
    margin-inline: 0;
    margin-block: var(--fdNestedList_Item_Margin);

    &--header {
      margin-top: var(--fdNestedList_Item_Header_Margin_Top);

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &.#{$block}__link {
          cursor: auto;

          @include fd-hover() {
            @include fd-nested-list-states-colors(var(--sapList_TextColor), var(--sapList_Background));
          }

          .#{$block}__title {
            font-weight: 700;
          }
        }
      }

      .#{$block}__link {
        cursor: pointer;

        .#{$block}__title {
          font-weight: 700;
        }
      }
    }

    &--group {
      padding-inline-start: 1rem;
      border-bottom: 0.0625rem solid var(--sapList_GroupHeaderBorderColor);
      .#{$block}__title {
        @include fd-set-paddings-x-equal(1rem);

        color: var(--sapList_GroupHeaderTextColor);
        font-weight: 700;
        font-size: 0.875rem;
      }
    }
  }

  &__link {
    @include fd-reset();

    @include fd-flex() {
      align-items: stretch;
    }

    width: 100%;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    min-height: var(--fdNestedList_Item_Height);
    border-radius: $fd-nested-list-item-border-radius;

    @include fd-nested-list-states-colors(var(--sapList_TextColor), var(--sapList_Background));

    @include fd-hover() {
      @include fd-nested-list-states-colors(var(--sapList_TextColor), var(--sapList_Hover_Background));
    }

    @include fd-nested-list-focus();

    @include fd-selected() {
      @include fd-nested-list-states-colors(var(--sapList_TextColor), var(--sapList_SelectionBackgroundColor));

      @include fd-hover() {
        @include fd-nested-list-states-colors(var(--sapList_TextColor), var(--sapList_Hover_SelectionBackground));
      }

      .#{$block}__link-container::after {
        top: 0;
        left: 0;
        content: '';
        height: 100%;
        width: 0.1875rem;
        position: absolute;
        background: var(--sapList_SelectionBorderColor);
      }

      @include fd-rtl() {
        .#{$block}__link-container::after {
          left: auto;
          right: 0;
        }
      }
    }

    @include fd-active() {
      @include fd-nested-list-states-colors(var(--sapList_Active_TextColor), var(--sapList_Active_Background));

      @include fd-selected() {
        @include fd-nested-list-states-colors(var(--sapList_Active_TextColor), var(--sapList_Active_Background));
      }

      .#{$block}__title,
      .#{$block}__icon,
      .#{$block}__arrow {
        color: var(--sapList_Active_TextColor);
      }
    }
  }

  /* This wrapper is needed because we can't apply overflow: hidden on fd-nested-list__link as the focus outline is cut.
  And we need overflow hidden for the selected indicator on the left side which needs to follow the item border radius. */
  &__link-container {
    @include fd-reset();
    @include fd-nested-list-focus();

    @include fd-flex() {
      align-items: center;
    }

    width: 100%;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    border-radius: $fd-nested-list-item-border-radius;
  }

  &__icon {
    @include fd-icon-element-base() {
      @include fd-flex-center();
      @include fd-set-width(3rem);
      @include fd-set-height(100%);

      color: currentColor;
      font-size: var(--sapContent_IconHeight);
    }
  }

  &__title {
    @include fd-reset();

    width: 100%;
    text-align: left;
    color: currentColor;
    display: inline-block;
    font-size: var(--sapFontSize);
    transition: opacity 0.1s ease-out, visibility 0.1s ease-out;

    @include fd-set-paddings-y-equal(0.75rem);

    line-height: normal;

    @include fd-rtl() {
      text-align: right;
    }

    @include fd-compact () {
      @include fd-set-paddings-y-equal(0);
    }
  }

  &__arrow[class*="sap-icon"] {
    @include fd-reset();
    @include fd-flex-center();
    @include fd-set-width(1rem);
    @include fd-set-height(1rem);
    @include fd-set-margin-right(1rem);

    line-height: 1;

    @include fd-rtl() {
      transform: scale(-1, 1);
    }
  }

  &__button {
    @include fd-reset();
    @include fd-flex-center();
    @include fd-nested-list-focus();
    @include fd-set-width(2.75rem);

    margin-inline-start: var(--fdNestedList_Button_Margin_Left);
    height: var(--fdNestedList_Item_Height);
    cursor: pointer;
    background: transparent;
    border-radius: $fd-nested-list-item-border-radius;

    [class*="sap-icon"] {
      @include fd-flex-center();
      @include fd-set-width(1rem);
      @include fd-set-height(1rem);

      line-height: 1;

      @include fd-rtl() {
        transform: scale(-1, 1);
      }
    }
  }

  /* MODIFIERS */
  &--text-only {
    .#{$block}__title:first-child {
      padding-inline-start: 1rem;
    }
  }

  @include fd-compact-or-condensed() {
    --fdNestedList_Item_Margin: 0.25rem;
    --fdNestedList_Item_Spacing: 0.125rem;
    --fdNestedList_Item_Header_Margin_Top: 0.125rem;
    --fdNestedList_Focus_Offset: 0.0625rem;
    --fdNestedList_Focus_Offset_Width: 0.0625rem;
    --fdNestedList_Item_Height: 1.5rem;
    --fdNestedList_Button_Margin_Left: 0.25rem;
  }
}
