@import "../../styles/src/new-settings";
@import "./settings";
@import "../../styles/src/mixins";
@import "nested-list";

$block: #{$fd-cx-namespace}-side-nav;
$block-nested-list: #{$fd-cx-namespace}-nested-list;

$fd-side-nav-border-radius: 1rem;

.#{$block} {
  --fdSideNav_Padding: 0.25rem 0;
  --fdSideNav_First_Item_Margin_Top: 0.25rem;
  --fdSideNav_Utility_Margin_Bottom: 1rem;

  transition: width ease-out 0.2s;

  @include fd-reset();

  @include fd-flex(column) {
    justify-content: space-between;
  }

  width: 15rem;
  height: 100%;
  padding: var(--fdSideNav_Padding);
  box-shadow: var(--sapContent_Shadow0);
  background-color: var(--sapGroup_ContentBackground);
  border-radius: 0 $fd-side-nav-border-radius $fd-side-nav-border-radius 0;

  @include fd-rtl() {
    border-radius: $fd-side-nav-border-radius 0 0 $fd-side-nav-border-radius;
  }

  &__main-navigation {
    @include fd-reset();

    @include fd-flex(column) {
      align-items: center;
    }

    overflow-y: scroll;
    overflow-x: hidden;

    .#{$block-nested-list}.level-1 {
      & > .#{$block-nested-list}__item:first-child {
        .#{$block-nested-list}__link {
          margin-top: var(--fdSideNav_First_Item_Margin_Top);
        }
      }
    }
  }

  &__utility {
    @include fd-reset();

    &::before {
      content: " ";
      display: block;
      margin: 0.25rem 0.5rem var(--fdSideNav_Utility_Margin_Bottom) 0.5rem;
      border-top: 0.0625rem solid var(--sapList_HeaderBorderColor);
    }
  }

  &__popover-body {
    @include fd-set-width(16rem !important);

    padding: 0.25rem 0 !important;
    border-radius: $fd-side-nav-border-radius !important;

    .#{$block-nested-list} {
      &.level-2 {
        & > .#{$block-nested-list}__item {
          @include fd-set-margins-x-equal(0.5rem);

          .#{$block-nested-list}__title {
            @include fd-set-paddings-x-equal(1rem);
          }
        }
      }

      &.level-3 {
        & > .#{$block-nested-list}__item {
          .#{$block-nested-list}__title {
            @include fd-set-paddings-x(3rem, 1rem);
          }
        }
      }
    }

    &--dynamic-width {
      min-width: 16rem !important;
      width: fit-content !important;
      max-width: fit-content !important;
    }
  }

  &__button {
    margin: 0.25rem 0 !important;
  }

  &__input-group {
    $fd-side-nav-search-width: calc(100% - 1rem);

    @include fd-set-width($fd-side-nav-search-width);

    margin: 0.75rem 0.5rem !important;
  }

  @include fd-compact-or-condensed() {
    --fdSideNav_Padding: 0.125rem 0;
    --fdSideNav_First_Item_Margin_Top: 0.125rem;
    --fdSideNav_Utility_Margin_Bottom: 0.75rem;
  }

  &--mobile {
    width: 100%;
    border-radius: 0;
  }

  &--narrow-animated-items {
    .#{$fd-cx-namespace}-nested-list {
      &__title,
      &__arrow[class*=sap-icon] {
        visibility: hidden;
        opacity: 0;
        height: var(--fdNestedList_Item_Height);
        overflow: hidden;
      }
    }
  }

  &--narrow {
    width: 4rem;

    &:not(.#{$fd-cx-namespace}--narrow-animated-items) {
      .#{$fd-cx-namespace}-nested-list {
        &__title,
        &__arrow[class*=sap-icon] {
          height: var(--fdNestedList_Item_Height);
        }
      }
    }

    .#{$fd-cx-namespace}-nested-list {
      // Child Level Indicator
      button.#{$fd-cx-namespace}-nested-list__link {
        position: relative;

        &::before {
          @include fd-flex-vertical-center();

          transform: translateY(-50%);
          top: 50%;
          right: 0;
          content: "\e066";
          position: absolute;
          padding-right: 0.25rem;
          font-family: "SAP-icons";
          font-size: var(--sapFontSmallSize);
        }

        @include fd-rtl() {
          &::before {
            @include fd-flex-vertical-center();

            left: 0;
            right: auto;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &--dynamic-width {
    min-width: 15rem;
    max-width: 100%;
    width: fit-content;

    &.#{$fd-cx-namespace}--narrow {
      width: 4rem;
    }
  }

  &--shellbar {
    border-top-right-radius: 0;

    @include fd-rtl() {
      border-top-left-radius: 0;
    }
  }

  &--single-line {
    .#{$block-nested-list} {
      &__title {
        @include fd-ellipsis();
      }
    }
  }
}
