@use "sass:map";

@import "../../styles/src/new-settings";
@import "./settings";
@import "../../styles/src/mixins";
@import "nested-list";

$block: #{$fd-cx-namespace}-side-nav;
$block-nested-list: #{$fd-cx-namespace}-nested-list;
$fd-side-nav-border-radius: 1rem;

.#{$block} {
  --fdSideNav_Padding_Block: 0.25rem;
  --fdSideNav_Padding_Inline: 0;
  --fdSideNav_First_Item_Margin_Top: 0.25rem;
  --fdSideNav_Utility_Margin_Bottom: 1rem;
  --fdNestedList_Item_Height: var(--sapElement_LineHeigh);

  transition: width ease-out 0.2s;

  @include fd-reset();

  @include fd-flex(column) {
    justify-content: space-between;
  }

  width: 15rem;
  height: 100%;
  box-shadow: var(--sapContent_Shadow0);
  background-color: var(--sapGroup_ContentBackground);
  border-radius: 0;

  &__main-navigation {
    @include fd-reset();

    @include fd-flex(column) {
      align-items: center;
    }

    overflow: hidden scroll;
    padding-inline: 0.5rem;
    padding-block: 0.5rem 0.25rem;

    &.#{$fd-namespace}-scrollbar {
      padding-inline: 0.5rem;
      padding-block: 0.5rem 0.25rem;
    }

  }

  &__utility {
    @include fd-reset();

    padding-inline: 0.5rem;
    padding-block-end: 0.5rem;


    &::before {
      content: "";
      display: block;
      width: auto;
      height: 0.0625rem;
      background: var(--sapToolbar_SeparatorColor);
      margin-block-end: 0.25rem;
      margin-inline: 0.5rem;
    }
  }

  &__popover-body {
    @include fd-set-width(16rem !important);

    margin-block: 0.25rem !important;
    padding-inline: 0 !important;
    border-radius: $fd-side-nav-border-radius !important;

    .#{$block-nested-list} {
      &.level-2 {
        padding-inline: 0.5rem;
        padding-block: 0.5rem;

        .#{$block-nested-list}__title {
          font-family: var(--sapFontFamily);
        }
      }

      &.level-3 {
        .#{$block-nested-list}__link-container {
          --fdNestedList_Start_Offset: 3rem;
        }
      }
    }

    &--dynamic-width {
      min-width: 16rem !important;
      width: fit-content !important;
      max-width: fit-content !important;
    }
  }

  &__button {
    margin-block: 0.25rem !important;
    margin-inline: 0 !important;
  }

  &__input-group {
    $fd-side-nav-search-width: calc(100% - 1rem);

    @include fd-set-width($fd-side-nav-search-width);

    margin-block: 0.75rem !important;
    margin-inline: 0.5rem !important;
  }

  @include fd-compact-or-condensed() {
    --fdSideNav_Padding_Block: 0.125rem;
    --fdSideNav_First_Item_Margin_Top: 0.125rem;
    --fdSideNav_Utility_Margin_Bottom: 0.75rem;
  }

  &--mobile {
    width: 100%;
    border-radius: 0;
  }

  &--narrow-animated-items {
    .#{$fd-cx-namespace}-nested-list {
      &__title,
      &__button,
      &__arrow[class*="sap-icon"] {
        visibility: hidden;
        opacity: 0;
        height: var(--fdNestedList_Item_Height);
        overflow: hidden;
      }
    }
  }

  &--narrow {
    width: 4rem;

    .#{$block-nested-list}__link {
      @include fd-set-height(var(--fdNestedList_Item_Height));
    }

    &:not(.#{$block}--narrow-animated-items) {
      .#{$block-nested-list} {
        &__title,
        &__button,
        &__arrow[class*="sap-icon"] {
          display: none;
          height: var(--fdNestedList_Item_Height);
        }
      }
    }

    .#{$block-nested-list} {
      // Child Level Indicator
      div.#{$block-nested-list}__link,
      button.#{$block-nested-list}__link {
        position: relative;

        &::before {
          @include fd-flex-vertical-center();

          transform: translateY(-50%);
          top: 50%;
          right: 0;
          content: "\e066";
          position: absolute;
          padding-inline-end: 0.25rem;
          font-family: SAP-icons;
        }

        @include fd-rtl() {
          &::before {
            @include fd-flex-vertical-center();

            left: 0;
            right: auto;
            padding-inline: 0.25rem 0;
            transform: rotateY(180deg) translateY(-50%);
          }
        }
      }
    }
  }

  &--dynamic-width {
    min-width: 15rem;
    max-width: 100%;
    width: fit-content;

    &.#{$fd-cx-namespace}--narrow {
      width: 4rem;
    }
  }

  &--shellbar {
    border-top-right-radius: 0;

    @include fd-rtl() {
      border-top-left-radius: 0;
    }
  }

  &--single-line {
    .#{$block-nested-list} {
      &__title {
        @include fd-ellipsis();
      }
    }
  }

  @include fd-compact-or-condensed() {
    --fdNestedList_Item_Height: var(--sapElement_Compact_LineHeight);
  }
}
