:root {
  /** Dialog **/
  --fdDialog_Border_Radius: 0.75rem;
  --fdDialog_Content_Box_Shadow: var(--sapContent_Shadow3);
  --fdDialog_Header_Box_Shadow: none;

  /* Title */
  --fdTitle_font-family: var(--sapFontHeaderFamily);

  /* Panel */
  --fdPanel_Background: var(--sapGroup_ContentBackground);
  --fdPanel_Title_Font_Weight: bold;
  --fdPanel_Border_Radius: var(--sapElement_BorderCornerRadius);
  --fdPanel_Content_Border_Bottom: none;

  /* Avatar */
  --fdAvatar_BackgroundColor: var(--sapAccentBackgroundColor6);
  --fdAvatar_Color: var(--sapAccentColor6);
  --fdAvatar_Tile_Color: var(--sapAccentColor10);
  --fdAvatar_Tile_BackgroundColor: var(--sapAccentBackgroundColor10);
  --fdAvatar-Transparent_BackgroundColor: transparent;
  --fdAvatar_Border: none;
  --fdAvatar_Accent_Color_Text_1: var(--sapAccentColor1);
  --fdAvatar_Accent_Color_Text_2: var(--sapAccentColor2);
  --fdAvatar_Accent_Color_Text_3: var(--sapAccentColor3);
  --fdAvatar_Accent_Color_Text_4: var(--sapAccentColor4);
  --fdAvatar_Accent_Color_Text_5: var(--sapAccentColor5);
  --fdAvatar_Accent_Color_Text_6: var(--sapAccentColor6);
  --fdAvatar_Accent_Color_Text_7: var(--sapAccentColor7);
  --fdAvatar_Accent_Color_Text_8: var(--sapAccentColor8);
  --fdAvatar_Accent_Color_Text_9: var(--sapAccentColor9);
  --fdAvatar_Accent_Color_Text_10: var(--sapAccentColor10);
  --fdAvatar_Accent_Color_Background_1: var(--sapAccentBackgroundColor1);
  --fdAvatar_Accent_Color_Background_2: var(--sapAccentBackgroundColor2);
  --fdAvatar_Accent_Color_Background_3: var(--sapAccentBackgroundColor3);
  --fdAvatar_Accent_Color_Background_4: var(--sapAccentBackgroundColor4);
  --fdAvatar_Accent_Color_Background_5: var(--sapAccentBackgroundColor5);
  --fdAvatar_Accent_Color_Background_6: var(--sapAccentBackgroundColor6);
  --fdAvatar_Accent_Color_Background_7: var(--sapAccentBackgroundColor7);
  --fdAvatar_Accent_Color_Background_8: var(--sapAccentBackgroundColor8);
  --fdAvatar_Accent_Color_Background_9: var(--sapAccentBackgroundColor9);
  --fdAvatar_Accent_Color_Background_10: var(--sapAccentBackgroundColor10);

  /* Busy Indicator */
  --fdBusy_Indicator_Dot_Color: var(--sapBrandColor);
}
