@use "sass:map";

:root {
  --fdNotification_Unread_Indicator_Background: var(--sapHighlightColor);
  --fdNotification_Item_Border_Color: transparent;
  --fdNotification_Group_Item_Border_Radius: 0.375rem;
  --fdNotification_Group_Item_Transition: background-color 0.3s ease-in-out;
  --fdNotification_Group_Item_Color: var(--sapContent_LabelColor);
  --fdNotification_Group_Item_Color_Active: var(--sapContent_LabelColor);
  --fdNotification_Group_Item_Border_Color_Normal: transparent;
  --fdNotification_Group_Item_Border_Bottom_Color_Normal: transparent;
  --fdNotification_Group_Item_Border_Color_Hover: transparent;
  --fdNotification_Group_Item_Border_Color_Active: transparent;
  --fdNotification_Group_Item_Border_Color_Focused: transparent;
  --fdNotification_Item_Title_Color_Active: var(--sapTitleColor);
  --fdNotification_Item_Paragraph_Color_Active: var(--sapTextColor);
  --fdNotification_Item_Footer_Color_Active: var(--sapTextColor);
}
