:root {
  --fdVariantManagementHeadingColor: var(--sapButton_TextColor);
  --fdVariantManagementHeadingHoverColor: var(--sapHighlightColor);
  --fdVariantManagementHeadingActiveColor: var(--sapHighlightColor);
}
