<!--
token:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro token(properties={}, modifier={}, state={}, aria={}) -%}
{%- set readonly = 'false' -%}
{%- for m in modifier.block -%}
    {%- if m == 'readonly' -%}
        {%- set readonly = 'true' -%}
    {%- endif -%}
{%- endfor -%}
<span class="fd-token{{ modifier.block | modifier('token') }}{{ state | state }}"{{ aria | aria }} role="button">
    {{ properties.label }}
    {%- if readonly =='false' -%}
        <button class="fd-token__close"></button>
    {%- endif -%}
</span>
{%- endmacro %}
