{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import token %}

{% block content %}

    <h1>token</h1>

    <!-- output the component example and the code snippet -->
    {% set example %}
{{  token(
        properties={
            label: "Bibendum"
        }
    )
}}
{{  token(
        properties={
            label: "Lorem"
        }
    )
}}
{{  token(
        properties={
            label: "Dolor"
        }
    )
}}
{{  token(
        properties=data.properties
    )
}}
    {% endset %}
    {{ format(example) }}


{% endblock %}
