{% import "./../utils.njk" as utils %}
{% set headlines = ['h2', 'h3', 'h4', 'h5', 'h6'] %}

{%- macro menu(properties={}, modifier=[], classes=[], aria=[], header_size='h3') -%}
  {{modifier.addon | dump(2)}}
  <nav class="fd-menu{{ modifier | modifier('menu') }}{{ classes | classes }}" {{ aria | aria }} {% if properties.id %} id="{{ properties.id }}" {% endif %}>
    {%- for item in properties.items %}
        {%- if loop.first %}
          <ul class="fd-menu__list">
        {%- endif %}
          {{ option(item, properties) }}
        {%- if loop.last %}
          </ul>
        {%- endif %}
    {%- endfor %}
  </nav>
{%- endmacro %}

{%- macro option(item={}, properties={}) -%}
  <li>
    <a role="button" class="fd-menu__item {{item.class if item.class}}{{'separated' | modifier('menu__item') if item.separator }}">
      {%- if properties.addon_before -%}
        {%- if item.icon -%}
          <span class="fd-menu__addon-before">
            i
          </span>
        {%- endif -%}
      {%- endif -%}
      <span class="fd-menu__title">{{ item.label }}</span>
      {%- if properties.addon_after -%}
        {%- if item.secondaryIcon -%}
          <span class="fd-menu__addon-after">></span>
        {%- endif -%}
      {%- endif -%}
    </a>
      {%- if item.submenu -%}
        {%- for subitem in properties.submenu_items %}
          {%- if loop.first %}
            <ul class="fd-menu__sublist">
          {%- endif %}
            <li>
              <a role="button" class="fd-menu__item">
              {%- if properties.addon_before -%}
                {%- if subitem.icon -%}
                  <span class="fd-menu__addon-before">
                    i
                  </span>
                {%- endif -%}
              {%- endif -%} 
              <span class="fd-menu__title">{{ subitem.label }}</span>
              </a>
            </li>
          {%- if loop.last %}
          </ul>
          {%- endif -%}
        {%- endfor %}
      {%- endif -%}
  </li>
{%- endmacro %}
