{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import menu, menuWithAllHeadlines %}

{% block content %}
  <h2>default</h2>
  {% set example %}
  {{ menu(properties=data.properties) }}
  {% endset %}
  {{ format(example) }}

  <br/><br/><br/>
  <h2>grouped</h2>
  {% set example %}
  {{ menu(properties={
  items: [
      { "label": "Option 1" },
      { "label": "Option 2"},
      { "label": "Option 3" },
      {  "label": "Group Header",
        "items": [
            { "label": "Option 4" },
            { "label": "Option 5" },
            { "label": "Option 6" }
        ]
      }
    ]
  })
}}
  {% endset %}
  {{ format(example) }}

  <br/><br/><br/>
  <h2>menu list with separators</h2>
  {% set example %}
  {{ menu(properties={
  items: [
      { "label": "Option 1" },
      { "label": "Option 2"},
      { "label": "Option 3" },
      { "label": "Option 4" }
    ],
    separator: true
  })
}}
  {% endset %}
  {{ format(example) }}

  <br/><br/><br/>
  <h2>separated and grouped</h2>
  {% set example %}
  {{ menu(properties={
  items: [
      {
        "label": "Group Header",
        "items": [
            { "label": "Option 1" },
            { "label": "Option 2" },
            { "label": "Option 3" }
        ]
      },
      {
        "label": "Group Header",
        "items": [
            { "label": "Option 1" },
            { "label": "Option 2" },
            { "label": "Option 3" }
        ]
      }
    ],
    separator: true
  })
}}
  {% endset %}
  {{ format(example) }}

  <br/><br/><br/>
  <h2>menu with icons</h2>
  {% set example %}
  {{ menu(properties={
            items: [
              { "label": "Option 1", "icon": "accept" },
              { "label": "Option 2", "icon": "cart" },
              { "label": "Option 3", "icon": "windows-doors" },
              { "label": "Option 4", "icon": "past" }
            ],
            addon_before: true,
            separator: true
        },
        modifier=["addon-before"])
}}
  {% endset %}
  {{ format(example) }}

  <br/><br/><br/>
  <h2>menu with headlines</h2>
  {% set example %}
  {{ menuWithAllHeadlines(properties={
            items: [
              { "label": "Option 1", "icon": "accept", "class": "is-disabled" },
              { "label": "Option 2", "icon": "cart" },
              { "label": "Option 3", "icon": "windows-doors", "class": "is-disabled" },
              { "label": "Option 4", "icon": "past" }
            ],
            addon_before: true,
            separator: true
        },
        modifier=["addon-before"])
}}
  {% endset %}
  {{ format(example) }}
{% endblock %}