{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import menu %}

{% block content %}
  <h2>default</h2>
  {% set example %}
  {{ menu(properties=data.properties) }}
  {% endset %}
  {{ format(example) }}

  <br/><br/><br/>
  <h2>menu list with separators</h2>
  {% set example %}
  {{ menu(properties={
  items: [
      { "label": "Option 1" },
      { "label": "Option 2", "separator":"true"},
      { "label": "Option 3" },
      { "label": "Option 4" }
    ]
  })
}}
  {% endset %}
  {{ format(example) }}

  <br/><br/><br/>
  <h2>menu list with different states</h2>
  {% set example %}
  {{ menu(properties={
  items: [
      { "label": "Option 1 - regular" },
      { "label": "Option 2 - hover", "class": "is-hover" },
      { "label": "Option 3 - active", "class": "is-active" },
      { "label": "Option 4 - selected", "class": "is-selected" },
      { "label": "Option 5 - selected hover", "class": "is-selected is-hover" }
    ]
  })
}}
  {% endset %}
  {{ format(example) }}

<br/><br/><br/>
  <h2>menu list with disable particular menu item</h2>
  {% set example %}
  {{ menu(properties={
  items: [
      { "label": "Option 1", "class": "is-disabled"},
      { "label": "Option 2"},
      { "label": "Option 3" },
      { "label": "Option 4" }
    ],
    nobutton: true
   })
}}
  {% endset %}
  {{ format(example) }}

  <br/><br/><br/>
  <h2>menu with icons</h2>
  {% set example %}
  {{ menu(properties={
            items: [
              { "label": "Option 1 with very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very very  very very very very long menu and primary and secondary icons.", "icon": "accept", "secondaryIcon": "grid" },
              { "label": "Option 2- only primary icon", "icon": "cart" },
              { "label": "Option 3- only secondary icon", "secondaryIcon": "sap-icon--grid" },
              { "label": "Option 4- both icons", "icon": "past", "secondaryIcon": "cart" }
            ],
            addon_before: true,
            addon_after: true
        },
        modifier=["addon-before"])
}}
  {% endset %}
  {{ format(example) }}

  <br/><br/><br/>

  <h2>menu with submenu</h2>
  {% set example %}
  {{ menu(properties={
            items: [
              { "label": "Option 1", "icon": "accept" },
              { "label": "Option 2 with submenu", "icon": "cart", "secondaryIcon":"arrow","submenu":"true","class": "is-selected" },
              { "label": "Option 3"},
              { "label": "Option 4" }
            ],
            submenu_items:[
              { "label": "Option 1", "icon": "accept" },
              { "label": "Option 2 ", "icon": "cart"},
              { "label": "Option 3"},
              { "label": "Option 4", "icon": "cart"}
            ],
            addon_before: true,
            addon_after: true
        },
        modifier=["addon-before"])
  }}
  {% endset %}
  {{ format(example) }}
{% endblock %}