@import "./sap_horizon";

:root {
  --fdShellbar_Search_Border: solid 0.0625rem var(--sapShell_InteractiveBorderColor);
  --fdShellbar_Search_Category_Offset: -0.0625rem;
  --fdShellbar_Search_Category_Offset_Left: -0.0625rem;
  --fdShellbar_Search_Category_Border: solid var(--sapShell_InteractiveBorderColor);
  --fdShellbar_Search_Category_Border_width: 0 0.0625rem;
  --fdShellbar_Search_Category_Button_Hover_Background: var(--sapButton_Selected_Hover_Background);
  --fdShellbar_Search_Hover_Category_Button_Background: var(--fdShellbar_Input_Hover_Background);
  --fdShellbar_Search_Container_Hover_Background: var(--sapShellColor);
  --fdShellbar_Input_Hover_Background: var(--sapShellColor);
  --fdShellbar_Input_Border_Radius: 0;
  --fdShellbar_Input_Addon_Dimension: 2.25rem;
  --fdShellbar_Input_Addon_Border_Width: 0;
  --fdShellbar_Search_Separator_Display: none;
  --fdShellbar_Search_Hover_Background: var(--sapShellColor);
  --fdShellbar_Search_Button_Hover_Background: var(--fdShellbar_Search_Active_Button_Background);
  --fdShellbar_Search_Active_Button_Background: var(--sapShell_Active_Background);
  --fdShellbar_Active_Background: var(--sapShellColor);
  --fdShellbar_Active_Shadow: none;
  --fdShellbar_Search_Active_Outline: var(--sapButton_Lite_BorderColor) dotted 0.125rem;
  --fdShellbar_Input_Placeholder_Style: normal;
  --fdShellbar_Button_Left_Border: solid 0.0625rem var(--fdShellbar_Search_Active_Button_Color);
  --fdShellbar_Helper_Bottom_Shadow: none;
  --fdShellbar_Hover_Helper_Bottom_Shadow: none;
}
