@use "sass:map";

:root {
  --fdShellbar_Height: 3.25rem;
  --fdShellbar_Shadow: inset 0 -0.0625rem 0 0 var(--sapShell_BorderColor);
  --fdShellbar_Button_Hover_Border_Color: var(--sapButton_Lite_Hover_BorderColor);
  --fdShellbar_Button_Active_Border_Color: var(--sapButton_Lite_Active_BorderColor);
  --fdShellbar_Search_Border: none;
  --fdShellbar_Search_Category_Border: none;
  --fdShellbar_Search_Category_Border_width: 0;
  --fdShellbar_Search_Category_Offset_Left: 0.25rem;
  --fdShellbar_Search_Category_Offset_Right: var(--fdShellbar_Search_Category_Offset_Left);
  --fdShellbar_Search_Category_Button_Hover_Background: var(--sapShell_Hover_Background);
  --fdShellbar_Search_Hover_Category_Button_Background: var(--fdShellbar_Search_Category_Button_Hover_Background);
  --fdShellbar_Search_Input_Border: none;
  --fdShellbar_Search_Container_Background: var(--sapShell_InteractiveBackground);
  --fdShellbar_Search_Container_Hover_Background: var(--sapShell_Hover_Background);
  --fdShellbar_Input_Background: var(--sapShell_InteractiveBackground);
  --fdShellbar_Input_Hover_Background: var(--sapShell_Hover_Background);
  --fdShellbar_Input_Color: var(--sapShell_InteractiveTextColor);
  --fdShellbar_Input_Placeholder_Color: var(--sapField_PlaceholderTextColor);
  --fdShellbar_Input_Border_Radius: 1.125rem;
  --fdShellbar_Input_Hover_Border_Color: var(--sapField_BorderColor);
  --fdShellbar_Input_Addon_Dimension: 1.75rem;
  --fdShellbar_Input_Addon_Border_Width: var(--sapButton_BorderWidth);
  --fdShellbar_Search_Hover_Background: var(--sapShell_Hover_Background);
  --fdShellbar_Search_Height: 1.75rem;
  --fdShellbar_Search_Separator_Display: block;
  --fdShellbar_Search_Button_Hover_Background: var(--fdShellbar_Input_Hover_Background);
  --fdShellbar_Search_Active_Button_Background: var(--sapButton_Lite_Active_BorderColor);
  --fdShellbar_Search_Active_Button_Hover_Background: var(--fdShellbar_Search_Active_Button_Background);
  --fdShellbar_Search_Active_Button_Color: var(--sapButton_Emphasized_TextColor);
  --fdShellbar_Active_Background: var(--sapShell_Active_Background);
  --fdShellbar_Active_Shadow: 0 0 0 0.125rem var(--sapButton_Lite_Active_BorderColor);
  --fdShellbar_Search_Active_Outline: none;
  --fdShellbar_Input_Border: none;
  --fdShellbar_Input_Focus_Color: var(--sapShell_InteractiveTextColor);
  --fdShellbar_Input_Focus_Background: transparent;
  --fdShellbar_Input_Placeholder_Style: italic;
  --fdShellbar_Button_Left_Border: 0.0625rem solid var(--sapButton_Lite_Hover_BorderColor);
  --fdShellbar_Input_Group_Background: 0 100% / 100% 0.0625rem no-repeat linear-gradient(0deg, var(--sapField_BorderColor), var(--sapField_BorderColor)) border-box;
  --fdShellbar_Input_Group_Hover_Background: 0 100% / 100% 0.0625rem no-repeat linear-gradient(0deg, var(--sapField_Hover_BorderColor), var(--sapField_Hover_BorderColor)) border-box;
  --fdShellbar_Helper_Bottom_Shadow: inset 0 -0.0625rem 0 var(--sapField_BorderColor);
  --fdShellbar_Hover_Helper_Bottom_Shadow: inset 0 -0.0625rem 0 var(--sapField_Hover_BorderColor);
  --fdShellbar_Helper_Display: block;
  --fdShellbar_Search_Input_X_Padding: 0.9rem;
  --fdShellbar_Title_Color: var(--sapShell_SubBrand_TextColor);
  --fdShellbar_Subtitle_Color: var(--sapObjectHeader_Subtitle_TextColor);
  --fdShellbar_Branding_Hover_Background: var(--sapButton_Lite_Hover_Background);
  --fdShellbar_Branding_Active_Background: var(--sapButton_Lite_Active_Background);
  --fdShellbar_Branding_Hover_Border_Color: var(--sapButton_Lite_Hover_BorderColor);
  --fdShellbar_Branding_Active_Border_Color: var(--sapButton_Lite_Active_BorderColor);
  --fdShellbar_Button_Outline_Color: var(--sapContent_FocusColor);
}
