@use "sass:map";

:root {
  --fdShellbar_Height: 2.75rem;
  --fdShellbar_Shadow: inset 0 -0.0625rem 0 0 var(--sapShell_BorderColor);
  --fdShellbar_Button_Hover_Border_Color: transparent;
  --fdShellbar_Button_Active_Border_Color: transparent;
  --fdShellbar_Search_Border: none;
  --fdShellbar_Search_Category_Border: var(--fdShellbar_Input_Border);
  --fdShellbar_Search_Category_Border_width: 0.0625rem;
  --fdShellbar_Search_Category_Offset: 0.25rem;
  --fdShellbar_Search_Category_Offset_Left: 0;
  --fdShellbar_Search_Category_Offset_Right: 0.25rem;
  --fdShellbar_Search_Category_Button_Hover_Background: var(--sapShell_Hover_Background);
  --fdShellbar_Search_Input_Border: solid 0.0625rem var(--sapShell_InteractiveBorderColor);
  --fdShellbar_Search_Container_Background: transparent;
  --fdShellbar_Search_Container_Hover_Background: transparent;
  --fdShellbar_Input_Background: var(--sapShellColor);
  --fdShellbar_Input_Hover_Background: var(--sapShell_Hover_Background);
  --fdShellbar_Input_Color: var(--sapShell_TextColor);
  --fdShellbar_Input_Placeholder_Color: var(--sapShell_InteractiveTextColor);
  --fdShellbar_Input_Border_Radius: var(--sapField_BorderCornerRadius);
  --fdShellbar_Input_Hover_Border_Color: var(--sapShell_InteractiveBorderColor);
  --fdShellbar_Input_Addon_Dimension: 2.25rem;
  --fdShellbar_Input_Addon_Border_Width: 0;
  --fdShellbar_Search_Hover_Background: transparent;
  --fdShellbar_Search_Active_Button_Background: inherit;
  --fdShellbar_Search_Button_Hover_Background: var(--sapShell_Hover_Background);
  --fdShellbar_Search_Active_Button_Hover_Background: var(--sapShell_Hover_Background);
  --fdShellbar_Search_Active_Button_Color: var(--sapShell_InteractiveTextColor);
  --fdShellbar_Active_Background: transparent;
  --fdShellbar_Active_Shadow: none;
  --fdShellbar_Search_Active_Outline: none;
  --fdShellbar_Input_Border: 0.0625rem solid var(--sapShell_InteractiveBorderColor);
  --fdShellbar_Search_Separator_Display: none;
  --fdShellbar_Select_Content_Color: var(--sapShell_TextColor);
  --fdShellbar_Input_Focus_Color: var(--sapShell_TextColor);
  --fdShellbar_Input_Focus_Background: var(--sapShell_Active_Background);
  --fdShellbar_Input_Placeholder_Style: italic;
  --fdShellbar_Button_Left_Border: none;
  --fdShellbar_Helper_Display: none;
  --fdShellbar_Helper_Bottom_Shadow: none;
  --fdShellbar_Hover_Helper_Bottom_Shadow: none;
  --fdShellbar_Search_Input_X_Padding: 0.625rem;
  --fdShellbar_Title_Color: var(--sapShell_TextColor);
  --fdShellbar_Subtitle_Color: var(--sapShell_TextColor);
  --fdShellbar_Branding_Hover_Background: var(--sapShell_Hover_Background);
  --fdShellbar_Branding_Active_Background: transparent;
  --fdShellbar_Branding_Hover_Border_Color: transparent;
  --fdShellbar_Branding_Active_Border_Color: transparent;
  --fdShellbar_Button_Outline_Color: var(--sapContent_ContrastFocusColor);
}
