@import "./sap_fiori";

:root {
  --fdShellbar_Button_Hover_Border_Color: var(--sapButton_Lite_BorderColor);
  --fdShellbar_Button_Active_Border_Color: var(--sapButton_Lite_Active_BorderColor);
  --fdShellbar_Button_Outline_Color: var(--sapContent_FocusColor);
  --fdShellbar_Search_Category_Offset: 0;
  --fdShellbar_Input_Addon_Border_Width: 0.0625rem;
  --fdShellbar_Search_Active_Button_Background: transparent;
  --fdShellbar_Search_Separator_Display: none;
  --fdShellbar_Input_Placeholder_Style: normal;
}
