@use "sass:map";

:root {
  --fdCheckbox_Tristate_Size: 0.75rem;
  --fdCheckbox_Tristate_Offset: 0.3125rem;
  --fdCheckbox_Tristate_Compact_Size: 0.5rem;
  --fdCheckbox_Tristate_Compact_Offset: 0.25rem;
  --fdCheckbox_Padding: 0.6875rem;
  --fdCheckbox_Compact_Padding: 0.5rem;
  --fdCheckbox_Dimensions: 1.375rem;
  --fdCheckbox_Compact_Dimensions: 1rem;
  --fdCheckbox_Background_Color: var(--sapField_Background);
  --fdCheckbox_Hover_Background_Color: var(--sapContent_Selected_Hover_Background);
  --fdCheckbox_Inner_Border_Width: var(--sapField_BorderWidth);
  --fdCheckbox_Inner_Border_Style: var(--sapField_Selector_BorderStyle);
  --fdCheckbox_Inner_Border_Color: var(--sapField_BorderColor);
  --fdCheckbox_Check_Mark_Color: var(--sapContent_Selected_ForegroundColor);
}
