{% extends "layout.njk" %}
{% from "./component.njk" import formMessage %}
{% from "./../format.njk" import format %}

{% block content %}

<h3>Default</h3>
{% set example %}
    <span class="fd-popover__body fd-popover__body--no-arrow fd-form-message" aria-hidden="true" id="popoverD1">Normal message</span>
{% endset %}
{{ format(example) }}

<h3>Error</h3>
{% set example %}
    <span class="fd-popover__body fd-popover__body--no-arrow fd-form-message fd-form-message--error" aria-hidden="true" id="popoverD1">Normal message</span>
{% endset %}
{{ format(example) }}

<h3>Warning</h3>
{% set example %}
    <span class="fd-popover__body fd-popover__body--no-arrow fd-form-message fd-form-message--warning" aria-hidden="true" id="popoverD1">Normal message</span>
{% endset %}
{{ format(example) }}

<h3>Information </h3>
{% set example %}
    <span class="fd-popover__body fd-popover__body--no-arrow fd-form-message fd-form-message--information" aria-hidden="true" id="popoverD1">Normal message</span>
{% endset %}
{{ format(example) }}

{% endblock %}
