{% extends "layout.njk" %}
{% from "./component.njk" import formMessage %}
{% from "./../format.njk" import format %}

{% block content %}

<h3>Success</h3>
{% set example %}
    <span class="fd-form-message fd-form-message--success">Success message</span>
{% endset %}
{{ format(example) }}

<h3>Error</h3>
{% set example %}
    <span class="fd-form-message fd-form-message--error" >Error message</span>
{% endset %}
{{ format(example) }}

<h3>Warning</h3>
{% set example %}
    <span class="fd-form-message fd-form-message--warning">Warning message</span>
{% endset %}
{{ format(example) }}

<h3>Information </h3>
{% set example %}
    <span class="fd-form-message fd-form-message--information">Information message</span>
{% endset %}
{{ format(example) }}

{% endblock %}
