{% import "./../utils.njk" as utils %}

{# .fd-shellbar__button #}
{%- macro shellbar_button(properties={}, disabled=false) -%}
<button class="btn-playground fd-shellbar__button"{% if disabled %} disabled {% endif %}>&&</button>
{%- endmacro %}

{# .fd-search-input #}
{% macro search_input() -%}
    <div class="fd-search-input input-group-playground">
    <input class="input-group-input-playground" type="text" placeholder="search input" />
    <button class="btn-playground fd-shellbar__button">%%</button>
    </div>
{%- endmacro %}

{# .fd-product-switcher #}
{% set product = {
  title: "Corporate Portal",
  subtitle: "Subtitle",
  items: [
      { "label": "Application A" },
      { "label": "Application B" },
      { "label": "Application C" },
      { "label": "Application D" }
  ]
} %}

{% macro product_switcher() -%}
<div class="fd-product-switcher">
  <div class="fd-product-switcher__body">
    <nav>
      <ul class="fd-product-switcher__body--list">
      {% for item in product.items %}
        <li class="fd-product-switcher__body--list-item">
          <span class="fd-product-switcher__product-icon"><img src="/static/logos/sap-logo.png" alt="" /></span>
          <span class="fd-product-switcher__product-title">{{item.label}}</span>
        </li>
      {% endfor %}
      </ul>
    </nav>
  </div>
</div>
{%- endmacro %}

{%- macro shell_logo(logo=logo) %}
  <a href="#" class="fd-shellbar__logo {{ 'fd-shellbar__logo--image-replaced' if not logo.src and not logo.svg  }}">
    {%- if logo.src %}
    {%- set comma = joiner() %}
      <img src="{{ logo.src }}"{% if logo.srcset %} srcset="{% for item in logo.srcset %}{{ comma() -}} {{ item }} {{ loop.index }}x
      {%- endfor %}"{% endif %}{% if logo.width %} width="{{logo.width}}"{% endif %}{% if logo.height %} height="{{logo.height}}"{% endif %} alt="">
    {%- endif %}
    {%- if logo.svg %}
      {{ logo.svg }}
    {%- endif %}
  </a>
{% endmacro -%}



{% macro shellbar(logo=logo, product=false, properties={}, modifier={}) -%}
{%- set _id = utils.id() %}
<div class="fd-shellbar">
    <div class="fd-shellbar__group fd-shellbar__group--product">
        {{ shell_logo(logo=logo) }}
          {% if product %}
          <div class="fd-product-menu fd-shellbar__product-menu">
              <button class="fd-product-menu__control" aria-controls="4Gsw5984" aria-haspopup="true" aria-expanded="false">
                <span class="fd-shellbar__title">Title</span>
              </button>
              {# popover for product-menu #}
          </div>
          {% else %}
            <span class="fd-shellbar__title">Title</span>
          {% endif %}
          <div class="fd-shellbar__subtitle">Subtitle</div>
    </div>
    <div class="fd-shellbar__group fd-shellbar__group--copilot">
      <button class="fd-button fd-shellbar__button"><img src="/static/copilot.png" alt="CoPilot" height="30" width="30" /></button>
    </div>
      <div class="fd-shellbar__group fd-shellbar__group--actions">
          <div class="fd-shellbar__action fd-shellbar__action--desktop">
            {{ search_input() }}
          </div>
        <div class="fd-shellbar__action fd-shellbar__action--mobile">
            {# this should only be visible on small screens #}
            {{ shellbar_button() }}
        </div>
        <div class="fd-shellbar__action fd-shellbar__action--desktop">
            {{ shellbar_button() }}
        </div>
        <div class="fd-shellbar__action">
          <span class="identifier-playground"></span>
          {# popover for user-menu #}
        </div>
        <div class="fd-shellbar__action fd-shellbar__action--desktop">
          {{ shellbar_button() }}
          {# popover for product-switcher #}
        </div>
    </div>
  </div>
{%- endmacro %}
