{% import "./../utils.njk" as utils %}

{# .fd-shellbar__button #}
{%- macro shellbar_button(properties={}, aria={}, disabled=false) -%}
<button class="fd-shellbar__button {{'sap-icon--'+properties.icon if properties.icon }}"{{ aria | aria }}{% if disabled %} disabled {% endif %}>{%- if properties.label %}{{properties.label}}{%- endif %}</button>
{%- endmacro %}

{# .fd-search-input #}
{% macro search_input(search={aria_hidden: "true"}) -%}
<div class="fd-search-input">
    <div class="fd-input-group fd-input-group--after">
        <input type="text" class="fd-input" id="" value="Ba" placeholder="Select Fruit" aria-hidden="{{search.aria_hidden}}">
        <span class="fd-input-group__addon fd-input-group__addon--after fd-input-group__addon--button">
            <button class="fd-shellbar__button sap-icon--search"></button>
        </span>
    </div>
</div>
{%- endmacro %}

{# .fd-product-switcher #}
{% set product = {
  title: "Corporate Portal",
  subtitle: "Subtitle",
  items: [
      { "label": "Application A" },
      { "label": "Application B" },
      { "label": "Application C" },
      { "label": "Application D" }
  ]
} %}

{# .fd-product-menu #}



{%- macro shell_logo(logo=logo) %}
  <a href="#" class="fd-shellbar__logo {{ 'fd-shellbar__logo--image-replaced' if not logo.src and not logo.svg  }}">
    {%- if logo.src %}
    {%- set comma = joiner() %}
      <img src="{{ logo.src }}"{% if logo.srcset %} srcset="{% for item in logo.srcset %}{{ comma() -}} {{ item }} {{ loop.index }}x
      {%- endfor %}"{% endif %}{% if logo.width %} width="{{logo.width}}"{% endif %}{% if logo.height %} height="{{logo.height}}"{% endif %} alt="">
    {%- endif %}
    {%- if logo.svg %}
      {{ logo.svg }}
    {%- endif %}
  </a>
{% endmacro -%}



{% macro shellbar(logo=logo, search=search, product=product, properties={}, modifier={}, state={}, aria={}, styles="") -%}
{%- set _id = utils.id() %}
<div class="fd-shellbar">
    <div class="fd-shellbar__group fd-shellbar__group--start">
        {{ shell_logo(logo=logo) }}
          <div class="fd-product-menu">
              <button class="fd-product-menu__control" aria-controls="4Gsw5984" aria-haspopup="true" aria-expanded="false">
                <span class="fd-product-menu__title">Corporate Portal</span>
              </button>
          </div>
          <div class="fd-shellbar__subtitle">
            {{ product.subtitle }}
          </div>
    </div>
    <div class="fd-shellbar__group fd-shellbar__group--middle">
      <img src="/static/copilot.png" alt="CoPilot" height="30" width="30" />
    </div>
      <div class="fd-shellbar__group fd-shellbar__group--end">
          <div class="fd-shellbar__action fd-shellbar__action--collapsible">
            {{ search_input(search=search) }}
          </div>
        <div class="fd-shellbar__action fd-shellbar__action--collapsible">
            {{ shellbar_button({ icon: 'pool' }) }}
        </div>
        <div class="fd-shellbar__action fd-shellbar__action--collapsible">
            {{ shellbar_button({ icon: 'bell' }) }}
        </div>
        <div class="fd-shellbar__action fd-shellbar__action--show-always">
          <span class="fd-identifier fd-identifier--xs fd-identifier--circle fd-identifier--thumbnail">WW</span>
          {# popover for user-menu #}
        </div>
        <div class="fd-shellbar__action fd-shellbar__action--collapsible">
          {{ shellbar_button({ icon: 'grid' }) }}
          {# popover for product-switcher #}
        </div>
    </div>
  </div>
{%- endmacro %}