:root {
  /** BTP Colors **/
  --btp-Blue1: #0c225f;
  --btp-Blue2: #0e3382;
  --btp-Blue3: #003ca8;
  --btp-Blue4: #0052c4;
  --btp-Blue5: #0070f2;
  --btp-Blue6: #118cff;
  --btp-Blue7: #33a6ff;
  --btp-Blue8: #5cc0ff;
  --btp-Blue9: #8dd8ff;
  --btp-Blue10: #bbe7ff;
  --btp-Blue11: #e5f6ff;
  --btp-Grey1: #1e2833;
  --btp-Grey2: #29394b;
  --btp-Grey3: #2f4763;
  --btp-Grey4: #415c76;
  --btp-Grey5: #5b7996;
  --btp-Grey6: #778ea6;
  --btp-Grey7: #92a2b1;
  --btp-Grey8: #b3bdc6;
  --btp-Grey9: #c9cfd4;
  --btp-Grey10: #dee1e4;
  --btp-Grey11: #f3f3f5;
  --btp-Green1: #0c2d16;
  --btp-Green2: #164120;
  --btp-Green3: #194f2a;
  --btp-Green4: #226635;
  --btp-Green5: #188818;
  --btp-Green6: #35a01c;
  --btp-Green7: #57b520;
  --btp-Green8: #81cb24;
  --btp-Green9: #a4e058;
  --btp-Green10: #d5ea91;
  --btp-Green11: #e8f3c3;
  --btp-Mango1: #2e2703;
  --btp-Mango2: #4a3502;
  --btp-Mango3: #5d4002;
  --btp-Mango4: #7a5102;
  --btp-Mango5: #a36a01;
  --btp-Mango6: #c77b00;
  --btp-Mango7: #d89101;
  --btp-Mango8: #efab01;
  --btp-Mango9: #f4ca55;
  --btp-Mango10: #f9df8c;
  --btp-Mango11: #fdeeb0;
  --btp-Red1: #570000;
  --btp-Red2: #770606;
  --btp-Red3: #8f0707;
  --btp-Red4: #b50808;
  --btp-Red5: #ec0707;
  --btp-Red6: #fd4848;
  --btp-Red7: #ff758c;
  --btp-Red8: #ffa0bf;
  --btp-Red9: #ffbcd8;
  --btp-Red10: #ffd5ea;
  --btp-Red11: #fff0f7;
  --btp-Teal1: #042c2b;
  --btp-Teal2: #054039;
  --btp-Teal3: #034f48;
  --btp-Teal4: #036559;
  --btp-Teal5: #048570;
  --btp-Teal6: #029e84;
  --btp-Teal7: #0ab592;
  --btp-Teal8: #1ecdaf;
  --btp-Teal9: #6de3c2;
  --btp-Teal10: #8cf4d6;
  --btp-Teal11: #bbfaed;
  --btp-Indigo1: #231570;
  --btp-Indigo2: #331c9f;
  --btp-Indigo3: #4316ca;
  --btp-Indigo4: #591ffa;
  --btp-Indigo5: #7757ff;
  --btp-Indigo6: #9075ff;
  --btp-Indigo7: #ac8dff;
  --btp-Indigo8: #c6a8ff;
  --btp-Indigo9: #dcc4ff;
  --btp-Indigo10: #e5dcff;
  --btp-Indigo11: #f0ebff;
  --btp-Pink1: #3a0962;
  --btp-Pink2: #580787;
  --btp-Pink3: #72009c;
  --btp-Pink4: #9700b7;
  --btp-Pink5: #cc00dd;
  --btp-Pink6: #f028ea;
  --btp-Pink7: #f764f3;
  --btp-Pink8: #ff8ff1;
  --btp-Pink9: #ffb9ef;
  --btp-Pink10: #ffd5f1;
  --btp-Pink11: #ffe6fa;
  --btp-Raspberry1: #4e0536;
  --btp-Raspberry2: #6e064b;
  --btp-Raspberry3: #8a0152;
  --btp-Raspberry4: #ae0565;
  --btp-Raspberry5: #e21279;
  --btp-Raspberry6: #fa418e;
  --btp-Raspberry7: #ff6fa0;
  --btp-Raspberry8: #ff98b6;
  --btp-Raspberry9: #ffbec9;
  --btp-Raspberry10: #ffd7dd;
  --btp-Raspberry11: #ffe8ec;
  --btp-Cyan1: #062845;
  --btp-Cyan2: #063d5b;
  --btp-Cyan3: #074b66;
  --btp-Cyan4: #06617d;
  --btp-Cyan5: #09819e;
  --btp-Cyan6: #0599b8;
  --btp-Cyan7: #00afcf;
  --btp-Cyan8: #08c8e4;
  --btp-Cyan9: #61e6f6;
  --btp-Cyan10: #a6ecf8;
  --btp-Cyan11: #caf5fc;
  --btp-Hazelnut1: #362317;
  --btp-Hazelnut2: #552f10;
  --btp-Hazelnut3: #673a17;
  --btp-Hazelnut4: #854a20;
  --btp-Hazelnut5: #b26026;
  --btp-Hazelnut6: #cd7537;
  --btp-Hazelnut7: #d5915a;
  --btp-Hazelnut8: #daad73;
  --btp-Hazelnut9: #e3cca0;
  --btp-Hazelnut10: #efe0be;
  --btp-Hazelnut11: #f7edd0;
}
