:root {
  /** BTP Colors **/
  --btp-Blue1: #8fd4ff;
  --btp-Blue2: #7eccff;
  --btp-Blue3: #69c5ff;
  --btp-Blue4: #53bcff;
  --btp-Blue5: #39b2ff;
  --btp-Blue6: #1ca7ff;
  --btp-Blue7: #009afc;
  --btp-Blue8: #0070f2;
  --btp-Blue9: #0060d0;
  --btp-Blue10: #00489c;
  --btp-Blue11: #003776;
  --btp-Grey1: #c5cdd3;
  --btp-Grey2: #bcc5cc;
  --btp-Grey3: #b3bdc5;
  --btp-Grey4: #a9b5be;
  --btp-Grey5: #9facb6;
  --btp-Grey6: #93a2ad;
  --btp-Grey7: #8797a4;
  --btp-Grey8: #5b7996;
  --btp-Grey9: #4e6881;
  --btp-Grey10: #3a4d5f;
  --btp-Grey11: #2c3a48;
  --btp-Green1: #9bdf47;
  --btp-Green2: #8ad926;
  --btp-Green3: #84d025;
  --btp-Green4: #7ec623;
  --btp-Green5: #77bc21;
  --btp-Green6: #71b11f;
  --btp-Green7: #69a51d;
  --btp-Green8: #188918;
  --btp-Green9: #157515;
  --btp-Green10: #0f570f;
  --btp-Green11: #0c420c;
  --btp-Mango1: #ffc218;
  --btp-Mango2: #fab900;
  --btp-Mango3: #f0b100;
  --btp-Mango4: #e5a900;
  --btp-Mango5: #d9a000;
  --btp-Mango6: #cd9700;
  --btp-Mango7: #bf8d00;
  --btp-Mango8: #c35500;
  --btp-Mango9: #a74900;
  --btp-Mango10: #7d3700;
  --btp-Mango11: #5f2900;
  --btp-Red1: #ffbaba;
  --btp-Red2: #ffafaf;
  --btp-Red3: #ffa3a3;
  --btp-Red4: #ff9595;
  --btp-Red5: #ff8686;
  --btp-Red6: #ff7474;
  --btp-Red7: #ff5e5e;
  --btp-Red8: #ec0b0b;
  --btp-Red9: #cc0909;
  --btp-Red10: #9a0707;
  --btp-Red11: #770606;
  --btp-Teal1: #3ce3c5;
  --btp-Teal2: #1fdcba;
  --btp-Teal3: #1ed3b3;
  --btp-Teal4: #1dc9aa;
  --btp-Teal5: #1bbfa2;
  --btp-Teal6: #1ab498;
  --btp-Teal7: #18a88e;
  --btp-Teal8: #07838f;
  --btp-Teal9: #06707a;
  --btp-Teal10: #04535b;
  --btp-Teal11: #033f45;
  --btp-Indigo1: #d6c2ff;
  --btp-Indigo2: #d0b8ff;
  --btp-Indigo3: #caaeff;
  --btp-Indigo4: #c2a3ff;
  --btp-Indigo5: #ba97ff;
  --btp-Indigo6: #b28bff;
  --btp-Indigo7: #a87cff;
  --btp-Indigo8: #7857ff;
  --btp-Indigo9: #623cff;
  --btp-Indigo10: #3000f2;
  --btp-Indigo11: #2500bc;
  --btp-Pink1: #ffb3f5;
  --btp-Pink2: #ffa6f3;
  --btp-Pink3: #ff98f1;
  --btp-Pink4: #ff88ef;
  --btp-Pink5: #ff75ed;
  --btp-Pink6: #ff5de9;
  --btp-Pink7: #ff3be5;
  --btp-Pink8: #cc00dc;
  --btp-Pink9: #b000be;
  --btp-Pink10: #850090;
  --btp-Pink11: #67006f;
  --btp-Raspberry1: #feb7d9;
  --btp-Raspberry2: #feabd3;
  --btp-Raspberry3: #fe9fcc;
  --btp-Raspberry4: #fe90c5;
  --btp-Raspberry5: #fe80bc;
  --btp-Raspberry6: #fd6db2;
  --btp-Raspberry7: #fd55a6;
  --btp-Raspberry8: #e2127a;
  --btp-Raspberry9: #c31069;
  --btp-Raspberry10: #930c4f;
  --btp-Raspberry11: #71093d;
  --btp-Cyan1: #51ddf2;
  --btp-Cyan2: #2dd6ef;
  --btp-Cyan3: #12cee9;
  --btp-Cyan4: #11c4df;
  --btp-Cyan5: #10bad4;
  --btp-Cyan6: #0fb0c7;
  --btp-Cyan7: #0ea4ba;
  --btp-Cyan8: #007fa9;
  --btp-Cyan9: #006d91;
  --btp-Cyan10: #00516c;
  --btp-Cyan11: #003e52;
  --btp-Hazelnut1: #ffc147;
  --btp-Hazelnut2: #ffb626;
  --btp-Hazelnut3: #ffaa02;
  --btp-Hazelnut4: #f4a200;
  --btp-Hazelnut5: #e79a00;
  --btp-Hazelnut6: #da9100;
  --btp-Hazelnut7: #cb8700;
  --btp-Hazelnut8: #a16b00;
  --btp-Hazelnut9: #8a5c00;
  --btp-Hazelnut10: #674400;
  --btp-Hazelnut11: #4e3400;
}
