@import "./mixins";

/*!
.fd-avatar+((--circle), (--thumbnail), (--xxs|--xs|--s|--m|--l|--xl|--xxl), (--accent-color-{1-10}))
  .fd-avatar__icon
  .fd-avatar__zoom-icon
*/
$block: #{$fd-namespace}-avatar;

.#{$block} {
  $fd-avatar-border-radius: 50% !default;
  $fd-avatar-background-color: var(--fdAvatar_BackgroundColor) !default;
  $fd-zoom-icon-s: 1.125rem !default;
  $fd-zoom-icon-l: 1.25rem !default;
  $fd-zoom-icon-xl: 1.75rem !default;
  $fd-const-ratio: 1rem;
  $fd-avatar-sizes: (
    "xs": ("ratio": ($fd-const-ratio * 2), "font-size": 1rem, "zoomIconDimensions": $fd-zoom-icon-s, "offset": -0.125rem, "beforeFontSize": 0.75rem, "fontStretch": condensed),
    "s": ("ratio": ($fd-const-ratio * 3), "font-size": 1.125rem, "zoomIconDimensions": $fd-zoom-icon-s, "offset": -0.125rem, "beforeFontSize": 0.75rem, "fontStretch": condensed),
    "m": ("ratio": ($fd-const-ratio * 4), "font-size": 1.5rem, "zoomIconDimensions": $fd-zoom-icon-s, "offset": -0.125rem, "beforeFontSize": 0.75rem, "fontStretch": normal),
    "l": ("ratio": ($fd-const-ratio * 5), "font-size": 2.25rem, "zoomIconDimensions": $fd-zoom-icon-l, "offset": -0.1875rem, "beforeFontSize": 0.875rem, "fontStretch": normal),
    "xl": ("ratio": ($fd-const-ratio * 7), "font-size": 3rem, "zoomIconDimensions": $fd-zoom-icon-xl, "offset": -0.25rem, "beforeFontSize": 1rem, "fontStretch": normal)
  );

  $fd-avatar-accent-colors: (
    "1":  (
      "background-color": var(--fdAvatar_Accent_Color_1),
      "text-color": var(--fdAvatar_Accent_Color_1_Text),
      "border": var(--fdAvatar_Accent_Color_1_Border)
    ),
    "2":  (
      "background-color": var(--fdAvatar_Accent_Color_2),
      "text-color": var(--fdAvatar_Accent_Color_2_Text),
      "border": var(--fdAvatar_Accent_Color_2_Border)
    ),
    "3":  (
      "background-color": var(--fdAvatar_Accent_Color_3),
      "text-color": var(--fdAvatar_Accent_Color_3_Text),
      "border": var(--fdAvatar_Accent_Color_3_Border)
    ),
    "4":  (
      "background-color": var(--fdAvatar_Accent_Color_4),
      "text-color": var(--fdAvatar_Accent_Color_4_Text),
      "border": var(--fdAvatar_Accent_Color_4_Border)
    ),
    "5":  (
      "background-color": var(--fdAvatar_Accent_Color_5),
      "text-color": var(--fdAvatar_Accent_Color_5_Text),
      "border": var(--fdAvatar_Accent_Color_5_Border)
    ),
    "6":  (
      "background-color": var(--fdAvatar_Accent_Color_6),
      "text-color": var(--fdAvatar_Accent_Color_6_Text),
      "border": var(--fdAvatar_Accent_Color_6_Border)
    ),
    "7":  (
      "background-color": var(--fdAvatar_Accent_Color_7),
      "text-color": var(--fdAvatar_Accent_Color_7_Text),
      "border": var(--fdAvatar_Accent_Color_7_Border)
    ),
    "8":  (
      "background-color": var(--fdAvatar_Accent_Color_8),
      "text-color": var(--fdAvatar_Accent_Color_8_Text),
      "border": var(--fdAvatar_Accent_Color_8_Border)
    ),
    "9":  (
      "background-color": var(--fdAvatar_Accent_Color_9),
      "text-color": var(--fdAvatar_Accent_Color_9_Text),
      "border": var(--fdAvatar_Accent_Color_9_Border)
    ),
    "10": (
      "background-color": var(--fdAvatar_Accent_Color_10),
      "text-color": var(--fdAvatar_Accent_Color_10_Text),
      "border": var(--fdAvatar_Accent_Color_10_Border)
    )
  );

  @include fd-reset();

  border: var(--fdAvatar_Border);
  color: var(--sapContent_ContrastTextColor);
  background-color: $fd-avatar-background-color;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: var(--sapElement_BorderCornerRadius);

  @include fd-fiori-pseudo-focus(0);

  &[tabindex="0"] {
    cursor: pointer;
  }

  // BLOCK ELEMENTS ************
  // zoom icon
  &__zoom-icon {
    @include fd-icon-element-base() {
      @include fd-flex-center();

      position: absolute;
      color: var(--sapButton_Emphasized_TextColor);
      background-color: var(--sapButton_Emphasized_Background);
      border-radius: $fd-avatar-border-radius;
      border: 0.0625rem solid var(--sapButton_Emphasized_BorderColor);
    }
  }

  &__icon {
    @include fd-icon-element-base() {
      @include fd-flex-center() {
        align-content: center;
      }
    }
  }

  // BLOCK MODIFIERS ************
  // circle
  &--circle {
    border-radius: $fd-avatar-border-radius;

    .#{$block}__zoom-icon {
      @include fd-icon-selector() {
        bottom: 0;
        right: 0;

        @include fd-rtl() {
          right: auto;
          left: 0;
        }
      }
    }
  }

  // background
  &--transparent {
    background-color: var(--fdAvatar-Transparent_BackgroundColor);
    color: var(--sapContent_IconColor);
  }

  // background size
  &--background-contain {
    background-size: contain;
  }

  // placeholder background
  &--placeholder {
    background-color: var(--sapContent_ImagePlaceholderBackground);
  }

  // tile background
  &--tile {
    background-color: var(--fdAvatar_Tile_BackgroundColor);
  }

  // optional border
  &--border {
    border: 0.0625rem solid var(--sapGroup_ContentBorderColor);
  }

  // accent-colors
  @each $set-name, $color-set in $fd-avatar-accent-colors {
    &--accent-color-#{$set-name} {
      background-color: map_get($color-set, "background-color");
      color: map_get($color-set, "text-color");
      border: map_get($color-set, "border");
    }
  }

  // sizes
  @each $set-name, $size-set in $fd-avatar-sizes {
    &--#{$set-name} {
      @include fd-reset-spacing();

      width: map_get($size-set, "ratio");
      height: map_get($size-set, "ratio");
      max-width: map_get($size-set, "ratio");
      max-height: map_get($size-set, "ratio");
      min-width: map_get($size-set, "ratio");
      min-height: map_get($size-set, "ratio");
      font-size: map_get($size-set, "font-size");
      font-stretch: map_get($size-set, "fontStretch");
      display: inline-flex;
      align-items: center;
      justify-content: center;

      .#{$block}__zoom-icon {
        @include fd-icon-selector() {
          font-size: map_get($size-set, "beforeFontSize");
          width: map_get($size-set, "zoomIconDimensions");
          height: map_get($size-set, "zoomIconDimensions");
        }
      }

      // Do not modify alignment of the icon if it's circle avatar
      &:not(.#{$block}--circle) {
        .#{$block}__zoom-icon {
          @include fd-icon-selector() {
            bottom: map_get($size-set, "offset");
            right: map_get($size-set, "offset");

            @include fd-rtl() {
              right: auto;
              left: map_get($size-set, "offset");
            }
          }
        }
      }
    }
  }
}
