@import "./new-settings";
@import "./mixins";

/*!
.fd-checkbox
*/
$block: #{$fd-namespace}-checkbox;
$fd-checkbox-tristate-size: 0.75rem;
$fd-checkbox-tristate-offset: 0.3125rem;
$fd-checkbox-tristate-compact-size: 0.5rem;
$fd-checkbox-tristate-compact-offset: 0.25rem;

%fd-checkbox-input-hidden {
  position: absolute;
  opacity: 0.0001;
}

@mixin applyIndeterminatePadding() {
  $offset: 0.0625rem;

  padding-left: $offset;

  @include fd-rtl() {
    padding-left: 0;
    padding-right: $offset;
  }
}

.#{$block} {
  @mixin fd-checkbox-state($background-color, $text-color, $border-color, $border-size, $border-type, $box-shadow) {
    + .#{$block}__label {
      &::before {
        background-color: $background-color;
        border: $border-size $border-type $border-color;
        color: $text-color;
      }

      &::after {
        background-color: $text-color;
      }

      @include fd-hover() {
        @include fd-disabled() {
          border-color: $border-color;
        }

        &::before {
          box-shadow: $box-shadow;
          background-color: var(--sapField_Hover_Background);
        }
      }
    }
  }

  $fd-checkbox-dimensions: 1.375rem;
  $fd-checkbox-dimensions-compact: 1rem;
  $fd-checkbox-margin: 0.6875rem;
  $fd-checkbox-margin-compact: 0.5rem;

  @include fd-form-base();

  @extend %fd-checkbox-input-hidden;

  &__label {
    @include fd-form-label();
    @include action-cursor();

    line-height: 1rem;
    padding: $fd-checkbox-margin;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      height: $fd-checkbox-dimensions;
      width: $fd-checkbox-dimensions;
      min-width: $fd-checkbox-dimensions;
      font-size: var(--sapFontLargeSize);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-family: "SAP-icons";
      background-color: var(--sapField_Background);
      color: var(--fdCheckbox_Selected_Color);
      border: var(--sapField_BorderWidth) solid var(--sapField_BorderColor);
      border-radius: var(--sapField_BorderCornerRadius);
    }

    @include fd-hover() {
      &::before {
        background-color: var(--sapField_Hover_Background);
        border-color: var(--sapField_Hover_BorderColor);
        box-shadow: var(--fdCheckbox_Default_State_Hover_BoxShadow);
      }
    }

    &:focus {
      outline: none;
    }

    &--required,
    &[aria-required='true'] {
      .#{$block}__text {
        @include fd-form-radio-checkbox-required-label();
      }
    }
  }

  &__label-container {
    @include fd-reset();
    @include fd-flex-vertical-center();

    width: 100%;
    height: 1rem;
    pointer-events: none;
  }

  &__text {
    @include fd-reset();
    @include fd-ellipsis();
    @include fd-set-margins-x($fd-checkbox-margin, 0);

    color: var(--fdCheckbox_Label_Color);
  }

  &:checked + .#{$block}__label::before {
    content: "\e05b";
  }

  &:indeterminate + .#{$block}__label::after {
    content: "";
    width: $fd-checkbox-tristate-size;
    height: $fd-checkbox-tristate-size;
    background-color: var(--fdCheckbox_Selected_Color);
    position: absolute;
    margin-left: $fd-checkbox-tristate-offset;
  }

  &:indeterminate + .#{$block}__label--compact::after {
    content: "";
    width: $fd-checkbox-tristate-compact-size;
    height: $fd-checkbox-tristate-compact-size;
    background-color: var(--fdCheckbox_Selected_Color);
    position: absolute;
    margin-left: $fd-checkbox-tristate-compact-offset;
  }

  @include fd-rtl() {
    &:indeterminate + .#{$block}__label::after {
      margin-left: 0;
      margin-right: $fd-checkbox-tristate-offset;
    }

    &:indeterminate + .#{$block}__label--compact::after {
      margin-left: 0;
      margin-right: $fd-checkbox-tristate-compact-offset;
    }
  }

  // states
  &.is-warning,
  &.is-alert {
    @include fd-checkbox-state(var(--sapField_WarningBackground), var(--fdCheckbox_Warning_State_Color), var(--sapField_WarningColor), 0.125rem, var(--fdCheckbox_State_Border_Type), var(--fdCheckbox_Error_State_Hover_BoxShadow));
  }

  &.is-error {
    @include fd-checkbox-state(var(--sapField_InvalidBackground), var(--sapField_InvalidColor), var(--sapField_InvalidColor), 0.125rem, var(--fdCheckbox_State_Border_Type), var(--fdCheckbox_Error_State_Hover_BoxShadow));
  }

  &.is-success {
    @include fd-checkbox-state(var(--sapField_SuccessBackground), var(--sapField_SuccessColor), var(--sapField_SuccessColor), var(--sapField_BorderWidth), solid, var(--fdCheckbox_Success_State_Hover_BoxShadow));
  }

  &.is-information {
    @include fd-checkbox-state(var(--sapField_InformationBackground), var(--sapField_InformationColor), var(--sapField_InformationColor), 0.125rem, var(--fdCheckbox_State_Border_Type), var(--fdCheckbox_Information_State_Hover_BoxShadow));
  }

  &[readonly],
  &.is-readonly {
    @include fd-checkbox-state(var(--sapField_ReadOnly_Background), var(--sapContent_NonInteractiveIconColor), var(--sapField_ReadOnly_BorderColor), var(--sapField_BorderWidth), var(--fdCheckbox_ReadOnly_State_Border_Type), none);
  }

  @include fd-focus() {
    + .#{$block}__label {
      .#{$block}__label-container {
        @include fd-form-radio-checkbox-focus(var(--fdCheckbox_Outline_Offset));
      }
    }
  }

  @include fd-disabled() {
    opacity: 0.0001;

    + .#{$block}__label {
      pointer-events: none;
      opacity: 0.4;
    }
  }

  &--compact {
    + .#{$block}__label {
      padding: $fd-checkbox-margin-compact;

      &::before {
        font-size: var(--sapFontSmallSize);
        height: $fd-checkbox-dimensions-compact;
        width: $fd-checkbox-dimensions-compact;
        min-width: $fd-checkbox-dimensions-compact;
        margin-left: 0;
      }

      .#{$block}__text {
        @include fd-set-margins-x($fd-checkbox-margin-compact, 0);
      }
    }

    @include fd-focus() {
      + .#{$block}__label {
        .#{$block}__label-container {
          @include fd-form-radio-checkbox-focus(var(--fdCheckbox_Outline_Offset_Compact));
        }
      }
    }
  }
}
