@import './new-settings';
@import './mixins';

$block: #{$fd-namespace}-fixed-card-layout;

.#{$block} {
  $fd-border-on-drag: 0.125rem dashed var(--sapContent_DragAndDropActiveColor);
  $fd-card-margin: 1rem;
  $fd-card-min-width: 20rem;

  @include fd-reset();

  &__card-layout {
    @include fd-reset();
    @include fd-flex-horizontal-center();
    @include fd-set-margin-left(-$fd-card-margin);

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -#{$fd-card-margin};

    /* Re-order columns into rows */
    @for $i from 2 through 10 {
      &.#{$block}__card-layout--columns-#{$i} {
        .#{$block}__wrapper:nth-of-type(#{$i}n) {
          order: #{$i};
        }

        @for $k from 1 through $i - 1 {
          .#{$block}__wrapper:nth-of-type(#{$i}n + #{$k}) {
            order: #{$k};
          }
        }
      }
    }
  }

  &__wrapper {
    order: 1;
    min-height: 1px;

    &--single:empty {
      flex-basis: 100%;
    }
  }

  &__card,
  &__card-placeholder {
    @include fd-reset();
    @include fd-set-margin-left($fd-card-margin);

    margin-top: #{$fd-card-margin};
    min-width: $fd-card-min-width;
  }

  &__card-placeholder {
    opacity: 0.3;
    border: $fd-border-on-drag;
    cursor: grabbing;
  }

  &__card-preview {
    @include fd-reset();

    box-sizing: border-box;
    border-radius: var(--sapElement_BorderCornerRadius);
    box-shadow: var(--sapContent_Shadow2);
  }

  &__clearfix {
    @include fd-reset();

    width: 0;
    flex-basis: 100%;
  }
}
