@import './new-settings';

$block: #{$fd-namespace}-flex;

$fd-flex-spacings: (
  "tiny": 0.5rem,
  "small": 1rem,
  "medium": 2rem,
  "large": 3rem
);

.#{$block} {
  // Properties for the Parent (flex container)
  @mixin fd-flex($direction: row) {
    display: flex;
    flex-direction: $direction;

    @content;
  }

  @include fd-flex();

  // ----------- FLEX ALIGN CONTENT -----------
  @mixin fd-flex-align-content($type: normal) {
    @include fd-flex() {
      flex-wrap: wrap;
      align-content: $type;
    }

    @content;
  }

  $optionsAlignContent: flex-start, flex-end, center, space-between, space-around, space-evenly, stretch, start, end, baseline;

  @each $type in $optionsAlignContent {
    &--align-content-#{$type} {
      @include fd-flex-align-content(#{$type});
    }
  }

  // ----------- FLEX ALIGN ITEMS -----------
  @mixin fd-flex-align-items($type: stretch) {
    @include fd-flex() {
      align-items: $type;
    }

    @content;
  }

  $optionsAlignItems: stretch, flex-start, flex-end, center, baseline, start, end, self-start, self-end;

  @each $type in $optionsAlignItems {
    &--align-items-#{$type} {
      @include fd-flex-align-items(#{$type});
    }
  }

  // ----------- FLEX DIRECTION -----------
  $optionsDirection: row, row-reverse, column, column-reverse;

  @each $type in $optionsDirection {
    &--#{$type} {
      @include fd-flex(#{$type});
    }
  }

  // ----------- FLEX GAP -----------
  @each $type, $value in $fd-flex-spacings {
    &--gap-#{$type} {
      @include fd-flex() {
        gap: $value;
      }
    }
  }

  @each $type, $value in $fd-flex-spacings {
    &--row-gap-#{$type} {
      @include fd-flex() {
        row-gap: $value;
      }
    }
  }

  @each $type, $value in $fd-flex-spacings {
    &--column-gap-#{$type} {
      @include fd-flex() {
        column-gap: $value;
      }
    }
  }

  @mixin fd-flex-gap($value, $type: "") {
    @include fd-flex();

    $_value: "";

    @if $value == "tiny" {
      $_value: map_get($fd-flex-spacings, "tiny");
    } @else if $value == "small" {
      $_value: map_get($fd-flex-spacings, "small");
    } @else if $value == "medium" {
      $_value: map_get($fd-flex-spacings, "medium");
    } @else if $value == large {
      $_value: map_get($fd-flex-spacings, "large");
    } @else {
      $_value: $value;
    }

    @if $type == "" {
      gap: $_value;
    } @else {
      #{$type}-gap: $_value;
    }

    @content;
  }

  // ----------- FLEX JUSTIFY CONTENT -----------
  @mixin fd-flex-justify($type: flex-start) {
    @include fd-flex() {
      justify-content: $type;
    }

    @content;
  }

  $optionsJustify: flex-start, flex-end, center, space-between, space-around, space-evenly, start, end, left, right;

  @each $type in $optionsJustify {
    &--justify-#{$type} {
      @include fd-flex-justify(#{$type});
    }
  }

  // ----------- FLEX WRAP -----------
  @mixin fd-flex-wrap($type: nowrap) {
    @include fd-flex() {
      flex-wrap: $type;
    }

    @content;
  }

  $optionsWrap: nowrap, wrap, wrap-reverse;

  @each $type in $optionsWrap {
    &--#{$type} {
      @include fd-flex-wrap(#{$type});
    }
  }

  // ----------- FLEX CENTER -----------
  @mixin fd-flex-center($direction: row) {
    @include fd-flex() {
      align-items: center;
      justify-content: center;
      flex-direction: $direction;
    }

    @content;
  }

  &--center {
    @include fd-flex-center();

    &-column {
      @include fd-flex-center(column);
    }
  }

  // Properties for the Children (flex items)

  // ----------- FLEX ORDER -----------
  @mixin fd-flex-order($value: 0) {
    order: $value;

    @content;
  }

  @for $i from 0 through 20 {
    &-order-#{$i} {
      @include fd-flex-order(#{$i});
    }
  }

  // ----------- FLEX GROW -----------
  @mixin fd-flex-grow($value) {
    flex-grow: $value;

    @content;
  }

  @for $i from 1 through 20 {
    &-grow-#{$i} {
      @include fd-flex-grow(#{$i});
    }
  }

  // ----------- FLEX SHRINK -----------
  @mixin fd-flex-shrink($value) {
    flex-shrink: $value;

    @content;
  }

  @for $i from 1 through 20 {
    &-shrink-#{$i} {
      @include fd-flex-shrink(#{$i});
    }
  }

  // ----------- FLEX ALIGN SELF -----------
  @mixin fd-flex-align-self($value) {
    align-self: $value;

    @content;
  }

  $optionsAlignSelf: auto, flex-start, flex-end, center, baseline, stretch;

  @each $type in $optionsAlignSelf {
    &-align-self-#{$type} {
      @include fd-flex-align-self(#{$type});
    }
  }

  // ----------- FLEX CHILD -----------
  @mixin fd-flex-child($value) {
    flex: $value;

    @content;
  }
}
