@import "./mixins";
@import "./layout-grid.scss";

$block: #{$fd-namespace}-form-layout-grid;
$blockContainer: #{$block}-container;

$gridContainer: #{$fd-namespace}-container;
$gridRow: #{$fd-namespace}-row;
$gridCol: #{$fd-namespace}-col;

$cols: 12;
$gutter: 0.25rem;

@mixin fd-form-col-paddings($colSelector) {
  .#{$gridContainer}.#{$blockContainer} .#{$gridRow} {
    @for $col from 1 through $cols - 1 {
      .#{$colSelector}--#{$col} {
        .fd-form-label {
          float: right;
          padding-bottom: 0;

          @include fd-rtl() {
            float: left;
          }
        }
      }
    }

    .#{$colSelector},
    .#{$colSelector}--12 {
      .fd-form-label {
        float: left;
        padding-bottom: 0.125rem;

        @include fd-rtl() {
          float: right;
        }
      }
    }
  }
}

.#{$gridContainer}.#{$blockContainer} {
  padding: 1rem;

  .#{$gridRow} {
    align-items: center;
    margin-bottom: 0.625rem;

    &--top {
      align-items: start;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .#{$gridCol} {
      padding-top: 0;
      overflow: hidden;
      text-overflow: ellipsis;

      .fd-select__control {
        margin: 0.25rem 0;
      }

      .fd-form-label {
        margin-right: 0;
        padding-right: 0.5rem;

        @include fd-rtl() {
          margin-left: 0;
          padding-left: 0.5rem;
        }
      }

      &__form-group {
        padding: 1rem;
      }
    }

    .#{$gridRow}__form-item {
      flex-direction: row;
    }
  }
}

@media (min-width: 0) {
  @include fd-form-col-paddings('fd-col');
}

@media (min-width: 600px) {
  .#{$gridContainer}.#{$blockContainer} {
    padding: 1rem;

    .#{$gridRow} {
      margin: 0 -#{$gutter};
      min-width: calc(100% + #{$gutter} * 2);

      .#{$gridCol} {
        padding: 0 $gutter;

        &__form-group {
          padding: 1rem;
        }
      }
    }
  }

  @include fd-form-col-paddings('fd-col-md');
}

@media (min-width: 1024px) {
  @include fd-form-col-paddings('fd-col-lg');
}

@media (min-width: 1440px) {
  @include fd-form-col-paddings('fd-col-xl');
}
