@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-info-label;

$fd-info-label-height: 1rem !default;
$fd-info-label-icon-text-spacing: 0.125rem !default;
$fd-info-label-border-width: 0.0625rem !default;
$fd-info-label-border-style: solid !default;
$fd-info-label-font-size: var(--sapFontSmallSize) !default;

$color-accents: (
  "1": ("background": var(--fdInfo_Label_Background_Color1), "border": var(--fdInfo_Label_Border_Color1), "color": var(--fdInfo_Label_Color1)),
  "2": ("background": var(--fdInfo_Label_Background_Color2), "border": var(--fdInfo_Label_Border_Color2), "color": var(--fdInfo_Label_Color2)),
  "3": ("background": var(--fdInfo_Label_Background_Color3), "border": var(--fdInfo_Label_Border_Color3), "color": var(--fdInfo_Label_Color3)),
  "4": ("background": var(--fdInfo_Label_Background_Color4), "border": var(--fdInfo_Label_Border_Color4), "color": var(--fdInfo_Label_Color4)),
  "5": ("background": var(--fdInfo_Label_Background_Color5), "border": var(--fdInfo_Label_Border_Color5), "color": var(--fdInfo_Label_Color5)),
  "6": ("background": var(--fdInfo_Label_Background_Color6), "border": var(--fdInfo_Label_Border_Color6), "color": var(--fdInfo_Label_Color6)),
  "7": ("background": var(--fdInfo_Label_Background_Color7), "border": var(--fdInfo_Label_Border_Color7), "color": var(--fdInfo_Label_Color7)),
  "8": ("background": var(--fdInfo_Label_Background_Color8), "border": var(--fdInfo_Label_Border_Color8), "color": var(--fdInfo_Label_Color8)),
  "9": ("background": var(--fdInfo_Label_Background_Color9), "border": var(--fdInfo_Label_Border_Color9), "color": var(--fdInfo_Label_Color9)),
  "10": ("background": var(--fdInfo_Label_Background_Color10), "border": var(--fdInfo_Label_Border_Color10), "color": var(--fdInfo_Label_Color10))
);

.#{$block} {
  @include fd-reset();
  @include fd-ellipsis();

  display: inline-flex;
  align-items: center;
  border-radius: 0.5rem;
  line-height: normal;
  height: $fd-info-label-height;
  max-width: 100%;
  font-size: $fd-info-label-font-size;
  letter-spacing: 0.0125rem;
  text-align: center;
  padding: 0 0.3125rem;
  border-width: $fd-info-label-border-width;
  border-style: $fd-info-label-border-style;

  &__icon {
    @include fd-icon-element-base() {
      font-size: 0.75rem;
      margin-right: $fd-info-label-icon-text-spacing;

      @include fd-rtl() {
        margin-right: 0;
        margin-left: $fd-info-label-icon-text-spacing;
      }

      @include fd-only-child() {
        margin: 0;

        @include fd-rtl() {
          margin: 0;
        }
      }
    }

    &::before {
      vertical-align: middle;
    }
  }

  &__text {
    @include fd-reset();
    @include fd-ellipsis();

    font-size: inherit;
    font-weight: bold;
    color: inherit;
    line-height: 1;
  }

  @each $set-name, $color-set in $color-accents {
    &--accent-color-#{$set-name} {
      background-color: map_get($color-set, "background");
      border-color: map_get($color-set, "border");
      color: map_get($color-set, "color");

      @include fd-icon-overwrite() {
        border-color: map_get($color-set, "border");
      }
    }
  }

  &--display {
    border-color: var(--fdInfo_Label_Display_Border_Color);
    background-color: var(--fdInfo_Label_Display_Background_Color);
    color: var(--fdInfo_Label_Display_Text_Color);
  }

  &--numeric {
    padding: 0 0.1875rem;
    font-weight: bold;
  }

  &--icon {
    font-size: $fd-info-label-font-size;
    padding: 0 0.1875rem;
    line-height: 1rem;
  }
}
