@import "./new-settings";
@import "./mixins";
@import "./mixins/button/button-helper";
@import "./mixins/input/addon-button";

/*!
.fd-input-group+(--inline, --control)
    .fd-input-group__addon+(--button)
*/

$block: #{$fd-namespace}-input-group;

$fd-input-border-radius: var(--sapField_BorderCornerRadius);

.#{$block} {
  @mixin fd-control-button-side-border() {
    .#{$block}__button {
      border-left: var(--fdInputGroup_ControlButton_SideBorder);

      @include fd-rtl() {
        border-left: none;
        border-right: var(--fdInputGroup_ControlButton_SideBorder);
      }
    }
  }

  $fd-input-padding: 0.625rem;
  $fd-input-width-basis: 10rem;
  $fd-input-group-add-on-border: 0.0625rem;

  @include fd-reset();

  display: flex;
  border-style: solid;
  border-width: var(--sapField_BorderWidth);
  border-color: var(--sapField_BorderColor);
  border-radius: var(--sapField_BorderCornerRadius);
  background-color: var(--sapField_Background);
  width: 100%;
  overflow: hidden;
  text-shadow: var(--fdInputGroup_Text_Shadow);
  position: relative;

  // states
  @include fd-form-base();
  @include fd-form-states();

  @include fd-form-input-pseudo-focus(
    var(--fdStepInput_Focus_Border_Offset),
    var(--fdInputGroup_Focus_Border_Radius)
  ) {
    z-index: 10;
  }

  > * {
    border-radius: $fd-input-border-radius;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    @include fd-rtl() {
      border-radius: $fd-input-border-radius;

      &:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  // button styles
  @include fd-input-button-states();

  .#{$block}__input {
    @include fd-reset-child-spacing();

    border: none;
    flex: 1 1 $fd-input-width-basis;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    text-shadow: var(--fdInputGroup_Text_Shadow);
    background: none !important;

    @include fd-hover() {
      box-shadow: none;
    }

    @include fd-focus() {
      outline: none;
      box-shadow: none;
    }

    &:nth-child(1) {
      @include fd-set-padding-left($fd-input-padding);
    }

    &:nth-last-child(1) {
      @include fd-set-padding-right($fd-input-padding);
    }
  }

  .#{$fd-namespace}-tokenizer {
    background: none;
    border: none;
  }

  &--inline {
    display: inline-flex;
    vertical-align: bottom;
    width: auto;
  }

  &__addon {
    @include fd-reset();
    @include fd-flex-center();
    @include fd-ellipsis();

    color: var(--sapContent_NonInteractiveIconColor);
    background: none !important;
    font-size: var(--sapFontLargeSize);
    min-width: 2.25rem;
    min-height: $fd-form-input-height;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    span[class*='sap-icon--'] {
      &::before {
        font-size: var(--sapFontLargeSize);
      }
    }

    &--compact {
      min-width: 2rem;
      min-height: $fd-form-input-height--compact;
    }

    &--readonly {
      opacity: 0.4;
    }

    &--button {
      padding: 0;
      display: flex;
      flex-direction: column;
      border: none;
      border-radius: $fd-input-group-add-on-border;

      .#{$block}__button {
        @include fd-reset-child-spacing();

        border-radius: 0;
        height: 100%;
        max-height: 100%;
      }

      @include fd-hover() {
        box-shadow: var(--fdButton_Hover_Shadow);
      }

      > * {
        border-radius: 0;
      }

      &:first-child {
        border-radius: var(--fdInputGroup_Button_FirstChild_Border_Radius);
      }

      &:last-child {
        border-radius: var(--fdInputGroup_Button_LastChild_Border_Radius);
      }

      &:not(:first-child):not(:last-child) {
        .#{$block}__button {
          border-radius: 0;
        }
      }

      @include fd-rtl() {
        // reverse the border radius sides in rtl mode
        &:first-child {
          border-radius: var(--fdInputGroup_Button_LastChild_Border_Radius);
          margin-right: 0;
        }

        &:last-child {
          border-radius: var(--fdInputGroup_Button_FirstChild_Border_Radius);
          margin-left: 0;
        }
      }
    }
  }

  &__button {
    @include fd-ellipsis();

    border: none;
    width: 100%;
    z-index: auto !important;
    position: static !important;

    @include fd-focus() {
      @include fd-button-focus() {
        outline-color: var(--sapField_Hover_BorderColor);
      }
    }

    @include fd-disabled() {
      background: none !important;
      box-shadow: none !important;
    }

    &::before {
      display: none !important;
    }
  }

  .#{$fd-namespace}-button.#{$block}__button {
    border-color: transparent;
  }

  &--control {
    @include fd-hover() {
      @include fd-control-button-side-border();
    }

    @include fd-active() {
      @include fd-control-button-side-border();
    }
  }

  .#{$fd-namespace}-textarea {
    resize: vertical;
  }

  &[readonly],
  &.is-readonly {
    overflow: visible;

    .#{$block}__addon {
      display: none;
    }
  }
}
