@use "sass:math";

// https://github.com/stylelint/stylelint/issues/5133#issuecomment-834145196
/* stylelint-disable */
@import "./mixins";
/* stylelint-enable */

$blockContainer: #{$fd-namespace}-container;
$blockRow: #{$fd-namespace}-row;
$blockCol: #{$fd-namespace}-col;

$vertical-gutter: 1rem;
$vertical-gutter-small: 0.5rem;
$horizontal-gutter: 0.5rem;
$horizontal-gutter-small: 0.25rem;

$size: (600 :"md", 1024: "lg", 1440: "xl");
$md: 600;
$lg: 1024;
$xl: 1440;
$cols: 12;

@mixin full {
  min-width: math.div(1, 12) * 100%;
  max-width: none;
  flex: 1;
}

@mixin responsive-column($sizePrefix: null) {
  $classPrefix: #{$blockCol};

  @if ($sizePrefix) {
    $classPrefix: $blockCol + '-' + $sizePrefix;
  }

  @for $n from 0 through $cols {
    .#{$classPrefix}--#{$n} {
      min-width: math.div($n, $cols) * 100%;
      max-width: math.div($n, $cols) * 100%;
    }

    .#{$classPrefix}--offset-#{$n} {
      @include fd-set-margin-left(math.div($n, $cols) * 100%);
    }

    .#{$classPrefix}--offset-after-#{$n} {
      @include fd-set-margin-right(math.div($n, $cols) * 100%);
    }
  }
}

.#{$blockContainer},
.#{$blockRow},
.#{$blockCol} {
  @include fd-reset();
}

.#{$blockContainer} {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  position: relative;
  padding: 0 $horizontal-gutter-small;

  &.#{$blockContainer}--no-horizontal-gap,
  &.#{$blockContainer}--no-gap {
    .#{$blockRow} {
      @include fd-reset-margins-x();

      .#{$blockCol} {
        @include fd-reset-paddings-x();
      }
    }
  }

  &.#{$blockContainer}--no-vertical-gap,
  &.#{$blockContainer}--no-gap {
    > .#{$blockRow} > .#{$blockCol} {
      @include fd-reset-paddings-y();
    }
  }

  @include fd-rtl() {
    direction: rtl;
  }

  > .#{$blockRow} {
    @include fd-set-margins-x-equal(-$horizontal-gutter-small);

    min-width: calc(100% + #{$horizontal-gutter-small} * 2);

    > .#{$blockCol} {
      @include fd-set-paddings-y-equal(math.div($vertical-gutter-small, 2));
    }
  }
}

.#{$blockRow} {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  position: relative;
  min-width: 100%;
}

.#{$blockCol} {
  @include fd-set-paddings-x-equal($horizontal-gutter-small);

  @at-root {
    @include responsive-column();
  }

  min-width: 100%;
  max-width: 100%;

  &--full {
    @include full();
  }

  &--wrap {
    flex-wrap: wrap;
  }
}

@media (min-width: 600px) {
  .#{$blockContainer} {
    padding: 0 $horizontal-gutter;

    > .#{$blockRow} {
      @include fd-set-margins-x-equal(-$horizontal-gutter);

      min-width: calc(100% + #{$horizontal-gutter} * 2);

      > .#{$blockCol} {
        @include fd-set-paddings-y-equal(math.div($vertical-gutter, 2));
      }
    }
  }

  .#{$blockCol} {
    @include fd-set-paddings-x-equal($horizontal-gutter);

    @at-root {
      @include responsive-column(map-get($size, $md));
    }
  }
}

@media (min-width: 1024px) {
  .#{$blockCol} {
    @at-root {
      @include responsive-column(map-get($size, $lg));
    }
  }
}

@media (min-width: 1440px) {
  .#{$blockCol} {
    @at-root {
      @include responsive-column(map-get($size, $xl));
    }
  }
}
