@import './new-settings';
@import './mixins';

/*!
.fd-link
*/
$block: #{$fd-namespace}-link;

.#{$block} {
  @include fd-reset();
  @include fd-link();

  @include fd-icon-element-base() {
    text-decoration: var(--fdLink_Text_Decoration);
  }

  @include fd-hover() {
    @include fd-icon-selector() {
      text-decoration: var(--fdLink_Text_Decoration_Opposite);
      color: var(--sapLink_Hover_Color);
    }
  }

  @include fd-focus() {
    @include fd-icon-selector() {
      text-decoration: var(--fdLink_Text_Decoration_Opposite);
      color: var(--sapLinkColor);
    }
  }

  @include fd-active() {
    @include fd-icon-selector() {
      text-decoration: var(--fdLink_Text_Decoration_Opposite);
      color: var(--sapLink_Active_Color);
    }
  }
}
