@import './mixins';

$block: #{$fd-namespace}-notification;

.#{$block} {
  // variables
  $fd-notification-max-width-m: 40rem !default;
  $fd-notification-background-color: var(--sapList_Background) !default;
  $fd-notification-box-shadow: var(--sapContent_Shadow0) !default;

  $fd-notification-border-radius: 0.25rem !default;
  $fd-notification-group-border-radius-first-child: 0.25rem 0.25rem 0 0 !default;
  $fd-notification-group-border-radius-last-child: 0 0 0.25rem 0.25rem !default;
  $fd-notification-border: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);

  $fd-notification__footer-padding: 0 0 0 0.5rem;

  $fd-notification-indicator-color-error: var(--sapErrorColor) !default;
  $fd-notification-indicator-color-warning: var(--sapWarningColor) !default;
  $fd-notification-indicator-color-success: var(--sapSuccessColor) !default;
  $fd-notification-indicator-color-information: var(--sapInformationColor) !default;

  $fd-notification-indicator-border-color-default: var(--sapNeutralBorderColor) !default;
  $fd-notification-indicator-border-color-error: var(--sapErrorBorderColor) !default;
  $fd-notification-indicator-border-color-warning: var(--sapWarningBorderColor) !default;
  $fd-notification-indicator-border-color-success: var(--sapSuccessBorderColor) !default;
  $fd-notification-indicator-border-color-information: var(--sapInformationBorderColor) !default;

  $fd-notification-padding-left: 0.5rem;
  $fd-notification-padding-right: 1rem;
  $fd-notification-content-offset: 0.75rem;
  $fd-notification-padding-mobile: 0.75rem;
  $fd-notification-actions-offset: 0.5rem;
  $fd-notification-reset-offset: 0;

  // mixins

  @mixin fd-priority-indicator($type) {
    @include fd-icon('message-#{$type}');
  }

  @mixin fd-hide-on-mobile {
    @include fd-screen(s) {
      display: none !important;
    }

    @include fd-screen(m) {
      display: inline-block !important;
    }
  }

  @mixin fd-notification-mobile() {
    .#{$block}__body:last-of-type {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @include fd-reset();

  background-color: $fd-notification-background-color;
  box-shadow: $fd-notification-box-shadow;
  border-radius: $fd-notification-border-radius;
  margin-bottom: 1.25rem;
  width: 100%;
  max-width: $fd-notification-max-width-m;
  box-sizing: border-box;
  padding: 1rem 0.5rem 1rem 1rem;

  @include fd-rtl() {
    padding-right: $fd-notification-padding-right;
    padding-left: $fd-notification-padding-left;
  }

  &__body {
    @include fd-reset();

    display: flex;
    justify-content: space-between;

    &--message {
      padding-top: 1rem;
    }
  }

  &__content {
    @include fd-reset();

    width: 100%;
    margin-left: $fd-notification-padding-right;
    overflow: auto;

    @include fd-rtl() {
      margin-right: $fd-notification-padding-right;
      margin-left: $fd-notification-reset-offset;
    }

    &:first-child {
      margin-left: 0;

      @include fd-rtl() {
        margin-right: 0;
      }
    }
  }

  .#{$block}__title {
    @include fd-reset();
    @include line-clamp(2);

    font-weight: var(--sapFontHeaderWeight);
    font-size: var(--sapFontHeader6Size);
    max-height: 2.5rem;
    margin-bottom: 0.25rem;

    &--unread {
      font-weight: bold;
    }
  }

  .#{$block}__paragraph {
    @include fd-reset();
    @include line-clamp(2);

    padding-top: 0.5rem;
    max-height: 2.75rem;
  }

  .#{$block}__footer {
    @include fd-reset();

    display: flex;
    padding-top: 0.5rem;

    &-content {
      @include fd-ellipsis();

      max-width: 50%;

      &:only-child {
        max-width: 100%;
      }
    }
  }

  .#{$block}__separator {
    @include fd-reset();

    margin: 0 0.5rem;
    font-size: var(--sapFontSize);

    &::before {
      content: '\00b7';
    }
  }

  &__header {
    @include fd-reset();

    display: flex;
  }

  &__actions {
    @include fd-reset();

    display: flex;
    align-items: flex-start;
    padding-left: $fd-notification-padding-right;
    flex: 1 0 auto; // IE11 fix for button

    @include fd-rtl() {
      padding-left: $fd-notification-reset-offset;
      padding-right: $fd-notification-padding-right;
    }

    & > * {
      margin-left: $fd-notification-actions-offset;

      &:first-child {
        margin-left: $fd-notification-reset-offset;
      }

      @include fd-rtl() {
        margin-left: $fd-notification-reset-offset;
        margin-right: $fd-notification-actions-offset;
      }
    }
  }

  &__limit {
    @include fd-reset();

    padding: 1rem;
    text-align: center;

    &--title {
      @include fd-reset();

      font-size: var(--sapFontHeader5Size);
      white-space: break-spaces;
    }

    &--description {
      @include fd-reset();

      margin: 0.5rem 0 0;
      white-space: break-spaces;
    }
  }

  &__indicator {
    @include fd-reset();

    padding-right: 0.5rem;

    @include fd-rtl() {
      padding-right: 0;
      padding-left: $fd-notification-padding-left;
    }

    &--error {
      @include fd-priority-indicator('error');

      color: $fd-notification-indicator-color-error;
    }

    &--success {
      @include fd-priority-indicator('success');

      color: $fd-notification-indicator-color-success;
    }

    &--warning {
      @include fd-priority-indicator('warning');

      color: $fd-notification-indicator-color-warning;
    }

    &--information {
      @include fd-priority-indicator('information');

      color: $fd-notification-indicator-color-information;
    }
  }

  &--group {
    @include fd-reset();
    @include fd-notification-mobile();

    overflow: hidden;
    height: 100%;

    .#{$block}__body {
      padding: 1rem 0.5rem 1rem 1rem;
      border-bottom: $fd-notification-border;

      @include fd-rtl() {
        padding-left: $fd-notification-padding-left;
        padding-right: $fd-notification-padding-right;
      }
    }

    .#{$block}__group-header {
      @include fd-reset();

      display: flex;
      align-items: baseline;
      border-bottom: $fd-notification-border;
      padding: 0.75rem 0.5rem 0.25rem 1rem;

      @include fd-rtl() {
        padding-left: 0.5rem;
        padding-right: 1rem;
      }
    }

    @include fd-rtl() {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--mobile {
    @include fd-notification-mobile();

    padding: $fd-notification-reset-offset;

    .#{$block}__indicator {
      padding-right: 0.25rem;

      @include fd-rtl() {
        padding-right: $fd-notification-reset-offset;
        padding-left: $fd-notification-padding-mobile;
      }
    }

    .#{$block}__group-header {
      padding: 0.5rem 0.5rem 0 0.5rem;
    }

    .#{$block}__body {
      padding: 1rem 0.5rem 1rem 0.75rem;

      @include fd-rtl() {
        padding-right: $fd-notification-padding-mobile;
        padding-left: $fd-notification-padding-left;
      }
    }

    .#{$block}__content {
      margin-left: $fd-notification-content-offset;

      @include fd-rtl() {
        margin-right: $fd-notification-content-offset;
        margin-left: $fd-notification-reset-offset;
      }
    }
  }

  &--in-dialog {
    box-shadow: none;
    margin-bottom: 0;
    border-bottom: $fd-notification-border;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:last-of-type {
      border-bottom: none;
    }
  }
}
