@import "./new-settings";
@import "./functions";
@import "./mixins";

/*!
.fd-object-status+(--success | --warning | --error | --informative | --neutral)
*/
$block: #{$fd-namespace}-object-status;

$color-states: (
  "positive": ("color": var(--sapPositiveTextColor), "iconColor": var(--sapPositiveElementColor)),
  "critical": ("color": var(--sapCriticalTextColor), "iconColor": var(--sapCriticalElementColor)),
  "negative": ("color": var(--sapNegativeTextColor), "iconColor": var(--sapNegativeElementColor)),
  "informative": ("color": var(--sapInformativeTextColor), "iconColor": var(--sapInformativeElementColor)),
  "neutral": ("color": var(--sapNeutralTextColor), "iconColor": var(--sapNeutralElementColor))
);

$color-accents: (
  "1": ("color": var(--sapIndicationColor_1), "visited": var(--sapIndicationColor_1)),
  "2": ("color": var(--sapIndicationColor_2), "visited": var(--sapIndicationColor_2)),
  "3": ("color": var(--sapIndicationColor_3), "visited": var(--sapIndicationColor_3)),
  "4": ("color": var(--sapIndicationColor_4), "visited": var(--sapIndicationColor_4)),
  "5": ("color": var(--sapIndicationColor_5), "visited": var(--sapIndicationColor_5)),
  "6": ("color": var(--sapAccentColor7), "visited": var(--sapAccentColor7)),
  "7": ("color": var(--sapAccentColor9), "visited": var(--sapAccentColor9)),
  "8": ("color": var(--sapAccentColor4), "visited": var(--sapAccentColor4))
);

$inverted-color-states: (
  "neutral": (
    "regular": ("color": var(--sapButton_Neutral_TextColor), "background": var(--sapButton_Neutral_Background), "borderColor": var(--sapButton_Neutral_Hover_BorderColor)),
    "hover": ("color": var(--sapButton_Neutral_Hover_TextColor), "background": var(--sapButton_Neutral_Hover_Background)),
    "active": ("color": var(--sapButton_Active_TextColor), "background": var(--sapButton_Neutral_Active_Background)),
    "visited": ("color": var(--sapButton_Neutral_TextColor), "background": var(--sapButton_Neutral_Background)),
  ),
  "positive": (
    "regular": ("color": var(--sapButton_Success_TextColor), "background": var(--sapButton_Success_Background), "borderColor": var(--sapButton_Success_BorderColor)),
    "hover": ("color": var(--sapButton_Success_Hover_TextColor), "background": var(--sapButton_Success_Hover_Background)),
    "active": ("color": var(--sapButton_Active_TextColor), "background": var(--sapButton_Success_Active_Background)),
    "visited": ("color": var(--sapButton_Critical_TextColor), "background": var(--sapButton_Success_Background)),
  ),
  "critical": (
    "regular": ("color": var(--sapButton_Critical_TextColor), "background": var(--sapButton_Critical_Background), "borderColor": var(--sapButton_Critical_BorderColor)),
    "hover": ("color": var(sapButton_Critical_Hover_TextColor), "background": var(--sapButton_Critical_Hover_Background)),
    "active": ("color": var(--sapButton_Active_TextColor), "background": var(--sapButton_Critical_Active_Background)),
    "visited": ("color": var(--sapButton_Critical_TextColor), "background": var(--sapButton_Critical_Background)),
  ),
  "negative": (
    "regular": ("color": var(--sapButton_Negative_TextColor),"background": var(--sapButton_Negative_Background), "borderColor": var(--sapButton_Negative_BorderColor)),
    "hover": ("color": var(--sapButton_Negative_Hover_TextColor), "background": var(--sapButton_Negative_Hover_Background)),
    "active": ("color": var(--sapButton_Active_TextColor),"background": var(--sapButton_Negative_Active_Background)),
    "visited": ("color": var(--sapButton_Negative_TextColor), "background": var(--sapButton_Negative_Background)),
  ),
  "informative": (
    "regular": ("color": var(--sapButton_Information_TextColor), "background": var(--sapButton_Information_Background), "borderColor": var(--sapButton_Information_BorderColor)),
    "hover": ("color": var(--sapButton_Information_Hover_TextColor), "background": var(--sapButton_Information_Hover_Background)),
    "active": ("color": var(--sapButton_Active_TextColor), "background": var(--sapButton_Information_Active_Background)),
    "visited": ("color": var(--sapButton_Information_TextColor), "background": var(--sapButton_Information_Background)),
  ),
);

$inverted-color-accents: (
  "1": (
    "regular": ("color": var(--sapIndicationColor_1_TextColor), "background": var(--sapIndicationColor_1)),
    "hover": ("color": var(--sapIndicationColor_1_TextColor), "background": var(--sapIndicationColor_1_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_1_TextColor), "background": var(--sapIndicationColor_1_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_1_TextColor), "background": var(--sapIndicationColor_1)),
  ),
  "2": (
    "regular": ("color": var(--sapIndicationColor_2_TextColor), "background": var(--sapIndicationColor_2)),
    "hover": ("color": var(--sapIndicationColor_2_TextColor), "background": var(--sapIndicationColor_2_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_2_TextColor), "background": var(--sapIndicationColor_2_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_2_TextColor), "background": var(--sapIndicationColor_2)),
  ),
  "3": (
    "regular": ("color": var(--sapIndicationColor_3_TextColor), "background": var(--sapIndicationColor_3)),
    "hover": ("color": var(--sapIndicationColor_3_TextColor), "background": var(--sapIndicationColor_3_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_3_TextColor), "background": var(--sapIndicationColor_3_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_3_TextColor), "background": var(--sapIndicationColor_3)),
  ),
  "4": (
    "regular": ("color": var(--sapIndicationColor_4_TextColor), "background": var(--sapIndicationColor_4)),
    "hover": ("color": var(--sapIndicationColor_4_TextColor), "background": var(--sapIndicationColor_4_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_4_TextColor), "background": var(--sapIndicationColor_4_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_4_TextColor), "background": var(--sapIndicationColor_4)),
  ),
  "5": (
    "regular": ("color": var(--sapIndicationColor_5_TextColor), "background": var(--sapIndicationColor_5)),
    "hover": ("color": var(--sapIndicationColor_5_TextColor), "background": var(--sapIndicationColor_5_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_5_TextColor), "background": var(--sapIndicationColor_5_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_5_TextColor), "background": var(--sapIndicationColor_5)),
  ),
  "6": (
    "regular": ("color": var(--sapIndicationColor_6_TextColor), "background": var(--sapIndicationColor_6)),
    "hover": ("color": var(--sapIndicationColor_6_TextColor), "background": var(--sapIndicationColor_6_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_6_TextColor), "background": var(--sapIndicationColor_6_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_6_TextColor), "background": var(--sapIndicationColor_6)),
  ),
  "7": (
    "regular": ("color": var(--sapIndicationColor_7_TextColor), "background": var(--sapIndicationColor_7)),
    "hover": ("color": var(--sapIndicationColor_7_TextColor), "background": var(--sapIndicationColor_7_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_7_TextColor), "background": var(--sapIndicationColor_7_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_7_TextColor), "background": var(--sapIndicationColor_7)),
  ),
  "8": (
    "regular": ("color": var(--sapIndicationColor_8_TextColor), "background": var(--sapIndicationColor_8)),
    "hover": ("color": var(--sapIndicationColor_8_TextColor), "background": var(--sapIndicationColor_8_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_8_TextColor), "background": var(--sapIndicationColor_8_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_8_TextColor), "background": var(--sapIndicationColor_8)),
  ),
);

@mixin fd-object-status-icon-selector() {
  .#{$block}__icon {
    @include fd-icon-selector() {
      @content;
    }
  }
}

// STATES FOR INVERTED OBJECT STATUS
@mixin inverted-object-states($variablesSet) {
  color: map_deep_get($variablesSet, "regular", "color");
  background-color: map_deep_get($variablesSet, "regular", "background");

  @include fd-object-status-icon-selector() {
    color: map_deep_get($variablesSet, "regular", "color");
  }

  &:hover,
  &:active,
  &:visited {
    color: map_deep_get($variablesSet, "regular", "color");
    background-color: map_deep_get($variablesSet, "regular", "background");

    @include fd-object-status-icon-selector() {
      color: map_deep_get($variablesSet, "regular", "color");
    }
  }
}

// INTERACTION STATES FOR INVERTED OBJECT STATUS
@mixin inverted-object-interaction-states($variablesSet) {
  color: map_deep_get($variablesSet, "regular", "color");
  background-color: map_deep_get($variablesSet, "regular", "background");
  border-color: map_deep_get($variablesSet, "regular", "borderColor");

  &:visited {
    color: map_deep_get($variablesSet, "visited", "color");
    background-color: map_deep_get($variablesSet, "visited", "background");

    @include fd-object-status-icon-selector() {
      color: map_deep_get($variablesSet, "visited", "color");
    }
  }

  @include fd-hover() {
    color: map_deep_get($variablesSet, "hover", "color");
    background-color: map_deep_get($variablesSet, "hover", "background");

    @include fd-object-status-icon-selector() {
      color: map_deep_get($variablesSet, "hover", "color");
    }
  }

  @include fd-active() {
    color: map_deep_get($variablesSet, "active", "color");
    background-color: map_deep_get($variablesSet, "active", "background");

    @include fd-object-status-icon-selector() {
      color: map_deep_get($variablesSet, "active", "color");
    }
  }
}

.#{$block} {
  @mixin fd-object-status-text-inherit() {
    font-size: inherit;
    font-weight: inherit;
    word-break: inherit;
    color: inherit;
    font-family: inherit;
    line-height: 1;

    @content;
  }

  // ICON VARIABLES
  $fd-object-status-icon-font-size: 1rem;
  $fd-object-status-icon-padding: 0.25rem !default;
  $fd-object-status-icon-neutral: var(--sapNeutralElementColor);

  // TEXT VARIABLES
  $fd-object-status-text-font-family: var(--sapFontFamily) !default;
  $fd-object-status-text-font-size: var(--sapFontSize) !default;
  $fd-object-status-text-neutral: var(--sapNeutralTextColor);

  // INVERTED OBJECT STATUS VARIABLES
  $fd-object-status-inverted-border-radius: var(--sapElement_BorderCornerRadius) !default;
  $fd-object-status-inverted-padding: 0.0625rem 0.25rem !default;
  $fd-object-status-inverted-padding-empty: 0 0.25rem !default;
  $fd-object-status-inverted-min-height: 1rem !default;
  $fd-object-status-inverted-min-width: 1.25rem !default;
  $fd-object-status-inverted-text-font-weight: bold !default;
  $fd-object-status-inverted-icon-font-size: 0.75rem !default;
  $fd-object-status-inverted-icon-spacing: 0.25rem !default;

  // LARGE DESIGN VARIABLES
  $fd-object-status-icon-text-font-size-large: 1.5rem;
  $fd-object-status-icon-text-font-size-large-inverted: 1.25rem;
  $fd-object-status-padding-large-inverted: 0.125rem 0.25rem !default;
  $fd-object-status-padding-large-inverted-empty: 0 0.25rem !default;
  $fd-object-status-min-width-large-inverted-empty: 1.75rem !default;
  $fd-object-status-min-height-large-inverted-empty: 1.5rem !default;

  @include fd-reset();

  font-family: $fd-object-status-text-font-family;
  font-size: $fd-object-status-text-font-size;
  color: $fd-object-status-text-neutral;
  text-shadow: var(--sapContent_TextShadow);
  max-width: 100%;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
  line-height: 1;

  @include fd-focus() {
    outline: none;
  }

  &__text {
    @include fd-reset();
    @include fd-object-status-text-inherit();
  }

  &__icon {
    @include fd-icon-element-base() {
      @include fd-flex-center();

      font-size: $fd-object-status-icon-font-size;
      padding-right: $fd-object-status-icon-padding;
      color: $fd-object-status-icon-neutral;

      // ICON ONLY MODE
      @include fd-only-child() {
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  @include fd-rtl() {
    @include fd-object-status-icon-selector() {
      padding-right: 0;
      padding-left: $fd-object-status-icon-padding;
    }
  }

  @each $set-name, $color-set in $color-states {
    &--#{$set-name} {
      color: var(--fdElementTextColor, map_get($color-set, "color"));

      @include fd-object-status-icon-selector() {
        color: var(--fdElementIconColor, map_get($color-set, "iconColor"));
      }

      &:visited {
        color: map_get($color-set, "visited");

        @include fd-object-status-icon-selector() {
          color: map_get($color-set, "visited");
        }
      }
    }
  }

  @each $set-name, $color-set in $color-accents {
    &--indication-#{$set-name} {
      color: map_get($color-set, "color");

      @include fd-object-status-icon-selector() {
        color: map_get($color-set, "iconColor");
      }

      &:visited {
        color: map_get($color-set, "visited");

        @include fd-object-status-icon-selector() {
          color: map_get($color-set, "visited");
        }
      }
    }
  }

  // CLICKABLE OBJECT STATUS
  &--link {
    @include fd-fiori-focus(0.0625rem);

    text-decoration: none;
    cursor: pointer;

    &:hover {
      .#{$block}__text {
        text-decoration: underline;
      }
    }

    &:visited {
      text-decoration: none;
    }
  }

  // LARGE DESIGN
  &--large {
    font-size: $fd-object-status-icon-text-font-size-large;

    .#{$block}__text {
      font-family: var(--sapFontLightFamily);
    }

    @include fd-object-status-icon-selector() {
      font-size: $fd-object-status-icon-text-font-size-large;
    }
  }

  // INVERTED OBJECT STATUS
  &--inverted {
    height: auto;
    min-height: $fd-object-status-inverted-min-height;
    width: auto;
    max-width: 100%;
    padding: $fd-object-status-inverted-padding;
    border-radius: $fd-object-status-inverted-border-radius;
    font-size: var(--sapFontSmallSize);
    font-weight: $fd-object-status-inverted-text-font-weight;
    border-width: var(--fdInverted_Object_Border_Width);
    border-style: solid;
    text-shadow: none;

    @include fd-object-status-icon-selector() {
      font-size: $fd-object-status-inverted-icon-font-size;
      padding-right: $fd-object-status-inverted-icon-spacing;

      // ICON ONLY MODE
      @include fd-only-child() {
        padding: $fd-object-status-inverted-padding-empty;
      }
    }

    @include fd-rtl() {
      @include fd-object-status-icon-selector() {
        padding-right: 0;
        padding-left: $fd-object-status-inverted-icon-spacing;
      }
    }

    // TEXT AND BACKGROUND COLOR FOR INVERTED OBJECT STATUS STATES
    @each $set-name, $color-set in $inverted-color-states {
      @if $set-name == neutral {
        @include inverted-object-states($color-set);
      } @else {
        &.#{$block}--#{$set-name} {
          @include inverted-object-states($color-set);
        }
      }
    }

    // BACKGROUND COLOR FOR INVERTED OBJECT STATUS STATES - GENERIC INDICATION COLORS
    @each $set-name, $color-set in $inverted-color-accents {
      &.#{$block}--indication-#{$set-name} {
        @include inverted-object-states($color-set);
      }
    }

    // LARGE DESIGN FOR INVERTED OBJECT STATUS
    &.#{$block}--large {
      font-size: $fd-object-status-icon-text-font-size-large-inverted;
      padding: $fd-object-status-padding-large-inverted;

      @include fd-object-status-icon-selector() {
        font-size: $fd-object-status-icon-text-font-size-large-inverted;

        // ICON ONLY MODE
        @include fd-only-child() {
          height: $fd-object-status-min-height-large-inverted-empty;
          min-width: $fd-object-status-min-width-large-inverted-empty;
          padding: $fd-object-status-padding-large-inverted-empty;
        }
      }
    }

    // CLICKABLE INVERTED OBJECT STATUS
    &.#{$block}--link {
      cursor: pointer;

      &:hover,
      &:active,
      &:visited {
        .#{$block}__text {
          text-decoration: none;
        }
      }

      // INTERACTION STATES FOR CLICKABLE INVERTED OBJECT STATUS
      @each $set-name, $color-set in $inverted-color-states {
        @if $set-name == neutral {
          @include inverted-object-interaction-states($color-set);
        } @else {
          &.#{$block}--#{$set-name} {
            @include inverted-object-interaction-states($color-set);
          }
        }
      }

      // GENERIC INDICATION COLORS FOR CLICKABLE INVERTED OBJECT STATUS
      @each $set-name, $color-set in $inverted-color-accents {
        &.#{$block}--indication-#{$set-name} {
          @include inverted-object-interaction-states($color-set);

          border-color: var(--sapContent_ForegroundBorderColor);
        }
      }
    }
  }
}
