@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-popover;

.#{$block} {
  $fd-popover-top-position: calc(100% + 0.5rem) !default;
  $fd-popover-top-position-noarrow: 100% !default;
  $fd-popover-z-index: map-get($fd-z-index-levels, "top") !default;
  $fd-popover-box-shadow: var(--sapContent_Shadow2) !default;

  $fd-popover-arrow-top-back: -0.5rem !default;
  $fd-popover-arrow-top-front: calc(-0.5rem + 1px) !default;

  $fd-popover-arrow-width: 1rem !default;
  $fd-popover-arrow-height: 0.5rem !default;
  $fd-popover-arrow-width-half: $fd-popover-arrow-width * 0.5 !default;
  $fd-popover-arrow-offset: 0.65rem !default;
  $fd-popover-arrow-color: var(--sapContent_ForegroundBorderColor) !default;

  $fd-popover-transition-params: $fd-animation-speed !default;

  @mixin set-list-border-radius($position, $radius: $fd-popover-border-radius) {
    border-#{$position}-right-radius: $radius;
    border-#{$position}-left-radius: $radius;
  }

  @include fd-reset();

  position: relative;
  display: inline-block;
  text-shadow: var(--fdPopover_Text_Shadow);

  &__control {
    @include fd-reset();
    @include action-cursor();

    position: relative;
    margin-left: 0;

    &:focus-visible {
      outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    }

    &.#{$fd-namespace}-input:last-child {
      margin-bottom: 0;
    }

    &.is-expanded {
      z-index: 3;
    }

    @include fd-disabled() {
      pointer-events: none;
    }
  }

  &__wrapper {
    border-radius: $fd-popover-border-radius;
    overflow: auto;
  }

  &__body {
    @include fd-reset();
    @include fd-popover-border-radius();

    border: none;
    position: absolute;
    white-space: nowrap;
    box-shadow: $fd-popover-box-shadow;
    z-index: $fd-popover-z-index;
    background: $fd-popover-background-color;
    opacity: 1;
    visibility: visible;
    left: $fd-popover-body-shadow-offset;
    top: $fd-popover-top-position;
    transition: all $fd-popover-transition-params;
    transform: translateY(0);

    @include fd-rtl() {
      left: auto;
      right: $fd-popover-body-shadow-offset;

      &::before {
        right: $fd-popover-arrow-offset;
      }

      &::after {
        right: $fd-popover-arrow-offset;
      }
    }

    &::before {
      @include triangle($fd-popover-arrow-width $fd-popover-arrow-height, $fd-popover-background-color, up);

      content: "";
      position: absolute;
      top: $fd-popover-arrow-top-front;
      left: $fd-popover-arrow-offset;
      z-index: $fd-popover-z-index + 2;
    }

    &::after {
      @include triangle($fd-popover-arrow-width $fd-popover-arrow-height, $fd-popover-arrow-color, up);

      content: "";
      position: absolute;
      top: $fd-popover-arrow-top-back;
      left: $fd-popover-arrow-offset;
      z-index: $fd-popover-z-index + 1;
    }

    // Inner shadows can affect outer shadow. This will discard such behavior
    > * {
      &:not(.#{$block}__wrapper) {
        overflow: hidden;
      }
    }

    > *:first-child {
      border-top-right-radius: $fd-popover-border-radius;
      border-top-left-radius: $fd-popover-border-radius;
    }

    > *:last-child {
      border-bottom-right-radius: $fd-popover-border-radius;
      border-bottom-left-radius: $fd-popover-border-radius;
    }

    &-header {
      & > *:first-child {
        border-top-right-radius: $fd-popover-border-radius;
        border-top-left-radius: $fd-popover-border-radius;
      }
    }

    &-footer {
      & > * {
        border-bottom-right-radius: $fd-popover-border-radius;
        border-bottom-left-radius: $fd-popover-border-radius;
      }
    }

    &--left {
      @include fd-left-popover-offset-placement();

      @include fd-rtl() {
        &::before,
        &::after {
          right: $fd-popover-arrow-offset;
          left: unset;
        }
      }

      &::before,
      &::after {
        left: $fd-popover-arrow-offset;
      }
    }

    &--right {
      @include fd-right-popover-offset-placement();

      @include fd-rtl() {
        &::before,
        &::after {
          left: $fd-popover-arrow-offset;
          right: unset;
        }
      }

      &::before,
      &::after {
        left: auto;
        right: $fd-popover-arrow-offset;
      }
    }

    &--no-arrow {
      box-shadow: $fd-popover-box-shadow-no-arrow;
      top: $fd-popover-top-position-noarrow;
      z-index: 2;

      &::before,
      &::after {
        display: none;
      }

      &.#{$block}__body--left {
        @include fd-left-popover-offset-placement();
      }

      &.#{$block}__body--right {
        @include fd-right-popover-offset-placement();
      }
    }

    &--dropdown {
      display: -ms-grid;
      -ms-grid-columns: max-content;
      width: max-content;

      &-fill {
        display: block;
        max-width: 40rem;
        width: $fd-popover-full-filled-width;
      }
    }

    &--static {
      position: relative;
      top: auto;
      bottom: auto;
    }

    &[aria-hidden="true"],
    &.is-hidden {
      z-index: 1;
      opacity: 0;
      visibility: hidden;
    }

    &--hidden {
      display: none;
    }
  }

  &--input-message-group {
    .#{$block}__body,
    .#{$block}__body--no-arrow,
    .#{$block}__popper,
    .#{$block}__popper--no-arrow {
      box-shadow: none;
      border: none;
      margin-top: -0.25rem;
    }
  }

  &--full-width {
    width: 100%;
  }

  &__inline-help {
    padding: 0.75rem;
    font-size: var(--sapFontSmallSize);
  }

  &__popper {
    @include fd-reset();

    border: none;
    position: relative;
    width: 100%;
    white-space: nowrap;
    box-shadow: $fd-popover-box-shadow;
    z-index: $fd-popover-z-index;
    border-radius: $fd-popover-border-radius;
    background: $fd-popover-background-color;
    opacity: 1;

    &--no-arrow {
      margin: 0 !important;

      .#{$block}__arrow {
        display: none;
      }
    }

    &--static {
      position: relative;
      top: auto;
      bottom: auto;
    }

    &--input-message-group {
      box-shadow: none;
      border: none;
      margin-top: -0.25rem !important;
    }

    .#{$block}__arrow {
      @include fd-reset();

      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;

      &::after {
        position: absolute;
        content: "";
        border-style: solid;
        border-color: transparent;
      }

      &--bottom,
      &--top {
        &::after {
          margin: 0 (-$fd-popover-arrow-width-half);
        }
      }

      &--start,
      &--end {
        &::after {
          margin: (-$fd-popover-arrow-width-half) 0;
        }
      }

      &--bottom {
        bottom: -$fd-popover-arrow-height;
        border-width: $fd-popover-arrow-height $fd-popover-arrow-width-half 0 $fd-popover-arrow-width-half;
        border-top-color: $fd-popover-arrow-color;

        &::after {
          bottom: 1px;
          border-width: $fd-popover-arrow-height $fd-popover-arrow-width-half 0 $fd-popover-arrow-width-half;
          border-top-color: $fd-popover-background-color;
        }
      }

      &--top {
        top: -$fd-popover-arrow-height;
        border-width: 0 $fd-popover-arrow-width-half $fd-popover-arrow-height $fd-popover-arrow-width-half;
        border-bottom-color: $fd-popover-arrow-color;

        &::after {
          top: 1px;
          border-width: 0 $fd-popover-arrow-width-half $fd-popover-arrow-height $fd-popover-arrow-width-half;
          border-bottom-color: $fd-popover-background-color;
        }
      }

      &--end {
        right: -$fd-popover-arrow-height;
        border-width: $fd-popover-arrow-width-half 0 $fd-popover-arrow-width-half $fd-popover-arrow-height;
        border-left-color: $fd-popover-arrow-color;

        &::after {
          right: 1px;
          border-width: $fd-popover-arrow-width-half 0 $fd-popover-arrow-width-half $fd-popover-arrow-height;
          border-left-color: $fd-popover-background-color;
        }
      }

      &--start {
        left: -$fd-popover-arrow-height;
        border-width: $fd-popover-arrow-width-half $fd-popover-arrow-height $fd-popover-arrow-width-half 0;
        border-right-color: $fd-popover-arrow-color;

        &::after {
          left: 1px;
          border-width: $fd-popover-arrow-width-half $fd-popover-arrow-height $fd-popover-arrow-width-half 0;
          border-right-color: $fd-popover-background-color;
        }
      }

      &-x--start {
        left: $fd-popover-arrow-offset;
      }

      &-x--center {
        left: 50%;
        transform: translateX(-50%);
      }

      &-x--end {
        right: $fd-popover-arrow-offset;
      }

      &-y--top {
        top: $fd-popover-arrow-offset;
      }

      &-y--center {
        top: 50%;
        transform: translateY(-50%);
      }

      &-y--bottom {
        bottom: $fd-popover-arrow-offset;
      }
    }

    .fd-list {
      border-radius: $fd-popover-border-radius;

      &__item {
        &:first-child {
          @include set-list-border-radius(top);
        }

        &:last-child {
          @include set-list-border-radius(bottom);
        }
      }
    }

    .fd-nested-list {
      border-bottom: none;

      &__item {
        &:first-child {
          .fd-nested-list__content {
            @include set-list-border-radius(top);
          }
        }

        &:last-child {
          .fd-nested-list {
            &__item:last-child {
              .fd-nested-list__link {
                @include set-list-border-radius(bottom);
              }
            }

            &__content {
              @include set-list-border-radius(bottom);

              &.is-selected {
                @include set-list-border-radius(bottom, 0);
              }
            }
          }
        }
      }
    }

    .fd-side-nav,
    .fd-nested-list__item {
      border-right: none;

      &:first-child {
        @include set-list-border-radius(top);
      }

      &:last-child {
        @include set-list-border-radius(bottom);
      }
    }
  }
}
