@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-progress-indicator;
$fd-progress-indicator-margin: 0.5rem 0 !default;
$fd-progress-indicator-margin-mobile: 0.875rem 0 !default;
$fd-progress-indicator-container-height: 1rem !default;

$fd-progress-indicator-states: (
  "informative": ("background": var(--fdProgress_Indicator_Background_Color_Informative), "icon": var(--fdProgress_Icon_Informative)),
  "positive": ("background": var(--fdProgress_Indicator_Background_Color_Positive), "icon": var(--fdProgress_Icon_Positive)),
  "negative": ("background": var(--fdProgress_Indicator_Background_Color_Negative), "icon": var(--fdProgress_Icon_Negative)),
  "critical": ("background": var(--fdProgress_Indicator_Background_Color_Critical), "icon": var(--fdProgress_Icon_Critical))
);

.#{$block} {
  width: 100%;
  margin: $fd-progress-indicator-margin;

  &.#{$fd-namespace}-popover {
    margin: $fd-progress-indicator-margin;
  }

  @each $set-name, $set-state in $fd-progress-indicator-states {
    &--#{$set-name} {
      .#{$block}__progress-bar {
        background-color: map_get($set-state, "background");
      }

      .#{$block}__label {
        &::before {
          vertical-align: middle;
          font-family: "SAP-icons";
          content: map_get($set-state, "icon");
          margin-left: var(--fdProgress_Icon_Offset_Left);
          margin-right: var(--fdProgress_Icon_Offset_Right);
        }
      }
    }
  }

  .#{$block}__container {
    @include fd-reset();
    @include fd-flex();

    min-width: 4rem;
    overflow: hidden;
    border-radius: 0.5rem;
    background: var(--sapField_Background);
    height: $fd-progress-indicator-container-height;
    border: 0.0625rem solid var(--sapField_BorderColor);
    min-height: $fd-progress-indicator-container-height;
  }

  &__progress-bar {
    @include fd-reset();
    @include fd-ellipsis();

    @include fd-flex() {
      justify-content: flex-end;
    }

    height: 100%;
    border-right: var(--fdProgress_Indicator_Border_Right);
    background: var(--fdProgress_Indicator_Background_Color_Neutral);

    .#{$block}__label {
      color: var(--sapContent_ContrastTextColor);
    }

    @include fd-rtl() {
      border-right: none;
      border-left: var(--fdProgress_Indicator_Border_Right);
    }
  }

  &__remaining {
    @include fd-reset();
    @include fd-flex();
    @include fd-ellipsis();
  }

  &__label {
    @include fd-reset();
    @include fd-ellipsis();
    @include fd-set-margins-x-equal(0.375rem);

    user-select: none;
    line-height: normal;
    color: var(--sapField_TextColor);
    font-size: var(--sapFontSmallSize);
  }

  &__overflow {
    @include fd-reset();

    @include fd-flex-vertical-center() {
      justify-content: space-between;
    }

    @include fd-set-padding-left(0.5rem);

    line-height: 1;
    overflow: hidden;
  }

  &__overflow-close {
    @include fd-reset();
    @include fd-set-margin-left(0.5rem);

    @include fd-focus() {
      outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    }

    cursor: pointer;
    width: 1.4375rem;
    height: 1.375rem;
    margin: 0.125rem;
    text-align: center;
    line-height: 1.6rem;
    background: transparent;

    [class*='sap-icon'] {
      font-size: var(--sapFontSmallSize);
      color: var(--sapContent_IconColor);
    }
  }

  &--mobile {
    margin: $fd-progress-indicator-margin-mobile;

    &.#{$fd-namespace}-popover {
      margin: $fd-progress-indicator-margin-mobile;
    }
  }

  &--display {
    margin: 0;

    &.#{$fd-namespace}-popover {
      margin: 0;
    }
  }
}
