@import "./new-settings";
@import "./mixins";
@import "./mixins/button/button-helper";

/*!
.fd-segmented-button
    button
*/
$block: #{$fd-namespace}-segmented-button;

.#{$block} {
  @include fd-reset();
  @include fd-button-pad();

  display: inline-flex;
  vertical-align: middle;

  button {
    margin: 0;

    @include fd-hover() {
      z-index: 2;
    }

    &:first-child {
      border-radius: var(--fdButton_Border_Radius_Left);
    }

    &:not(:first-child):not(:last-child) {
      border-radius: var(--fdButton_Segmented_Middle_Border_Radius);
    }

    &:last-child {
      border-radius: var(--fdButton_Border_Radius_Right);
    }

    &:not(:last-child) {
      @include fd-set-margin-right(var(--fdButton_Segmented_Border_Offset));
    }

    @include fd-rtl() {
      &:first-child {
        border-radius: var(--fdButton_Border_Radius_Left_RTL);
      }

      &:last-child {
        border-radius: var(--fdButton_Border_Radius_Right_RTL);
      }
    }
  }
}
