@import "./new-settings";
@import "./mixins";

/*!
.fd-segmented-button+()
    .fd-button
*/
$block: #{$fd-namespace}-segmented-button;

@mixin styleButtonContent() {
  @content;
}

.#{$block} {
  @include fd-reset();

  display: inline-flex;
  vertical-align: middle;
  background-color: var(--sapButton_Background);
  border-radius: var(--sapButton_BorderCornerRadius);

  & > * {
    margin: 0;

    &:not(:first-child):not(:last-child) {
      @include styleButtonContent() {
        border-radius: var(--fdSegmented_Button_Radius);
      }
    }

    &:not(:last-child) {
      @include styleButtonContent() {
        border-right-width: var(--fdSegmented_Button_Border_Right_Width_Zero);
      }
    }

    &:first-child {
      @include styleButtonContent() {
        border-top-right-radius: var(--fdSegmented_Button_Radius);
        border-bottom-right-radius: var(--fdSegmented_Button_Radius);
      }
    }

    &:last-child {
      @include styleButtonContent() {
        border-top-left-radius: var(--fdSegmented_Button_Radius);
        border-bottom-left-radius: var(--fdSegmented_Button_Radius);
      }
    }

    @include fd-rtl() {
      border-radius: var(--sapButton_BorderCornerRadius);

      &:not(:first-child) {
        @include styleButtonContent() {
          border-right: none;
        }
      }

      &:last-child {
        @include styleButtonContent() {
          border-top-right-radius: var(--fdSegmented_Button_Radius);
          border-bottom-right-radius: var(--fdSegmented_Button_Radius);
        }
      }

      &:first-child {
        @include styleButtonContent() {
          border-top-left-radius: var(--fdSegmented_Button_Radius);
          border-bottom-left-radius: var(--fdSegmented_Button_Radius);
          border-right-width: 1px;
        }
      }
    }
  }
}
