@import "./new-settings";
@import "./mixins";
@import "./mixins/input/addon-button";

$block: #{$fd-namespace}-select;

.#{$block} {
  $fd-select-padding-x: 0.625rem;
  $fd-select-padding-x-compact: 0.5rem;

  @mixin fd-select-button-border() {
    border-left: var(--fdSelect_Button_SideBorder);

    @include fd-rtl() {
      border-left: none;
      border-right: var(--fdSelect_Button_SideBorder);
    }
  }

  @mixin fd-select-active-button-border() {
    border-left: var(--fdSelect_Button_Interractive_SideBorder);

    @include fd-rtl() {
      border-left: none;
      border-right: var(--fdSelect_Button_Interractive_SideBorder);
    }
  }

  @mixin fd-select-set-min-width($width) {
    min-width: calc(#{$width} - var(--sapField_BorderWidth) * 2);
  }

  @include fd-reset();

  text-shadow: var(--fdSelect_Text_Shadow);

  &__control {
    @include fd-reset();
    @include fd-form-base();
    @include fd-form-states();
    @include fd-addon-button();
    @include fd-form-input-pseudo-focus(
      var(--fdSelect_Focus_Border_Offset),
      var(--fdInputGroup_Focus_Border_Radius)
    );

    @include fd-flex-center() {
      justify-content: space-between;
    }

    @include fd-rtl() {
      text-align: right;
    }

    @include fd-disabled() {
      pointer-events: none;
    }

    width: 100%;
    height: $fd-form-input-height;
    text-align: left;

    .#{$block}__button {
      @include fd-inline-flex-center();
      @include fd-set-margin-left(0.25rem);

      border: none;
      border-radius: var(--fdSelect_Button_Border_Radius);
      color: var(--sapContent_IconColor);

      @include fd-select-button-border();

      @include fd-hover() {
        @include fd-select-active-button-border();
      }

      @include fd-active() {
        @include fd-select-active-button-border();
      }
    }

    &.is-readonly {
      cursor: text;

      .#{$block}__text-content {
        @include fd-set-paddings-x-equal($fd-select-padding-x);
        @include fd-select-set-min-width(5rem);
      }
    }
  }

  &__text-content {
    @include fd-reset();
    @include fd-ellipsis();
    @include fd-set-padding-left($fd-select-padding-x);
    @include fd-select-set-min-width(2.5rem);

    display: inline-block;
  }

  &--compact {
    .#{$block}__control {
      height: $fd-form-input-height--compact;

      .#{$block}__text-content {
        @include fd-set-padding-left($fd-select-padding-x-compact);
        @include fd-select-set-min-width(2.75rem);
      }

      &.is-readonly {
        .#{$block}__text-content {
          @include fd-set-paddings-x-equal($fd-select-padding-x-compact);
        }
      }
    }
  }
}
