@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-select;

.#{$block} {
  $fd-select-padding-x: 0.625rem;
  $fd-select-padding-x-compact: 0.5rem;

  @mixin fd-select-button-border() {
    border-left: var(--fdSelect_Button_Interractive_SideBorder);

    @include fd-rtl() {
      border-left: none;
      border-right: var(--fdSelect_Button_Interractive_SideBorder);
    }
  }

  @mixin fd-select-button-active() {
    .#{$block}__button {
      background-color: var(--sapButton_Active_Background);
      color: var(--sapButton_Active_TextColor);

      @include fd-fiori-focus() {
        outline-color: var(--sapContent_ContrastFocusColor);
      }

      @include fd-select-button-border();
    }
  }

  @include fd-reset();

  text-shadow: var(--fdSelect_Text_Shadow);

  &__control {
    @include fd-reset();
    @include fd-form-base();
    @include fd-form-states();
    @include fd-fiori-pseudo-focus(-0.1875rem);

    @include fd-flex-center() {
      justify-content: space-between;
    }

    @include fd-hover() {
      .#{$block}__button {
        @include fd-select-button-border();

        background-color: var(--sapButton_Lite_Hover_Background);
      }
    }

    @include fd-focus() {
      outline: none;
    }

    @include fd-expanded() {
      @include fd-select-button-active();
    }

    @include fd-active() {
      @include fd-select-button-active();
    }

    @include fd-rtl() {
      text-align: right;
    }

    width: 100%;
    height: $fd-form-input-height;
    text-align: left;

    .#{$block}__button {
      @include fd-inline-flex-center();
      @include fd-set-margin-left(0.25rem);

      border: none;
      border-radius: 0;
      color: var(--sapContent_IconColor);
    }

    &.is-readonly {
      cursor: text;

      .#{$block}__text-content {
        @include fd-set-paddings-x-equal($fd-select-padding-x);
      }
    }
  }

  &__text-content {
    @include fd-reset();
    @include fd-set-padding-left($fd-select-padding-x);

    min-width: 2.75rem;
  }

  &--compact {
    .#{$block}__control {
      height: $fd-form-input-height--compact;

      .#{$block}__text-content {
        @include fd-set-padding-left($fd-select-padding-x-compact);

        min-width: 2rem;
      }

      &.is-readonly {
        .#{$block}__text-content {
          @include fd-set-paddings-x-equal($fd-select-padding-x-compact);
        }
      }
    }
  }
}
