:root {
  --fdTool_Header_Height: 3.5rem;
  --fdTool_Header_Padding: 0 1.5rem;
  --fdTool_Header_Menu_Padding: 0 1.5rem 0 0.75rem;
  --fdTool_Header_Box_Shadow: var(--sapContent_Shadow0);
  --fdTool_Header_Elements_Right_Margin: 0.7rem;
  --fdTool_Header_Logo_Height: 2rem;
  --fdTool_Header_Product_Name_Font_Size: 1.125rem;
}
