@use "sass:map";

@import "./sap_horizon";

:root {
  --fdObjectStatus_Inverted_Underline_Width: 0;
  --fdObjectStatus_Inverted_Icon_Color_Selected_Negative: var(--sapButton_Reject_Selected_TextColor);
  --fdObjectStatus_Inverted_Icon_Color_Selected_Critical: var(--sapButton_Attention_Selected_TextColor);
  --fdObjectStatus_Inverted_Icon_Color_Selected_Positive: var(--sapButton_Accept_Selected_TextColor);
  --fdObjectStatus_Inverted_Icon_Color_Selected_Informative: var(--sapButton_Selected_TextColor);
  --fdObjectStatus_Inverted_Box_Shadow: none;
  --fdObjectStatus_Inverted_Outline_Color: var(--sapContent_FocusColor);
  --fdObjectStatus_Positive_Color_Focus: var(--sapPositiveTextColor);
  --fdObjectStatus_Positive_IconColor_Focus: var(--sapPositiveElementColor);
  --fdObjectStatus_Critical_Color_Focus: var(--sapCriticalTextColor);
  --fdObjectStatus_Critical_IconColor_Focus: var(--sapCriticalElementColor);
  --fdObjectStatus_Negative_Color_Focus: var(--sapNegativeTextColor);
  --fdObjectStatus_Negative_IconColor_Focus: var(--sapNegativeElementColor);
  --fdObjectStatus_Informative_Color_Focus: var(--sapInformativeTextColor);
  --fdObjectStatus_Informative_IconColor_Focus: var(--sapInformativeElementColor);
  --fdObjectStatus_Neutral_Color_Focus: var(--sapNeutralTextColor);
  --fdObjectStatus_Neutral_IconColor_Focus: var(--sapNeutralElementColor);
  --fdObjectStatus_Accent_Color_1_Focus: var(--sapIndicationColor_1);
  --fdObjectStatus_Accent_Color_2_Focus: var(--sapIndicationColor_2);
  --fdObjectStatus_Accent_Color_3_Focus: var(--sapIndicationColor_3);
  --fdObjectStatus_Accent_Color_4_Focus: var(--sapIndicationColor_4);
  --fdObjectStatus_Accent_Color_5_Focus: var(--sapIndicationColor_5);
  --fdObjectStatus_Accent_Color_6_Focus: var(--sapIndicationColor_6);
  --fdObjectStatus_Accent_Color_7_Focus: var(--sapIndicationColor_7);
  --fdObjectStatus_Accent_Color_8_Focus: var(--sapIndicationColor_8);
  --fdObjectStatus_Focus_Background: inherit;
  --fdObjectStatus_Focus_Border_Radius: 0;
  --fdObjectStatus_Focus_Outline: 0.125rem dotted var(--sapContent_FocusColor);

  /* Second Set Indication Color */
  --fdObjectStatus_Text_Shadow_Indication_Color: none;
  --fdObjectStatus_Text_Indication_Color_1b: var(--sapIndicationColor_1_TextColor);
  --fdObjectStatus_Background_Indication_Color_1b: var(--sapIndicationColor_1_Background);
  --fdObjectStatus_Border_Indication_Color_1b: var(--sapIndicationColor_1_BorderColor);
  --fdObjectStatus_Background_Hover_Indication_Color_1b: var(--sapIndicationColor_1_Hover_Background);
  --fdObjectStatus_Text_Indication_Color_2b: var(--sapIndicationColor_2_TextColor);
  --fdObjectStatus_Background_Indication_Color_2b: var(--sapIndicationColor_2_Background);
  --fdObjectStatus_Border_Indication_Color_2b: var(--sapIndicationColor_2_BorderColor);
  --fdObjectStatus_Background_Hover_Indication_Color_2b: var(--sapIndicationColor_2_Hover_Background);
  --fdObjectStatus_Text_Indication_Color_3b: var(--sapIndicationColor_3_TextColor);
  --fdObjectStatus_Background_Indication_Color_3b: var(--sapIndicationColor_3_Background);
  --fdObjectStatus_Border_Indication_Color_3b: var(--sapIndicationColor_3_BorderColor);
  --fdObjectStatus_Background_Hover_Indication_Color_3b: var(--sapIndicationColor_3_Hover_Background);
  --fdObjectStatus_Text_Indication_Color_4b: var(--sapIndicationColor_4_TextColor);
  --fdObjectStatus_Background_Indication_Color_4b: var(--sapIndicationColor_4_Background);
  --fdObjectStatus_Border_Indication_Color_4b: var(--sapIndicationColor_4_BorderColor);
  --fdObjectStatus_Background_Hover_Indication_Color_4b: var(--sapIndicationColor_4_Hover_Background);
  --fdObjectStatus_Text_Indication_Color_5b: var(--sapIndicationColor_5_TextColor);
  --fdObjectStatus_Background_Indication_Color_5b: var(--sapIndicationColor_5_Background);
  --fdObjectStatus_Border_Indication_Color_5b: var(--sapIndicationColor_5_BorderColor);
  --fdObjectStatus_Background_Hover_Indication_Color_5b: var(--sapIndicationColor_5_Hover_Background);
  --fdObjectStatus_Text_Indication_Color_6b: var(--sapIndicationColor_6_TextColor);
  --fdObjectStatus_Background_Indication_Color_6b: var(--sapIndicationColor_6_Background);
  --fdObjectStatus_Border_Indication_Color_6b: var(--sapIndicationColor_6_BorderColor);
  --fdObjectStatus_Background_Hover_Indication_Color_6b: var(--sapIndicationColor_6_Hover_Background);
  --fdObjectStatus_Text_Indication_Color_7b: var(--sapIndicationColor_7_TextColor);
  --fdObjectStatus_Background_Indication_Color_7b: var(--sapIndicationColor_7_Background);
  --fdObjectStatus_Border_Indication_Color_7b: var(--sapIndicationColor_7_BorderColor);
  --fdObjectStatus_Background_Hover_Indication_Color_7b: var(--sapIndicationColor_7_Hover_Background);
  --fdObjectStatus_Text_Indication_Color_8b: var(--sapIndicationColor_8_TextColor);
  --fdObjectStatus_Background_Indication_Color_8b: var(--sapIndicationColor_8_Background);
  --fdObjectStatus_Border_Indication_Color_8b: var(--sapIndicationColor_8_BorderColor);
  --fdObjectStatus_Background_Hover_Indication_Color_8b: var(--sapIndicationColor_8_Hover_Background);
  --fdObjectStatus_Text_Indication_Color_9b: var(--sapIndicationColor_9_TextColor);
  --fdObjectStatus_Background_Indication_Color_9b: var(--sapIndicationColor_9_Background);
  --fdObjectStatus_Border_Indication_Color_9b: var(--sapIndicationColor_9_BorderColor);
  --fdObjectStatus_Background_Hover_Indication_Color_9b: var(--sapIndicationColor_9_Hover_Background);
  --fdObjectStatus_Text_Indication_Color_10b: var(--sapIndicationColor_10_TextColor);
  --fdObjectStatus_Background_Indication_Color_10b: var(--sapIndicationColor_10_Background);
  --fdObjectStatus_Border_Indication_Color_10b: var(--sapIndicationColor_10_BorderColor);
  --fdObjectStatus_Background_Hover_Indication_Color_10b: var(--sapIndicationColor_10_Hover_Background);
}
