{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import spinner %}

{% block content %}

<p>Toggle the <code>is-hidden</code> attribute to hide/show the spinner.</p>
    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  spinner(
            properties=data.properties,
            modifier=data.modifier,
            state=data.state,
            aria=data.aria
        )
    }}
    {% endset %}
    {{ format(example) }}
<br><br>
<h2>is-busy</h2>
<p>The spinnner is most often used within another component to indicate the loading state. Any container (even <code>ui-, app-, and page-level</code>) can be "activated" by setting <code>is-busy</code>.
</p>

    {% set example %}
<div class="fd-panel is-busy">
    {{  spinner(
            properties=data.properties,
            modifier=data.modifier,
            state=data.state,
            aria=data.aria
        ) | indent(4)
    }}
    <div class="fd-panel__header">
        <h3 class="fd-panel__title">Lorem ipsum</h3>
    </div>
    <!-- Loaded content goes here -->
    <div class="fd-panel__footer">
        <p><em>Etiam pulvinar turpis sed velit porttitor vel adipiscing velit fringilla.</em></p>
    </div>
</div>

    {% endset %}
    {{ format(example) }}




{% endblock %}
