{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import formControl %}


{% block content %}

<style>
{# add space between examples for cleaner screenshots #}
  .fd-form-control {
    margin-bottom: 10px;
  }
</style>

<h2>Default</h2>

{% set example %}
  {{ formControl() }}
   
{% endset %}
{{ format(example) }}
 
<h2>Compact</h2>

{% set example %}
  {{ formControl(modifier={block: ["compact"]}) }}
   
{% endset %}

{{ format(example) }}

<h2>States</h2>

{% set example %}
  {{ formControl(class="is-valid") }}
  
  {{ formControl(class="is-invalid") }}
  
  {{ formControl(class="is-warning") }}
  
  {{ formControl(properties="readonly") }}
  
  {{ formControl(properties="disabled") }}
{% endset %}

{{ format(example) }}

<h2>Types</h2>

{% set example %}
  {{ formControl(type="password") }}
  
  {{ formControl(type="search") }}
{% endset %}

{{ format(example) }}


{% endblock %}
