{% extends "layout.njk" %}
{% from "./../format.njk" import format %}

{% block content %}
    {% set example %}
    <div style="border: 1px solid">
        <main class="fd-page">
            <header class="fd-page__header">Header</header>
            <div class="fd-page__content">content</div>
        </main>
    </div>
    {% endset %}
    {{ format(example) }}
{% endblock %}