:root {
  --fdMenu_Active_State_Focus: var(--sapContent_ContrastFocusColor);
  --fdMenu_Affordance_Arrow_Size: 0.75rem;
  --fdMenu_Shortcut_Color_Regular: var(--sapContent_NonInteractiveIconColor);
  --fdMenu_Shortcut_Color_Active: var(--sapList_Active_TextColor);
  --fdMenu_Shortcut_Color_Selected: var(--sapContent_NonInteractiveIconColor);
  --fdMenu_Shortcut_Color_Selected_Hover: var(--sapContent_NonInteractiveIconColor);
  --fdMenu_Text_Color_Active: var(--sapList_Active_TextColor);
}
