@import "../mixins/input/base-checkbox";

input[type=checkbox] {
  @include fd-base-checkbox('label', '+');

  // Prevent from hiding checkbox, when it's used with `<label><input type="checkbox"></label>` structure
  &:not(:only-child) {
    @extend %fd-checkbox-input-hidden;
  }
}
