{% extends "layout.njk" %}
{% from "./component.njk" import input_group %}
{% from "./../format.njk" import format %}

{% block content %}

{% set types = ["text", "textarea"] %}
{% set addons = [["", "km/h"], ["$", ""], ["$", ".00"]] %}
{% set readonly = [false, true] %}
{% set states = ["valid", "invalid", "warning", "information"] %}
{% set compact = [true] %}

<h2>Input Groups w/ addon text</h2>

{%- set example %}
    {%- for ro in readonly %}
        {%- for type in types %}
            {%- for before, after in addons %}
                {{ input_group(
                    properties={
                        type: type,
                        before: before,
                        after: after,
                        input: {
                            properties: {
                                value: "19387309"
                            }
                        }
                    },
                    modifier={
                        disabled: ro
                    })
                }}
                <br />
            {%- endfor %}
        {%- endfor %}
    {%- endfor %}
{%- endset %}
{{ format(example) }}

<br /><br />

<h2>Input Groups w/ addon text compact mode</h2>

{%- set example %}
    {%- for co in compact %}
            {%- for before, after in addons %}
                {{ input_group(
                    properties={
                        type: text,
                        before: before,
                        after: after,
                        input: {
                            properties: {
                                value: "19387309"
                            }
                        }
                    },
                    modifier={
                        disabled: ro,
                        compact: co
                    })
                }}
                <br />
            {%- endfor %}
    {%- endfor %}
{%- endset %}
{{ format(example) }}

<br /><br />

<h2>Input Groups w/ states</h2>
{% set addons = [["$", ""]] %}
{%- set example %}
{%- for st in states %}
    {%- for ro in readonly  %}
        {%- for type in types %}
            {%- for before, after in addons %}
                {{ input_group(
                    properties={
                        type: type,
                        before: before,
                        after: after,
                        input: {
                            properties: {
                                value: "19387309"
                            }
                        }
                    },
                    modifier={
                        disabled: ro,
                        state: st
                    })
                }}
                <br />
            {%- endfor %}
        {%- endfor %}
    {%- endfor %}
{%- endfor %}
{%- endset %}
{{ format(example) }}




<br /><br />
<h2>Input Groups w/ addon buttons</h2>

{% set btn %}
    <button class="btn-playground fd-input-group__button">Click Me</button>
{% endset %}
{% set addons = [["", btn], [btn, ""], [btn, btn]] %}

{%- set example %}
    {%- for ro in readonly %}
        <h3>{{ 'Disabled' if ro }}</h3>
        {%- for type in types %}
            {%- for before, after in addons %}
                {{ input_group(
                    properties={
                        type: type,
                        before: before,
                        after: after,
                        input: {
                            properties: {
                                value: "19387309"
                            }
                        }
                    },
                    modifier={
                        before: ["button"],
                        after: ["button"],
                        disabled: ro
                    })
                }}
                <br />
            {%- endfor %}
        {%- endfor %}
    {%- endfor %}
{%- endset %}
{{ format(example) }}

<br /><br />

<h2>Input Groups w/ addon multiple buttons</h2>

{% set btnUpDown %}
    <button class="btn-playground fd-input-group__button">Up</button>
    <button class="btn-playground fd-input-group__button">Down</button>
{% endset %}
{% set addons = [["", btnUpDown], [btnUpDown, ""], [btnUpDown, btnUpDown]] %}

{%- set example %}
    {%- for ro in readonly %}
        <h3>{{ 'Disabled' if ro }}</h3>
        {%- for before, after in addons %}
            {{ input_group(
                properties={
                    before: before,
                    after: after,
                    input: {
                        properties: {
                            value: "19387309"
                        }
                    }
                },
                modifier={
                    before: ["button"],
                    after: ["button"],
                    disabled: ro
                })
            }}
            <br />
        {%- endfor %}
    {%- endfor %}
{%- endset %}
{{ format(example) }}


<br /><br />
<h2>Input Group — Inline</h2>

{% set example %}
{{ input_group(
    properties={
        before: "phone",
        input: {
            properties: {
                placeholder: "Field placeholder text"
            }
        }
    },
    modifier={
        block: ["inline"]
    })
}}
{{ input_group(
    properties={
        after: "fax",
        input: {
            properties: {
                placeholder: "Field placeholder text"
            }
        }
    },
    modifier={
        block: ["inline"]
    })
}}
{% endset %}
{{ format(example) }}


{% endblock %}
