@import "./sap_horizon";

:root {
  --fdButton_Emphasized_Border_Width: 0.125rem;
  --fdButton_Font_Family: var(--sapFontFamily);

  /** Badge */
  --fdButton_Badge_Border_Color: var(--sapGroup_ContentBorderColor);

  /** Menu */
  --fdButton_Menu_Separator_Display: none;
  --fdButton_Menu_Offset: calc(var(--sapButton_BorderWidth) * -1);
  --fdButton_Menu_Emphasized_Margin: calc(var(--fdButton_Emphasized_Border_Width) * -1);

  /** Segmented */
  --fdButton_Segmented_Pad_Display: none;
  --fdButton_Segmented_Border_Offset: calc(var(--sapButton_BorderWidth) * -1);
  --fdButton_Border_Radius_Left: var(--sapButton_BorderCornerRadius) 0 0 var(--sapButton_BorderCornerRadius);
  --fdButton_Border_Radius_Left_RTL: 0 var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius) 0;
  --fdButton_Segmented_Middle_Border_Radius: 0 0 0 0;
  --fdButton_Border_Radius_Right: 0 var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius) 0;
  --fdButton_Border_Radius_Right_RTL: var(--sapButton_BorderCornerRadius) 0 0 var(--sapButton_BorderCornerRadius);
}
