:root {
  --fdButton_Emphasized_Border_Width: 0.125rem;

  /** Badge */
  --fdButton_Badge_Border_Color: var(--sapGroup_ContentBorderColor);
  --fdButton_Menu_Transparent_Separator_Display: none;

  /** Menu */
  --fdButton_Menu_Emphasized_Margin: calc(var(--fdButton_Emphasized_Border_Width) * -1);
}
