:root {
  --fdTile_Border: 0.0625rem solid var(--sapTile_BorderColor);
  --fdTile_Hover_Box_Shadow: none;
  --fdTile_Hover_Border: 0.0625rem solid var(--sapTile_Interactive_BorderColor);

  /* Generic tiles */
  --fdSlide_Tile_Title_Font_Weight: normal;
  --fdSlide_Tile_Title_Color: var(--sapTile_TitleTextColor);
  --fdSlide_Tile_Title_Text_Shadow: 0 0 0.125rem var(--sapContent_ShadowColor);
  --fdSlide_Tile_Background_Color: var(--sapBlockLayer_Background);
  --fdSlide_Tile_Background_Opacity: 0.85;
  --fdSlide_Tile_Indicator_Dot_Size: 0.188rem;
  --fdSlide_Tile_Indicator_Ative_Dot_Size: 0.313rem;
  --fdSlide_Tile_Indicator_Dot_Spacing: 0.375rem;
  --fdSlide_Tile_Indicator_Dot_Color: var(--sapTile_TextColor);
  --fdSlide_Tile_Indicator_Active_Dot_Color: var(--sapTile_TitleTextColor);
  --fdSlide_Tile_Indicator_Dot_Border: none;
  --fdSlide_Tile_Indicator_Dot_Opacity: 1;
  --fdSlide_Tile_Indicator_Dot_Shadow: 0 0 0.063rem var(--sapContent_ShadowColor);
  --fdSlide_Tile_Indicator_Active_Dot_Border: none;
  --fdSlide_Tile_Indicator_Active_Dot_Shadow: var(--fdSlide_Tile_Indicator_Dot_Shadow);
}
