<!--
step-input:
    properties={},
    modifier={ block: [], cozy: false},
    state={}
-->

{% macro step_input(
    properties={},
    modifier={
    	block: []
    },
	state= {})
%}

<div class="fd-step-input{{ modifier.block | modifier('step-input') }}{{ state | state }}">
	<button aria-label="Step up" class="fd-button{{ modifier.block | modifier('button') }} fd-step-input__button btn-playground" type="button"></button>
	<input class="fd-input{{ modifier.block | modifier('input') }} input-group-input-playground fd-step-input__input" type="number" value="0">
	<button aria-label="Step up" class="fd-button{{ modifier.block | modifier('button') }} fd-step-input__button btn-playground" type="button"></button>
</div>
<span class="fd-step-input__unit-description">PC</span>

<br/>
<br/>
<br/>

<div>
<div class="fd-step-input fd-step-input--compact {{ state | state }}">
	<button aria-label="Step up" class="fd-button fd-button--compact fd-step-input__button btn-playground" type="button"></button>
	<input class="fd-input fd-input--compact input-group-input-playground fd-step-input__input" type="number" value="0">
	<button aria-label="Step up" class="fd-button fd-button--compact fd-step-input__button btn-playground" type="button"></button>
</div>
<span class="fd-step-input__unit-description">PC</span>
{%- endmacro %}
