{% extends "layout.njk" %}
{% from "./component.njk" import step_input %}
{% from "./../format.njk" import format %}


{% block header %}

{% endblock %} 

{% block content %}
{% set states = ["success", "error", "warning", "information"] %}
<h2>Step Input Cozy mode</h2>
</head>
{%- set example %}

                {{ step_input(
                    properties={
                        unitdesc: "PC",
                        value: 0
                        },
                    modifier={
                        cozy: false

                    })
                }}
{%- endset %}
{{ format(example) }}

<h2>Step Input compact mode</h2>
{%- set example %}

                {{ step_input(
                    properties={
                        unitdesc: "PC",
                        value: 0
                        },
                    modifier={
                        compact: true

                    })
                }}
{%- endset %}
{{ format(example) }}

<h2>Step Input with Read only</h2>
{%- set example %}

                {{ step_input(
                    properties={
                        unitdesc: "PC",
                        value: 0
                        },
                    modifier={
                        compact: true,
                        readonly: true
                    })
                }}
{%- endset %}
{{ format(example) }}

{% endblock %}
