{% macro format(content="",bgcolor="transparent") %}
<div class="backstop">
    <div>
        {{ content }}
    </div>
    <div dir="rtl">
        {{ content }}
    </div>
</div>
<br><br>
<textarea readonly rows="10" cols="100" class="test-textarea">{{ content | e | trim }}</textarea>
{% endmacro %}


{% macro code() -%}
<textarea readonly rows="10" cols="100" class="test-textarea">{{ caller() | trim }}</textarea>
{%- endmacro %}
