<h1>Playground</h1>
<div style="display: flex;">
    <div class="" style="flex: 1;">
      <h2>Components</h2>
      <ul>
          <li><a href="inline-help">.fd-inline-help</a></li>
          <li><a href="input-group">.fd-input-group</a></li>
          <li><a href="layout-grid">.fd-layout-grid</a></li>
          <li><a href="product-switch">.fd-product-switch</a></li>
          <li><a href="table">.fd-table</a></li>
          <li><a href="pages/app">.fd-shell .fd-app</a></li>
          <li><a href="layout">.fd-container .fd-col</a></li>
          <li><a href="pages/grid">Grid</a></li>
      </ul>

    </div>
</div>

