<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ id }}</title>
    {% if not selfContained %}
        <link rel="stylesheet" href="static/layout.css">
    {% endif %}
    <style>
        {% if selfContained %}
            {% set sass = id + '.scss'  %}
            {{ sass | component_css }}
        {% else %}
            {% if ie11 %}
                {% set sass = 'fundamental-styles-ie11.scss' %}
            {% else %}
                {% set sass = 'fundamental-styles.scss' %}
            {% endif %}
            {{ sass | sass_to_css }}
        {% endif %}
    </style>
    <script>
        function toggleStylesheet( href, onoff ){
            var existingNode=0; //get existing stylesheet node if it already exists:
            for(var i = 0; i < document.styleSheets.length; i++){
                if( document.styleSheets[i].href && document.styleSheets[i].href.indexOf(href)>-1 ) existingNode = document.styleSheets[i].ownerNode;
            }
            if(onoff == undefined) onoff = !existingNode; //toggle on or off if undefined
            if(onoff){ //TURN ON:
                if(existingNode) return onoff; //already exists so cancel now
                var link  = document.createElement('link');
                link.rel  = 'stylesheet';
                link.type = 'text/css';
                link.href = href;
                document.getElementsByTagName('head')[0].appendChild(link);
            }else{ //TURN OFF:
                if(existingNode) existingNode.parentNode.removeChild(existingNode);
            }
            return onoff;
        }
    </script>
</head>

<body>
    <a href="../">Back to Index</a>
    <header class="test-header">
        <h1>{% if selfContained %}Self-Contained Styles Playground{% elif ie11 %}IE11 Playground{% else %}Playground{% endif %}: <code>{{ data.id }}</code></h1>
        <form action="#" method="get">
            <fieldset class="test-fieldset">
                <legend>Contexts</legend>
                <label class="test-label"><input type="checkbox" value="" id="toggleDir"> RTL</label>
                <label class="test-label" title="Enables touch metrics"><input type="checkbox" value="" id="toggleTouch"> Touch</label>
                <label class="test-label" title="Forces compact metrics"><input type="checkbox" value="" id="toggleCompact"> Compact</label>
            </fieldset>
            <fieldset class="test-fieldset">
                <legend>Toggles</legend>
                <label class="test-label"><input type="checkbox" value="" id="toggleBg"> BG Color</label>
                <label class="test-label"><input type="checkbox" value="" id="toggleTheme"> Theme</label>
                <label class="test-label"><input type="checkbox" value="" id="toggleNormalize"> Normalize</label>
                <label class="test-label"><input type="checkbox" value="" id="toggleUnNormalize"> Un-Normalize</label>
            </fieldset>
        </form>
        <div class="status">
            {% if data.css_vars == true %}
            <span class="status-label">✅ CSS vars</span>
            {% else %}
            <span class="status-label">❌ CSS vars</span>
            {% endif %}

            {% if data.rtl == true %}
            <span class="status-label">✅ RTL</span>
            {% else %}
            <span class="status-label">❌ RTL</span>
            {% endif %}
        </div>
    </header>
    <main>
         <div class="test-datacontainer">
            <h2><code>{{id}}/data.json</code></h2>
            <textarea class="test-textarea" style="">{{ data | dump(2) }}</textarea>
        </div>
        <div id="example-container" style="padding: 20px;">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <script type="text/javascript" src="/static/controls.js"></script>
</body>

</html>
