@import "./sap_fiori";

:root {
  --fdSplitter_Resizer_Border: 0.0625rem solid var(--sapGroup_ContentBorderColor);
  --fdSplitter_Resizer_Grip_Border_Width: var(--sapButton_BorderWidth);
  --fdSplitter_Resizer_Decoration_Background: var(--sapGroup_ContentBorderColor);
}
