{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import radio %}

{% block content %}

<h2>Default</h2>

{% set example %}
  {{ radio() }}
{% endset %}
 <br><br>
{{ format(example) }}
 <br><br>

<h2>Checked</h2>

{% set example %}
  {{ radio(properties='checked') }}
{% endset %}

{{ format(example) }}


{% set example %}
  {{ radio(properties='checked name="radioEx03"') }}
  {{ radio(properties='name="radioEx03"') }}
  {{ radio(properties='name="radioEx03"') }}
{% endset %}

{{ format(example) }}
<h2>States</h2>

{% set example %}
  {{ radio(properties='disabled') }}
  {{ radio(properties='checked disabled') }}
{% endset %}

{{ format(example) }}

{% endblock %}
