{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import radio %}

{% block content %}

<h2>Default</h2>

{% set example %}
  {{ radio() }}
{% endset %}
 <br><br>
{{ format(example) }}
 <br><br>

<h2>Checked</h2>

{% set example %}
  {{ radio(properties='checked') }}
{% endset %}

{{ format(example) }}


{% set example %}
  {{ radio(properties='checked name="radioEx03"') }}
  {{ radio(properties='name="radioEx03"') }}
  {{ radio(properties='name="radioEx03"') }}
{% endset %}

{{ format(example) }}
<h2>States</h2>

{% set example %}
  {{ radio(properties='disabled') }}
  {{ radio(properties='checked disabled') }}
{% endset %}

{{ format(example) }}

<h2>Interaction States</h2>

{% set example %}
  {{ radio(state='valid') }}
  {{ radio(state='invalid') }}
  {{ radio(state='warning') }}
  {{ radio(state='information') }}
  {{ radio(state='valid', properties='checked') }}
  {{ radio(state='invalid', properties='checked') }}
  {{ radio(state='warning', properties='checked') }}
  {{ radio(state='information', properties='checked') }}
{% endset %}

{{ format(example) }}

<h2>Compact</h2>

{% set example %}
  {{ radio(compact=true) }}
  {{ radio(compact=true, properties='checked') }}
{% endset %}

{{ format(example) }}
{% endblock %}
