@use "sass:map";

@import "./common";

:root {
  /* Default */
  --fdAvatar_BackgroundColor: var(--sapAvatar_6_Background);
  --fdAvatar_Border_Color: var(--sapAvatar_6_BorderColor);
  --fdAvatar_Text_Shadow: none;
  --fdAvatar_Color: var(--sapAvatar_6_TextColor);

  /* Overflow */
  --fdAvatar_Overflow_Border_Width: 0.0625rem;

  /* Thumbnail */
  --fdAvatar_Thumbnail_BorderColor: transparent;

  /* Focus */
  --fdAvatar_Focus_Outline_Offset: -0.3125rem;
  --fdAvatar_Focus_Outline_Radius: 0.9rem;
  --fdAvatar_Focus_Outline_Radius_Circle: 100%;
}
