@import "./sap_horizon";

:root {
  // Default
  --fdAvatar_BackgroundColor: var(--sapAvatar_6_Background);
  --fdAvatar_Border_Color: var(--sapAvatar_6_BorderColor);
  --fdAvatar_Text_Shadow: none;
  --fdAvatar_Color: var(--sapAvatar_6_TextColor);

  // Tile
  --fdAvatar_Tile_BackgroundColor: var(--sapTile_Background);
  --fdAvatar_Tile_TextColor: var(--sapTile_IconColor);
  --fdAvatar_Tile_BackgroundColor_Hover: var(--sapActiveColor);

  // Placeholder
  --fdAvatar_Placeholder_BackgroundColor_Hover: var(--sapActiveColor);

  // Transparent
  --fdAvatar_Transparent_BackgroundColor: transparent;
  --fdAvatar_Transparent_BackgroundColor_Hover: var(--sapActiveColor);

  // Focus
  --fdAvatar_Focus_Outline_Offset: -0.3125rem;
  --fdAvatar_Focus_Outline_Radius: 0;
  --fdAvatar_Focus_Outline_Radius_Circle: 0;

  // Accent Colors
  --fdAvatar_Accent_Color_1: var(--sapAvatar_1_Background);
  --fdAvatar_Accent_Color_2: var(--sapAvatar_2_Background);
  --fdAvatar_Accent_Color_3: var(--sapAvatar_3_Background);
  --fdAvatar_Accent_Color_4: var(--sapAvatar_4_Background);
  --fdAvatar_Accent_Color_5: var(--sapAvatar_5_Background);
  --fdAvatar_Accent_Color_6: var(--sapAvatar_6_Background);
  --fdAvatar_Accent_Color_7: var(--sapAvatar_7_Background);
  --fdAvatar_Accent_Color_8: var(--sapAvatar_8_Background);
  --fdAvatar_Accent_Color_9: var(--sapAvatar_9_Background);
  --fdAvatar_Accent_Color_10: var(--sapAvatar_10_Background);
  --fdAvatar_Accent_Color_1_Text: var(--sapAvatar_1_TextColor);
  --fdAvatar_Accent_Color_2_Text: var(--sapAvatar_2_TextColor);
  --fdAvatar_Accent_Color_3_Text: var(--sapAvatar_3_TextColor);
  --fdAvatar_Accent_Color_4_Text: var(--sapAvatar_4_TextColor);
  --fdAvatar_Accent_Color_5_Text: var(--sapAvatar_5_TextColor);
  --fdAvatar_Accent_Color_6_Text: var(--sapAvatar_6_TextColor);
  --fdAvatar_Accent_Color_7_Text: var(--sapAvatar_7_TextColor);
  --fdAvatar_Accent_Color_8_Text: var(--sapAvatar_8_TextColor);
  --fdAvatar_Accent_Color_9_Text: var(--sapAvatar_9_TextColor);
  --fdAvatar_Accent_Color_10_Text: var(--sapAvatar_10_TextColor);
  --fdAvatar_Accent_Color_1_Border: var(--sapAvatar_1_BorderColor);
  --fdAvatar_Accent_Color_2_Border: var(--sapAvatar_2_BorderColor);
  --fdAvatar_Accent_Color_3_Border: var(--sapAvatar_3_BorderColor);
  --fdAvatar_Accent_Color_4_Border: var(--sapAvatar_4_BorderColor);
  --fdAvatar_Accent_Color_5_Border: var(--sapAvatar_5_BorderColor);
  --fdAvatar_Accent_Color_6_Border: var(--sapAvatar_6_BorderColor);
  --fdAvatar_Accent_Color_7_Border: var(--sapAvatar_7_BorderColor);
  --fdAvatar_Accent_Color_8_Border: var(--sapAvatar_8_BorderColor);
  --fdAvatar_Accent_Color_9_Border: var(--sapAvatar_9_BorderColor);
  --fdAvatar_Accent_Color_10_Border: var(--sapAvatar_10_BorderColor);

  // Accent Colors Hover
  --fdAvatar_Accent_Color_Hover_1: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_2: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_3: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_4: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_5: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_6: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_7: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_8: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_9: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_10: var(--sapActiveColor);
  --fdAvatar_Accent_Color_1_Border_Color_Hover: var(--sapAvatar_1_TextColor);
  --fdAvatar_Accent_Color_2_Border_Color_Hover: var(--sapAvatar_2_TextColor);
  --fdAvatar_Accent_Color_3_Border_Color_Hover: var(--sapAvatar_3_TextColor);
  --fdAvatar_Accent_Color_4_Border_Color_Hover: var(--sapAvatar_4_TextColor);
  --fdAvatar_Accent_Color_5_Border_Color_Hover: var(--sapAvatar_5_TextColor);
  --fdAvatar_Accent_Color_6_Border_Color_Hover: var(--sapAvatar_6_TextColor);
  --fdAvatar_Accent_Color_7_Border_Color_Hover: var(--sapAvatar_7_TextColor);
  --fdAvatar_Accent_Color_8_Border_Color_Hover: var(--sapAvatar_8_TextColor);
  --fdAvatar_Accent_Color_9_Border_Color_Hover: var(--sapAvatar_9_TextColor);
  --fdAvatar_Accent_Color_10_Border_Color_Hover: var(--sapAvatar_10_TextColor);
}
