@use "sass:map";

@import "./common";

:root {
  /* Default */
  --fdAvatar_BackgroundColor: var(--sapAccentColor6);
  --fdAvatar_Border_Color: transparent;
  --fdAvatar_Text_Shadow: var(--sapContent_ContrastTextShadow);
  --fdAvatar_Color: var(--sapContent_ContrastTextColor);

  /* Tile */
  --fdAvatar_Tile_BackgroundColor: var(--sapTile_IconColor);
  --fdAvatar_Tile_BorderColor: transparent;
  --fdAvatar_Tile_TextColor: var(--sapContent_ContrastTextColor);
  --fdAvatar_Tile_BackgroundColor_Hover: var(--sapTile_IconColor);

  /* Placeholder */
  --fdAvatar_Placeholder_BorderColor: transparent;
  --fdAvatar_Placeholder_BackgroundColor_Hover: var(--sapContent_ImagePlaceholderBackground);

  /* Transparent */
  --fdAvatar_Transparent_BorderColor: transparent;
  --fdAvatar_Transparent_BackgroundColor: transparent;
  --fdAvatar_Transparent_BackgroundColor_Hover: transparent;

  /* Overflow */
  --fdAvatar_Overflow_BorderColor: var(--sapButton_BorderColor);
  --fdAvatar_Overflow_BackgroundColor: var(--sapButton_Background);
  --fdAvatar_Overflow_TextColor: var(--sapButton_TextColor);
  --fdAvatar_Overflow_Border_Width: 0.0625rem;

  /* Thumbnail */
  --fdAvatar_Thumbnail_BorderColor: transparent;

  /* Focus */
  --fdAvatar_Focus_Outline_Offset: -0.1875rem;
  --fdAvatar_Focus_Outline_Radius: 0;
  --fdAvatar_Focus_Outline_Radius_Circle: 0;

  /* Accent Colors */
  --fdAvatar_Accent_Color_1: var(--sapAccentColor1);
  --fdAvatar_Accent_Color_2: var(--sapAccentColor2);
  --fdAvatar_Accent_Color_3: var(--sapAccentColor3);
  --fdAvatar_Accent_Color_4: var(--sapAccentColor4);
  --fdAvatar_Accent_Color_5: var(--sapAccentColor5);
  --fdAvatar_Accent_Color_6: var(--sapAccentColor6);
  --fdAvatar_Accent_Color_7: var(--sapAccentColor7);
  --fdAvatar_Accent_Color_8: var(--sapAccentColor8);
  --fdAvatar_Accent_Color_9: var(--sapAccentColor9);
  --fdAvatar_Accent_Color_10: var(--sapAccentColor10);
  --fdAvatar_Accent_Color_1_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_2_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_3_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_4_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_5_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_6_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_7_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_8_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_9_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_10_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_1_Border: transparent;
  --fdAvatar_Accent_Color_2_Border: transparent;
  --fdAvatar_Accent_Color_3_Border: transparent;
  --fdAvatar_Accent_Color_4_Border: transparent;
  --fdAvatar_Accent_Color_5_Border: transparent;
  --fdAvatar_Accent_Color_6_Border: transparent;
  --fdAvatar_Accent_Color_7_Border: transparent;
  --fdAvatar_Accent_Color_8_Border: transparent;
  --fdAvatar_Accent_Color_9_Border: transparent;
  --fdAvatar_Accent_Color_10_Border: transparent;

  /* Accent Colors Hover */
  --fdAvatar_Accent_Color_Hover_1: var(--sapAccentColor1);
  --fdAvatar_Accent_Color_Hover_2: var(--sapAccentColor2);
  --fdAvatar_Accent_Color_Hover_3: var(--sapAccentColor3);
  --fdAvatar_Accent_Color_Hover_4: var(--sapAccentColor4);
  --fdAvatar_Accent_Color_Hover_5: var(--sapAccentColor5);
  --fdAvatar_Accent_Color_Hover_6: var(--sapAccentColor6);
  --fdAvatar_Accent_Color_Hover_7: var(--sapAccentColor7);
  --fdAvatar_Accent_Color_Hover_8: var(--sapAccentColor8);
  --fdAvatar_Accent_Color_Hover_9: var(--sapAccentColor9);
  --fdAvatar_Accent_Color_Hover_10: var(--sapAccentColor10);
  --fdAvatar_Accent_Color_1_Border_Color_Hover: var(--sapAccentColor1);
  --fdAvatar_Accent_Color_2_Border_Color_Hover: var(--sapAccentColor2);
  --fdAvatar_Accent_Color_3_Border_Color_Hover: var(--sapAccentColor3);
  --fdAvatar_Accent_Color_4_Border_Color_Hover: var(--sapAccentColor4);
  --fdAvatar_Accent_Color_5_Border_Color_Hover: var(--sapAccentColor5);
  --fdAvatar_Accent_Color_6_Border_Color_Hover: var(--sapAccentColor6);
  --fdAvatar_Accent_Color_7_Border_Color_Hover: var(--sapAccentColor7);
  --fdAvatar_Accent_Color_8_Border_Color_Hover: var(--sapAccentColor8);
  --fdAvatar_Accent_Color_9_Border_Color_Hover: var(--sapAccentColor9);
  --fdAvatar_Accent_Color_10_Border_Color_Hover: var(--sapAccentColor10);
}
