@import "./sap_fiori";

:root {
  // Default
  --fdAvatar_BackgroundColor: var(--sapBackgroundColor);
  --fdAvatar_Border_Color: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Text_Shadow: var(--sapContent_ContrastTextShadow);
  --fdAvatar_Color: var(--sapContent_ContrastTextColor);

  // Tile
  --fdAvatar_Tile_BackgroundColor: var(--sapBackgroundColor);
  --fdAvatar_Tile_TextColor: var(--sapContent_ContrastTextColor);
  --fdAvatar_Tile_BackgroundColor_Hover: var(--sapActiveColor);

  // Placeholder
  --fdAvatar_Placeholder_BackgroundColor_Hover: var(--sapContent_ImagePlaceholderBackground);

  // Transparent
  --fdAvatar_Transparent_BackgroundColor: var(--sapBackgroundColor);
  --fdAvatar_Transparent_BackgroundColor_Hover: var(--sapBackgroundColor);

  // Focus
  --fdAvatar_Focus_Outline_Offset: -0.25rem;
  --fdAvatar_Focus_Outline_Radius: 0;
  --fdAvatar_Focus_Outline_Radius_Circle: 0;

  // Accent Colors
  --fdAvatar_Accent_Color_1: var(--sapBackgroundColor);
  --fdAvatar_Accent_Color_2: var(--sapBackgroundColor);
  --fdAvatar_Accent_Color_3: var(--sapBackgroundColor);
  --fdAvatar_Accent_Color_4: var(--sapBackgroundColor);
  --fdAvatar_Accent_Color_5: var(--sapBackgroundColor);
  --fdAvatar_Accent_Color_6: var(--sapBackgroundColor);
  --fdAvatar_Accent_Color_7: var(--sapBackgroundColor);
  --fdAvatar_Accent_Color_8: var(--sapBackgroundColor);
  --fdAvatar_Accent_Color_9: var(--sapBackgroundColor);
  --fdAvatar_Accent_Color_10: var(--sapBackgroundColor);
  --fdAvatar_Accent_Color_1_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_2_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_3_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_4_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_5_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_6_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_7_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_8_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_9_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_10_Text: var(--sapContent_ContrastTextColor);
  --fdAvatar_Accent_Color_1_Border: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_2_Border: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_3_Border: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_4_Border: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_5_Border: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_6_Border: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_7_Border: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_8_Border: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_9_Border: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_10_Border: var(--sapGroup_ContentBorderColor);

  // Accent Colors Hover
  --fdAvatar_Accent_Color_Hover_1: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_2: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_3: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_4: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_5: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_6: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_7: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_8: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_9: var(--sapActiveColor);
  --fdAvatar_Accent_Color_Hover_10: var(--sapActiveColor);
  --fdAvatar_Accent_Color_1_Border_Color_Hover: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_2_Border_Color_Hover: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_3_Border_Color_Hover: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_4_Border_Color_Hover: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_5_Border_Color_Hover: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_6_Border_Color_Hover: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_7_Border_Color_Hover: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_8_Border_Color_Hover: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_9_Border_Color_Hover: var(--sapGroup_ContentBorderColor);
  --fdAvatar_Accent_Color_10_Border_Color_Hover: var(--sapGroup_ContentBorderColor);
}
