---
# Front matter comment to ensure Jekyll properly reads file.
---
//base component styles - do not import SCSS as the underlying jekyll sass engine does not use LibSass
@import "./fundamental-styles.css";
//needed for color variables in docs site
@import "../../src/functions/_color.scss";
@import "../../src/_settings.scss";

// landing page styling
@import "landingPage";

//docs site specific styles
@import "include-media.scss";
@import "docs-settings";
@import "docs-functions";
@import "docs-utils";
@import "docs-general";
@import "docs-top-nav";
@import "docs-time";
@import "docs-side-nav";
@import "docs-right-nav";
@import "docs-search-box";
@import "docs-main-content";
@import "docs-home";
@import "docs-headers";
@import "docs-colors";
@import "docs-spacing";
@import "docs-type";
@import "docs-tile";
@import "docs-component-list";
@import "docs-display-component";
@import "docs-display-responsive-component";
@import "docs-footer";
@import "docs-icons";

@font-face {
    font-family: "72";
    src: url("./72-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
};

@font-face {
  font-family: "72";
  src: url("./72-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
};

@font-face {
  font-family: "72";
  src: url("./72-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
};

@font-face {
  font-family: "SAP-icons";
  src: url("./SAP-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
