@use "sass:map";

/* business suite icon map */
$fd-business-suite-icons: (
  heart: "\e000",
  quarter: "\e001",
  year: "\e002",
  equalizer: "\e003",
  component: "\e004",
  component-private: "\e005",
  raw-material: "\e006",
  sms: "\e007",
  add-note: "\e008",
  change-time-horizon: "\e009",
  table-chart-customization: "\e00a",
  delegated-important-task: "\e00b",
  forklift: "\e00c",
  coins: "\e00d",
  filter-menu: "\e00e",
  target-to-date: "\e00f",
  program: "\e010",
  phase: "\e011",
  checklist: "\e012",
  mirrored-task: "\e013",
  sub-project: "\e014",
  checklist-item: "\e015",
  adhoc-analysis: "\e016",
  change-analysis: "\e017",
  review-demands: "\e018",
  project-definition: "\e019",
  data-access: "\e01a",
  define-shortage: "\e01b",
  review-supplies: "\e01c",
  change-log: "\e01d",
  priority-1: "\e01e",
  priority-2: "\e01f",
  jam: "\e020",
  milestone: "\e021",
  bulleting-with-numbers: "\e022",
  decrease-indent: "\e023",
  increase-indent: "\e024",
  bold: "\e025",
  italic: "\e026",
  strike-through: "\e027",
  underline: "\e028",
  save-as: "\e029",
  segmentation: "\e02A",
  context-menu: "\e02B",
  snapshot: "\e02C",
  subtraction-b-a: "\e02D",
  subtraction-a-b: "\e02E",
  intersection: "\e02F",
  union: "\e030",
  top: "\e031",
  bottom: "\e032",
  page-up: "\e033",
  page-down: "\e034",
  create-dashboard: "\e035",
  excelsius-file: "\e036",
  open-folder: "\e037",
  neutral: "\e038",
  split-segmentation: "\e039",
  manage-budget: "\e03a",
  blocked: "\e03b",
  pipette: "\e03c",
  top-recipe: "\e03d",
  recipe: "\e03e",
  ingredients: "\e03f",
  multiple-charts: "\e040",
  descending-bars: "\e041",
  descending-stacked-bars: "\e042",
  scatter-plot: "\e043",
  spill: "\e044",
  fire: "\e045",
  stratification: "\e046",
  relationship: "\e047",
  margin-decomposition: "\e048",
  control-group: "\e049",
  comparison-chart: "\e04A",
  responsible-area: "\e04B",
  increase: "\e04C",
  decrease: "\e04D",
  current-stock: "\e04E",
  expedite: "\e04F",
  postpone: "\e050",
  approved: "\e051",
  partially-delivered: "\e052",
  line-bar-chart: "\e053",
  expand-all: "\e054",
  submission: "\e055",
  change-request: "\e056",
  column-unselected: "\e057",
  column-selected: "\e058",
  row-unselected: "\e059",
  row-selected: "\e05A",
  stock-requirements: "\e05B",
  gender-male-and-female: "\e05C",
  marital-status: "\e05D",
  birthday: "\e05E",
  classification: "\e05F",
  marked-for-deletion: "\e060",
  bullet-chart: "\e061",
  remove-filter: "\e062",
  bank-account: "\e063",
  savings-account: "\e064",
  debit-card: "\e065",
  vip-customer: "\e066",
  undesirable-customer: "\e067",
  answered-change-request: "\e068",
  collected-change-request: "\e069",
  draw-freehand: "\e06A",
  draw-circle: "\e06B",
  completed: "\e06C",
  answered: "\e06D",
  traffic-cone: "\e06E",
  traffic-lights: "\e06F",
  container: "\e070",
  container-loading: "\e071",
  traffic-jam: "\e072",
  products: "\e073",
  sidepanel: "\e074",
  split-screen: "\e075",
  truck-driver-2: "\e076",
  keep-segment: "\e077",
  exclude-segment: "\e078",
  separate-segments: "\e079",
  distribute-segments: "\e07A",
  next-open-item: "\e07B",
  where-used: "\e07C",
  outbound-delivery: "\e07D",
  outbound-delivery-inactive: "\e07E",
  outbound-delivery-active: "\e07F",
  target: "\e080",
  source: "\e081",
  material: "\e082",
  due-date: "\e083",
  overdue: "\e084",
  set-as-default: "\e085",
  face-very-bad: "\e086",
  face-bad: "\e087",
  face-skeptical: "\e088",
  face-neutral: "\e089",
  face-astonished: "\e08A",
  face-happy: "\e08B",
  face-very-happy: "\e08C",
  face-awful: "\e08D",
  face-devastated: "\e08E",
  face-okey-dokey: "\e08F",
  alarm: "\e090",
  activate: "\e091",
  segment-preview-reference-objects: "\e092",
  radius: "\e093",
  polygon-black: "\e094",
  polygon-white: "\e095",
  polygon: "\e096",
  no-filter: "\e097",
  grip: "\e098",
  add-component: "\e099",
  water: "\e09A",
  gas: "\e09B",
  liquid: "\e09C",
  gas-2: "\e09D",
  water-2: "\e09E",
  operator: "\e09F",
  target-filter: "\e0A0",
  equipment: "\e0A1",
  gis-layer: "\e0A2",
  section: "\e0A3",
  kohorte: "\e0A4",
  female: "\e0A5",
  male: "\e0A6",
  model: "\e0A7",
  hourglass: "\e0A8",
  plain-grid-layout: "\e0A9",
  top-panel-layout: "\e0AA",
  "2x1-grid-layout": "\e0AB",
  "1x2-grid-layout": "\e0AC",
  side-panel-left-layout: "\e0AD",
  "2x2-grid-layout": "\e0AE",
  inverse-t-layout: "\e0AF",
  t-layout: "\e0B0",
  top-side-panel-layout: "\e0B1",
  side-top-panel-layout: "\e0B2",
  "4x4-grid-layout": "\e0B3",
  add-point: "\e0B4",
  add-polyline: "\e0B5",
  add-polygone: "\e0B6",
  email-send-delayed: "\e0B7",
  email-not-opened: "\e0B8",
  link-not-clicked: "\e0B9",
  sms-send-delayed: "\e0BA",
  ab-testing: "\e0BB",
  tv: "\e0BC",
  radio: "\e0BD",
  outdoor: "\e0BE",
  event: "\e0BF",
  paid-search: "\e0C0",
  display-ads: "\e0C1",
  call-center: "\e0C2",
  social: "\e0C3",
  event2: "\e0C4",
  official-service-group: "\e0C5",
  time-deposit: "\e0C6",
  early-widthdrawal-for-time-deposits: "\e0C7",
  aggregated-view: "\e0C8",
  detailed-view: "\e0C9",
  rescheduling: "\e0CA",
  resequencing: "\e0CB",
  movement-warning: "\e0CC",
  multiple-warnings: "\e0CD",
  box-truck: "\e0CE",
  box-truck-empty: "\e0CF",
  tractor: "\e0D0",
  driver: "\e0D1",
  driver-warning: "\e0D2",
  overlap: "\e0D3",
  expand-overlap: "\e0D4",
  collapse-overlap: "\e0D5",
  utilization: "\e0D6",
  expand-utilization: "\e0D7",
  collapse-utilization: "\e0D8",
  trailer: "\e0D9",
  container-closed: "\e0DA",
  railcar: "\e0DB",
  warehouse: "\e0DC",
  goods: "\e0DD",
  ship: "\e0DE",
  truck-driver: "\e0DF",
  return-delivery: "\e0E0",
  return-order: "\e0E1",
  contract: "\e0E2",
  business-partner: "\e0E3",
  business-partner-verified: "\e0E4",
  business-partner-anonymous: "\e0E5",
  business-partner-self-identified: "\e0E6",
  money-withdrawal: "\e0E7",
  truck-load: "\e0E8",
  truck-unload: "\e0E9",
  truck-load-unload: "\e0EA",
  pharmacy: "\e0EB",
  medicine-syrup: "\e0EC",
  reminder: "\e0ED",
  medicine-pill: "\e0EE",
  medicine-ointment: "\e0EF",
  medicine-drops: "\e0F0",
  blood-test: "\e0F1",
  temperature: "\e0F2",
  medicine-inhaler: "\e0F3",
  foot-steps: "\e0F4",
  weight: "\e0F5",
  health-tracking: "\e0F6",
  blood-pressure: "\e0F7",
  immunization: "\e0F8",
  allergies: "\e0F9",
  rescheduling2: "\e0FA",
  resequencing2: "\e0FB",
  no-time-change: "\e0FC",
  time-change: "\e0FD",
  smart-matcher: "\e0FE",
  "3D": "\e0FF",
  parallel-sequence: "\e100",
  alternative-sequence: "\e101",
  main-sequence: "\e102",
  refinery: "\e103",
  terminal: "\e104",
  vessel: "\e105",
  barge: "\e106",
  road: "\e107",
  pipeline: "\e108",
  delay: "\e109",
  legal-section: "\e10A",
  causes: "\e10B",
  effects: "\e10C",
  shared-by-me: "\e10D",
  shared-with-me: "\e10E",
  main-milestone: "\e10F",
  indicator-groups: "\e110",
  alert-groups: "\e111",
  function-alert: "\e112",
  function-hierarchy: "\e113",
  rfid: "\e114",
  input: "\e115",
  software-item: "\e116",
  product-view: "\e117",
  software-item-variant: "\e118",
  lighthouse: "\e119",
  demand-unit: "\e11A",
  fma-management: "\e11B",
  fma-validation: "\e11C",
  fma-analytics: "\e11D",
  class: "\e11E",
  overview: "\e11F",
  production: "\e120",
  subclass: "\e121",
  variant-configuration: "\e122",
  sum: "\e123",
  add-outside: "\e124",
  compressor: "\e125",
  dehydrator: "\e126",
  heater-treater: "\e127",
  pump: "\e128",
  separator: "\e129",
  well-completion: "\e12A",
  well: "\e12B",
  meter-chained: "\e12C",
  cluster-chained: "\e12D",
  tank-chained: "\e12E",
  empty-trailer: "\e12F",
  door: "\e130",
  loading-point: "\e131",
  stock-warehouse: "\e132",
  gate: "\e133",
  timeseries-waterfall-chart: "\e134",
  expand-collapse-level-2: "\e135",
  expand-collapse-level-3: "\e136",
  recycle: "\e137",
  stages-warning: "\e138",
  empty-warning: "\e139",
  all-spaces-pin: "\e13A",
  handling-units: "\e13B",
  packing-work-center: "\e13C",
  zoom-to-fit: "\e13D",
  ps-text: "\e140",
  activity: "\e141",
  activity-element: "\e142",
  transformer: "\e143",
  generation: "\e144",
  consumer: "\e145",
  storage: "\e146",
  circuit-breaker: "\e147",
  grid: "\e148",
  applied_filter: "\e149",
  thumb-sideway: "\e14A",
  thumb-sideway-filled: "\e14B",
  thumb-up-filled: "\e14C",
  thumb-down-filled: "\e14D",
  multi-container: "\e14E",
  collaboration-manager: "\e14F",
  network-header: "\e150",
  late: "\e151",
  created: "\e152",
  dispatched-deallocate: "\e153",
  confirmed: "\e154",
  unfirmed: "\e155",
  firmed: "\e156",
  unsaved-changes: "\e157",
  project-definition-2: "\e158",
  asterisk: "\e159",
  equal: "\e15A",
  not-equal: "\e15B",
  fixed-cell: "\e15C",
  partially-fixed-cell: "\e15D",
  stripes-pattern: "\e15E",
  feature-dictionary: "\e15F",
  variant-planning: "\e160",
  requirement-model: "\e161",
  bottle: "\e162",
  bottle-cap: "\e163",
  pallet: "\e164",
  foil: "\e165",
  tray: "\e166",
  unknown-dependency: "\e167",
  layer: "\e168",
  move-folder: "\e169",
  remove-folder: "\e16A",
  match-case: "\e16B",
  match-whole-word: "\e16C",
  remove-total: "\e16D",
  after-total: "\e16E",
  before-total: "\e16F",
  workbook-filter: "\e170",
  update-filter: "\e171",
  cell-lock: "\e172",
  monitor-assembly-sequence: "\e173",
  monitor-just-in-time-calls: "\e174",
  manage-charging-stations: "\e175",
  district-heating: "\e176",
  producer-switch: "\e177",
  consumer-switch: "\e178",
  storage-switch: "\e179",
  repeatable: "\e17A",
  max-container: "\e17B",
  max-interval: "\e17C",
  min-interval: "\e17D",
  cross-order: "\e17E",
  empty-order: "\e17F",
  cross-sequence: "\e180",
  empty-sequence: "\e181",
  cross-union: "\e182",
  empty-union: "\e183",
  cross-target: "\e184",
  non-stackable: "\e185",
  back-to-search: "\e186",
  business-objects-folder: "\e187",
  map-navigation: "\e188",
  staging: "\e189",
  dangerous-goods: "\e18A",
  configurable-product: "\e18B",
  entry-configurable-product: "\e18C",
);
