@use "sass:map";

/* icon map */
$fd-tnt-icons: (
    technicalsystem: '\e000',
    systemjava: '\e001',
    systemabap: '\e002',
    systemrecommendations: '\e003',
    system: '\e004',
    systemtrex: '\e005',
    systemtracks: '\e006',
    technicalscenario: '\e007',
    technicalinstance: '\e008',
    throughput-backlog: '\e009',
    batch-processing: '\e00a',
    database-consistency: '\e00b',
    intermediate-message: '\e00c',
    exceptions: '\e00d',
    system-HANA: '\e00e',
    python: '\e00f',
    raise-fault: '\e010',
    code1: '\e011',
    code2: '\e012',
    spike-arrest: '\e013',
    verify-API: '\e014',
    user: '\e015',
    note: '\e016',
    throwing-message: '\e017',
    catching-message: '\e018',
    start-event: '\e019',
    end-event: '\e01a',
    gateway: '\e01b',
    sub-process-marker: '\e01c',
    ad-hoc-marker: '\e01d',
    manual-task: '\e01e',
    send-task: '\e01f',
    receive-task: '\e020',
    script-task: '\e021',
    marquee: '\e022',
    data-input-arrow: '\e023',
    data-output-arrow: '\e024',
    more: '\e025',
    pattern: '\e026',
    task: '\e027',
    arrow: '\e028',
    data: '\e029',
    data-store: '\e02a',
    pool: '\e02b',
    swimlane: '\e02c',
    select: '\e02d',
    cursor: '\e02e',
    api: '\e02f',
    o-data: '\e030',
    javascript: '\e031',
    value-mapping: '\e032',
    terminate-end-event: '\e033',
    parallel-gateway: '\e034',
    exclusive-gateway: '\e035',
    service-task: '\e036',
    workflow-editor: '\e037',
    boundary-interrupting: '\e038',
    boundary-non-interrupting: '\e039',
    block: '\e03a',
    constrain-block: '\e03b',
    actor: '\e03c',
    instance-specification: '\e03d',
    value-type: '\e03e',
    interface-block: '\e03f',
    unit: '\e040',
    signal: '\e041',
    quantity-kind: '\e042',
    item-flow: '\e043',
    dependency: '\e044',
    generalization: '\e045',
    aggregation: '\e046',
    composition: '\e047',
    association: '\e048',
    port: '\e049',
    proxy-port: '\e04a',
    full-port: '\e04b',
    operations: '\e04c',
    constrains: '\e04d',
    receptions: '\e04e',
    references: '\e04f',
    parts: '\e050',
    flow: '\e051',
    values: '\e052',
    bill-of-material: '\e053',
    document-info-recording: '\e054',
    use-case-diagram: '\e055',
    bdd-diagram: '\e056',
    requirement-diagram: '\e057',
    package-diagram: '\e058',
    internal-block-diagram: '\e059',
    requirement-containment-relationship: '\e05A',
    use-case: '\e05B',
    use-case-extension-point: '\e05C',
    communication-path: '\e05D',
    note-connection: '\e05E',
    subject: '\e05F',
    auto-layout: '\e060',
    required-interface: '\e061',
    provided-interface: '\e062',
    sub-content: '\e063',
    connector: '\e064',
    local-process-call: '\e065',
    aggregator: '\e066',
    splitter: '\e067',
    converter: '\e068',
    content-modifier: '\e069',
    message-start-event: '\e06A',
    message-end-event: '\e06D',
    escalation-end-event: '\e06C',
    start-timer-event: '\e06D',
    error-start-event: '\e06E',
    error-end-event: '\e06F',
    content-enricher: '\e070',
    realization: '\e071',
    interface: '\e072',
    usiness-capability: '\e073',
    progress-group: '\e074',
    value-stream: '\e075',
    value-flow: '\e076',
    application: '\e077',
    etl-job: '\e078',
    business-service: '\e079',
    application-service: '\e07A',
    network-node: '\e07B',
    network: '\e07C',
    deployment-instance: '\e07D',
    intranet: '\e07E',
    mobile-network: '\e07F',
    private-cloud: '\e080',
    antenna: '\e081',
    firewall: '\e082',
    hub: '\e083',
    modem: '\e084',
    repeater: '\e085',
    router: '\e086',
    switch: '\e087',
    satellite: '\e088',
    system-2: '\e089',
    status-activating: '\e08A',
    status-suspended: '\e08B',
    status-suspending: '\e08C',
    status-terminated: '\e08D',
    status-terminating: '\e08E',
    solution-not-licensed: '\e08F',
    clear-all-mapping: '\e090',
    map-all-fields: '\e091',
    process-package: '\e092',
    process-kpis: '\e093',
    insights: '\e094',
    escalation-boundary-interrupting: '\e095',
    escalation-boundary-non-interrupting: '\e096',
    escalation-throwing: '\e097',
    solution: '\e098',
    binary: '\e099',
    uuid: '\e09A',
    github: '\e09B',
    robot: '\e09C',
    string: '\e09D',
    boolean: '\e09E',
    array: '\e09F',
    any: '\e101',
    integer: '\e102',
    float: '\e103',
    build-work-zone: '\e104',
    build-apps: '\e105',
    build-process-automation: '\e106',
    indicator: '\e107',
    indicator-active: '\e108',
    task-optional: '\e109',
    task-done: '\e10A',
    ai-1: '\e10b',
    ai-2: '\e10c',
    bound-validation-rule: '\e10d',
    business-application-studio: '\e110',
    clone-from-gi: '\e111',
    business-accelerator: '\e112',
    ai-feature-estimator: '\e113',
    service-estimator: '\e114',
    add-project: '\e115',
    add-issue: '\e116'
);
