@use "sass:map";

/* business suite icon map */
$fd-business-suite-icons: (
  heart: "\e000",
  quarter: "\e001",
  year: "\e002",
  equalizer: "\e003",
  component: "\e004",
  component-private: "\e005",
  raw-material: "\e006",
  sms: "\e007",
  add-note: "\e008",
  change-time-horizon: "\e009",
  table-chart-customization: "\e00a",
  delegated-important-task: "\e00b",
  forklift: "\e00c",
  coins: "\e00d",
  filter-menu: "\e00e",
  target-to-date: "\e00f",
  program: "\e010",
  phase: "\e011",
  checklist: "\e012",
  mirrored-task: "\e013",
  sub-project: "\e014",
  checklist-item: "\e015",
  adhoc-analysis: "\e016",
  change-analysis: "\e017",
  review-demands: "\e018",
  project-definition: "\e019",
  data-access: "\e01a",
  define-shortage: "\e01b",
  review-supplies: "\e01c",
  change-log: "\e01d",
  priority-1: "\e01e",
  priority-2: "\e01f",
  jam: "\e020",
  milestone: "\e021",
  bulleting-with-numbers: "\e022",
  decrease-indent: "\e023",
  increase-indent: "\e024",
  bold: "\e025",
  italic: "\e026",
  strike-through: "\e027",
  underline: "\e028",
  save-as: "\e029",
  segmentation: "\e02A",
  context-menu: "\e02B",
  snapshot: "\e02C",
  subtraction-b-a: "\e02D",
  subtraction-a-b: "\e02E",
  intersection: "\e02F",
  union: "\e030",
  top: "\e031",
  bottom: "\e032",
  page-up: "\e033",
  page-down: "\e034",
  create-dashboard: "\e035",
  xcelsius-file: "\e036",
  open-folder: "\e037",
  neutral: "\e038",
  split-segmentation: "\e039",
  manage-budget: "\e03a",
  blocked: "\e03b",
  pipette: "\e03c",
  top-recipe: "\e03d",
  recipe: "\e03e",
  ingredients: "\e03f",
  multiple-charts: "\e040",
  descending-bars: "\e041",
  descending-stacked-bars: "\e042",
  scatter-plot: "\e043",
  spill: "\e044",
  fire: "\e045",
  stratification: "\e046",
  relationship: "\e047",
  margin-decomposition: "\e048",
  control-group: "\e049",
  comparison-chart: "\e04A",
  responsible-area: "\e04B",
  increase: "\e04C",
  decrease: "\e04D",
  current-stock: "\e04E",
  expedite: "\e04F",
  postpone: "\e050",
  approved: "\e051",
  partially-delivered: "\e052",
  line-bar-chart: "\e053",
  expand-all: "\e054",
  submission: "\e055",
  change-request: "\e056",
  column-unselected: "\e057",
  column-selected: "\e058",
  row-unselected: "\e059",
  row-selected: "\e05A",
  stock-requirements: "\e05B",
  gender-male-and-female: "\e05C",
  marital-status: "\e05D",
  birthday: "\e05E",
  classification: "\e05F",
  marked-for-deletion: "\e060",
  bullet-chart: "\e061",
  remove-filter: "\e062",
  bank-account: "\e063",
  savings-account: "\e064",
  debit-card: "\e065",
  vip-customer: "\e066",
  undesirable-customer: "\e067",
  answered-change-request: "\e068",
  collected-change-request: "\e069",
  draw-freehand: "\e06A",
  draw-circle: "\e06B",
  completed: "\e06C",
  answered: "\e06D",
  traffic-cone: "\e06E",
  traffic-lights: "\e06F",
  container: "\e070",
  container-loading: "\e071",
  traffic-jam: "\e072",
  products: "\e073",
  sidepanel: "\e074",
  split-screen: "\e075",
  truck-driver-2: "\e076",
  keep-segment: "\e077",
  exclude-segment: "\e078",
  separate-segments: "\e079",
  distribute-segments: "\e07A",
  next-open-item: "\e07B",
  where-used: "\e07C",
  outbound-delivery: "\e07D",
  outbound-delivery-inactive: "\e07E",
  outbound-delivery-active: "\e07F",
  target: "\e080",
  source: "\e081",
  material: "\e082",
  due-date: "\e083",
  overdue: "\e084",
  set-as-default: "\e085",
  face-very-bad: "\e086",
  face-bad: "\e087",
  face-skeptical: "\e088",
  face-neutral: "\e089",
  face-astonished: "\e08A",
  face-happy: "\e08B",
  face-very-happy: "\e08C",
  face-awful: "\e08D",
  face-devastated: "\e08E",
  face-okey-dokey: "\e08F",
  alarm: "\e090",
  activate: "\e091",
  segment-preview-reference-objects: "\e092",
  radius: "\e093",
  polygone-black: "\e094",
  polygone-white: "\e095",
  ploygone: "\e096",
  no-filter: "\e097",
  grip: "\e098",
  add-component: "\e099",
  water: "\e09A",
  gas: "\e09B",
  liquid: "\e09C",
  time-deposit: "\e09D",
  early-widthdrawal-for-time-deposits: "\e09E",
  business-partner: "\e0E3",
  truck-load: "\e0E8",
  truck-unload: "\e0E9",
  truck-load-unload: "\e0EA",
  pharmacy: "\e0EB",
  medicine-syrup: "\e0EC",
  reminder: "\e0ED",
  medicine-pill: "\e0EE",
  medicine-ointment: "\e0EF",
  medicine-drops: "\e0F0",
  blood-test: "\e0F1",
  temperature: "\e0F2",
  medicine-inhaler: "\e0F3",
  foot-steps: "\e0F4",
  weight: "\e0F5",
  health-tracking: "\e0F6",
  blood-pressure: "\e0F7",
  immunization: "\e0F8",
  allergies: "\e0F9",
  rescheduling2: "\e0FA",
  resequencing2: "\e0FB",
  no-time-change: "\e0FC",
  time-change: "\e0FD",
  smart-matcher: "\e0FE",
  legal-section: "\e10A",
  causes: "\e10B",
  effects: "\e10C",
  shared-by-me: "\e10D",
  shared-with-me: "\e10E",
  alert-groups: "\e111",
  function-alert: "\e112",
  function-hierarchy: "\e113",
  rfid: "\e114",
  input: "\e115",
  software-item: "\e116",
  product-view: "\e117",
  software-item-variant: "\e118",
  lighthouse: "\e119",
  demand-unit: "\e11A",
  fma-management: "\e11B",
  fma-validation: "\e11C",
  fma-analytics: "\e11D",
  class: "\e11E",
  overview: "\e11F",
  production: "\e120",
  subclass: "\e121",
  variant-configuration: "\e122",
  sum: "\e123",
  empty-trailer: "\e12F",
  door: "\e130",
  loading-point: "\e131",
  stock-warehouse: "\e132",
  gate: "\e133",
  timeseries-waterfall-chart: "\e134",
  stages-warning: "\e138",
  empty-warning: "\e139",
  move-folder: "\e169",
  remove-folder: "\e16a",
  match-case: "\e16b",
  match-whole-word: "\e16c",
  remove-total: "\e16d",
  after-total: "\e16e",
  before-total: "\e16f",
  workbook-filter: "\e170",
  icon-update-filter: "\e171",
  cell-lock: "\e172",
  max-container: "\e17b",
  max-interval: "\e17c",
  min-interval: "\e17d",
  cross-order: "\e17e",
  empty-order: "\e17f",
  cross-sequence: "\e180",
  empty-sequence: "\e181",
  cross-union: "\e182",
  empty-union: "\e183",
  cross-target: "\e184",
  non-stackable: "\e185",
  back-to-search: "\e186",
  business-objects-folder: "\e187",
);
