{% extends "layout.njk" %}
{% from "./component.njk" import  formGroup %}
{% from "./../format.njk" import format %}

{% block content %}

  <h2>Default</h2>
  {% set example %}
    
  {% call formGroup() -%}
    <input class="input-playground" placeholder="Placeholder input" />
  {%- endcall %}

  {% endset %}
  {{ format(example) }}

  <h2>With multiple fd-form-group (testing margin-bottom)</h2>
  {% set example %}
  {# do not replace with macro as it doesn't inherit :last-child selector correctly #}
    <div class="fd-form-group">
      <input class="input-playground" placeholder="Placeholder input" />
    </div>
    <div class="fd-form-group">
      <input class="input-playground" placeholder="Placeholder input" />
    </div>

  {% endset %}
  {{ format(example) }}

  <h2>Inline radio</h2>

  {% set example %}
    <fieldset class="fd-fieldset">
      <legend class="fd-fieldset__legend">Inline Radio buttons</legend>
      <div class="fd-form-group--inline">
          <div class="fd-form-item">
<label class="fd-form-label fd-form-label--radio" for="pDidh767">
                  <input type="radio" class="fd-radio" id="pDidh767" name="radio">Field label
              </label>
          </div>
          <div class="fd-form-item">
              <label class="fd-form-label fd-form-label--radio" for="pDidh7618">
                  <input type="radio" class="fd-radio" id="pDidh7618" name="radio" >Field label
              </label>
          </div>
          <div class="fd-form-item">
              <label class="fd-form-label fd-form-label--radio" for="pDidh7619">
                  <input type="radio" class="fd-radio" id="pDidh7619" name="radio">Field label
              </label>
          </div>
      </div>
  </fieldset>
{% endset %}
{{ format(example) }}
<br>

  <h2>Checkbox inline </h2>

  {% set example %}
    <fieldset class="fd-fieldset">
        <legend class="fd-fieldset__legend">Checkboxes inline</legend>
        <div class="fd-form-group--inline">
            <div class="fd-form-item">
                <label class="fd-form-label fd-form-label--checkbox" for="Ai4ez617">
                    <input type="checkbox" class="fd-checkbox" id="Ai4ez617">Field label
                </label>
            </div>
            <div class="fd-form-item">
                <label class="fd-form-label fd-form-label--checkbox" for="Ai4ez618">
                    <input type="checkbox" class="fd-checkbox" id="Ai4ez618">Field label
                </label>
            </div>
            <div class="fd-form-item">
                <label class="fd-form-label fd-form-label--checkbox" for="Ai4ez619">
                    <input type="checkbox" class="fd-checkbox" id="Ai4ez619">Field label
                </label>
            </div>
        </div>
    </fieldset>
  {% endset %}
  {{ format(example) }}
{% endblock %}
