body {
  background-color: #edeff0;
  transition: background-color 0.25s;
  padding: 20px;
}
.test-label {
  margin-right: 20px;
  display: inline-block;
}

.test-header {
  border-bottom: solid 6px lightgray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.test-fieldset {
  font-size: 14px;
  border: solid 2px lightgray;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.test-datacontainer {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 10px;
  bottom: 0;
  text-align: right;
  width: 500px;
  max-width: calc(100vw - 15px);
  z-index: 10;
}
.test-datacontainer textarea {
  height: 50px;
}
.test-datacontainer textarea:focus {
  height: 80vh;
}
.test-datacontainer h2 {
  font-size: 12px;
  margin-bottom: 5px;
}

.test-datacontainer h2 code {
  word-wrap: break-word;
}

.status {
  margin-top: 10px;
}

.remove-spacing {
  margin: 0 !important;
  padding: 0 !important;
}

.backstop {
  padding: 20px;
}

.btn-playground,
.btn-playground--compact,
.btn-playground--emphasized {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  background: beige;
  font-size: 14px;
  margin: 0;
}

.btn-playground--compact{
  padding: 4px;
}

.btn-playground--emphasized {
  background: pink;
}

.el-playground {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: beige;
  border: 1px solid black;
}

.split-btn-playground,
.split-btn-playground--emphasized {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  background: beige;
  font-size: 14px;
  margin: 0;
}

.split-btn-playground--emphasized {
  background: pink;
}

.panel-playground {
  border: 1px solid navy;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  background: gold;
  font-size: 14px;
  box-shadow: 0 5px 20px 0 blue;
}

.badge-playground {
  border: 1px solid black;
  border-radius: 4px;
  background: beige;
  font-size: 10px;
}

.avatar-playground {
  display: inline-block;
  background: beige;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  min-width: 28px;
  line-height: 28px;
  font-size: 14px;
  padding: 0;
  margin: 0;
  border: none;
}
.input-playground,
.input-playground-full-width {
  width: 250px;
  background: beige;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid gray;
}

.input-playground.input-playground--full-width {
  width: 100%;
}

.input-playground.input-playground--subheader {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 20px;
}

.label-playground {
  margin: 0;
  padding: 0;
  color: orange;
}

.radio-playground {
  margin: 0;
  padding: 0;
  border: 2px solid #3a5fcd;
}

.checkbox-playground {
  margin: 0;
  padding: 0;
  border: 2px solid #3a5fcd;
}

.input-group-playground {
  font-size: 14px;
  margin: 0;
  padding: 0;
  border: none;
}

.input-group-input-playground {
  box-sizing: border-box;
  background: lightblue;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid black;
  margin: 0;
}

.input-group-input-playground--compact {
  height: 1.625rem;
}

.input-group-input-playground[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.menu-playground {
  list-style: none;
}

.overlay-playground {
  width: 400px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fd-overlay--alert .overlay-playground {
  background: gold;
  padding: 10px 0;
}

.fd-overlay--message-strip .overlay-playground {
  background: gold;
  padding: 10px 0;
}

.test-textarea {
  padding: 10px;
  margin: 0;
  border: solid 1px rgba(0, 0, 0, 0.1);
  font-size: 11px;
}

.test-notification-avatar {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 14px;
}

.test-sidenav-list {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}

.test-sidenav-list-icon {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}

.bar-popover-playground {
  margin: 0;
  padding: 0;
  color: black;
  background-color: blanchedalmond;
  height: 3rem;
}

.bar-playground {
  margin: 0;
  padding: 0;
  min-height: 2.5rem;
  background-color: blanchedalmond;
}

.bar-playground,
.bar-left-playground,
.bar-right-playground,
.bar-element-playground {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bar-playground {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  background-color: blanchedalmond;
}

.bar-left-playground {
  width: 100%;
}

.bar-right-playground {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.busy-indicator-playground {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 20px;
  background-color: cadetblue;
}

.list-tumbnail-playground {
  background-color: burlywood;
}

.form-item-playground {
  margin: 0;
  padding: 0;
  padding: 0.6875rem;
  display: flex;
}
.form-item-playground::after {
  content: '';
  min-height: 1.375rem;
  min-width: 1.375rem;
  background-color: thistle;
}

.fd-list--compact .form-item-playground {
  padding: 0.5rem;
}

.fd-list--compact .form-item-playground::after {
  min-height: 1rem;
  min-width: 1rem;
}

.tile-content-playground,
.tile-content-small-playground {
  background-color: white;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}
.tile-content-playground {
  width: 9rem;
  height: 3.875rem;
}

.tile-content-small-playground {
  width: 8.25rem;
  height: 3.438rem;
}
