body {
  background-color: rgb(243, 244, 245);
  transition: background-color 0.25s;
}

.remove-spacing {
    margin: 0 !important;
    padding: 0 !important;
}

#example-container {
    padding: 20px;
}

.btn-playground, .btn-playground--emphasized {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  background: beige;
  font-size: 14px;
}

.btn-playground--emphasized {
  background: pink;
}

.panel-playground {
  border: 1px solid navy;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  background: gold;
  font-size: 14px;
  box-shadow: 0 5px 20px 0 blue;
}

.badge-playground {
    border: 1px solid black;
    border-radius: 4px;
    background: beige;
    font-size: 10px;
}
.input-playground, .input-playground-full-width {
  width: 250px;
  background: beige;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
}

.input-playground-full-width {
  width: 100%;
  box-sizing: border-box;
}

.menu-playground {
    list-style: none;
}

.overlay-playground {
    width: 400px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fd-overlay--modal .overlay-playground {
    background: white;
}

.fd-overlay--alert .overlay-playground {
    background: gold;
    padding: 10px 0;
}

.test-textarea {
  padding: 10px;
  margin: 0;
  border: solid 1px rgba(0,0,0,0.1);
  font-size: 11px;
}