body {
    background-color: rgb(243, 244, 245);
    transition: background-color .25s;
}

.btn-playground {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    background: beige;
    font-size: 14px;
}

.input-playground {
    width: 250px;
    background: beige;
    padding: 10px;
    font-size: 14px;
}

.badge-playground {
    border: 1px solid black;
    border-radius: 4px;
    background: beige;
    font-size: 10px;
}
