:root {
    --fd-color-action: orangered;
    --fd-color-action-1: magenta;
    --fd-color-action-2: purple;
    --fd-color-action-hover: lime;
    --fd-color-action-selected: powderblue;
    --fd-color-background-default: teal; 
    --fd-color-background-alert: lightSalmon;
    --fd-color-background-negative: tomato;
    --fd-color-background-positive: khaki;
    --fd-color-background-information: plum;
    --fd-color-background-1: teal;
    --fd-color-background-2: palegoldenrod;
    --fd-color-background-3: rgb(47%, 36%, 91%);
    --fd-color-background-4: rgb(51%, 6%, 2%);
    --fd-color-background-5: rgb(13%, 71%, 90%);
    --fd-color-background-6: powderblue;
    --fd-color-status-1: #333;
    --fd-color-status-2: #666;
    --fd-color-status-3: #999;
    --fd-color-status-4: #ccc;
    --fd-color-text-1: rgb(93%, 2%, 45%);
    --fd-color-text-2: mediumaquamarine;
    --fd-color-text-5: gold;
    --fd-color-positive: rgb(87%, 33%, 21%);
    --fd-color-negative: rgb(9%, 75%, 29%);
    --fd-color-alert: rgb(84%, 13%, 91%);

    --fd-forms-height: 50px;
    --fd-forms-height-compact: 25px;
    --fd-button-line-height: 50px;
    --fd-button-line-height-compact: 25px;

    --fd-color-neutral-1: #FAFAFA;
    --fd-color-accent-1: #bc3f8c;
    --fd-color-accent-2: #6a68a8;
    --fd-color-accent-3: #4f9344;
    --fd-color-accent-4: #32c71c;
    --fd-color-accent-5: #0cd06b;
    --fd-color-accent-6: #253470;
    --fd-color-accent-7: #a8fac7;
    --fd-color-accent-8: #945ef7;
    --fd-color-accent-9: #e3ba20;
    --fd-color-accent-10: #5c819d;
    --fd-color-accent-11: #d17f15;
    --fd-color-accent-12: #41cc50;
    --fd-color-accent-13: #2b78c5;
    --fd-color-accent-14: #6367de;
    --fd-color-accent-15: #984bd2;
}
