:root {
    --fd-color-action-1: magenta;
    --fd-color-action: orangered;
    --fd-color-action-2: purple;
    --fd-color-background-2: palegoldenrod;
    --fd-color-action-hover: lime;
    --fd-color-action-selected: powderblue;
    --fd-color-status-1: #333;
    --fd-color-status-2: #666;
    --fd-color-status-3: #999;
    --fd-color-status-4: #ccc;

    --fd-forms-height: 50px;
    --fd-forms-height-compact: 25px;
    --fd-button-line-height: 50px;
    --fd-button-line-height-compact: 25px;

    --fd-color-text-1: rgb(93%, 2%, 45%);
    --fd-color-text-2: rgb(57%, 27%, 2%);
    --fd-color-positive: rgb(29%, 35%, 88%);
    --fd-color-alert: rgb(68%, 83%, 37%);
    --fd-color-negative: rgb(74%, 61%, 74%);
}
