body {
    font-size: 24px;
    font-family: "Comic Sans MS", Courier, monospace;
    color: brown;
}

p,
a,
ul,
li,
button {
    font-size: 30px;
    padding: 20px;
    margin: 20px;
    border: 2px dashed orangered;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 12px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 32px;
}

a {
    color: hotpink;
}

button {
    background: aquamarine;
    color: purple;
}
