
$gird-border-color: #cfdbe7;
$grid-item-bg-color: fd-color(background, 2);
$grid-transition-delay: 100ms;

.docs-component-grid {
    border: 1px solid $gird-border-color;
    border-left: none;
    border-right: none;
    display: flex;
    flex-wrap: wrap;

    > * {
        border: 1px solid $gird-border-color;
        box-sizing: border-box;
    }

    &__item {
        background: $grid-item-bg-color;
        position: relative;
        height: 280px;
        z-index: 1;
        transition: all ease-in-out $grid-transition-delay;

        display: flex;
        flex-direction: column;
        padding: 4rem 2rem;
        align-items: center;
        justify-content: flex-end;

        @include media(">=desktop") {
            width: (4/12)*100%;
        }
        @include media(">=display") {
            width: 25%;
            padding: 4rem 3rem;
        }
        @media screen and (max-width: 1300px) {
            width: 50%;
            padding: 4rem 2rem;
        }
        @media screen and (max-width: 950px) {
            width: 100%;
            padding: 2rem 2rem;
            justify-content: center;
        }

        &:hover {
            background-color: $grid-item-bg-color;
            box-shadow: 0 0 20px 0 rgba(138, 143, 161, 0.4);
            text-decoration: none;
            z-index: 2;
            transition: all ease-in-out $grid-transition-delay;
        }

        h3 {
            margin-top: 0;
            position: relative;
            bottom: 0;
        }
    }

    &--label {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.56;
        text-align: center;
        color: #21262c;
        margin-top: 30px;
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    
    &__img {
        min-height: 1px;
        -ms-interpolation-mode: bicubic;

        &__action-bar {
            width: auto;
            height: auto;
            min-width: 275px;
            max-width: 80%;
        }
        &__bar {
            width: auto;
            height: auto;
            min-width: 200px;
            max-width: 80%;
        }

        &__busy-indicator {
            width: auto;
            height: auto;
            min-width: 375px;
            max-width: 100%;
        }


        &__button {
            width: auto;
            height: auto;
            min-width: 250px;
            max-width: 40%;
        }

        &__combobox-input {
            width: auto;
            height: auto;
            min-width: 350px;
            max-width: 40%;
        }

        &__contextual-menu {
            width: auto;
            height: auto;
            min-width: 125px;
            max-width: 15%;
        }

        &__date-picker {
            width: auto;
            height: auto;
            min-width: 275px;
            max-width: 50%;
        }

        &__dropdown {
            width: auto;
            height: auto;
            min-width: 375px;
            max-width: 100%;
        }

        &__icon {
            width: auto;
            height: auto;
            min-width: 250px;
            max-width: 100%;
        }

        &__identifier {
            width: auto;
            height: auto;
            min-width: 275px;
            max-width: 100%;
        }

        &__image {
            width: auto;
            height: auto;
            min-width: 120px;
            max-width: 20%;
        }

        &__info-label {
            width: auto;
            height: auto;
            min-width: 250px;
            max-width: 100%;            
        }

        &__inline-help {
            width: auto;
            height: auto;
            min-width: 250px;
            max-width: 70%;
        }

        &__link {
            width: auto;
            height: auto;
            min-width: 200px;
            max-width: 100%;
        }

        &__list {
            width: auto;
            height: auto;
            min-width: 275px;
            max-width: 80%;
        }

        &__form {
            width: auto;
            height: auto;
            min-width: 250px;
            max-width: 40%;
        }

        &__input-group {
            width: auto;
            height: auto;
            min-width: 250px;
            max-width: 40%;
        }

        &__loading-spinner {
            width: auto;
            height: auto;
            min-width: 150px;
            max-width: 50%;
        }

        &__localization-editor{
            width: auto;
            height: auto;
            min-width: 275px;
            max-width: 80%; 
        }

        &__message-box {
            width: auto;
            height: auto;
            min-width: 250px;
            max-width: 30%;
        }

        &__message-strip {
            width: auto;
            height: auto;
            min-width: 250px;
            max-width: 55%;            
        }

        &__multi-input {
            width: auto;
            height: auto;
            min-width: 300px;
            max-width: 55%;            
        }

        &__notification {
            width: auto;
            height: auto;
            min-width: 275px;
            max-width: 70%;      
        }

        &__object-status {
            width: auto;
            height: auto;
            min-width: 200px;
            max-width: 100%;
        }

        &__product-switch {
            width: auto;
            height: auto;
            min-width: 250px;
            max-width: 60%;
        }

        &__dialog {
            width: auto;
            height: auto;
            min-width: 250px;
            max-width: 30%;
        }

        &__pagination {
            width: auto;
            height: auto;
            min-width: 275px;
            max-width: 90%;
        }

        &__search-input {
            width: auto;
            height: auto;
            min-width: 300px;
            max-width: 55%;            
        }

        &__select {
            width: auto;
            height: auto;
            min-width: 250px;
            max-width: 70%;
        }

        &__side-navigation {
            width: auto;
            height: auto;
            min-width: 115px;
            max-width: 20%;
        }

        &__shellbar {
            width: auto;
            height: auto;
            min-width: 275px;
            max-width: 100%;
        }

        &__status-indicators {
            width: auto;
            height: auto;
            min-width: 275px;
            max-width: 100%;            
        }

        &__switch {
            width: auto;
            height: auto;
            min-width: 80px;
            max-width: 50%;
        }

        &__table {
            width: auto;
            height: auto;
            min-width: 375px;
            max-width: 60%;
        }

        &__tabs {
            width: auto;
            height: auto;
            min-width: 275px;
            max-width: 90%;
        }

        &__tile {
            width: auto;
            height: auto;
            min-width: 275px;
            max-width: 90%;
        }

        &__time-picker {
            width: auto;
            height: auto;
            min-width: 300px;
            max-width: 55%;            
        }

        &__tree {
            width: auto;
            height: auto;
            min-width: 275px;
            max-width: 60%;
        }
    }

    @media screen and (min-width: 950px) {
        &__img {
            min-height: 1px;
            -ms-interpolation-mode: bicubic;

            &__action-bar {
                min-width: 275px;
                max-width: 100%;
            }
            &__bar {
                min-width: 200px;
                max-width: 100%;
            }

            &__busy-indicator {
                min-width: 375px;
                max-width: 100%;
            }

            &__message-strip {
                min-width: 375px;
                max-width: 100%;
            }

            &__button {
                min-width: 250px;
                max-width: 40%;
            }

            &__combobox-input {
                min-width: 125px;
                max-width: 70%;
            }

            &__contextual-menu {
                min-width: 125px;
                max-width: 30%;
            }

            &__dropdown {
                min-width: 375px;
                max-width: 100%;
            }

            &__icon {
                min-width: 250px;
                max-width: 100%;
            }

            &__identifier {
                min-width: 275px;
                max-width: 100%;
            }

            &__image {
                min-width: 120px;
                max-width: 20%;
            }

            &__info-label {
                min-width: 250px;
                max-width: 100%;            
            }

            &__inline-help {
                min-width: 250px;
                max-width: 70%;
            }

            &__link {
                min-width: 200px;
                max-width: 100%;
            }

            &__list {
                min-width: 275px;
                max-width: 80%;
            }

            &__form {
                min-width: 250px;
                max-width: 40%;
            }

            &__input-group {
                min-width: 250px;
                max-width: 40%;
            }

            &__loading-spinner {
                min-width: 150px;
                max-width: 50%;
            }

            &__localization-editor{
                min-width: 275px;
                max-width: 80%; 
            }

            &__message-box {
                min-width: 250px;
                max-width: 30%;
            }

            &__message-strip {
                min-width: 250px;
                max-width: 75%;            
            }
            
            &__multi-input {
                min-width: 250px;
                max-width: 75%;            
            }

            &__notification {
                min-width: 275px;
                max-width: 70%;      
            }

            &__object-status {
                min-width: 200px;
                max-width: 100%;
            }

            &__product-switch {
                min-width: 250px;
                max-width: 60%;
            }

            &__dialog {
                min-width: 250px;
                max-width: 40%;
            }

            &__pagination {
                min-width: 275px;
                max-width: 90%;
            }

            &__search-input {
                min-width: 100%;
                max-width: 90%;
            }

            &__select {
                min-width: 250px;
                max-width: 70%;
            }

            &__side-navigation {
                min-width: 115px;
                max-width: 20%;
            }

            &__shellbar {
                min-width: 275px;
                max-width: 100%;
            }

            &__status-indicators {
                min-width: 275px;
                max-width: 100%;            
            }

            &__switch {
                min-width: 80px;
                max-width: 50%;
            }

            &__table {
                min-width: 275px;
                max-width: 70%;
            }

            &__tabs {
                min-width: 275px;
                max-width: 90%;
            }

            &__tile {
                min-width: 275px;
                max-width: 90%;
            }

            &__tree {
                min-width: 275px;
                max-width: 70%;
            }
        }
    }

    @media screen and (min-width: 1300px) {
        &__img {
            min-height: 1px;
            -ms-interpolation-mode: bicubic;

            &__action-bar {
                min-width: 250px;
                max-width: 100%;
            }
            &__bar {
                min-width: 200px;
                max-width: 100%;
            }

            &__busy-indicator {
                min-width: 375px;
                max-width: 100%;
            }

            &__message-strip {
                min-width: 375px;
                max-width: 100%;
            }

            &__button {
                min-width: 250px;
                max-width: 40%;
            }

            &__combobox-input {
                min-width: 250px;
                max-width: 60%;
            }

            &__contextual-menu {
                min-width: 125px;
                max-width: 10%;
            }

            &__dropdown {
                min-width: 375px;
                max-width: 100%;
            }

            &__icon {
                min-width: 250px;
                max-width: 100%;
            }

            &__identifier {
                min-width: 275px;
                max-width: 100%;
            }

            &__image {
                min-width: 120px;
                max-width: 20%;
            }

            &__info-label {
                min-width: 250px;
                max-width: 100%;            
            }

            &__inline-help {
                min-width: 250px;
                max-width: 60%;
            }

            &__link {
                min-width: 200px;
                max-width: 100%;
            }

            &__list {
                min-width: 275px;
                max-width: 80%;
            }

            &__form {
                min-width: 250px;
                max-width: 40%;
            }

            &__input-group {
                min-width: 250px;
                max-width: 40%;
            }

            &__loading-spinner {
                min-width: 150px;
                max-width: 50%;
            }

            &__localization-editor{
                min-width: 275px;
                max-width: 80%; 
            }

            &__message-box {
                min-width: 250px;
                max-width: 30%;
            }

            &__message-strip {
                min-width: 250px;
                max-width: 75%;            
            }

            &__multi-input {
                min-width: 250px;
                max-width: 75%;            
            }

            &__notification {
                min-width: 250px;
                max-width: 70%;      
            }

            &__object-status {
                min-width: 200px;
                max-width: 100%;
            }

            &__product-switch {
                min-width: 250px;
                max-width: 60%;
            }

            &__dialog {
                min-width: 250px;
                max-width: 40%;
            }

            &__pagination {
                min-width: 250px;
                max-width: 90%;
            }

            &__search-input {
                min-width: 300px;
                max-width: 50%;
            }

            &__select {
                min-width: 250px;
                max-width: 50%;
            }

            &__side-navigation {
                min-width: 115px;
                max-width: 20%;
            }

            &__shellbar {
                min-width: 275px;
                max-width: 100%;
            }

            &__status-indicators {
                min-width: 275px;
                max-width: 100%;            
            }

            &__switch {
                min-width: 60px;
                max-width: 50%;
            }

            &__table {
                min-width: 250px;
                max-width: 70%;
            }

            &__tabs {
                min-width: 275px;
                max-width: 90%;
            }

            &__tile {
                min-width: 250px;
                max-width: 90%;
            }

            &__tree {
                min-width: 275px;
                max-width: 70%;
            }
        }
    }

    @include media(">=display") {
        &__img {
            min-height: 1px;
            -ms-interpolation-mode: bicubic;

            &__action-bar {
                min-width: 325px;
                max-width: 100%;
            }
            &__bar {
                min-width: 175px;
                max-width: 100%;
            }

            &__busy-indicator {
                min-width: 375px;
                max-width: 100%;
            }

            &__message-strip {
                min-width: 375px;
                max-width: 100%;
            }

            &__button {
                min-width: 250px;
                max-width: 40%;
            }

            &__combobox-input {
                min-width: 250px;
                max-width: 35%;
            }

            &__contextual-menu {
                min-width: 125px;
                max-width: 10%;
            }

            &__dropdown {
                min-width: 375px;
                max-width: 100%;
            }

            &__form {
                min-width: 300px;
                max-width: 40%;
            }

            &__icon {
                min-width: 325px;
                max-width: 100%;
            }

            &__identifier {
                min-width: 300px;
                max-width: 100%;
            }

            &__image {
                min-width: 100px;
                max-width: 15%;
            }

            &__info-label {
                min-width: 300px;
                max-width: 100%;            
            }

            &__inline-help {
                min-width: 300px;
                max-width: 40%;
            }

            &__input-group {
                min-width: 300px;
                max-width: 40%;
            }

            &__link {
                min-width: 150px;
                max-width: 100%;
            }

            &__list {
                min-width: 300px;
                max-width: 60%;
            }

            &__loading-spinner {
                min-width: 150px;
                max-width: 50%;
            }

            &__localization-editor{
                min-width: 300px;
                max-width: 80%; 
            }

            &__message-box {
                min-width: 250px;
                max-width: 25%;
            }

            &__message-strip {
                min-width: 250px;
                max-width: 40%;            
            }

            &__notification {
                min-width: 275px;
                max-width: 70%;      
            }

            &__object-status {
                min-width: 200px;
                max-width: 100%;
            }

            &__product-switch {
                min-width: 300px;
                max-width: 35%;
            }

            &__dialog {
                min-width: 250px;
                max-width: 20%;
            }

            &__pagination {
                min-width: 300px;
                max-width: 90%;
            }

            &__select {
                min-width: 300px;
                max-width: 35%;
            }

            &__side-navigation {
                min-width: 115px;
                max-width: 10%;
            }

            &__shellbar {
                min-width: 325px;
                max-width: 100%;
            }

            &__status-indicators {
                min-width: 300px;
                max-width: 100%;            
            }

            &__switch {
                min-width: 100px;
                max-width: 30%;
            }

            &__table {
                min-width: 300px;
                max-width: 40%;
            }

            &__tabs {
                min-width: 325px;
                max-width: 90%;
            }

            &__tile {
                min-width: 300px;
                max-width: 90%;
            }

            &__tree {
                min-width: 300px;
                max-width: 40%;
            }
        }
    }
}
