$side-nav-bg: $docs-home-dark-color;
$side-nav-links-color: $docs-home-white-color;
.side-nav {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 27px - 40px - 20px);
    background-color: $side-nav-bg;
    float: none;
    vertical-align: top;
    width: 290px;
    min-width: 290px;

    @include media("<=tablet") {
        width: auto;
        display: none;
        &.fd-styles__mobile-list {
            width: auto;
            display: flex;
        }
    }

    &__headers {
        font-size: 28px;
        font-weight: bold;
        list-style: none;

        &:last-child hr {
            display: none;
        }

        >ul {
            display: none;
        }
        &.active>ul {
            display: block;
        }
        &-link {
            color: $side-nav-links-color !important;
            font-family: '72', sans-serif;
            padding: 20px 20px 5px 20px;
            display: block;
            &:hover {
                color: $side-nav-links-color;
            }
        }
        ol, ul {
            margin-left: 0;
        }
    }

    &__links-container {
        padding-left: 20px;
        padding-bottom: 7rem;
        margin: 0;
        overflow-y: auto;
    }
    &__links {
        list-style: none;
        font-weight: normal;
        &-link {
            color: $side-nav-links-color !important;
            display: block;
            padding: 12px 30px;
            font-weight: lighter;
            font-size: 18px;
            font-family: '72', sans-serif;
            &:hover {
                color: $side-nav-links-color;
                text-decoration: none;
                background-color: $accent-color;
            }
        }
        &.active {
            a {
                padding-left: 30px;
                color: red;
                font-weight: bold;
            }
        }
    }

    &__seperator {
        margin: 15px 20px 0 20px;
        border-bottom: 1px solid #242424;
        opacity: .3;
    }
}
