.docs-footer {
    background: $docs-home-white-color;
    bottom: 0;
    margin-bottom: 32px;
    padding: 32px;
    width: 100%;
    font-size: 16px;
    .row {
      margin: 0;
    }
    &__link {
      margin-left: 20px;
    }
}
