html {
    box-sizing: border-box;
    min-height: 100%;
    box-sizing: inherit;
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

.docs-container {
   margin-left: 0;
    width: 100%;
    display: flex;
       @include media("<=tablet") {
        display: inline;
       }
    }

body {
    font-family: '72', sans-serif;
    overflow: hidden;
    font-size: $fd-font-size;
    line-height: $fd-line-height;
    margin: 0;
    background-color: fd-color(background, 2);
    -webkit-font-smoothing: antialiased;
    color: var(--fd-color);
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    margin-bottom: $fd-margin-bottom;
    margin-top: 0;
}

p, ul, ol, blockquote, table, figure {
    margin-top: 0;
    margin-bottom: $fd-margin-bottom;
    &:last-child {
        margin-bottom: 0;
    }
}

img {
    line-height: 0;
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: all $fd-animation--speed ease-in;
    color: --fd-color-action;
    &:hover {
        color: fd-color-state("hover", "action");
    }
    &:active,
    &.is-active,
    &[aria-selected="true"] {
      color: fd-color-state("selected", "action");
      outline: none;
    }
    &:focus {
      outline-style: dotted;
      outline-width: 1px;
      outline-color: fd-color-state("hover", "action");
    }
    &[aria-disabled="true"],
    &.is-disabled,
    &:disabled {
      outline-color: fd-color-state("disabled", "action");
      cursor: not-allowed;
    }
}

ul, ol {
    margin-left: 40px;
    padding: 0;
}

hr {
    margin: 36px 0;
    float: none;
    clear: both;
}

.doc-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.highlight {
    max-width: 1440px;
    margin: 25px 0 0 0;
}

.docs-tiles {
    $docs-tiles-color: docs-color(action, 4);

    .fd-tile[role="button"] {
        border: 1px solid docs-color(neturals, 1);
        text-decoration: none;

        &:hover {
            border-color: $docs-tiles-color;
        }
        &:active, :focus {
            border-color: $docs-tiles-color;
            text-decoration: none;
        }
    }

    .fd-tile__header {
        color: $docs-tiles-color !important;
        font-weight: normal;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
    }
    .fd-tile__content {
        align-self: auto;
    }
    .fd-tile__description {
        color: docs-color(text, 1);
    }
    a:hover {
        color: inherit;
        text-decoration: none;
    }
}

pre {
    display: block;
    padding: 10px;
    margin: 0 0 20px;
    word-break: break-all;
    word-wrap: break-word;
    color: #666;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: $fd-font-family--code;

    code {
      padding: 0;
      font-size: inherit;
      color: inherit;
      white-space: pre-wrap;
      background-color: transparent;
      border-radius: 0;
    }
  }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: $fd-font-family--code;
}

  blockquote {
      margin: 15px 0;
      padding: 10px;
      border: 1px solid #ccc;
      border-left-width: 5px;
      border-radius: 5px;
      background: #fffde4;
      font-size: 1rem;

      &.docs-deprecated {
          background: var(--fd-color-background-negative);
          color: var(--fd-color-negative);
          border-color: var(--fd-color-negative);
      }
  }

.docs-headers-h2 {
    flex-shrink: 0;
}

.docs-table {
    border: 1px solid fd-color(neutral, 3);
    width: 100%;

    td {
        vertical-align: top;
    }
}


.docs-status {
  padding: 10px 0;
  margin-bottom: 30px;
  border: solid 1px fd-color(neutral, 3);
  border-width: 1px 0;
}

.docs-intro {
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 400;
}

.docs-alert {
  margin: 0 0 30px 0;
}


#mobile-sidenav-btn {
    display: none;
    @include media("<=tablet") {
        display: block;
    }
}
