
$gird-border-color: #cfdbe7;
$grid-item-bg-color: fd-color(background, 2);
$grid-transition-delay: 100ms;

.docs-component-grid {
    border: 1px solid $gird-border-color;
    border-left: none;
    border-right: none;
    margin: 0 -40px -80px -40px;
    display: flex;
    flex-wrap: wrap;

    > * {
        border: 1px solid $gird-border-color;
        box-sizing: border-box;
    }

    // @include media("<=tablet") {
    //     > * {
    //         width: 100%;
    //     }
    // }
    // @include media(">=tablet") {
    //     > * {
    //         width: 50%;
    //     }    
    // }
    // @include media(">=desktop") {
    //     > * {
    //         width: (4/12)*100%;
    //         padding: 1% 1rem;
    //     }    
    // }

    &--item {
        background: $grid-item-bg-color;
        position: relative;
        height: 280px;
        z-index: 1;
        transition: all ease-in-out $grid-transition-delay;

        display: flex;
        flex-direction: column;
        padding: 5rem 1rem;
        align-items: center;
        justify-content: flex-end;

        @include media("<=tablet") {
            
                width: 100%;
            
        }
        @include media(">=tablet") {
            
                width: 50%;
                padding: 5rem 1rem;

        }
        @include media(">=desktop") {
            
                width: (4/12)*100%;
              
        }

        @include media(">=display") {
            
            width: (2/12)*100%;
            padding: 5rem 1rem;
        }
        

        &:hover {
            background-color: $grid-item-bg-color;
            box-shadow: 0 0 20px 0 rgba(138, 143, 161, 0.4);
            text-decoration: none;
            z-index: 2;
            transition: all ease-in-out $grid-transition-delay;
        }

        h3 {
            margin-top: 0;
            position: relative;
            bottom: 0;
        }
    }

    &--label {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.56;
        text-align: center;
        color: #21262c;
        margin-top: 30px;
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &--img {

        &__action-bar {
            width: 95%;

            @include media("<=tablet") {
                width: 80%;
            }

            @include media(">=desktop") {
                width: 50%;
            }
        }

        &__bar {
            width: 95%;

            @include media("<=tablet") {
                width: 80%;
            }

            @include media(">=desktop") {
                width: 80%;
            }
        }

        &__busy-indicator {
            width: 100%;

            @include media("<=tablet") {
                width: 40%;
            }

            @include media(">=desktop") {
                width: 40%;
            }
        }

        &__message-strip {
            width: 70%;

            @include media("<=tablet") {
                width: 40%;
            }

            @include media(">=desktop") {
                width: 30%;
            }
        }

        &__status-indicators {
            width: 70%;
        }

	    &__info-label {
            width: 70%;
        }

        &__button {
            width: 40%;

            @include media("<=tablet") {
                width: 30%;
            }

            @include media(">=desktop") {
                width: 25%;
            }
        }

        &__combobox-input {

            @include media("<=tablet") {
                width: 30%;
            }

            @include media(">=desktop") {
                width: 45%;
            }
        }

        &__contextual-menu {
            width: 40%;

            @include media("<=tablet") {
                width: 20%;
            }

            @include media(">=desktop") {
                width: 25%;
            }

            @include media(">=display") {
                width: 20%;
            }
        }

        &__dropdown {
            width: 70%;
        }

        &__icons {
            width: 70%;
        }

        &__identifier {
            width: 65%;

            @include media("<=tablet") {
                width: 40%;
            }

            @include media(">=desktop") {
                width: 40%;
            }
        }

        &__image {
            width: 30%;

            @include media("<=tablet") {
                width: 15%;
            }

            @include media(">=desktop") {
                width: 10%;
            }
        }

        &__inline-help {
            width: 70%;

            @include media("<=tablet") {
                width: 40%;
            }

            @include media(">=desktop") {
                width: 30%;
            }
        }

        &__link {
            width: 55%;

            @include media("<=tablet") {
                width: 25%;
            }

            @include media(">=desktop") {
                width: 25%;
            }
        }

        &__list {
            width: 75%;

            @include media("<=tablet") {
                width: 30%;
            }

            @include media(">=desktop") {
                width: 30%;
            }
        }

        &__localization-editor {
        }

        &__form {
            width: 70%;

            @include media("<=tablet") {
                width: 35%;
            }

            @include media(">=desktop") {
                width: 25%;
            }
        }

        &__input-group {
            width: 70%;

            @include media("<=tablet") {
                width: 40%;
            }

            @include media(">=desktop") {
                width: 40%;
            }
        }

        &__list-group {
            width: 90%;
        }

        &__loading-spinner {
            width: 25%;

            @include media("<=tablet") {
                width: 12%;
            }

            @include media(">=desktop") {
                width: 12%;
            }
        }

        &__product-switch {
            @include media("<=tablet") {
                width: 40%;
            }

            @include media(">=desktop") {
                width:30%;
            }
        }

        &__dialog {
            width: 50%;

            @include media("<=tablet") {
                width: 25%;
            }

            @include media(">=desktop") {
                width: 20%;
            }
        }

        &__multi-input {
            width: 75%;
        }

        &__pagination {
            width: 90%;

            @include media("<=tablet") {
                width: 80%;
            }

            @include media(">=desktop") {
                width: 80%;
            }
        }

        &__select {
            width: 40%;

            @include media("<=tablet") {
                width: 20%;
            }

            @include media(">=desktop") {
                width: 20%;
            }
        }

        &__side-navigation {
            width: 30%;

            @include media("<=tablet") {
                width: 12%;
            }

            @include media(">=desktop") {
                width: 12%;
            }
        }

        &__shellbar {
            width: 90%;

            @include media("<=tablet") {
                width: 80%;
            }

            @include media(">=desktop") {
                width: 80%;
            }
        }

        &__switch {
            width: 20%;

            @include media("<=tablet") {
                width: 10%;
            }

            @include media(">=desktop") {
                width: 10%;
            }
        }

        &__table {
            width: 90%;

            @include media("<=tablet") {
                width: 45%;
            }

            @include media(">=desktop") {
                width: 45%;
            }
        }

        &__tabs {
            width: 90%;

            @include media("<=tablet") {
                width: 50%;
            }

            @include media(">=desktop") {
                width: 50%;
            }
        }

        &__tile {
            width: 90%;

            @include media("<=tablet") {
                width: 50%;
            }

            @include media(">=desktop") {
                width: 50%;
            }
        }

        &__toolbar {
            width: 95%;
        }

        &__tree {
            width: 90%;

            @include media("<=tablet") {
                width: 50%;
            }

            @include media(">=desktop") {
                width: 50%;
            }
        }
    }
}
