
$search-border-color: docs-color(neturals, 1);
$search-input-bg: docs-color(background, 1);
$search-results-link-hover: docs-color(background, 2);

.search-box {
    position: relative;
    flex-shrink: 0;

    &__icon {
        position: absolute;
        top: 28px;
        left: 50px;
        font-size: 20px;
        color: $search-border-color;
    }

    &__input {
        height: 40px !important;
        border-color: $search-border-color !important;
        background-color: $search-input-bg !important;
        padding-left: 36px !important;
        border-radius: 0 !important;
    }

    &__results {
        list-style: none;
        font-size: 12px;
        background-color: white;
        position: absolute;
        top: 61px;
        z-index: 1;
        width: calc(100% - 80px);
        margin-left: 0;
        border: 1px solid $search-border-color;
        border-top: none;
        &-links a {
            color: docs-color(text,1);
            display: block;
            padding: 10px;
            &:hover {
                background-color: $search-results-link-hover;
            }
        }
    }
}
