@mixin fd-rtl {
  @at-root {
    [dir="rtl"] &,
    &[dir="rtl"] {
      @content;
    }
  }
}

html {
  min-height: 100%;
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

.docs-container {
  margin-left: 0;
  width: 100%;
  display: flex;

  @media screen and (max-width: 950px) {
    display: inline;
  }
}

body {
  font-family: '72', sans-serif;
  overflow: hidden;
  font-size: $fd-font-size;
  line-height: $fd-line-height;
  margin: 0;
  background-color: fd-color(background, 2);
  -webkit-font-smoothing: antialiased;
  color: var(--fd-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  margin-bottom: $fd-margin-bottom;
  margin-top: 0;
}

.docs-ul,
.docs-ol {
  margin-left: 1.5rem;
  padding: 0;

  @include fd-rtl() {
    margin-left: 0;
    margin-right: 1.5rem;
  }
}

blockquote {
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 5px;
  background: #fffde4;
  font-size: 1rem;

  &.docs-deprecated {
    background: var(--fd-color-background-negative);
    color: var(--fd-color-negative);
    border-color: var(--fd-color-negative);
  }
}

p,
ul,
ol,
blockquote,
table,
figure {
  margin-top: 0;
  margin-bottom: $fd-margin-bottom;

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  line-height: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
  color: --fd-color-action;

  &:hover {
    color: fd-color-state("hover", "action");
  }

  &:active,
  &.is-active,
  &[aria-selected="true"] {
    color: fd-color-state("selected", "action");
    outline: none;
  }

  &:focus {
    outline-style: dotted;
    outline-width: 1px;
    outline-color: fd-color-state("hover", "action");
  }

  &[aria-disabled="true"],
  &.is-disabled,
  &:disabled {
    outline-color: fd-color-state("disabled", "action");
    cursor: not-allowed;
  }
}

hr {
  margin: 36px 0;
  float: none;
  clear: both;
}

.doc-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.highlight {
  max-width: 100%;
  margin: 25px 0 0 0;
}

.docs-tiles {
  $docs-tiles-color: docs-color(action, 4);

  margin: 0 -20px;
  grid-auto-rows: 1fr;

  .docs-tile[role="button"] {
    border: 1px solid docs-color(neturals, 1);
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-decoration: none;

    &:hover {
      border-color: $docs-tiles-color;
    }

    &:active,
    :focus {
      border-color: $docs-tiles-color;
      text-decoration: none;
    }
  }

  .fd-tile__header {
    color: $docs-tiles-color !important;
    font-weight: normal;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .fd-tile__content {
    align-self: auto;
  }

  .fd-tile__description {
    color: docs-color(text, 1);
  }

  a:hover {
    color: inherit;
    text-decoration: none;
  }
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-family: $fd-font-family--code;
}

pre {
  display: block;
  padding: 10px;
  margin: 0 0 20px;
  word-break: break-all;
  word-wrap: break-word;
  color: #666;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: $fd-font-family--code;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}

.docs-headers-h2 {
  flex-shrink: 0;
}

.docs-table {
  border: 1px solid fd-color(neutral, 3);
  width: 100%;

  td {
    vertical-align: top;
  }
}

.docs-status {
  padding: 10px 0;
  margin-bottom: 30px;
  border: solid 1px fd-color(neutral, 3);
  border-width: 1px 0;
}

.docs-intro {
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 400;
  margin-left: 0;
}

#mobile-sidenav-btn {
  display: none;

  @media screen and (max-width: 950px) {
    display: block;
  }
}

.docs-calendar-table {
  &__row {
    display: flex;
    min-height: 3rem;
    align-items: center;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1rem;
    }
  }

  &__element:first-child {
    width: 30%;
    margin-right: 1rem;

    @include fd-rtl() {
      margin-right: 0;
      margin-left: 1rem;
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
      margin-right: 0;

      @include fd-rtl() {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &__element:last-child {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    @include fd-rtl() {
      margin-right: 0;
      margin-left: 0.5rem;
    }

    .fd-calendar__item {
      max-width: 2rem;
      flex: 1;
      margin-top: 0.25rem;
      min-height: 44px;
    }
  }

  &--special {
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: 500px) {
      justify-content: space-around;
    }
  }
}
