:root {
  --fdStepInput_Button_Width_Cozy: 2.125rem;
  --fdStepInput_Button_Width_Compact: 1.5rem;
  --fdStepInput_Button_Width_Semantic_Cozy: 2rem;
  --fdStepInput_Button_Width_Semantic_Compact: 1.375rem;
}
