{% macro link(properties={}, modifier={}, state={}, aria={}) -%}
    <a role="link" {{'href="#"' if properties.disabled == false}} class="fd-link " {{ 'disabled' if properties.disabled == true}} {{'aria-disabled="true"' if properties.disabled}} {{'design="' + properties.design + '"' }}>{{ properties.text }}</a>
{%- endmacro %}