{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import link %}

{% set link_data = [
    {
        text: 'Standard Link',
        disabled: false
    }, {
        text: 'Standard Disabled Link',
        disabled: true
    }, {
        text: 'Emphasized Link',
        disabled: false,
        design: 'Emphasized'
    }, {
        text: 'Emphasized Disabled Link',
        disabled: true,
        design: 'Emphasized'
    }
] %}

{% block content %}
    <style media="screen">
        .link-playground a {
            margin-right: 5px !important;
        }
    </style>

    <div class="link-playground">
        {% set example1 %}
        {% for l1 in link_data %}
            {{ link(properties=l1)}}
        {% endfor %}
        {% endset %}
        {{ format(example1) }}
    </div>
{% endblock %}