:root {
  --fdScrollbar_Track_Color: var(--sapScrollBar_TrackColor);
  --fdScrollbar_Thumb_Color: var(--sapScrollBar_FaceColor);
  --fdScrollbar_Thumb_Hover_Color: var(--sapScrollBar_Hover_FaceColor);
  --fdScrollbar_Dimension: var(--sapScrollBar_Dimension);
  --fdScrollbar_Thumb_Border_Radius: 0;
  --fdScrollbar_Thumb_Offset: 0;
}
