:root {
  --fdToolHeader_Height: 3.25rem;
  --fdToolHeader_Shadow: inset 0 -0.0625rem 0 0 var(--sapShell_BorderColor);
  --fdToolHeader_Button_Hover_Border_Color: var(--sapButton_Lite_BorderColor);
  --fdToolHeader_Button_Active_Border_Color: var(--sapButton_Lite_Active_BorderColor);
  --fdToolHeader_Button_Outline_Color: var(--sapContent_FocusColor);
  --fdToolHeader_Search_Border: none;
  --fdToolHeader_Search_Category_Border: none;
  --fdToolHeader_Search_Category_Border_width: 0;
  --fdToolHeader_Search_Category_Offset_Left: 0.25rem;
  --fdToolHeader_Search_Category_Offset_Right: var(--fdToolHeader_Search_Category_Offset_Left);
  --fdToolHeader_Search_Category_Button_Hover_Background: var(--sapShell_Hover_Background);
  --fdToolHeader_Search_Hover_Category_Button_Background: var(--fdToolHeader_Search_Category_Button_Hover_Background);
  --fdToolHeader_Search_Input_Border: none;
  --fdToolHeader_Search_Container_Background: var(--sapShell_InteractiveBackground);
  --fdToolHeader_Search_Container_Hover_Background: var(--sapShell_Hover_Background);
  --fdToolHeader_Input_Background: var(--sapShell_InteractiveBackground);
  --fdToolHeader_Input_Hover_Background: var(--sapShell_Hover_Background);
  --fdToolHeader_Input_Color: var(--sapShell_InteractiveTextColor);
  --fdToolHeader_Input_Placeholder_Color: var(--sapField_PlaceholderTextColor);
  --fdToolHeader_Input_Border_Radius: 1.125rem;
  --fdToolHeader_Input_Hover_Border_Color: var(--sapField_BorderColor);
  --fdToolHeader_Input_Addon_Dimension: 1.75rem;
  --fdToolHeader_Input_Addon_Border_Width: var(--sapButton_BorderWidth);
  --fdToolHeader_Search_Hover_Background: var(--sapShell_Hover_Background);
  --fdToolHeader_Search_Height: 1.75rem;
  --fdToolHeader_Search_Separator_Display: block;
  --fdToolHeader_Search_Button_Hover_Background: var(--fdToolHeader_Input_Hover_Background);
  --fdToolHeader_Search_Active_Button_Background: var(--sapButton_Lite_Active_BorderColor);
  --fdToolHeader_Search_Active_Button_Hover_Background: var(--fdToolHeader_Search_Active_Button_Background);
  --fdToolHeader_Search_Active_Button_Color: var(--sapButton_Emphasized_TextColor);
  --fdToolHeader_Active_Background: var(--sapShell_Active_Background);
  --fdToolHeader_Active_Shadow: 0 0 0 0.125rem var(--sapButton_Lite_Active_BorderColor);
  --fdToolHeader_Search_Active_Outline: none;
  --fdToolHeader_Input_Border: none;
  --fdToolHeader_Input_Focus_Color: var(--sapShell_InteractiveTextColor);
  --fdToolHeader_Input_Focus_Background: transparent;
  --fdToolHeader_Input_Placeholder_Style: italic;
  --fdToolHeader_Button_Left_Border: 0.0625rem solid transparent;
  --fdToolHeader_Input_Group_Background: 0 100% / 100% 0.0625rem no-repeat linear-gradient(0deg, var(--sapField_BorderColor), var(--sapField_BorderColor)) border-box;
  --fdToolHeader_Input_Group_Hover_Background: 0 100% / 100% 0.0625rem no-repeat linear-gradient(0deg, var(--sapField_Hover_BorderColor), var(--sapField_Hover_BorderColor)) border-box;
  --fdToolHeader_Helper_Bottom_Shadow: inset 0 -0.0625rem 0 var(--sapField_BorderColor);
  --fdToolHeader_Hover_Helper_Bottom_Shadow: inset 0 -0.0625rem 0 var(--sapField_Hover_BorderColor);
  --fdToolHeader_Helper_Display: block;
  --fdToolHeader_Button_Color: var(--sapShell_TextColor);
  --fdToolHeader_Search_Input_X_Padding: 0.9rem;
}
