:root {
  --fdToolHeader_Border_Color: transparent;
  --sapToolHeader_Product_Name_Color: var(--sapShell_GroupTitleTextColor);
  --sapToolHeader_Product_Name_Font_Size: 1.125rem;
  --sapToolHeader_Second_Title_Color: var(--sapContent_LabelColor);
  --sapToolHeader_Second_Title_Font_Size: var(--sapFontSize);
  --sapToolHeader_Second_Title_Offset: 0.125rem;
  --sapToolHeader_Min_Height_Compact: 3.25rem;
  --sapToolHeader_Min_Height_Cozy: 3.75rem;
  --sapToolHeader_Border_Radius: 0.5rem;
  --sapToolHeader_Paddings_Y: 0.5625rem;
}
