:root {
  /* Base Input */
  --fdInput_Text_Shadow: none;
  --fdInput_State_Text_Style: normal;
  --fdInput_State_Font_Weight: normal;
  --fdInput_Base_Border_Style: none;
  --fdInput_Error_Border_Style: none;
  --fdInput_Warning_Border_Style: none;
  --fdInput_Success_Border_Style: none;
  --fdInput_Information_Border_Style: none;
  --fdInput_ReadOnly_Border_Style: none none dashed none;

  /* Hovers */
  --fdInput_Error_Hover_Background: var(--sapField_Hover_Background);
  --fdInput_Warning_Hover_Background: var(--sapField_Hover_Background);
  --fdInput_Success_Hover_Background: var(--sapField_Hover_Background);
  --fdInput_Information_Hover_Background: var(--sapField_Hover_Background);
  --fdInput_Interaction_Hover_Shadow: var(--sapContent_Interaction_Shadow);
  --fdInput_Error_Hover_Shadow: var(--sapContent_Negative_Shadow);
  --fdInput_Warning_Hover_Shadow: var(--sapContent_Critical_Shadow);
  --fdInput_Success_Hover_Shadow: var(--sapContent_Positive_Shadow);
  --fdInput_Information_Hover_Shadow: var(--sapContent_Informative_Shadow);

  /* Focus */
  --fdInput_Outline_Offset: -0.125rem;
  --fdInput_Outline_FocusStyle: var(--sapContent_FocusStyle);
  --fdInput_Outline_BaseColor: var(--sapField_Active_BorderColor);
  --fdInput_Outline_ErrorColor: var(--sapField_InvalidColor);
  --fdInput_Outline_WarningColor: var(--sapField_WarningColor);
  --fdInput_Outline_SuccessColor: var(--sapField_SuccessColor);
  --fdInput_Outline_InformationColor: var(--sapField_InformationColor);
  --fdInput_Base_Focus_Background: var(--sapField_Focus_Background);
  --fdInput_Error_Focus_Background: var(--sapField_Focus_Background);
  --fdInput_Warning_Focus_Background: var(--sapField_Focus_Background);
  --fdInput_Success_Focus_Background: var(--sapField_Focus_Background);
  --fdInput_Information_Focus_Background: var(--sapField_Focus_Background);

  /* Input Group */
  --fdInputGroup_Focus_Border_Radius: 0.25rem;
  --fdInput_Group_Button_Focus: var(--sapField_Hover_BorderColor);

  /* Addon Button */
  --fdButton_Addon_Sideborder: none;
  --fdButton_Addon_Interractive_Sideborder: none;
  --fdButton_Addon_Hover_BackgroundColor: transparent;
  --fdButton_Addon_Active_BackgroundColor: var(--sapButton_Lite_Active_Background);
  --fdButton_Addon_Outline_Style: none;
  --fdButton_Addon_FirstChild_Border_Radius: 0.25rem;
  --fdButton_Addon_LastChild_Border_Radius: 0.25rem;
  --fdButton_Addon_Base_BoxShadow: var(--sapContent_Interaction_Shadow);
  --fdButton_Addon_Success_BoxShadow: var(--sapContent_Positive_Shadow);
  --fdButton_Addon_Error_BoxShadow: var(--sapContent_Negative_Shadow);
  --fdButton_Addon_Warning_BoxShadow: var(--sapContent_Critical_Shadow);
  --fdButton_Addon_Information_BoxShadow: var(--sapContent_Informative_Shadow);
  --fdButton_Addon_Border_Bottom: solid var(--sapField_BorderWidth) transparent;
  --fdButton_Addon_PaddingTop: var(--sapField_BorderWidth);

  /* Select */
  --fdSelect_Button_Sideborder: none;
  --fdSelect_Button_Hover_BackgroundColor: transparent;
  --fdSelect_Outline_FocusStyle: solid;
  --fdSelect_Focus_Border_Offset: 0;
  --fdSelect_Button_Border_Radius: var(--sapField_BorderCornerRadius);

  /* Step Input */
  --fdStepInput_Focus_Border_Offset: 0;
  --fdStepInput_Button_Hover_Background: transparent;
  --fdStepInput_Button_Border_Radius: 0.25rem;
}
