{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import checkbox %}
{% from "./component.njk" import displayOnlycheckbox %}

{% block content %}

<h2>Default</h2>

{% set example %}
  {{ checkbox() }}
{% endset %}
 <br><br>
{{ format(example) }}
 <br><br>

<h2>Checked</h2>

{% set example %}
  {{ checkbox(properties='checked') }}
{% endset %}

{{ format(example) }}


{% set example %}
  {{ checkbox(properties='checked') }}
  {{ checkbox(properties='indeterminate') }}
  {{ checkbox() }}
{% endset %}

{{ format(example) }}
<h2>States</h2>

{% set example %}
  {{ checkbox(properties='disabled') }}
  {{ checkbox(properties='disabled checked') }}
  {{ checkbox(properties='disabled indeterminate') }}
{% endset %}

{{ format(example) }}

<h2>Interaction States</h2>

{% set example %}
  {{ checkbox(state='success') }}
  {{ checkbox(state='error') }}
  {{ checkbox(state='warning') }}
  {{ checkbox(state='information') }}
  {{ checkbox(state='success', properties='checked') }}
  {{ checkbox(state='error', properties='checked') }}
  {{ checkbox(state='warning', properties='checked') }}
  {{ checkbox(state='information', properties='checked') }}
  {{ checkbox(state='success', properties='indeterminate') }}
  {{ checkbox(state='error', properties='indeterminate') }}
  {{ checkbox(state='warning', properties='indeterminate') }}
  {{ checkbox(state='information', properties='indeterminate') }}
{% endset %}

{{ format(example) }}

<h2>Compact</h2>

{% set example %}
  {{ checkbox(compact=true) }}
  {{ checkbox(compact=true, properties='checked') }}
{% endset %}

{{ format(example) }}

<h2>RTL mode</h2>
{% set example %}
  <div dir="RTL">
  {{ checkbox(compact=true) }}
  {{ checkbox(compact=true, properties='checked') }}
  {{ checkbox(compact=false) }}
  {{ checkbox(compact=false, properties='checked') }}
  </div>
{% endset %}

{{ format(example) }}

<h2>Display only Mode</h2>
{% set example %}
  {{ displayOnlycheckbox(properties='checked') }}
  {{ displayOnlycheckbox() }}
  {{ displayOnlycheckbox(properties='indeterminate') }}
{% endset %}

{{ format(example) }}

{% endblock %}
