{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import checkbox %}

{% block content %}

<h2>Default</h2>

{% set example %}
  {{ checkbox() }}
{% endset %}
 <br><br>
{{ format(example) }}
 <br><br>

<h2>Checked</h2>

{% set example %}
  {{ checkbox(properties='checked') }}
{% endset %}

{{ format(example) }}


{% set example %}
  {{ checkbox(properties='checked') }}
  {{ checkbox() }}
  {{ checkbox() }}
{% endset %}

{{ format(example) }}
<h2>States</h2>

{% set example %}
  {{ checkbox(properties='disabled') }}
{% endset %}

{{ format(example) }}

{% endblock %}
