{% import "./../utils.njk" as utils %}
{% from "./../icon/component.njk" import icon %}
{% from "./../popover/component.njk" import popover %}

{#
    see ./data.json for object structure
#}

{% macro dropdown(
    properties={},
    state={},
    aria={},
    twoLabels='false',
    modifier={},
    classes=[]
    ,size="")
-%}
	<ul class="fd-dropdown{{ ' fd-dropdown--compact' if modifier.compact }}">
	  <li class="fd-dropdown__item is-selected" role="option">
		<span class="fd-dropdown__title {{ ' fd-dropdown__title--no-wrap' if properties.noWrap =='true' }}">{{properties.text}}</span>
		{%- if properties.twoLabels =='true' -%}
			<span class="fd-dropdown__secondary">A1</span>
		{%- endif -%}
	 </li>
	  <li class="fd-dropdown__item" role="option">
		<span class="fd-dropdown__title">Text Option</span>
		{%- if properties.twoLabels =='true' -%}
			<span class="fd-dropdown__secondary">A1</span>
		{%- endif -%}
	 </li>
	  <li class="fd-dropdown__item is-active" role="option">
		<span class="fd-dropdown__title">Text Option</span>
		{%- if properties.twoLabels =='true' -%}
			<span class="fd-dropdown__secondary">A1</span>
		{%- endif -%}
	 </li>
	</ul>
{%- endmacro %}
