{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "../menu/component.njk" import menu %}
{% from "./component.njk" import dropdown %}

{% block content %}


{% set basic_dropdown %}
	{{ dropdown(
		properties={
			text: "Text"
		})
	}}
{% endset %}

{{ format(basic_dropdown) }}


{% set compact_dropdown %}

	{{ dropdown(
		properties={
			text: "Text"
		},
		modifier={
			compact: true
		})
	}}
{% endset %}

{{ format(compact_dropdown) }}

{% set two_lines_dropdown %}

	{{ dropdown(
		properties={
			text: "Text",
			twoLabels: "true"
		},
		modifier={
			compact: true
		})
	}}
{% endset %}

{{ format(two_lines_dropdown) }}

{% set long_dropdown %}

	{{ dropdown(
		properties={
			text: "Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text ",
			twoLabels: "true"
		},
		modifier={
			compact: true
		})
	}}
{% endset %}

{{ format(long_dropdown) }}

{% set long_nowrap_dropdown %}

	{{ dropdown(
		properties={
			text: "Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text Very Long Text ",
			twoLabels: "true",
			noWrap: "true"
		},
		modifier={
			compact: true
		})
	}}
{% endset %}

{{ format(long_nowrap_dropdown) }}

{% endblock %}

