{% import "./../utils.njk" as utils %}

<!--
localization_editor_language_list:
    properties={}
-->

{% macro localization_editor_language_list(properties) %}
<div class="fd-localization-editor">
    <ul class="menu-playground">
        {%- set len = properties.items.length -%}
        {%- for i in range(1, len) -%}
        <li class="fd-localization-editor__language">
            <input class="input-playground"></input>
            <span class="btn-playground">{{ properties.items[i].properties.label }}</span>
        </li>
        {%- endfor -%}
    </ul>
</div>
{% endmacro %}
