{% extends "layout.njk" %}
{% import "./../utils.njk" as utils %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import localization_editor_language_list %}

{% block content %}
<h2>languages list</h2>


{% set example %}
{{  localization_editor_language_list(
        properties=data.properties
    )
}}

{% endset %}
{{ format(example) }}

<br><br><br>

{% endblock %}
