@import "./fn-settings";

$block: #{$fn-namespace}-button;

@mixin fn-button-base($background, $color, $shadow, $outline: "") {
  @if $outline != "" {
    box-shadow: $shadow, $outline;
  } @else {
    box-shadow: $shadow;
  }

  background: $background;

  [class*='sap-icon'] {
    color: $color;
  }

  .#{$block}__text {
    color: $color;
  }
}

.#{$block} {
  @include fn-reset();
  @include fn-transition();
  @include fn-flex-center();
  @include fn-button-base($fn-color-white, $fn-color-blue-500, $fn-shadow-blue-level-0);

  cursor: pointer;
  max-width: 100%;
  position: relative;
  height: $fn-control-height;
  border-radius: $fn-border-radius-6;
  padding: 0.3125rem 0.75rem;

  [class*='sap-icon'] {
    font-size: 1rem;
    font-weight: bold;
    height: $fn-element-line-height;
    line-height: $fn-element-line-height;

    & + .#{$block}__text {
      @include fn-set-margin-left($fn-margin-medium);
    }
  }

  &__text {
    @include fn-reset();
    @include fn-ellipsis();

    font-weight: bold;
    line-height: 1.375rem;

    & + [class*='sap-icon'] {
      @include fn-set-margin-left($fn-margin-medium);
    }
  }

  @include fn-hover() {
    @include fn-button-base($fn-color-white, $fn-color-blue-600, $fn-shadow-blue-level-1);

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-blue-700, $fn-shadow-blue-level-0);
    }
  }

  @include fn-active() {
    @include fn-button-base($fn-color-white, $fn-color-blue-700, $fn-shadow-blue-level-0);
  }

  @include fn-is-focus() {
    @include fn-button-base($fn-color-white, $fn-color-blue-500, none);

    outline: none;
    border-color: $fn-color-white;
    box-shadow: $fn-focus-outline-shadow-blue, $fn-focus-outline-inner-shadow;
  }

  @include fn-not-focus-visible() {
    @include fn-button-base($fn-color-white, $fn-color-blue-500, $fn-shadow-blue-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-blue-600, $fn-shadow-blue-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-blue-700, $fn-shadow-blue-level-0);
      }
    }

    outline: none;
  }

  @include fn-focus-visible() {
    @include fn-button-base($fn-color-white, $fn-color-blue-500, none);

    outline: none;
    border-color: $fn-color-white;
    box-shadow: $fn-focus-outline-shadow-blue, $fn-focus-outline-inner-shadow;
  }

  @include fn-disabled() {
    @include fn-button-base($fn-color-white, $fn-color-blue-500, none);

    cursor: not-allowed;
    opacity: $fn-disabled-opacity;
  }

  &--icon-only {
    width: 2rem;
    padding: 0.4375rem;
  }

  // EMPHASIZED BUTTON
  &--emphasized {
    @include fn-button-base($fn-color-blue-500, $fn-color-white, $fn-shadow-blue-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-blue-600, $fn-color-white, $fn-shadow-blue-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-blue-700, $fn-color-white, $fn-shadow-blue-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-blue-700, $fn-color-white, $fn-shadow-blue-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-blue-500, $fn-color-white, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-blue, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-blue-500, $fn-color-white, $fn-shadow-blue-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-blue-600, $fn-color-white, $fn-shadow-blue-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-blue-700, $fn-color-white, $fn-shadow-blue-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-blue-500, $fn-color-white, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-blue, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-blue-500, $fn-color-white, none);
    }
  }

  // GHOST BUTTON
  &--ghost {
    @include fn-button-base($fn-color-grey-50, $fn-color-grey-500, none);

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-grey-600, $fn-shadow-grey-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-grey-700, $fn-shadow-grey-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-grey-700, $fn-shadow-grey-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-white, $fn-color-grey-500, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-grey, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-grey-50, $fn-color-grey-500, none);

      @include fn-hover() {
        @include fn-button-base($fn-color-white, $fn-color-grey-600, $fn-shadow-grey-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-white, $fn-color-grey-700, $fn-shadow-grey-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-grey-500, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-grey, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-grey-50, $fn-color-grey-500, none);
    }
  }

  // TRANSPARENT BUTTON
  &--transparent {
    @include fn-button-base(transparent, $fn-color-grey-500, none);

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-grey-600, $fn-shadow-grey-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-grey-700, $fn-shadow-grey-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-grey-700, $fn-shadow-grey-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-white, $fn-color-grey-500, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-grey, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base(transparent, $fn-color-grey-500, none);

      @include fn-hover() {
        @include fn-button-base($fn-color-white, $fn-color-grey-600, $fn-shadow-grey-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-white, $fn-color-grey-700, $fn-shadow-grey-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-grey-500, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-grey, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base(transparent, $fn-color-grey-500, none);
    }
  }

  // NEUTRAL BUTTON
  &--neutral {
    @include fn-button-base($fn-color-grey-500, $fn-color-white, $fn-shadow-grey-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-grey-600, $fn-color-white, $fn-shadow-grey-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-grey-700, $fn-color-white, $fn-shadow-grey-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-grey-700, $fn-color-white, $fn-shadow-grey-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-grey-500, $fn-color-white, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-grey, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-grey-500, $fn-color-white, $fn-shadow-grey-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-grey-600, $fn-color-white, $fn-shadow-grey-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-grey-700, $fn-color-white, $fn-shadow-grey-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-grey-500, $fn-color-white, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-grey, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-grey-500, $fn-color-white, $fn-shadow-grey-level-0);
    }
  }

  // ACCEPT BUTTON
  &--accept {
    @include fn-button-base($fn-color-white, $fn-color-green-500, $fn-shadow-green-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-green-600, $fn-shadow-green-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-green-700, $fn-shadow-green-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-green-700, $fn-shadow-green-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-white, $fn-color-green-500, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-green, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-green-500, $fn-shadow-green-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-white, $fn-color-green-600, $fn-shadow-green-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-white, $fn-color-green-700, $fn-shadow-green-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-green-500, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-green, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-white, $fn-color-green-500, $fn-shadow-green-level-0);
    }
  }

  // SUCCESS BUTTON
  &--success {
    @include fn-button-base($fn-color-green-500, $fn-color-white, $fn-shadow-green-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-green-600, $fn-color-white, $fn-shadow-green-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-green-700, $fn-color-white, $fn-shadow-green-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-green-700, $fn-color-white, $fn-shadow-green-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-green-500,  $fn-color-white, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-green, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-green-500, $fn-color-white, $fn-shadow-green-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-green-600, $fn-color-white, $fn-shadow-green-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-green-700, $fn-color-white, $fn-shadow-green-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-green-500,  $fn-color-white, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-green, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-green-500, $fn-color-white, $fn-shadow-green-level-0);
    }
  }

  // ATTENTION BUTTON
  &--attention {
    @include fn-button-base($fn-color-white, $fn-color-orange-400, $fn-shadow-orange-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-orange-600, $fn-shadow-orange-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-orange-600, $fn-shadow-orange-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-orange-600, $fn-shadow-orange-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-white, $fn-color-orange-400, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-orange, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-orange-400, $fn-shadow-orange-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-white, $fn-color-orange-600, $fn-shadow-orange-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-white, $fn-color-orange-600, $fn-shadow-orange-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-orange-400, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-orange, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-white, $fn-color-orange-400, $fn-shadow-orange-level-0);
    }
  }

  // CRITICAL BUTTON
  &--critical {
    @include fn-button-base($fn-color-orange-400, $fn-color-white, $fn-shadow-orange-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-orange-600, $fn-color-white, $fn-shadow-orange-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-orange-600, $fn-color-white, $fn-shadow-orange-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-orange-600, $fn-color-white, $fn-shadow-orange-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-orange-400,  $fn-color-white, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-orange, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-orange-400, $fn-color-white, $fn-shadow-orange-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-orange-600, $fn-color-white, $fn-shadow-orange-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-orange-600, $fn-color-white, $fn-shadow-orange-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-orange-400,  $fn-color-white, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-orange, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-orange-400, $fn-color-white, $fn-shadow-orange-level-0);
    }
  }

  // REJECT BUTTON
  &--reject {
    @include fn-button-base($fn-color-white, $fn-color-red-500, $fn-shadow-red-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-red-600, $fn-shadow-red-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-red-700, $fn-shadow-red-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-red-700, $fn-shadow-red-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-white, $fn-color-red-500, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-red, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-red-500, $fn-shadow-red-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-white, $fn-color-red-600, $fn-shadow-red-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-white, $fn-color-red-700, $fn-shadow-red-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-red-500, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-red, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-white, $fn-color-red-500, $fn-shadow-red-level-0);
    }
  }

  // NEGATIVE BUTTON
  &--negative {
    @include fn-button-base($fn-color-red-500, $fn-color-white, $fn-shadow-red-level-0);

    @include fn-hover() {
      @include fn-button-base($fn-color-red-600, $fn-color-white, $fn-shadow-red-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-red-700, $fn-color-white, $fn-shadow-red-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-red-700, $fn-color-white, $fn-shadow-red-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-red-500,  $fn-color-white, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-red, $fn-focus-outline-inner-shadow;
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-red-500, $fn-color-white, $fn-shadow-red-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-red-600, $fn-color-white, $fn-shadow-red-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-red-700, $fn-color-white, $fn-shadow-red-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-red-500,  $fn-color-white, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-red, $fn-focus-outline-inner-shadow;
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-red-500, $fn-color-white, $fn-shadow-red-level-0);
    }
  }

  // TOGGLED / SELECTED BUTTON
  &.#{$block}--toggled,
  &.#{$block}--selected {
    @include fn-button-base($fn-color-white, $fn-color-blue-500, $fn-shadow-blue-level-0);

    overflow: hidden;

    &::after {
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 0;
      position: absolute;
      border-bottom: $fn-border-width $fn-border-style $fn-color-blue-500;
    }

    @include fn-hover() {
      @include fn-button-base($fn-color-white, $fn-color-blue-500, $fn-shadow-blue-level-1);

      @include fn-active() {
        @include fn-button-base($fn-color-white, $fn-color-blue-500, $fn-shadow-blue-level-0);
      }
    }

    @include fn-active() {
      @include fn-button-base($fn-color-white, $fn-color-blue-500, $fn-shadow-blue-level-0);
    }

    @include fn-is-focus() {
      @include fn-button-base($fn-color-white, $fn-color-blue-500, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-blue, $fn-focus-outline-inner-shadow;

      &::after {
        border-bottom: none;
      }
    }

    @include fn-not-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-blue-500, $fn-shadow-blue-level-0);

      @include fn-hover() {
        @include fn-button-base($fn-color-white, $fn-color-blue-500, $fn-shadow-blue-level-1);

        @include fn-active() {
          @include fn-button-base($fn-color-white, $fn-color-blue-500, $fn-shadow-blue-level-0);
        }
      }
    }

    @include fn-focus-visible() {
      @include fn-button-base($fn-color-white, $fn-color-blue-500, none);

      border-color: $fn-color-white;
      box-shadow: $fn-focus-outline-shadow-blue, $fn-focus-outline-inner-shadow;

      &::after {
        border-bottom: none;
      }
    }

    @include fn-disabled() {
      @include fn-button-base($fn-color-white, $fn-color-blue-500, $fn-shadow-blue-level-0);
    }
  }
}
