@import "./fn-settings";

$block: #{$fn-namespace}-info-label;

$color-accents: (
  "yellow": ("background": $fn-color-yellow-50, "color": $fn-color-yellow-600),
  "crimson": ("background": $fn-color-crimson-50, "color": $fn-color-crimson-600),
  "lime": ("background": $fn-color-lime-50, "color": $fn-color-lime-600)
);

.#{$block} {
  @include fn-reset();
  @include fn-flex();
  @include fn-set-padding-left(0.375rem);
  @include fn-set-rectangle(1.375rem, 6.25rem);

  border-radius: $fn-border-radius-4;

  &__text {
    @include fn-reset();

    color: inherit;
  }

  &__circle {
    @include fn-reset();
    @include fn-set-margin-right(0.25rem);
    @include fn-set-square(0.5rem);

    content: ' ';
    border-radius: $fn-border-radius-4;
    color: inherit;
    background-color: currentColor;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
  }

  @each $set-name, $color-set in $color-accents {
    &--#{$set-name} {
      background-color: map_get($color-set, "background");
      color: map_get($color-set, "color");
    }
  }
}
