@import "./fn-settings";

$block: #{$fn-namespace}-input;

@mixin fn-input-base($background, $border, $shadow, $hasFocus: false) {
  @if $hasFocus {
    @if $shadow != "none" {
      box-shadow: $shadow, $fn-focus-outline-shadow-blue;
    } @else {
      box-shadow: $fn-focus-outline-shadow-blue;
    }
  } @else {
    box-shadow: $shadow;
  }

  background: $background;

  & + .#{$block}__border {
    &::before {
      border-bottom-color: $border;
    }
  }

  @include fn-readonly() {
    & ~ .#{$block}__border::before {
      border-bottom: 0.0625rem dashed $border;
    }
  }
}

@mixin fn-input-base-parameters() {
  width: 100%;
  height: $fn-element-height;
  border-radius: $fn-border-radius-6;
}

@mixin fn-input-base-states() {
  @content;

  @include fn-active() {
    @include fn-input-base($fn-color-white, transparent, none, true);

    & ~ [class*='sap-icon'] {
      display: none;
    }
  }

  @include fn-focus() {
    @include fn-input-base($fn-color-white, transparent, none, true);

    outline: none;
  }

  @include fn-focus-active() {
    & ~ [class*='sap-icon'] {
      display: none;
    }
  }

  @include fn-disabled() {
    pointer-events: none;
    opacity: $fn-disabled-opacity;
  }

  @include fn-display() {
    @include fn-input-base($fn-color-white, transparent, none);

    & ~ [class*='sap-icon'] {
      display: none;
    }
  }
}

@mixin fn-input-base-semantics($background, $border, $shadow) {
  [class*='sap-icon'] {
    color: $border;
  }

  .#{$block}__text-field {
    @include fn-set-paddings-x($fn-padding-small, 1.625rem);
    @include fn-input-base($background, $border, none);

    @include fn-input-base-states() {
      @include fn-hover() {
        @include fn-input-base($fn-color-white, $border, $shadow);
      }
    };
  }
}

.#{$block} {
  @include fn-reset();
  @include fn-input-base-parameters();

  position: relative;

  [class*='sap-icon'] {
    @include fn-set-position-right(0);

    top: 0;
    width: 1.625rem;
    font-size: 1rem;
    position: absolute;
    text-align: center;
    height: $fn-element-height;
    line-height: $fn-element-height;
  }

  &__text-field {
    @include fn-reset();
    @include fn-ellipsis();
    @include fn-transition();
    @include fn-input-base-parameters();
    @include fn-set-paddings-y-equal(0.3125rem);
    @include fn-set-paddings-x($fn-padding-small, $fn-padding-xs);
    @include fn-input-base($fn-color-grey-50, $fn-color-grey-700, none);

    &::placeholder {
      color: $fn-input-placeholder-color;
      font-size: $fn-input-placeholder-font-size;
      line-height: $fn-input-placeholder-line-height;
    }

    @include fn-input-base-states() {
      @include fn-hover() {
        @include fn-input-base($fn-color-white, $fn-color-grey-500, $fn-shadow-grey-level-1);
      }
    }
  }

  &__border {
    @include fn-reset();
    @include fn-input-base-parameters();
    @include fn-set-top-right-bottom-left();

    overflow: hidden;
    pointer-events: none;

    &::before {
      @include fn-set-top-right-bottom-left(auto, 0, 0, 0);

      height: 0;
      content: '';
      width: 100%;
      border-bottom-width: $fn-border-width;
      border-bottom-style: $fn-border-style;
      border-bottom-color: $fn-color-grey-500;
    }
  }

  &--info {
    @include fn-input-base-semantics($fn-color-blue-50, $fn-color-blue-500, $fn-shadow-blue-level-1);
  }

  &--critical {
    @include fn-input-base-semantics($fn-color-orange-50, $fn-color-orange-400, $fn-shadow-orange-level-1);
  }

  &--negative {
    @include fn-input-base-semantics($fn-color-red-50, $fn-color-red-400, $fn-shadow-red-level-1);
  }

  &--positive {
    @include fn-input-base-semantics($fn-color-green-50, $fn-color-green-400, $fn-shadow-green-level-1);
  }

  &--select {
    cursor: pointer;

    .#{$block}__text-field {
      @include fn-set-paddings-y-equal(0.3125rem);
      @include fn-set-paddings-x(0.5rem, 1.625rem);

      pointer-events: none;
    }

    [class*='sap-icon'] {
      @include fn-flex-center();

      line-height: 1;
      position: relative;
    }

    button {
      @include fn-set-position-right(0.25rem);

      top: 0.4375rem;
      position: absolute;
      pointer-events: none;
    }

    @include fn-hover() {
      .#{$block}__text-field {
        background: $fn-color-white;
        box-shadow: $fn-shadow-grey-level-1;
      }
    }

    @include fn-active() {
      .#{$block}__text-field {
        background: $fn-color-white;
        box-shadow: $fn-shadow-grey-level-1;
      }

      .#{$block}__border::before {
        border-bottom-color: $fn-color-blue-500;
      }

      button {
        box-shadow: none;
        background: $fn-color-blue-500;

        [class*='sap-icon'] {
          color: $fn-color-white;
        }
      }
    }

    @include fn-is-focus() {
      .#{$block}__text-field {
        background: $fn-color-white;
      }

      .#{$block}__border::before {
        border-bottom: none;
      }

      outline: none;
      box-shadow: $fn-focus-outline-shadow-blue;
    }

    @include fn-focus-visible() {
      .#{$block}__text-field {
        background: $fn-color-white;
      }

      .#{$block}__border::before {
        border-bottom: none;
      }

      outline: none;
      box-shadow: $fn-focus-outline-shadow-blue;
    }

    @include fn-display() {
      .#{$block}__text-field {
        background: transparent;
        box-shadow: none;
      }

      .#{$block}__border::before {
        border-bottom: none;
      }

      outline: none;
      box-shadow: none;

      button {
        display: none;
      }

      @include fn-hover() {
        .#{$block}__text-field {
          background: transparent;
          box-shadow: none;
        }
      }
    }

    @include fn-disabled() {
      pointer-events: none;
      opacity: $fn-disabled-opacity;
    }
  }
}
