@import "./fn-settings";

$block: #{$fn-namespace}-select;

@mixin fn-select-item-base($background, $border, $color: $fn-color-grey-8) {
  color: $color;
  background: $background;

  &::before {
    border-left-color: $border;
  }
}

.#{$block} {
  @include fn-reset();

  [class*='sap-icon'] {
    cursor: pointer;
  }

  position: relative;

  &__input {
    @include fn-set-paddings-x($fn-padding-medium, 2.5rem);

    @include fn-readonly() {
      cursor: pointer;
    }
  }

  &__menu {
    @include fn-reset();

    position: absolute;
    z-index: 1000;
    width: 100%;
    list-style: none;
    padding: $fn-padding-xs;
    margin-top: $fn-margin-small;
    background: $fn-color-base-white;
    box-shadow: $fn-shadow-grey-medium;
    border-radius: $fn-border-radius-small;
  }

  &__item {
    @include fn-reset();
    @include fn-transition();
    @include fn-set-margin-y-equal(0.125rem);
    @include fn-select-item-base($fn-color-base-white, $fn-color-base-white);

    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    height: $fn-element-height;
    border-radius: $fn-border-radius-xs;
    padding: $fn-padding-xs $fn-padding-small;

    &::before {
      top: 0;
      left: 0;
      content: '';
      height: 100%;
      position: absolute;
      border-left-width: 2px;
      border-left-style: solid;
    }

    @include fn-rtl() {
      &::before {
        right: 0;
        left: auto;
      }
    }

    @include fn-hover() {
      @include fn-select-item-base($fn-color-grey-1, $fn-color-grey-2);
    }

    @include fn-pressed() {
      @include fn-select-item-base($fn-color-grey-1 !important, $fn-color-grey-3 !important);
    }

    @include fn-active() {
      @include fn-select-item-base($fn-color-grey-1 !important, $fn-color-grey-3 !important);
    }

    @include fn-not-focus-visible() {
      @include fn-select-item-base($fn-color-base-white, $fn-color-base-white);

      outline: none;
      box-shadow: none;
    }

    @include fn-focus-visible() {
      @include fn-select-item-base($fn-color-base-white, $fn-color-base-white);

      outline: none;
      box-shadow: $fn-shadow-blue-small, $fn-focus-outline-shadow;
    }
  }

  &__item--selected {
    @include fn-select-item-base($fn-color-blue-1, $fn-color-blue-4, $fn-color-blue-6);

    @include fn-hover() {
      @include fn-select-item-base($fn-color-blue-1, $fn-color-blue-5, $fn-color-blue-7);
    }

    @include fn-pressed() {
      @include fn-select-item-base($fn-color-blue-1, $fn-color-blue-6, $fn-color-blue-8);
    }

    @include fn-active() {
      @include fn-select-item-base($fn-color-blue-1, $fn-color-blue-6, $fn-color-blue-8);
    }

    @include fn-focus() {
      @include fn-select-item-base($fn-color-blue-1, $fn-color-blue-4, $fn-color-blue-6);

      outline: none;
      box-shadow: $fn-shadow-blue-small, $fn-focus-outline-shadow;
    }
  }
}
