@import "./fn-settings";

$block: #{$fn-namespace}-select;

@mixin fn-select-item-base($background, $border, $color: $fn-color-grey-8) {
  color: $color;
  background: $background;

  &::before {
    border-left-color: $border;
  }
}

.#{$block} {
  @include fn-reset();
}
