@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-fieldset
*/
$block: #{$fd-namespace}-fieldset;
.#{$block} {
    @include fd-reset();
    margin-bottom: fd-space("small");
    &:last-child {
        margin-bottom: 0;
    }
}
