@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-input-group+(--inline)
    .fd-input-group__addon+()
*/

$block: #{$fd-namespace}-input-group;
.#{$block} {
    @include fd-reset();
    display: flex;

    > * {
        @include fd-reset-child-spacing();
        flex: 1 0 auto;
        z-index: map-get($fd-z-index-levels, "first");

        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

        @include fd-rtl() {
            &:first-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: $fd-border-radius;
                border-bottom-right-radius: $fd-border-radius;
            }

            &:last-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: $fd-border-radius;
                border-bottom-left-radius: $fd-border-radius;
            }
        }
    }

    &--inline {
        display: inline-flex;
        vertical-align: bottom;
    }

    &__addon {
        @include fd-reset();
        flex: 0 0 auto;
        z-index: unset;
        @include fd-var-color("color", fd-color("text", 3), --fd-color-text-3);
        padding: 0 fd-space(3);
        border-style: solid;
        border-width: 1px;
        @include fd-var-color("border-color", $fd-forms-border-color, --fd-forms-border-color);
        @include fd-var-color("background-color", fd-color(neutral, 1), --fd-color-neutral-1);
        justify-content: center;
        display: flex;
        flex-direction: column;
        border-radius: $fd-border-radius;

        &--readonly {
            opacity: .4;
        }

        &:first-child {
            border-right-width: 0;
        }

        &:last-child {
            border-left-width: 0;
        }

        @include fd-rtl() {
            &:first-child {
                border-left-width: 0;
                border-right-width: 1px;
            }

            &:last-child {
                border-right-width: 0;
                border-left-width: 1px;
            }
        }

        &--button {
            border: none;
            padding: 0;

            > * {
                @include fd-reset-child-spacing();
                height: 100%;
            }

            &:first-child {
                > * {
                    border-right-width: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;

                    &:first-child:not(:last-child) {
                        border-bottom-left-radius: 0;
                    }

                    &:last-child:not(:first-child) {
                        border-top-left-radius: 0;
                        border-top-width: 0;
                    }
                }
            }

            &:last-child {
                > * {
                    border-left-width: 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;

                    &:first-child:not(:last-child) {
                        border-bottom-right-radius: 0;
                    }

                    &:last-child:not(:first-child) {
                        border-top-right-radius: 0;
                        border-top-width: 0;
                    }
                }
            }

            @include fd-rtl() {
                &:first-child {
                    > * {
                        border-left-width: 0;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-right-width: 1px;
                        border-top-right-radius: $fd-border-radius;
                        border-bottom-right-radius: $fd-border-radius;

                        &:first-child:not(:last-child) {
                            border-bottom-right-radius: 0;
                        }

                        &:last-child:not(:first-child) {
                            border-top-right-radius: 0;
                            border-top-width: 0;
                        }
                    }
                }

                &:last-child {
                    > * {
                        border-right-width: 0;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        border-left-width: 1px;
                        border-top-left-radius: $fd-border-radius;
                        border-bottom-left-radius: $fd-border-radius;

                        &:first-child:not(:last-child) {
                            border-bottom-left-radius: 0;
                        }

                        &:last-child:not(:first-child) {
                            border-top-left-radius: 0;
                            border-top-width: 0;
                        }
                    }
                }
            }
        }
    }
}
