@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-layout-grid
*/

$block: #{$fd-namespace}-layout-grid;
.#{$block} {
  @include fd-reset();
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var($fd-width--gutter, --fd-width-gutter);

  &--no-gap {
    grid-gap: 0;
    & > * {
      box-shadow: none;
    }
  }

  &--gap-1 {
    grid-gap: 1px;
    & > * {
      box-shadow: none;
    }
  }

  @each $n in 1, 2, 3, 4, 5, 6 {
    &--col-#{$n} {
      grid-template-columns: repeat(#{$n}, 1fr);
    }
  }

  @each $n in 2,3,4,5,6 {
    @each $direction in row,column {
      &__span-#{$direction}-#{$n} {
        grid-#{$direction}: span #{$n};
      }
    }
  }
}
