@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-link
*/
$block: #{$fd-namespace}-link;

.#{$block} {
  @include fd-link();
}

a.#{$block} {
  font-size: $fd-font-size;
  font-family: $fd-font-family;
  line-height: $fd-line-height;
  -webkit-font-smoothing: antialiased;
}
