@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-table
    thead
    tbody
        tr+([aria-selected])
*/
$block: #{$fd-namespace}-table;
.#{$block} {
    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-table-border-color: fd-color("neutral", 2) !default;
    $fd-table-border-width: 1px !default;
    $fd-table-link-color: fd-color(action, 1) !default;
    $fd-table-background-color: fd-color("background", 2);
    $fd-table-header-color: fd-color("text", 3) !default;
    $fd-table-header-background-color: fd-color("neutral", 1) !default;
    $fd-table-row-background-color--hover: fd-color-state("hover") !default;
    $fd-table-row-background-color--selected: fd-color-state("selected") !default;

    $fd-table-cell-spacing: $fd-width--gutter !default;
    --fd-table-cell-spacing: var(--fd-width-gutter);

    $fd-table-cell-padding: fd-space("s") !default;
    $fd-table-transition-params: $fd-animation--speed ease-in !default;
    $fd-table-sort-icon-size: fd-space(3);
    $fd-table-sort-column-header-background-color: fd-color("neutral", 2);
    $fd-table-fixed-column-cell-color: fd-color("background", 2);

    --fd-table-border-color: var(--fd-color-neutral-2);
    --fd-table-background-color: var(--fd-color-background-2);
    --fd-table-link-color: var(--fd-color-action-1);
    --fd-table-header-color: var(--fd-color-text-3);
    --fd-table-header-background-color: var(--fd-color-neutral-5);

    //BLOCK BASE *******************************************
    //set all BLOCK reset and baseline styles
    @include fd-reset();
    @include fd-last-child();
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: $fd-margin-bottom;
    @include fd-var-color("background-color", $fd-table-background-color, --fd-table-background-color);
    border-style: solid;
    border-width: $fd-table-border-width;
    @include fd-var-color("border-color", $fd-table-border-color, --fd-table-border-color);


    &__row {
        transition: background-color $fd-table-transition-params;
        @include fd-hover() {
          @include fd-var-color("background-color", $fd-table-row-background-color--hover, --fd-color-background-hover);
        }
        @include fd-selected() {
            @include fd-var-color("background-color", $fd-table-row-background-color--selected, --fd-color-background-selected);
            @include fd-hover() {
              @include fd-var-color("background-color", fd-color-state("selected-hover"), --fd-color-background-selected-hover);
            }
        }
    }

    &__header {
        @include fd-type("-1");
        @include fd-var-color("color", $fd-table-header-color, --fd-table-header-color);
        @include fd-var-color("background-color", $fd-table-header-background-color, --fd-table-header-background-color);

        .#{$block}__row {
            &:hover {
                background-color: inherit;
            }
        }

        .#{$block}__col,
        .#{$block}__row {
            border: none;
            @include fd-weight();

            &.fd-table__fixed-col {
                @include fd-var-color("background-color", $fd-table-sort-column-header-background-color, --fd-color-neutral-2);
                z-index: map-get($fd-z-index-levels, "second");
            }
        }
    }
    &__body {
        .#{$block}__row {
            border-style: solid;
            border-width: $fd-table-border-width;
            @include fd-var-color("border-color", $fd-table-border-color, --fd-table-border-color);
            border-left: none;
            border-right: none;
        }
        .#{$block}__col {
            word-break: break-word;
        }
    }
    &__col {
        @include fd-weight();
        box-sizing: border-box;
        text-align: left;
        --fd-table-cell-spacing: calc(var(--fd-width-gutter) / 2);
        @include fd-var-size("padding-left", $fd-table-cell-spacing/2, --fd-table-cell-spacing);
        @include fd-var-size("padding-right", $fd-table-cell-spacing/2, --fd-table-cell-spacing);
        padding-top: $fd-table-cell-padding;
        padding-bottom: $fd-table-cell-padding;
        &:first-child {
          @include fd-var-size("padding-left", $fd-width--gutter, --fd-width-gutter);
        }
        &:last-child {
          @include fd-var-size("padding-right", $fd-width--gutter, --fd-width-gutter);
        }

        .fd-dropdown__menu {
            min-width: auto;
            text-align: left;
        }

        &.fd-table__fixed-col {
            @include fd-var-color("background-color", $fd-table-fixed-column-cell-color, --fd-color-background-2);
        }
    }

    &__sort-column {
        &:hover {
            @include fd-var-color("background-color", $fd-table-sort-column-header-background-color, --fd-color-neutral-2);
            cursor: pointer;
        }
        &::after {
            content: "";
            width: $fd-table-sort-icon-size;
            height: $fd-table-sort-icon-size;
            display: inline-block;
            background: url($fd-table-column-sort-icon) no-repeat center center;
            margin: 0 $fd-table-sort-icon-size;
            vertical-align: text-top;
        }

        //these are the selected states, should be .is-selected, aria-selected=true
        &--asc,
        &--dsc {
          @include fd-var-color("background-color", $fd-table-sort-column-header-background-color, --fd-color-neutral-2);
        }
        &--asc {
            &::after {
                background-image: url($fd-table-column-sort-icon--asc);
            }
        }

        &--dsc {
            &::after {
                background-image: url($fd-table-column-sort-icon--dsc);
            }
        }
    }

    &__context-menu-label {
        display: block;
        &::after {
            content: "";
            width: $fd-table-sort-icon-size;
            height: $fd-table-sort-icon-size;
            display: inline-block;
            background: url($fd-table-context-menu-icon) no-repeat center center;
            margin: 0 $fd-table-sort-icon-size;
            vertical-align: text-top;
        }
    }

    .#{$block}__header .#{$block}__col .fd-table__context-menu {
        &:hover {
            @include fd-var-color("background-color", $fd-table-sort-column-header-background-color, --fd-color-neutral-2);
            cursor: pointer;
        }
    }

    &__fixed-col {
        // @include fd-reset();

        position: absolute;
        z-index: map-get($fd-z-index-levels, "first");
        @if $fd-support-css-var-fallback {
            box-shadow: 2px 0 0 0 $fd-table-border-color;
        }
        box-shadow: 2px 0 0 0 var(--fd-table-border-color);
    }

    &--fixed-wrapper {
        position: relative;
    }
    &--fixed {
        overflow-x: scroll;
        padding-left: 200px;

        .#{$block}__col {
            min-width: 200px;
        }
    }

    &--no-borders {
        border: none;

        .#{$block}__body.#{$block}__row {
            border: none;
        }
    }

    &--striped {
        .#{$block}__body .#{$block}__row:nth-child(even) {
            @include fd-var-color("background-color", fd-color-state("hover"), --fd-color-background-hover);
        }
    }

    &.#{$fd-namespace}-has-first-child-text-align-right {
        .#{$block}__col:first-child {
          text-align: right !important;
        }
    }
    &.#{$fd-namespace}-has-last-child-text-align-right {
        .#{$block}__col:last-child {
            text-align: right !important;
        }
    }
    @each $i in 2,3,4,5,6,7,8,9 {
        &.#{$fd-namespace}-has-nth-child-#{$i}-text-align-right {
            .#{$block}__col:nth-child(#{$i}) {
            text-align: right !important;
            }
        }
    }
}
