@use "sass:map";


// ----- Avatar -----
$fd-avatar-zoom-icon-s: 1.125rem;
$fd-avatar-zoom-icon-l: 1.25rem;
$fd-avatar-zoom-icon-xl: 1.75rem;
$fd-avatar-zoom-icon-font-size-s: 0.75rem;
$fd-avatar-zoom-icon-font-size-l: 0.875rem;
$fd-avatar-zoom-icon-font-size-xl: 1rem;
$fd-avatar-const-ratio: 1rem;
$fd-avatar-accent-colors: (
  "1": (
    "background-color": var(--sapAvatar_1_Background),
    "border-color": var(--sapAvatar_1_BorderColor),
    "text-color": var(--sapAvatar_1_TextColor),
    "background-color-hover": var(--sapAvatar_1_Hover_Background),
    "border-color-hover": var(--sapAvatar_Hover_BorderColor)
  ),
  "2": (
    "background-color": var(--sapAvatar_2_Background),
    "border-color": var(--sapAvatar_2_BorderColor),
    "text-color": var(--sapAvatar_2_TextColor),
    "background-color-hover": var(--sapAvatar_2_Hover_Background),
    "border-color-hover": var(--sapAvatar_Hover_BorderColor)
  ),
  "3": (
    "background-color": var(--sapAvatar_3_Background),
    "border-color": var(--sapAvatar_3_BorderColor),
    "text-color": var(--sapAvatar_3_TextColor),
    "background-color-hover": var(--sapAvatar_3_Hover_Background),
    "border-color-hover": var(--sapAvatar_Hover_BorderColor)
  ),
  "4": (
    "background-color": var(--sapAvatar_4_Background),
    "border-color": var(--sapAvatar_4_BorderColor),
    "text-color": var(--sapAvatar_4_TextColor),
    "background-color-hover": var(--sapAvatar_4_Hover_Background),
    "border-color-hover": var(--sapAvatar_Hover_BorderColor)
  ),
  "5": (
    "background-color": var(--sapAvatar_5_Background),
    "border-color": var(--sapAvatar_5_BorderColor),
    "text-color": var(--sapAvatar_5_TextColor),
    "background-color-hover": var(--sapAvatar_5_Hover_Background),
    "border-color-hover": var(--sapAvatar_Hover_BorderColor)
  ),
  "6": (
    "background-color": var(--sapAvatar_6_Background),
    "border-color": var(--sapAvatar_6_BorderColor),
    "text-color": var(--sapAvatar_6_TextColor),
    "background-color-hover": var(--sapAvatar_6_Hover_Background),
    "border-color-hover": var(--sapAvatar_Hover_BorderColor)
  ),
  "7": (
    "background-color": var(--sapAvatar_7_Background),
    "border-color": var(--sapAvatar_7_BorderColor),
    "text-color": var(--sapAvatar_7_TextColor),
    "background-color-hover": var(--sapAvatar_7_Hover_Background),
    "border-color-hover": var(--sapAvatar_Hover_BorderColor)
  ),
  "8": (
    "background-color": var(--sapAvatar_8_Background),
    "border-color": var(--sapAvatar_8_BorderColor),
    "text-color": var(--sapAvatar_8_TextColor),
    "background-color-hover": var(--sapAvatar_8_Hover_Background),
    "border-color-hover": var(--sapAvatar_Hover_BorderColor)
  ),
  "9": (
    "background-color": var(--sapAvatar_9_Background),
    "border-color": var(--sapAvatar_9_BorderColor),
    "text-color": var(--sapAvatar_9_TextColor),
    "background-color-hover": var(--sapAvatar_9_Hover_Background),
    "border-color-hover": var(--sapAvatar_Hover_BorderColor)
  ),
  "10": (
    "background-color": var(--sapAvatar_10_Background),
    "border-color": var(--sapAvatar_10_BorderColor),
    "text-color": var(--sapAvatar_10_TextColor),
    "background-color-hover": var(--sapAvatar_10_Hover_Background),
    "border-color-hover": var(--sapAvatar_Hover_BorderColor)
  )
);
$fd-avatar-indication-colors: (
  "1": (
    "background-color": var(--sapIndicationColor_1_Background),
    "border": var(--sapIndicationColor_1_BorderColor),
    "text-color": var(--sapIndicationColor_1_TextColor),
    "background-color-hover": var(--sapIndicationColor_1_Hover_Background),
    "background-color-active": var(--sapIndicationColor_1_Active_Background),
    "border-color-active": var(--sapIndicationColor_1_Active_BorderColor),
    "text-color-active": var(--sapIndicationColor_1_Active_TextColor)
  ),
  "2": (
    "background-color": var(--sapIndicationColor_2_Background),
    "border": var(--sapIndicationColor_2_BorderColor),
    "text-color": var(--sapIndicationColor_2_TextColor),
    "background-color-hover": var(--sapIndicationColor_2_Hover_Background),
    "background-color-active": var(--sapIndicationColor_2_Active_Background),
    "border-color-active": var(--sapIndicationColor_2_Active_BorderColor),
    "text-color-active": var(--sapIndicationColor_2_Active_TextColor)
  ),
  "3": (
    "background-color": var(--sapIndicationColor_3_Background),
    "border": var(--sapIndicationColor_3_BorderColor),
    "text-color": var(--sapIndicationColor_3_TextColor),
    "background-color-hover": var(--sapIndicationColor_3_Hover_Background),
    "background-color-active": var(--sapIndicationColor_3_Active_Background),
    "border-color-active": var(--sapIndicationColor_3_Active_BorderColor),
    "text-color-active": var(--sapIndicationColor_3_Active_TextColor)
  ),
  "4": (
    "background-color": var(--sapIndicationColor_4_Background),
    "border": var(--sapIndicationColor_4_BorderColor),
    "text-color": var(--sapIndicationColor_4_TextColor),
    "background-color-hover": var(--sapIndicationColor_4_Hover_Background),
    "background-color-active": var(--sapIndicationColor_4_Active_Background),
    "border-color-active": var(--sapIndicationColor_4_Active_BorderColor),
    "text-color-active": var(--sapIndicationColor_4_Active_TextColor)
  ),
  "5": (
    "background-color": var(--sapIndicationColor_5_Background),
    "border": var(--sapIndicationColor_5_BorderColor),
    "text-color": var(--sapIndicationColor_5_TextColor),
    "background-color-hover": var(--sapIndicationColor_5_Hover_Background),
    "background-color-active": var(--sapIndicationColor_5_Active_Background),
    "border-color-active": var(--sapIndicationColor_5_Active_BorderColor),
    "text-color-active": var(--sapIndicationColor_5_Active_TextColor)
  ),
  "6": (
    "background-color": var(--sapIndicationColor_6_Background),
    "border": var(--sapIndicationColor_6_BorderColor),
    "text-color": var(--sapIndicationColor_6_TextColor),
    "background-color-hover": var(--sapIndicationColor_6_Hover_Background),
    "background-color-active": var(--sapIndicationColor_6_Active_Background),
    "border-color-active": var(--sapIndicationColor_6_Active_BorderColor),
    "text-color-active": var(--sapIndicationColor_6_Active_TextColor)
  ),
  "7": (
    "background-color": var(--sapIndicationColor_7_Background),
    "border": var(--sapIndicationColor_7_BorderColor),
    "text-color": var(--sapIndicationColor_7_TextColor),
    "background-color-hover": var(--sapIndicationColor_7_Hover_Background),
    "background-color-active": var(--sapIndicationColor_7_Active_Background),
    "border-color-active": var(--sapIndicationColor_7_Active_BorderColor),
    "text-color-active": var(--sapIndicationColor_7_Active_TextColor)
  ),
  "8": (
    "background-color": var(--sapIndicationColor_8_Background),
    "border": var(--sapIndicationColor_8_BorderColor),
    "text-color": var(--sapIndicationColor_8_TextColor),
    "background-color-hover": var(--sapIndicationColor_8_Hover_Background),
    "background-color-active": var(--sapIndicationColor_8_Active_Background),
    "border-color-active": var(--sapIndicationColor_8_Active_BorderColor),
    "text-color-active": var(--sapIndicationColor_8_Active_TextColor)
  ),
  "9": (
    "background-color": var(--sapIndicationColor_9_Background),
    "border": var(--sapIndicationColor_9_BorderColor),
    "text-color": var(--sapIndicationColor_9_TextColor),
    "background-color-hover": var(--sapIndicationColor_9_Hover_Background),
    "background-color-active": var(--sapIndicationColor_9_Active_Background),
    "border-color-active": var(--sapIndicationColor_9_Active_BorderColor),
    "text-color-active": var(--sapIndicationColor_9_Active_TextColor)
  ),
  "10": (
    "background-color": var(--sapIndicationColor_10_Background),
    "border": var(--sapIndicationColor_10_BorderColor),
    "text-color": var(--sapIndicationColor_10_TextColor),
    "background-color-hover": var(--sapIndicationColor_10_Hover_Background),
    "background-color-active": var(--sapIndicationColor_10_Active_Background),
    "border-color-active": var(--sapIndicationColor_10_Active_BorderColor),
    "text-color-active": var(--sapIndicationColor_10_Active_TextColor)
  )
);
$fd-avatar-sizes: (
  "xs": (
    "ratio": ($fd-avatar-const-ratio * 2),
    "font-size": 1rem,
    "zoomIconDimensions": $fd-avatar-zoom-icon-s,
    "offset": -0.125rem,
    "zoomIconFontSize": $fd-avatar-zoom-icon-font-size-s
  ),
  "s": (
    "ratio": ($fd-avatar-const-ratio * 3),
    "font-size": 1.125rem,
    "zoomIconDimensions": $fd-avatar-zoom-icon-s,
    "offset": -0.125rem,
    "zoomIconFontSize": $fd-avatar-zoom-icon-font-size-s
  ),
  "sm": (
    "ratio": ($fd-avatar-const-ratio * 3),
    "font-size": 1.125rem,
    "zoomIconDimensions": $fd-avatar-zoom-icon-s,
    "offset": -0.125rem,
    "zoomIconFontSize": $fd-avatar-zoom-icon-font-size-s
  ),
  "m": (
    "ratio": ($fd-avatar-const-ratio * 4),
    "font-size": 1.5rem,
    "zoomIconDimensions": $fd-avatar-zoom-icon-s,
    "offset": -0.125rem,
    "zoomIconFontSize": $fd-avatar-zoom-icon-font-size-s
  ),
  "md": (
    "ratio": ($fd-avatar-const-ratio * 4),
    "font-size": 1.5rem,
    "zoomIconDimensions": $fd-avatar-zoom-icon-s,
    "offset": -0.125rem,
    "zoomIconFontSize": $fd-avatar-zoom-icon-font-size-s
  ),
  "l": (
    "ratio": ($fd-avatar-const-ratio * 5),
    "font-size": 2.25rem,
    "zoomIconDimensions": $fd-avatar-zoom-icon-l,
    "offset": -0.1875rem,
    "zoomIconFontSize": $fd-avatar-zoom-icon-font-size-l
  ),
  "lg": (
    "ratio": ($fd-avatar-const-ratio * 5),
    "font-size": 2.25rem,
    "zoomIconDimensions": $fd-avatar-zoom-icon-l,
    "offset": -0.1875rem,
    "zoomIconFontSize": $fd-avatar-zoom-icon-font-size-l
  ),
  "xl": (
    "ratio": ($fd-avatar-const-ratio * 7),
    "font-size": 3rem,
    "zoomIconDimensions": $fd-avatar-zoom-icon-xl,
    "offset": -0.25rem,
    "zoomIconFontSize": $fd-avatar-zoom-icon-font-size-xl
  )
);
$fd-avatar-group-item-spacing: (
  "individual": (
    "xs": ("margin-right": 0.0625rem),
    "s": ("margin-right": 0.125rem),
    "m": ("margin-right": 0.125rem),
    "l": ("margin-right": 0.125rem),
    "xl": ("margin-right": 0.25rem)
  ),
  "group": (
    "xs": ("margin-right": -0.5rem),
    "s": ("margin-right": -1.25rem),
    "m": ("margin-right": -1.625rem),
    "l": ("margin-right": -2rem),
    "xl": ("margin-right": -2.75rem)
  )
);
$fd-avatar-group-item-spacing-group: (
  "xs": -0.5rem,
  "s": -1.25rem,
  "sm": -1.25rem,
  "m": -1.625rem,
  "md": -1.625rem,
  "l": -2rem,
  "lg": -2rem,
  "xl": -2.75rem
);
$fd-avatar-group-item-spacing-individual: (
  "xs": 0.0625rem,
  "s": 0.125rem,
  "sm": 0.125rem,
  "m": 0.125rem,
  "md": 0.125rem,
  "l": 0.125rem,
  "lg": 0.125rem,
  "xl": 0.25rem
);
$fd-avatar-value-states: (
  "positive": (
    "background": var(--sapSuccessBackground),
    "borderColor": var(--sapSuccessBorderColor),
    "color": var(--sapPositiveTextColor)
  ),
  "caution": (
    "background": var(--sapWarningBackground),
    "borderColor": var(--sapWarningBorderColor),
    "color": var(--sapCriticalTextColor)
  ),
  "negative": (
    "background": var(--sapErrorBackground),
    "borderColor": var(--sapErrorBorderColor),
    "color": var(--sapNegativeTextColor)
  ),
  "information": (
    "background": var(--sapInformationBackground),
    "borderColor": var(--sapInformationBorderColor),
    "color": var(--sapInformativeTextColor)
  )
);

$fd-avatar-badge-indication-colors: (
  "1": (
    "background": var(--sapIndicationColor_1_Background),
    "borderColor": var(--sapIndicationColor_1_BorderColor),
    "color": var(--sapIndicationColor_1_TextColor),
  ),
  "2": (
    "background": var(--sapIndicationColor_2_Background),
    "borderColor": var(--sapIndicationColor_2_BorderColor),
    "color": var(--sapIndicationColor_2_TextColor),
  ),
  "3": (
    "background": var(--sapIndicationColor_3_Background),
    "borderColor": var(--sapIndicationColor_3_BorderColor),
    "color": var(--sapIndicationColor_3_TextColor),
  ),
  "4": (
    "background": var(--sapIndicationColor_4_Background),
    "borderColor": var(--sapIndicationColor_4_BorderColor),
    "color": var(--sapIndicationColor_4_TextColor),
  ),
  "5": (
    "background": var(--sapIndicationColor_5_Background),
    "borderColor": var(--sapIndicationColor_5_BorderColor),
    "color": var(--sapIndicationColor_5_TextColor),
  ),
  "6": (
    "background": var(--sapIndicationColor_6_Background),
    "borderColor": var(--sapIndicationColor_6_BorderColor),
    "color": var(--sapIndicationColor_6_TextColor),
  ),
  "7": (
    "background": var(--sapIndicationColor_7_Background),
    "borderColor": var(--sapIndicationColor_7_BorderColor),
    "color": var(--sapIndicationColor_7_TextColor),
  ),
  "8": (
    "background": var(--sapIndicationColor_8_Background),
    "borderColor": var(--sapIndicationColor_8_BorderColor),
    "color": var(--sapIndicationColor_8_TextColor),
  ),
  "9": (
    "background": var(--sapIndicationColor_9_Background),
    "borderColor": var(--sapIndicationColor_9_BorderColor),
    "color": var(--sapIndicationColor_9_TextColor),
  ),
  "10": (
    "background": var(--sapIndicationColor_10_Background),
    "borderColor": var(--sapIndicationColor_10_BorderColor),
    "color": var(--sapIndicationColor_10_TextColor),
  )
);

@mixin fd-avatar-set-size($size) {
  width: $size;
  min-width: $size;
  max-width: $size;
  height: $size;
  min-height: $size;
  max-height: $size;
}

@mixin fd-fiori-pseudo-focus($_offset: -0.0625rem) {
  &:focus,
  &.is-focus {
    @include fd-internal-pseudo-element-focus($_offset) {
      @content;
    }
  }
}

@mixin fd-avatar-group-item-focus($offset: 0, $radius: 0) {
  @include fd-focus() {
    outline: none;

    .#{$fd-namespace}-avatar::after {
      border-width: var(--sapContent_FocusWidth);
      border-color: var(--sapContent_FocusColor);
      border-style: var(--sapContent_FocusStyle);
      border-radius: $radius;
      content: '';
      position: absolute;
      pointer-events: none;
      inset: $offset $offset $offset $offset;
      @content;
    }
  }
}
