@use "sass:map";

$fd-dialog-content-margin-y: 6%;
$fd-dialog-content-margin-x: 10%;
$fd-dialog-content-min-width: 20rem;
$fd-dialog-content-min-height: 7.5rem;
$fd-dialog-content-box-shadow: var(--sapContent_Shadow3);
$fd-dialog-content-border-radius: var(--sapElement_BorderCornerRadius);
$fd-dialog-content-padding-x: (def: 1rem, s: 1rem, m: 2rem, l: 2rem, xl: 3rem);
$fd-dialog-title-font-size: 1rem;
$fd-dialog-footer-button-min-width: 4rem;
$fd-dialog-body-color: var(--sapGroup_ContentBackground);
$fd-dialog-body-padding-y: 1rem;
$fd-dialog-loader-margin-y: 1.5rem;

%dialog {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--sapBlockLayer_Background);
    opacity: var(--sapBlockLayer_Opacity);
  }
}

%dialog-content {
  display: flex;
  flex-direction: column;
  outline: none;
  overflow: hidden;
  position: absolute;
  min-width: $fd-dialog-content-min-width;
  min-height: $fd-dialog-content-min-height;
  max-width: calc(100vw - #{$fd-dialog-content-margin-x});
  max-height: calc(100vh - #{$fd-dialog-content-margin-y});
  box-shadow: $fd-dialog-content-box-shadow;
  border-radius: $fd-dialog-content-border-radius;
}

%dialog-body {
  overflow: auto;
  flex-grow: 1;
  background-color: $fd-dialog-body-color;
}

%dialog-paddings {
  padding-inline: map.get($fd-dialog-content-padding-x, s) map.get($fd-dialog-content-padding-x, s);
  flex-shrink: 0;
}

%dialog-mobile {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  border-radius: 0;
}

%dialog-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $fd-dialog-title-font-size;
}
