@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-nested-list;
$button: #{$fd-namespace}-button;

.#{$block} {
  $fd-nested-list-border-radius: var(--fdNested_List_Border_Corner_Radius);

  --fdNestedList_Link_Height: 2.75rem;
  --fdNestedList_Title_Font_Size: var(--sapFontLargeSize);
  --fdNestedList_Icon_Font_Size: var(--sapFontHeader4Size);
  --fdNestedList_Item_Padding_Left: 0;
  --fdNestedList_Item_Padding_Right: 0;

  @mixin fd-nested-level-padding($paddingLeft, $paddingRight) {
    --fdNestedList_Item_Padding_Left: #{$paddingLeft};
    --fdNestedList_Item_Padding_Right: #{$paddingRight};
  }

  @mixin fd-nested-list-popover-border-top-radius {
    border-top-left-radius: $fd-nested-list-border-radius;
    border-top-right-radius: $fd-nested-list-border-radius;
  }

  @mixin fd-nested-list-popover-border-bottom-radius {
    border-bottom-left-radius: $fd-nested-list-border-radius;
    border-bottom-right-radius: $fd-nested-list-border-radius;
  }

  @include fd-reset();

  list-style: none;
  width: 100%;
  border-bottom: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);

  & [class*="level"] {
    border-bottom: none;

    .#{$block}__link,
    .#{$block}__content {
      border-top: none;
    }
  }

  .#{$block}__link,
  .#{$block}__content {
    padding-left: var(--fdNestedList_Item_Padding_Left);
    padding-right: var(--fdNestedList_Item_Padding_Right);
    border-bottom: none;

    @include fd-selected() {
      border-bottom: var(--sapList_BorderWidth) solid var(--sapList_SelectionBorderColor);
    }

    &.has-child {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .#{$block}__content {
    &.has-child {
      > .#{$block}__title {
        padding-left: var(--fdNestedList_Item_Padding_Left);
        padding-right: var(--fdNestedList_Item_Padding_Right);
      }
    }
  }

  @for $i from 2 through 10 {
    .level-#{$i} {
      $paddingLeft: ($i - 2) + 2.75rem;

      @include fd-nested-level-padding($paddingLeft, 0);
    }
  }

  @include fd-rtl() {
    @for $i from 2 through 10 {
      .level-#{$i} {
        $paddingRight: ($i - 2) + 2.75rem;

        @include fd-nested-level-padding(0, $paddingRight);
      }
    }
  }

  &[aria-hidden="true"] {
    display: none;
  }

  &--popover {
    border-bottom: none;

    .#{$block}__group-header {
      @include fd-nested-list-popover-border-top-radius();

      border-bottom: none;
    }

    .#{$block}__item {
      &:first-child {
        @include fd-nested-list-popover-border-top-radius();

        .#{$block}__link,
        .#{$block}__content {
          @include fd-nested-list-popover-border-top-radius();
        }
      }

      &:last-child {
        @include fd-nested-list-popover-border-bottom-radius();

        .#{$block}__link,
        .#{$block}__content {
          @include fd-nested-list-popover-border-bottom-radius();
        }
      }
    }
  }

  &__item {
    @include fd-reset();

    display: block;
    background: var(--sapList_Background);
    text-shadow: var(--fdVerticalNav_Text_Shadow);

    &:first-child {
      .#{$block}__link,
      .#{$block}__content {
        border-top: none;
      }
    }
  }

  &__link,
  &__content {
    @include fd-reset();

    text-decoration: none;
    display: flex;
    height: var(--fdNestedList_Link_Height);
    width: 100%;
    align-items: center;
    border-top: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);

    @include fd-hover() {
      background: var(--sapList_Hover_Background);

      .#{$block}__button {
        background: var(--sapList_Hover_Background);
      }
    }

    @include fd-fiori-focus();

    @include fd-selected() {
      background: var(--sapList_SelectionBackgroundColor);
      border-bottom: var(--sapList_BorderWidth) solid;
      border-bottom-color: var(--sapList_SelectionBorderColor);

      .#{$block}__button {
        background: var(--sapList_SelectionBackgroundColor);
      }

      @include fd-hover() {
        background: var(--sapList_Hover_SelectionBackground);

        .#{$block}__button {
          background: var(--sapList_Hover_SelectionBackground);
        }
      }
    }

    @include fd-active() {
      background: var(--sapList_Active_Background);

      .#{$block}__button {
        background: var(--sapList_Active_Background);
      }

      @include fd-selected() {
        background: var(--sapList_Active_Background);

        .#{$block}__button {
          background: var(--sapList_Active_Background);
        }
      }

      .#{$block}__title,
      .#{$block}__icon,
      .#{$block}__button {
        color: var(--sapList_Active_TextColor);
      }
    }

    &.has-child {
      justify-content: space-between;
      padding: 0;

      > .#{$block}__link,
      > .#{$block}__item {
        border: none;
      }

      > .#{$block}__link {
        @include fd-fiori-focus();

        background: transparent;
        border: none;
        height: 100%;

        > .#{$block}__title {
          padding-right: 0;

          @include fd-rtl() {
            padding-left: 0;
          }
        }
      }
    }
  }

  &__link {
    cursor: pointer;
  }

  &__button.#{$button} {
    @include fd-set-height(100%);

    border: none;
    outline: none;
    background: none;
    min-width: 2.5rem;
    text-decoration: none;
    color: var(--sapContent_IconColor);

    @include fd-icon-selector() {
      font-size: var(--sapFontLargeSize);
    }
  }

  &__icon {
    @include fd-icon-element-base() {
      @include fd-flex-center();

      height: 100%;
      min-width: 2.75rem;
      color: var(--sapList_TextColor);
      font-size: var(--fdNestedList_Icon_Font_Size);
    }
  }

  &__title {
    @include fd-reset();

    height: 100%;
    width: 100%;
    font-size: var(--fdNestedList_Title_Font_Size);
    color: var(--sapList_TextColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
    display: flex;
    align-items: center;

    &:first-child {
      padding-left: 2.75rem;
    }

    @include fd-rtl() {
      text-align: right;
      padding-right: 0;
      padding-left: 1rem;

      &:first-child {
        padding-right: 2.75rem;
        padding-left: 0;
      }
    }
  }

  &__group-header {
    @include fd-reset();

    height: 2.75rem;
    background: var(--sapList_GroupHeaderBackground);
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_GroupHeaderBorderColor);
    color: var(--sapList_GroupHeaderTextColor);
    display: flex;
    align-items: flex-end;
    font-size: var(--sapFontSize);
    font-weight: bold;
    line-height: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--no-border {
    .#{$block}__item,
    .#{$block}__link,
    .#{$block}__group-header {
      border-top: none;
    }
  }

  &--text-only {
    --fdNestedList_Item_Padding_Left: 1rem;
    .#{$block}__link,
    .#{$block}__content {
      &.has-child {
        padding: 0;
      }
    }

    .#{$block}__title {
      &:first-child {
        padding-left: 0;
      }
    }

    @for $i from 2 through 10 {
      .level-#{$i} {
        $paddingLeft: 1rem * $i;

        @include fd-nested-level-padding($paddingLeft, 0);
      }

      &.level-#{$i} {
        $paddingLeft: ($i - 2) + 2.75rem;

        @include fd-nested-level-padding($paddingLeft, 0);
      }
    }

    @include fd-rtl() {
      --fdNestedList_Item_Padding_Left: 0;
      --fdNestedList_Item_Padding_Right: 1rem;
      .#{$block}__link,
      .#{$block}__content {
        &.has-child {
          padding-right: 0;
        }

        &:not(.has-child) {
          .#{$block}__title {
            &:first-child {
              padding-right: 0;
            }
          }
        }
      }

      @for $i from 2 through 10 {
        .level-#{$i} {
          $paddingRight: 1rem * $i;

          @include fd-nested-level-padding(0, $paddingRight);
        }

        &.level-#{$i} {
          $paddingRight: ($i - 2) + 2.75rem;

          @include fd-nested-level-padding(0, $paddingRight);
        }
      }
    }
  }

  @include fd-compact() {
    --fdNestedList_Link_Height: 2rem;
    --fdNestedList_Title_Font_Size: var(--sapFontSize);
    --fdNestedList_Icon_Font_Size: var(--sapFontLargeSize);
  }
}
