@use "sass:map";

@import "./new-settings";
@import "./mixins";

$fd-product-switcher-width: 450px;
$fd-product-switcher-product-width: 140px;
$fd-product-switcher-product-height: 40px;

/*!
.fd-product-switcher
*/
$block-product-switcher: #{$fd-namespace}-product-switcher;

.#{$block-product-switcher} {
  @include fd-reset();

  position: relative;
  display: inline-block;

  &__body {
    @include fd-reset();

    color: initial;
    padding-block: 1.25rem 0;
    padding-inline: 0.625rem;

    &--list {
      @include fd-reset();

      margin-inline: 0;
      margin-block: 0;
      padding-inline: 0;
      padding-block: 0;
      list-style: none;
      overflow: hidden;
      width: $fd-product-switcher-width;
    }

    &--list-item {
      @include fd-reset();

      float: left;
      width: $fd-product-switcher-product-width + 10;
      text-align: center;
      padding-block: 0;
      padding-inline: 0.3125rem;
      margin-inline:0;
      margin-block: 0 1.875rem;

      @include fd-rtl() {
        float: right;
      }
    }
  }

  &__product {
    &-icon {
      @include fd-reset();

      display: block;
      height: $fd-product-switcher-product-height;
      margin-block: 0 0.625rem;
      margin-inline: 0;

      > * {
        display: block;
        max-width: $fd-product-switcher-product-width;
        margin-block: 0;
        margin-inline: auto;
      }
    }

    &-title {
      @include fd-reset();

      display: block;
    }
  }
}
