@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-action-bar;

.#{$block} {
  @mixin fd-action-bar-description {
    @include fd-reset();
    @include fd-hide-on-mobile();
    @include fd-ellipsis();

    width: 100%;
    height: 1.25rem;
    vertical-align: middle;
    color: var(--sapContent_LabelColor);
  }

  @mixin fd-hide-on-mobile {
    @include fd-screen(s) {
      display: none !important;
    }

    @include fd-screen(m) {
      display: inline-block !important;
    }
  }

  @mixin responsive-action-bar($padding-x: 1rem) {
    padding: 0.5rem $padding-x;
  }

  @include fd-reset();
  @include responsive-action-bar($padding-x: 2rem);

  min-height: 3rem;
  max-height: 4.25rem;
  word-wrap: break-word;
  justify-content: space-between;
  box-shadow: var(--sapContent_HeaderShadow);
  background-color: var(--sapPageHeader_Background);

  &__header {
    @include fd-reset();

    @include fd-flex-vertical-center() {
      flex-grow: 1;
    }

    height: 2rem;
  }

  &__back {
    @include fd-reset();
    @include fd-hide-on-mobile();
    @include fd-set-margin-right(0.5rem);

    display: block;
    position: relative;
  }

  &__title {
    @include fd-reset();
    @include fd-ellipsis();
    @include fd-set-padding-right(0.5rem);

    margin: 0;
    flex-grow: 1;
    flex-basis: 0;
    line-height: 1.375rem;
    vertical-align: middle;
    text-rendering: optimizeLegibility;
    color: var(--sapGroup_TitleTextColor);
    font-family: var(--sapFontHeaderFamily);
  }

  &__description {
    @include fd-action-bar-description();

    &--back {
      @include fd-set-padding-left(2.5rem);
    }
  }

  &__actions {
    @include fd-reset();

    @include fd-flex-vertical-center() {
      gap: 0.5rem;
    }

    @include fd-hidden() {
      opacity: 0;
      visibility: hidden;
    }

    height: 2rem;
    visibility: visible;
    transition: opacity 0.25s ease-in;
  }

  &--sm,
  &--s {
    @include responsive-action-bar();
  }

  &--md,
  &--lg,
  &--m_l {
    @include responsive-action-bar(2rem);
  }

  &--xl {
    @include responsive-action-bar(3rem);
  }
}
