@import "./mixins";
@import "./avatar-variables";

$block: #{$fd-namespace}-avatar;

.#{$block} {
  --fdAvatarZoomIconPosition: 0;

  @include fd-reset();
  @include fd-fake-fiori-focus(
    var(--fdAvatar_Focus_Outline_Offset),
    var(--fdAvatar_Focus_Outline_Radius)
  );
  @include fd-avatar-set-size(var(--fdAvatarRatio));
  @include fd-set-border(var(--fdAvatarBorderColor));

  position: relative;
  vertical-align: middle;
  background-position: 50%;
  color: var(--fdAvatarColor);
  background-repeat: no-repeat;
  font-size: var(--fdAvatarFontSize);
  text-shadow: var(--fdAvatarTextShadow);
  font-stretch: var(--fdAvatarFontStretch);
  border-radius: var(--fdAvatarBorderRadius);
  background-size: var(--fdAvatarBackgroundSize);
  background-color: var(--fdAvatarBackgroundColor);

  &[role="button"],
  &[tabindex="0"] {
    cursor: pointer;

    @include fd-hover() {
      --fdAvatarBorderColor: var(--fdAvatarHoverBorderColor);
      --fdAvatarBackgroundColor: var(--fdAvatarHoverBackgroundColor);
    }

    @include fd-disabled() {
      opacity: var(--sapContent_DisabledOpacity);
    }

    @include fd-active() {
      --fdAvatarBorderColor: var(--sapButton_Selected_BorderColor);
      --fdAvatarBackgroundColor: var(--sapButton_Selected_Background);
      --fdAvatarColor: var(--sapButton_Selected_TextColor);
    }

    @include fd-toggled() {
      --fdAvatarBorderColor: var(--sapButton_Selected_BorderColor);
      --fdAvatarBackgroundColor: var(--sapButton_Selected_Background);
      --fdAvatarColor: var(--sapButton_Selected_TextColor);

      @include fd-hover() {
        --fdAvatarBorderColor: var(--sapButton_Selected_Hover_BorderColor);
        --fdAvatarBackgroundColor: var(--sapButton_Selected_Hover_Background);
        --fdAvatarColor: var(--sapButton_Selected_TextColor);
      }
    }

    @include fd-focus() {
      padding: 0.125rem;
    }
  }

  // ************ BLOCK ELEMENTS ************
  &__zoom-icon {
    --fdAvatarZoomIconColor: var(--sapButton_Emphasized_TextColor);
    --fdAvatarZoomIconBorderColor: var(--sapButton_Emphasized_BorderColor);
    --fdAvatarZoomIconBackground: var(--sapButton_Emphasized_Background);

    @include fd-icon-element-base() {
      @include fd-flex-center();
      @include fd-set-border(var(--fdAvatarZoomIconBorderColor));
      @include fd-square(var(--fdAvatarZoomIconDimensions));

      z-index: 5;
      position: absolute;
      border-radius: 100%;
      color: var(--fdAvatarZoomIconColor);
      font-size: var(--fdAvatarZoomIconFontSize);
      background: var(--fdAvatarZoomIconBackground);

      @include fd-icon-selector() {
        @include fd-set-position-right(var(--fdAvatarZoomIconPosition));

        bottom: var(--fdAvatarZoomIconPosition);
      }
    }

    @each $set-name, $color-set in $fd-avatar-value-states {
      &--#{$set-name} {
        --fdAvatarZoomIconColor: #{map_get($color-set, "color")};
        --fdAvatarZoomIconBorderColor: #{map_get($color-set, "border")};
        --fdAvatarZoomIconBackground: #{map_get($color-set, "background")};
      }
    }
  }

  &__icon {
    @include fd-icon-element-base() {
      @include fd-flex-center() {
        align-content: center;
      }
    }
  }

  // ************ BLOCK MODIFIERS ************
  &--circle {
    @include fd-fake-fiori-focus(
      var(--fdAvatar_Focus_Outline_Offset),
      var(--fdAvatar_Focus_Outline_Radius_Circle)
    );

    --fdAvatarBorderRadius: 100%;
  }

  &--background-contain {
    --fdAvatarBackgroundSize: contain;
  }

  &--transparent {
    --fdAvatarBorderColor: transparent;
    --fdAvatarBackgroundColor: var(--fdAvatar_Transparent_BackgroundColor);
    --fdAvatarColor: var(--sapContent_IconColor);
    --fdAvatarHoverBackgroundColor: var(--fdAvatar_Transparent_BackgroundColor_Hover);
    --fdAvatarHoverBorderColor: var(--sapContent_IconColor);
  }

  &--tile {
    --fdAvatarBorderColor: transparent;
    --fdAvatarBackgroundColor: var(--fdAvatar_Tile_BackgroundColor);
    --fdAvatarColor: var(--fdAvatar_Tile_TextColor);
    --fdAvatarHoverBackgroundColor: var(--fdAvatar_Tile_BackgroundColor_Hover);
    --fdAvatarHoverBorderColor: var(--sapTile_IconColor);
  }

  &--placeholder {
    --fdAvatarBorderColor: transparent;
    --fdAvatarBackgroundColor: var(--sapContent_ImagePlaceholderBackground);
    --fdAvatarColor: var(--sapContent_ImagePlaceholderForegroundColor);
    --fdAvatarHoverBackgroundColor: var(--fdAvatar_Placeholder_BackgroundColor_Hover);
    --fdAvatarHoverBorderColor: var(--sapContent_ImagePlaceholderForegroundColor);
  }

  &--thumbnail {
    --fdAvatarBorderColor: transparent;
    --fdAvatarHoverBorderColor: var(--sapAvatar_10_TextColor);
    --fdAvatarBackgroundColor: var(--fdAvatar_Transparent_BackgroundColor);
  }

  &--border {
    --fdAvatarBorderColor: var(--sapGroup_ContentBorderColor);

    @include fd-active() {
      --fdAvatarBorderColor: var(--sapButton_Selected_BorderColor);
      --fdAvatarBackgroundColor: var(--sapButton_Selected_Background);
    }
  }

  // accent-colors
  @each $set-name, $color-set in $fd-avatar-accent-colors {
    &--accent-color-#{$set-name} {
      --fdAvatarBorderColor: #{map_get($color-set, "border")};
      --fdAvatarColor: #{map_get($color-set, "text-color")};
      --fdAvatarBackgroundColor: #{map_get($color-set, "background-color")};
      --fdAvatarHoverBorderColor: #{map_get($color-set, "border-color-hover")};
      --fdAvatarHoverBackgroundColor: #{map_get($color-set, "background-color-hover")};
    }
  }

  @each $set-name, $size-set in $fd-avatar-sizes {
    &--#{$set-name} {
      --fdAvatarZoomIconOffset: #{map_get($size-set, "offset")};
      --fdAvatarRatio: #{map_get($size-set, "ratio")};
      --fdAvatarFontSize: #{map_get($size-set, "font-size")};
      --fdAvatarFontStretch: #{map_get($size-set, "fontStretch")};

      .#{$block}__zoom-icon {
        @include fd-icon-selector() {
          --fdAvatarZoomIconDimensions: #{map_get($size-set, "zoomIconDimensions")};
          --fdAvatarZoomIconFontSize: #{map_get($size-set, "zoomIconFontSize")};
        }
      }
    }
  }
}

$accent-selector: ();

@each $item in map-keys($fd-avatar-accent-colors) {
  $accent-selector: $accent-selector, '.#{$block}--accent-color-#{$item}';
}

#{$accent-selector} {
  &.#{$block}--shell {
    @include fd-set-border(var(--sapShell_InteractiveBorderColor));
  }
}

$selector: ();

@each $item in map-keys($fd-avatar-sizes) {
  $selector: $selector, '.#{$block}--#{$item}';
}

#{$selector} {
  @include fd-reset-spacing();
  @include fd-inline-flex-center();
  &:not(.#{$block}--circle) {
    --fdAvatarZoomIconPosition: var(--fdAvatarZoomIconOffset);
  }
}
