@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-bar;
$floating-footer: #{$fd-namespace}-bar--floating-footer;

.#{$block} {
  --fdBar_Z_Index: 1;
  --fdBar_Height: 2.75rem;
  --fdBar_Padding_X: 1rem;
  --fdBar_Padding_Top: 0;
  --fdBar_Padding_Bottom: 0;
  --fdBar_Border_Radius: 0;
  --fdBar_Floating_Footer_Offset_X: 0;
  --fdBar_Floating_Footer_Offset_Y: 0;
  --fdBar_Shadow: var(--sapContent_HeaderShadow);
  --fdBar_Background: var(--sapPageHeader_Background);

  @include fd-reset();
  @include fd-set-paddings-x-equal(var(--fdBar_Padding_X));

  @include fd-flex() {
    gap: 0.5rem;
    justify-content: space-between;
  }

  height: var(--fdBar_Height);
  z-index: var(--fdBar_Z_Index);
  box-shadow: var(--fdBar_Shadow);
  background: var(--fdBar_Background);
  padding-top: var(--fdBar_Padding_Top);
  border-radius: var(--fdBar_Border_Radius);
  padding-bottom: var(--fdBar_Padding_Bottom);

  .#{$block}__header {
    font-size: var(--sapFontHeader5Size);
    font-family: var(--sapFontHeaderFamily);
    color: var(--sapPageHeader_TextColor);
  }

  &__left,
  &__middle,
  &__right {
    @include fd-reset();

    @include fd-flex-vertical-center() {
      gap: 0.5rem;
    }

    width: 100%;
    max-width: 100%;
  }

  &__middle {
    justify-content: center;
  }

  &__right {
    justify-content: flex-end;
  }

  &__element {
    @include fd-reset();
    @include fd-flex-center();

    max-width: 100%;
    max-height: 100%;
  }

  &__element--full-width {
    width: 100%;

    & > *:first-child {
      flex-grow: 1;
    }
  }

  &--responsive-paddings {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @include fd-media-sm() {
      --fdBar_Padding_X: 1rem;
    }

    @include fd-media-md() {
      --fdBar_Padding_X: 2rem;
    }

    @include fd-media-lg() {
      --fdBar_Padding_X: 2rem;
    }

    @include fd-media-xl() {
      --fdBar_Padding_X: 3rem;
    }
  }

  &--header {
    --fdBar_Shadow: var(--sapContent_HeaderShadow);
    --fdBar_Background: var(--sapPageHeader_Background);
  }

  &--subheader {
    --fdBar_Height: 3rem;
    --fdBar_Padding_Bottom: 0.25rem;
    --fdBar_Shadow: var(--sapContent_HeaderShadow);
    --fdBar_Background: var(--sapPageHeader_Background);
  }

  &--header-with-subheader {
    --fdBar_Z_Index: 2;
    --fdBar_Shadow: none;
    --fdBar_Background: var(--sapPageHeader_Background);

    position: relative;
  }

  &--footer {
    --fdBar_Shadow: none;
    --fdBar_Background: var(--sapPageFooter_Background);

    border-top: 0.0625rem solid var(--sapPageFooter_BorderColor);
  }

  &--floating-footer {
    --fdBar_Shadow: var(--sapContent_Shadow1);
    --fdBar_Z_Index: map-get($fd-z-index-levels, "top");
    --fdBar_Background: var(--sapPageFooter_Background);
    --fdBar_Border_Radius: var(--sapElement_BorderCornerRadius);

    bottom: 0;
    opacity: 1;
    position: absolute;
    left: var(--fdBar_Floating_Footer_Offset_X);
    right: var(--fdBar_Floating_Footer_Offset_X);
    margin-bottom: var(--fdBar_Floating_Footer_Offset_Y);
  }

  &--growing {
    --fdBar_Height: auto;
    --fdBar_Padding_Top: 0.25rem;
    --fdBar_Padding_Bottom: 0.25rem;

    min-height: 2.5rem;

    // Compensate negative box shadow which results in visualy not centered items.
    &.#{$block}--header {
      --fdBar_Padding_Top: 0.375rem;
    }
  }

  // Page Design
  &--page,
  &--home-page {
    --fdBar_Padding_X: 1rem;

    &.#{$floating-footer} {
      --fdBar_Padding_X: 0.5rem;
      --fdBar_Floating_Footer_Offset_X: 1rem;
      --fdBar_Floating_Footer_Offset_Y: 0.5rem;
    }
  }

  &--page-s {
    --fdBar_Padding_X: 1rem;

    &.#{$floating-footer} {
      --fdBar_Padding_X: 0.5rem;
      --fdBar_Floating_Footer_Offset_X: 1rem;
      --fdBar_Floating_Footer_Offset_Y: 0.5rem;
    }
  }

  &--home-page-s {
    --fdBar_Padding_X: 0.5rem;

    &.#{$floating-footer} {
      --fdBar_Padding_X: 0.5rem;
      --fdBar_Floating_Footer_Offset_X: 1rem;
      --fdBar_Floating_Footer_Offset_Y: 0.5rem;
    }
  }

  &--page-m_l,
  &--home-page-m_l {
    --fdBar_Padding_X: 2rem;

    &.#{$floating-footer} {
      --fdBar_Padding_X: 0.5rem;
      --fdBar_Floating_Footer_Offset_X: 2rem;
      --fdBar_Floating_Footer_Offset_Y: 0.5rem;
    }
  }

  &--page-xl,
  &--home-page-xl {
    --fdBar_Padding_X: 3rem;

    &.#{$floating-footer} {
      --fdBar_Padding_X: 0.5rem;
      --fdBar_Floating_Footer_Offset_X: 3rem;
      --fdBar_Floating_Footer_Offset_Y: 0.5rem;
    }
  }

  @include fd-compact-or-condensed() {
    --fdBar_Height: 2.5rem;

    &.#{$block}--subheader {
      --fdBar_Height: 2.25rem;
    }
  }
}
