@use "sass:map";

@import "./new-settings";
@import "./mixins";

$fd-breadcrumb-separator-color: var(--sapContent_LabelColor);
$fd-breadcrumb-item-color: var(--sapContent_LabelColor);
$block: #{$fd-namespace}-breadcrumb;
$fd-breadcrumb-border-top-radius: 0.125rem !default;
$fd-breadcrumb-overflow-active-color: var(--sapLink_Active_Color);

.#{$block} {
  // BLOCK BASE *******************************************
  @include fd-reset();

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;

  // ELEMENTS *******************************************
  &__item {
    @include fd-reset();

    color: $fd-breadcrumb-item-color;

    &::after {
      content: "/";
      color: $fd-breadcrumb-separator-color;
      margin-inline:  0.25rem;
    }

    &:last-child::after {
      content: none;
    }

    .#{$block}__popover-body {
      border: none;
      border-top-left-radius: $fd-breadcrumb-border-top-radius;
      border-top-right-radius: $fd-breadcrumb-border-top-radius;
    }
  }
}
