@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-breadcrumb;

.#{$block} {
  @include fd-reset();

  @include fd-flex-vertical-center() {
    flex-wrap: wrap;
  }

  --fdLink_Line_Height: 1.5rem;

  list-style: none;
  margin-block-end: 0.5rem;

  &__item {
    @include fd-reset();

    display: inline-flex;
    align-items: center;
    padding-block: 0.0625rem;
    color: var(--sapContent_LabelColor);

    &:last-child:not(:has(a)) {
      --fdBreadcrumb_Separator: none;
    }

    .#{$block}__popover-body {
      border: none;
      border-top-left-radius: 0.125rem;
      border-top-right-radius: 0.125rem;
    }
  }

  &__separator {
    @include fd-reset();

    &::after {
      margin-inline: 0.25rem;
      color: var(--sapTextColor);
      content: var(--fdBreadcrumb_Separator, "/");
    }
  }

  &--backslash {
    --fdBreadcrumb_Separator: "\\";
  }

  &--double-slash {
    --fdBreadcrumb_Separator: "//";
  }

  &--double-backslash {
    --fdBreadcrumb_Separator: "\\\\";
  }

  &--greater-than {
    --fdBreadcrumb_Separator: ">";
  }

  &--double-greater-than {
    --fdBreadcrumb_Separator: ">>";
  }
}
