@import "./new-settings";
@import "./mixins";

/*!
.fd-calendar+(--compact, --mobile-landscape, --mobile-portrait)
    .fd-calendar__header
      .fd-calendar__navigation(--main-navigation)
        .fd-calendar__action(+[--arrow-left, --arrow-right])
        .fd-calendar__close-button--navigation
    .fd-calendar__content(+[--months, --years])
        .fd-calendar__table
          .fd-calendar__group
            .fd-calendar__row
              .fd-calendar__item(+[--other-month, --current, --side-helper, --weekend, --range],
                                 +[(.is-disabled | [aria-disabled=true]), (.is-focus | [aria-focus=true]), (.is-active | [aria-active=true])])
              .fd-calendar__special-day(+[--1, --2, ..., --19, --20])
                .fd-calendar__text
*/
$block: #{$fd-namespace}-calendar;

// Calendar default
$fd-calendar-padding: 1rem !default;
$fd-calendar-item-width: 2.125rem !default;
$fd-calendar-item-height: 2.75rem !default;
$fd-calendar-action-padding: 0.5rem !default;
$fd-calendar-item-spacing: 0.0625rem !default;
$fd-calendar-button-horizontal-space: 0.25rem !default; // This value is used to create additional vertical space on the button which should be created by currently not implemented "Touchable Area" of the button.
$fd-calendar-background: var(--sapList_Background) !default;
$fd-calendar-item-font-size: var(--sapFontSize) !default;
$fd-calendar-border-radius: var(--fdCalendar_Border_Radius) !default;
$fd-calendar-width: $fd-calendar-item-width * 8 + 2 * $fd-calendar-padding + $fd-calendar-item-spacing * 16 !default;
$fd-calendar-active-item-inner-border-size: calc(100% - 0.125rem) !default;

:root {
  --fdCalendar_Padding: #{$fd-calendar-padding};
  --fdCalendar_Item_Width: #{$fd-calendar-item-width};
  --fdCalendar_Item_Height: #{$fd-calendar-item-height};
  --fdCalendar_Action_Padding: #{$fd-calendar-action-padding};
  --fdCalendar_Item_Spacing: #{$fd-calendar-item-spacing};
  --fdCalendar_Button_Horizontal_Space: #{$fd-calendar-button-horizontal-space};
  --fdCalendar_Width: #{$fd-calendar-width};
  --fdCalendar_Item_Inner_Border_Size: #{$fd-calendar-active-item-inner-border-size};
  --fdCalendar_Action_Width: auto;
}

// Compact dimensions
$fd-calendar-padding-compact: 0.5rem !default;
$fd-calendar-item-width-compact: 1.875rem !default;
$fd-calendar-item-height-compact: 1.875rem !default;
$fd-calendar-width-compact: $fd-calendar-item-width-compact * 8 + 2 * $fd-calendar-padding-compact + $fd-calendar-item-spacing * 16 !default;
$fd-calendar-button-horizontal-space-compact: 0.1875rem !default; // This value is used to create additional vertical space on the button which should be created by currently not implemented "Touchable Area" of the button.
$fd-calendar-button-height-compact: 2rem !default;
$fd-calendar-padding-mobile-landscape: 0 !default;
$fd-calendar-padding-mobile-portrait: 1rem 0 0 0 !default;
$fd-calendar-item-helper-height-landscape: 1.625rem !default;
$fd-calendar-compact-inner-border-size: calc(100% - 0.125rem) !default;

// Mobile dimensions
$fd-calendar-navigation-landscape-width: 20rem !default;

// Calendar items variations
$fd-calendar-item-color: var(--sapTextColor) !default;
$fd-calendar-item-background: var(--sapLegend_WorkingBackground) !default;
$fd-calendar-item-background-hover: var(--sapList_Hover_Background) !default;

$fd-calendar-item-helper-height: 1.875rem !default;
$fd-calendar-item-helper-font: var(--sapFontSmallSize) !default;
$fd-calendar-item-helper-color: var(--sapContent_LabelColor) !default;

$fd-calendar-item-active-color: var(--sapContent_Selected_TextColor) !default;
$fd-calendar-item-active-background: var(--sapContent_Selected_Background) !default;
$fd-calendar-item-active-background-hover: var(--fdCalendar_Item_Active_Background_Hover) !default;
$fd-calendar-item-focus-active-outline-color: var(--fdCalendar_Active_Focus_Item_Outline_Color) !default;
$fd-calendar-active-item-border: var(--fdCalendar_Active_Item_Border) !default;
$fd-calendar-active-item-font-weight: var(--fdCalendar_Active_Item_Font_Weight) !default;

$fd-calendar-item-inactive-color: var(--sapContent_LabelColor) !default;
$fd-calendar-item-inactive-background-hover: var(--sapList_Hover_Background) !default;

$fd-calendar-item-focused-outline-offset: -0.1875rem !default;
$fd-calendar-item-focused-outline-color: var(--sapContent_FocusColor) !default;
$fd-calendar-item-focused-outline-width: var(--sapContent_FocusWidth) !default;
$fd-calendar-item-focused-outline-style: var(--sapContent_FocusStyle) !default;

$fd-calendar-item-weekend-background: var(--sapLegend_NonWorkingBackground) !default;
$fd-calendar-item-weekend-background-hover: var(--sapList_Hover_Background) !default;

$fd-calendar-item-range-background: var(--sapList_SelectionBackgroundColor) !default;
$fd-calendar-item-range-background-hover: var(--sapList_Hover_SelectionBackground) !default;
$fd-calendar-item-range-border: solid 0.0625rem var(--sapList_SelectionBorderColor) !default;
$fd-calendar-item-current-inner-border-color: var(--fdCalendar_Item_Current_Inner_Border_Color) !default;
$fd-calendar-item-current-border-width: 0.125rem !default;
$fd-calendar-item-current-border: solid medium var(--sapLegend_CurrentDateTime) !default; // 'medium' value is used to support browser rendering precision
$fd-calendar-item-current-inner-border-width: 0.0625rem !default;
$fd-calendar-item-current-inner-border-radius: calc(var(--sapElement_BorderCornerRadius) / 2) !default;
$fd-calendar-item-current-inner-border: var(--fdCalendar_Item_Current_Border) !default;
$fd-calendar-item-current-active-special-day-width: var(--fdCalendar_Item_Current_Active_Special_Day_Width) !default;
$fd-calendar-item-current-active-special-day-height: var(--fdCalendar_Item_Current_Active_Special_Day_Height) !default;
$fd-calendar-item-current-active-special-day-bottom: var(--fdCalendar_Item_Current_Active_Special_Day_Bottom) !default;
$fd-calendar-item-current-active-special-day-left: var(--fdCalendar_Item_Current_Active_Special_Day_Left) !default;
$fd-calendar-item-current-active-special-day-right: var(--fdCalendar_Item_Current_Active_Special_Day_Right) !default;

// Special Days
$fd-special-day-marker-height: var(--fdCalendar_Special_Day_Marker_Height);
$fd-calendar-special-days: (
  "1": var(--sapLegendColor1),
  "2": var(--sapLegendColor2),
  "3": var(--sapLegendColor3),
  "4": var(--sapLegendColor4),
  "5": var(--sapLegendColor5),
  "6": var(--sapLegendColor6),
  "7": var(--sapLegendColor7),
  "8": var(--sapLegendColor8),
  "9": var(--sapLegendColor9),
  "10": var(--sapLegendColor10),
  "11": var(--sapLegendColor11),
  "12": var(--sapLegendColor12),
  "13": var(--sapLegendColor13),
  "14": var(--sapLegendColor14),
  "15": var(--sapLegendColor15),
  "16": var(--sapLegendColor16),
  "17": var(--sapLegendColor17),
  "18": var(--sapLegendColor18),
  "19": var(--sapLegendColor19),
  "20": var(--sapLegendColor20),
);

@mixin special-days($nameColorMap) {
  @each $name, $color in $nameColorMap {
    &__special-day--#{$name} {
      .#{$block}__text::after {
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: $fd-special-day-marker-height;
        box-shadow: inset 0 calc(#{$fd-special-day-marker-height} * -1) 0 $color;
      }

      @include fd-active() {
        .#{$block}__text::after {
          height: calc(#{$fd-special-day-marker-height} + #{$fd-calendar-item-current-inner-border-width});
          box-shadow: inset 0 calc(#{$fd-special-day-marker-height} * -1) 0 $color, inset 0 0.33rem * -1 0 $fd-calendar-item-current-inner-border-color;
        }
      }

      &.#{$block}__item--current {
        @include fd-active() {
          .#{$block}__text::after {
            width: $fd-calendar-item-current-active-special-day-width;
            height: $fd-calendar-item-current-active-special-day-height;
            bottom: $fd-calendar-item-current-active-special-day-bottom;
            left: $fd-calendar-item-current-active-special-day-left;
            right: $fd-calendar-item-current-active-special-day-right;
          }
        }
      }
    }
  }
}

%fd-calendar-item {
  @include fd-reset();

  overflow: hidden;
  position: relative;
  height: var(--fdCalendar_Item_Height);
  margin: $fd-calendar-item-spacing;
  min-width: var(--fdCalendar_Item_Width);
  border-radius: $fd-calendar-border-radius;
  background-color: $fd-calendar-item-background;
  flex: 1 1 $fd-calendar-item-current-border-width * 2 + $fd-calendar-item-spacing * 2;
  cursor: pointer;

  @include fd-hover() {
    background-color: $fd-calendar-item-background-hover;
  }
}

%fd-calendar-item-side-helper {
  align-self: center;
  pointer-events: none;
  height: var(--fdCalendar_Item_Side_Helper, $fd-calendar-item-helper-height);
  background-color: $fd-calendar-background;
}

%fd-calendar-item-other-month {
  background-color: $fd-calendar-background;

  @include fd-hover() {
    background-color: $fd-calendar-item-inactive-background-hover;
  }
}

%fd-calendar-item-weekend {
  background-color: $fd-calendar-item-weekend-background;

  @include fd-hover() {
    background-color: $fd-calendar-item-weekend-background-hover;
  }
}

%fd-calendar-item-current {
  border: $fd-calendar-item-current-border !important;

  @include fd-active() {
    &::after {
      border: $fd-calendar-active-item-border;
      content: ' ';
      position: absolute;
      bottom: $fd-calendar-item-spacing;
      left: $fd-calendar-item-spacing;
      right: auto;
      width: var(--fdCalendar_Item_Inner_Border_Size);
      height: var(--fdCalendar_Item_Inner_Border_Size);
      border-radius: calc(#{$fd-calendar-border-radius} / 2);

      @include fd-rtl() {
        left: auto;
        right: $fd-calendar-item-spacing;
      }
    }
  }
}

%fd-calendar-item-active {
  background-color: $fd-calendar-item-active-background;
  border: $fd-calendar-active-item-border;
  font-weight: $fd-calendar-active-item-font-weight;

  @include fd-hover() {
    background-color: $fd-calendar-item-active-background-hover;
  }

  @include fd-focus() {
    box-shadow: none;
    outline-color: $fd-calendar-item-focus-active-outline-color;
  }
}

%fd-calendar-item-range {
  border: $fd-calendar-item-range-border;
  background-color: $fd-calendar-item-range-background;

  @include fd-hover() {
    background-color: $fd-calendar-item-range-background-hover;
  }
}

%fd-calendar-item-disabled {
  pointer-events: none;
  opacity: 0.4;

  &:hover {
    cursor: not-allowed;
  }
}

%fd-calendar-item-focus {
  box-shadow: none;
  outline-offset: $fd-calendar-item-focused-outline-offset;
  outline: $fd-calendar-item-focused-outline-color $fd-calendar-item-focused-outline-style $fd-calendar-item-focused-outline-width;
}

%fd-calendar-item-text {
  @include fd-reset();
  @include fd-flex-center();

  height: 100%;
  color: $fd-calendar-item-color;
  font-size: $fd-calendar-item-font-size;
  text-shadow: var(--fdCalendar_Text_Shadow);
}

.#{$block} {
  @include fd-reset();

  width: var(--fdCalendar_Width);
  padding: var(--fdCalendar_Padding);
  background-color: $fd-calendar-background;
  border-radius: $fd-calendar-border-radius;

  // CALENDAR HEADER
  &__header {
    @include fd-reset();

    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__navigation {
    @include fd-reset();

    width: 100%;
    display: flex;
    justify-content: center;

    @include fd-set-paddings-y-equal(var(--fdCalendar_Button_Horizontal_Space));
  }

  &__action {
    @include fd-reset();

    flex-grow: 1;

    &:not(:last-child):not(:first-child) {
      margin-left: $fd-calendar-action-padding * 0.5;
      margin-right: $fd-calendar-action-padding * 0.5;
    }

    &:first-child {
      margin-right: $fd-calendar-action-padding * 0.5;
    }

    &:last-child {
      margin-left: $fd-calendar-action-padding * 0.5;
    }

    > [type="button"] {
      width: 100%;
    }

    &--arrow-left,
    &--arrow-right {
      flex-grow: 0;
      width: var(--fdCalendar_Action_Width);
    }

    // Years range selection mode
    &--arrow-left + &--arrow-right {
      @include fd-set-margin-left(auto);
    }

    [class*="sap-icon"] {
      @include fd-rtl() {
        transform: scaleX(-1);
      }
    }
  }

  // CALENDAR CONTENT
  &__content {
    @include fd-reset();

    &--years,
    &--months {
      padding-top: $fd-calendar-item-helper-height;

      .#{$block}__item {
        background-color: transparent;
        max-height: var(--fdCalendar_Item_Height);

        &-button {
          min-width: 100%;
          min-height: 100%;
          padding: 0;
        }

        &--current {
          .#{$block}__item-button {
            border: none;
            box-shadow: none;
            border-radius: var(--fdCalendar_Month_Year_Item_Border_Radius);
          }
        }

        .#{$block}__text {
          color: inherit;
        }
      }
    }

    &--dates {
      .#{$block}__item {
        @include fd-focus() {
          @extend %fd-calendar-item-focus;
        }

        @include fd-disabled() {
          @extend %fd-calendar-item-disabled;
        }

        @include fd-active() {
          @extend %fd-calendar-item-active;

          .#{$block}__text {
            color: $fd-calendar-item-active-color;
          }
        }

        &--weekend {
          @extend %fd-calendar-item-weekend;
        }

        &--side-helper {
          @extend %fd-calendar-item-side-helper;

          .#{$block}__text {
            color: $fd-calendar-item-helper-color;
            font-size: $fd-calendar-item-helper-font;
          }
        }

        &--other-month {
          @extend %fd-calendar-item-other-month;

          .#{$block}__text {
            color: $fd-calendar-item-inactive-color;
          }
        }

        &--range {
          @extend %fd-calendar-item-range;

          &.#{$block}__item--current {
            @extend %fd-calendar-item-current;
          }
        }
      }
    }

    &--screen-reader-only {
      @include fd-screen-reader-only();
    }
  }

  &__table {
    @include fd-reset();

    width: 100%;
    display: table;
    border-spacing: 0;
  }

  &__group {
    @include fd-reset();

    display: table-row-group;
  }

  &__row {
    @include fd-reset();

    display: flex;
  }

  .#{$block}__item {
    @extend %fd-calendar-item;

    display: inline-block;

    &--current {
      @extend %fd-calendar-item-current;

      .#{$block}__text::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        border: $fd-calendar-item-current-inner-border;
        border-radius: $fd-calendar-item-current-inner-border-radius;
      }
    }
  }

  &__text {
    @extend %fd-calendar-item-text;
  }

  @include special-days($fd-calendar-special-days);

  .#{$block}__close-button--navigation {
    @include fd-set-position-right(0);

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  // CALENDAR COMPACT
  @include fd-compact-condensed() {
    --fdCalendar_Width: #{$fd-calendar-width-compact};
    --fdCalendar_Padding: #{$fd-calendar-padding-compact};
    --fdCalendar_Item_Height: #{$fd-calendar-item-height-compact};
    --fdCalendar_Button_Horizontal_Space: #{$fd-calendar-button-horizontal-space-compact};
    --fdCalendar_Action_Width: #{$fd-calendar-item-width-compact};
    --fdCalendar_Item_Width: #{$fd-calendar-item-width-compact};
    --fdCalendar_Item_Inner_Border_Size: #{$fd-calendar-compact-inner-border-size};
  }

  // CALENDAR MOBILE
  &--mobile-landscape,
  &--mobile-portrait {
    width: 100%;
    height: 100%;
  }

  &--mobile-landscape {
    --fdCalendar_Padding: #{$fd-calendar-padding-mobile-landscape};
    --fdCalendar_Item_Side_Helper: #{$fd-calendar-item-helper-height-landscape};

    .#{$block} {
      &__navigation--main {
        max-width: 20rem;
      }
    }
  }

  &--mobile-portrait {
    --fdCalendar_Padding: #{$fd-calendar-padding-mobile-portrait};
  }
}
