@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-card;
$object-status: #{$fd-namespace}-object-status;
$numeric-content: #{$fd-namespace}-numeric-content;
$list: #{$fd-namespace}-list;

@mixin fd-line-clamp($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

$shell-category-colors: (
  "1": (
    "background": var(--sapShell_Category_1_Background),
    "textColor": var(--sapShell_Category_1_TextColor),
    "textShadow": var(--sapShell_Category_1_TextShadow)
  ),
  "2": (
    "background": var(--sapShell_Category_2_Background),
    "textColor": var(--sapShell_Category_2_TextColor),
    "textShadow": var(--sapShell_Category_2_TextShadow)
  ),
  "3": (
    "background": var(--sapShell_Category_3_Background),
    "textColor": var(--sapShell_Category_3_TextColor),
    "textShadow": var(--sapShell_Category_3_TextShadow)
  ),
  "4": (
    "background": var(--sapShell_Category_4_Background),
    "textColor": var(--sapShell_Category_4_TextColor),
    "textShadow": var(--sapShell_Category_4_TextShadow)
  ),
  "5": (
    "background": var(--sapShell_Category_5_Background),
    "textColor": var(--sapShell_Category_5_TextColor),
    "textShadow": var(--sapShell_Category_5_TextShadow)
  ),
  "6": (
    "background": var(--sapShell_Category_6_Background),
    "textColor": var(--sapShell_Category_6_TextColor),
    "textShadow": var(--sapShell_Category_6_TextShadow)
  ),
  "7": (
    "background": var(--sapShell_Category_7_Background),
    "textColor": var(--sapShell_Category_7_TextColor),
    "textShadow": var(--sapShell_Category_7_TextShadow)
  ),
  "8": (
    "background": var(--sapShell_Category_8_Background),
    "textColor": var(--sapShell_Category_8_TextColor),
    "textShadow": var(--sapShell_Category_8_TextShadow)
  ),
  "9": (
    "background": var(--sapShell_Category_9_Background),
    "textColor": var(--sapShell_Category_9_TextColor),
    "textShadow": var(--sapShell_Category_9_TextShadow)
  ),
  "10": (
    "background": var(--sapShell_Category_10_Background),
    "textColor": var(--sapShell_Category_10_TextColor),
    "textShadow": var(--sapShell_Category_10_TextShadow)
  ),
  "11": (
    "background": var(--sapShell_Category_11_Background),
    "textColor": var(--sapShell_Category_11_TextColor),
    "textShadow": var(--sapShell_Category_11_TextShadow)
  ),
  "12": (
    "background": var(--sapShell_Category_12_Background),
    "textColor": var(--sapShell_Category_12_TextColor),
    "textShadow": var(--sapShell_Category_12_TextShadow)
  ),
  "13": (
    "background": var(--sapShell_Category_13_Background),
    "textColor": var(--sapShell_Category_13_TextColor),
    "textShadow": var(--sapShell_Category_13_TextShadow)
  ),
  "14": (
    "background": var(--sapShell_Category_14_Background),
    "textColor": var(--sapShell_Category_14_TextColor),
    "textShadow": var(--sapShell_Category_14_TextShadow)
  ),
  "15": (
    "background": var(--sapShell_Category_15_Background),
    "textColor": var(--sapShell_Category_15_TextColor),
    "textShadow": var(--sapShell_Category_15_TextShadow)
  ),
  "16": (
    "background": var(--sapShell_Category_16_Background),
    "textColor": var(--sapShell_Category_16_TextColor),
    "textShadow": var(--sapShell_Category_16_TextShadow)
  ),
);

$legend-background-colors: (
  "1": (
    "background": var(--sapLegendBackgroundColor1)
  ),
  "2": (
    "background": var(--sapLegendBackgroundColor2)
  ),
  "3": (
    "background": var(--sapLegendBackgroundColor3)
  ),
  "4": (
    "background": var(--sapLegendBackgroundColor4)
  ),
  "5": (
    "background": var(--sapLegendBackgroundColor5)
  ),
  "6": (
    "background": var(--sapLegendBackgroundColor6)
  ),
  "7": (
    "background": var(--sapLegendBackgroundColor7)
  ),
  "8": (
    "background": var(--sapLegendBackgroundColor8)
  ),
  "9": (
    "background": var(--sapLegendBackgroundColor9)
  ),
  "10": (
    "background": var(--sapLegendBackgroundColor10)
  ),
  "11": (
    "background": var(--sapLegendBackgroundColor11)
  ),
  "12": (
    "background": var(--sapLegendBackgroundColor12)
  ),
  "13": (
    "background": var(--sapLegendBackgroundColor13)
  ),
  "14": (
    "background": var(--sapLegendBackgroundColor14)
  ),
  "15": (
    "background": var(--sapLegendBackgroundColor15)
  ),
  "16": (
    "background": var(--sapLegendBackgroundColor16)
  ),
  "17": (
    "background": var(--sapLegendBackgroundColor17)
  ),
  "18": (
    "background": var(--sapLegendBackgroundColor18)
  ),
  "19": (
    "background": var(--sapLegendBackgroundColor19)
  ),
  "20": (
    "background": var(--sapLegendBackgroundColor20)
  ),
);

.#{$block} {
  --fdCard_Border: 0.0625rem solid var(--sapTile_BorderColor);
  --fdCard_Border_Corner_Radius: var(--sapTile_BorderCornerRadius);
  --fdCard_Header_Text_Spacing: 0.25rem;
  --fdCard_Box_Shadow: var(--fdCard_Box_Shadow_Regular);
  --fdCard_Header_Border_Radius: var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius) 0 0;
  --fdCard_Main_Header_Border_Radius: inherit;
  --fdCard_Footer_Border_Radius: 0 0 var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius);
  --fdCard_Content_Border_Radius: 0;
  --fdCard_Focus_Outline_Radius: var(--fdCard_Border_Corner_Radius);
  --fdCard_Focus_Outline_Offset: 0.0625rem;
  --fdCard_Media_Border_Radius: var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius) 0 0;
  --fdCard_Main_Header_Border_Bottom: var(--fdCard_Header_Border_Bottom);
  --fdCard_Main_Header_Border_Top: none;
  --fdCard_Main_Header_Padding_Block_Start: 1rem;
  --fdCard_Main_Header_Padding_Block_End: var(--fdCard_Main_Header_Padding_Bottom);

  @mixin fake-card-outline() {
    @include fd-focus() {
      outline: none;
  
      &::before {
        content: '';
        position: absolute;
        display: block;
        border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
        inset: var(--fdCard_Focus_Outline_Offset);
        border-radius: var(--fdCard_Focus_Outline_Radius);
        z-index: 3;
      }
    }
  }

  @include fd-reset();
  @include fd-flex(column);

  flex: 1;
  width: 100%;
  min-height: 100%;
  position: relative;
  border: var(--fdCard_Border);
  box-shadow: var(--fdCard_Box_Shadow);
  background: var(--fdCard_Background, var(--sapTile_Background));
  border-radius: var(--fdCard_Border_Corner_Radius);

  &--interactive {
    @include fake-card-outline();

    @include fd-hover() {
      --fdCard_Background: var(--sapTile_Hover_Background);
      --fdCard_Box_Shadow: var(--fdCard_Box_Shadow_Hover);
      --fdCard_Footer_Background: var(--sapTile_Hover_Background);
      --fdCard_Main_Header_Background: var(--sapTile_Hover_Background);
    }
  
    @include fd-active() {
      --fdCard_Box_Shadow: none;
      --fdCard_Background: var(--sapTile_Active_Background);
      --fdCard_Footer_Background: var(--sapTile_Active_Background);
      --fdCard_Main_Header_Background: var(--sapTile_Active_Background);
      --fdCard_Border: 0.0625rem solid var(--sapTile_Interactive_BorderColor);
    }

    @include fd-selected() {
      &::before {
        content: '';
        position: absolute;
        display: block;
        border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
        inset: var(--fdCard_Focus_Outline_Offset);
        border-radius: var(--fdCard_Focus_Outline_Radius);
        z-index: 3;
      }
    }


    &[role="button"] {
      .#{$block}__header-main-container {
        @include fake-card-outline();
      }
    }

    &[role="listitem"] {
      .#{$block}__header-main-container {
        pointer-events: none;
      }
    }
   

    cursor: pointer;
  }

  &__header {
    @include fd-reset();

    overflow: hidden;
    border-radius: var(--fdCard_Header_Border_Radius);

    &:is(:first-child) {
      --fdCard_Focus_Outline_Radius: var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius) 0 0;
    }
    
    &:is(:last-child) {
      --fdCard_Main_Header_Border_Bottom: none;
      --fdCard_Main_Header_Padding_Block_End: 1rem;
      --fdCard_Main_Header_Padding_Block_Start: 1rem;
      --fdCard_Main_Header_Border_Top: var(--fdCard_Header_Border_Bottom);
      --fdCard_Header_Border_Radius: 0 0 var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius);
      --fdCard_Focus_Outline_Radius: 0 0 var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius);

      .#{$block}__header-main:not(:only-child) {
        --fdCard_Focus_Outline_Radius: 0;
      }
    }

    &:only-child {
      --fdCard_Header_Border_Radius: var(--fdCard_Border_Corner_Radius);
      --fdCard_Focus_Outline_Radius: var(--fdCard_Border_Corner_Radius);

      .#{$block}__header-main:not(:only-child) {
        --fdCard_Focus_Outline_Radius: var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius) 0 0;
      }

      .#{$block}__header-main {
        --fdCard_Main_Header_Padding_Block_Start: 1rem;
        --fdCard_Main_Header_Padding_Block_End: 1rem;
        --fdCard_Main_Header_Border_Bottom: none;
        --fdCard_Main_Header_Border_Top: none;
      }
    }

    &--interactive {
      .#{$block}__header-main {
        cursor: pointer;

        @include fd-hover() {
          --fdCard_Main_Header_Background: var(--sapTile_Hover_Background);
        }

        &:has(.#{$block}__header-main-container.is-active) {
          --fdCard_Main_Header_Background: var(--sapTile_Active_Background);
        }

        &:has(.#{$block}__header-main-container:active) {
          --fdCard_Main_Header_Background: var(--sapTile_Active_Background);
        }
      
      }

      .#{$block}__header-main-container {
        @include fake-card-outline();
      }
    }
  }

  &__header-main {
    @include fd-reset();

    @include fd-flex() {
      gap: 0.5rem
    };

    position: relative;
    padding-inline: 1rem;
    text-decoration: none;
    padding-block: var(--fdCard_Main_Header_Padding_Block_Start) var(--fdCard_Main_Header_Padding_Block_End);
    background: var(--fdCard_Main_Header_Background, var(--sapTile_Background));
    border-radius: var(--fdCard_Main_Header_Border_Radius);
    border-bottom: var(--fdCard_Main_Header_Border_Bottom);
    border-top: var(--fdCard_Main_Header_Border_Top);
  }

  &__header-main-container {
    @include fd-reset();

    @include fd-flex() {
      gap: 0.5rem;
      flex: 1;
      align-items: flex-start;
    };

    width: 100%;
    height: fit-content;
  }

  &__header-main-actions {
    @include fd-reset();

    @include fd-flex(column) {
      gap: 0.25rem;
      align-items: flex-end;
    };

    z-index: 5;
  }

  &__header-extended {
    @include fd-reset();

    @include fd-flex() {
      gap: 0.5rem;
      align-items: center;
    };

    padding-inline: 1rem;
    padding-block: 0.5rem;

    &--top-aligned {
      align-items: flex-start;
    }

    &--bottom-aligned {
      align-items: flex-end;
    }
  }

  &__header-column {
    @include fd-reset();

    @include fd-flex(column) {
      flex: 1;
      gap: 0.25rem;
      align-items: flex-start;
    };

    &--right-aligned {
      align-items: flex-end;
    }
  }

  &__header-row {
    @include fd-reset();

    @include fd-flex() {
      gap: 0.5rem;
    };
  }

  &__header-numeric {
    @include fd-reset();

    @include fd-flex(column) {
      gap: 0.25rem;
    };

    padding-inline: 1rem;
    padding-block: 0.25rem;
  }

  &__indicator {
    @include fd-reset();

    @include fd-flex(column) {
      gap: 0.125rem;
      align-items: flex-end;
    };

    padding-block-start: 0.5rem;
  } 

  &__numeric-container {
    @include fd-reset();

    flex: 1;
  }

  &__indicator-title {
    @include fd-reset();

    color: var(--sapTile_TextColor); 
    font-size: var(--sapFontSmallSize);
  } 

  &__indicator-value {
    @include fd-reset();

    text-align: right;
    color: var(--sapTile_TitleTextColor); 
    font-size: var(--sapFontSmallSize);
  } 

  &__timestamp {
    @include fd-reset();

    @include fd-flex() {
      gap: 0.125rem;
      align-items: center;
    };

    font-size: var(--sapFontSmallSize);
  }

  &__footer {
    @include fd-reset();
    @include fd-flex-vertical-center();

    padding-block: var(--fdCard_Footer_Padding) 1rem;
    padding-inline: 1rem;
    background: var(--fdCard_Footer_Background, var(--sapTile_Background));
    border-radius: var(--fdCard_Footer_Border_Radius);
    border-top: var(--fdCard_Footer_Border_Top);

    &-actions {
      @include fd-reset();

      @include fd-flex() {
        gap: 0.5rem;
        justify-content: flex-end;
      }

      width: 100%;
    }

    .#{$block}__footer-link {
      @include fd-ellipsis();
      @include fd-set-margin-right(var(--fdCard_Footer_Actions_Item_Spacing));

      text-overflow: clip;
    }

    &:is(:first-child) {
      --fdCard_Footer_Border_Radius: var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius) 0 0;
    }
  }

  &__header-text {
    @include fd-reset();

    @include fd-flex(column) {
      align-self: center;
      gap: var(--fdCard_Header_Text_Spacing);
    }

    width: 100%;
    height: 100%;
  }

  &__title-area {
    @include fd-reset();

    @include fd-flex() {
      justify-content: space-between;
      align-items: flex-start;
    }

    width: 100%;
  }

  &__title {
    @include fd-reset();
    @include fd-line-clamp(3);

    font-family: var(--sapFontHeaderFamily);
    font-size: var(--fdCard_Title_Font_Size);
    font-weight: var(--fdCard_Title_Font_Weight);
    color: var(--sapTile_TitleTextColor);
    word-wrap: break-word;
    max-height: 4.2rem;
    max-width: 100%;
  }

  &__subtitle-area {
    @include fd-reset();

    @include fd-flex() {
      align-items: flex-end;
    }
  }

  &__subtitle {
    @include fd-reset();
    @include fd-line-clamp();

    color: var(--sapTile_TextColor);
    word-wrap: break-word;
    max-height: 2.5rem;
    max-width: 100%;
  }

  &__counter.#{$object-status} {
    white-space: nowrap;
    margin-inline-start: 1rem;
    font-size: var(--sapFontSmallSize);
    margin-block-start: var(--fdCard_Counter_Margin);
  }

  &__badge-container {
    @include fd-reset();
    @include fd-set-position-right(0.5rem); 

    @include fd-flex-vertical-center() {
      gap: 0.25rem;
    }

    z-index: 10;
    top: -0.5rem;
    position: absolute;
    min-width: 1.375rem;
    max-width: calc(100% - 1rem);

    & + .#{$block}__header {
      --fdCard_Content_Border_Radius: var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius) 0 0;
      --fdCard_Focus_Outline_Radius: var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius) 0 0;
      --fdCard_Main_Header_Border_Radius: var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius) 0 0;

      &:is(:last-child) {
        --fdCard_Content_Border_Radius: var(--fdCard_Border_Corner_Radius);
        --fdCard_Focus_Outline_Radius: var(--fdCard_Border_Corner_Radius);
      }
    }


    & + .#{$block}__content {
      overflow: hidden;

      --fdCard_Content_Border_Radius: var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius) 0 0;
      --fdCard_Focus_Outline_Radius: var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius) 0 0;

      &:is(:last-child) {
        --fdCard_Content_Border_Radius: var(--fdCard_Border_Corner_Radius);
        --fdCard_Focus_Outline_Radius: var(--fdCard_Border_Corner_Radius);
      }
    }

  }

  &__badge.#{$object-status} {
    --fdObjectStatus_Inverted_Border_Radius: 0.5rem;
    --fdObjectStatus_Inverted_Padding_Block: 0;
    --fdObjectStatus_Inverted_Padding_Inline: 0.25rem;
    --fdObjectStatus_Inverted_Line_Height: 0.875rem;

    span {
      @include fd-ellipsis();
    }
  }

  &__currency {
    @include fd-reset();
    @include fd-flex();

    color: var(--sapTile_TextColor);
    text-overflow: ellipsis;
    margin-inline-start: 0.25rem;
    white-space: nowrap;

    &::before {
      content: '|\00a0';
    }
  }

  &__analytics-area {
    @include fd-reset();
    @include fd-flex();

    margin-top: 0.5rem;
    overflow: hidden;
  }

  &__analytics-container {
    @include fd-reset();
    @include fd-flex();

    white-space: nowrap;
    overflow-x: hidden;
    width: 100%;
    margin-inline-start: 2rem;
  }

  &__analytics {
    @include fd-reset();

    @include fd-flex(column) {
      align-items: flex-end;
      justify-content: flex-end;
    }

    padding-block-end: 0.25rem;
    margin-inline-start: 1rem;
    font-size: var(--sapFontSmallSize);
    overflow: hidden;
    max-width: calc(50% - 1rem);
  }

  &__analytics-text {
    @include fd-reset();

    padding-block-end: 0.25rem;
    color: var(--sapTile_TextColor);
  }

  &__analytics-content {
    @include fd-reset();

    color: var(--sapTile_TitleTextColor);

    @include fd-rtl() {
      direction: ltr;
      text-align: right;
    }
  }

  &__second-subtitle {
    @include fd-reset();
    @include fd-ellipsis();

    font-size: var(--sapFontSmallSize);
    color: var(--sapTile_TextColor);
    margin-top: 0.25rem;
    width: 100%;
  }

  &__numeric-content.#{$numeric-content} {
    flex-shrink: 0;
    width: auto;
  }

  &__content {
    @include fd-reset();
    @include fake-card-outline();

    --fdCard_Focus_Outline_Radius: 0;

    flex: 1 0 auto;
    position: relative;
    border-radius: var(--fdCard_Content_Border_Radius);

    &:is(:first-child) {
      overflow: hidden;

      --fdCard_Content_Border_Radius: var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius) 0 0;
      --fdCard_Focus_Outline_Radius: var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius) 0 0;
    }

    &:is(:last-child) {
      overflow: hidden;

      --fdCard_Content_Border_Radius: 0 0 var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius);
      --fdCard_Focus_Outline_Radius: 0 0 var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius);
    }

    &:is(:only-child) {
      overflow: hidden;

      --fdCard_Content_Border_Radius: var(--fdCard_Border_Corner_Radius);
      --fdCard_Focus_Outline_Radius: var(--fdCard_Border_Corner_Radius);
    }

    &--with-spacing {
      padding-block: 1rem;
      padding-inline: 1rem;
    }
  }

  &__content-container {
    @include fd-reset();

    @include fd-flex(column) {
      gap: 1.75rem;
    };

    &--horizontal {
      gap: 2rem;
      flex-direction: row;
    }
  }

  &__content-section {
    @include fd-reset();

    @include fd-flex(column) {
      gap: 1rem;
    };

    min-width: 12rem;
    max-width: 24rem;
    width: 100%;
  }

  &__content-title-container {
    @include fd-reset();

    padding-block-end: 0.5rem;
  }

  &__content-group {
    @include fd-reset();

    @include fd-flex() {
      gap: 0.5rem;
      align-items: center;
    }
  }

  &__content-group-text {
    @include fd-reset();

    @include fd-flex(column) {
      gap: 0.25rem;
    };
  }

  &--analytical {
    .#{$block}__subtitle-area {
      margin-top: 0.5rem;
    }

    .#{$block}__title {
      @include fd-line-clamp();

      max-height: 2.8rem;
    }
  }

  &--table {
    @include fd-compact-or-condensed() {
      .#{$block}__content {
        padding-block-end: 0.5rem;
      }
    }
  }

  &--object {
    .#{$block}__content {
      padding-block: 1rem;
      padding-inline: 1rem;
    }
  }

  &__loader {
    @include fd-reset();
    @include fd-flex-center();

    min-height: 5rem;
  }

  // MEDIA CARDS
  &__media {
    @include fd-reset();
    @include fd-flex();
  
    flex-direction: var(--fdCard_Media_Flex_Direction, row);
    padding-inline: var(--fdCard_Media_Padding_Inline_Start, 0) var(--fdCard_Media_Padding_Inline_End, 0);
    padding-block: var(--fdCard_Media_Padding_Block_Start, 0) var(--fdCard_Media_Padding_Block_End, 0);
    background-color: var(--fdCard_Media_Background, var(--sapTile_Background));
    border-radius: var(--fdCard_Media_Border_Radius);
    overflow: hidden;
    position: relative;
    height: 100%;

    &.#{$block}__media--with-padding {
      --fdCard_Media_Image_Radius: 0.5rem;
      --fdCard_Media_Padding_Inline_Start: 1rem;
      --fdCard_Media_Padding_Inline_End: 1rem;
      --fdCard_Media_Padding_Block_Start: 1rem;
    }

    @each $set-name, $color-set in $shell-category-colors {
      &.#{$block}__media--bg-shell-#{$set-name} {
        --fdCard_Media_Content_Container_Background: transparent;
        --fdCard_Media_Background: #{map.get($color-set, "background")};
        --fdCard_Media_Heading_Color: #{map.get($color-set, "textColor")};
        --fdCard_Media_Heading_Shadow: #{map.get($color-set, "textShadow")};
        --fdCard_Media_Text_Color: #{map.get($color-set, "textColor")};
      }
    }

    @each $set-name, $color-set in $legend-background-colors {
      &.#{$block}__media--bg-legend-#{$set-name} {
        --fdCard_Media_Content_Container_Background: transparent;
        --fdCard_Media_Heading_Color: var(--sapTextColor);
        --fdCard_Media_Text_Color: var(--sapTextColor);
        --fdCard_Media_Background: #{map.get($color-set, "background")};
        --fdCard_Media_Heading_Shadow: none;
      }
    }

    & + .#{$block}__header {
      --fdCard_Header_Border_Radius: 0;
      --fdCard_Focus_Outline_Radius: 0;
    }

    & + .#{$block}__header:is(:last-child) {
      --fdCard_Header_Border_Radius: 0 0 var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius);
      --fdCard_Focus_Outline_Radius: 0 0 var(--fdCard_Border_Corner_Radius) var(--fdCard_Border_Corner_Radius);
    }

    &:only-child {
      --fdCard_Media_Border_Radius: var(--sapTile_BorderCornerRadius);
    }
  }

  &__media-content-container {
    @include fd-reset();

    @include fd-flex(column) {
      gap: 1rem;
      align-items: flex-start;
      justify-content: center;
    };

    z-index: 3;
    max-height: 100%;
    inset: var(--fdCard_Media_Content_Container_Top, 0) var(--fdCard_Media_Content_Container_Right, 0) var(--fdCard_Media_Content_Container_Right, 0) var(--fdCard_Media_Content_Container_Left, 0);
    transform: var(--fdCard_Media_Content_Container_Transform, none);
    width: var(--fdCard_Media_Content_Container_Width, 100%);
    height: var(--fdCard_Media_Content_Container_Height, 100%);
    position: var(--fdCard_Media_Content_Container_Position, relative);
    padding-inline: var(--fdCard_Media_Content_Container_Padding_Inline, 1rem);
    padding-block: var(--fdCard_Media_Content_Container_Padding_Block, 1rem);
    background: var(--fdCard_Media_Content_Container_Background, var(--sapTile_Background));

    @each $set-name, $color-set in $shell-category-colors {
      &.#{$block}__media-content-container--bg-shell-#{$set-name} {
        --fdCard_Media_Content_Container_Background: #{map.get($color-set, "background")};
        --fdCard_Media_Heading_Color: #{map.get($color-set, "textColor")};
        --fdCard_Media_Heading_Shadow: #{map.get($color-set, "textShadow")};
        --fdCard_Media_Text_Color: #{map.get($color-set, "textColor")};
      }
    }

    @each $set-name, $color-set in $legend-background-colors {
      &.#{$block}__media-content-container--bg-legend-#{$set-name} {
        --fdCard_Media_Heading_Color: var(--sapTextColor);
        --fdCard_Media_Text_Color: var(--sapTextColor);
        --fdCard_Media_Content_Container_Background: #{map.get($color-set, "background")};
        --fdCard_Media_Heading_Shadow: none;
      }
    }
  }

  &__media-image-container {
    @include fd-reset();
    @include fd-flex();

    width: var(--fdCard_Media_Image_Container_Width, 100%);
    height: var(--fdCard_Media_Image_Container_Height, 100%);
  }

  &__media-image {
    flex: 1;
    width: var(--fdCard_Media_Image_Width, 100%);
    height: var(--fdCard_Media_Image_Height, 100%);
    border-radius: var(--fdCard_Media_Image_Radius, 0);
  }

  &__media-heading {
    @include fd-reset();

    font-weight: bold;
    font-size: var(--sapFontHeader3Size);
    font-family: var(--sapFontHeaderFamily);
    color: var(--fdCard_Media_Heading_Color, var(--sapTile_TitleTextColor));
    text-shadow: var(--fdCard_Media_Heading_Shadow, none);
  }

  &__media-text {
    @include fd-reset();

    font-weight: normal;
    font-size: var(--sapFontSize);
    color: var(--fdCard_Media_Text_Color, var(--sapTile_TextColor));
  }

  &--banner {
    --fdCard_Media_Content_Container_Width: 80%;
    --fdCard_Media_Content_Container_Padding_Inline: 3rem;
    --fdCard_Media_Content_Container_Padding_Block: 3rem;

    height: 100%;
    box-shadow: var(--sapContent_Shadow0);
    border-radius: var(--sapTile_BorderCornerRadius);
    border: 0.0625rem solid var(--sapTile_BorderColor);

    @include fd-media-md() {
      --fdCard_Media_Image_Container_Width: 80%;
    }

    @include fd-media-sm() {
      --fdCard_Media_Image_Container_Width: 100%;
    }

    &:has(.#{$block}__media-image-container) {
      --fdCard_Media_Content_Container_Width: 50%;
      --fdCard_Media_Image_Container_Width: 50%;

      @include fd-media-md() {
        --fdCard_Media_Content_Container_Width: 80%;
        --fdCard_Media_Image_Container_Width: 20%;
      }
  
      @include fd-media-sm() {
        --fdCard_Media_Flex_Direction: column-reverse;
        --fdCard_Media_Content_Container_Width: 100%;
        --fdCard_Media_Image_Container_Width: 100%;
      }

      &:has(.#{$block}__media-content-container--overlay) {
        --fdCard_Media_Content_Container_Width: calc(50% - 3rem);
        --fdCard_Media_Image_Container_Width: 100%;
        --fdCard_Media_Content_Container_Top: 50%;
        --fdCard_Media_Content_Container_Left: 3rem;
        --fdCard_Media_Content_Container_Height: fit-content;
        --fdCard_Media_Content_Container_Position: absolute;
        --fdCard_Media_Content_Container_Transform: translateY(-50%);

        @include fd-media-md() {
          --fdCard_Media_Content_Container_Width: calc(80% - 3rem);
          --fdCard_Media_Image_Container_Width: 100%;
        }
    
        @include fd-media-sm() {
          --fdCard_Media_Content_Container_Width: calc(100% - 3rem)%;
          --fdCard_Media_Image_Container_Width: 100%;
          --fdCard_Media_Content_Container_Right: 3rem;
          --fdCard_Media_Content_Container_Padding_Inline: 1rem;
          --fdCard_Media_Content_Container_Padding_Block: 1rem;
        }

      }
    }
  }

  @include fd-compact-or-condensed() {
    --fdCard_Header_Text_Spacing: 0.5rem;
  }

  @include fd-media-sm() {
    --fdCard_Media_Content_Container_Width: 100%;
  }
}
