@import "./new-settings";
@import "./mixins";

/*!
.fd-checkbox
*/
$block: #{$fd-namespace}-checkbox;

%fd-checkbox-input-hidden {
  position: absolute;
  opacity: 0.0001;
}

@mixin applyIndeterminatePadding() {
  $offset: 0.0625rem;

  @include fd-set-padding-left($offset);
}

@mixin fd-checkbox-label() {
  + .#{$block}__label {
    @content;
  }
}

@mixin fd-checkbox-label-before() {
  &:indeterminate + .#{$block}__label::after,
  & + .fd-checkbox__label::before {
    @content;
  }
}

.#{$block} {
  @include fd-form-base(false, false);

  @extend %fd-checkbox-input-hidden;

  &,
  &.is-warning,
  &.is-error,
  &.is-success,
  &.is-information {
    border-style: initial;
  }

  &__label {
    @include fd-form-label();
    @include fd-action-cursor();

    line-height: 1rem;
    padding: var(--fdCheckbox_Padding);
    display: flex;
    align-items: center;

    &::before {
      @include fd-form-radio-icon-base(var(--fdCheckbox_Dimensions)) {
        font-family: "SAP-icons";
        background-color: var(--fdCheckbox_Background_Color);
        border: var(--fdCheckbox_Inner_Border_Width) var(--fdCheckbox_Inner_Border_Style) var(--fdCheckbox_Inner_Border_Color);
        color: var(--fdCheckbox_Check_Mark_Color);
        border-radius: var(--sapField_BorderCornerRadius);
      }
    }

    &::after {
      padding-left: 0.125rem;
      position: relative;
    }

    @include fd-empty() {
      margin: 0;
    }

    @include fd-rtl() {
      &::after {
        padding-left: 0;
        padding-right: 0.125rem;
      }
    }

    @include fd-hover() {
      &::before {
        background-color: var(--fdCheckbox_Hover_Background_Color);

        --fdCheckbox_Inner_Border_Width: var(--fdCheckbox_Inner_Border_Width_Default_Hover);
        --fdCheckbox_Inner_Border_Style: var(--fdCheckbox_Inner_Border_Style_Default_Hover);
        --fdCheckbox_Inner_Border_Color: var(--fdCheckbox_Inner_Border_Color_Default_Hover);
        --fdCheckbox_Check_Mark_Color: var(--fdCheckbox_Check_Mark_Color_Default_Hover);
      }
    }

    &:focus {
      outline: none;
    }

    &--required,
    &[aria-required='true'] {
      .#{$block}__text {
        @include fd-form-radio-checkbox-required-label();
      }
    }

    &--wrap {
      .#{$block}__label-container {
        height: auto;
        white-space: initial;
      }

      .#{$block}__text {
        white-space: initial;
      }
    }
  }

  &__label-container {
    @include fd-reset();
    @include fd-flex-vertical-center();
    @include fd-ellipsis();

    height: 1rem;
    pointer-events: none;
    max-width: inherit;
  }

  &__text {
    @include fd-reset();
    @include fd-ellipsis();
    @include fd-set-margins-x(var(--fdCheckbox_Padding), 0);

    max-width: inherit;
  }

  &:checked + .#{$block}__label::before {
    content: "\e05b" / "";
  }

  &:indeterminate + .#{$block}__label::after {
    content: "";
    width: var(--fdCheckbox_Tristate_Size);
    height: var(--fdCheckbox_Tristate_Size);
    background-color: var(--fdCheckbox_Check_Mark_Color);
    position: absolute;
    margin-left: var(--fdCheckbox_Tristate_Offset);
  }

  @include fd-rtl() {
    &:indeterminate + .#{$block}__label::after {
      margin-left: 0;
      margin-right: var(--fdCheckbox_Tristate_Offset);
    }
  }

  // states
  &.is-warning,
  &.is-alert {
    @include fd-checkbox-label-before() {
      --fdCheckbox_Background_Color: var(--fdCheckbox_Background_Color_Warning);
      --fdCheckbox_Inner_Border_Width: var(--fdCheckbox_Inner_Border_Width_Warning);
      --fdCheckbox_Inner_Border_Style: var(--fdCheckbox_Inner_Border_Style_Warning);
      --fdCheckbox_Inner_Border_Color: var(--fdCheckbox_Inner_Border_Color_Warning);
      --fdCheckbox_Check_Mark_Color: var(--fdCheckbox_Check_Mark_Color_Warning);
      --fdCheckbox_Hover_Background_Color: var(--fdCheckbox_Background_Color_Warning_Hover);
    }
  }

  &.is-error {
    @include fd-checkbox-label-before() {
      --fdCheckbox_Background_Color: var(--fdCheckbox_Background_Color_Error);
      --fdCheckbox_Inner_Border_Width: var(--fdCheckbox_Inner_Border_Width_Error);
      --fdCheckbox_Inner_Border_Style: var(--fdCheckbox_Inner_Border_Style_Error);
      --fdCheckbox_Inner_Border_Color: var(--fdCheckbox_Inner_Border_Color_Error);
      --fdCheckbox_Check_Mark_Color: var(--fdCheckbox_Check_Mark_Color_Error);
      --fdCheckbox_Hover_Background_Color: var(--fdCheckbox_Background_Color_Error_Hover);
    }
  }

  &.is-success {
    @include fd-checkbox-label-before() {
      --fdCheckbox_Background_Color: var(--fdCheckbox_Background_Color_Success);
      --fdCheckbox_Inner_Border_Width: var(--fdCheckbox_Inner_Border_Width_Success);
      --fdCheckbox_Inner_Border_Style: var(--fdCheckbox_Inner_Border_Style_Success);
      --fdCheckbox_Inner_Border_Color: var(--fdCheckbox_Inner_Border_Color_Success);
      --fdCheckbox_Check_Mark_Color: var(--fdCheckbox_Check_Mark_Color_Success);
      --fdCheckbox_Hover_Background_Color: var(--fdCheckbox_Background_Color_Success_Hover);
    }
  }

  &.is-information {
    @include fd-checkbox-label-before() {
      --fdCheckbox_Background_Color: var(--fdCheckbox_Background_Color_Information);
      --fdCheckbox_Inner_Border_Width: var(--fdCheckbox_Inner_Border_Width_Information);
      --fdCheckbox_Inner_Border_Style: var(--fdCheckbox_Inner_Border_Style_Information);
      --fdCheckbox_Inner_Border_Color: var(--fdCheckbox_Inner_Border_Color_Information);
      --fdCheckbox_Check_Mark_Color: var(--fdCheckbox_Check_Mark_Color_Information);
      --fdCheckbox_Hover_Background_Color: var(--fdCheckbox_Background_Color_Information_Hover);
    }
  }

  &[readonly],
  &.is-readonly {
    @include fd-checkbox-label-before() {
      --fdCheckbox_Background_Color: var(--fdCheckbox_Background_Color_ReadOnly);
      --fdCheckbox_Inner_Border_Width: var(--fdCheckbox_Inner_Border_Width_ReadOnly);
      --fdCheckbox_Inner_Border_Style: var(--fdCheckbox_Inner_Border_Style_ReadOnly);
      --fdCheckbox_Inner_Border_Color: var(--fdCheckbox_Inner_Border_Color_ReadOnly);
      --fdCheckbox_Check_Mark_Color: var(--fdCheckbox_Check_Mark_Color_ReadOnly);
    }
  }

  @include fd-focus() {
    @include fd-checkbox-label() {
      @include fd-form-radio-focus(var(--fdCheckbox_Focus_Outline_Offset), var(--fdCheckbox_Padding), var(--fdCheckbox_Outline_Border_Radius));
    }
  }

  @include fd-disabled() {
    opacity: 0.0001;

    @include fd-checkbox-label() {
      pointer-events: none;
      opacity: var(--sapContent_DisabledOpacity);
    }
  }

  @include fd-compact-or-condensed() {
    @include fd-checkbox-label() {
      --fdCheckbox_Dimensions: var(--fdCheckbox_Compact_Dimensions);
      --fdCheckbox_Padding: var(--fdCheckbox_Compact_Padding);
    }

    &:indeterminate {
      @include fd-checkbox-label() {
        --fdCheckbox_Tristate_Size: var(--fdCheckbox_Tristate_Compact_Size);
        --fdCheckbox_Tristate_Offset: var(--fdCheckbox_Tristate_Compact_Offset);
      }
    }

    @include fd-focus() {
      @include fd-checkbox-label() {
        --fdCheckbox_Outline_Border_Radius: var(--fdCheckbox_Compact_Outline_Border_Radius);
      }
    }
  }
}
