@use "sass:map";

@import "./new-settings";
@import "./mixins";
@import "./dialog-placeholders";

$block: #{$fd-namespace}-dialog;
$bar: #{$fd-namespace}-bar;
$button: #{$fd-namespace}-button;
$menu: #{$fd-namespace}-menu;

.#{$block} {
  @include fd-reset();

  @extend %dialog;

  display: none;

  &--active {
    display: flex;
  }

  &__content {
    @include fd-reset();

    @extend %dialog-content;

    @each $size-label, $size in $fd-dialog-content-padding-x {
      &--#{$size-label} {
        .#{$block}__header.#{$bar},
        .#{$block}__subheader.#{$bar},
        .#{$block}__footer.#{$bar},
        .#{$block}__body {
          padding-inline: map.get($fd-dialog-content-padding-x, $size-label) map.get($fd-dialog-content-padding-x, $size-label);
        }
      }
    }

    &--mobile {
      @extend %dialog-mobile;

      .#{$block}__header,
      .#{$block}__body,
      .#{$block}__footer {
        border-radius: 0;
      }

      .#{$menu}__item:first-child,
      .#{$menu}__item:first-child .#{$menu}__link::after,
      .#{$menu}__item:last-child,
      .#{$menu}__item:last-child .#{$menu}__link::after {
        border-radius: 0;
      }
    }

    &--no-mobile-stretch {
      border-radius: $fd-dialog-content-border-radius;
      max-width: calc(100vw - #{$fd-dialog-content-margin-x});
      max-height: calc(100vh - #{$fd-dialog-content-margin-y});
    }

    &--draggable {
      &-grab {
        @include fd-hover() {
          .#{$block}__header {
            cursor: move;
            cursor: grab;
          }
        }
      }

      &-grabbing {
        @include fd-hover() {
          .#{$block}__header {
            cursor: move;
            cursor: grabbing;
          }
        }
      }
    }
  }

  &__header,
  &__subheader,
  &__footer {
    &.#{$bar} {
      @extend %dialog-paddings;
    }
  }

  &__header.#{$bar},
  &__footer.#{$bar} {
    .#{$block}__decisive-button {
      min-width: $fd-dialog-footer-button-min-width;
      justify-content: center;
    }
  }

  &__body {
    @include fd-reset();

    @extend %dialog-body;

    position: relative;
    padding-block: $fd-dialog-body-padding-y $fd-dialog-body-padding-y;
    border-radius: $fd-dialog-content-border-radius;

    &--no-vertical-padding {
      padding-block: 0;
    }

    &--no-horizontal-padding {
      padding-inline: 0;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__loader {
    @include fd-reset();

    text-align: center;
    margin-top: $fd-dialog-loader-margin-y;
    margin-block-end: $fd-dialog-loader-margin-y - $fd-dialog-body-padding-y;
  }

  &__resize-handle {
    @include fd-reset();
    @include fd-square(1rem);

    @include fd-flex() {
      align-items: flex-end;
      justify-content: flex-end;
    }

    @include fd-set-position-right(0);

    bottom: 0;
    font-size: 1rem;
    overflow: hidden;
    margin-block: 0.125rem;
    margin-inline: 0.125rem;
    cursor: se-resize;
    line-height: 1rem;
    position: absolute;
    z-index: 2;

    @include fd-rtl() {
      cursor: sw-resize;
      transform: scaleX(-1);
      justify-content: flex-start;
    }

    @include fd-icon("resize-corner", "after") {
      height: 1rem;
      color: var(--sapButton_Lite_TextColor);
    }
  }

  &--no-backdrop:not(.#{$block}--targeted) {
    @include fd-position-center($position: fixed);

    z-index: 1000;
  }
}
