@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-feed-input;

.#{$block} {
  $fd-feed-input-min-height: 3rem;
  $fd-feed-input-max-height: 20rem;

  @include fd-reset();

  display: flex;
  flex-direction: row;
  padding-block: 1rem;
  padding-inline: 1rem 0.5rem;
  background-color: var(--sapField_Background);

  @include fd-disabled() {
    cursor: not-allowed;
    pointer-events: initial;
    opacity: initial;

    textarea {
      &::placeholder {
        font-style: var(--fdFeed_Input_Placeholder_Font_Style);
        color: var(--sapTextColor, #32363a);
      }
    }
  }

  .#{$block}__thumb {
    display: none;
    flex: 1 0 auto;
    margin-inline: 0 0.5rem;
  }

  .#{$block}__textarea {
    min-height: $fd-feed-input-min-height;
    max-height: $fd-feed-input-max-height;
    margin: 0;
    padding: 0.3125rem 0.5rem;
  }

  // It's needed to have stronger selector to override fd-button styles
  .#{$block}__submit-button {
    margin-block: auto 0.375rem;
    margin-inline: 0.5rem 0;

    @include fd-rtl() {
      transform: rotate(180deg);
    }
  }

  @media (width >= 25rem) {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .#{$block}__thumb {
      display: inline-flex;
    }
  }
}
