@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-feed-input;

.#{$block} {
  @include fd-reset();

  height: 100%;
  container-name: feed-input;
  container-type: inline-size;

  





  @include fd-disabled() {
    cursor: not-allowed;
    pointer-events: initial;
    opacity: initial;

    textarea {
      &::placeholder {
        font-style: var(--fdFeed_Input_Placeholder_Font_Style);
        color: var(--sapTextColor, #32363a);
      }
    }
  }

  .#{$block}__container {
    @include fd-reset();
    @include fd-flex() {
      gap: 0.5rem;
    };

    margin-block: 1rem;
    padding-block: 1rem;
    padding-inline: 1rem 0.5rem;
    background-color: var(--sapGroup_ContentBackground);
  }

  .#{$block}__textarea {
    min-height: 3rem;
    max-height: 20rem;
    margin-inline: 0;
    margin-block: 0;
    padding-block: 0.375rem;
    padding-inline: 0.5rem;
  }

  // It's needed to have stronger selector to override fd-button styles
  .#{$block}__submit-button {
    margin-block: 0.375rem;
    align-self: flex-end;

    @include fd-rtl() {
      transform: rotate(180deg);
    }

    @include fd-compact-or-condensed() {
      --fdButton_Compact_Height: var(--sapElement_Height);
      --fdButton_Clickable_Height: 2.75rem;
      --fdButton_Padding_X: 0.625rem;
      --fdButton_Min_Width: 2.25rem;
      --fdButton_Badge_Margin_Inline_Start: 0;
      --fdButton_Badge_Size_Attention: 0.75rem;
    }
  }

  @container feed-input (max-width: 20rem) {
    .#{$block}__container {
      margin-block: 0;
    }
    
  
    .#{$block}__thumb {
      display: none;
    }
  }
}

