@import "./mixins";
@import "./new-settings";

$block: #{$fd-namespace}-file-uploader;
$input: #{$fd-namespace}-input;

$fd-file-uploader-padding: 0.25rem;

.#{$block} {
  @include fd-reset();
  @include fd-flex-vertical-center();

  &__input.#{$input} {
    width: auto;
    margin-right: $fd-file-uploader-padding;
    background-color: var(--sapField_Background);
    user-select: none;
    cursor: pointer;
    color: transparent;
    text-shadow: 0 0 0 var(--sapTextColor);

    &::placeholder {
      color: var(--sapTextColor);
    }

    @include fd-rtl() {
      margin-left: $fd-file-uploader-padding;
      margin-right: 0;
    }
  }

  &__hidden {
    display: none;
  }
}
