@use "sass:map";

@import "./mixins";
@import "./layout-grid";

$block: #{$fd-namespace}-form-layout-grid;
$formContainer: #{$block}-container;
$formGroup: #{$fd-namespace}-form-group;
$formItem: #{$fd-namespace}-form-item;
$gridContainer: #{$fd-namespace}-container;
$gridRow: #{$fd-namespace}-row;
$gridCol: #{$fd-namespace}-col;

@mixin fd-form-vertical($verticalSelector, $marginTop: 0.625rem) {
  .#{$gridContainer}.#{$formContainer}.#{$verticalSelector} {
    &.#{$formGroup},
    .#{$formGroup} {
      .#{$formItem} {
        margin-top: 0.625rem;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}

@mixin fd-form-col-paddings($colSelector) {
  $cols: 12;

  .#{$gridContainer}.#{$formContainer} .#{$gridRow} {
    @for $col from 1 through $cols - 1 {
      .#{$colSelector}--#{$col} {
        > .#{$fd-namespace}-form-label {
          float: right;
          text-align: right;
          padding-block-end: 0;
          width: 100%;

          @include fd-rtl() {
            float: left;
            text-align: left;
          }
        }
      }
    }

    .#{$colSelector},
    .#{$colSelector}--12 {
      > .#{$fd-namespace}-form-label {
        float: left;
        text-align: start;
        width: auto;
        padding-block-end: 0.125rem;

        @include fd-rtl() {
          float: right;
        }
      }
    }
  }
}

.#{$gridContainer}.#{$formContainer} {
  &.#{$formGroup},
  .#{$formGroup} {
    padding-block: 1rem !important;
    padding-inline: 1rem !important;

    .#{$formGroup} {
      padding-block: 0 !important;
      padding-inline: 0 !important;
    }

    .#{$formItem} {

      .#{$fd-namespace}-form-label {
        margin-inline-end: 0;
        white-space: initial;

        &--colon {
          padding-inline-end: 0.25rem;
        }

        &--required {
          padding-inline-end: 0.5rem;
          
          &.#{$fd-namespace}-form-label--colon{
            padding-inline-end: 0.75rem;
          }
        }
      }
    }
  }

  .#{$gridRow} {
    flex-direction: row;

    .#{$gridCol} {
      @include fd-ellipsis();

      padding-block: 0;

      &:not(.#{$formGroup}) {
        align-self: center;
      }
    }
  }
}

@media (width >= 0) {
  @include fd-form-vertical(#{$formContainer}--vertical);
  @include fd-form-col-paddings('fd-col');
}

@media (width >= 0) and (width <= 599px) {
  @include fd-form-vertical(#{$formContainer});
}

@media (width >= 600px) {
  .#{$gridContainer}.#{$formContainer} {
    $gutter: 0.25rem;

    padding-block: 0;
    padding-inline: $gutter;

    .#{$gridRow} {
      margin-block: 0;
      margin-inline: -#{$gutter};
      min-width: calc(100% + #{$gutter} * 2);

      .#{$gridCol} {
        padding-block: 0;
        padding-inline: $gutter;
      }
    }
  }

  @include fd-form-col-paddings('fd-col-md');
}

@media (width >= 600px) and (width <= 1023px) {
  @include fd-form-vertical(#{$formContainer}--md-vertical);
}

@media (width >= 1024px) {
  @include fd-form-col-paddings('fd-col-lg');
}

@media (width >= 1024px) and (width <= 1443px) {
  @include fd-form-vertical(#{$formContainer}--lg-vertical);
}

@media (width >= 1440px) {
  @include fd-form-vertical(#{$formContainer}--xl-vertical);
  @include fd-form-col-paddings('fd-col-xl');
}
