@use "sass:map";

@import './new-settings';
@import './mixins';

$block: #{$fd-namespace}-form-label;

.#{$block} {
  @include fd-form-label();

  &.is-disabled {
    opacity: 0.4;
  }

  &--unit-description {
    color: var(--sapField_TextColor);
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0.25rem 0;
  }

  &--required,
  &[aria-required='true'] {
    padding-inline-end: 0.5rem;

    &::after {
      content: '*';
      font-size: var(--sapFontLargeSize);
      font-weight: bold;
      color: var(--sapField_RequiredColor);
      position: absolute;
      right: 0;
      top: 0;
    }

    @include fd-rtl() {
      &::after {
        right: auto;
        left: 0;
      }
    }
  }

  &--colon {
    padding-inline-end: 0.25rem;

    &::before {
      content: ':';
      font-size: var(--sapFontSize);
      color: inherit;
      position: absolute;
      right: 0;
      top: 0;
    }

    @include fd-rtl() {
      &::before {
        right: auto;
        left: 0;
      }
    }

    &.#{$block}--required,
    &[aria-required='true'] {
      padding-inline-end: 0.75rem;

      &::before {
        right: 0.5rem;
      }

      @include fd-rtl() {
        &::before {
          right: auto;
          left: 0.5rem;
        }
      }
    }
  }

  &--inline-help {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--stand-alone {
    align-self: center;
    margin-inline-end: 0;
  }
}
