@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-form-message;
$form-message-states: (
  "error": (
    "color": var(--sapErrorBackground),
    "icon": "\e1ec",
    "iconColor": var(--sapNegativeElementColor)
  ),
  "warning": (
    "color": var(--sapWarningBackground),
    "icon": "\e053",
    "iconColor": var(--sapCriticalElementColor)
  ),
  "success": (
    "color": var(--sapSuccessBackground),
    "icon": "\e1c1",
    "iconColor": var(--sapPositiveElementColor)
  ),
  "information": (
    "color": var(--sapInformationBackground),
    "icon": "\e289",
    "iconColor": var(--sapInformativeElementColor)
  ),
);

.#{$block} {
  @include fd-reset();
  @include fd-ellipsis();
  @include fd-flex-vertical-center();

  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  min-width: 6rem;
  max-width: 22rem;
  width: 100%;
  font-size: var(--sapFontSmallSize);
  font-weight: normal;
  line-height: 1.125rem;;
  color: var(--sapTextColor);
  white-space: pre-line !important;
  box-shadow: var(--fdMessage_Box_Shadow);
  border: var(--fdMessage_Border);
  border-radius: var(--fdMessage_Border_Radius) !important;

  @include fd-rtl() {
    right: 0;
  }

  &::before {
    display: var(--fdMessage_Icon_Display);
    align-self: flex-start;
    margin-inline-end: 0.375rem;
    font-family: SAP-icons;
    font-size: 1rem;
  }

  &--static {
    width: auto;
  }

  &--embedded {
    box-shadow: none;
    max-width: 100%;
  }

  @each $set-name, $state-set in $form-message-states {
    &--#{$set-name} {
      background-color: map.get($state-set, "color");

      &::before {
        content: map.get($state-set, "icon");
        color: map.get($state-set, "iconColor");
      }
    }
  }
}
