@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-form-item;

.#{$block} {
  @include fd-reset();

  position: relative;
  display: flex;
  align-content: center;
  flex-direction: column;

  &--horizontal {
    flex-direction: row;
    align-items: center;

    .#{$fd-namespace}-form-label {
      padding-bottom: 0;
      margin-block: auto;
      margin-inline: 0 0.5rem;
    }

    .#{$fd-namespace}-input {
      flex: 1;
    }
  }

  .#{$fd-namespace}-form-message:not(:first-child) {
    margin-top: -0.25rem;
  }
}
