@import './new-settings';
@import './mixins';

/*!
.fd-grid-list
*/
$block: #{$fd-namespace}-grid-list;
$block-item: #{$block}__item;

$fd-grid-list-selection-border-color: var(--sapList_SelectionBorderColor);
$fd-grid-list-border-radius: var(--fdGrid_List_Item_Border_Radius);
$fd-grid-list-active-text-color: var(--sapList_Active_TextColor);
$fd-grid-list-item-box-shadow: var(--sapContent_Shadow0);
$fd-grid-list-item-active-background-color: var(--sapList_Active_Background);
$fd-grid-list-item-hover-background-color: var(--sapList_Hover_Background);

$fd-grid-list-highlight: (
  'positive': ('backgroundColor': var(--sapSuccessBorderColor)),
  'negative': ('backgroundColor': var(--sapErrorBorderColor)),
  'critical': ('backgroundColor': var(--sapWarningBorderColor)),
  'neutral': ('backgroundColor': var(--sapNeutralBorderColor))
);

@mixin fd-grid-list-item-interactive($setActive) {
  @include fd-hover() {
    box-shadow: 0 0 0 0.0625rem var(--fdGrid_List_Item_Hover_Border_Color);
    background-color: $fd-grid-list-item-hover-background-color;
  }

  @if $setActive {
    @include fd-active() {
      &:not([aria-selected="true"], .is-selected) {
        background-color: $fd-grid-list-item-active-background-color;

        * {
          color: $fd-grid-list-active-text-color !important;
          text-shadow: none !important;
        }
      }
    }
  }

  @include fd-selected() {
    box-shadow: 0 0 0 0.125rem $fd-grid-list-selection-border-color;
    background-color: var(--sapList_SelectionBackgroundColor);

    @include fd-hover() {
      background-color: var(--sapList_Hover_SelectionBackground);
    }
  }
}

@mixin fd-grid-list-select-input($type) {
  .#{$block}__#{$type}-input {
    height: 1rem;
    width: 1rem;

    + .#{$block}__#{$type}-label {
      @include fd-empty() {
        align-self: center;
      }
    }
  }
}

.#{$block} {
  @include fd-reset();
  @include fd-grid-list-select-input(radio);
  @include fd-grid-list-select-input(checkbox);

  .#{$block-item} {
    @include fd-reset();
    @include fd-flex(column);

    color: var(--sapList_TextColor);
    background-color: var(--sapList_Background);
    border-radius: $fd-grid-list-border-radius;
    box-shadow: $fd-grid-list-item-box-shadow;
    height: 100%;
    position: relative;
    overflow: hidden;
    outline: none;

    @include fd-focus() {
      &::before {
        pointer-events: none;
        position: absolute;
        display: block;
        content: '';
        inset: var(--fdGrid_List_Item_Focus_Outline_Offset);
        box-shadow: var(--fdGrid_List_Item_Focus_Box_Shadow);
        border: var(--fdGrid_List_Item_Focus_Border);
        border-radius: $fd-grid-list-border-radius;
        z-index: 1;
      }
    }

    &--height-auto {
      height: auto;
    }

    &--unread {
      .#{$block-item}-body * {
        font-weight: bold;
      }
    }

    // Link modifier also applies to the items that can be clicked, even without a link
    &--link {
      @include fd-grid-list-item-interactive(true);

      cursor: pointer;

      @include fd-navigated() {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 0.1875rem;
          display: block;
          border-radius: 0 $fd-grid-list-border-radius $fd-grid-list-border-radius 0;
          background-color: $fd-grid-list-selection-border-color;
        }
      }

      @include fd-selected() {
        &::before {
          border-color: var(--sapList_SelectionBackgroundColor);
        }
      }
    }

    &-toolbar {
      @include fd-flex-vertical-center();

      flex-shrink: 0;
      padding: 0 1rem;
      border: none;
      box-shadow: var(--fdGrid_List_Item_Toolbar_Shadow);
    }

    &-body {
      @include fd-reset();
      @include fd-flex();

      height: 100%;
      padding: 1rem;
      word-break: break-word;
      flex-wrap: wrap;

      &--no-padding {
        padding: 0;
      }

      &-actions {
        @include fd-reset();

        flex-basis: 100%;
        margin-top: 1rem;
        order: 1;
      }
    }

    &-header {
      @include fd-reset();
      @include fd-flex(column);

      flex: 0 0 100%;

      + .#{$block-item}-content {
        padding-top: 1rem;
      }
    }

    &-image {
      @include fd-set-margin-right(0.75rem);

      + .#{$block-item}-header,
      + .#{$block-item}-content {
        // 3rem for xs avatar, 0.75rem for margin
        max-width: calc(100% - 3rem - 0.75rem);
      }
    }

    &-title {
      @include fd-reset();

      white-space: normal;
      font-size: var(--sapFontLargeSize);
      color: var(--sapList_TextColor);
      margin-top: 0.125rem;
    }

    &-subtitle {
      @include fd-reset();

      display: inline-block;
      color: var(--sapContent_LabelColor);
      margin-top: 0.5rem;
      margin-bottom: 0.125rem;
    }

    &-content {
      @include fd-reset();

      color: var(--sapList_TextColor);
      width: 100%;
    }

    &-counter {
      color: var(--sapContent_MarkerTextColor);
    }

    .#{$block-item}-navigation-indicator {
      @include fd-flex-center();
      @include fd-set-margin-right(-1rem);

      margin-left: 0;
      width: 2.5rem;
      color: var(--sapContent_NonInteractiveIconColor);

      @include fd-rtl() {
        margin-right: 0;
        transform: rotate(180deg);
      }
    }
  }

  &__group-header {
    @include fd-reset();
    @include fd-flex-vertical-center();
    @include fd-ellipsis();
    @include fd-fiori-focus();

    height: 2rem;
    margin-top: 0.75rem;
    color: var(--sapList_GroupHeaderTextColo);
    font-size: var(--sapFontHeader5Size);
    font-weight: bold;
    line-height: 2rem;

    &--no-margin {
      margin-top: 0;
    }
  }

  &__more {
    @include fd-reset();
    @include fd-fiori-focus();

    cursor: pointer;
    padding: 0.813rem;
    background-color: var(--sapGroup_ContentBackground);
    border-radius: $fd-grid-list-border-radius;
    box-shadow: $fd-grid-list-item-box-shadow;
    text-align: center;

    &-title {
      @include fd-reset();

      font-weight: bold;
    }

    &-description {
      @include fd-reset();

      margin: 0.813rem 0 0;
    }

    &-title,
    &-description {
      color: var(--sapLink_Visited_Color);
    }

    @include fd-hover() {
      background-color: $fd-grid-list-item-hover-background-color;
    }

    @include fd-active() {
      background-color: $fd-grid-list-item-active-background-color;

      &-title,
      &-description {
        color: $fd-grid-list-active-text-color;
      }
    }
  }

  &__footer {
    @include fd-reset();
    @include fd-fiori-focus(0);

    font-size: var(--sapFontSize);
    font-family: var(--sapFontFamily);
    color: var(--sapList_FooterTextColor);
  }

  &__highlight {
    @include fd-reset();

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0.375rem;
    display: block;
    border-radius: $fd-grid-list-border-radius 0 0 $fd-grid-list-border-radius;

    @include fd-rtl() {
      right: 0;
    }

    @each $set-name, $colors in $fd-grid-list-highlight {
      &--#{$set-name} {
        background-color: map_get($colors, 'backgroundColor');
      }
    }
  }

  &--mode {
    &-single-select-right,
    &-single-select-left,
    &-multi-select {
      .#{$block-item} {
        .#{$block}__checkbox-label,
        .#{$block}__radio-label {
          @include fd-flex();

          color: var(--sapContent_LabelColor);

          @include fd-empty() {
            @include fd-set-margin-left(-0.5rem);
          }
        }
      }
    }

    &-single-select {
      .#{$block-item} {
        @include fd-grid-list-item-interactive(false);

        cursor: pointer;

        .#{$block}__radio-input {
          width: 100%;
          height: 100%;
          z-index: -1;
        }

        .#{$block}__radio-label {
          display: none;
        }

        @include fd-selected() {
          &::before {
            border-color: var(--sapList_SelectionBackgroundColor);
          }
        }
      }
    }

    &-single-select-right .#{$block-item} {
      .#{$block}__radio-input {
        right: 1rem;
      }

      .#{$block}__radio-label {
        order: 1;

        @include fd-empty() {
          @include fd-set-margins-x(0.5rem, -0.5rem);
        }
      }
    }
  }
}
