@use "sass:map";

@import "./mixins";

$block: sap-icon;
$blockBusiness: sap-icon-businessSuiteInAppSymbols;
$blockTNT: sap-icon-TNT;

[class*="#{$block}"] {
  @include fd-reset();
  @include fd-icon-base();
  @include fd-icon-control-enumeration($block);

  line-height: 1;
  font-size: var(--fdIcon_Font_Size, 1rem);
  font-style: normal;
  display: inline-flex;
  color: var(--fdIcon_Color, inherit);
  background-color: var(--fdIcon_Background_Color, transparent);

  @include fd-fiori-focus(0);
}

[class*='#{$blockBusiness}'] {
  @include fd-business-suite-icon-base();
  @include fd-icon-control-enumeration($blockBusiness);
}

[class*='#{$blockTNT}'] {
  @include fd-tnt-icon-base();
  @include fd-icon-control-enumeration($blockTNT);
}

.#{$block} {
  @each $key, $value in $fd-icons {
    &--#{$key} {
      @include fd-icon-glyph($key);
    }
  }
}

.#{$blockBusiness} {
  @each $key, $value in $fd-business-suite-icons {
    &--#{$key} {
      @include fd-business-suite-icon-glyph($key);
    }
  }
}

.#{$blockTNT} {
  @each $key, $value in $fd-tnt-icons {
    &--#{$key} {
      @include fd-tnt-icon-glyph($key);
    }
  }
}
