@use "sass:map";

@import './new-settings';
@import 'mixins/mixins';

$block: #{$fd-namespace}-illustrated-message;

.#{$block} {
  // Block
  --illustratedMessagePadding: 1rem;

  // Actions
  --actionsMarginBlockStart: 0.5rem;

  // Illustration
  --illustrationMaxWidth: 20rem;
  --illustrationMaxHeight: 15rem;
  --illustrationMarginBlock: 1rem;
  --illustrationDisplay: flex;

  // Figcaption
  --figcaptionMaxWidth: 20rem;

  // Title
  --titleFontSize: 2rem;
  --titleMarginBottom: 1rem;
  
  // Text
  --textFontSize: var(--sapFontLargeSize);

  @mixin fd-illustarted-messages-medium() {
    // Illustration
    --illustrationMaxWidth: 10rem;
    --illustrationMaxHeight: 10rem;
    --illustrationMarginBlock: 0.5rem;

    // Title
    --titleFontSize: 1.5rem;
    --titleMarginBottom: 0.5rem;

    // Text
    --textFontSize: var(--sapFontSize);

    // Figcaption
    --figcaptionMaxWidth: 19.938rem;

    // Actions
    --actionsMarginBlockStart: 0.5rem;
  }

  @mixin fd-illustarted-messages-small() {
    // Block
    --illustratedMessagePadding: 0.5rem;

    // Illustration
    --illustrationMaxWidth: 8rem;
    --illustrationMaxHeight: 8rem;
    --illustrationMarginBlock: 0.5rem;

    // Title
    --titleMarginBottom: 0.5rem;
    --titleFontSize: 1.25rem;

    // Text
    --textFontSize: var(--sapFontSize);

    // Figcaption
    --figcaptionMaxWidth: 10.938rem;

    // Actions
    --actionsMarginBlockStart: 0.5rem;
  }

  @mixin fd-illustarted-messages-xsmall() {
    // Block
    --illustratedMessagePadding: 0.25rem;

    // Illustration
    --illustrationMaxWidth: 2.8125rem;
    --illustrationMaxHeight: 2.8125rem;
    --illustrationMarginBlock: 0.25rem;

    // Figcaption
    --figcaptionMaxWidth: 8.438rem;

    // Title
    --titleMarginBottom: 0.25rem;
    --titleFontSize: 1rem;

    // Text
    --textFontSize: var(--sapFontSize);

    // Actions
    --actionsMarginBlockStart: 0.25rem;
  }

  @mixin fd-illustarted-messages-base() {
    // Block
    --illustratedMessagePadding: 0.25rem;
    
    // Illustration
    --illustrationDisplay: none;
    
    // Figcaption
    --figcaptionMaxWidth: 8.375rem;

    // Title
    --titleMarginBottom: 0.25rem;
    --titleFontSize: 1rem;

    // Text
    --textFontSize: var(--sapFontSize);

    // Actions
    --actionsMarginBlockStart: 0.25rem;
  }

  @include fd-reset();

  @include fd-flex(column) {
    align-items: center;
  }

  width: 100%;
  text-align: center;
  padding-block: var(--illustratedMessagePadding);
  padding-inline: var(--illustratedMessagePadding);

  &-responsive-container {
    @include fd-reset();
    @include fd-flex-center();

    width: 100%;
    min-height: 100%;
    height: 100%;
    container-type: inline-size;   
  }

  &__container {
    @include fd-reset();

    @include fd-flex() {
      flex-direction: column;
      align-items: var(--containerFlexAlignment, center);
    };
  }

  &__illustration {
    @include fd-reset();

    display: var(--illustrationDisplay);
    width: var(--illustrationMaxWidth);
    height: var(--illustrationMaxHeight);
    max-width: var(--illustrationMaxWidth);
    max-height: var(--illustrationMaxHeight);
    margin-block-end: var(--illustrationMarginBlock);
  }

  &__figcaption {
    @include fd-reset();

    @include fd-flex(column) {
      align-items: center;
    }

    overflow: hidden;
    max-width: var(--figcaptionMaxWidth);
  }

  &__title {
    @include fd-reset();

    width: 100%;
    text-align: center;
    font-size: var(--titleFontSize);
    color: var(--sapGroup_TitleTextColor);
    font-family: var(--sapFontBoldFamily);
    margin-block-end: var(--titleMarginBottom);
  }

  &__text {
    @include fd-reset();

    text-wrap: wrap;
    text-align: center;
    font-size: var(--textFontSize);
  }

  &__actions {
    @include fd-reset();

    @include fd-flex-center() {
      gap: 0.5rem;
    }

    margin-block-start: var(--actionsMarginBlockStart);
  }

  &--dialog,
  &--medium {
    @include fd-illustarted-messages-medium();
  }

  &--spot,
  &--small {
    @include fd-illustarted-messages-small();
  }

  &--dot,
  &--xsmall {
    @include fd-illustarted-messages-xsmall();
  }

  &--base {
    @include fd-illustarted-messages-base();
  }
  
  // Large (L): Width >= 22rem (352px)
  // Default state - no container query needed
  
  // Medium (M): Width 21.938rem (351px) to < 22rem (352px)
  @container (width < 22rem) {
    @include fd-illustarted-messages-medium();
  }

  // Small (S): Width 11.938rem (191px) to 21.875rem (350px)
  @container (width < 21.938rem) {
    @include fd-illustarted-messages-small();
  }

  // Extra Small (XS): Width 8.938rem (143px) to 11.875rem (190px)
  @container (width < 11.938rem) {
    @include fd-illustarted-messages-xsmall();
  }
  
  // Base (No Illustration): Width < 8.938rem (143px)
  @container (width < 8.938rem) {
    @include fd-illustarted-messages-base();
  }
}
