@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-input;

.#{$block} {
  @include fd-input-field-base();
  @include fd-reset-webkit-input-buttons();

  &[aria-expanded="false"] {
    z-index: 0;
  }

  @include fd-expanded() {
    z-index: 4;
  }

  @include fd-compact-or-condensed() {
    @include fd-input-field-base-compact();
  }

  &--no-number-spinner {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin-block: 0;
      margin-inline: 0;
    }

    appearance: textfield;
  }

  &.right-align {
    text-align: right;
  }

  &__sr-only {
    @include fd-screen-reader-only();
  }

  @include fd-input-field-states();
}
