@use "sass:map";

@import './new-settings';
@import './mixins';

$block: #{$fd-namespace}-link;

.#{$block} {
  @include fd-reset();
  @include fd-link();

  text-underline-offset: 0.125rem;
  line-height: var(--fdLink_Line_Height, 1.125rem);

  @include fd-icon-selector() {
    color: var(--sapLinkColor);
    line-height: 1;

    @include fd-inline-flex-center();

    &:first-child {
      @include fd-set-margin-right(var(--fdLink_Icon_Spacing, 0));
    }

    &:last-child {
      @include fd-set-margin-left(var(--fdLink_Icon_Spacing, 0));
    }
  }

  @include fd-hover() {
    @include fd-icon-selector() {
      text-decoration: var(--fdLink_Text_Decoration_Hover);
      color: var(--sapLink_Hover_Color);
    }
  }

  @include fd-focus() {
    @include fd-icon-selector() {
      text-decoration: var(--fdLink_Text_Decoration_Focus);
      color: var(--fdLink_Text_Focus_Color);
    }
  }

  @include fd-active() {
    @include fd-icon-selector() {
      text-decoration: var(--fdLink_Text_Decoration_Active);
      color: var(--sapLink_Active_Color);
    }
  }

  &:visited:not(:focus) {
    @include fd-icon-selector() {
      color: var(--sapLink_Visited_Color);
    }
  }
}
