@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-margin;

.#{$block} {
  $fd-margin-tiny: 0.5rem;
  $fd-margin-small: 1rem;
  $fd-margin-medium: 2rem;
  $fd-margin-large: 3rem;
  $fd-margin-negative-tiny: -0.5rem;
  $fd-margin-negative-small: -1rem;
  $fd-margin-negative-medium: -2rem;
  $fd-margin-negative-large: -3rem;
  $fd-margin-responsive-vertical: 1rem;
  $fd-margin-responsive-medium: 1rem;
  $fd-margin-responsive-large: 2rem;
  $fd-margin-responsive-extra-large: 3rem;

  // margin
  &--tiny {
    margin: $fd-margin-tiny !important;
  }

  &--sm {
    margin: $fd-margin-small !important;
  }

  &--md {
    margin: $fd-margin-medium !important;
  }

  &--lg {
    margin: $fd-margin-large !important;
  }

  &--none {
    margin: 0 !important;
  }

  // margin top
  &-top {
    &--tiny {
      margin-block-start: $fd-margin-tiny !important;
    }

    &--sm {
      margin-block-start: $fd-margin-small !important;
    }

    &--md {
      margin-block-start: $fd-margin-medium !important;
    }

    &--lg {
      margin-block-start: $fd-margin-large !important;
    }

    &--none {
      margin-block-start: 0 !important;
    }
  }

  // margin end
  &-end {
    &--tiny {
      margin-inline-end: $fd-margin-tiny !important;
    }

    &--sm {
      margin-inline-end: $fd-margin-small !important;
    }

    &--md {
      margin-inline-end: $fd-margin-medium !important;
    }

    &--lg {
      margin-inline-end: $fd-margin-large !important;
    }

    &--none {
      margin-inline-end: 0;
    }
  }

  // margin bottom
  &-bottom {
    &--tiny {
      margin-block-end: $fd-margin-tiny !important;
    }

    &--sm {
      margin-block-end: $fd-margin-small !important;
    }

    &--md {
      margin-block-end: $fd-margin-medium !important;
    }

    &--lg {
      margin-block-end: $fd-margin-large !important;
    }

    &--none {
      margin-block-end: 0 !important;
    }
  }

  // margin begin
  &-begin {
    &--tiny {
      margin-inline-start: $fd-margin-tiny !important;
    }

    &--sm {
      margin-inline-start: $fd-margin-small !important;
    }

    &--md {
      margin-inline-start: $fd-margin-medium !important;
    }

    &--lg {
      margin-inline-start: $fd-margin-large !important;
    }

    &--none {
      margin-inline-start: 0;
    }
  }

  // double-sided top bottom margin
  &-top-bottom {
    &--tiny {
      margin-block: $fd-margin-tiny $fd-margin-tiny !important;
    }

    &--sm {
      margin-block: $fd-margin-small $fd-margin-small !important;
    }

    &--md {
      margin-block: $fd-margin-medium $fd-margin-medium !important;
    }

    &--lg {
      margin-block: $fd-margin-large $fd-margin-large !important;
    }
  }

  // double-sided begin end margin
  &-begin-end {
    &--tiny {
      margin-inline: $fd-margin-tiny $fd-margin-tiny !important;
    }

    &--sm {
      margin-inline: $fd-margin-small $fd-margin-small !important;
    }

    &--md {
      margin-inline: $fd-margin-medium $fd-margin-medium !important;
    }

    &--lg {
      margin-inline: $fd-margin-large $fd-margin-large !important;
    }
  }

  // responsive margin
  &-responsive {
    &--sm {
      margin-block: 0 $fd-margin-responsive-vertical;
      margin-inline: 0;
    }

    &--md {
      margin: $fd-margin-responsive-medium !important;
    }

    &--lg {
      margin-block: $fd-margin-responsive-vertical !important;
      margin-inline: $fd-margin-responsive-large !important;
    }

    &--xl {
      margin-block: $fd-margin-responsive-vertical !important;
      margin-inline: $fd-margin-responsive-extra-large !important;
    }
  }

  // negative margins
  &-negative-begin-end {
    &--tiny {
      margin: 0 $fd-margin-negative-tiny !important;
    }

    &--sm {
      margin: 0 $fd-margin-negative-small !important;
    }

    &--md {
      margin: 0 $fd-margin-negative-medium !important;
    }

    &--lg {
      margin: 0 $fd-margin-negative-large !important;
    }
  }
}
