@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-menu;

.#{$fd-namespace}-dialog__body {
  --fdButton_Menu_Border_Radius: 0;
}

.#{$block} {
  // Menu
  $fd-menu-border-radius: var(--fdButton_Menu_Border_Radius) !default;

  // Menu Item
  $fd-menu-item-color-active: var(--sapList_Active_TextColor) !default;

  // Menu Shortcut
  $fd-menu-shortcut-padding-left: 1rem !default;

  // Menu Link
  $fd-menu-link-padding-top: 0.25rem !default;
  $fd-menu-link-padding-left: -0.25rem !default;

  --fdMenu_Icon_Width: 2.25rem;
  --fdMenu_Icon_Before_Margin: 0 0 0 -0.75rem;
  --fdMenu_Icon_After_Margin: 0 -1rem 0 0;

  // Menu Title
  $fd-menu-title-font-family: var(--sapFontFamily) !default;

  // Menu Icon
  $fd-menu-icon-color: var(--sapContent_NonInteractiveIconColor) !default;

  @mixin selected-menu-item() {
    border-bottom: 0.0625rem solid var(--sapList_SelectionBorderColor);
    background-color: var(--sapList_SelectionBackgroundColor);

    .#{$block}__shortcut,
    .#{$block}__addon-before,
    .#{$block}__addon-after {
      color: $fd-menu-icon-color;
    }

    @include fd-hover() {
      &:not(:active):not(.is-active) {
        background-color: var(--sapList_Hover_SelectionBackground);
      }
    }

    @include fd-focus() {
      &::after {
        bottom: 0.125rem;
      }
    }
  }

  // BLOCK BASE *******************************************
  @include fd-reset();

  width: fit-content;
  max-width: 20rem;

  &__list,
  &__sublist {
    @include fd-reset();

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    box-shadow: var(--sapContent_Shadow1);
    border-radius: $fd-menu-border-radius;

    &--no-shadow {
      box-shadow: none;
    }
  }

  &__sublist {
    @include fd-reset();

    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
    margin: $fd-menu-link-padding-top 0 0 $fd-menu-link-padding-left;
    min-width: 100%;

    @include fd-rtl() {
      right: 100%;
      left: initial;
      margin: $fd-menu-link-padding-top $fd-menu-link-padding-left 0 0;
    }

    &[aria-hidden='true'] {
      display: none;
    }
  }

  &__list > .#{$block}__item {
    width: 100%;
    position: relative;
  }

  &__list--overflow {
    overflow-y: scroll;
    flex-wrap: nowrap;

    @include fd-scrollbar(var(--fdScrollbar_Border_Radius));
  }

  &__separator {
    @include fd-reset();

    width: 100%;
    height: 0.0625rem;
    background-color: var(--sapGroup_ContentBorderColor);
  }

  &__item {
    @include fd-reset();

    position: relative;
    border-radius: 0;
    background-color: var(--sapList_Background);

    &:first-child,
    &:first-child .#{$block}__link::after {
      border-top-right-radius: $fd-menu-border-radius;
      border-top-left-radius: $fd-menu-border-radius;
    }

    &:last-of-type,
    &:last-of-type .#{$block}__link::after {
      border-bottom-right-radius: $fd-menu-border-radius;
      border-bottom-left-radius: $fd-menu-border-radius;
    }
  }

  &__link {
    @include fd-reset();
    @include fd-action-cursor();
    @include fd-fiori-pseudo-focus();

    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: inherit;
    height: var(--fdMenu_Link_Height, 2.75rem);
    padding: var(--fdMenu_Link_Padding, 0.75rem 1rem 0.75rem 0.75rem);
    outline: none;

    @include fd-hover() {
      background-color: var(--sapList_Hover_Background);
    }

    @include fd-selected() {
      @include selected-menu-item();
    }

    @include fd-active() {
      color: $fd-menu-item-color-active;
      background-color: var(--sapList_Active_Background);

      &::after {
        display: none;
      }

      .#{$block}__title {
        color: $fd-menu-item-color-active;
      }

      .#{$block}__shortcut,
      .#{$block}__addon-before,
      .#{$block}__addon-after {
        color: var(--sapList_Active_TextColor);
      }

      @include fd-focus() {
        outline-color: var(--fdMenu_Active_State_Focus);
      }
    }

    @include fd-disabled() {
      pointer-events: none;
      opacity: var(--sapContent_DisabledOpacity);

      @include fd-focus() {
        &::after {
          display: none;
        }
      }
    }

    &.has-child {
      @include fd-expanded() {
        &:not(:active):not(.is-active) {
          @include selected-menu-item();
        }
      }
    }
  }

  &__title {
    @include fd-reset();
    @include fd-ellipsis();

    width: 100%;
    color: var(--sapList_TextColor);
    font-size: var(--sapFontSize);
    font-family: $fd-menu-title-font-family;
    text-shadow: var(--fdMenu_Text_Shadow);
  }

  &__addon-before,
  &__addon-after {
    @include fd-reset();
    @include fd-flex-center();
    @include fd-icon-element-base();

    color: $fd-menu-icon-color;
    width: var(--fdMenu_Icon_Width);
    min-width: var(--fdMenu_Icon_Width);
    height: 1.25rem;
    font-size: var(--sapFontLargeSize);
    background-color: transparent;
    text-shadow: var(--fdMenu_Text_Shadow);
  }

  &__addon-before {
    margin: var(--fdMenu_Icon_Before_Margin);

    @include fd-rtl() {
      margin: var(--fdMenu_Icon_After_Margin);
    }
  }

  &__addon-after {
    margin: var(--fdMenu_Icon_After_Margin);

    @include fd-rtl() {
      margin: var(--fdMenu_Icon_Before_Margin);
    }

    &--submenu {
      @include fd-icon("navigation-right-arrow");

      font-size: var(--sapFontSmallSize);

      @include fd-rtl() {
        @include fd-icon("navigation-left-arrow");
      }
    }
  }

  &__shortcut {
    @include fd-reset();
    @include fd-ellipsis();

    display: flex;
    flex-shrink: 0;
    font-weight: normal;
    font-family: $fd-menu-title-font-family;
    color: var(--sapContent_NonInteractiveIconColor);
    font-size: var(--sapFontSize);
    padding-left: $fd-menu-shortcut-padding-left;

    @include fd-rtl() {
      padding-left: 0;
      padding-right: $fd-menu-shortcut-padding-left;
    }
  }

  &--overflow {
    @include fd-scrollbar(var(--fdScrollbar_Border_Radius));

    overflow-y: scroll;
    box-shadow: var(--sapContent_Shadow1);
    border-radius: $fd-menu-border-radius;

    .#{$block}__list {
      box-shadow: none;
    }

    .#{$block}__item:first-child {
      border-top-right-radius: 0;

      @include fd-rtl() {
        border-top-right-radius: $fd-menu-border-radius;
        border-top-left-radius: 0;
      }
    }

    .#{$block}__item:last-of-type {
      border-bottom-right-radius: 0;

      @include fd-rtl() {
        border-bottom-right-radius: $fd-menu-border-radius;
        border-bottom-left-radius: 0;
      }
    }
  }

  &--full-width {
    max-width: 100%;
  }

  @include fd-compact() {
    --fdMenu_Icon_Before_Margin: 0 0 0 -0.5rem;
    --fdMenu_Icon_After_Margin: 0 -0.75rem 0 0;
    --fdMenu_Icon_Width: 2rem;
    --fdMenu_Link_Padding: 0.375rem 0.75rem;
    --fdMenu_Link_Height: 2rem;
  }

  &--mobile {
    max-width: 100%;
    width: 100%;

    --fdMenu_Icon_Before_Margin: 0 0 0 -1rem;
    --fdMenu_Icon_After_Margin: 0 -1rem 0 0;
    --fdMenu_Icon_Width: 2.75rem;

    .#{$block}__list,
    .#{$block}__sublist {
      border-radius: 0;
      box-shadow: none;
      position: static;
      margin: 0;

      .#{$block}__item {
        border-radius: 0;
      }

      .#{$block}__link {
        padding: 0.75rem 1rem;
      }
    }
  }
}
