@import "./mixins";
@import "./message-view";

@mixin _fd-message-popover-trigger($colors, $state) {
  --fdButtonColor: #{map-get(map-get($colors, $state), "color")};
  --fdButtonBackgroundColor: #{map-get(map-get($colors, $state), "backgroundColor")};
  --fdButtonBorderColor: #{map-get(map-get($colors, $state), "borderColor")};
  --fdButtonTextShadow: #{map-get(map-get($colors, $state), "textShadow")};
}

$block: #{$fd-namespace}-message-popover;

$fd-trigger-states: (
  "critical": (
    "regular": (
      "color": var(--sapButton_Critical_TextColor),
      "backgroundColor": var(--sapButton_Critical_Background),
      "borderColor": var(--sapButton_Critical_BorderColor),
      "textShadow": var(--fdMessagePopover_Critical_Regular_Text_Shadow)
    ),
    "hover": (
      "color": var(--sapButton_Critical_Hover_TextColor),
      "backgroundColor": var(--sapButton_Critical_Hover_Background),
      "borderColor": var(--sapButton_Critical_Hover_BorderColor),
      "textShadow": var(--fdMessagePopover_Critical_Hover_Text_Shadow)
    ),
    "active": (
      "color": var(--sapButton_Critical_Active_TextColor),
      "backgroundColor": var(--sapButton_Critical_Active_Background),
      "borderColor": var(--sapButton_Critical_Active_BorderColor),
      "textShadow": var(--fdMessagePopover_Critical_Active_Text_Shadow)
    )
  ),
  "negative": (
    "regular": (
      "color": var(--sapButton_Negative_TextColor),
      "backgroundColor": var(--sapButton_Negative_Background),
      "borderColor": var(--sapButton_Negative_BorderColor),
      "textShadow": var(--fdMessagePopover_Negative_Regular_Text_Shadow)
    ),
    "hover": (
      "color": var(--sapButton_Negative_Hover_TextColor),
      "backgroundColor": var(--sapButton_Negative_Hover_Background),
      "borderColor": var(--sapButton_Negative_Hover_BorderColor),
      "textShadow": var(--fdMessagePopover_Negative_Hover_Text_Shadow)
    ),
    "active": (
      "color": var(--sapButton_Negative_Active_TextColor),
      "backgroundColor": var(--sapButton_Negative_Active_Background),
      "borderColor": var(--sapButton_Negative_Active_BorderColor),
      "textShadow": var(--fdMessagePopover_Negative_Active_Text_Shadow)
    )
  ),
  "success": (
    "regular": (
      "color": var(--sapButton_Success_TextColor),
      "backgroundColor": var(--sapButton_Success_Background),
      "borderColor": var(--sapButton_Success_BorderColor),
      "textShadow": var(--fdMessagePopover_Success_Regular_Text_Shadow)
    ),
    "hover": (
      "color": var(--sapButton_Success_Hover_TextColor),
      "backgroundColor": var(--sapButton_Success_Hover_Background),
      "borderColor": var(--sapButton_Success_Hover_BorderColor),
      "textShadow": var(--fdMessagePopover_Success_Hover_Text_Shadow)
    ),
    "active": (
      "color": var(--sapButton_Success_Active_TextColor),
      "backgroundColor": var(--sapButton_Success_Active_Background),
      "borderColor": var(--sapButton_Success_Active_BorderColor),
      "textShadow": var(--fdMessagePopover_Success_Active_Text_Shadow)
    )
  ),
  "information": (
    "regular": (
      "color": var(--fdMessagePopover_Information_Regular_Color),
      "backgroundColor": var(--fdMessagePopover_Information_Regular_Background_Color),
      "borderColor": var(--fdMessagePopover_Information_Regular_Border_Color),
      "textShadow": var(--fdMessagePopover_Information_Regular_Text_Shadow)
    ),
    "hover": (
      "color": var(--fdMessagePopover_Information_Hover_Color),
      "backgroundColor": var(--fdMessagePopover_Information_Hover_Background_Color),
      "borderColor": var(--fdMessagePopover_Information_Hover_Border_Color),
      "textShadow": var(--fdMessagePopover_Information_Hover_Text_Shadow)
    ),
    "active": (
      "color": var(--fdMessagePopover_Information_Active_Color),
      "backgroundColor": var(--fdMessagePopover_Information_Active_Background_Color),
      "borderColor": var(--fdMessagePopover_Information_Active_Border_Color),
      "textShadow": var(--fdMessagePopover_Information_Active_Text_Shadow)
    )
  ),
);

.#{$block} {
  &__trigger {
    --fdButtonFocusColor: var(--sapContent_ContrastFocusColor);

    text-shadow: var(--fdButtonTextShadow);
    border-width: var(--fdMessagePopover_Trigger_Border_Width);

    @include fd-focus() {
      &::after {
        border-color: var(--fdButtonFocusColor);
      }
    }

    @each $state, $colors in $fd-trigger-states {
      &.#{$block}__trigger--#{$state} {
        @include _fd-message-popover-trigger($colors, "regular");

        @include fd-hover() {
          @include _fd-message-popover-trigger($colors, "hover");
        }

        @include fd-active() {
          @include _fd-message-popover-trigger($colors, "active");

          --fdButtonFocusColor: var(--fdMessagePopover_Active_Focus_Outline_Color);
        }

        @include fd-disabled() {
          @include _fd-message-popover-trigger($colors, "regular");

          pointer-events: none;
          opacity: var(--sapContent_DisabledOpacity);
        }

        @if $state == "information" {
          --fdButtonFocusColor: var(--fdMessagePopover_Information_Focus_Outline_Color);
        }
      }
    }
  }
}
