@use "sass:map";

@import './mixins';

$block: #{$fd-namespace}-notification;

.#{$block} {
  --fdNotification_Content_Gap: 0.75rem;
  --fdNotification_Actions_Offset: -0.25rem;
  --fdNotification_Title_Font_Weight: normal;
  --fdNotification_Title_Line_Height: 1.25rem;
  --fdNotification_Title_One_Button_Offset: 2rem;
  --fdNotification_Title_Two_Buttons_Offset: 4.375rem;

  @mixin notification-states() {
    --fdNotification_Background: var(--sapList_Background);
    --fdNotification_Title_Color: var(--sapList_TextColor);
    --fdNotification_Paragraph_Color: var(--sapList_TextColor);
    --fdNotification_Separator_Color: var(--sapContent_LabelColor);
    --fdNotification_Footer_Content_Color: var(--sapContent_LabelColor);
    --fdNotification_Border_Block_End_Color: var(--sapList_BorderColor);
    --fdNotification_Border_Block_Start_Color: var(--fdNotification_Border_Top_Color);
    --fdNotification_Border_Inline_Color: var(--fdNotification_Border_Left_Right_Color);

    cursor: pointer;
    border-style: solid;
    border-width: var(--sapList_BorderWidth);
    background: var(--fdNotification_Background);
    border-radius: var(--fdNotification_Border_Radius);
    border-inline-color: var(--fdNotification_Border_Inline_Color);
    border-block-end-color: var(--fdNotification_Border_Block_End_Color);
    border-block-start-color: var(--fdNotification_Border_Block_Start_Color);

    @include fd-hover() {
      --fdNotification_Background: var(--fdNotification_Background_Hover);
    }
  
    @include fd-active() {
      --fdNotification_Background: var(--fdNotification_Background_Active);
      --fdNotification_Title_Color: var(--fdNotification_Title_Color_Active);
      --fdNotification_Paragraph_Color: var(--fdNotification_Paragraph_Color_Active);
      --fdNotification_Footer_Content_Color: var(--fdNotification_Footer_Content_Color_Active);
      --fdNotification_Separator_Color: var(--fdNotification_Separator_Color_Active);
      --fdNotification_Border_Inline_Color: var(--fdNotification_Border_Inline_Color_Active);
      --fdNotification_Border_Block_Start_Color: var(--fdNotification_Border_Block_Start_Color_Active);
      --fdNotification_Border_Block_End_Color: var(--fdNotification_Border_Block_End_Color_Active);
    }
  
    @include fd-selected() {
      --fdNotification_Background: var(--fdNotification_Background_Selected);
      --fdNotification_Border_Inline_Color: var(--fdNotification_Border_Left_Right_Color_Selected);
      --fdNotification_Border_Block_Start_Color: var(--fdNotification_Border_Top_Color_Selected);
      --fdNotification_Border_Block_End_Color: var(--fdNotification_Border_Block_End_Color_Selected);
  
      @include fd-hover() {
        --fdNotification_Background: var(--fdNotification_Background_Selected_Hover);
      }
    }
  
    @include fd-focus() {
      outline-offset: -0.25rem;
      outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    }
  }

  @include fd-reset();
  @include fd-flex(column);
  @include notification-states();

  &:has(.#{$block}__actions):has(button) {
    .#{$block}__title {
      padding-inline-end: var(--fdNotification_Title_One_Button_Offset);
    }
  }

  &:has(.#{$block}__actions):has(button + button) {
    .#{$block}__title {
      padding-inline-end: var(--fdNotification_Title_Two_Buttons_Offset);
    }
  }

  &__body {
    @include fd-reset();

    @include fd-flex() {
      gap: 0.75rem;
    };

    position: relative;
    padding-block: 1rem;
    padding-inline: 1rem;
  }

  &__content {
    @include fd-reset();

    @include fd-flex(column) {
      align-items: flex-start;
      gap: var(--fdNotification_Content_Gap);
    };

    width: 100%;
  }

  &__header {
    @include fd-reset();

    @include fd-flex() {
      gap: 0.25rem;
    };

    width: 100%;

    & > [class*="sap-icon"] {
      padding-block-start: 0.125rem;
    }
  }

  &__actions {
    @include fd-reset();
    @include fd-set-position-right(0);

    @include fd-flex() {
      gap: 0.125rem;
    };

    top: 0;
    position: absolute;
    padding-block: 0.5rem 0;
    padding-inline: 0.25rem 0.5rem;
  }

  &__title {
    @include fd-reset();
    @include fd-line-clamp(2);

    flex: 1;
    color: var(--sapList_TextColor);
    font-size: var(--sapFontHeader6Size);
    line-height: var(--fdNotification_Title_Line_Height);
    font-weight: var(--fdNotification_Title_Font_Weight);
    max-height: calc(2 * var(--fdNotification_Title_Line_Height));
    
    
    &--unread {
      --fdNotification_Title_Font_Weight: bold;
    }
  }

  &__paragraph {
    @include fd-reset();
    @include fd-line-clamp(2);

    max-height: 2.75rem;
    font-size: var(--sapFontSize);
    color: var(--sapList_TextColor);
  }

  &__footer {
    @include fd-reset();
    @include fd-flex();
  }

  &__footer-content {
    @include fd-ellipsis();

    max-width: 50%;
    color: var(--sapContent_LabelColor);

    &:only-child {
      max-width: 100%;
    }
  }

  &__separator {
    @include fd-reset();

    margin-inline: 0.5rem;
    color: var(--sapContent_LabelColor);

    &::before {
      content: '\00b7';
    }
  }

  &__message-strip-container {
    padding-inline: 1rem 0.5rem;
    padding-block: 1rem 0;

    &:empty {
      padding-inline: 0;
      padding-block: 0;
    }

    &:has(.fd-has-display-none) {
      padding-inline: 0;
      padding-block: 0;
    }
  }

  // Banner Notification
  &--banner {
    @include fd-set-position-right(2rem);
    
    top: 2rem;
    position: absolute;
    box-shadow: var(--sapContent_Shadow2);
  }

  .#{$block}__link {
    margin-inline-start: 1rem;
  }

  // Message Strip Container
  &-message-strip {
    @include fd-reset();
  
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
  }
  
  // Notification List
  &-list {
    @include fd-reset();
  
    list-style: none;
  }
  
  // Notification Group
  &-group {
    @include fd-reset();
  
    list-style: none;
  
    &__wrapper {
      @include fd-reset();
    }
  
    &__header {
      @include fd-reset();

      @include fd-flex-vertical-center() {
        gap: 0.75rem;
      };
  
      cursor: pointer;
      padding-inline: 0.5rem;
      height: var(--sapElement_LineHeight);
      background: var(--sapList_GroupHeaderBackground);
      margin-block: var(--fdNotification_Group_Header_Margin_Block);
      border-block-end: var(--sapList_BorderWidth) solid var(--fdNotification_Group_Header_Border_Bottom_Color);
  
      @include fd-focus() {
        outline-offset: -0.25rem;
        outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
      }
    }
  
    &__header-arrow {
      @include fd-reset();
      @include fd-inline-flex-center();
  
      font-size: 1rem;
      margin-inline: 0.5rem;

      [class*="sap-icon"] {
        @include fd-flex-center();
        @include fd-set-square(1rem);

        color: var(--sapContent_IconColor);
      }
    }
  
    &__header-title {
      @include fd-reset();
      @include fd-ellipsis();
  
      line-height: 2rem;
      font-family: var(--sapFontHeaderFamily);
      color: var(--fdNotification_Group_Header_Title_Color); 
      font-size: var(--fdNotification_Group_Header_Title_Font_Size);
      font-weight: var(--fdNotification_Group_Header_Title_Font_Weight);
    }
  
    &__list {
      @include fd-reset();

      @include fd-flex(column) {
        gap: var(--fdNotification_Group_List_Gap);
      };
  
      list-style: none;
      margin-block: var(--fdNotification_Group_List_Margin_Block);
      margin-inline: var(--fdNotification_Group_List_Margin_Inline);
    }
  
    &__growing-item {
      @include fd-reset();
      @include notification-states();

      @include fd-flex(column) {
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
      };
  
      padding-block: 1rem;
      padding-inline: 1rem;
      margin-inline: var(--fdNotification_Growing_Item_Margin_Inline);
      margin-block-end: var(--fdNotification_Growing_Item_Margin_Block_End);
    }
  
    &__growing-item-title {
      @include fd-reset();

      color: var(--fdNotification_Growing_Item_Title_Color);
      font-size: var(--fdNotification_Growing_Item_Title_Font_Size);
      font-family: var(--fdNotification_Growing_Item_Title_Font_Family);
      font-weight: var(--fdNotification_Growing_Item_Title_Font_Weight);
    }

    &__growing-item-subtitle {
      @include fd-reset();

      color: var(--sapContent_LabelColor);
    }
  }
  
  // Notification Popover
  &-popover {
    --fdNotification_Popover_Width: 27rem;
    --fdNotification_Popover_Max_Width: 27rem;
  
    @include fd-reset();

    max-height: 40rem;
    overflow-y: scroll;
    width: var(--fdNotification_Popover_Width);
    max-width: var(--fdNotification_Popover_Max_Width);
  
    @include fd-media-sm() {
      --fdNotification_Popover_Width: auto;
      --fdNotification_Popover_Max_Width: 25rem;
    }
  }

  // Compact Mode
  @include fd-compact-and-condensed() {
    --fdNotification_Content_Gap: 0.5rem;
    --fdNotification_Title_Offset: 4rem;
    --fdNotification_Title_One_Button_Offset: 2.75rem;
    --fdNotification_Title_Two_Buttons_Offset: 4.875rem;
  }
}
