@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-numeric-content;
$fd-numeric-content-elements-spacing: 0.375rem !default;
$fd-numeric-content-elements-spacing-m: 0.5rem !default;
$fd-numeric-content-elements-spacing-s: 0.5rem !default;

@mixin fd-scale-color($color) {
  .#{$block}__scale-arrow {
    @include fd-icon-selector() {
      color: $color;
    }
  }

  .#{$block}__scale-text {
    color: $color;
  }
}

@mixin small-tile-values() {
  height: 2.375rem;

  .#{$block}__launch-icon-container,
  .#{$block}__kpi-container {
    padding-block-start: 0.5rem;
    margin-inline-end: $fd-numeric-content-elements-spacing;
  }

  .#{$block}__launch-icon-container {
    @include fd-set-width(1.5rem);
  }

  .#{$block}__scale-container {
    padding-block: 0.25rem 0.25rem;
  }

  .#{$block}__launch-icon {
    @include fd-icon-selector() {
      font-size: 1.5rem;
    }
  }

  .#{$block}__kpi {
    font-size: 1.5rem;

    @include fd-rtl() {
      direction: ltr;
      text-align: right;
    }
  }

  @content;
}

.#{$block} {
  @include fd-reset();

  display: flex;
  height: 3rem;
  width: 100%;

  &__launch-icon-container,
  &__kpi-container {
    @include fd-reset();
    @include fd-flex-vertical-center();

    height: 100%;
    overflow: hidden;
    padding-block-start: 0.125rem;
    margin-inline-end: $fd-numeric-content-elements-spacing;

    &:first-child:last-child {
      margin: 0;
    }
  }

  &__launch-icon-container {
    @include fd-set-width(1.75rem);
  }

  &__scale-container {
    @include fd-reset();

    display: flex;
    height: 100%;
    overflow: hidden;
    padding-block: 0.5rem 0.375rem;

    &:first-child:last-child {
      margin: 0;
    }
  }

  &__launch-icon {
    @include fd-icon-element-base() {
      line-height: normal;
      font-size: 1.75rem;
      color: var(--sapTile_IconColor);
    }
  }

  &__kpi {
    @include fd-reset();

    line-height: normal;
    color: var(--sapNeutralTextColor);
    font-weight: lighter;
    font-size: 2.25rem;

    &--positive {
      color: var(--sapPositiveTextColor);
    }

    &--critical {
      color: var(--sapCriticalTextColor);
    }

    &--negative {
      color: var(--sapNegativeTextColor);
    }

    &--informative {
      color: var(--sapInformativeTextColor);
    }
  }

  &__scale {
    @include fd-reset();

    @include fd-flex-vertical-center() {
      flex-direction: column;
      justify-content: space-between;
    }

    &-arrow {
      @include fd-icon-element-base() {
        font-size: 0.875rem;
        line-height: normal;
        color: var(--sapNeutralTextColor);
      }
    }

    &-text {
      @include fd-reset();

      font-size: 0.875rem;
      line-height: normal;
      color: var(--sapNeutralTextColor);
    }

    &--positive {
      @include fd-scale-color(var(--sapPositiveTextColor));
    }

    &--critical {
      @include fd-scale-color(var(--sapCriticalTextColor));
    }

    &--negative {
      @include fd-scale-color(var(--sapNegativeTextColor));
    }

    &--informative {
      @include fd-scale-color(var(--sapInformativeTextColor));
    }
  }

  &--m {
    height: 2.5rem;

    .#{$block}__launch-icon-container,
    .#{$block}__kpi-container {
      padding-block-start: 0;
      margin-inline-end: $fd-numeric-content-elements-spacing-m;
    }

    .#{$block}__launch-icon-container {
      align-items: flex-end;
    }

    .#{$block}__scale-container {
      padding-block: 0.375rem 0.188rem;
    }

    .#{$block}__kpi {
      font-size: 2rem;
    }
  }

  &--s {
    height: 2.25rem;

    .#{$block}__launch-icon-container,
    .#{$block}__kpi-container {
      padding-block-start: 0;
      margin-inline-end: $fd-numeric-content-elements-spacing-s;
    }

    .#{$block}__scale-container {
      padding-block: 0 0.313rem;
    }

    .#{$block}__kpi {
      font-size: 1.75rem;
    }
  }

  &--small-tile {
    @include small-tile-values();

    &.#{$block}--m {
      @include small-tile-values() {
        .#{$block}__launch-icon-container {
          align-items: flex-end;
        }
      }
    }

    &.#{$block}--s {
      @include small-tile-values() {
        .#{$block}__scale-container {
          padding-block-start: 0;
        }
      }
    }
  }
}
