@import "./new-settings";
@import "./functions";
@import "./mixins";

$block: #{$fd-namespace}-object-status;

$color-states: (
  "positive": ("color": var(--sapPositiveTextColor), "iconColor": var(--sapPositiveElementColor)),
  "critical": ("color": var(--sapCriticalTextColor), "iconColor": var(--sapCriticalElementColor)),
  "negative": ("color": var(--sapNegativeTextColor), "iconColor": var(--sapNegativeElementColor)),
  "informative": ("color": var(--sapInformativeTextColor), "iconColor": var(--sapInformativeElementColor)),
  "neutral": ("color": var(--sapNeutralTextColor), "iconColor": var(--sapNeutralElementColor))
);

$color-accents: (
  "1": ("color": var(--sapIndicationColor_1), "visited": var(--sapIndicationColor_1)),
  "2": ("color": var(--sapIndicationColor_2), "visited": var(--sapIndicationColor_2)),
  "3": ("color": var(--sapIndicationColor_3), "visited": var(--sapIndicationColor_3)),
  "4": ("color": var(--sapIndicationColor_4), "visited": var(--sapIndicationColor_4)),
  "5": ("color": var(--sapIndicationColor_5), "visited": var(--sapIndicationColor_5)),
  "6": ("color": var(--sapAccentColor7), "visited": var(--sapAccentColor7)),
  "7": ("color": var(--sapAccentColor9), "visited": var(--sapAccentColor9)),
  "8": ("color": var(--sapAccentColor4), "visited": var(--sapAccentColor4))
);

$inverted-color-states: (
  "neutral": (
    "regular": ("color": var(--sapButton_Neutral_TextColor), "background": var(--sapButton_Neutral_Background), "borderColor": var(--sapButton_Neutral_Hover_BorderColor)),
    "hover": ("color": var(--sapButton_Neutral_Hover_TextColor), "background": var(--sapButton_Neutral_Hover_Background)),
    "active": ("color": var(--sapButton_Active_TextColor), "background": var(--sapButton_Neutral_Active_Background)),
    "visited": ("color": var(--sapButton_Neutral_TextColor), "background": var(--sapButton_Neutral_Background)),
  ),
  "positive": (
    "regular": ("color": var(--sapButton_Success_TextColor), "background": var(--sapButton_Success_Background), "borderColor": var(--sapButton_Success_BorderColor)),
    "hover": ("color": var(--sapButton_Success_Hover_TextColor), "background": var(--sapButton_Success_Hover_Background)),
    "active": ("color": var(--sapButton_Active_TextColor), "background": var(--sapButton_Success_Active_Background)),
    "visited": ("color": var(--sapButton_Critical_TextColor), "background": var(--sapButton_Success_Background)),
  ),
  "critical": (
    "regular": ("color": var(--sapButton_Critical_TextColor), "background": var(--sapButton_Critical_Background), "borderColor": var(--sapButton_Critical_BorderColor)),
    "hover": ("color": var(--sapButton_Critical_Hover_TextColor), "background": var(--sapButton_Critical_Hover_Background)),
    "active": ("color": var(--sapButton_Active_TextColor), "background": var(--sapButton_Critical_Active_Background)),
    "visited": ("color": var(--sapButton_Critical_TextColor), "background": var(--sapButton_Critical_Background)),
  ),
  "negative": (
    "regular": ("color": var(--sapButton_Negative_TextColor),"background": var(--sapButton_Negative_Background), "borderColor": var(--sapButton_Negative_BorderColor)),
    "hover": ("color": var(--sapButton_Negative_Hover_TextColor), "background": var(--sapButton_Negative_Hover_Background)),
    "active": ("color": var(--sapButton_Active_TextColor),"background": var(--sapButton_Negative_Active_Background)),
    "visited": ("color": var(--sapButton_Negative_TextColor), "background": var(--sapButton_Negative_Background)),
  ),
  "informative": (
    "regular": ("color": var(--sapButton_Information_TextColor), "background": var(--sapButton_Information_Background), "borderColor": var(--sapButton_Information_BorderColor)),
    "hover": ("color": var(--sapButton_Information_Hover_TextColor), "background": var(--sapButton_Information_Hover_Background)),
    "active": ("color": var(--sapButton_Active_TextColor), "background": var(--sapButton_Information_Active_Background)),
    "visited": ("color": var(--sapButton_Information_TextColor), "background": var(--sapButton_Information_Background)),
  ),
);

$inverted-color-accents: (
  "1": (
    "regular": ("color": var(--sapIndicationColor_1_TextColor), "background": var(--sapIndicationColor_1)),
    "hover": ("color": var(--sapIndicationColor_1_TextColor), "background": var(--sapIndicationColor_1_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_1_TextColor), "background": var(--sapIndicationColor_1_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_1_TextColor), "background": var(--sapIndicationColor_1)),
  ),
  "2": (
    "regular": ("color": var(--sapIndicationColor_2_TextColor), "background": var(--sapIndicationColor_2)),
    "hover": ("color": var(--sapIndicationColor_2_TextColor), "background": var(--sapIndicationColor_2_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_2_TextColor), "background": var(--sapIndicationColor_2_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_2_TextColor), "background": var(--sapIndicationColor_2)),
  ),
  "3": (
    "regular": ("color": var(--sapIndicationColor_3_TextColor), "background": var(--sapIndicationColor_3)),
    "hover": ("color": var(--sapIndicationColor_3_TextColor), "background": var(--sapIndicationColor_3_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_3_TextColor), "background": var(--sapIndicationColor_3_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_3_TextColor), "background": var(--sapIndicationColor_3)),
  ),
  "4": (
    "regular": ("color": var(--sapIndicationColor_4_TextColor), "background": var(--sapIndicationColor_4)),
    "hover": ("color": var(--sapIndicationColor_4_TextColor), "background": var(--sapIndicationColor_4_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_4_TextColor), "background": var(--sapIndicationColor_4_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_4_TextColor), "background": var(--sapIndicationColor_4)),
  ),
  "5": (
    "regular": ("color": var(--sapIndicationColor_5_TextColor), "background": var(--sapIndicationColor_5)),
    "hover": ("color": var(--sapIndicationColor_5_TextColor), "background": var(--sapIndicationColor_5_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_5_TextColor), "background": var(--sapIndicationColor_5_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_5_TextColor), "background": var(--sapIndicationColor_5)),
  ),
  "6": (
    "regular": ("color": var(--sapIndicationColor_6_TextColor), "background": var(--sapIndicationColor_6)),
    "hover": ("color": var(--sapIndicationColor_6_TextColor), "background": var(--sapIndicationColor_6_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_6_TextColor), "background": var(--sapIndicationColor_6_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_6_TextColor), "background": var(--sapIndicationColor_6)),
  ),
  "7": (
    "regular": ("color": var(--sapIndicationColor_7_TextColor), "background": var(--sapIndicationColor_7)),
    "hover": ("color": var(--sapIndicationColor_7_TextColor), "background": var(--sapIndicationColor_7_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_7_TextColor), "background": var(--sapIndicationColor_7_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_7_TextColor), "background": var(--sapIndicationColor_7)),
  ),
  "8": (
    "regular": ("color": var(--sapIndicationColor_8_TextColor), "background": var(--sapIndicationColor_8)),
    "hover": ("color": var(--sapIndicationColor_8_TextColor), "background": var(--sapIndicationColor_8_Hover_Background)),
    "active": ("color": var(--sapIndicationColor_8_TextColor), "background": var(--sapIndicationColor_8_Active_Background)),
    "visited": ("color": var(--sapIndicationColor_8_TextColor), "background": var(--sapIndicationColor_8)),
  ),
);

@mixin fd-object-status-icon-selector() {
  .#{$block}__icon {
    @include fd-icon-selector() {
      @content;
    }
  }
}

// STATES FOR INVERTED OBJECT STATUS
@mixin inverted-object-states($variablesSet) {
  --fdObjectStatus_Text_Color: #{map_deep_get($variablesSet, "regular", "color")};
  --fdObjectStatus_Icon_Color: #{map_deep_get($variablesSet, "regular", "color")};
  --fdObjectStatus_Background_Color: #{map_deep_get($variablesSet, "regular", "background")};

  &:hover,
  &:active,
  &:visited {
    --fdObjectStatus_Text_Color: #{map_deep_get($variablesSet, "regular", "color")};
    --fdObjectStatus_Icon_Color: #{map_deep_get($variablesSet, "regular", "color")};
    --fdObjectStatus_Background_Color: #{map_deep_get($variablesSet, "regular", "background")};
  }
}

// INTERACTION STATES FOR INVERTED OBJECT STATUS
@mixin inverted-object-interaction-states($variablesSet) {
  --fdObjectStatus_Text_Color: #{map_deep_get($variablesSet, "regular", "color")};
  --fdObjectStatus_Icon_Color: #{map_deep_get($variablesSet, "regular", "color")};
  --fdObjectStatus_Background_Color: #{map_deep_get($variablesSet, "regular", "background")};
  --fdObjectStatus_Border_Color: #{map_deep_get($variablesSet, "regular", "borderColor")};

  &:visited {
    --fdObjectStatus_Text_Color: #{map_deep_get($variablesSet, "visited", "color")};
    --fdObjectStatus_Icon_Color: #{map_deep_get($variablesSet, "visited", "color")};
    --fdObjectStatus_Background_Color: #{map_deep_get($variablesSet, "visited", "background")};
  }

  @include fd-hover() {
    --fdObjectStatus_Text_Color: #{map_deep_get($variablesSet, "hover", "color")};
    --fdObjectStatus_Icon_Color: #{map_deep_get($variablesSet, "hover", "color")};
    --fdObjectStatus_Background_Color: #{map_deep_get($variablesSet, "hover", "background")};
  }

  @include fd-active() {
    --fdObjectStatus_Text_Color: #{map_deep_get($variablesSet, "active", "color")};
    --fdObjectStatus_Icon_Color: #{map_deep_get($variablesSet, "active", "color")};
    --fdObjectStatus_Background_Color: #{map_deep_get($variablesSet, "active", "background")};
  }
}

.#{$block} {
  @mixin fd-object-status-text-inherit() {
    font-size: inherit;
    font-weight: inherit;
    word-break: inherit;
    color: inherit;
    font-family: inherit;

    @content;
  }

  // ICON VARIABLES
  --fdObjectStatus_Icon_Font_Size: 1rem;
  --fdObjectStatus_Icon_Padding: 0.25rem;
  --fdObjectStatus_Icon_Color: var(--sapNeutralElementColor);

  // TEXT VARIABLES
  --fdObjectStatus_Text_Font_Family: var(--sapFontFamily);
  --fdObjectStatus_Text_Font_Size: var(--sapFontSize);
  --fdObjectStatus_Text_Color: var(--sapNeutralTextColor);
  --fdObjectStatus_Height: 1rem;
  --fdObjectStatus_Text_Shadow: var(--sapContent_TextShadow);

  // INVERTED OBJECT STATUS VARIABLES
  $fd-object-status-inverted-border-radius: 0.25rem !default;
  $fd-object-status-inverted-padding: 0.0625rem 0.25rem !default;
  $fd-object-status-inverted-padding-empty: 0 0.25rem !default;
  $fd-object-status-inverted-min-height: 1rem !default;
  $fd-object-status-inverted-min-width: 1.25rem !default;
  $fd-object-status-inverted-text-font-weight: bold !default;
  $fd-object-status-inverted-icon-font-size: 0.75rem !default;
  $fd-object-status-inverted-icon-spacing: 0.25rem !default;

  // LARGE DESIGN VARIABLES
  $fd-object-status-icon-text-font-size-large: 1.5rem;
  $fd-object-status-icon-text-font-size-large-inverted: 1.25rem;
  $fd-object-status-padding-large-inverted: 0.125rem 0.25rem !default;
  $fd-object-status-padding-large-inverted-empty: 0 0.25rem !default;
  $fd-object-status-min-width-large-inverted-empty: 1.75rem !default;
  $fd-object-status-min-height-large-inverted-empty: 1.5rem !default;
  $fd-object-status-height-large: 1.5rem !default;

  @include fd-reset();

  font-family: var(--fdObjectStatus_Text_Font_Family);
  font-size: var(--fdObjectStatus_Text_Font_Size);
  color: var(--fdObjectStatus_Text_Color);
  text-shadow: var(--fdObjectStatus_Text_Shadow);
  max-width: 100%;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
  height: var(--fdObjectStatus_Height);
  max-height: var(--fdObjectStatus_Height);
  line-height: var(--fdObjectStatus_Height);

  @include fd-focus() {
    outline: none;
  }

  &__text {
    @include fd-reset();
    @include fd-object-status-text-inherit();

    line-height: var(--fdObjectStatus_Height);
  }

  &__icon {
    @include fd-icon-element-base() {
      @include fd-flex-center();

      font-size: var(--fdObjectStatus_Icon_Font_Size);
      padding-right: var(--fdObjectStatus_Icon_Padding);
      color: var(--fdObjectStatus_Icon_Color);
      line-height: var(--fdObjectStatus_Height);

      // ICON ONLY MODE
      @include fd-only-child() {
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  @include fd-rtl() {
    @include fd-object-status-icon-selector() {
      padding-right: 0;
      padding-left: var(--fdObjectStatus_Icon_Padding);
    }
  }

  @each $set-name, $color-set in $color-states {
    &--#{$set-name} {
      --fdObjectStatus_Text_Color: var(--fdElementTextColor, #{map_get($color-set, "color")});
      --fdObjectStatus_Icon_Color: var(--fdElementIconColor, #{map_get($color-set, "iconColor")});

      &:visited {
        --fdObjectStatus_Text_Color: #{map_get($color-set, "visited")};
        --fdObjectStatus_Icon_Color: #{map_get($color-set, "visited")};
      }
    }
  }

  @each $set-name, $color-set in $color-accents {
    &--indication-#{$set-name} {
      --fdObjectStatus_Text_Color: #{map_get($color-set, "color")};
      --fdObjectStatus_Icon_Color: #{map_get($color-set, "color")};

      &:visited {
        --fdObjectStatus_Text_Color: #{map_get($color-set, "visited")};
        --fdObjectStatus_Icon_Color: #{map_get($color-set, "visited")};
      }
    }
  }

  // CLICKABLE OBJECT STATUS
  &--link {
    @include fd-fiori-focus(0.0625rem);

    text-decoration: none;
    cursor: pointer;

    &:hover {
      .#{$block}__text {
        text-decoration: underline;
      }
    }

    &:visited {
      text-decoration: none;
    }
  }

  // LARGE DESIGN
  &--large {
    --fdObjectStatus_Text_Font_Size: #{$fd-object-status-icon-text-font-size-large};
    --fdObjectStatus_Height: #{$fd-object-status-height-large};
    --fdObjectStatus_Icon_Font_Size: #{ $fd-object-status-icon-text-font-size-large};
    --fdObjectStatus_Text_Font_Family: var(--sapFontLightFamily);
  }

  // INVERTED OBJECT STATUS
  &--inverted {
    --fdObjectStatus_Text_Font_Size: var(--sapFontSmallSize);
    --fdObjectStatus_Text_Shadow: var(--sapContent_ContrastTextShadow);
    --fdObjectStatus_Icon_Font_Size: #{$fd-object-status-inverted-icon-font-size};

    height: auto;
    min-height: $fd-object-status-inverted-min-height;
    width: auto;
    max-width: 100%;
    min-width: $fd-object-status-inverted-min-width;
    padding: $fd-object-status-inverted-padding;
    border-radius: $fd-object-status-inverted-border-radius;
    font-weight: $fd-object-status-inverted-text-font-weight;
    border-width: var(--fdInverted_Object_Border_Width);
    border-style: solid;
    background-color: var(--fdObjectStatus_Background_Color, transparent);
    border-color: var(--fdObjectStatus_Border_Color, initial);

    .#{$block}__icon,
    .#{$block}__text {
      line-height: 0.875rem;
    }

    @include fd-object-status-icon-selector() {
      padding-right: $fd-object-status-inverted-icon-spacing;
    }

    @include fd-rtl() {
      @include fd-object-status-icon-selector() {
        padding-right: 0;
        padding-left: $fd-object-status-inverted-icon-spacing;
      }
    }

    // TEXT AND BACKGROUND COLOR FOR INVERTED OBJECT STATUS STATES
    @each $set-name, $color-set in $inverted-color-states {
      @if $set-name == neutral {
        @include inverted-object-states($color-set);
      } @else {
        &.#{$block}--#{$set-name} {
          @include inverted-object-states($color-set);
        }
      }
    }

    // BACKGROUND COLOR FOR INVERTED OBJECT STATUS STATES - GENERIC INDICATION COLORS
    @each $set-name, $color-set in $inverted-color-accents {
      &.#{$block}--indication-#{$set-name} {
        @include inverted-object-states($color-set);
      }
    }

    // LARGE DESIGN FOR INVERTED OBJECT STATUS
    &.#{$block}--large {
      --fdObjectStatus_Text_Font_Size: #{$fd-object-status-icon-text-font-size-large-inverted};
      --fdObjectStatus_Icon_Font_Size: #{$fd-object-status-icon-text-font-size-large-inverted};
      --fdObjectStatus_Height: #{$fd-object-status-height-large};

      padding: $fd-object-status-padding-large-inverted;
      height: auto;
      max-height: none;

      .#{$block}__icon,
      .#{$block}__text {
        line-height: var(--fdObjectStatus_Height);
      }

      @include fd-object-status-icon-selector() {
        // ICON ONLY MODE
        @include fd-only-child() {
          height: $fd-object-status-min-height-large-inverted-empty;
          min-width: $fd-object-status-min-width-large-inverted-empty;
          padding: $fd-object-status-padding-large-inverted-empty;
        }
      }
    }

    // CLICKABLE INVERTED OBJECT STATUS
    &.#{$block}--link {
      cursor: pointer;

      &:hover,
      &:active,
      &:visited {
        .#{$block}__text {
          text-decoration: none;
        }
      }

      // INTERACTION STATES FOR CLICKABLE INVERTED OBJECT STATUS
      @each $set-name, $color-set in $inverted-color-states {
        @if $set-name == neutral {
          @include inverted-object-interaction-states($color-set);
        } @else {
          &.#{$block}--#{$set-name} {
            @include inverted-object-interaction-states($color-set);
          }
        }
      }

      // GENERIC INDICATION COLORS FOR CLICKABLE INVERTED OBJECT STATUS
      @each $set-name, $color-set in $inverted-color-accents {
        &.#{$block}--indication-#{$set-name} {
          @include inverted-object-interaction-states($color-set);

          border-color: var(--sapContent_ForegroundBorderColor);
        }
      }
    }
  }

  // SHOW ELLIPSIS
  &--truncate {
    .#{$block}__text {
      @include fd-ellipsis();
    }
  }
}
