@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-object-identifier;

.#{$block} {
  .#{$block}__link {
    font-size: inherit;
    font-weight: inherit;
  }

  &__title {
    @include fd-reset();

    color: var(--sapList_TextColor);
    font-size: var(--fdObjectIdentifier_Font_Size, var(--sapFontLargeSize));
    font-weight: var(--fdObjectIdentifier_Font_Weight, normal);

    &--bold {
      --fdObjectIdentifier_Font_Weight: bold;
    }
  }

  &__text {
    @include fd-reset();

    line-height: 1.5;
    margin-block-start: 0.5rem;
    color: var(--sapContent_LabelColor);
  }

  &__sr-only {
    @include fd-screen-reader-only();
  }

  &--medium {
    --fdObjectIdentifier_Font_Size: var(--sapFontSize);
  }
}
