@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-object-marker;

.#{$block} {
  @include fd-reset();

  max-width: 100%;
  line-height: 1;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;

  &--link {
    @include fd-link();
    @include fd-link-underline("." + $block + "__text");
  }

  &__icon {
    @include fd-icon-element-base() {
      @include fd-flex-center();

      font-size: 1rem;
      line-height: normal;
      padding-inline-end: 0.25rem;
      color: var(--sapContent_MarkerIconColor);

      @include fd-only-child() {
        padding-inline: 0;
      }
    }
  }

  &__sr-only {
    @include fd-screen-reader-only();
  }

  &:not(.#{$block}--link) {
    .#{$block}__text {
      @include fd-reset();

      font-size: 1rem;
      font-style: normal;
      line-height: normal;
      word-break: break-word;
      color: var(--sapContent_LabelColor);
    }
  }

  & + & {
    margin-inline-start: 0.5rem;
  }
}
