@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-page-footer;
$fd-page-footer-sizes: (
  "xl": ("padding": 3rem),
  "lg": ("padding": 2rem),
  "md": ("padding": 1rem),
  "sm": ("padding": 0.5rem)
);

.#{$block} {
  @include fd-reset();

  background: var(--sapBaseColor);
  position: relative;
  padding-block: 1.5rem 2rem;

  &__logo {
    @include fd-reset();

    width: 3rem;
    height: 1.5rem;
    overflow: hidden;
  }

  &__row {
    @include fd-reset();

    word-break: break-all;
    width: 70%;

    .#{$block}__row-item {
      margin-inline-end: 1.5rem;
    }

    .#{$block}__row-image {
      display: block;
    }

    &:not(:first-child) {
      padding-block-start: 0.25rem;
    }
  }

  &__text {
    @include fd-reset();
    @include fd-ellipsis();

    align-self: flex-end;
    width: 30%;
    text-align: right;
    position: absolute;

    @include fd-rtl() {
      text-align: left;
    }
  }

  // sizes
  @each $set-name, $size-set in $fd-page-footer-sizes {
    &--#{$set-name} {
      padding-inline: map.get($size-set, 'padding');
      
      .#{$block}__container {
        @include fd-flex(column);

        padding-block-start: 0.75rem;
      }
    }
  }

  @media (width <= 768px) {

    .#{$block}__row {
      margin-inline-end: 0;
      width: 100%;

      &:not(:first-child) {
        padding-block-start: 0;
      }

      &-item {
        padding-block-start: 0.25rem;
      }
    }

    .#{$block}__text {
      width: 90%;
      text-align: left;
      padding-block-start: 0.75rem;
    }

    .#{$block}__container {
      display: inline-block;
      flex-direction: row;
      width: 100%;
    }
  }
}
