@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-panel;

.#{$block} {
  --fdPanel_Header_Height: 2.75rem;

  $fd-panel-header-right-padding: 0.5rem;
  $fd-panel-header-fixed-left-padding: 1rem;

  &,
  &__content,
  &__title,
  &__header,
  &__expand {
    @include fd-reset();
  }

  border-radius: var(--fdPanel_Border_Radius);
  overflow: hidden;

  &:not(:last-child) {
    margin-block-end: var(--fdPanel_Margin_Bottom);
  }

  &__header {
    overflow: hidden;
    height: var(--fdPanel_Header_Height);
    min-height: var(--fdPanel_Header_Height);
    padding-inline-end: $fd-panel-header-right-padding;
    background-color: var(--sapGroup_TitleBackground);
    border-bottom: solid 0.0625rem var(--sapGroup_TitleBorderColor);

    @include fd-flex-vertical-center();

    &:has(> .#{$fd-namespace}-toolbar) {
      padding-inline-end: 0;
    }
  }

  &__title {
    @include fd-typography(var(--sapFontHeader4Size));

    font-size: var(--fdPanel_Title_Font_Size);
    flex: 1;
  }

  &__content {
    @include fd-scrollbar(var(--fdScrollbar_Border_Radius));

    padding-block: 0.625rem;
    padding-inline: 1rem;
    overflow: auto;
    border-bottom: solid 0.0625rem var(--fdPanel_Content_Border_Bottom_Color);
    background: var(--fdPanel_Content_Background_Color);

    &[aria-hidden="true"] {
      display: none;
    }

    &--no-padding {
      padding-block: 0;
      padding-inline: 0;
    }
  }

  &__expand {
    width: 2.75rem;
    height: var(--fdPanel_Header_Height);
    min-height: var(--fdPanel_Header_Height);

    @include fd-flex-center();
  }

  &__button {
    font-size: 1rem;

    @include fd-rtl() {
      .sap-icon--slim-arrow-right {
        transform: rotate(180deg);
      }
    }
  }

  &--fixed {
    .#{$block}__header {
      padding-inline-start: $fd-panel-header-fixed-left-padding;
    }
  }

  &--borderless {
    .#{$block}__header {
      border-bottom: none;
    }
  }

  &--transparent {
    .#{$block}__content {
      background: transparent;
    }
  }

  @include fd-compact-or-condensed() {
    --fdPanel_Header_Height: 2.5rem;
  }
}
