@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-popover;
$listBlock: #{$fd-namespace}-list;

.#{$block} {
  $fd-popover-z-index: map-get($fd-z-index-levels, "top") !default;
  $fd-popover-box-shadow: var(--sapContent_Shadow2) !default;
  $fd-popover-arrow-width: 1rem !default;
  $fd-popover-arrow-height: 0.5rem !default;
  $fd-popover-arrow-width-half: $fd-popover-arrow-width * 0.5 !default;
  $fd-popover-inline-help-arrow-offset: 0.25rem !default;
  $fd-popover-arrow-color: var(--fdPopover_Border_Color) !default;

  --fdPopover_Arrow_Offset: 0.575rem;

  @include fd-reset();

  position: relative;
  display: inline-block;
  max-width: 100%;

  &__control {
    @include fd-reset();
    @include fd-action-cursor();

    position: relative;

    &:focus-visible {
      outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    }

    @include fd-disabled() {
      pointer-events: none;
    }
  }

  &__wrapper {
    @include fd-reset();
    @include fd-popover-border-radius();
    @include fd-scrollbar(var(--fdScrollbar_Border_Radius));

    overflow: auto;
  }

  &__body {
    @include fd-reset();
    @include fd-popover-border-radius();

    position: absolute;
    white-space: nowrap;
    box-shadow: $fd-popover-box-shadow;
    z-index: $fd-popover-z-index;
    background: $fd-popover-background-color;
    top: calc(100% + 0.5rem);
    transition: all $fd-animation-speed;

    @include fd-both-pseudo-selectors() {
      content: "";
      position: absolute;
    }

    &::before {
      @include fd-triangle($fd-popover-arrow-width $fd-popover-arrow-height, $fd-popover-background-color, up);

      top: calc(-0.5rem + var(--fdPopover_Border_Width) * 1.5);
      z-index: $fd-popover-z-index + 2;
    }

    &::after {
      @include fd-triangle($fd-popover-arrow-width $fd-popover-arrow-height, $fd-popover-arrow-color, up);

      top: -0.5rem;
      z-index: $fd-popover-z-index + 1;
    }

    // Inner shadows can affect outer shadow. This will discard such behavior
    > * {
      &:not(.#{$block}__wrapper) {
        overflow: hidden;
      }
    }

    > *:first-child {
      border-top-right-radius: $fd-popover-border-radius;
      border-top-left-radius: $fd-popover-border-radius;
    }

    > *:last-child {
      border-bottom-right-radius: $fd-popover-border-radius;
      border-bottom-left-radius: $fd-popover-border-radius;
    }

    &-header {
      & > *:first-child {
        border-top-right-radius: $fd-popover-border-radius;
        border-top-left-radius: $fd-popover-border-radius;
      }
    }

    &-footer {
      & > * {
        border-bottom-right-radius: $fd-popover-border-radius;
        border-bottom-left-radius: $fd-popover-border-radius;
      }
    }

    &--compact {
      --fdPopover_Arrow_Offset: 0.44rem;
    }

    &,
    &--left {
      @include fd-left-popover-offset-placement();

      @include fd-both-pseudo-selectors() {
        left: var(--fdPopover_Arrow_Offset);
      }

      @include fd-rtl() {
        @include fd-both-pseudo-selectors() {
          left: auto;
          right: var(--fdPopover_Arrow_Offset);
        }
      }
    }

    &--right {
      @include fd-right-popover-offset-placement();

      @include fd-both-pseudo-selectors() {
        left: auto;
        right: var(--fdPopover_Arrow_Offset);
      }

      @include fd-rtl() {
        @include fd-both-pseudo-selectors() {
          left: var(--fdPopover_Arrow_Offset);
          right: auto;
        }
      }
    }

    &--no-arrow {
      box-shadow: $fd-popover-box-shadow-no-arrow;
      top: 100%;

      @include fd-both-pseudo-selectors() {
        display: none;
      }
    }

    &--dropdown {
      width: max-content;

      &-fill {
        display: block;
        max-width: 40rem;
        width: $fd-popover-full-filled-width;
      }
    }

    // @deprecated
    &--static {
      position: relative;
      top: auto;
      bottom: auto;
    }

    &[aria-hidden="true"],
    &.is-hidden {
      z-index: -1;
      opacity: 0;
      visibility: hidden;
    }

    // @deprecated
    .#{$block}__body--hidden {
      display: none;
    }
  }

  &--input-message-group {
    .#{$block}__body,
    .#{$block}__body--no-arrow,
    .#{$block}__popper,
    .#{$block}__popper--no-arrow {
      box-shadow: none;
      border: none;
      margin-top: -0.25rem;
    }
  }

  &--full-width {
    width: 100%;
  }

  /** NGX Popover Component.
    * TODO: Refactor to use default one
    */
  &__popper {
    @include fd-reset();

    border: none;
    position: relative;
    width: 100%;
    white-space: nowrap;
    box-shadow: $fd-popover-box-shadow;
    z-index: $fd-popover-z-index;
    border-radius: $fd-popover-border-radius;
    background: $fd-popover-background-color;
    opacity: 1;

    &--no-arrow {
      margin: 0 !important;

      .#{$block}__arrow {
        display: none;
      }
    }

    &--static {
      position: relative;
      top: auto;
      bottom: auto;
    }

    &--input-message-group {
      box-shadow: none;
      border: none;
      margin-top: -0.25rem !important;
    }

    &--compact {
      --fdPopover_Arrow_Offset: 0.44rem;
    }

    .#{$block}__arrow {
      @include fd-reset();

      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;

      &::after {
        position: absolute;
        content: "";
        border-style: solid;
        border-color: transparent;
      }

      &--bottom,
      &--top {
        &::after {
          margin: 0 (-$fd-popover-arrow-width-half);
        }
      }

      &--start,
      &--end {
        &::after {
          margin: (-$fd-popover-arrow-width-half) 0;
        }
      }

      &--bottom {
        bottom: -$fd-popover-arrow-height;
        border-width: $fd-popover-arrow-height $fd-popover-arrow-width-half 0 $fd-popover-arrow-width-half;
        border-top-color: $fd-popover-arrow-color;

        &::after {
          bottom: 0.0625rem;
          border-width: $fd-popover-arrow-height $fd-popover-arrow-width-half 0 $fd-popover-arrow-width-half;
          border-top-color: $fd-popover-background-color;
        }
      }

      &--top {
        top: -$fd-popover-arrow-height;
        border-width: 0 $fd-popover-arrow-width-half $fd-popover-arrow-height $fd-popover-arrow-width-half;
        border-bottom-color: $fd-popover-arrow-color;

        &::after {
          top: 0.0625rem;
          border-width: 0 $fd-popover-arrow-width-half $fd-popover-arrow-height $fd-popover-arrow-width-half;
          border-bottom-color: $fd-popover-background-color;
        }
      }

      &--end {
        right: -$fd-popover-arrow-height;
        border-width: $fd-popover-arrow-width-half 0 $fd-popover-arrow-width-half $fd-popover-arrow-height;
        border-left-color: $fd-popover-arrow-color;

        &::after {
          right: 0.0625rem;
          border-width: $fd-popover-arrow-width-half 0 $fd-popover-arrow-width-half $fd-popover-arrow-height;
          border-left-color: $fd-popover-background-color;
        }
      }

      &--start {
        left: -$fd-popover-arrow-height;
        border-width: $fd-popover-arrow-width-half $fd-popover-arrow-height $fd-popover-arrow-width-half 0;
        border-right-color: $fd-popover-arrow-color;

        &::after {
          left: 0.0625rem;
          border-width: $fd-popover-arrow-width-half $fd-popover-arrow-height $fd-popover-arrow-width-half 0;
          border-right-color: $fd-popover-background-color;
        }
      }

      &-x--start {
        left: var(--fdPopover_Arrow_Offset);
      }

      &-x--center {
        left: 50%;
        transform: translateX(-50%);
      }

      &-x--end {
        right: var(--fdPopover_Arrow_Offset);
      }

      &-y--top {
        top: var(--fdPopover_Arrow_Offset);
      }

      &-y--center {
        top: 50%;
        transform: translateY(-50%);
      }

      &-y--bottom {
        bottom: var(--fdPopover_Arrow_Offset);
      }
    }
  }

  &__popper,
  &__body {
    .#{$listBlock}:first-child {
      li:first-child,
      li:first-child a {
        &::before {
          border-top-left-radius: $fd-popover-border-radius;
          border-top-right-radius: $fd-popover-border-radius;
        }
      }
    }

    .#{$listBlock}:last-child {
      li:last-child,
      li:last-child a {
        &::before {
          border-bottom-left-radius: $fd-popover-border-radius;
          border-bottom-right-radius: $fd-popover-border-radius;
        }
      }
    }
  }

  &__inline-help {
    padding: 0.75rem;
    font-size: var(--sapFontSmallSize);

    &--icon {
      .#{$block}__arrow {
        &-x--start {
          left: $fd-popover-inline-help-arrow-offset;
        }

        &-x--end {
          right: $fd-popover-inline-help-arrow-offset;
        }
      }
    }
  }
}
