@use "sass:map";

@import './new-settings';
@import './mixins';

$block: #{$fd-namespace}-popover;
$blockBody: #{$fd-namespace}-popover__body;
$menu: #{$fd-namespace}-menu;

body.fd-overlay-active::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--fdModal_BackgroundColor);
  z-index: 999;
  pointer-events: all;
}

.#{$block} {
  --fdPopover_Display: inline-block;

  @include fd-reset();

  max-width: 100%;
  position: relative;
  display: var(--fdPopover_Display);

  &__modal {
    position: relative;
    z-index: 1000;
  }

  &__control {
    @include fd-reset();
    @include fd-action-cursor();

    position: relative;

    &:focus-visible {
      outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    }

    &:has(.#{$fd-namespace}-tokenizer--display) {
      cursor: auto;
    }

    &:has(.#{$fd-namespace}-select__control.is-disabled) {
      pointer-events: none;
      cursor: not-allowed;
    }

    @include fd-expanded() {
      > * {
        margin-block-end: 0;
      }

      & + .#{$block}__body--input-message-group {
        margin-top: 0;
      }
    }

    @include fd-disabled() {
      pointer-events: none;
    }
  }

  &__wrapper {
    @include fd-scrollbar(var(--fdScrollbar_Border_Radius));

    overflow: auto;
    position: relative;
    border-radius: var(--fdPopover_Body_Border_Radius);

    &--visible {
      overflow: visible !important;
    }
  }

  &__body {
    --fdPopover_Offset: 100%;
    --fdPopover_Center_Offset: 50%;
    --fdPopover_Arrow_Size: 0.5rem;
    --fdPopover_Body_Border_Radius: var(--fdPopover_Border_Radius);
    --fdPopover_Body_Box_Shadow: var(--sapContent_Shadow2);
    --fdPopover_Body_Box_Shadow_No_Arrow: var(--sapContent_Shadow1);
    --fdIcon_Button_Height: 2.25rem;
    --fdIcon_Button_Width: 2.25rem;
    --fdPopover_Resize_Handle_Offset: -0.5rem;
    --fdPopover_Resize_Handle_Position_Top: auto;
    --fdPopover_Resize_Handle_Position_Right: var(--fdPopover_Resize_Handle_Offset);
    --fdPopover_Resize_Handle_Position_Bottom: var(--fdPopover_Resize_Handle_Offset);
    --fdPopover_Resize_Handle_Position_Left: auto;
    --fdPopover_Resize_Handle_Rotate_Angle: 0;
    --fdPopover_Resize_Handle_Cursor: se-resize;
    --fdPopover_Resize_Handle_Justify: center;
    --fdPopover_Resize_Handle_Transform_Scale: 1;

    $fd-popover-z-index: map.get($fd-z-index-levels, 'top') !default;
    $fd-popover-arrow-size: var(--fdPopover_Arrow_Size);
    $fd-popover-arrow-size-inner: calc(var(--fdPopover_Arrow_Size) - var(--fdPopover_Border_Width)) !default;
    $fd-popover-arrow-color: var(--fdPopover_Border_Color) !default;
    $fd-popover-arrow-offset-y: calc(
      var(--fdIcon_Button_Height) * 0.5 - var(--fdPopover_Arrow_Size) - var(--fdPopover_Border_Width)
    );
    $fd-popover-arrow-offset-x: calc(
      var(--fdIcon_Button_Width) * 0.5 - var(--fdPopover_Arrow_Size) - var(--fdPopover_Border_Width)
    );

    @mixin fd-popover-arrow-x-end() {
      &::before {
        left: auto;
        right: calc(#{$fd-popover-arrow-offset-x} + var(--fdPopover_Border_Width));
      }

      &::after {
        left: auto;
        right: #{$fd-popover-arrow-offset-x};
      }

      @include fd-rtl() {
        &::before {
          left: calc(#{$fd-popover-arrow-offset-x} + var(--fdPopover_Border_Width));
          right: auto;
        }

        &::after {
          left: #{$fd-popover-arrow-offset-x};
          right: auto;
        }
      }
    }

    @include fd-reset();

    position: absolute;
    white-space: nowrap;
    z-index: $fd-popover-z-index;
    box-shadow: var(--fdPopover_Body_Box_Shadow);
    border-radius: var(--fdPopover_Body_Border_Radius);
    background: $fd-popover-background-color;
    top: calc(var(--fdPopover_Offset) + var(--fdPopover_Arrow_Size));
    transition: all $fd-animation-speed;
    opacity: 1;
    visibility: visible;

    @include fd-both-pseudo-selectors() {
      content: '';
      position: absolute;
    }

    &::before {
      @include fd-popover-triangle(top, $fd-popover-background-color, $fd-popover-arrow-size-inner);

      top: calc((var(--fdPopover_Arrow_Size) * -1) + var(--fdPopover_Border_Width));
      z-index: $fd-popover-z-index + 2;
    }

    &::after {
      @include fd-popover-triangle(top, $fd-popover-arrow-color, var(--fdPopover_Arrow_Size));

      top: calc(var(--fdPopover_Arrow_Size) * -1);
      z-index: $fd-popover-z-index + 1;
    }

    // Inner shadows can affect outer shadow. This will discard such behavior
    > * {
      &:not(.#{$block}__wrapper) {
        overflow: hidden;
      }
    }

    > *:first-child,
    &-header > *:first-child {
      border-top-right-radius: $fd-popover-border-radius;
      border-top-left-radius: $fd-popover-border-radius;
    }

    > *:last-child:not(.#{$block}__resize-handle),
    &-footer > *:last-child {
      border-bottom-right-radius: $fd-popover-border-radius;
      border-bottom-left-radius: $fd-popover-border-radius;
    }

    .#{$menu} {
      width: 100%;
    }

    @include fd-compact-or-condensed() {
      --fdIcon_Button_Height: 1.625rem;
      --fdIcon_Button_Width: 2rem;
    }

    // works properly only if dropdown below the control
    &--no-arrow {
      box-shadow: var(--fdPopover_Body_Box_Shadow_No_Arrow);
      top: var(--fdPopover_Offset);

      @include fd-both-pseudo-selectors() {
        display: none;
      }
    }

    &,
    &--left {
      @include fd-set-position-left(0);

      &::before {
        left: calc(#{$fd-popover-arrow-offset-x} + var(--fdPopover_Border_Width));
      }

      &::after {
        left: #{$fd-popover-arrow-offset-x};
      }

      @include fd-rtl() {
        &::before {
          left: auto;
          right: calc(#{$fd-popover-arrow-offset-x} + var(--fdPopover_Border_Width));
        }

        &::after {
          left: auto;
          right: #{$fd-popover-arrow-offset-x};
        }
      }
    }

    &--center {
      @include fd-set-position-left(var(--fdPopover_Center_Offset));

      transform: translateX(calc(var(--fdPopover_Center_Offset) * -1));

      @include fd-rtl() {
        transform: translateX(var(--fdPopover_Center_Offset));
      }
    }

    &--right {
      @include fd-set-position-left(auto);
      @include fd-set-position-right(0);

      // @deprecated, fd-popover__body--arrow-x-end to be used instead
      @include fd-popover-arrow-x-end();
    }

    &--before {
      top: 0;
      left: auto !important;
      right: var(--fdPopover_Offset) !important;
    }

    &--after {
      top: 0;
      right: auto !important;
      left: var(--fdPopover_Offset) !important;
    }

    &--middle {
      top: var(--fdPopover_Center_Offset);
      transform: translateY(calc(var(--fdPopover_Center_Offset) * -1));
    }

    &--bottom {
      top: auto;
      bottom: 0;
    }

    &--above {
      top: auto;
      bottom: var(--fdPopover_Offset);
    }

    &--arrow {
      &-bottom {
        bottom: calc(var(--fdPopover_Offset) + var(--fdPopover_Arrow_Size)) !important;

        &::before {
          @include fd-popover-triangle(bottom, $fd-popover-background-color, $fd-popover-arrow-size-inner);

          top: 100%;
        }

        &::after {
          @include fd-popover-triangle(bottom, $fd-popover-arrow-color, var(--fdPopover_Arrow_Size));

          top: 100%;
        }
      }

      &-left {
        left: calc(var(--fdPopover_Offset) + var(--fdPopover_Arrow_Size)) !important;

        &::before {
          @include fd-popover-triangle(left, $fd-popover-background-color, $fd-popover-arrow-size-inner);

          top: calc(#{$fd-popover-arrow-offset-y} + var(--fdPopover_Border_Width));
          left: auto !important;
          right: 100% !important;
        }

        &::after {
          @include fd-popover-triangle(left, $fd-popover-arrow-color, var(--fdPopover_Arrow_Size));

          top: #{$fd-popover-arrow-offset-y};
          left: auto !important;
          right: 100% !important;
        }
      }

      &-right {
        right: calc(var(--fdPopover_Offset) + var(--fdPopover_Arrow_Size)) !important;

        &::before {
          @include fd-popover-triangle(right, $fd-popover-background-color, $fd-popover-arrow-size-inner);

          top: calc(#{$fd-popover-arrow-offset-y} + var(--fdPopover_Border_Width));
          left: 100% !important;
          right: auto !important;
        }

        &::after {
          @include fd-popover-triangle(right, $fd-popover-arrow-color, var(--fdPopover_Arrow_Size));

          top: #{$fd-popover-arrow-offset-y};
          left: 100% !important;
          right: auto !important;
        }
      }

      &-x-center {
        @include fd-both-pseudo-selectors() {
          left: 50%;
          transform: translateX(-50%);
        }

        @include fd-rtl() {
          @include fd-both-pseudo-selectors() {
            left: auto;
            right: 50%;
            transform: translateX(50%);
          }
        }
      }

      &-x-end {
        @include fd-popover-arrow-x-end();
      }

      &-y-center {
        @include fd-both-pseudo-selectors() {
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &-y-end,
      &-y-bottom {
        &::before {
          top: auto;
          bottom: calc(#{$fd-popover-arrow-offset-y} + var(--fdPopover_Border_Width));
        }

        &::after {
          top: auto;
          bottom: #{$fd-popover-arrow-offset-y};
        }
      }
    }

    &--dropdown {
      width: max-content;

      &-fill {
        display: block;
        max-width: 40rem;
        width: $fd-popover-full-filled-width;
      }
    }

    // For NGX where we manage positioning with Material Overlay CDK but not CSS
    &--static {
      position: relative;

      --fdPopover_Offset: 0%;
      --fdPopover_Center_Offset: 0%;
    }

    &[aria-hidden='true'],
    &.is-hidden {
      z-index: -1;
      opacity: 0;
      visibility: hidden;
    }

    // @deprecated
    .#{$block}__body--hidden {
      display: none;
    }

    &--input-message-group {
      box-shadow: none;
      border: none;
    }

    &--inline-help {
      padding-block: 0.75rem;
      padding-inline: 0.75rem;
      font-size: var(--sapFontSmallSize);

      &-icon {
        --fdIcon_Button_Height: 1.375rem;
        --fdIcon_Button_Width: 1.375rem;
      }
    }

    &.#{$blockBody}--resizable {
      @include fd-rtl() {
        --fdPopover_Resize_Handle_Position_Right: auto;
        --fdPopover_Resize_Handle_Position_Left: var(--fdPopover_Resize_Handle_Offset);
        --fdPopover_Resize_Handle_Cursor: sw-resize;
        --fdPopover_Resize_Handle_Transform_Scale: -1;
      }

      &.#{$blockBody}--right {
        --fdPopover_Resize_Handle_Position_Left: var(--fdPopover_Resize_Handle_Offset);
        --fdPopover_Resize_Handle_Position_Right: auto;
        --fdPopover_Resize_Handle_Cursor: sw-resize;
        --fdPopover_Resize_Handle_Transform_Scale: -1;
        --fdPopover_Resize_Handle_Container_Justify: flex-end;

        @include fd-rtl() {
          --fdPopover_Resize_Handle_Position_Right: var(--fdPopover_Resize_Handle_Offset);
          --fdPopover_Resize_Handle_Position_Left: auto;
          --fdPopover_Resize_Handle_Cursor: se-resize;
          --fdPopover_Resize_Handle_Transform_Scale: 1;
        }
      }

      &.#{$blockBody}--above {
        --fdPopover_Resize_Handle_Position_Top: var(--fdPopover_Resize_Handle_Offset);
        --fdPopover_Resize_Handle_Position_Bottom: auto;
        --fdPopover_Resize_Handle_Position_Right: -0.5rem;
        --fdPopover_Resize_Handle_Position_Left: auto;
        --fdPopover_Resize_Handle_Cursor: ne-resize;
        --fdPopover_Resize_Handle_Rotate_Angle: -90deg;
        --fdPopover_Resize_Handle_Transform_Scale: 1;

        @include fd-rtl() {
          --fdPopover_Resize_Handle_Position_Right: auto;
          --fdPopover_Resize_Handle_Position_Left: var(--fdPopover_Resize_Handle_Offset);
          --fdPopover_Resize_Handle_Cursor: nw-resize;
          --fdPopover_Resize_Handle_Transform_Scale: 1;
          --fdPopover_Resize_Handle_Rotate_Angle: 180deg;
          --fdPopover_Resize_Handle_Container_Justify: flex-end;
        }

        &.#{$blockBody}--right {
          --fdPopover_Resize_Handle_Position_Right: auto;
          --fdPopover_Resize_Handle_Position_Left: var(--fdPopover_Resize_Handle_Offset);
          --fdPopover_Resize_Handle_Rotate_Angle: 180deg;
          --fdPopover_Resize_Handle_Cursor: nw-resize;
          --fdPopover_Resize_Handle_Transform_Scale: 1;
          --fdPopover_Resize_Handle_Container_Justify: flex-start;

          @include fd-rtl() {
            --fdPopover_Resize_Handle_Position_Right: var(--fdPopover_Resize_Handle_Offset);
            --fdPopover_Resize_Handle_Position_Left: auto;
            --fdPopover_Resize_Handle_Rotate_Angle: -90deg;
            --fdPopover_Resize_Handle_Cursor: ne-resize;
            --fdPopover_Resize_Handle_Container_Justify: flex-end;
          }
        }
      }

      &.#{$blockBody}--after {
        --fdPopover_Resize_Handle_Position_Top: auto;
        --fdPopover_Resize_Handle_Position_Bottom: var(--fdPopover_Resize_Handle_Offset);
        --fdPopover_Resize_Handle_Position_Right: var(--fdPopover_Resize_Handle_Offset);
        --fdPopover_Resize_Handle_Position_Left: auto;
        --fdPopover_Resize_Handle_Cursor: se-resize;

        @include fd-rtl() {
          --fdPopover_Resize_Handle_Rotate_Angle: -90deg;
        }

        &.#{$blockBody}--bottom {
          --fdPopover_Resize_Handle_Position_Top: var(--fdPopover_Resize_Handle_Offset);
          --fdPopover_Resize_Handle_Position_Bottom: auto;
          --fdPopover_Resize_Handle_Position_Right: var(--fdPopover_Resize_Handle_Offset);
          --fdPopover_Resize_Handle_Position_Left: auto;
          --fdPopover_Resize_Handle_Cursor: ne-resize;
          --fdPopover_Resize_Handle_Rotate_Angle: -90deg;
          --fdPopover_Resize_Handle_Transform_Scale: 1;

          @include fd-rtl() {
            --fdPopover_Resize_Handle_Container_Justify: flex-end;;
          }
        }
      }

      &.#{$blockBody}--before {
        --fdPopover_Resize_Handle_Position_Top: auto;
        --fdPopover_Resize_Handle_Position_Bottom: var(--fdPopover_Resize_Handle_Offset);
        --fdPopover_Resize_Handle_Position_Right: auto;
        --fdPopover_Resize_Handle_Position_Left: var(--fdPopover_Resize_Handle_Offset);
        --fdPopover_Resize_Handle_Cursor: sw-resize;
        --fdPopover_Resize_Handle_Rotate_Angle: 0;
        --fdPopover_Resize_Handle_Transform_Scale: -1;
        --fdPopover_Resize_Handle_Container_Justify: flex-end;

        @include fd-rtl() {
          --fdPopover_Resize_Handle_Container_Justify: flex-start;;
        }

        &.#{$blockBody}--middle,
        &.#{$blockBody}--bottom {
          --fdPopover_Resize_Handle_Position_Top: var(--fdPopover_Resize_Handle_Offset);
          --fdPopover_Resize_Handle_Position_Bottom: auto;
          --fdPopover_Resize_Handle_Rotate_Angle: 90deg;
          --fdPopover_Resize_Handle_Cursor: nw-resize;
        }
      }
    }
  }

  &__resize-handle {
    @include fd-reset();
    @include fd-square(1.5rem);

    @include fd-flex() {
      align-items: flex-start;
      justify-content: var(--fdPopover_Resize_Handle_Container_Justify, flex-start);
    }

    font-size: 1rem;
    overflow: hidden;
    line-height: 1rem;
    position: absolute;
    color: var(--sapButton_Lite_TextColor);
    cursor: var(--fdPopover_Resize_Handle_Cursor);
    inset: var(--fdPopover_Resize_Handle_Position_Top) var(--fdPopover_Resize_Handle_Position_Right) var(--fdPopover_Resize_Handle_Position_Bottom) var(--fdPopover_Resize_Handle_Position_Left);
    transform: rotate(var(--fdPopover_Resize_Handle_Rotate_Angle));

    @include fd-icon('resize-corner', 'after') {
      @include fd-square(1rem);

      @include fd-flex() {
        justify-content: var(--fdPopover_Resize_Handle_Justify);
      }

      color: inherit;
      transform: scaleX(var(--fdPopover_Resize_Handle_Transform_Scale));
    }
  }

  // Modifier class for Slider Tooltip and Input
  &--slider {
    --fdPopover_Display: block;
  }

  // @deprecated, fd-popover__body--input-message-group to be used instead
  &--input-message-group {
    .#{$block}__body,
    .#{$block}__body--no-arrow {
      box-shadow: none;
      border: none;
    }
  }

  &--full-width {
    width: 100%;
  }

  // BTP Popover
  &--btp {
    .#{$block}__body {
      --fdPopover_Arrow_Size: 0.375rem;
      --fdPopover_Body_Border_Radius: 0.75rem;
      --fdPopover_Body_Box_Shadow: var(--sapMenu_Shadow2);

      border: none;
      top: calc(var(--fdPopover_Offset) + (var(--fdPopover_Arrow_Size) - 0.1875rem));

      &--padding {
        padding-block: 0.75rem;
        padding-inline: 0.75rem;
      }
    }

    .#{$block}__body-header {
      @include fd-reset();
    }

    .#{$block}__body-content {
      @include fd-reset();

      margin-block: 0.75rem;
      margin-inline: 0;

      &:only-child {
        margin-inline: 0;
        margin-block: 0;
      }
    }

    .#{$block}__body-footer {
      @include fd-reset();

      @include fd-flex-vertical-center() {
        gap: 0.1875rem;
        justify-content: flex-end;
      }

      padding-block: 0.375rem;
      padding-inline: 0;

      &--center {
        justify-content: center;
      }
    }
  }
}
