@use "sass:map";

@import "./mixins";

$block: #{$fd-namespace}-section;

.#{$block} {
  $fd-section-padding--top: 1rem !default;
  $fd-section-padding--bottom: 1.5rem !default;
  $fd-section-header-margin--bottom: 1.5rem !default;

  @include fd-reset();
  @include fd-clearfix();

  padding: $fd-section-padding--top 0.5rem $fd-section-padding--bottom 0.5rem;

  @include fd-screen(m) {
    padding-inline: 2rem;
  }

  @include fd-screen(xl) {
    padding-inline: 3rem;
  }

  border-bottom: none;
  background-color: var(--sapToolbar_Background);

  &:last-child,
  &--no-border {
    border-bottom: 0;
  }

  &--full-bleed,
  &--bleed {
    @include fd-reset();

    padding-inline: 0;

    .#{$block}__header,
    .#{$block}__footer {
      padding-inline: 0.5rem;

      @include fd-screen(m) {
        padding-inline: 2rem;
      }

      @include fd-screen(xl) {
        padding-inline: 3rem;
      }
    }
  }

  &__header {
    @include fd-reset();

    min-height: 1.5rem;
    display: flex;
    align-items: center;
    margin-block-end: $fd-section-header-margin--bottom;
  }

  &__title {
    @include fd-reset();

    font-size: var(--sapFontHeader2Size);
    line-height: 2rem;
    color: var(--sapTitleColor);
    flex: 1;
    margin-block-end: 0;
  }

  &__actions {
    @include fd-reset();

    margin-inline-start: auto;
  }

  &__footer {
    @include fd-reset();

    display: flex;
    justify-content: center;
  }
}
