@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-select;
$fd-select-padding-x: 0.625rem;
$fd-select-padding-x-compact: 0.5rem;

@mixin fd-select-set-min-width($width) {
  min-width: calc(var(--fdSelect_Min_Width) - var(--sapField_BorderWidth) * 2);
}

.#{$block} {
  @include fd-reset();

  text-shadow: var(--fdSelect_Text_Shadow);
  margin-block: 0.25rem;
  margin-inline: 0;

  &__control {
    @include fd-input-field-base(
      false,
      true,
      --fdSelect_Background,
      --fdSelect_Background_Color,
      --fdSelect_Hover_Background,
      --fdSelect_Hover_Background_Color,
      --fdSelect_Focus_Background,
      --fdSelect_Min_Width
    );
    @include fd-input-field-states();
    @include fd-input-group-button-overwrite();

    box-shadow: none;

    @include fd-flex-center() {
      gap: 0.25rem;
      justify-content: space-between;
    }

    @include fd-disabled() {
      pointer-events: none;
    }

    padding-inline: 0;
    padding-block: 0;
    margin-block: 0;
    margin-inline: 0;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      border-radius: var(--sapField_BorderCornerRadius);
      box-shadow: var(--sapField_Shadow);
      pointer-events: none;

      @include fd-set-equal-positions(0);
    }

    @include fd-readonly() {
      cursor: text;

      .#{$block}__text-content {
        --fdSelect_Min_Width: 5rem;

        padding-inline: $fd-select-padding-x;
      }

      &[aria-selected='false'] {
        .#{$block}__text-content {
          visibility: hidden;
        }
      }

      .#{$block}__button {
        opacity: 0;
      }
    }

    @include fd-disabled() {
      &[aria-selected='false'] {
        .#{$block}__text-content {
          visibility: hidden;
        }
      }
    }

    &[aria-selected='false'] {
      .#{$block}__text-content {
        font-style: italic;
        font-weight: normal;
        padding-block: 0;
        padding-inline: 0.625rem;
        color: var(--sapField_PlaceholderTextColor);

        [class*='sap-icon'] {
          font-style: italic;
          font-weight: normal;
          color: var(--sapField_PlaceholderTextColor);
        }
      }
    }
  }

  &__text-content {
    @include fd-reset();
    @include fd-ellipsis();
    @include fd-select-set-min-width(2.5rem);

    --fdSelect_Min_Width: 2.5rem;

    padding-inline-start: $fd-select-padding-x;
    color: var(--fdSelect_Text_Content_Color, var(--sapTextColor));
    cursor: pointer;
    display: var(--fdSelect_Text_Content_Display, inline-block);
  }

  @include fd-compact-or-condensed() {
    margin-block: 0.1875rem;
    margin-inline: 0;

    .#{$block}__control {
      height: $fd-form-input-height--compact;
      min-height: $fd-form-input-height--compact;

      .#{$block}__text-content {
        --fdSelect_Min_Width: 2.75rem;

        padding-inline-start: $fd-select-padding-x-compact;
      }

      @include fd-readonly() {
        .#{$block}__text-content {
          padding-inline: $fd-select-padding-x-compact;
        }
      }
    }
  }
}
