@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-select;

.#{$block} {
  @include fd-reset();

  --fdSelect_Min_Width: 2.75rem;

  margin-inline: 0;
  text-shadow: var(--fdSelect_Text_Shadow);
  margin-block: var(--fdSelect_Margin_Block, 0.25rem);

  &__control {
    @include fd-input-field-base(
      false,
      true,
      --fdSelect_Background,
      --fdSelect_Background_Color,
      --fdSelect_Hover_Background,
      --fdSelect_Hover_Background_Color,
      --fdSelect_Focus_Background,
      --fdSelect_Min_Width
    );
    @include fd-input-field-states();
    @include fd-input-group-button-overwrite();

    @include fd-flex-center() {
      gap: 0.25rem;
      justify-content: space-between;
    }

    @include fd-disabled() {
      pointer-events: none;
    }

    box-shadow: none;
    padding-inline: 0;
    padding-block: 0;
    margin-block: 0;
    margin-inline: 0;
    cursor: var(--fdSelect_Control_Cursor, pointer);
    height: var(--fdSelect_Control_Height, var(--sapElement_Height));
    min-height: var(--fdSelect_Control_Height, var(--sapElement_Height));

    &::after {
      content: "";
      position: absolute;
      border-radius: var(--sapField_BorderCornerRadius);
      box-shadow: var(--sapField_Shadow);
      pointer-events: none;

      @include fd-set-equal-positions(0);
    }

    @include fd-readonly() {
      --fdSelect_Button_Opacity: 0;
      --fdSelect_Button_Cursor: text;
      --fdSelect_Control_Cursor: text;
      --fdSelect_Text_Padding_Inline_End: 0.625rem;

      &.is-placeholder {
        --fdSelect_Text_Content_Visibility: hidden;
      }

      .#{$block}__button {
        display: none;
      }
    }

    @include fd-disabled() {
      &.is-placeholder {
        --fdSelect_Text_Content_Visibility: hidden;
      }
    }

    &.is-placeholder {
      .#{$block}__text-content {
        font-style: italic;
        font-weight: normal;
        padding-block: 0;
        color: var(--sapField_PlaceholderTextColor);

        [class*='sap-icon'] {
          font-style: italic;
          font-weight: normal;
          color: var(--sapField_PlaceholderTextColor);
        }
      }
    }
  }

  &__text-content {
    @include fd-reset();
    @include fd-ellipsis();

    min-width: var(--fdSelect_Min_Width);
    display: var(--fdSelect_Text_Content_Display, inline-block);
    visibility: var(--fdSelect_Text_Content_Visibility, visible);
    color: var(--fdSelect_Text_Content_Color, var(--sapTextColor));
    padding-inline: var(--fdSelect_Text_Padding_Inline_Start, 0.625rem) var(--fdSelect_Text_Padding_Inline_End, 0);
  }

  .#{$block}__button {
    opacity: var(--fdSelect_Button_Opacity, 1);
    cursor: var(--fdSelect_Button_Cursor, pointer);

    @include fd-focus() {
      &::after {
        border: none;
      }
    }
  }

  @include fd-compact-or-condensed() {
    --fdSelect_Min_Width: 2rem;
    --fdSelect_Margin_Block: 0.1875rem;
    --fdSelect_Text_Padding_Inline_Start: 0.5rem;
    --fdSelect_Control_Height: var(--sapElement_Compact_Height);
  }
}
