@import "./new-settings";
@import "./mixins";

@mixin fd-slider-dot {
  background-color: var(--fdSlider_Endpoint_Background);
  border: var(--fdSlider_Endpoint_Border);
}

@mixin fd-slider-active-dot {
  border: var(--fdSlider_Endpoint_Active_Border);
  background-color: var(--fdSlider_Endpoint_Active_Background);
}

$block: #{$fd-namespace}-slider;
$handle-outline-offset: 0.0625rem;
$handle-outline-width: 0.0625rem;

.#{$block} {
  @include fd-reset();

  @include fd-disabled() {
    cursor: not-allowed;
  }

  min-width: 4rem;
  max-width: 100%;
  padding: 1rem calc((var(--fdSlider_Handle_Width) * 0.5) + #{$handle-outline-offset} + #{$handle-outline-width});
  position: relative;

  &--lg {
    @include fd-set-paddings-x-equal(calc((var(--fdSlider_Mobile_Handle_Width) * 0.5) + #{$handle-outline-offset} + #{$handle-outline-width}));
  }

  &__inner {
    @include fd-reset();

    position: relative;

    &::before,
    &::after {
      @include fd-reset();

      content: "";
      width: var(--fdSlider_Endpoint_Size);
      height: var(--fdSlider_Endpoint_Size);
      position: absolute;
      top: 50%;
      left: -0.7rem;
      transform: translateY(-50%);
      border-radius: 50%;

      @include fd-slider-active-dot();
    }

    &::after {
      left: auto;
      right: -0.7rem;

      @include fd-slider-dot();
    }

    @include fd-rtl() {
      &::before {
        @include fd-slider-dot();
      }

      &::after {
        @include fd-slider-active-dot();
      }
    }
  }

  &__track {
    @include fd-reset();

    height: var(--fdSlider_Track_Height);
    width: 100%;
    background-color: var(--fdSlider_Track_Background);
    border-radius: var(--fdSlider_Track_BorderRadius);
    position: relative;
    z-index: 1;
    box-shadow: inset 0 0 0 var(--fdSlider_Track_Border_Width) var(--fdSlider_Track_Border_Color);
  }

  &__track-range {
    @include fd-reset();

    position: relative;
    height: 100%;
    border-radius: 0.25rem;
    background-color: var(--fdSlider_Track_Active_Background);
    border: 0.0625rem solid var(--fdSlider_Track_Active_Border);
    box-shadow: var(--fdSlider_Track_Active_Box_Shadow);
  }

  &__tick-wrapper {
    @include fd-reset();

    position: absolute;
    width: 100%;
    top: calc((var(--fdSlider_Track_Height) - var(--fdSlider_Tick_Height)) / 2);
    z-index: 2;
  }

  &__ticks {
    @include fd-reset();

    @include fd-flex() {
      justify-content: space-between;
    }
  }

  &__labels {
    @include fd-reset();

    @include fd-flex() {
      justify-content: space-between;
    }

    position: relative;
    height: 1rem;
    top: 0.5rem;
  }

  &__tick {
    @include fd-reset();

    position: relative;
    border-left: 0.0625rem solid var(--fdSlider_Tick_Background);
    height: var(--fdSlider_Tick_Height);

    &--in-range {
      border-color: var(--fdSlider_Active_Tick_Background);
    }
  }

  &__label {
    @include fd-reset();

    @include fd-flex(column) {
      align-items: center;
    }

    width: 0;
    position: relative;
    font-size: var(--sapFontSmallSize);
    color: var(--sapContent_LabelColor);
  }

  &__handle {
    @include fd-reset();
    @include fd-flex-center();

    width: var(--fdSlider_Handle_Width);
    height: var(--fdSlider_Handle_Height);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: var(--fdSlider_Handle_Border_Radius);
    background-color: var(--fdSlider_Handle_Background);
    border: var(--fdSlider_Handle_Border);
    box-shadow: var(--fdSlider_Handle_Box_Shadow);
    z-index: 3;

    &::before {
      content: '';
      width: var(--fdSlider_Handle_Active_Width);
      height: var(--fdSlider_Handle_Active_Height);
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    &::after {
      display: var(--fdSlider_Handle_Icon_Display);
      content: '\e29c';
      line-height: 1;
      font-size: 0.875rem;
      font-family: "SAP-icons";
      color: var(--sapContent_Selected_ForegroundColor);
    }

    @include fd-focus() {
      outline: $handle-outline-width var(--sapContent_FocusStyle) var(--fdSlider_Focus_Handle_Outline_Color);
      outline-offset: $handle-outline-offset;
      border: var(--fdSlider_Hover_Handle_Border);
      background-color: var(--fdSlider_Active_Handle_Background);
    }

    @include fd-hover() {
      background-color: var(--fdSlider_Hover_Handle_Background);
      border: var(--fdSlider_Hover_Handle_Border);
      box-shadow: var(--fdSlider_Hover_Handle_Box_Shadow);
    }

    @include fd-active() {
      background-color: var(--fdSlider_Active_Handle_Background);
      border: var(--fdSlider_Hover_Handle_Border);
      box-shadow: var(--fdSlider_Active_Handle_Box_Shadow);
    }

    &--lg {
      width: var(--fdSlider_Mobile_Handle_Width);
      height: var(--fdSlider_Mobile_Handle_Height);

      &::before {
        width: var(--fdSlider_Mobile_Handle_Active_Size);
        height: var(--fdSlider_Mobile_Handle_Active_Size);
      }
    }
  }

  &--range {
    .#{$block}__inner {
      &::before,
      &::after {
        @include fd-slider-dot();
      }

      @include fd-rtl() {
        &::before,
        &::after {
          @include fd-slider-dot();
        }
      }

      .#{$block}__handle {
        @include fd-active() {
          background-color: var(--fdSlider_Active_Range_Handle_Background);

          &::after {
            display: none;
          }
        }

        @include fd-focus() {
          background-color: var(--fdSlider_Active_Range_Handle_Background);

          &::after {
            display: none;
          }
        }
      }
    }
  }
}
