@import './new-settings';
@import "mixins/mixins";

$block: #{$fd-namespace}-splitter;

@mixin fd-splitter-line-horizontal($fullWidth) {
  height: var(--fdSplitter_Resizer_Line_Thickness);

  @if $fullWidth {
    flex-grow: 1;
  } @else {
    flex-basis: var(--fdSplitter_Resizer_Line_Size);
  }
}

@mixin fd-splitter-line-vertical($fullHeight) {
  width: var(--fdSplitter_Resizer_Line_Thickness);

  @if $fullHeight {
    flex-grow: 1;
  } @else {
    flex-basis: var(--fdSplitter_Resizer_Line_Size);
  }
}

@mixin fd-splitter-resizer-decorations() {
  .#{$block}__resizer-decoration-before,
  .#{$block}__resizer-decoration-after {
    @content;
  }
}

@mixin fd-splitter-resizer-decoration-before-active() {
  @include fd-active() {
    & ~ .#{$block}__resizer-decoration-before {
      @content;
    }
  }
}

@mixin fd-splitter-resizer-decoration-after-active() {
  @include fd-active() {
    & ~ .#{$block}__resizer-decoration-after {
      @content;
    }
  }
}

@mixin fd-splitter-resizer-decoration-before-focus() {
  @include fd-focus() {
    & ~ .#{$block}__resizer-decoration-before {
      @content;
    }
  }
}

@mixin fd-splitter-resizer-decoration-after-focus() {
  @include fd-focus() {
    & ~ .#{$block}__resizer-decoration-after {
      @content;
    }
  }
}

.#{$block} {
  --fdSplitter_Split_Pane_BoxShadow: none;
  --fdSplitter_Split_Pane_Background: transparent;
  --fdSplitter_Pane_Container_Flex_Direction: row;
  --fdSplitter_Pagination_Dot_Value: "\e107";
  --fdSplitter_Pagination_Container_Height: 2rem;
  --fdSplitter_Resizer_Gap: 2rem;
  --fdSplitter_Resizer_Width: auto;
  --fdSplitter_Resizer_Height: auto;
  --fdSplitter_Resizer_Cursor: auto;
  --fdSplitter_Resizer_Grip_Cursor: auto;
  --fdSplitter_Resizer_Flex_Direction: row;
  --fdSplitter_Resizer_Background: transparent;
  --fdSplitter_Resizer_Before_Background: linear-gradient(to left, var(--sapGroup_TitleBorderColor), transparent);
  --fdSplitter_Resizer_After_Background: linear-gradient(to right, var(--sapGroup_TitleBorderColor), transparent);
  --fdSplitter_Resizer_Line_Border_Radius: 0.125rem;
  --fdSplitter_Resizer_Line_Thickness: 0.0625rem;
  --fdSplitter_Resizer_Line_Size: 4rem;

  width: 100%;
  height: 100%;

  @include fd-flex();

  @include fd-splitter-resizer-decorations() {
    @include fd-splitter-line-horizontal(false);
  }

  &,
  &__pagination,
  &__pagination-item-dot {
    @include fd-reset();
  }

  &__resizer,
  &__resizer-grip,
  &__resizer-grip-icon,
  &__resizer-decoration-before,
  &__resizer-decoration-after {
    @include fd-reset();

    user-select: none;
  }

  &__pane-container,
  &__pane {
    @include fd-reset();

    max-width: 100%;
    max-height: 100%;
  }

  &__pane-container {
    @include fd-flex() {
      flex: 1;
      flex-direction: var(--fdSplitter_Pane_Container_Flex_Direction);
    }

    &--horizontal {
      --fdSplitter_Resizer_Width: auto;
      --fdSplitter_Resizer_Height: 1rem;
      --fdSplitter_Resizer_Flex_Direction: row;
      --fdSplitter_Pane_Container_Flex_Direction: column;
      --fdSplitter_Resizer_Before_Background: linear-gradient(to left, var(--sapGroup_TitleBorderColor), transparent);
      --fdSplitter_Resizer_After_Background: linear-gradient(to right, var(--sapGroup_TitleBorderColor), transparent);

      & > .#{$block}__resizer {
        @include fd-splitter-resizer-decorations() {
          @include fd-splitter-line-horizontal(false);
        }

        .#{$block}__resizer-grip {
          --fdSplitter_Resizer_Grip_Cursor: row-resize;

          @include fd-splitter-resizer-decoration-before-focus() {
            --fdSplitter_Resizer_Before_Background: linear-gradient(to left, var(--sapContent_FocusColor), transparent);
          }

          @include fd-splitter-resizer-decoration-after-focus() {
            --fdSplitter_Resizer_After_Background: linear-gradient(to right, var(--sapContent_FocusColor), transparent);
          }

          @include fd-splitter-resizer-decoration-before-active() {
            @include fd-splitter-line-horizontal(true);

            --fdSplitter_Resizer_Before_Background: var(--sapGroup_TitleBorderColor);
          }

          @include fd-splitter-resizer-decoration-after-active() {
            @include fd-splitter-line-horizontal(true);

            --fdSplitter_Resizer_After_Background: var(--sapGroup_TitleBorderColor);
          }
        }
      }
    }

    &--vertical {
      --fdSplitter_Resizer_Width: 1rem;
      --fdSplitter_Resizer_Cursor: col-resize;
      --fdSplitter_Resizer_Flex_Direction: column;
      --fdSplitter_Resizer_Before_Background: linear-gradient(to top, var(--sapGroup_TitleBorderColor), transparent);
      --fdSplitter_Resizer_After_Background: linear-gradient(to bottom, var(--sapGroup_TitleBorderColor), transparent);

      & > .#{$block}__resizer {
        @include fd-splitter-resizer-decorations() {
          @include fd-splitter-line-vertical(false);
        }
        .#{$block}__resizer-grip {
          --fdSplitter_Resizer_Grip_Cursor: col-resize;

          @include fd-splitter-resizer-decoration-before-focus() {
            --fdSplitter_Resizer_Before_Background: linear-gradient(to top, var(--sapContent_FocusColor), transparent);
          }

          @include fd-splitter-resizer-decoration-after-focus() {
            --fdSplitter_Resizer_After_Background: linear-gradient(to bottom, var(--sapContent_FocusColor), transparent);
          }

          @include fd-splitter-resizer-decoration-before-active() {
            @include fd-splitter-line-vertical(true);

            --fdSplitter_Resizer_Before_Background: var(--sapGroup_TitleBorderColor);
          }

          @include fd-splitter-resizer-decoration-after-active() {
            @include fd-splitter-line-vertical(true);

            --fdSplitter_Resizer_After_Background: var(--sapGroup_TitleBorderColor);
          }
        }

        @include fd-focus() {
          --fdSplitter_Resizer_Before_Background: linear-gradient(to top, var(--sapContent_FocusColor), transparent);
          --fdSplitter_Resizer_After_Background: linear-gradient(to bottom, var(--sapContent_FocusColor), transparent);
        }
      }
    }
  }

  &__split-pane {
    @include fd-flex(column) {
      flex-grow: 1;
    }

    overflow: auto;
    border-radius: 0.5rem;
    text-overflow: ellipsis;
    box-shadow: var(--fdSplitter_Split_Pane_BoxShadow);
    background: var(--fdSplitter_Split_Pane_Background);

    &--translucent {
      --fdSplitter_Split_Pane_Background: var(--sapBackgroundColor);
      --fdSplitter_Split_Pane_BoxShadow: var(--sapSplitPane_Shadow1);
    }

    &--solid {
      --fdSplitter_Split_Pane_BoxShadow: var(--sapSplitPane_Shadow1);
      --fdSplitter_Split_Pane_Background: var(--sapGroup_ContentBackground);
    }
  }

  &__resizer {
    @include fd-flex-center() {
      gap: var(--fdSplitter_Resizer_Gap);
    }

    overflow: visible;
    position: relative;
    border-radius: 0.5rem;
    width: var(--fdSplitter_Resizer_Width);
    height: var(--fdSplitter_Resizer_Height);
    cursor: var(--fdSplitter_Resizer_Cursor);
    border: var(--fdSplitter_Resizer_Border);
    background: var(--fdSplitter_Resizer_Background);
    flex-direction: var(--fdSplitter_Resizer_Flex_Direction);

    &--translucent {
      --fdSplitter_Resizer_Background: var(--sapGroup_ContentBackground);
    }

    &--solid {
      --fdSplitter_Resizer_Background: var(--sapContent_ForegroundColor);
    }

    @include fd-active() {
      --fdSplitter_Resizer_Before_Background: var(--sapGroup_TitleBorderColor);
      --fdSplitter_Resizer_After_Background: var(--sapGroup_TitleBorderColor);
    }

    @include fd-focus() {
      --fdSplitter_Resizer_Before_Background: linear-gradient(to left, var(--sapContent_FocusColor), transparent);
      --fdSplitter_Resizer_After_Background: linear-gradient(to right, var(--sapContent_FocusColor), transparent);

      @include fd-active() {
        --fdSplitter_Resizer_Before_Background: var(--sapGroup_TitleBorderColor);
        --fdSplitter_Resizer_After_Background: var(--sapGroup_TitleBorderColor);
      }
    }
  }

  &__resizer-decoration-before {
    order: 1;
    transition: all 0.1s ease-in;
    background: var(--fdSplitter_Resizer_Before_Background);
    border-radius: var(--fdSplitter_Resizer_Line_Border_Radius);
  }

  &__resizer-decoration-after {
    order: 3;
    transition: all 0.1s ease-in;
    background: var(--fdSplitter_Resizer_After_Background);
    border-radius: var(--fdSplitter_Resizer_Line_Border_Radius);
  }

  .#{$block}__resizer-grip {
    order: 2;
    position: absolute;
    cursor: var(--fdSplitter_Resizer_Grip_Cursor);
  }

  &__pagination {
    @include fd-flex-center();

    width: 100%;
    height: var(--fdSplitter_Pagination_Container_Height);
  }

  &__pagination-item {
    &-dot {
      &::before {
        @include fd-flex-vertical-center();

        font-size: 0.75rem;
        line-height: 0.75rem;
        font-family: "SAP-icons-TNT";
        content: var(--fdSplitter_Pagination_Dot_Value);
      }
    }

    &--active {
      --fdSplitter_Pagination_Dot_Value: '\e108';
    }
  }

  @include fd-compact-or-condensed() {
    --fdSplitter_Resizer_Gap: 1.625rem;
    --fdSplitter_Pagination_Container_Height: 1.625rem;
  }
}
