@use "sass:map";

@import "./mixins";
@import "./new-settings";

$block: #{$fd-namespace}-step-input;

.#{$block} {
  $fd-button-icon-font-size: 0.875rem;
  $fd-step-input-cozy-height: 2.25rem;
  $fd-step-input-compact-height: 1.625rem;
  $fd-step-input-description-padding: 0.5rem;

  --fdStepInput_Button_Width: var(--fdStepInput_Button_Width_Cozy);
  --fdStepInput_Bordered_Button_Width: var(--fdStepInput_Button_Width_Semantic_Cozy);

  // @include fd-reset();
  @include fd-input-field-base(true);
  @include fd-input-field-states(true);
  @include fd-input-group-button-overwrite();

  position: relative;
  width: auto;
  display: inline-flex;
  align-items: center;
  padding: 0;

  &--full-width {
    width: 100%;
  }

  & &__button.#{$fd-namespace}-button {
    width: var(--fdStepInput_Button_Width);
    min-width: var(--fdStepInput_Button_Width);

    &::before,
    &::after {
      font-size: $fd-button-icon-font-size;
      margin: 0;
    }

    @include fd-focus() {
      outline: none;

      &::after {
        display: none;
      }

      @include fd-hover() {
        z-index: auto;
      }
    }
  }

  &__input.#{$fd-namespace}-input {
    --fdInput_Field_Padding: 0 0.25rem;

    text-align: end;
    border: none;
    margin: 0;
    background: none;
    box-shadow: none;
    background-color: transparent;

    @include fd-hover() {
      @include fd-input-field-nested-reset();
    }

    @include fd-focus() {
      @include fd-input-field-nested-reset();

      outline: none;
    }
  }

  &__container {
    @include fd-flex-vertical-center();
  }

  /** Width is different due to different border width  */
  &.is-information,
  &.is-error,
  &.is-warning {
    .#{$block}__button.#{$fd-namespace}-button {
      width: var(--fdStepInput_Button_Width_Semantic_Cozy);
      min-width: var(--fdStepInput_Button_Width_Semantic_Cozy);
    }
  }

  @include fd-compact-or-condensed() {
    --fdStepInput_Button_Width: var(--fdStepInput_Button_Width_Compact);
    --fdStepInput_Bordered_Button_Width: var(--fdStepInput_Button_Width_Semantic_Compact);
    --fdInput_Field_Compact_Padding: 0 0.25rem;

    height: $fd-step-input-compact-height;
    min-height: $fd-step-input-compact-height;

    .#{$block}__input.#{$fd-namespace}-input {
      height: 100%;
    }

    &.is-readonly {
      --fdInput_Field_Compact_Padding: 0 0.5rem;
    }
  }

  &.is-readonly {
    .#{$block}__input.#{$fd-namespace}-input {
      --fdInput_Field_Padding: 0 0.625rem;
    }

    .#{$block}__button.#{$fd-namespace}-button {
      display: none;
    }

    @include fd-focus-within() {
      border-radius: var(--sapField_BorderCornerRadius);

      .#{$block}__input {
        background: transparent;
      }
    }
  }

  @include fd-focus() {
    &.is-information,
    &.is-error,
    &.is-warning,
    &.is-success {
      .#{$block}__button.#{$fd-namespace}-button:not(:hover) {
        box-shadow: none;
      }
    }
  }
}
