@use "sass:map";

@import "./new-settings";
@import "./mixins";
@import "./mixins/table/table-fixed";
@import "./mixins/table/table-states";
@import "mixins/table/table-pop-in";
@import "./mixins/table/table-no-borders";
@import "./mixins/table/table-group-and-tree";

$block: #{$fd-namespace}-table;
$table-z-index: (
  "fixed": 1,
  "header-footer": 2,
  "header-fixed": 3,
  "focus": 4
);

.#{$block} {
  --fdTable_Header_Cell_Height: 2.75rem;
  --fdTable_Cell_Height: 2.75rem;

  &,
  &__cell,
  &__row,
  &__header,
  &__body,
  &__footer,
  &__text {
    @include fd-reset();
  }

  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-bottom-left-radius: var(--fdTable_Border_Radius);
  border-bottom-right-radius: var(--fdTable_Border_Radius);

  /****** Elements ******/

  &__icon {
    @include fd-icon-element-base() {
      @include fd-flex-center();

      color: var(--sapContent_NonInteractiveIconColor);
      font-size: var(--sapFontSmallSize);
    }

    &--navigation {
      $fd-table-icon-with: 2rem;

      @include fd-icon-selector() {
        font-size: var(--sapFontSmallSize);
        width: $fd-table-icon-with;
        min-width: $fd-table-icon-with;
        height: 100%;

        @include fd-rtl() {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__header {
    .#{$block}__cell {
      height: var(--fdTable_Header_Cell_Height);
      background-color: var(--sapList_HeaderBackground);
      color: var(--sapList_HeaderTextColor);
      font-family: var(--sapFontSemiboldDuplexFamily);
      border-top: var(--fdTable_Header_Horizontal_Border);
      border-bottom: var(--fdTable_Header_Horizontal_Border);

      @include fd-hover() {
        background-color: var(--fdTable_Header_Cell_Hover_Background);
        color: var(--fdTable_Header_Cell_Hover_Active_Color);
      }

      @include fd-active() {
        background-color: var(--fdTable_Header_Cell_Active_Background);
        color: var(--fdTable_Header_Cell_Hover_Active_Color);
      }

      &.#{$block}__cell--non-interactive {
        @include fd-hover() {
          background-color: var(--sapList_HeaderBackground);
          color: var(--sapList_HeaderTextColor);
        }
  
        @include fd-active() {
          background-color: var(--sapList_HeaderBackground);
          color: var(--sapList_HeaderTextColor);
        }
      }
    }

    &--non-interactive {
      .#{$block}__cell {
        @include fd-hover() {
          background-color: var(--sapList_HeaderBackground);
        }

        @include fd-active() {
          background-color: var(--sapList_HeaderBackground);
        }
      }
    }
  }

  &__text {
    @include fd-ellipsis();

    word-break: break-word;
    white-space: normal;
    text-shadow: var(--sapContent_TextShadow);

    &--no-wrap {
      white-space: nowrap;
    }
  }

  &__cell {
    text-align: left;
    height: var(--fdTable_Cell_Height);
    padding-block: 0;
    padding-inline: 0.5rem;
    color: inherit;
    outline: none;
    border-bottom: var(--sapList_BorderWidth) var(--fdTable_Cell_Horizontal_Border_Style, solid) var(--sapList_BorderColor);

    @include fd-set-border-left(var(--sapList_BorderWidth) var(--fdTable_Cell_Vertical_Border_Style, solid) var(--sapList_BorderColor));

    @include fd-last-child() {
      @include fd-set-border-right(var(--sapList_BorderWidth) var(--fdTable_Cell_Vertical_Border_Style, solid) var(--sapList_BorderColor));
    }

    @include fd-rtl() {
      text-align: right;
    }

    &--no-data {
      text-align: center;
    }

    &--mock {
      padding-inline: 0;
      padding-block: 0;
      width: auto;
    }

    &--checkbox {
      width: var(--fdTable_Header_Cell_Height);
      vertical-align: baseline;
      padding-inline: 0;
      padding-block: 0;
    }

    &--fit-content {
      width: 0.5rem;
      word-break: keep-all;
      white-space: nowrap;
    }

    &--no-padding {
      padding-inline: 0;
      padding-block: 0;
    }

    &--status-indicator {
      width: 0.375rem;
      padding-inline: 0;
      padding-block: 0;
    }

    &--navigated {
      box-shadow: inset -0.1875rem 0 var(--sapSelectedColor);

      @include fd-rtl() {
        box-shadow: inset 0.1875rem 0 var(--sapSelectedColor);
      }
    }

    &:first-child:not(.#{$block}__cell--checkbox, &.#{$block}__cell--status-indicator) {
      @include fd-set-padding-left(1rem);
    }
  }

  &__row {
    background-color: var(--sapList_Background);

    @include fd-selected() {
      background-color: var(--sapList_SelectionBackgroundColor);

      .#{$block}__cell {
        border-bottom-color: var(--sapList_SelectionBorderColor);
      }
    }
  }

  &__cell,
  &__row {
    &--hoverable {
      @include fd-hover() {
        background-color: var(--sapList_Hover_Background);
        color: var(--fdTable_Hover_Down_Color);
      }

      @include fd-selected() {
        @include fd-hover() {
          background-color: var(--sapList_Hover_SelectionBackground);
        }
      }
    }

    &--activable,
    &--focusable {
      @include fd-fiori-pseudo-focus();

      position: relative;

      &::after {
        z-index: map.get($table-z-index, "focus");
      }
    }

    &--activable {
      cursor: pointer;

      @include fd-active() {
        background-color: var(--sapList_Active_Background);
        color: var(--sapList_Active_TextColor);

        * {
          color: var(--sapList_Active_TextColor) !important;
        }

        .#{$block}__cell {
          @include fd-hover() {
            background-color: var(--sapList_Active_Background);
          }
        }

        .#{$block}__text {
          text-shadow: none;
        }

        .#{$block}__icon {
          @include fd-icon-selector() {
            color: var(--sapContent_ContrastIconColor);
          }
        }

        .#{$fd-namespace}-link,
        .#{$fd-namespace}-form-label,
        .#{$fd-namespace}-object-status {
          color: inherit;
        }
      }

      @include fd-selected() {
        @include fd-active() {
          background-color: var(--sapList_Active_Background);

          .#{$block}__cell {
            border-bottom-color: var(--sapList_Active_Background);
          }
        }
      }
    }
  }

  &__body:not(:last-child) {
    .#{$block}__row:last-child {
      .#{$block}__cell {
        border-bottom-color: transparent;
      }
    }
  }

  &__footer {
    .#{$block}__row {
      vertical-align: middle;
      background-color: var(--sapList_Background);
    }

    .#{$block}__cell {
      font-weight: bold;
      border-top: 0.125rem solid var(--sapList_TableFooterBorder);
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }

  &__inner {
    @include fd-reset();

    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__column-header-icons {
    display: flex;

    .#{$block}__icon:not(:last-child) {
      margin-inline-end: 0.25rem;
    }
  }

  &__caption {
    @include fd-screen-reader-only();
  }

  &__item--clickable {
    cursor: pointer;
  }

  &__popover.#{$fd-namespace}-popover {
    height: 100%;
    display: block;
    color: inherit;

    .#{$fd-namespace}-popover__control {
      width: 100%;
      height: 100%;
      color: inherit;

      @include fd-flex-vertical-center();
    }
  }

  /****** Modifiers ******/

  @include fd-compact() {
    --fdTable_Cell_Height: 2rem;
  }

  @include fd-condensed() {
    --fdTable_Cell_Height: 1.5rem;

    .#{$block}__body,
    .#{$block}__footer {
      .#{$block}__cell--checkbox {
        .#{$block}__checkbox-label {
          margin-top: -0.25rem;
          position: absolute;
        }
      }

      .#{$block}__cell,
      .#{$block}__row {
        &--activable,
        &--focusable {
          &::after {
            inset: var(--fdTable_Condensed_Focus_Outline_Offset) var(--fdTable_Condensed_Focus_Outline_Offset) var(--fdTable_Condensed_Focus_Outline_Offset) var(--fdTable_Condensed_Focus_Outline_Offset);
          }
        }
      }
    }
  }

  @include fd-compact-or-condensed() {
    --fdTable_Header_Cell_Height: 2rem;
  }

  &--hidden {
    display: none;
  }

  @include fd-table-fixed();
  @include fd-table-states();
  @include fd-table-pop-in();
  @include fd-table-no-borders();
  @include fd-table-group-and-tree();
}
