@use "sass:map";

@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-textarea;

.#{$block} {
  @include fd-scrollbar();
  @include fd-input-field-base();
  @include fd-input-field-states();
  @include fd-form-text();

  min-width: 6rem;
  width: 100%;
  min-height: 2.25rem;
  height: auto;
  margin-block: 0.25rem;
  margin-inline: 0;
  padding-block: 0.5rem;
  padding-inline: 0.625rem;
  white-space: pre-wrap;
  overflow: auto;
  resize: none;
  display: block;
  cursor: text;
  position: relative;
  line-height: var(--fdTextarea_Line_Height);

  &[readonly],
  &.is-readonly {    
    background: var(--sapField_ReadOnly_Background);
    border-radius: var(--sapField_BorderCornerRadius);
    border: var(--sapField_BorderWidth) dashed var(--sapField_ReadOnly_BorderColor);

    @include fd-hover() {
      background: var(--sapField_ReadOnly_Background);
    }

    @include fd-focus() {
      outline-offset: -0.25rem;
      background: var(--sapField_ReadOnly_Background);
    }
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-corner {
    background: transparent;
    border-radius: 0 var(--sapField_BorderCornerRadius) var(--sapField_BorderCornerRadius) 0 !important;
  }

  &__sr-only {
    @include fd-screen-reader-only();
  }

  &[aria-expanded="false"] {
    z-index: 0;
  }

  @include fd-expanded() {
    z-index: 4;
  }

  @include fd-compact-or-condensed() {
    min-height: 1.625rem;
    margin-block: 0.1875rem;
    margin-inline: 0;
    padding-block: 0.1875rem;
    padding-inline: 0.5rem;
  }

  &-counter {
    @include fd-reset();
    @include fd-ellipsis();

    color: var(--sapContent_LabelColor);
    font-size: var(--sapFontSmallSize);
    padding-block: 0.375rem 0.5rem;
    padding-inline: 0.125rem;
    text-align: end;
    
    @include fd-disabled() {
      display: none;
    }

    &[readonly],
    &.is-readonly {
      display: none;
    }
  }

  &-counter-container {
    @include fd-reset();

    @include fd-flex() {
      align-items: center;
    };

    padding-block: 0.375rem 0.5rem;

    .#{$block}-counter {
      padding-block: 0;
      margin-inline-start: auto;
    }
  }

  &--ai {
    position: relative;

    &:has(.#{$fd-namespace}-ai-busy-indicator) {
      padding-inline: 0;
      padding-block: 0;
    }

    .#{$fd-namespace}-toolbar--ai {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
