@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-time;

.#{$block} {
  @include fd-reset();

  $fd-time-item-height: 2.875rem;
  $fd-time-wrapper-height: 7 * $fd-time-item-height;
  $fd-time-item-compact-height: 2rem;
  $fd-time-wrapper-compact-height: 7 * $fd-time-item-compact-height;
  $fd-time-dropdown-padding: 1rem;
  $fd-time-dropdown-compact-padding: 0.5rem;
  $fd-time-column-margin-x: 0.5rem;
  $fd-time-item-width: 3rem;

  --fdTime_Item_Height: #{$fd-time-item-height};
  --fdTime_Dropdown_Padding: #{$fd-time-dropdown-padding};
  --fdTime_Wrapper_Height: #{$fd-time-wrapper-height};
  --fdTime_Unit_Line_Height: 2.75rem;

  @include fd-flex() {
    justify-content: center;
  }

  padding: var(--fdTime_Dropdown_Padding);

  &__col {
    @include fd-reset();

    @include fd-flex-vertical-center() {
      flex-direction: column;
    }

    margin-right: $fd-time-column-margin-x;

    &:last-child {
      margin-right: 0;
    }
  }

  &__current-indicator {
    @include fd-reset();

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    box-sizing: border-box;
    width: $fd-time-item-width;
    height: var(--fdTime_Item_Height);
    border: 0.0625rem solid var(--sapList_SelectionBorderColor);
    border-radius: var(--sapButton_BorderCornerRadius);
  }

  &__wrapper {
    @include fd-reset();

    @include fd-flex-center() {
      flex-direction: column;
    }

    overflow: hidden;
    position: relative;
    flex: 1 1 auto;
    width: $fd-time-item-width;

    &--active {
      max-height: var(--fdTime_Wrapper_Height);
      height: var(--fdTime_Wrapper_Height);
      justify-content: initial;
    }

    &--meridian {
      .#{$block}__item {
        &:first-child {
          margin-top: calc(var(--fdTime_Item_Height) * 3);
        }

        &:last-child {
          margin-bottom: calc(var(--fdTime_Item_Height) * 3);
        }
      }

      .#{$block}__list {
        height: var(--fdTime_Wrapper_Height);
      }
    }
  }

  &__item {
    @include fd-reset();
    @include fd-flex-center();

    cursor: default;
    width: $fd-time-item-width;
    height: var(--fdTime_Item_Height);
    min-height: var(--fdTime_Item_Height);
    border-radius: var(--sapButton_BorderCornerRadius);
    background-color: var(--sapLegend_WorkingBackground);
    border: 0.0625rem solid var(--sapList_Background);
    text-shadow: var(--fdTime_Text_Shadow);

    &:hover {
      background-color: var(--sapList_Hover_Background);
    }

    &:active {
      background-color: var(--sapContent_Selected_Background);
      border-color: transparent;
      color: var(--sapContent_Selected_TextColor);
    }

    &--current {
      border-color: var(--sapList_SelectionBorderColor);
      background-color: var(--sapList_Background);

      &:hover {
        background-color: var(--sapList_Hover_Background);
      }

      &:active {
        background-color: var(--sapContent_Selected_Background);
        border-color: transparent;
        color: var(--sapContent_Selected_TextColor);
      }
    }

    &--collapsed {
      background-color: var(--sapContent_Selected_Background);
      color: var(--sapContent_Selected_TextColor);
      border-color: transparent;

      &:hover {
        background-color: var(--sapContent_Selected_Hover_Background);
      }
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &__unit {
    @include fd-reset();
    @include fd-ellipsis();

    text-align: center;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    line-height: var(--fdTime_Unit_Line_Height);
  }

  &__list {
    @include fd-reset();
    @include fd-remove-scrollbar();

    overflow: hidden;
  }

  &__slider-label {
    @include fd-form-label();

    line-height: $fd-time-item-compact-height;
    height: $fd-time-item-compact-height;
    font-size: var(--sapFontSmallSize);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    padding: 0;
    margin: 0;
    align-self: auto;

    @include fd-rtl() {
      padding: 0;
      margin: 0;
    }
  }

  &__control {
    @include fd-reset();
  }

  &--tablet {
    --fdTime_Dropdown_Padding: #{$fd-time-dropdown-compact-padding};
    --fdTime_Item_Height: #{$fd-time-item-height};
  }

  @include fd-compact() {
    --fdTime_Dropdown_Padding: #{$fd-time-dropdown-compact-padding};
    --fdTime_Item_Height: #{$fd-time-item-compact-height};
    --fdTime_Wrapper_Height: #{$fd-time-wrapper-compact-height};
    --fdTime_Unit_Line_Height: 1.875rem;
  }

  &--scrollable {
    .#{$block}__list {
      overflow: auto;
    }
  }

  @include fd-rtl() {
    .#{$block}__col {
      margin-right: 0;
      margin-left: $fd-time-column-margin-x;

      &:last-child {
        margin-left: 0;
      }
    }
  }
}
