@use "sass:map";

@import "./mixins";
@import "./dialog-placeholders";

$block: #{$fd-namespace}-title;

.#{$block} {
  --fdTitle_Font_Size: 1rem;
  --fdTitle_Color: var(--sapTextColor);
  --fdTitle_Font_Family: var(--sapFontHeaderFamily);

  @include fd-reset();

  @extend %dialog-title;

  color: var(--fdTitle_Color);
  font-size: var(--fdTitle_Font_Size);
  font-family: var(--fdTitle_Font_Family);

  &--h1 {
    --fdTitle_Font_Size: var(--sapFontHeader1Size);
  }

  &--h2 {
    --fdTitle_Font_Size: var(--sapFontHeader2Size);
  }

  &--h3 {
    --fdTitle_Font_Size: var(--sapFontHeader3Size);
  }

  &--h4 {
    --fdTitle_Font_Size: var(--sapFontHeader4Size);
  }

  &--h5 {
    --fdTitle_Font_Size: var(--sapFontHeader5Size);
  }

  &--h6 {
    --fdTitle_Font_Size: var(--sapFontHeader6Size);
  }

  &--wrap {
    overflow: auto;
    white-space: normal;
    text-overflow: initial;
  }

  &--two-line-clamp {
    @include fd-line-clamp(2);
  }
}
