@import "./mixins";
@import "./dialog-placeholders";

$block: #{$fd-namespace}-title;

.#{$block} {
  @include fd-reset();

  @extend %dialog-title;

  color: var(--sapTextColor);
  font-family: var(--fdTitle_Font_Family);

  &--h1 {
    font-size: var(--sapFontHeader1Size);
  }

  &--h2 {
    font-size: var(--sapFontHeader2Size);
  }

  &--h3 {
    font-size: var(--sapFontHeader3Size);
  }

  &--h4 {
    font-size: var(--sapFontHeader4Size);
  }

  &--h5 {
    font-size: var(--sapFontHeader5Size);
  }

  &--h6 {
    font-size: var(--sapFontHeader6Size);
  }

  &--wrap {
    overflow: auto;
    white-space: normal;
    text-overflow: initial;
  }
}
