@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-token;

.#{$block} {
  cursor: default;

  @mixin fd-token-focus() {
    @include fd-fiori-focus(var(--fdToken_Outline_Offset)) {
      box-shadow: none;

      @content;
    }
  }

  $fd-token-height: 1.625rem;
  $fd-token-compact-height: 1.25rem;
  $fd-token-compact-close-width: 1.25rem;
  $fd-token-close-width: 1.75rem;
  $fd-token-padding-horizontal: var(--fdToken_Padding_Left);
  $fd-token-padding-vertical: 0.25rem;
  $fd-token-compact-padding-horizontal: 0.25rem;
  $fd-token-compact-padding-vertical: 0.1rem;

  $fd-token-icon-color: var(--sapContent_IconColor) !default;

  $fd-token-selected-text-color: var(--sapButton_Selected_TextColor) !default;

  // readonly
  $fd-token-readonly-padding-horizontal: 0.375rem;
  $fd-token-compact-readonly-padding-horizontal: 0.25rem;

  @include fd-reset();

  font-size: var(--sapFontSize);
  color: var(--fdToken_Text_Color);
  border-radius: var(--fdToken_Border_Radius);
  background-color: var(--sapButton_TokenBackground);
  border: var(--sapButton_BorderWidth) solid var(--sapButton_TokenBorderColor);
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
  padding: $fd-token-padding-vertical 0 $fd-token-padding-vertical $fd-token-padding-horizontal;
  white-space: nowrap;
  max-width: 100%;
  min-width: 3.625rem;
  text-overflow: clip;
  height: $fd-token-height;
  line-height: 1.5rem;

  @include fd-rtl() {
    padding-left: 0;
    padding-right: $fd-token-padding-horizontal;
  }

  &__text {
    overflow: hidden;
    max-width: 100%;
    min-width: auto;
    width: 100%;
    text-overflow: ellipsis;
    text-shadow: var(--fdToken_Text_Shadow);
  }

  &__close {
    @include fd-reset();

    font-size: var(--sapFontSmallSize);
    color: $fd-token-icon-color;
    padding: 0.25rem 0.5rem;
    width: $fd-token-close-width;
    min-width: $fd-token-close-width;
    height: $fd-token-height;
    background-color: transparent;
    line-height: 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @include fd-icon("decline");

    @include fd-focus() {
      outline: none;
      box-shadow: none;
    }
  }

  &:hover {
    background-color: var(--fdToken_Background_Color_Hover);
    border-color: var(--fdToken_Border_Color_Hover);
    box-shadow: var(--fdToken_Box_Shadow_Hover);
  }

  @include fd-token-focus();

  &--compact {
    padding: $fd-token-compact-padding-vertical 0 $fd-token-compact-padding-vertical $fd-token-compact-padding-horizontal;
    height: $fd-token-compact-height;
    min-width: 3rem;
    line-height: 1.125rem;

    .#{$block}__close {
      padding: $fd-token-compact-padding-vertical $fd-token-compact-padding-horizontal;
      vertical-align: baseline;
      width: $fd-token-compact-close-width;
      min-width: $fd-token-compact-close-width;
      height: $fd-token-compact-height;
    }

    @include fd-rtl() {
      padding-left: 0;
      padding-right: $fd-token-compact-padding-horizontal;
    }

    @include fd-token-focus() {
      outline-offset: var(--fdToken_Outline_Offset_Compact);
    }
  }

  &--disabled {
    cursor: not-allowed;
  }

  &--readonly {
    color: var(--sapContent_LabelColor);
    background-color: var(--fdToken_Background_Color_Read_Only);
    padding: $fd-token-padding-vertical $fd-token-readonly-padding-horizontal;
    border: var(--sapButton_BorderWidth) solid var(--fdToken_Border_Color_Read_Only);

    &.#{$block}--compact {
      padding: $fd-token-compact-padding-vertical $fd-token-compact-readonly-padding-horizontal;

      @include fd-rtl() {
        padding-left: $fd-token-compact-readonly-padding-horizontal;
      }
    }

    @include fd-hover() {
      box-shadow: none;
      color: var(--sapContent_LabelColor);
      background-color: var(--fdToken_Background_Color_Read_Only);
      border: var(--sapButton_BorderWidth) solid var(--fdToken_Border_Color_Read_Only);
    }

    @include fd-rtl() {
      padding-left: $fd-token-readonly-padding-horizontal;
    }
  }

  &.#{$block}--selected {
    color: $fd-token-selected-text-color;
    background-color: var(--sapButton_Selected_Background);
    border-color: var(--sapButton_Selected_BorderColor);

    .#{$block}__close {
      color: $fd-token-selected-text-color;
    }

    @include fd-hover() {
      background-color: var(--sapButton_Selected_Hover_Background);
      border-color: var(--sapButton_Selected_Hover_BorderColor);
      box-shadow: var(--fdToken_Box_Shadow_Selected_Hover);
    }

    @include fd-token-focus() {
      outline-color: var(--fdToken_Border_Color_Selected_Focus);
    }
  }
}
