@use "sass:map";

@import './new-settings';
@import './mixins';

$block: #{$fd-namespace}-toolbar;

.#{$block} {
  --fdToolbar_Height: 2.75rem;
  --fdToolbar_Separator_Margin: 0;
  --fdToolbar_Padding_Left: 0.5rem;
  --fdToolbar_Padding_Right: 0.5rem;
  --fdToolbar_Separator_Height: 2rem;
  --fdToolbar_Overflow_Max_Width: 100%;
  --fdToolbar_Separator_Width: 0.0625rem;
  --fdToolbar_Info_Color: var(--sapList_TextColor);
  --fdToolbar_Background: var(--sapToolbar_Background);
  --fdToolbar_Border_Bottom: 0.0625rem solid var(--sapGroup_TitleBorderColor);
  --fdToolbar_Border_Top: 0.0625rem solid var(--sapPageFooter_BorderColor);

  @include fd-reset();

  @include fd-flex() {
    gap: 0.5rem;
    align-items: center;
  }

  @include fd-set-paddings-x(var(--fdToolbar_Padding_Left), var(--fdToolbar_Padding_Right));

  height: var(--fdToolbar_Height);
  min-height: var(--fdToolbar_Height);
  border-bottom: var(--fdToolbar_Border_Bottom);
  background-color: var(--fdToolbar_Background);

  // Blocks
  &__spacer {
    @include fd-reset();

    height: 100%;
    flex: 1 auto;

    &--fixed {
      flex: none;
      display: inline-block;
    }
  }

  &__separator {
    @include fd-reset();

    width: var(--fdToolbar_Separator_Width);
    height: var(--fdToolbar_Separator_Height);
    margin-inline: 0;
    margin-block: var(--fdToolbar_Separator_Margin);
    background-color: var(--sapToolbar_SeparatorColor);
  }

  &__overflow {
    @include fd-reset();
    @include fd-flex(column);

    --fdToolbar_Separator_Width: auto;
    --fdToolbar_Separator_Height: 0.0625rem;
    --fdToolbar_Separator_Margin: 0.1875rem;
    --fdToolbar_Overflow_Padding_Block: 0.25rem;
    --fdToolbar_Overflow_Padding_Inline: 0.5rem;

    overflow: auto;
    max-height: 50vh;
    padding-block: var(--fdToolbar_Overflow_Padding_Block);
    padding-inline: var(--fdToolbar_Overflow_Padding_Inline);
    max-width: var(--fdToolbar_Overflow_Max_Width);

    @include fd-compact-or-condensed() {
      --fdToolbar_Overflow_Padding_Block: 0.1875rem;
      --fdToolbar_Overflow_Padding_Inline: 0.375rem;
    }

    & .#{$block}__overflow-button {
      width: auto;
      text-align: left;
      margin-inline: 0;
      margin-block: 0.1875rem;
      justify-content: flex-start;

      @include fd-rtl() {
        text-align: right;
      }

      &--menu {
        @include fd-flex-center() {
          justify-content: space-between;
        }

        max-width: 100%;
      }
    }

    .#{$block}__overflow-form-label {
      margin-block: 0.625rem 0.125rem;
      margin-inline: 0;
    }

    .#{$block}__overflow-label {
      margin-block: 0.375rem;
      margin-inline: 0;
    }
  }

  .#{$block} {
    &__title {
      --fdTitle_Font_Size: var(--sapGroup_Title_FontSize);
      --fdTitle_Color: var(--sapGroup_TitleTextColor);
    }
  }

  // Modifiers
  &--auto {
    --fdToolbar_Background: var(--fdToolbar_Auto_Background);
  }

  &--solid {
    --fdToolbar_Background: var(--fdToolbar_Solid_Background);
  }

  &--transparent {
    --fdToolbar_Background: var(--fdToolbar_Transparent_Background);
  }

  &--clear {
    --fdToolbar_Border_Bottom: none;
  }

  &--ai {
    --fdToolbar_Border_Bottom: none;
    --fdToolbar_Background: var(--fdToolbar_Transparent_Background);
    --fdToolbar_Padding_Left: 0.5rem;
    --fdToolbar_Padding_Right: 0.25rem;

    &.is-active {
      --fdToolbar_Background: var(--fdToolbar_Solid_Background);

      border-top: var(--fdToolbar_Border_Top);
    }
  }

  &--title {
    --fdToolbar_Height: 2.75rem;
    --fdToolbar_Padding_Left: 1rem;
    --fdToolbar_Background: var(--sapGroup_TitleBackground);
  }

  &.#{$block}--title-bar {
    @include fd-set-paddings-y-equal(0.375rem);

    --fdToolbar_Height: auto;
    --fdToolbar_Padding_Left: 0.75rem;
    --fdToolbar_Padding_Right: 0.75rem;
  }

  &--info {
    position: relative;
    color: var(--fdToolbar_Info_Color);

    --fdToolbar_Height: 2rem;
    --fdToolbar_Background: var(--sapInfobar_NonInteractive_Background);

    [class*='sap-icon'] {
      font-size: 1rem;
      height: 1rem;
      line-height: 1rem;
      color: var(--sapList_TextColor);
    }
  }

  &--active {
    outline: none;
    position: relative;

    --fdToolbar_Background: var(--sapInfobar_Background);
    --fdToolbar_Info_Color: var(--sapInfobar_TextColor);

    @include fd-fiori-pseudo-focus();

    @include fd-hover() {
      --fdToolbar_Background: var(--sapInfobar_Hover_Background);
    }

    @include fd-active() {
      --fdToolbar_Background: var(--sapInfobar_Active_Background);
    }

    @include fd-focus() {
      &::after {
        border-color: var(--fdToolbar_Info_Outline_Color);
      }
    }
  }

  &--fade-in {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 1s;
  }

  &--fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 1s, opacity 1ms;
  }

  @include fd-compact-or-condensed() {
    --fdToolbar_Height: 2rem;
    --fdToolbar_Separator_Height: 1.5rem;
    --fdToolbar_Overflow_Max_Width: 20rem;

    &.#{$block}--title {
      --fdToolbar_Height: 2.75rem;
    }

    &.#{$block}--title-bar {
      --fdToolbar_Height: auto;
    }
  }
}
