<!--
infolabel:
    properties={},
    modifier={ block: [] }
-->
{% macro infolabel(properties={}, modifier={}, classes=[]) -%}
<span class="fd-info-label{{ modifier.block | modifier('info-label') }}{{ ' sap-icon--'+properties.icon if properties.icon }}{{classes|classes}}" style="margin-top: 10px;">{{properties.label}}</span><br>
{%- endmacro %}
