:root {
  --fdSlider_Track_Height: 0.25rem;
  --fdSlider_Track_BorderRadius: 0.25rem;
  --fdSlider_Tick_Height: 1rem;
  --fdSlider_Track_Background: var(--sapField_BorderColor);
  --fdSlider_Track_Border_Color: var(--sapSlider_BorderColor);
  --fdSlider_Track_Border_Width: 0;
  --fdSlider_Track_Active_Background: var(--sapActiveColor);
  --fdSlider_Track_Active_Border: var(--sapActiveColor);
  --fdSlider_Track_Active_Box_Shadow: none;

  // Slider handle
  --fdSlider_Handle_Background: var(--sapButton_Background);
  --fdSlider_Handle_Border_Radius: 50%;
  --fdSlider_Handle_Width: 1.25rem;
  --fdSlider_Handle_Height: var(--fdSlider_Handle_Width);
  --fdSlider_Handle_Border: 0.125rem solid var(--sapField_BorderColor);
  --fdSlider_Handle_Box_Shadow: none;
  --fdSlider_Handle_Active_Width: 2rem;
  --fdSlider_Handle_Active_Height: 2rem;
  --fdSlider_Handle_Icon_Display: none;

  // Slider handle Mobile mode
  --fdSlider_Mobile_Handle_Width: 1.625rem;
  --fdSlider_Mobile_Handle_Height: var(--fdSlider_Mobile_Handle_Width);
  --fdSlider_Mobile_Handle_Active_Size: 2.75rem;

  // Slider Handle Hover
  --fdSlider_Hover_Handle_Background: var(--sapButton_Hover_Background);
  --fdSlider_Hover_Handle_Box_Shadow: none;
  --fdSlider_Hover_Handle_Border: 0.125rem solid var(--sapButton_Hover_BorderColor);

  // Slider Handle Active
  --fdSlider_Active_Handle_Background: var(--sapButton_Active_Background);
  --fdSlider_Active_Handle_Box_Shadow: none;
  --fdSlider_Active_Range_Handle_Background: var(--fdSlider_Active_Handle_Background);

  // Slider Handle Focus
  --fdSlider_Focus_Handle_Outline_Color: var(--sapButton_Hover_BorderColor);

  // Slider Ticks
  --fdSlider_Tick_Background: var(--sapField_BorderColor);
  --fdSlider_Active_Tick_Background: var(--fdSlider_Track_Active_Border);

  // Slider End points
  --fdSlider_Endpoint_Size: 0;
  --fdSlider_Endpoint_Background: none;
  --fdSlider_Endpoint_Border: none;
  --fdSlider_Endpoint_Active_Background: none;
  --fdSlider_Endpoint_Active_Border: none;
}
