<!--
dialog:
    properties={},
-->

{% macro dialog(properties={}) %}
    <div class="fd-dialog fd-dialog--active"
         id="{% if properties.id %}{{ properties.id }}{% else %}example-dialog{% endif %}" role="dialog">
        <div role="document"
             class="fd-dialog__content
             {% set dialog = properties.dialog_content %}
             {% if dialog.is_draggable %}fd-dialog__content--draggable-grab{% endif %}
             {% if dialog.dialog_content_size %}fd-dialog__content--{{ dialog.dialog_content_size }}{% endif %}
        ">
            {% if dialog.is_resizable %}
            <span class="fd-dialog__resize-handle"></span>
            {% endif %}

            <header class="bar-playground fd-dialog__header">
                <div class="bar-left-playground">
                    <div class="bar-element-playground">
                        <h3 class="fd-dialog__title">
                            Dialog header
                        </h3>
                    </div>
                </div>
            </header>
            
            <div class="fd-dialog__body {% if dialog.has_no_vertical_paddings %}fd-dialog__body--no-vertical-padding{% endif %}">
                {{ properties.body }}
                {% if dialog.has_loader %}
                    <div class="busy-indicator-playground fd-dialog__loader" aria-hidden="false" aria-label="Loading">
                        Loader
                    </div>
                {% endif %}
            </div>

            <footer class="bar-playground fd-dialog__footer">
                <div class="bar-right-playground">
                    <div class="bar-element-playground">
                        {%- for action in properties.actions %}
                            <button class="btn-playground fd-dialog__decisive-button">{{ action.label }}</button>
                        {%- endfor %}
                    </div>
                </div>
            </footer>

        </div>
    </div>

{%- endmacro %}