@import "./sap_fiori";

:root {
  --fdWizard_Completed_Step_Color: var(--sapTextColor);
  --fdWizard_Completed_Step_Icon_Color: var(--sapTextColor);
  --fdWizard_Completed_Step_Border: 0.0625rem solid var(--sapObjectHeader_BorderColor);
  --fdWizard_Current_Step_Color: var(--sapTextColor);
  --fdWizard_Current_Step_Icon_Color: var(--sapTextColor);
  --fdWizard_Upcoming_Step_Color: var(--sapTextColor);
  --fdWizard_Upcoming_Step_Icon_Color: var(--sapTextColor);
  --fdWizard_Active_Step_Color: var(--sapTextColor);
  --fdWizard_Active_Step_Icon_Color: var(--sapTextColor);
  --fdWizard_Active_Step_Border_Color: var(--sapObjectHeader_BorderColor);
  --fdWizard_Connector_Active_Border_Color: var(--sapList_SelectionBorderColor);
  --fdWizard_Content_Solid_Background: var(--sapBackgroundColor);
  --fdWizard_Content_List_Background: var(--sapBackgroundColor);
  --fdWizard_Content_Transparent_Background: var(--sapBackgroundColor);
  --fdWizard_Selection_Bar_Height: 0.313rem;
  --fdWizard_Selection_Bar_Background: var(--sapList_SelectionBorderColor);
}
