@mixin fd-radio-compact() {
  $fd-radio-inner-circle-diameter-compact: 1rem;
  $fd-radio-outer-circle-margin-compact: 0.5rem;

  + .#{$block}__label {
    padding: $fd-radio-outer-circle-margin-compact 0 $fd-radio-outer-circle-margin-compact $fd-radio-outer-circle-margin-compact;

    @include fd-rtl() {
      padding: $fd-radio-outer-circle-margin-compact $fd-radio-outer-circle-margin-compact $fd-radio-outer-circle-margin-compact 0;
    }

    &::before {
      font-size: 0.4375rem;
      height: $fd-radio-inner-circle-diameter-compact;
      width: $fd-radio-inner-circle-diameter-compact;
      min-width: $fd-radio-inner-circle-diameter-compact;
      margin-right: $fd-radio-outer-circle-margin-compact;
      margin-left: 0;
      padding-left: $fd-radio-inner-circle-padding-x;
    }

    @include fd-rtl() {
      &::before {
        margin-left: $fd-radio-outer-circle-margin-compact;
        margin-right: 0;
        padding-left: 0;
        padding-right: $fd-radio-inner-circle-padding-x;
      }
    }

    @include fd-empty() {
      padding: $fd-radio-outer-circle-margin-compact;
      margin: 0;

      &::before,
      &::after {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  @include fd-focus() {
    + .#{$block}__label {
      @include fd-form-radio-focus($fd-radio-outer-circle-margin-compact);

      @include fd-empty() {
        @include fd-form-radio-empty-focus($fd-radio-outer-circle-margin-compact);
      }
    }
  }
}
