{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import formLabel, formLabelWrap %}

{% block content %}

<h2>Default</h2>

{% set example %}
  {{ formLabel() }}
{% endset %}
 <br><br>
{{ format(example) }}
 <br><br>

<h2>States</h2>

{% set example %}
  {{ formLabel(required="true") }}
  <br><br>
  {{ formLabel(modifier={block: ["is-disabled"]}) }}
{% endset %}

{{ format(example) }}

<h2>Unit Description</h2>
{% set example %}
  {{ formLabel(unit_description="true", text="Unit Description") }}
  <br><br>
{% endset %}

{{ format(example) }}
{% endblock %}
