@import "./list-definitions";

.#{$block} {
  &--selection {
    .#{$block}__item {
      @include fd-set-paddings-x($fd-list-selection-container-width, $fd-list-item-padding-x);

      @include fd-hover() {
        background: var(--sapList_Hover_Background);
      }

      @include fd-selected() {
        @include fd-list-item-selected-state();
      }

      cursor: pointer;
    }

    .#{$block}__form-item {
      @include fd-set-position-left(0);

      position: absolute;
      top: 0;
      z-index: 5;
    }

    // SELECTION + Compact
    &.#{$block}--compact {
      .#{$block}__form-item {
        @include fd-set-position-left(0.375rem);
      }
    }

    // SELECTION + Byline
    &.#{$block}--byline {
      .#{$block}__item {
        @include fd-set-paddings-x($fd-list-selection-container-width, $fd-list-byline-item-padding-x);
      }

      .#{$block}__form-item {
        top: 0.3125rem;
      }
    }

    // SELECTION + BYLINE + Compact
    &.#{$block}--byline.#{$block}--compact {
      .#{$block}__item {
        @include fd-set-paddings-x($fd-list-selection-container-width, $fd-list-byline-item-padding-x);
      }

      .#{$block}__form-item {
        @include fd-set-position-left(0.375rem);

        top: 0.5rem;
      }
    }

    // SELECTION + BYLINE + Borderless
    &.#{$block}--byline.#{$block}--no-border {
      .#{$block}__item {
        @include fd-set-paddings-x($fd-list-selection-container-width, $fd-list-byline-item-padding-x);
        @include fd-set-paddings-y-equal($fd-list-byline-borderless-item-padding-y);

        &:first-child {
          padding-top: $fd-list-byline-item-padding-y;
        }

        &:last-child {
          padding-bottom: $fd-list-byline-item-padding-y;
        }
      }

      .#{$block}__item:not(:first-child) {
        .#{$block}__form-item,
        .#{$block}__form-item.#{$fd-namespace}-form-item {
          top: 0;

          label {
            padding-top: $fd-list-byline-borderless-item-padding-y;

            &::after {
              top: 0.375rem;
            }
          }
        }
      }
    }

    // SELECTION + SELECT OBJECT ROW
    &.#{$block}--selection-row {
      .#{$block}__item {
        padding-left: 1rem;

        @include fd-rtl() {
          padding-right: 1rem;
        }
      }
    }
  }
}
