@import "./list-definitions";

$fd-list-dropdown-vertical-padding: 0.75rem !default;
$fd-list-dropdown-vertical-compact-padding: 0.5rem !default;
$fd-checkbox-dimensions: 1.375rem !default;

.#{$block} {
  &--dropdown {
    @include fd-focus() {
      outline: none;
    }

    .#{$block}__item:not(.#{$block}__group-header) {
      @include fd-flex-vertical-center();
      @include fd-list-item-states();

      height: auto;
      min-height: 2.5rem;
      padding: 0 $fd-list-item-padding-x;
    }

    &.#{$block}--compact {
      .#{$block}__item:not(.#{$block}__group-header) {
        height: auto;
        min-height: 2rem;
        padding: 0 $fd-list-item-padding-x;
      }
    }
  }

  &--multi-input {
    .#{$block}__item {
      @include fd-list-item-states();

      padding: 0 1rem 0 0;
      height: auto;

      @include fd-rtl() {
        padding: 0 0 0 1rem;
      }
    }

    .#{$block}__label {
      @include fd-reset();

      color: inherit;
      width: 100%;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 0;

      &::before {
        margin-top: (1rem - $fd-checkbox-dimensions) * 0.5;
        margin-bottom: (1rem - $fd-checkbox-dimensions) * 0.5;
      }
    }

    .#{$block}__input {
      @include fd-focus() {
        box-shadow: none;

        + .#{$block}__label {
          &::after {
            $fd-multi-input-focus-offset: 0.0625rem;

            top: $fd-multi-input-focus-offset;
            bottom: $fd-multi-input-focus-offset;
            left: $fd-multi-input-focus-offset;
            right: $fd-multi-input-focus-offset;
          }
        }
      }
    }

    .#{$block}__footer {
      height: auto;
      text-align: right;
      justify-content: flex-end;
      line-height: 1rem;
      background-color: var(--sapList_Background);
    }

    .#{$block}__footer,
    .#{$block}__label {
      padding: $fd-list-dropdown-vertical-padding $fd-list-item-padding-x;
    }

    &.#{$block}--compact {
      .#{$block}__item {
        padding: 0;
        height: auto;
      }

      .#{$block}__label {
        &::before {
          margin-left: 0;
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .#{$block}__footer,
      .#{$block}__label {
        padding: $fd-list-dropdown-vertical-compact-padding $fd-list-item-padding-x;
      }
    }
  }

  &--dropdown,
  &--multi-input {
    @mixin list-width-limit($maxWidth) {
      max-width: $maxWidth;

      .#{$block}__title {
        max-width: 0.6 * $maxWidth;

        &:first-child:last-child {
          max-width: $maxWidth;
        }
      }

      .#{$block}__secondary {
        max-width: 0.4 * $maxWidth;
      }

      // for when dropdown and multi input are used in mobile mode
      &.#{$block}--mobile {
        max-width: 100%;
      }
    }

    display: block;
    min-width: 5rem;

    .#{$block}__item {
      cursor: pointer;
      border: none;

      @include fd-selected() {
        border-bottom: $fd-list-selected-state-border-bottom;
      }
    }

    .#{$block}__title,
    .#{$block}__secondary {
      font-size: $fd-list-normal-font-size;
      white-space: normal;
      flex: auto;
      width: auto;

      &--no-wrap {
        white-space: nowrap;
      }
    }

    .#{$block}__secondary {
      display: block;
    }

    @include list-width-limit(40rem);

    .#{$block}__icon {
      line-height: 1rem;
    }

    &.#{$block}--large-dropdown {
      @include list-width-limit(62rem);
    }
  }
}
