@use "sass:map";

@import "sap_horizon";

:root {
  --fdLink_Text_Focus_Color: var(--sapContent_ContrastTextColor);
  --fdLink_Focus_Background: transparent;
  --fdLink_Focus_Border_Radius: 0;
  --fdLink_Focus_Text_Shadow: none;
  --fdLink_Hover_Outline_Offset: -0.0625rem;
  --fdLink_Hover_Outline_Width: var(--sapContent_FocusWidth);
  --fdLink_Hover_Outline_Color: var(--sapContent_FocusColor);
  --fdLink_Hover_Outline_Style: var(--sapContent_FocusStyle);
}
