@use "sass:map";

:root {
  --fdLink_Text_Decoration: none;
  --fdLink_Text_Decoration_Subtle: underline;
  --fdLink_Text_Decoration_Subtle_Hover: none;
  --fdLink_Text_Decoration_Subtle_Active: underline;
  --fdLink_Text_Decoration_Hover: underline;
  --fdLink_Text_Decoration_Focus: underline;
  --fdLink_Text_Decoration_Active: underline;
  --fdLink_Text_Decoration_Visited: underline;
  --fdLink_Text_Decoration_Disabled: underline;
  --fdLink_Text_Focus_Color: var(--sapLinkColor);
  --fdLink_Focus_Background: transparent;
  --fdLink_Focus_Border_Radius: 0;
  --fdLink_Focus_Text_Shadow: none;
  --fdLink_Hover_Outline_Offset: 0.0625rem;
  --fdLink_Hover_Outline_Width: var(--sapContent_FocusWidth);
  --fdLink_Hover_Outline_Color: var(--sapContent_FocusColor);
  --fdLink_Hover_Outline_Style: var(--sapContent_FocusStyle);
}
