@use "sass:map";

:root {
  --fdNavigationList_Content_Border_Radius: var(--sapButton_BorderCornerRadius);
  --fdNavigationList_Content_Border_Color: transparent;
  --fdNavigationList_Content_Outline_Offset: 0;
}
