{% extends "layout.njk" %}
{% from "./../format.njk" import format %}

{% block content %}

<style>
        .fd-message-box {
            position: static;
            background-color: transparent;
        }

        .fd-message-box__content {
            position: static;
            transform: translate(0%, 0%);
            width: 30rem;
            margin: auto;
        }

        .fd-message-box__content:not(:last-child) {
            margin-bottom: 2rem;
        }
    </style>


<h2>Message Box Types</h2>
    
{% set example %}

<div class="fd-message-box-docs-static fd-message-box fd-message-box--active">
    <div class="fd-message-box__content">
        <header class="bar-playground fd-message-box__header">
            <div class="bar-left-playground">
                <div class="bar-element-playground">
                    <h2 class="fd-message-box__title">Standard</h2>
                </div>
            </div>
        </header>
        <div class="fd-message-box__body">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            <div class="fd-message-box__more">
                Show more
            </div>
        </div>
        <footer class="bar-playground fd-message-box__footer">
            <div class="bar-right-playground">
                <div class="bar-element-playground">
                    <button class="btn-playground fd-message-box__decisive-button">
                        Close
                    </button>
                </div>
            </div>
        </footer>
    </div>
</div>

<br><br>

<div class="fd-message-box-docs-static fd-message-box fd-message-box--confirmation fd-message-box--active">
    <div class="fd-message-box__content">
        <header class="bar-playground fd-message-box__header">
            <div class="bar-left-playground">
                <div class="bar-element-playground">
                    <h2 class="fd-message-box__title">Confirmation</h2>
                </div>
            </div>
        </header>
        <div class="fd-message-box__body">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </div>
        <footer class="bar-playground fd-message-box__footer">
            <div class="bar-right-playground">
                <div class="bar-element-playground">
                    <button class="btn-playground fd-message-box__decisive-button">
                        Close
                    </button>
                </div>
            </div>
        </footer>
    </div>
</div>

<br><br>

<div class="fd-message-box-docs-static fd-message-box fd-message-box--error fd-message-box--active">
    <div class="fd-message-box__content">
        <header class="bar-playground fd-message-box__header">
            <div class="bar-left-playground">
                <div class="bar-element-playground">
                    <h2 class="fd-message-box__title">Error</h2>
                </div>
            </div>
        </header>
        <div class="fd-message-box__body">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <footer class="bar-playground fd-message-box__footer">
            <div class="bar-right-playground">
                <div class="bar-element-playground">
                    <button class="btn-playground fd-message-box__decisive-button">
                        Close
                    </button>
                </div>
            </div>
        </footer>
    </div>
</div>

<br><br>

<div class="fd-message-box-docs-static fd-message-box fd-message-box--success fd-message-box--active">
    <div class="fd-message-box__content">
        <header class="bar-playground fd-message-box__header">
            <div class="bar-left-playground">
                <div class="bar-element-playground">
                    <h2 class="fd-message-box__title">Success</h2>
                </div>
            </div>
        </header>
        <div class="fd-message-box__body">
            Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et mattis erat vel aliquet in sem urna et sagittis diam in vehicula.
        </div>
        <footer class="bar-playground fd-message-box__footer">
            <div class="bar-right-playground">
                <div class="bar-element-playground">
                    <button class="btn-playground fd-message-box__decisive-button">
                        Close
                    </button>
                </div>
            </div>
        </footer>
    </div>
</div>

<br><br>

<div class="fd-message-box-docs-static fd-message-box fd-message-box--warning fd-message-box--active">
    <div class="fd-message-box__content">
        <header class="bar-playground fd-message-box__header">
            <div class="bar-left-playground">
                <div class="bar-element-playground">
                    <h2 class="fd-message-box__title">Warning</h2>
                </div>
            </div>
        </header>
        <div class="fd-message-box__body">
            Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et. 
        </div>
        <footer class="bar-playground fd-message-box__footer">
            <div class="bar-right-playground">
                <div class="bar-element-playground">
                    <button class="btn-playground fd-message-box__decisive-button">
                        Close
                    </button>
                </div>
            </div>
        </footer>
    </div>
</div>

<br><br>

<div class="fd-message-box-docs-static fd-message-box fd-message-box--information fd-message-box--active">
    <div class="fd-message-box__content">
        <header class="bar-playground fd-message-box__header">
            <div class="bar-left-playground">
                <div class="bar-element-playground">
                    <h2 class="fd-message-box__title">Information</h2>
                </div> 
            </div>
        </header>
        <div class="fd-message-box__body">
            Vivamus sagittis diam in vehicula lobortis. 
        </div>
        <footer class="bar-playground fd-message-box__footer">
            <div class="bar-right-playground">
                <div class="bar-element-playground">
                    <button class="btn-playground fd-message-box__decisive-button">
                        Close
                    </button>
                </div>
            </div>
        </footer>
    </div>
</div>

<br><br>

{% endset %}
{{ format(example) }}

<h2>Message Box No Icon</h2>
    
{% set example %}


<div class="fd-message-box-docs-static fd-message-box fd-message-box--no-icon fd-message-box--error fd-message-box--active">
    <div class="fd-message-box__content">
        <header class="bar-playground fd-message-box__header">
            <div class="bar-left-playground">
                <div class="bar-element-playground">
                    <h2 class="fd-message-box__title">Error</h2>
                </div>
            </div>
        </header>
        <div class="fd-message-box__body">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <footer class="bar-playground fd-message-box__footer">
            <div class="bar-right-playground">
                <div class="bar-element-playground">
                    <button class="btn-playground fd-message-box__decisive-button">
                        Close
                    </button>
                </div>
            </div>
        </footer>
    </div>
</div>

<br><br>

{% endset %}
{{ format(example) }}

<h2>Message Box Responsive Behaviour</h2>
    
{% set example %}

<div class="fd-message-box-docs-static fd-message-box fd-message-box--error fd-message-box--active">
    <div class="fd-message-box__content fd-message-box__content--s">
        <header class="bar-playground fd-message-box__header">
            <div class="bar-left-playground">
                <div class="bar-element-playground">
                    <h2 class="fd-message-box__title">Error</h2>
                </div>
            </div>
        </header>
        <div class="fd-message-box__body">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <footer class="bar-playground fd-message-box__footer">
            <div class="bar-right-playground">
                <div class="bar-element-playground">
                    <button class="btn-playground fd-message-box__decisive-button">
                        Close
                    </button>
                </div>
            </div>
        </footer>
    </div>
</div>

<br><br>

<div class="fd-message-box-docs-static fd-message-box fd-message-box--success fd-message-box--active">
    <div class="fd-message-box__content fd-message-box__content--m">
        <header class="bar-playground fd-message-box__header">
            <div class="bar-left-playground">
                <div class="bar-element-playground">
                    <h2 class="fd-message-box__title">Success</h2>
                </div>
            </div>
        </header>
        <div class="fd-message-box__body">
            Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et mattis erat vel aliquet in sem urna et sagittis diam in vehicula.
        </div>
        <footer class="bar-playground fd-message-box__footer">
            <div class="bar-right-playground">
                <div class="bar-element-playground">
                    <button class="btn-playground fd-message-box__decisive-button">
                        Close
                    </button>
                </div>
            </div>
        </footer>
    </div>
</div>

<br><br>

<div class="fd-message-box-docs-static fd-message-box fd-message-box--warning fd-message-box--active">
    <div class="fd-message-box__content fd-message-box__content--l">
        <header class="bar-playground fd-message-box__header">
            <div class="bar-left-playground">
                <div class="bar-element-playground">
                    <h2 class="fd-message-box__title">Warning</h2>
                </div>
            </div>
        </header>
        <div class="fd-message-box__body">
            Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et. 
        </div>
        <footer class="bar-playground fd-message-box__footer">
           <div class="bar-right-playground">
                <div class="bar-element-playground">
                    <button class="btn-playground fd-message-box__decisive-button">
                        Close
                    </button>
                </div>
            </div>
        </footer>
    </div>
</div>

<br><br>

<div class="fd-message-box-docs-static fd-message-box fd-message-box--information fd-message-box--active">
    <div class="fd-message-box__content fd-message-box__content--xl">
        <header class="bar-playground fd-message-box__header">
            <div class="bar-left-playground">
                <div class="bar-element-playground">
                    <h2 class="fd-message-box__title">Information</h2>
                </div>
            </div>
        </header>
        <div class="fd-message-box__body">
            Vivamus sagittis diam in vehicula lobortis. 
        </div>
        <footer class="bar-playground fd-message-box__footer">
            <div class="bar-right-playground">
                <div class="bar-element-playground">
                    <button class="btn-playground fd-message-box__decisive-button">
                        Close
                    </button>
                </div>
            </div>
        </footer>
    </div>
</div>

<br><br>

{% endset %}
{{ format(example) }}

{% endblock %}

