:root {
  --fdFeed_List_Item_Background: var(--sapField_Background);
  --fdFeed_List_Item_Padding: 1rem;
  --fdFeed_List_Item_Byline_Text_Color: var(--sapNeutralTextColor);
  --fdFeed_List_Item_More_Transform: uppercase;
  --fdFeed_List_Mobile_Actions_Button_Padding_X: calc(0.625rem - var(--sapButton_BorderWidth));
  --fdFeed_List_Mobile_Actions_Button_Padding_Height: 2.25rem;
  --fdFeed_List_Mobile_Actions_Button_Padding_Width: 2.25rem;
  --fdFeed_List_Item_Border_Top: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);
  --fdFeed_List_Item_Border_Bottom: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);
}
