:root {
  --fdSearchField_Border_Color: transparent;
  --fdSearchField_Background_Hover: var(--sapShell_Hover_Background);
  --fdSearchField_Background_Focus: var(--sapShell_Active_Background);
  --fdSearchField_Outline: var(--sapContent_FocusStyle) var(--sapContent_FocusWidth) var(--sapContent_FocusColor);
  --fdSearchField_Underline_Color: var(--sapField_BorderColor);
}
