:root {
  --fdDynamicPage_Title_Color: var(--sapGroup_TitleTextColor);
  --fdDynamicPage_Title_Font_Size: var(--sapFontHeader3Size);
  --fdDynamicPage_Title_Collapsed_Font_Size: var(--sapFontHeader3Size);
  --fdDynamicPage_Title_Font_Family: var(--sapFontFamily);
  --fdDynamicPage_Subtitle_Color: var(--sapContent_LabelColor);
  --fdDynamicPage_Button_Pin_Background: var(--sapButton_Background);
  --fdDynamicPage_Button_Pin_Border: var(--sapButton_BorderWidth) solid var(--sapButton_TextColor);
}
