:root {
  --fdDynamicPage_Title_Color: var(--sapObjectHeader_Title_TextColor);
  --fdDynamicPage_Title_Font_Size: var(--sapObjectHeader_Title_FontSize);
  --fdDynamicPage_Title_Collapsed_Font_Size: var(--sapObjectHeader_Title_SnappedFontSize);
  --fdDynamicPage_Title_Font_Family: var(--sapObjectHeader_Title_FontFamily);
  --fdDynamicPage_Subtitle_Color: var(--sapObjectHeader_Subtitle_TextColor);
  --fdDynamicPage_Button_Pin_Background: var(--sapObjectHeader_Background);
}
