* {
  background-color: black !important;
  color: #0f0 !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

a {
  color: #8080ff !important;
}

a[aria-disabled="true"] {
  color: #c0c0c0 !important;
}

input,
select,
button,
textarea,
*[data-hcm="bordered"] {
  border: 1px solid white !important;
}

::selection {
  background-color: #00f !important;
  color: white !important;
}

:disabled {
  color: #c0c0c0 !important;
  opacity: 1 !important;
}

:disabled input,
:disabled select,
:disabled button,
:disabled textarea,
:disabled .sapcnqr-card,
:disabled .sapcnqr-messagebar {
  border: 1px solid #c0c0c0 !important;
}

:focus {
  outline: 1px solid blue !important;
}
