*,
:before,
:after {
  background-color: white !important;
  border-color: black !important;
  color: black !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

:before,
:after {
  background-color: transparent !important;
}

a[href],
a[href] *,
a[href] :before,
a[href] :after {
  color: #00009f !important;
}

a[aria-disabled="true"] {
  color: #600000 !important;
}

input,
select,
button,
textarea {
  border: 1px solid black !important;
}

::selection {
  background-color: #37006e !important;
  color: white !important;
}

:disabled,
::placeholder  {
  color: #600000 !important;
  opacity: 1 !important;
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  border: 1px solid #600000 !important;
}

:focus {
  outline: 1px solid black !important;
}
