{% extends "layout.njk" %}

{% block content %}
    <script>
    function toggle(type, show) {
        var overlay = document.querySelector('.fd-overlay--' + type);
        if (overlay) {
            overlay.setAttribute('aria-hidden', (show ? "false" : "true"));
        }
    }
    </script>

    <button onclick="toggle('modal', true)">Show Modal</button>
    <button onclick="toggle('alert', true)">Show Alert</button>
    <div class="fd-overlay fd-overlay--modal" aria-hidden="true">
        <div class="overlay-playground" role="dialog">
            <h3>Sample Modal</h3>
            <button onclick="toggle('modal', false)">Close</button>
        </div>
    </div>
    <div class="fd-overlay fd-overlay--alert" aria-hidden="true">
        <div class="overlay-playground" role="alert">
            <h3>Sample Alert</h3>
            <button onclick="toggle('alert', false)">Close</button>
        </div>
    </div>
{% endblock %}
