{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import switch %}

{% block content %}

<h3>Default Switch</h3>
{% set example %}
    <label class="fd-switch__label">
        <span class="fd-switch">
            <input class="fd-switch__input" type="checkbox" name="" value="" id="y21YO3251">
            <div class="fd-switch__wrapper">
                <div class="fd-switch__track">
                    <span class="fd-switch__handle" role="presentation"></span>
                </div>
            </div>
        </span>
    </label>

    <label class="fd-switch__label">
        <span class="fd-switch fd-switch--compact">
            <input class="fd-switch__input" type="checkbox" name="" value="" id="y21YO3431">
            <div class="fd-switch__wrapper">
                <div class="fd-switch__track">
                    <span class="fd-switch__handle" role="presentation"></span>
                </div>
            </div>
        </span>
    </label>
{% endset %}
{{ format(example) }}

<h3>Semantic Switch</h3>
{% set example %}
    <label class="fd-switch__label">
        <span class="fd-switch fd-switch--semantic">
            <input class="fd-switch__input" type="checkbox" name="" value="" id="y21YO3251">
            <div class="fd-switch__wrapper">
                <div class="fd-switch__track">
                    <span class="fd-switch__text fd-switch__icon--on fd-switch__icon sap-icon--accept"></span>
                    <span class="fd-switch__handle" role="presentation"></span>
                    <span class="fd-switch__text fd-switch__icon--off fd-switch__icon sap-icon--decline"></span>
                </div>
            </div>
        </span>
    </label>

    <label class="fd-switch__label">
        <span class="fd-switch fd-switch--semantic fd-switch--compact">
            <input class="fd-switch__input" type="checkbox" name="" value="" id="y21YO3431">
            <div class="fd-switch__wrapper">
                <div class="fd-switch__track">
                    <span class="fd-switch__text fd-switch__icon--on fd-switch__icon sap-icon--accept"></span>
                    <span class="fd-switch__handle" role="presentation"></span>
                    <span class="fd-switch__text fd-switch__icon--off fd-switch__icon sap-icon--decline"></span>
                </div>
            </div>
        </span>
    </label>
{% endset %}
{{ format(example) }}



{% endblock %}
