// Form Mixins
@import "./mixins";
@import "./states";

@mixin fd-form-states {

  $fd-form-border-thin-width: 0.0625rem;
  $fd-form-border-thick-width: 2 * $fd-form-border-thin-width;

  // states
  @include fd-hover() {
    background-color: var(--sapField_Hover_Background);
    border-color: var(--sapField_Hover_BorderColor);
  }

  &.is-success {
    background-color: var(--sapField_SuccessBackground);
    border-color: var(--sapField_SuccessColor);
    border-width: $fd-form-border-thin-width;

    @include fd-hover() {
      background-color: var(--sapField_SuccessBackground);
      border-color: var(--sapField_SuccessColor);
    }
  }

  &.is-error {
    background-color: var(--sapField_InvalidBackground);
    border-color: var(--sapField_InvalidColor);

    @include fd-hover() {
      background-color: var(--sapField_InvalidBackground);
      border-color: var(--sapField_InvalidColor);
    }
  }

  &.is-warning,
  &.is-alert {
    background-color: var(--sapField_WarningBackground);
    border-color: var(--sapField_WarningColor);

    @include fd-hover() {
      background-color: var(--sapField_WarningBackground);
      border-color: var(--sapField_WarningColor);
    }
  }

  &.is-information {
    background-color: var(--sapField_InformationBackground);
    border-color: var(--sapField_InformationColor);

    @include fd-hover() {
      background-color: var(--sapField_InformationBackground);
      border-color: var(--sapField_InformationColor);
    }
  }

  @include fd-focus() {
    box-shadow: none;
    outline-offset: -0.1875rem;
    outline-width: var(--sapContent_FocusWidth);
    outline-color: var(--sapContent_FocusColor);
    outline-style: var(--sapContent_FocusStyle);
  }

  &.is-warning,
  &.is-alert,
  &.is-information,
  &.is-error {
    border-width: $fd-form-border-thick-width;

    @include fd-focus() {
      box-shadow: none;
      outline-offset: -0.25rem;
    }
  }

  @include fd-disabled() {
    pointer-events: none;
    opacity: 0.4;

    &::placeholder {
      color: transparent;
    }
  }

  &[readonly],
  &.is-readonly {
    background-color: rgba(242, 242, 242, 0.5); // Hardcoded for IE11 Purposes, there is not callback for RGBA.
    background-color: var(--sapField_ReadOnly_Background);
    border-color: var(--sapField_ReadOnly_BorderColor);

    &::placeholder {
      color: transparent;
    }
  }
}

@mixin fd-form-base {
  @include fd-reset();
  @include fd-ellipsis();

  color: var(--sapField_TextColor);
  background-color: var(--sapField_Background);
  border-style: solid;
  border-width: var(--sapField_BorderWidth);
  border-color: var(--sapField_BorderColor);
  border-radius: var(--sapField_BorderCornerRadius);
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::placeholder {
    font-style: italic;
    color: var(--sapField_PlaceholderTextColor);
  }

  &::selection {
    color: var(--sapContent_ContrastTextColor);
    background-color: var(--sapSelectedColor);
  }
  // states
  @include fd-form-states();
}

@mixin fd-form-text() {
  @include fd-form-base();

  padding-left: $fd-forms-padding;
  padding-right: $fd-forms-padding;
  @content;
}

@mixin fd-form-radio-focus($margin) {
  $fd-radio-label-padding: 0;
  $fd-radio-focus-offset: 0.125rem;

  &::after {
    content: "";
    position: absolute;
    border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    top: $margin - $fd-radio-focus-offset;
    left: $margin - $fd-radio-focus-offset;
    bottom: $margin - $fd-radio-focus-offset;
    right: $fd-radio-label-padding;
    @content;
  }

  @include fd-rtl() {
    &::after {
      left: $fd-radio-label-padding - $fd-radio-focus-offset;
      right: $margin - $fd-radio-focus-offset;
    }
  }
}

@mixin fd-form-label() {
  @include fd-reset();
  @include fd-ellipsis();

  width: fit-content;
  position: relative;
  max-width: 100%;
  font-size: var(--sapFontSize);
  color: var(--sapContent_LabelColor);
  padding-right: 6px;
  margin-right: 8px;
  cursor: text;

  @include fd-rtl() {
    padding-left: 6px;
    padding-right: 0;
    margin-left: 8px;
    margin-right: 0;
  }
}
