@import "../new-settings";
@import "../icons/settings";

// icon mixin
@mixin fd-icon($key, $position: "before") {
  @include fd-icon-base($position);
  @include fd-icon-glyph($key, $position);

  font-family: "SAP-icons";

  &::#{$position} {
    @content;
  }
}

// icon base mixin
@mixin fd-icon-base($position: "before") {
  &::#{$position} {
    font-family: "SAP-icons";
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @content;
  }
}

// icon glyph mixin
@mixin fd-icon-glyph($glyph, $position: "before") {
  @if map-has-key($fd-icons, $glyph) {
    &::#{$position} {
      content: map-get($fd-icons, $glyph);
      @content;
    }
  } @else {
    @warn "Unknown `#{$glyph}` in $fd-icons map";
  }
}
