@import "states";

// utils
@mixin fd-reset {
  font-size: var(--sapFontSize);
  line-height: var(--sapContent_LineHeight);
  color: var(--sapTextColor);
  font-family: var(--sapFontFamily);
  font-weight: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;

  &::before,
  &::after {
    box-sizing: inherit;
    font-size: inherit;
  }
}

@mixin fd-reset-spacing {
  padding: 0;
  margin: 0;
}

@mixin fd-reset-child-spacing {
  &:nth-child(n + 1) {
    margin: 0;
  }
}

@mixin fd-children {
  &:nth-child(n + 1) {
    @content;
  }
}

@mixin fd-clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin fd-last-child {
  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
    @content;
  }
}

@mixin fd-first-child {
  &:first-child {
    margin-left: 0;
    @content;
  }
}

@mixin fd-only-child {
  &:first-child:last-child {
    @content;
  }
}

@mixin fd-screen($size, $dimension: width) {
  @if map-has-key($fd-breakpoints, $size) {
    @media (min-#{$dimension}: map-get($fd-breakpoints, $size)) {
      @content;
    }
  } @else {
    @warn "Unknown `#{$size}` in $fd-breakpoints map";
  }
}

@mixin fd-print() {
  @media print {
    @content;
  }
}
// Taken from https://github.com/thoughtbot/bourbon/blob/master/core/bourbon/library/_triangle.scss
@mixin triangle($size, $color, $direction, $varcolor: null) {
  $width: nth($size, 1);
  $height: nth($size, length($size));
  $foreground-color: nth($color, 1);
  $background-color: if(length($color) == 2, nth($color, 2), transparent);

  height: 0;
  width: 0;
  border-style: solid;

  @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
    $width: $width / 2;
    $height: if(length($size) > 1, $height, $height/2);

    @if $direction == up {
      border-width: 0 $width $height $width;

      @if $varcolor {
        @include fd-var-color("border-bottom-color", $foreground-color, $varcolor);
      } @else {
        border-bottom-color: $foreground-color;
      }

      border-left-color: $background-color;
      border-right-color: $background-color;
    } @else if $direction == right {
      border-width: $width 0 $width $height;
      border-bottom-color: $background-color;

      @if $varcolor {
        @include fd-var-color("border-left-color", $foreground-color, $varcolor);
      } @else {
        border-left-color: $foreground-color;
      }

      border-top-color: $background-color;
    } @else if $direction == down {
      border-width: $height $width 0 $width;

      @if $varcolor {
        @include fd-var-color("border-top-color", $foreground-color, $varcolor);
      } @else {
        border-top-color: $foreground-color;
      }

      border-left-color: $background-color;
      border-right-color: $background-color;
    } @else if $direction == left {
      border-width: $width $height $width 0;
      border-bottom-color: $background-color;

      @if $varcolor {
        @include fd-var-color("border-right-color", $foreground-color, $varcolor);
      } @else {
        border-right-color: $foreground-color;
      }

      border-top-color: $background-color;
    }
  } @else if ($direction == up-right) or ($direction == up-left) {
    border-top: $height solid $foreground-color;

    @if $direction == up-right {
      border-left: $width solid $background-color;
    } @else if $direction == up-left {
      border-right: $width solid $background-color;
    }
  } @else if ($direction == down-right) or ($direction == down-left) {
    border-bottom: $height solid $foreground-color;

    @if $direction == down-right {
      border-left: $width solid $background-color;
    } @else if $direction == down-left {
      border-right: $width solid $background-color;
    }
  } @else if ($direction == inset-up) {
    border-color: $background-color $background-color $foreground-color;
    border-style: solid;
    border-width: $height $width;
  } @else if ($direction == inset-down) {
    border-color: $foreground-color $background-color $background-color;
    border-style: solid;
    border-width: $height $width;
  } @else if ($direction == inset-right) {
    border-color: $background-color $background-color $background-color $foreground-color;
    border-style: solid;
    border-width: $width $height;
  } @else if ($direction == inset-left) {
    border-color: $background-color $foreground-color $background-color $background-color;
    border-style: solid;
    border-width: $width $height;
  }
}

@mixin fd-button-reset {
  background-image: none;
  display: inline-block;
  appearance: none;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: transparent;
  border-radius: var(--sapButton_BorderCornerRadius);

  &::-moz-focus-inner {
    border: 0;
  }
  @content;
}

@mixin fd-rtl {
  @at-root {
    [dir="rtl"] &,
    &[dir="rtl"] {
      @content;
    }
  }
}

@mixin fd-link() {
  color: var(--sapLinkColor);
  text-decoration: var(--fdLink_Text_Decoration);
  text-shadow: var(--sapContent_TextShadow);
  display: inline-block;
  transition: all $fd-animation-speed ease-in;
  line-height: inherit;

  &--emphasized {
    font-weight: bold;
  }

  &:visited {
    color: var(--sapLink_Visited_Color);
  }

  @include fd-hover() {
    color: var(--sapLink_Hover_Color);
    text-decoration: var(--fdLink_Text_Decoration_Opposite);
  }

  @include fd-focus() {
    box-shadow: none;
    outline-offset: -0.0625rem;
    outline-width: var(--sapContent_FocusWidth);
    outline-color: var(--sapContent_FocusColor);
    outline-style: var(--sapContent_FocusStyle);
    text-decoration: var(--fdLink_Text_Decoration_Opposite);
  }

  @include fd-active() {
    color: var(--sapLink_Active_Color);
    text-decoration: var(--fdLink_Text_Decoration_Opposite);
  }

  &--inverted {
    color: var(--sapLink_InvertedColor);
    text-shadow: none;

    @include fd-hover() {
      color: var(--sapLink_InvertedColor);
    }
  }

  &--subtle {
    color: var(--sapLink_SubtleColor);
  }

  @include fd-disabled() {
    opacity: var(--sapContent_DisabledOpacity);
    color: var(--sapLinkColor);
    pointer-events: none;
  }
}

@mixin action-cursor {
  cursor: pointer;
}

@mixin multiline-truncate($lineHeight: 1.4em, $lineCount: 1, $backgroundColor: transparent) {
  position: relative;
  line-height: $lineHeight;
  max-height: $lineCount * $lineHeight;
  overflow: hidden;
  margin-right: -1em;
  padding-right: 1em;

  &::before {
    position: absolute;
    content: "...";
    right: 0;
    bottom: 1px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $backgroundColor;
  }
}

@mixin fd-flex($direction: row) {
  display: flex;
  flex-direction: $direction;
  @content;
}

@mixin fd-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin fd-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}

@mixin fd-flex-vertical-center {
  display: flex;
  align-items: center;
  @content;
}

@mixin fd-flex-vertical-bottom {
  display: flex;
  align-items: flex-end;
  @content;
}

@mixin fd-flex-horizontal-center {
  display: flex;
  justify-content: center;
  @content;
}

@mixin fd-absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin fd-absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin fd-screen-reader-only {
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

@mixin fd-remove-scrollbar {
  &::-webkit-scrollbar {
    display: none; // hide scrollbar but keep element scrollable for Chrome/Safari/Opera
  }

  -ms-overflow-style: none; // hide scrollbar but keep element scrollable for IE/Edge
  scrollbar-width: none; // hide scrollbar on firefox
}

@mixin fd-typography($fd-size, $color: var(--sapGroup_TitleTextColor)) {
  font-family: var(--sapFontHeaderFamily);
  color: $color;
  font-size: $fd-size;
}

@mixin both-pseudo-selectors() {
  &::after,
  &::before {
    @content;
  }
}

@mixin fd-icon-overwrite {
  &[class*=sap-icon] {
    @content;
  }
}

@mixin fd-icon-before-overwrite {
  &[class*=sap-icon]::before,
  &::before {
    @content;
  }
}

@mixin fd-icon-after-overwrite {
  &[class*=sap-icon]::after,
  &::after {
    @content;
  }
}

@mixin set-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

@mixin set-height($height) {
  height: $height;
  min-height: $height;
  max-height: $height;
}

@mixin fd-icon-selector() {
  [class*="sap-icon"],
  &[class*="sap-icon"] {
    @content;
  }
}

@mixin fd-icon-element-base {
  @include fd-icon-selector() {
    color: inherit;
    background: inherit;
    font-size: inherit;
    border-radius: inherit;
    line-height: 1;

    @content;
  }
}

@mixin line-clamp($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

@mixin fd-reset-margins() {
  margin: 0;
}

@mixin fd-reset-margins-x() {
  margin-left: 0;
  margin-right: 0;
}

@mixin fd-reset-margins-y() {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin fd-set-margins-x($left: 0, $right: 0) {
  margin-left: $left;
  margin-right: $right;

  @include fd-rtl() {
    margin-right: $left;
    margin-left: $right;
  }
}

@mixin fd-set-margins-x-equal($value: 0) {
  margin-left: $value;
  margin-right: $value;
}

@mixin fd-set-margins-y($top: 0, $bottom: 0) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin fd-set-margins-y-equal($value: 0) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin fd-set-margin-left($left: 0) {
  margin-left: $left;

  @include fd-rtl() {
    margin-right: $left;
    margin-left: 0;
  }
}

@mixin fd-set-margin-right($right: 0) {
  margin-right: $right;

  @include fd-rtl() {
    margin-right: 0;
    margin-left: $right;
  }
}

@mixin fd-reset-paddings() {
  padding: 0;
}

@mixin fd-reset-paddings-x() {
  padding-left: 0;
  padding-right: 0;
}

@mixin fd-reset-paddings-y() {
  padding-top: 0;
  padding-bottom: 0;
}

@mixin fd-set-paddings-x($left: 0, $right: 0) {
  padding-left: $left;
  padding-right: $right;

  @include fd-rtl() {
    padding-right: $left;
    padding-left: $right;
  }
}

@mixin fd-set-paddings-x-equal($value: 0) {
  padding-left: $value;
  padding-right: $value;
}

@mixin fd-set-paddings-y($top: 0, $bottom: 0) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin fd-set-paddings-y-equal($value: 0) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin fd-set-padding-left($left: 0) {
  padding-left: $left;

  @include fd-rtl() {
    padding-right: $left;
    padding-left: 0;
  }
}

@mixin fd-set-padding-right($right: 0) {
  padding-right: $right;

  @include fd-rtl() {
    padding-right: 0;
    padding-left: $right;
  }
}

@mixin fd-set-position-right($right) {
  right: $right;

  @include fd-rtl() {
    right: auto;
    left: $right;
  }
}

@mixin fd-set-position-left($left) {
  left: $left;

  @include fd-rtl() {
    left: auto;
    right: $left;
  }
}

/* Fully expanded pseudo element. Requires parent to have specified position */
@mixin fd-pseudo-expand($position: "before") {
  &::#{$position} {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @content;
  }
}
