:root {
  /** Info Label */
  --fdInfo_Label_Border_Color1: var(--btp-Mango11);
  --fdInfo_Label_Border_Color2: var(--btp-Red11);
  --fdInfo_Label_Border_Color3: var(--btp-Raspberry11);
  --fdInfo_Label_Border_Color4: var(--btp-Pink11);
  --fdInfo_Label_Border_Color5: var(--btp-Indigo11);
  --fdInfo_Label_Border_Color6: var(--btp-Blue11);
  --fdInfo_Label_Border_Color7: var(--btp-Teal11);
  --fdInfo_Label_Border_Color8: var(--btp-Green11);
  --fdInfo_Label_Border_Color9: var(--btp-Cyan11);
  --fdInfo_Label_Border_Color10: var(--btp-Grey11);
  --fdInfo_Label_Background_Color1: var(--btp-Mango1);
  --fdInfo_Label_Background_Color2: var(--btp-Red1);
  --fdInfo_Label_Background_Color3: var(--btp-Raspberry1);
  --fdInfo_Label_Background_Color4: var(--btp-Pink1);
  --fdInfo_Label_Background_Color5: var(--btp-Indigo1);
  --fdInfo_Label_Background_Color6: var(--btp-Blue1);
  --fdInfo_Label_Background_Color7: var(--btp-Teal1);
  --fdInfo_Label_Background_Color8: var(--btp-Green1);
  --fdInfo_Label_Background_Color9: var(--btp-Cyan1);
  --fdInfo_Label_Background_Color10: var(--btp-Grey1);
  --fdInfo_Label_Color1: var(--btp-Mango11);
  --fdInfo_Label_Color2: var(--btp-Red11);
  --fdInfo_Label_Color3: var(--btp-Raspberry11);
  --fdInfo_Label_Color4: var(--btp-Pink11);
  --fdInfo_Label_Color5: var(--btp-Indigo11);
  --fdInfo_Label_Color6: var(--btp-Blue11);
  --fdInfo_Label_Color7: var(--btp-Teal11);
  --fdInfo_Label_Color8: var(--btp-Green11);
  --fdInfo_Label_Color9: var(--btp-Cyan11);
  --fdInfo_Label_Color10: var(--btp-Grey11);
  --fdInfo_Label_Display_Border_Color: var(--btp-Grey11);
  --fdInfo_Label_Display_Background_Color: var(--btp-Grey1);
  --fdInfo_Label_Display_Text_Color: var(--btp-Grey11);
}
