@use "sass:map";

:root {
  --fdCard_Box_Shadow: var(--sapContent_Shadow0);
  --fdCard_Box_Shadow_Regular: var(--sapContent_Shadow0);
  --fdCard_Box_Shadow_Hover: var(--sapContent_Shadow0);
  --fdCard_Header_Border_Bottom: 0.0625rem solid var(--sapTile_SeparatorColor);
  --fdCard_Footer_Border_Top: 0.0625rem solid var(--sapTile_SeparatorColor);
  --fdCard_Counter_Margin: 0.188rem;
  --fdCard_Footer_Padding: 1rem;
  --fdCard_Footer_Actions_Item_Spacing: 0.5rem;
  --fdCard_Title_Font_Size: var(--sapFontHeader5Size);
  --fdCard_Title_Font_Weight: var(--sapFontHeaderWeight);
  --fdCard_Main_Header_Padding_Bottom: 1rem;
}
