// These mixins ensure that all state selectors — ARIA, pseudos, `is` fallbacks — get applied properly.

@mixin fd-internal-pseudo-element-focus($_offset) {
  $offset: -$_offset;

  &::after {
    border-width: var(--sapContent_FocusWidth);
    border-color: var(--sapContent_FocusColor);
    border-style: var(--sapContent_FocusStyle);
    content: '';
    position: absolute;
    pointer-events: none;
    top: $offset;
    bottom: $offset;
    left: $offset;
    right: $offset;
    @content;
  }
}

// ACTIVE state (press and hold)
@mixin fd-active {
  &:active,
  &.is-active {
    @content;
  }
}

// DISABLED state (not editable, not focusable, not submitted with `form`)
@mixin fd-disabled {
  &[aria-disabled="true"],
  &.is-disabled,
  &:disabled {
    @content;
  }
}

// FOCUS state (tab onto, click into)
// override params $shadow-var, $shadow-value
// `.is-focus` is for demo purposes
@mixin fd-focus() {
  &:focus,
  &.is-focus {
    z-index: 5;
    @content;
  }
}

@mixin fd-focus-within() {
  &:focus-within {
    @content;
  }
}

// Newer FOCUS state which follows fiori3 spec (tab onto, click into)
// `.is-focus` is for demo purposes
@mixin fd-fiori-focus($offset: -0.1875rem) {
  &:focus,
  &.is-focus {
    @if $offset != 0 {
      outline-offset: $offset;
    }

    outline-width: var(--sapContent_FocusWidth);
    outline-color: var(--sapContent_FocusColor);
    outline-style: var(--sapContent_FocusStyle);
    @content;
  }
}

// Newer FOCUS state which follows fiori3 spec (tab onto, click into)
// `.is-focus` is for demo purposes
// This brings border + pseudo element
@mixin fd-fiori-pseudo-focus($_offset: -0.0625rem) {
  &:focus,
  &.is-focus {
    @include fd-internal-pseudo-element-focus($_offset) {
      @content;
    }
  }
}

@mixin fd-fake-fiori-focus($offset: 0, $radius: 0) {
  &:focus,
  &.is-focus {
    outline: none;

    &::after {
      border-width: var(--sapContent_FocusWidth);
      border-color: var(--sapContent_FocusColor);
      border-style: var(--sapContent_FocusStyle);
      border-radius: $radius;
      content: '';
      position: absolute;
      pointer-events: none;
      top: $offset;
      bottom: $offset;
      left: $offset;
      right: $offset;
      @content;
    }
  }
}

// Focus state, which is not support by IE11. Use it with `fd-fiori-focus` mixin.
// This brings border + pseudo element
@mixin fd-fiori-pseudo-focus-within($_offset: -0.0625rem) {
  &:focus-within {
    @include fd-internal-pseudo-element-focus($_offset) {
      @content;
    }
  }
}

// Focus state, which is not support by IE11. Use it with `fd-fiori-focus` mixin.
@mixin fd-fiori-focus-within($offset: -0.1875rem) {
  &:focus-within {
    outline-offset: $offset;
    outline-width: var(--sapContent_FocusWidth);
    outline-color: var(--sapContent_FocusColor);
    outline-style: var(--sapContent_FocusStyle);
    @content;
  }
}

// HOVER state (mouseover)

// `.is-hover` is for demo purposes

@mixin fd-hover {
  &:hover,
  &.is-hover {
    @content;
  }
}

// Empty state

// `.is-empty` is when empty state can't be applied, because of some internal framework comments

@mixin fd-empty {
  &:empty,
  &.is-empty {
    @content;
  }
}

// PRESSED state (toggle with full press-and-release)
@mixin fd-pressed {
  &[aria-pressed="true"],
  &.is-pressed {
    @content;
  }
}

// READONLY state (not editable, focusable, submitted with `form`)
@mixin fd-readonly {
  &[aria-readonly="true"],
  &.is-readonly,
  &[readonly] {
    @content;
  }
}

// SELECTED state (current item in nav)
@mixin fd-selected {
  &[aria-selected="true"],
  &.is-selected {
    @content;
  }
}

// EXPANDED state
@mixin fd-expanded {
  &[aria-expanded="true"],
  &.is-expanded {
    @content;
  }
}

@mixin fd-navigated {
  &.is-navigated {
    @content;
  }
}

@mixin fd-hidden {
  &[aria-hidden="true"],
  &.is-hidden {
    @content;
  }
}
