{% import "../forms.njk" as forms %}
{% from "../icon/component.njk" import icon %}

{% macro list_group(properties={}, action={}) %}
<ul class="fd-list-group">
    {%- for item in properties.items %}
    <li class="fd-list-group__item">{{item}}
        {%- if properties.action %}
        <span class="fd-list-group__action"><span class="sap-icon--{{properties.action.icon}}"></span></span>
        {%- endif %}
    </li>
    {%- endfor %}
</ul>
{%- endmacro %}
