{% extends "layout.njk" %}
{% from "./component.njk" import list_group %}
{% from "./../format.njk" import format %}

{% block content %}
<style>

.test-pg__checkbox{
    width: 15px;
    height: 15px;
    border: 1px solid magenta;
    border-radius: 2px;
}
</style>

<h2>default</h2>
{% set example %}
{{  list_group({ items: data.properties.items }) }}
{% endset %}
{{ format(example) }}

<br /><br />
<h2>with actions</h2>
{% set example %}
{{ list_group(data.properties) }}
{% endset %}
{{ format(example) }}

<br /><br />
<h2>with checkboxes</h2>
{% set example %}
{{  list_group(
      properties={
          items: ["<div class='test-pg__checkbox'></div>I have a bike","<div class='test-pg__checkbox'></div>I have a motobike","<div class='test-pg__checkbox'></div>I have a car"]
      })
}}
{% endset %}
{{ format(example) }}

{% endblock %}
