@use "sass:map";

:root {
  --fdButton_Height: var(--sapElement_Height);
  --fdButton_Compact_Height: var(--sapElement_Compact_Height);
  --fdButton_Emphasized_Border_Width: var(--sapButton_Emphasized_BorderWidth);
  --fdButton_Emphasized_Active_Outline: var(--sapContent_FocusColor);
  --fdButton_Ghost_Background: var(--sapButton_Background);
  --fdButton_Outline_Contrast: var(--sapContent_FocusColor);
  --fdButton_Outline_Offset: var(--sapButton_BorderWidth);
  --fdButton_Font_Family: var(--sapButton_FontFamily);
  --fdButton_Focus_Border_Radius: calc(var(--sapButton_BorderCornerRadius) - var(--sapContent_FocusWidth));

  /** Shadows */
  --fdButton_Text_Shadow: none;
  --fdButton_Hover_Shadow: none;

  /** Segmented & Menu */
  --fdButton_Border_Radius_Left: var(--sapButton_BorderCornerRadius);
  --fdButton_Border_Radius_Left_RTL: var(--sapButton_BorderCornerRadius);
  --fdButton_Border_Radius_Right: var(--sapButton_BorderCornerRadius);
  --fdButton_Border_Radius_Right_RTL: var(--sapButton_BorderCornerRadius);
  --fdButton_Border_Radius_Outline_Left: calc(var(--sapButton_BorderCornerRadius) - var(--sapContent_FocusWidth));
  --fdButton_Border_Radius_Outline_Left_RTL: calc(var(--sapButton_BorderCornerRadius) - var(--sapContent_FocusWidth));
  --fdButton_Border_Radius_Outline_Right: calc(var(--sapButton_BorderCornerRadius) - var(--sapContent_FocusWidth));
  --fdButton_Border_Radius_Outline_Right_RTL:
    calc(
      var(--sapButton_BorderCornerRadius) - var(--sapContent_FocusWidth)
    );
  --fdButton_Vertical_Border_Radius_Left: var(--fdButton_Border_Radius_Left);
  --fdButton_Vertical_Border_Radius_Right: var(--fdButton_Border_Radius_Left);

  /** Segmented */
  --fdButton_Segmented_Pad_Display: block;
  --fdButton_Segmented_Border_Offset: 0;
  --fdButton_Segmented_Middle_Border_Radius: var(--sapButton_BorderCornerRadius);

  /** Menu */
  --fdButton_Menu_Offset: 0;
  --fdButton_Menu_Emphasized_Margin: 0;
  --fdButton_Menu_Border_Radius: var(--sapPopover_BorderCornerRadius);
  --fdButton_Menu_Separator_Display: block;
  --fdButton_Menu_Transparent_Separator_Height: 1rem;
  --fdButton_Menu_Transparent_Separator_Display: block;
  --fdButton_Menu_Emphasized_Separator_Display: block;
  --fdButton_Menu_Emphasized_Hover_Separator_Display: none;
  --fdButton_Menu_Transparent_Border_Color: transparent;
  --fdButton_Menu_Default_Shadow_Color: var(--sapButton_BorderColor);
  --fdButton_Menu_Emphasized_Shadow_Color: var(--sapButton_Emphasized_BorderColor);
  --fdButton_Menu_Positive_Shadow_Color: var(--sapButton_Accept_BorderColor);
  --fdButton_Menu_Negative_Shadow_Color: var(--sapButton_Reject_BorderColor);
  --fdButton_Menu_Attention_Shadow_Color: var(--sapButton_Attention_BorderColor);

  /** Tool Header */
  --fdButton_ToolHeader_Color_Normal: var(--sapShell_InteractiveTextColor);
  --fdButton_ToolHeader_Color_Active: var(--sapContent_IconColor);
  --fdButton_ToolHeader_Background_Hover: var(--sapButton_Lite_Hover_Background);
  --fdButton_ToolHeader_Background_Active: var(--sapActiveColor);
  --fdButton_ToolHeader_Border_Color_Normal: transparent;
  --fdButton_ToolHeader_Border_Color_Hover: transparent;
  --fdButton_ToolHeader_Border_Color_Active: transparent;
  --fdButton_ToolHeader_Border_Color_Focus: transparent;
  --fdButton_ToolHeader_Border_Color_Disabled: transparent;
  --fdButton_ToolHeader_Border_Radius_Focus: 0.375rem;
  --fdButton_ToolHeader_Badge_Border_Color: var(--sapShellColor);
  --fdButton_ToolHeader_Outline_Color: var(--sapContent_FocusColor);
  --fdButton_ToolHeader_Button_Size: 2.5rem;
  --fdButton_ToolHeader_Button_Size_Compact: 2rem;
  --fdButton_ToolHeader_Button_Border_Radius: 0.375rem;

  /** Nested Button */
  --fdButton_Nested_Color_Active: var(--sapContent_IconColor);
  --fdButton_Nested_Background_Active: var(--sapActiveColor);
  --fdButton_Nested_Background_Focus: var(--sapButton_Background);
  --fdButton_Nested_Border_Color_Normal: transparent;
  --fdButton_Nested_Border_Color_Hover: transparent;
  --fdButton_Nested_Border_Color_Active: transparent;
  --fdButton_Nested_Border_Color_Focus: transparent;
  --fdButton_Nested_Border_Color_Disabled: transparent;
  --fdButton_Nested_Border_Radius_Focus: 0.75rem;

  /** Button Split */
  --fdButton_Split_Border_Color: transparent;
  --fdButton_Split_Background_Color: transparent;
}
