@use "sass:map";

@import './sap_horizon';

:root {
  /** Menu */
  --fdButton_Menu_Separator_Display: none;
  --fdButton_Menu_Offset: calc(var(--sapButton_BorderWidth) * -1);
  --fdButton_Menu_Emphasized_Margin: calc(var(--sapButton_Emphasized_BorderWidth) * -1);
  --fdButton_Menu_Transparent_Separator_Display: none;
  --fdButton_Menu_Transparent_Border_Color: var(--sapButton_BorderColor);
  --fdButton_Split_Border_Color: var(--fdButtonBorderColor);
  --fdButtonPrioritizedBackgroundColor: var(--fdButtonBackgroundColor);
  --fdButton_Menu_Default_Shadow_Color: transparent;
  --fdButton_Menu_Emphasized_Shadow_Color: transparent;
  --fdButton_Menu_Positive_Shadow_Color: transparent;
  --fdButton_Menu_Negative_Shadow_Color: transparent;
  --fdButton_Menu_Attention_Shadow_Color: transparent;

  /** Segmented */
  --fdButton_Segmented_Pad_Display: none;
  --fdButton_Segmented_Border_Offset: calc(var(--sapButton_BorderWidth) * -1);
  --fdButton_Border_Radius_Left: var(--sapButton_BorderCornerRadius) 0 0 var(--sapButton_BorderCornerRadius);
  --fdButton_Border_Radius_Left_RTL: 0 var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius) 0;
  --fdButton_Border_Radius_Right: 0 var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius) 0;
  --fdButton_Border_Radius_Right_RTL: var(--sapButton_BorderCornerRadius) 0 0 var(--sapButton_BorderCornerRadius);
  --fdButton_Border_Radius_Outline_Left: var(--sapButton_BorderCornerRadius) 0 0 var(--sapButton_BorderCornerRadius);
  --fdButton_Border_Radius_Outline_Left_RTL:
    0 var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius)
    0;
  --fdButton_Border_Radius_Outline_Right: 0 var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius) 0;
  --fdButton_Border_Radius_Outline_Right_RTL:
    var(--sapButton_BorderCornerRadius) 0 0
    var(--sapButton_BorderCornerRadius);
  --fdButton_Vertical_Border_Radius_Left: var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius) 0 0;
  --fdButton_Vertical_Border_Radius_Right: 0 0 var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius);

  /** Tool Header */
  --fdButton_ToolHeader_Border_Color_Normal: var(--sapButton_BorderColor);
  --fdButton_ToolHeader_Border_Color_Hover: var(--sapButton_Hover_BorderColor);
  --fdButton_ToolHeader_Border_Color_Active: var(--sapButton_Active_BorderColor);
  --fdButton_ToolHeader_Border_Color_Focus: transparent;
  --fdButton_ToolHeader_Border_Color_Disabled: var(--sapButton_Hover_BorderColor);
  --fdButton_ToolHeader_Border_Radius_Focus: 0;
  --fdButton_ToolHeader_Badge_Border_Color: var(--sapGroup_ContentBorderColor);
  --fdButton_ToolHeader_Nested_Border_Radius_Focus: 0;

  /** Nested */
  --fdButton_Nested_Border_Color_Normal: var(--sapButton_BorderColor);
  --fdButton_Nested_Border_Color_Hover: var(--sapButton_Hover_BorderColor);
  --fdButton_Nested_Border_Color_Active: var(--sapButton_Active_BorderColor);
  --fdButton_Nested_Border_Color_Focus: transparent;
  --fdButton_Nested_Border_Color_Disabled: var(--sapButton_Hover_BorderColor);
  --fdButton_Nested_Border_Radius_Focus: 0;
}
