@use "sass:map";

:root {
  --fdButton_Height: 2.25rem;
  --fdButton_Compact_Height: 1.625rem;
  --fdButton_Emphasized_Border_Width: var(--sapButton_Emphasized_BorderWidth);
  --fdButton_Emphasized_Active_Outline: var(--sapContent_ContrastFocusColor);
  --fdButton_Ghost_Background: var(--sapButton_Lite_Background);
  --fdButton_Outline_Contrast: var(--sapContent_ContrastFocusColor);
  --fdButton_Outline_Offset: var(--sapButton_BorderWidth);
  --fdButton_Font_Family: var(--sapButton_FontFamily);
  --fdButton_Focus_Border_Radius: calc(var(--sapButton_BorderCornerRadius) - var(--sapContent_FocusWidth));

  /** Shadows */
  --fdButton_Text_Shadow: none;
  --fdButton_Hover_Shadow: none;

  /** Badge */
  --fdButton_Badge_Border_Color: var(--sapContent_BadgeBackground);

  /** Segmented & Menu */
  --fdButton_Border_Radius_Left: var(--sapButton_BorderCornerRadius) 0 0 var(--sapButton_BorderCornerRadius);
  --fdButton_Border_Radius_Left_RTL: 0 var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius) 0;
  --fdButton_Border_Radius_Right: 0 var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius) 0;
  --fdButton_Border_Radius_Right_RTL: var(--sapButton_BorderCornerRadius) 0 0 var(--sapButton_BorderCornerRadius);
  --fdButton_Border_Radius_Outline_Left: var(--sapButton_BorderCornerRadius) 0 0 var(--sapButton_BorderCornerRadius);
  --fdButton_Border_Radius_Outline_Left_RTL:
    0 var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius)
    0;
  --fdButton_Border_Radius_Outline_Right: 0 var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius) 0;
  --fdButton_Border_Radius_Outline_Right_RTL:
    var(--sapButton_BorderCornerRadius) 0 0
    var(--sapButton_BorderCornerRadius);
  --fdButton_Vertical_Border_Radius_Left: var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius) 0 0;
  --fdButton_Vertical_Border_Radius_Right: 0 0 var(--sapButton_BorderCornerRadius) var(--sapButton_BorderCornerRadius);

  /** Segmented */
  --fdButton_Segmented_Pad_Display: none;
  --fdButton_Segmented_Border_Offset: calc(var(--sapButton_BorderWidth) * -1);
  --fdButton_Segmented_Middle_Border_Radius: 0 0 0 0;

  /** Menu */
  --fdButton_Menu_Offset: calc(var(--sapButton_BorderWidth) * -1);
  --fdButton_Menu_Emphasized_Margin: var(--fdButton_Emphasized_Border_Width);
  --fdButton_Menu_Border_Radius: var(--sapElement_BorderCornerRadius);
  --fdButton_Menu_Separator_Display: none;
  --fdButton_Menu_Transparent_Separator_Height: 100%;
  --fdButton_Menu_Transparent_Separator_Display: block;
  --fdButton_Menu_Emphasized_Separator_Display: block;
  --fdButton_Menu_Emphasized_Hover_Separator_Display: block;
  --fdButton_Menu_Transparent_Border_Color: transparent;
  --fdButton_Menu_Box_Shadow: none;
  --fdButton_Menu_Default_Shadow_Color: transparent;
  --fdButton_Menu_Emphasized_Shadow_Color: transparent;
  --fdButton_Menu_Positive_Shadow_Color: transparent;
  --fdButton_Menu_Negative_Shadow_Color: transparent;
  --fdButton_Menu_Attention_Shadow_Color: transparent;

  /** Tool Header */
  --fdButton_ToolHeader_Color_Normal: var(--sapShell_InteractiveTextColor);
  --fdButton_ToolHeader_Color_Active: var(--sapShell_Active_TextColor);
  --fdButton_ToolHeader_Background_Hover: var(--sapShell_Hover_Background);
  --fdButton_ToolHeader_Background_Active: var(--sapShell_Active_Background);
  --fdButton_ToolHeader_Border_Color_Normal: transparent;
  --fdButton_ToolHeader_Border_Color_Hover: transparent;
  --fdButton_ToolHeader_Border_Color_Active: transparent;
  --fdButton_ToolHeader_Border_Color_Focus: transparent;
  --fdButton_ToolHeader_Border_Color_Disabled: transparent;
  --fdButton_ToolHeader_Border_Radius_Focus: 0.375rem;
  --fdButton_ToolHeader_Badge_Border_Color: var(--sapShellColor);
  --fdButton_ToolHeader_Outline_Color: var(--sapContent_ContrastFocusColor);
  --fdButton_ToolHeader_Button_Size: 2.25rem;
  --fdButton_ToolHeader_Button_Size_Compact: 1.625rem;
  --fdButton_ToolHeader_Button_Border_Radius: var(--sapButton_BorderCornerRadius);

  /** Nested Button */
  --fdButton_Nested_Color_Active: var(--sapButton_Active_TextColor);
  --fdButton_Nested_Background_Active: var(--sapButton_Lite_Active_Background);
  --fdButton_Nested_Background_Focus: var(--sapButton_Lite_Background);
  --fdButton_Nested_Border_Color_Normal: transparent;
  --fdButton_Nested_Border_Color_Hover: var(--sapButton_Lite_Hover_BorderColor);
  --fdButton_Nested_Border_Color_Active: transparent;
  --fdButton_Nested_Border_Color_Focus: transparent;
  --fdButton_Nested_Border_Color_Disabled: transparent;
  --fdButton_Nested_Border_Radius_Focus: 0.75rem;

  /** Button Split */
  --fdButton_Split_Border_Color: var(--FdButtonBorderColor);
  --fdButton_Split_Background_Color: var(--FdButtonBackgroundColor);
}
