{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import tile_grid %}
{% from "../identifier/component.njk" import identifier %}

{% block content %}


{%- set tile_default %}
    <div class="tile-playgound">
        <div class="tile-playground">Tile PG</div>
    </div>
{% endset %}

{%- set tile_empty %}
    <div class="tile-playgound">
        <div class="tile-playground"></div>
    </div>
{% endset %}

{%- set tile_icon %}
    <div class="tile-playgound">
        <div class="tile-playground">
            <span class="media-tile-playground"><img src="/static/nature.jpg" alt="picture" width="30px" height="30px"></span>
            <span class="media-tile-playground">Media Tile PG<span>
        </div>
    </div>
{% endset %}

{%- set product_tile_image %}
    <div class="product-tile-playground">
        <img class="product-tile-media" src="/static/nature.jpg" alt="picture" style="width: 100%" height="100px">
        <div class="tile-playground">Product Tile PG</div>
    </div>
{% endset %}

<h2>3-col grid (default)</h2>
<p>Also available as a modifier class <code>--3col</code>
</p>
    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  tile_grid(
            properties={
                items: [
                tile_default, tile_default, tile_default, tile_default, tile_default, tile_default
                ]
            },
            modifier={
                block: []
            },
            state={},
            aria={}
        )
    }}
    {% endset %}
    {{ format(example) }}

<br><br>

<h2>2 col grid</h2>

{% set example %}
{{  tile_grid(
        properties={
            items: [
            tile_icon, tile_icon, tile_icon, tile_icon
            ]
        },
        modifier={
            block: ["2col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


<br><br>

<h2>4 col grid</h2>
{% set example %}
{{  tile_grid(
        properties={
            items: [
            tile_default, tile_default, tile_default, tile_default, tile_default, tile_default, tile_default, tile_default
            ]
        },
        modifier={
            block: ["4col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}

<br><br>

<h2>5 col grid</h2>
{% set example %}
{{  tile_grid(
        properties={
            items: [
              tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty
            ]
        },
        modifier={
            block: ["5col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


<br><br>

<h2>6 col grid</h2>
{% set example %}
{{  tile_grid(
        properties={
            items: [
tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty
            ]
        },
        modifier={
            block: ["6col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}



<br><br>

<h2>6 col grid - product tile</h2>
{% set example %}

{{  tile_grid(
        properties={
            items: [
product_tile_image, product_tile_image, product_tile_image, product_tile_image, product_tile_image, product_tile_image, product_tile_image, product_tile_image
            ]
        },
        modifier={
            block: ["4col"]
        },
        state={},
        aria={}
    )
}}


{% endset %}
{{ format(example) }}







<br><br>


<h2>6 col grid w/ span helpers</h2>
<p>Shows use of helper classes <code>.fd-has-grid-row-span-2</code> and <code>.fd-has-grid-column-span-2</code>.
</p>
{% set tile_span_row_2 %}
    <div class="tile-playgound fd-has-grid-row-span-2 fd-has-background-color-accent-7">
        <div style="padding: 10px">Tile PG</div>
    </div>
{% endset %}
{% set tile_span_col_2 %}
    <div class="tile-playgound fd-has-grid-column-span-2 fd-has-background-color-accent-7">
        <div style="padding: 10px">Tile PG</div>
    </div>
{% endset %}


{% set example %}
{{  tile_grid(
        properties={
            items: [
              tile_span_row_2, tile_default, tile_default, tile_default, tile_default, tile_default, tile_default, tile_default, tile_default, tile_span_col_2
            ]
        },
        modifier={
            block: ["6col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}

{% endblock %}
