@use "sass:map";

:root {
  --fdMessagePopover_Trigger_Font_Weight: normal;
  --fdMessagePopover_Trigger_Border_Width: var(--sapButton_BorderWidth);
  --fdMessagePopover_Active_Focus_Outline_Color: var(--sapContent_FocusColor);

  /* Critical */
  --fdMessagePopover_Critical_Regular_Text_Shadow: var(--sapContent_ContrastTextShadow);
  --fdMessagePopover_Critical_Hover_Text_Shadow: none;
  --fdMessagePopover_Critical_Active_Text_Shadow: none;

  /* Success */
  --fdMessagePopover_Success_Regular_Text_Shadow: var(--sapContent_ContrastTextShadow);
  --fdMessagePopover_Success_Hover_Text_Shadow: none;
  --fdMessagePopover_Success_Active_Text_Shadow: none;

  /* Negative */
  --fdMessagePopover_Negative_Regular_Text_Shadow: var(--sapContent_ContrastTextShadow);
  --fdMessagePopover_Negative_Hover_Text_Shadow: none;
  --fdMessagePopover_Negative_Active_Text_Shadow: none;

  /* Information */
  --fdMessagePopover_Information_Focus_Outline_Color: var(--sapContent_FocusColor);
  --fdMessagePopover_Information_Regular_Text_Shadow: var(--sapContent_TextShadow);
  --fdMessagePopover_Information_Regular_Background_Color: var(--sapButton_Information_Background);
  --fdMessagePopover_Information_Regular_Color: var(--sapButton_Information_TextColor);
  --fdMessagePopover_Information_Regular_Border_Color: var(--sapButton_Information_BorderColor);
  --fdMessagePopover_Information_Hover_Text_Shadow: var(--sapContent_TextShadow);
  --fdMessagePopover_Information_Hover_Background_Color: var(--sapButton_Information_Hover_Background);
  --fdMessagePopover_Information_Hover_Color: var(--sapButton_Information_Hover_TextColor);
  --fdMessagePopover_Information_Hover_Border_Color: var(--sapButton_Information_Hover_BorderColor);
  --fdMessagePopover_Information_Active_Text_Shadow: var(--sapContent_TextShadow);
  --fdMessagePopover_Information_Active_Background_Color: var(--sapButton_Information_Active_Background);
  --fdMessagePopover_Information_Active_Color: var(--sapButton_Information_Active_TextColor);
  --fdMessagePopover_Information_Active_Border_Color: var(--sapButton_Information_Active_BorderColor);
}
