@import "./list-definitions";

.#{$block} {
  &--message-view {
    --fdList_Item_Height: calc(2.75rem + var(--sapList_BorderWidth));
    --fdList_Message_View_Item_Byline_Height: calc(3.325rem + var(--sapList_BorderWidth));
    --fdList_Message_View_Title_Size: var(--sapFontHeader5Size);
    .#{$block}__item {
      &--byline {
        --fdList_Item_Height: var(--fdList_Message_View_Item_Byline_Height);
      }
    }
    .#{$block}__content {
      @include fd-reset();

      @include fd-flex(column) {
        flex: 1 1 auto;

        @include fd-ellipsis();
      }

      @include fd-list-ie11-active-state-fix();
    }

    .#{$block}__title {
      font-family: var(--sapFontHeaderFamily);
      font-size: var(--fdList_Message_View_Title_Size);
      font-weight: normal;
      color: var(--sapGroup_TitleTextColor);

      @include fd-ellipsis();
    }

    .#{$block}__subtitle {
      padding-top: 0.25rem;
      font-family: var(--sapFontFamily);
      font-size: var(--sapFontSize);
      color: var(--sapContent_LabelColor);

      @include fd-ellipsis();
    }

    .#{$block}__link {
      @include fd-active() {
        .#{$block}__title, .#{$block}__subtitle, .fd-object-status .fd-object-status__icon {
          color: var(--sapList_Active_TextColor);
        }
      }
    }

    @include fd-compact-condensed() {
      --fdList_Message_View_Item_Height: calc(2rem + var(--sapList_BorderWidth));
      --fdList_Message_View_Title_Size: var(--sapFontHeader6Size);
      --fdList_Message_View_Item_Byline_Height: calc(3.25rem + var(--sapList_BorderWidth));
    }
  }
}
