@use "sass:map";

@import "./list-definitions";

.#{$block} {
  @include fd-reset();

  position: relative;
  list-style: none;
  width: 100%;

  &__item,
  &__group-header,
  &__footer {
    @include fd-reset();
    @include fd-flex-vertical-center();

    padding-block: 0;
    padding-inline: $fd-list-item-padding-x;
  }

  &__item {
    @include fd-list-fake-outline() {
      bottom: 0.0625rem;
    }

    height: var(--fdList_Item_Height);
    border-bottom: var(--sapList_BorderWidth) solid var(--fdList_Item_Border_Color);
    background: var(--fdList_Item_Background_Color);
    position: relative;

    .#{$avatar} {
      &:first-child {
        margin-inline-end: 0.75rem;
      }
    }

    &:last-child {
      border-bottom-color: transparent;

      @include fd-selected() {
        border-bottom-color: var(--sapList_SelectionBorderColor);
      }
    }

    &--unread {
      .#{$block}__title {
        font-weight: bold;
      }
    }

    &--no-data {
      .#{$block}__title {
        text-align: center;
      }
    }

    &--interractive, // This is a typo, but we can't remove it yet
    &--interactive {
      @include fd-list-item-states();
    }

    &--action {
      padding-inline: 0;
      padding-block: 0;
      text-align: center;
      font-size: var(--sapFontSize);
      border-bottom: var(--fdList_Item_Action_Border);

      --fdList_Item_Height: var(--sapElement_LineHeight);

      &:first-child {
        border-top: var(--fdList_Item_Action_Border);
      }

      .#{$block}__title {
        @include fd-list-item-states();

        padding-block: 0;
        padding-inline: $fd-list-item-padding-x;
        height: var(--fdList_Item_Action_Button_Size);
        width: 100%;
        background: transparent;
        color: var(--sapButton_TextColor);
        pointer-events: all;
        cursor: pointer;
        margin-block: var(--fdList_Item_Action_Button_Spacing);
        margin-inline: var(--fdList_Item_Action_Button_Spacing);
        border: var(--fdList_Item_Action_Button_Border);
        border-radius: var(--fdList_Item_Action_Button_Border_Radius);

        @include fd-fiori-focus(-0.125rem) {
          @include fd-active() {
            outline-color: var(--fdList_Active_Outline_Color);
          }
        }

        &::-moz-focus-inner {
          border: 0;
        }
      }
    }

    &--growing {
      --fdList_Item_Height: var(--sapElement_LineHeight);

      .#{$block}__title {
        @include fd-flex-center() {
          gap: 0.5rem;
        };
      }

      .#{$block}__title-text {
        @include fd-reset();
        @include fd-ellipsis();

        color: inherit;
        text-shadow: inherit;
        font-size: var(--sapFontSize);
        font-weight: var(--fdList_Growing_Font_Weight);
      }
    }

    &--inactive {
      &,
      .#{$block}__title,
      .#{$block}__secondary {
        pointer-events: none;
      }
    }

    @include fd-selected() {
      @include fd-list-item-selected-state();
    }
  }

  &__title,
  &__secondary {
    @include fd-reset();
    @include fd-ellipsis();
    @include fd-list-ie11-active-state-fix();

    color: var(--fdList_Item_Text_Color);
    pointer-events: all;
    line-height: normal;
  }

  &__title {
    flex: 3 3 10%;
    font-size: var(--fdList_Item_Text_Font_Size);
    min-height: var(--fdList_Item_Text_Font_Size);

    &:last-child:first-child {
      flex-basis: auto;
    }

    .#{$block }__title-text {
      @include fd-flex-vertical-center();
    }

    ~ .#{$block}__icon {
      margin-inline-end: -1rem;
    }
  }

  &__secondary {
    max-width: 40%;
    text-align: right;
    font-size: var(--sapFontSize);
    color: var(--fdList_Status_Text_Color);
    padding-inline-start: 1rem;

    &--positive {
      --fdList_Status_Text_Color: var(--sapPositiveTextColor);
    }

    &--critical {
      --fdList_Status_Text_Color: var(--sapCriticalTextColor);
    }

    &--negative {
      --fdList_Status_Text_Color: var(--sapNegativeTextColor);
    }

    &--informative {
      --fdList_Status_Text_Color: var(--sapInformativeTextColor);
    }

    @include fd-rtl() {
      text-align: left;
    }
  }

  &__icon {
    @include fd-icon-element-base() {
      @include fd-list-ie11-active-state-fix();
      @include fd-flex-center();

      color: var(--sapContent_NonInteractiveIconColor);
      font-size: var(--fdList_Item_Icon_Font_Size);
      width: 2.75rem;
      flex: 0 0 auto;

      &:first-child {
        margin-inline-start: -1rem;
      }
    }
  }

  &__link {
    @include fd-reset();
    @include fd-flex-vertical-center();
    @include fd-list-fake-outline();
    @include fd-list-item-states();

    --fdList_Item_Border_Color: transparent;

    text-decoration: none;
    width: 100%;
    height: 100%;
    padding-block: 0;
    padding-inline: $fd-list-item-padding-x;
    border-bottom: var(--sapList_BorderWidth) solid var(--fdList_Item_Border_Color);
    background: var(--fdList_Item_Background_Color);
    cursor: pointer;
  }

  &__group-header {
    height: var(--sapElement_LineHeight);
    background: var(--sapList_GroupHeaderBackground);
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_GroupHeaderBorderColor);
    align-items: flex-end;

    .#{$block}__title {
      @include fd-ellipsis();

      font-weight: bold;
      line-height: 2rem;
      font-size: var(--sapFontHeader6Size);
      font-family: var(--sapFontHeaderFamily);
      color: var(--sapList_TableGroupHeaderTextColor);
    }
  }

  &__footer {
    height: 2rem;
    background: var(--sapList_FooterBackground);
    color: var(--sapList_FooterTextColor);
    font-size: $fd-list-normal-font-size;

    &--right {
      justify-content: flex-end;
    }

    &--left {
      justify-content: flex-start;
    }
  }

  &__bold {
    font-weight: bold;
  }

  &__message {
    @include fd-reset();
    @include fd-ellipsis();

    position: absolute;
    line-height: 2rem;
    width: 100%;
    top: 0;
    left: 0;
    height: 2rem;
    padding-inline-start: 0.5rem;
    font-size: var(--sapFontSmallSize);
    background-color: var(--fdList_Message_Background_Color);

    &--error {
      --fdList_Message_Background_Color: var(--sapErrorBackground);
    }

    &--warning {
      --fdList_Message_Background_Color: var(--sapWarningBackground);
    }

    &--success {
      --fdList_Message_Background_Color: var(--sapSuccessBackground);
    }

    &--information {
      --fdList_Message_Background_Color: var(--sapInformationBackground);
    }
  }

  .#{$block}__button {
    margin-inline-start: var(--fdList_Button_Spacing);
    align-self: center;
  }

  @include fd-compact-or-condensed() {
    &:not(.#{$objectListBlock}):not(.#{$messageViewList}) {
      --fdList_Item_Icon_Font_Size: 1rem;
      --fdList_Item_Text_Font_Size: var(--sapFontSize);
      --fdList_Item_Height: var(--sapElement_Compact_LineHeight);

      .#{$block}__item--growing {
        --fdList_Item_Height: var(--sapElement_LineHeight);
      }

      .#{$block}__item.#{$block}__item--action {
        --fdList_Item_Height: var(--sapElement_Compact_LineHeight);

        .#{$block}__title {
          height: var(--fdList_Item_Action_Button_Size_Compact);
        }
      }
    }
  }

  &--no-border {
    .#{$block}__item,
    .#{$block}__group-header {
      border-bottom: 0;
      border-top: 0;
    }

    .#{$block}__item {
      @include fd-selected() {
        border-bottom: $fd-list-selected-state-border-bottom;
      }
    }
  }

  &--has-message {
    padding-block-start: 2rem;
  }

  &__infinite-scroll {
    overflow: scroll;
    outline: none;
  }
}
