@import "./list-definitions";

$fd-list-byline-thumbnail-dimensions: 3rem !default;
$fd-list-byline-item-height: 5rem !default;
$fd-list-byline-text-line-height: 1rem !default;
$fd-list-byline-elements-spacing: 0.5rem !default;
$fd-list-byline-section-text-color: var(--sapContent_LabelColor) !default;

.#{$block} {
  &--byline {
    .#{$block}__item {
      @include fd-focus() {
        pointer-events: all;
      }

      width: 100%;
      min-height: $fd-list-byline-item-height;
      height: auto;
      padding: $fd-list-byline-item-padding-y $fd-list-byline-item-padding-x;
      align-items: center;

      .#{$block}__item-counter {
        @include fd-flex-vertical-center();

        justify-content: flex-end;
        height: 100%;
        min-width: 2rem;
      }
    }

    .#{$block}__thumbnail {
      @include fd-reset();
      @include fd-list-ie11-active-state-fix();
      @include fd-icon-element-base();
      @include fd-flex-center();
      @include fd-set-margin-right(0.75rem);

      width: $fd-list-byline-thumbnail-dimensions;
      height: $fd-list-byline-thumbnail-dimensions;
      min-width: $fd-list-byline-thumbnail-dimensions;
      max-width: $fd-list-byline-thumbnail-dimensions;
      min-height: $fd-list-byline-thumbnail-dimensions;
      max-height: $fd-list-byline-thumbnail-dimensions;
      border-radius: 0.25rem;
      font-size: 2.5rem;
      color: var(--sapContent_NonInteractiveIconColor);

      > svg {
        height: 100%;
      }
    }

    .#{$block}__notification {
      position: absolute;
      top: 50%;

      @include fd-set-position-left(1rem);

      transform: translateY(-50%);
      color: var(--sapAccentColor6);
      font-size: 0.375rem;
    }

    .#{$block}__content {
      @include fd-reset();
      @include fd-flex(column);
      @include fd-list-ie11-active-state-fix();

      align-content: space-between;
      min-height: $fd-list-byline-thumbnail-dimensions;
      min-width: $fd-list-byline-thumbnail-dimensions;
      height: 100%;
      flex: 1 1 auto;
      padding: 0.125rem 0;
    }

    .#{$block}__title {
      @include fd-ellipsis();

      font-size: $fd-list-large-font-size;
      min-height: $fd-list-byline-text-line-height;
    }

    .#{$block}__byline {
      @include fd-reset();
      @include fd-ellipsis();

      font-size: $fd-list-normal-font-size;
      color: $fd-list-byline-section-text-color;
      line-height: $fd-list-byline-text-line-height;
      padding-top: 0.75rem;

      &--2-col {
        display: flex;
        pointer-events: all;
      }
    }

    .#{$block}__link {
      &--more {
        text-transform: uppercase;
        pointer-events: all;
      }
    }

    .#{$block}__title, .#{$block}__byline {
      &--wrap {
        white-space: normal;
      }
    }

    .#{$block}__byline-left {
      @include fd-reset();
      @include fd-ellipsis();
      @include fd-set-padding-right($fd-list-byline-elements-spacing);

      width: 60%;
      color: $fd-list-byline-section-text-color;
      line-height: $fd-list-byline-text-line-height;
      align-self: flex-end;
    }

    .#{$block}__byline-right {
      @include fd-reset();
      @include fd-ellipsis();
      @include fd-set-padding-left($fd-list-byline-elements-spacing);

      width: 40%;
      color: $fd-list-byline-section-text-color;
      line-height: $fd-list-byline-text-line-height;
      text-align: right;
      align-self: flex-end;

      @include fd-rtl() {
        text-align: left;
      }

      @each $set-name, $color-set in $semantic-color {
        &--#{$set-name} {
          color: map_get($color-set, "color");
        }
      }
    }

    .#{$block}__byline-left, .#{$block}__byline-right {
      &--wrap {
        white-space: normal;
      }
    }

    &.#{$block}--unread-indicator {
      .#{$block}__item {
        @include fd-set-paddings-x($fd-list-unread-indicator-spacing, $fd-list-byline-item-padding-x);
      }
    }

    &.#{$block}--compact {
      .#{$block}__title {
        font-size: $fd-list-normal-font-size;
      }
    }

    &.#{$block}--no-border {
      .#{$block}__item {
        @include fd-set-paddings-y-equal($fd-list-byline-borderless-item-padding-y);

        max-height: $fd-list-byline-item-height;
        height: 100%;
      }

      .#{$block}__item:first-child {
        padding-top: $fd-list-byline-item-padding-y;
      }

      .#{$block}__item:last-child {
        padding-bottom: $fd-list-byline-item-padding-y;
      }
    }
  }
}
