@import "./list-definitions";

.#{$block} {
  @include fd-reset();

  position: relative;
  list-style: none;
  width: 100%;

  &__item,
  &__group-header,
  &__footer {
    @include fd-reset();
    @include fd-flex-vertical-center();

    padding: 0 $fd-list-item-padding-x;
    height: 2.75rem;
  }

  &__item {
    @include fd-list-fake-outline() {
      bottom: 0.0625rem;
    }

    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);
    background: var(--sapList_Background);
    position: relative;

    &--unread {
      .#{$block}__title {
        font-weight: bold;
      }
    }

    &--no-data {
      .#{$block}__title {
        text-align: center;
      }
    }

    &--interractive {
      @include fd-list-item-states();
    }

    &--action {
      padding: 0;
      text-align: center;
      border-bottom: var(--fdList_Item_Action_Border);
      height: var(--fdList_Item_Action_Height);

      &:first-child {
        border-top: var(--fdList_Item_Action_Border);
      }

      .#{$block}__title {
        @include fd-list-item-states();

        padding: 0 $fd-list-item-padding-x;
        height: var(--fdList_Item_Action_Button_Size);
        width: 100%;
        background: transparent;
        color: var(--sapButton_TextColor);
        pointer-events: all;
        cursor: pointer;
        margin: var(--fdList_Item_Action_Button_Spacing);
        border: var(--fdList_Item_Action_Button_Border);
        border-radius: var(--fdList_Item_Action_Button_Border_Radius);

        @include fd-fiori-focus(-0.125rem) {
          @include fd-active() {
            outline-color: var(--fdList_Active_Outline_Color);
          }
        }

        &::-moz-focus-inner {
          border: 0;
        }
      }
    }

    &--growing {
      .#{$block}__title {
        @include fd-flex-center();
      }

      .#{$block}__title-text {
        @include fd-reset();
        @include fd-ellipsis();
        @include fd-set-margin-left(0.5rem);

        color: inherit;
        text-shadow: inherit;
        font-size: inherit;
        font-weight: var(--fdList_Growing_Font_Weight);
      }
    }

    &--inactive {
      &,
      .#{$block}__title,
      .#{$block}__secondary {
        pointer-events: none;
      }
    }

    @include fd-selected() {
      @include fd-list-item-selected-state();
    }
  }

  &__title,
  &__secondary {
    @include fd-reset();
    @include fd-ellipsis();
    @include fd-list-ie11-active-state-fix();

    color: var(--sapList_TextColor);
    pointer-events: all;
  }

  &__title {
    flex: 3 3 10%;
    font-size: $fd-list-large-font-size;
    min-height: $fd-list-normal-font-size;

    &:last-child:first-child {
      flex-basis: auto;
    }

    ~ .#{$block}__icon {
      @include fd-set-margin-right(-1rem);
    }
  }

  &__secondary {
    @include fd-set-padding-left(1rem);

    font-size: $fd-list-normal-font-size;
    flex: 2 2 10%;
    text-align: right;

    @include fd-rtl() {
      text-align: left;
    }
  }

  &__icon {
    @include fd-icon-element-base() {
      @include fd-list-ie11-active-state-fix();
      @include fd-flex-center();

      color: var(--sapList_TextColor);
      font-size: var(--sapFontHeader4Size);
      width: 2.75rem;
      flex: 0 0 auto;

      &:first-child {
        @include fd-set-margin-left(-1rem);
      }
    }
  }

  &__link {
    @include fd-reset();
    @include fd-flex-vertical-center();
    @include fd-list-fake-outline();
    @include fd-list-item-states();

    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0 $fd-list-item-padding-x;
    cursor: pointer;
  }

  &__group-header {
    background: var(--sapList_GroupHeaderBackground);
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_GroupHeaderBorderColor);
    color: var(--sapList_GroupHeaderTextColor);
    align-items: flex-end;
    height: 2.75rem;

    .#{$block}__title {
      font-size: $fd-list-normal-font-size;
      font-weight: bold;
      line-height: 2rem;
    }
  }

  &__footer {
    background: var(--sapList_FooterBackground);
    color: var(--sapList_FooterTextColor);
    font-size: $fd-list-normal-font-size;
    height: 2rem;

    &--right {
      justify-content: flex-end;
    }

    &--left {
      justify-content: flex-start;
    }
  }

  &__bold {
    font-weight: bold;
  }

  &__message {
    @include fd-reset();
    @include fd-ellipsis();
    @include fd-set-padding-left(0.5rem);

    position: absolute;
    line-height: 2rem;
    width: 100%;
    top: 0;
    left: 0;
    height: 2rem;
    font-size: var(--sapFontSmallSize);

    &--error {
      background-color: var(--sapErrorBackground);
    }

    &--warning {
      background-color: var(--sapWarningBackground);
    }

    &--success {
      background-color: var(--sapSuccessBackground);
    }

    &--information {
      background-color: var(--sapInformationBackground);
    }
  }

  .#{$block}__button {
    @include fd-set-margin-left(var(--fdList_Button_Spacing));
  }

  &--compact:not(.#{$objectListBlock}) {
    .#{$block}__item {
      height: 2rem;
    }

    .#{$block}__item.#{$block}__item--action {
      .#{$block}__title {
        height: var(--fdList_Item_Action_Button_Size_Compact);
      }
    }

    .#{$block}__title {
      font-size: $fd-list-normal-font-size;
      min-height: $fd-list-normal-font-size;
    }

    .#{$block}__icon {
      @include fd-icon-selector() {
        font-size: $fd-list-large-font-size;
      }
    }
  }

  &--no-border {
    .#{$block}__item,
    .#{$block}__group-header {
      border-bottom: 0;
      border-top: 0;
    }

    .#{$block}__item {
      @include fd-selected() {
        border-bottom: $fd-list-selected-state-border-bottom;
      }
    }
  }

  &--has-message {
    padding-top: 2rem;
  }

  &__infinite-scroll {
    overflow: scroll;
    outline: none;
  }
}
