@import "./list-definitions";

$fd-list-navigation-indicator-width: 2.75rem !default;

.#{$block} {
  &--navigation-indication {
    .#{$block} {
      &::after {
        min-width: $fd-list-navigation-indicator-width - 1rem;
        content: '';
      }
    }

    #{$block}__item.#{$block}__item--link {
      @include fd-set-padding-right(0);

      &::after {
        content: none;
      }
    }

    .#{$block}__link {
      &::after {
        min-width: $fd-list-navigation-indicator-width;
        content: '';
      }

      &--navigation-indicator {
        &::after {
          @include fd-flex-center();

          height: 100%;
          font-family: "SAP-icons";
          content: '\e1ed';
          color: var(--sapContent_NonInteractiveIconColor);
          font-size: var(--sapFontSmallSize);
          text-decoration: none;
          text-transform: none;
        }

        @include fd-rtl() {
          &::after {
            content: '\e1ee';
          }
        }
      }
    }

    .#{$block}__icon {
      &:last-child {
        margin: 0;
      }

      @include fd-rtl() {
        &:last-child {
          margin: 0;
        }
      }
    }

    .is-navigated {
      box-shadow: inset -0.1875rem 0 0 0 var(--sapList_SelectionBorderColor);

      @include fd-rtl() {
        box-shadow: inset 0.1875rem 0 0 0 var(--sapList_SelectionBorderColor);
      }
    }
  }
}
