@use "sass:map";

@import "./list-definitions";

$fd-list-byline-thumbnail-dimensions: 3rem !default;
$fd-list-byline-item-height: 5rem !default;
$fd-list-byline-text-line-height: 1rem !default;
$fd-list-byline-elements-spacing: 0.5rem !default;
$fd-list-byline-section-text-color: var(--sapContent_LabelColor) !default;

.#{$block} {
  &--byline {
    .#{$block}__item {
      @include fd-focus() {
        pointer-events: all;
      }

      width: 100%;
      min-height: $fd-list-byline-item-height;
      height: auto;
      padding-block: $fd-list-byline-item-padding-y;
      padding-inline: $fd-list-byline-item-padding-x;
      align-items: flex-start;

      .#{$block}__item-counter {
        @include fd-flex-vertical-center();

        align-self: center;
        justify-content: flex-end;
        height: 100%;
        min-width: 2rem;
      }
    }

    .#{$block}__thumbnail {
      @include fd-reset();
      @include fd-list-ie11-active-state-fix();
      @include fd-icon-element-base();
      @include fd-flex-center();

      margin-inline-end: 0.75rem;
      width: $fd-list-byline-thumbnail-dimensions;
      height: $fd-list-byline-thumbnail-dimensions;
      min-width: $fd-list-byline-thumbnail-dimensions;
      max-width: $fd-list-byline-thumbnail-dimensions;
      min-height: $fd-list-byline-thumbnail-dimensions;
      max-height: $fd-list-byline-thumbnail-dimensions;
      border-radius: 0.25rem;
      font-size: 2rem;
      color: var(--sapContent_NonInteractiveIconColor);

      > svg {
        height: 100%;
      }
    }

    .#{$block}__notification {
      position: absolute;
      top: 50%;

      @include fd-set-position-left(1rem);

      transform: translateY(-50%);
      color: var(--sapAccentColor6);
      font-size: 0.375rem;

      & ~ .#{$block}__content .#{$block}__title {
        font-weight: bold;
      }

      & + .#{$block}__link .#{$block}__content .#{$block}__title {
        font-weight: bold;
      }
    }

    .#{$block}__content {
      @include fd-reset();
      @include fd-flex(column);
      @include fd-list-ie11-active-state-fix();

      align-content: space-between;
      min-height: $fd-list-byline-thumbnail-dimensions;
      min-width: $fd-list-byline-thumbnail-dimensions;
      height: 100%;
      flex: 1 1 auto;
      padding-block: 0.125rem;
      padding-inline: 0;
    }

    .#{$block}__title {
      @include fd-ellipsis();

      font-size: $fd-list-large-font-size;
      min-height: $fd-list-byline-text-line-height;
    }

    .#{$block}__byline {
      @include fd-reset();
      @include fd-ellipsis();

      font-size: $fd-list-normal-font-size;
      color: $fd-list-byline-section-text-color;
      line-height: $fd-list-byline-text-line-height;
      padding-block-start: 0.5rem;

      &--2-col {
        display: flex;
        pointer-events: all;
      }

      &--wrap {
        .#{$block}__byline-right,
        .#{$block}__byline-left {
          padding-inline: 0;
          padding-block: 0;
          width: 100%;
          display: inline;
          white-space: normal;
        }

        .#{$block}__byline-right {
          width: auto;
          float: right;
        }
      }
    }

    .#{$block}__link {
      &--more {
        text-transform: capitalize;
        pointer-events: all;
      }
    }

    .#{$block}__title, .#{$block}__byline {
      &--wrap {
        white-space: normal;
      }
    }

    .#{$block}__byline-left {
      @include fd-reset();
      @include fd-ellipsis();

      width: 60%;
      color: $fd-list-byline-section-text-color;
      line-height: $fd-list-byline-text-line-height;
      align-self: flex-end;
      padding-inline-end: $fd-list-byline-elements-spacing;
    }

    .#{$block}__byline-right {
      @include fd-reset();
      @include fd-ellipsis();

      width: 40%;
      color: $fd-list-byline-section-text-color;
      line-height: $fd-list-byline-text-line-height;
      text-align: right;
      align-self: flex-end;
      padding-inline-start: $fd-list-byline-elements-spacing;

      @include fd-rtl() {
        text-align: left;
      }

      @each $set-name, $color-set in $semantic-color {
        &--#{$set-name} {
          color: map.get($color-set, "color");
        }
      }
    }

    .#{$block}__group-header {
      @include fd-set-height(var(--sapElement_LineHeight));
    }

    &.#{$block}--unread-indicator {
      .#{$block}__item {
        @include fd-set-paddings-x($fd-list-unread-indicator-spacing, $fd-list-byline-item-padding-x);
      }
    }

    @include fd-compact-or-condensed() {
      .#{$block}__title {
        font-size: $fd-list-normal-font-size;
      }
    }

    &.#{$block}--no-border {
      .#{$block}__item {
        @include fd-set-paddings-y-equal($fd-list-byline-borderless-item-padding-y);

        max-height: $fd-list-byline-item-height;
        height: 100%;
      }

      .#{$block}__item:first-child {
        padding-block-start: $fd-list-byline-item-padding-y;
      }

      .#{$block}__item:last-child {
        padding-block-end: $fd-list-byline-item-padding-y;
      }
    }
  }
}
