@import "./mixins";

$block: #{$fd-namespace}-container;

.#{$block} {
  @include fd-clearfix();

  margin-bottom: 0.75rem;
  max-width: 80.625rem;

  &:last-child {
    margin-bottom: 0;
  }

  &--fluid {
    max-width: 100%;
  }

  &--flex {
    display: flex;
  }

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }
}
