@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-list;
$form-item: #{$fd-namespace}-form-item;

$fd-list-item-padding-x: 1rem !default;
$fd-dropdown-vertical-padding: 0.75rem !default;
$fd-dropdown-vertical-compact-padding: 0.5rem !default;
$fd-checkbox-dimensions: 1.375rem !default;
$fd-list-last-item-bottom-border-radius: var(--sapElement_BorderCornerRadius) !default;
$fd-list-form-item-margin-x: -1rem !default;
$fd-list-large-font-size: var(--sapFontLargeSize) !default;
$fd-list-normal-font-size: var(--sapFontSize) !default;
$fd-list-message-padding-left: 0.5rem !default;
$fd-list-selected-state-border-bottom: var(--sapList_BorderWidth) solid var(--sapList_SelectionBorderColor);
$fd-list-item-border: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);

$fd-list-byline-thumbnail-dimensions: 3rem !default;
$fd-list-byline-thumbnail-border-radius: 0.25rem !default;
$fd-list-byline-thumbnail-spacing: 0.75rem !default;
$fd-list-byline-item-height: 5rem !default;
$fd-list-byline-text-line-height: 1rem !default;
$fd-list-byline-elements-spacing: 0.5rem !default;
$fd-list-byline-item-padding-x: 1rem !default;
$fd-list-byline-item-padding-y: 1rem !default;
$fd-list-byline-borderless-item-padding-y: 0.5rem !default;
$fd-list-byline-section-text-color: var(--sapContent_LabelColor) !default;
$fd-list-form-item-margin-top: -0.5rem !default;
$fd-list-byline-form-item-top-offset: 0.3125rem !default;
$fd-list-byline-form-item-compact-top-offset: 0.5rem !default;
$fd-list-byline-form-item-left-offset: 0.375rem !default;
$fd-list-byline-form-item-label-top-offset: 0.375rem !default;

$fd-list-selection-container-width: 2.75rem !default;
$fd-list-selection-container-compact-width: 2rem !default;

$fd-list-navigation-indicator-width: 2.5rem !default;
$fd-list-navigation-navigator-bar-right: inset -0.1875rem 0 0 0 var(--sapSelectedColor);
$fd-list-navigation-navigator-bar-left: inset 0.1875rem 0 0 0 var(--sapSelectedColor);
$fd-list-navigation-indicator-width: 2.75rem !default;

$semantic-color: (
  "neutral": ("color": var(--sapNeutralTextColor)),
  "positive": ("color": var(--sapPositiveTextColor)),
  "critical": ("color": var(--sapCriticalTextColor)),
  "negative": ("color": var(--sapNegativeTextColor)),
  "informative": ("color": var(--sapInformativeTextColor))
);

@mixin fake-list-outline() {
  &:focus,
  &.is-focus {
    outline: none;

    &::before {
      content: '';
      position: absolute;
      display: block;
      border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
      top: 0.125rem;
      left: 0.125rem;
      right: 0.125rem;
      bottom: 0.125rem;
    }

    @include fd-active() {
      &::before {
        border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_ContrastFocusColor);
      }
    }
  }
}

@mixin list-item-selected-state() {
  background: var(--sapList_SelectionBackgroundColor);
  border-bottom: $fd-list-selected-state-border-bottom;

  @include fd-hover() {
    background: var(--sapList_Hover_SelectionBackground);
  }
}

@mixin list-item-states() {
  @include fd-hover() {
    background: var(--sapList_Hover_Background);
  }

  @include fd-selected() {
    @include list-item-selected-state();
  }

  @include fd-active() {
    background: var(--sapList_Active_Background);

    @include fd-hover() {
      background: var(--sapList_Active_Background);
    }

    @include fd-selected() {
      background: var(--sapList_Active_Background);

      @include fd-hover() {
        background: var(--sapList_Active_Background);
      }
    }

    .#{$block}__title,
    .#{$block}__secondary,
    .#{$block}__icon,
    .#{$block}__content,
    .#{$block}__byline,
    .#{$block}__byline-left,
    .#{$block}__byline-right,
    .#{$block}__thumbnail,
    &.#{$block}__link--navigation-indicator::after,
    & {
      color: var(--sapList_Active_TextColor);
    }

    @each $set-name, $color-set in $semantic-color {
      .#{$block}__byline-right--#{$set-name} {
        color: var(--sapList_Active_TextColor);
      }
    }
  }
}

@mixin ie11-active-state-fix() {
  // :active selector has issues in IE11 when there are nested elements.
  // The solution is to remove the pointer events from the nested elements.
  pointer-events: none;
}

@mixin padding-left-right($left, $right) {
  padding-left: $left;
  padding-right: $right;

  @include fd-rtl() {
    padding-left: $right;
    padding-right: $left;
  }
}

@mixin padding-top-bottom($padding-y) {
  padding-top: $padding-y;
  padding-bottom: $padding-y;
}

@mixin reset-list-item-paddings() {
  .#{$block}__item--link {
    padding: 0;
  }
}

@mixin navigation-byline-borderless() {
  .#{$block}__item--link {
    .#{$block}__link {
      @include padding-top-bottom(0.5rem);
    }
  }

  .#{$block}__item--link:first-child {
    padding-top: 0;
    .#{$block}__link {
      padding-top: 1rem;
    }

    .#{$block}__link--navigation-indicator::after {
      margin-bottom: 0.5rem;
    }
  }

  .#{$block}__item--link:last-child {
    padding-bottom: 0;
    .#{$block}__link {
      padding-bottom: 1rem;
    }

    .#{$block}__link--navigation-indicator::after {
      margin-top: 0.25rem;
    }
  }
}
