
@import "./listDefinitions";

.#{$block} {
  &--object {
    .#{$block}__item {
      @include padding-top-bottom(1rem);

      height: 100%;
      width: 100%;
      box-sizing: border-box;
      border-bottom: $fd-list-object-border-bottom;
    }

    .#{$block}__optional {
      width: 100%;
      padding-bottom: $fd-list-object-with-value-half;

      &-text {
        @include fd-reset();
        @include fd-ellipsis();

        width: 50%;
        color: $fd-list-object-font-color;
      }
    }

    .#{$block}__content {
      flex: auto;
    }

    .#{$block}__object {
      width: 100%;

      &--top-row {
        display: flex;
        vertical-align: $fd-list-object-with-vertical-align-top;
      }

      &--top-left {
        width: 60%;

        @include fd-rtl() {
          text-align: $fd-list-object-align-right;
        }
      }

      &--top-right {
        width: 40%;
        text-align: $fd-list-object-align-right;
        padding-left: $fd-list-object-with-padding-value-one !important;
        vertical-align: $fd-list-object-with-vertical-align-top !important;
        margin-right: $fd-list-object-with-value-zero !important;

        @include fd-rtl() {
          text-align: $fd-list-object-align-left;
          padding-right: $fd-list-object-with-padding-value-one !important;
          padding-left: $fd-list-object-with-value-zero !important;
          margin-left: $fd-list-object-with-value-zero !important;
        }
      }

      &--bottom-row {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        > div:only-child {
          padding: $fd-list-object-with-value-zero;
        }
      }

      &--bottom-left {
        text-align: $fd-list-object-align-left;
        padding:
          $fd-list-object-with-padding-value-half
          $fd-list-object-with-padding-value-half
          $fd-list-object-with-padding-value-half
          $fd-list-object-with-value-zero;

        @include fd-rtl() {
          text-align: $fd-list-object-align-right;
          padding:
            $fd-list-object-with-padding-value-half
            $fd-list-object-with-value-zero
            $fd-list-object-with-padding-value-half
            $fd-list-object-with-padding-value-half;
        }
      }

      &--bottom-right {
        @include fd-ellipsis();

        width: 50%;
        text-align: $fd-list-object-align-right;
        margin-right: $fd-list-object-with-value-zero;
        padding:
          $fd-list-object-with-padding-value-half
          $fd-list-object-with-value-zero
          $fd-list-object-with-padding-value-half
          $fd-list-object-with-padding-value-half;

        @include fd-rtl() {
          text-align: $fd-list-object-align-left;
          margin-left: $fd-list-object-with-value-zero;
          padding:
            $fd-list-object-with-padding-value-half
            $fd-list-object-with-padding-value-half
            $fd-list-object-with-padding-value-half
            $fd-list-object-with-value-zero;
        }
      }

      &--bottom {
        margin-top: 0.25rem;
      }
    }

    .#{$block}__object-number {
      vertical-align: $fd-list-object-with-vertical-align-top !important;
      margin-right: $fd-list-object-with-value-zero;

      &-text {
        font-weight: normal;
        font-size: 1.375rem;
        font-family: $fd-list-object-number-font-family;
        text-shadow: $fd-list-object-with-no-text-shadow;
      }

      &-unit {
        font-family: $fd-list-object-number-font-family;
        font-size: $fd-list-object-font-size;
        text-shadow: $fd-list-object-with-no-text-shadow;
      }

      &-text,
      &-unit {
        display: block !important;
        padding-top: $fd-list-object-with-value-zero !important;
      }

      &-text::after {
        content: none;
      }

      @include fd-rtl() {
        margin-left: $fd-list-object-with-value-zero;
      }
    }

    .#{$block}__object-identifier {
      &-title {
        @include fd-reset();
        @include fd-typography(var(--sapFontHeader4Size));
        @include line-clamp($lines: 2);

        line-height: 1.5;
        vertical-align: $fd-list-object-with-vertical-align-top;
        font-weight: $fd-object-identifier-title-font-weight;

        @include fd-rtl() {
          float: $fd-list-object-align-right;
        }
      }
    }

    .#{$block}__object-status {
      @include fd-ellipsis();

      text-align: $fd-list-object-align-right;
      margin-right: $fd-list-object-with-value-zero;
      text-shadow: $fd-list-object-with-no-text-shadow;

      @include fd-rtl() {
        text-align: $fd-list-object-align-left;
        margin-left: $fd-list-object-with-value-zero;
      }

      &-icon[class*=sap-icon] {
        display: inline-block;
      }
    }

    .#{$block}__object-attribute {
      @include fd-ellipsis();
      @include fd-reset();

      vertical-align: $fd-list-object-with-vertical-align-bottom;

      &-text {
        color: $fd-list-object-font-color;
      }

      @include fd-rtl() {
        text-align: $fd-list-object-align-right;
      }
    }

    .#{$block}__object-avatar {
      @include set-width(3rem);
      @include set-height(3rem);

      margin-right: $fd-list-object-with-value-half;

      @include fd-rtl() {
        margin-left: $fd-list-object-with-value-half;
        margin-right: $fd-list-object-with-value-zero;
      }
    }
  }

  &.#{$block}--no-border {
    .#{$block}__item {
      border-bottom-color: transparent;
    }
  }
}
