@import "./listDefinitions.scss";

$fd-list-navigation-item-height: 2.75rem;

.#{$block} {
  list-style-type: none;
  background: var(--sapList_AlternatingBackground);

  .#{$block}__navigation-item-indicator {
    &::after {
      content: "";
      width: 0.1875rem;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0.5625rem; // (height of nav item - height of indicator) / 2
      height: 1.625rem;
      background-color: var(--sapSelectedColor);
      color: var(--sapSelectedColor);
      border-radius: var(--sapField_BorderCornerRadius);
      margin-right: 0.3125rem;
    }

    @include fd-rtl() {
      &::after {
        right: unset;
        margin-right: 0;
        left: 0;
        margin-left: 0.3125rem;
      }
    }
  }

  &__navigation-item {
    @include fd-reset();
    @include fd-fiori-focus();

    background: transparent;
    height: $fd-list-navigation-item-height;
    width: auto;
    padding-left: 0.5rem;
    padding-right: 1rem;
    position: relative;

    @include fd-rtl() {
      padding-right: 0.5rem;
      padding-left: 1rem;
    }

    .fd-list {
      display: none;
    }

    &--expandable {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

    &.is-expanded {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      border-radius: var(--sapElement_BorderCornerRadius);
      box-shadow: var(--sapContent_Shadow0);
      height: auto;
      overflow: hidden;

      .#{$block}__navigation-item {
        width: auto;

        .#{$block}__navigation-item-indicator {
          &::after {
            margin-right: 0;
          }

          @include fd-rtl() {
            &::after {
              margin-left: 0;
            }
          }
        }

        .#{$block}__navigation-item-text {
          @include fd-reset();

          vertical-align: middle;
          line-height: 2.75rem;
          color: var(--sapContent_LabelColor);
          font-size: var(--sapFontSize);
          margin-left: 2.5rem;

          @include fd-rtl() {
            margin-right: 2.5rem;
            margin-left: 0;
          }
        }
      }

      .#{$block}__navigation-item-text {
        padding-left: 0;

        @include fd-rtl() {
          padding-right: 0;
        }
      }

      .#{$block}__navigation-item-icon {
        padding-right: 0.5rem;

        @include fd-rtl() {
          padding-right: 0;
          padding-left: 0.5rem;
        }
      }

      .#{$block} {
        margin-right: -1rem;
        margin-left: -0.5rem;
        width: auto;
        display: block;

        @include fd-rtl() {
          margin-left: -1rem;
          margin-right: -0.5rem;
        }
      }

      .#{$block}__navigation-item-indicator {
        &::after {
          margin-right: 0;

          @include fd-rtl() {
            margin-left: 0;
          }
        }
      }
    }

    &.is-expanded > .#{$block}__navigation-item-indicator {
      &::after {
        display: none;
      }
    }

    &--indicated {
      color: var(--sapSelectedColor);

      .#{$block}__navigation-item-text,
      .#{$block}__navigation-item-icon,
      .#{$block}__navigation-item-arrow {
        color: var(--sapSelectedColor);
      }
    }

    .#{$block}__navigation-item--indicated .#{$block}__navigation-item-text {
      color: var(--sapSelectedColor);
    }

    &--condensed {
      position: relative;
      width: 3.25rem;
      padding-left: 0;
      padding-right: 0;

      @include fd-rtl() {
        width: 3.25rem;
        padding-left: 0;
        padding-right: 0;
      }

      .#{$block}__navigation-item-popover {
        &--first-level,
        &--second-level {
          display: none;
          background: var(--sapList_AlternatingBackground);
        }
      }

      .#{$block}__navigation-item-text {
        display: none;
      }

      .#{$block}__navigation-item-icon {
        height: $fd-list-navigation-item-height;
        line-height: $fd-list-navigation-item-height;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      &.is-expanded {
        overflow: visible;
        margin: 0;
        visibility: hidden;

        .#{$block}__navigation-item {
          width: auto;
          margin-left: 0;

          @include fd-rtl() {
            margin-left: 0;
            margin-right: 0;
          }
        }

        .#{$block}__navigation-item--condensed {
          .#{$block}__navigation-item-icon {
            margin-left: 0;
            padding-left: 0.875rem;

            @include fd-rtl() {
              margin-right: 0;
              margin-left: 0.5rem;
              padding-right: 0.875rem;
            }
          }
        }

        .#{$block}__navigation-item-popover {
          &--first-level,
          &--second-level {
            overflow: hidden;
            display: block;

            .fd-list {
              width: 100%;
              display: inline-block;
              margin: 0 auto;
            }

            .#{$block}__navigation-item-text {
              padding-left: 0;
              margin-left: 0;

              @include fd-rtl() {
                padding-left: 0;
                padding-right: 0;
                margin-left: 0;
                margin-right: 0;
              }
            }
          }

          &--first-level {
            top: 0;
            left: 0.325rem;
            width: 14.325rem;
            border-bottom-right-radius: 0;
            z-index: 3;

            @include fd-rtl() {
              border-bottom-left-radius: 0;
              border-bottom-right-radius: var(--sapElement_BorderCornerRadius);
              left: unset;
              right: 0.325rem;
            }
          }

          &--second-level {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            top: $fd-list-navigation-item-height;
            left: 3.25rem;
            width: 11.4rem;

            @include fd-rtl() {
              left: unset;
              right: 3.25rem;
            }

            .fd-list {
              .#{$block}__navigation-item {
                .#{$block}__navigation-item-text {
                  margin-left: 1rem;

                  @include fd-rtl() {
                    margin-left: 0;
                    margin-right: 1rem;
                  }
                }

                .#{$block}__navigation-item-indicator {
                  &::after {
                    margin-right: 0;
                    display: inline-block;

                    @include fd-rtl() {
                      margin-right: 0;
                      margin-left: 0;
                    }
                  }
                }
              }
            }
          }
        }

        .#{$block}__navigation-item-text {
          display: inline;
        }

        .#{$block}__navigation-item-arrow {
          display: none;
        }

        .#{$block}__navigation-item-indicator {
          &::after {
            display: none;
          }
        }
      }

      .#{$block}__navigation-item-arrow {
        width: 100%;

        &::before {
          display: inline-block;
          content: "";
          min-width: 0;
          min-height: 0;
          margin-right: 0.75rem;
          margin-bottom: 0.5625rem;
          border-style: solid;
          border-width: 0.25rem 0.25rem 0 0;
          border-color: transparent var(--sapContent_NonInteractiveIconColor) transparent transparent;
          right: 0;
          bottom: 0;
          position: absolute;

          @include fd-rtl() {
            right: unset;
            margin-right: 0;
            margin-left: 0.75rem;
            left: 0;
          }
        }
      }
    }

    &-icon {
      font-size: 1rem;
      font-family: "SAP-icons";
      height: $fd-list-navigation-item-height;
      line-height: $fd-list-navigation-item-height;
      width: 2.25rem;
      color: var(--sapContent_NonInteractiveIconColor);
      vertical-align: top;
      text-align: center;
    }

    &-text {
      font-size: var(--sapFontLargeSize);
      font-family: var(--sapFontFamily);
      color: var(--sapList_TextColor);
      padding-left: 0.25rem;
      max-width: 8rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      line-height: $fd-list-navigation-item-height;

      @include fd-rtl() {
        padding-left: 0;
        padding-right: 0.25rem;
      }
    }

    &-arrow {
      @include fd-reset();
      @include fd-button-reset();
      @include fd-fiori-focus();

      height: $fd-list-navigation-item-height;
      width: 2.75rem;
      position: absolute;
      right: 0;
      line-height: $fd-list-navigation-item-height;
      font-family: "SAP-icons";
      font-size: 1rem;
      color: var(--sapContent_NonInteractiveIconColor);
      background-color: transparent;

      @include fd-rtl() {
        right: unset;
        left: 0;
        transform: scaleX(-1);
      }
    }
  }

  &__navigation-item,
  &__navigation-item--condensed {
    @include fd-hover() {
      background: var(--sapList_Hover_Background);
    }

    @include fd-pressed() {
      background: var(--sapList_Active_Background);
      color: var(--sapContent_ContrastTextColor);

      &-icon,
      &-arrow,
      &__navigation-indicator {
        color: var(--sapContent_ContrastIconColor);
      }
    }
  }
}
