@import "./listDefinitions.scss";

.#{$block} {
  list-style-type: none;
  background: var(--sapList_AlternatingBackground);

  .#{$block}__navigation-item-indicator {
    &::after {
      content: "";
      width: 0.1875rem;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0.5625rem; // (height of nav item - height of indicator) / 2
      height: 1.625rem;
      background-color: var(--sapSelectedColor);
      color: var(--sapSelectedColor);
      border-radius: var(--sapField_BorderCornerRadius);
      margin-right: 0.3125rem;
    }
  }

  &__navigation-item {
    background: transparent;
    height: 2.75rem;
    width: 13.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    position: relative;

    .fd-list {
      display: none;
    }

    &.is-expanded {
      height: auto;
      min-height: 2.75rem;
      border-radius: var(--sapElement_BorderCornerRadius);
      box-shadow: var(--sapContent_Shadow0);
      width: 13rem;
      margin: 0.25rem;
      overflow: hidden;

      .#{$block}__navigation-item-text {
        padding-left: 0.25rem;
      }

      .#{$block}__navigation-item-icon {
        padding-right: 0.5rem;
      }

      .#{$block}__navigation-item-arrow {
        margin-right: -0.375rem;
      }

      .#{$block} {
        margin-left: -0.5rem;
        margin-right: -1rem;
        width: auto;
        display: block;
      }
    }

    &.is-expanded > .#{$block}__navigation-item-indicator {
      &::after {
        display: none;
      }
    }

    &--second {
      width: auto;

      .#{$block}__navigation-item-text {
        color: var(--sapContent_LabelColor);
        font-size: var(--sapFontSize);
        margin-left: 2.5rem;
      }
    }

    &--indicated {
      color: var(--sapSelectedColor);

      .#{$block}__navigation-item-text,
      .#{$block}__navigation-item-icon,
      .#{$block}__navigation-item-arrow {
        color: var(--sapSelectedColor);
      }
    }

    .#{$block}__navigation-item--second.#{$block}__navigation-item--indicated .#{$block}__navigation-item-text {
      color: var(--sapSelectedColor);
    }

    &--condensed {
      position: relative;
      width: 3.25rem;

      .#{$block}__navigation-item-popover {
        &--first,
        &--second {
          display: none;
          background: var(--sapList_AlternatingBackground);
        }
      }

      .#{$block}__navigation-item-text {
        display: none;
      }

      .#{$block}__navigation-item-icon {
        height: 2.75rem;
        line-height: 2.75rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      .#{$block}__navigation-item--second {
        display: none;
        width: auto;
        margin-left: 0;
      }

      &.is-expanded {
        .#{$block}__navigation-item--condensed {
          width: auto;
        }

        .#{$block}__navigation-item-popover {
          &--first,
          &--second {
            overflow: hidden;
            display: block;

            .#{$block}__navigation-item-text {
              padding-left: 0;
            }

            .#{$block}__navigation-item--second {
              display: block;

              .#{$block}__navigation-item-text {
                margin-left: 1rem;
              }

              .#{$block}__navigation-item-indicator {
                &::after {
                  margin-right: 0;
                  display: inline-block;
                }
              }
            }
          }

          &--first {
            top: 0;
            left: 0.325rem;
            width: 14.325rem;
            border-bottom-right-radius: 0;
            z-index: 3;

            .#{$block}__navigation-item-icon {
              margin-left: 0.175rem;
              margin-right: 0.175rem;
            }
          }

          &--second {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            top: 2.75rem;
            left: 3.25rem;
            width: 11.4rem;
          }
        }

        .#{$block}__navigation-item-text {
          display: inline;
        }

        .#{$block}__navigation-item-arrow {
          display: none;
        }

        .#{$block}__navigation-item-indicator {
          &::after {
            display: none;
          }
        }
      }

      .#{$block}__navigation-item-arrow {
        width: 0;
        height: 0;

        &::before {
          display: inline-block;
          content: "";
          min-width: 0;
          min-height: 0;
          margin-right: 0.75rem;
          margin-bottom: 0.5625rem;
          border-style: solid;
          border-width: 0.25rem 0.25rem 0 0;
          border-color: transparent var(--sapContent_NonInteractiveIconColor) transparent transparent;
          right: 0;
          bottom: 0;
          position: absolute;
        }
      }
    }

    &-icon {
      font-size: 1rem;
      font-family: "SAP-icons";
      height: 2.75rem;
      line-height: 2.75rem;
      width: 2.25rem;
      color: var(--sapContent_NonInteractiveIconColor);
      vertical-align: top;
      text-align: center;
    }

    &-text {
      font-size: var(--sapFontLargeSize);
      font-family: var(--sapFontFamily);
      color: var(--sapList_TextColor);
      padding-left: 0.5rem;
      max-width: 9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      line-height: 2.75rem;
    }

    &-arrow {
      height: 2.75rem;
      line-height: 2.75rem;
      float: right;
      font-family: "SAP-icons";
      font-size: 1rem;
      color: var(--sapContent_NonInteractiveIconColor);
      text-align: end;
    }
  }

  &__navigation-item,
  &__navigation-item--condensed {
    @include fd-hover() {
      background: var(--sapList_Hover_Background);
    }

    @include fd-pressed() {
      background: var(--sapList_Active_Background);
      color: var(--sapContent_ContrastTextColor);

      &-icon,
      &-arrow,
      &__navigation-indicator {
        color: var(--sapContent_ContrastIconColor);
      }
    }
  }
}
