@import "./settings";
@import "./mixins";

$block: #{$fd-namespace}-nested-list;

.#{$block} {
  @mixin fd-nested-level-padding($paddingLeft, $paddingRight) {
    .#{$block}__link,
    .#{$block}__content {
      padding-left: $paddingLeft;
      padding-right: $paddingRight;
      border-bottom: none;

      @include fd-selected() {
        border-bottom: var(--sapList_BorderWidth) solid var(--sapList_SelectionBorderColor);
      }

      &.has-child {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .#{$block}__content {
      &.has-child {
        > .#{$block}__title {
          padding-left: $paddingLeft;
          padding-right: $paddingRight;
        }
      }
    }
  }

  @include fd-reset();

  list-style: none;
  width: 100%;

  @for $i from 2 through 10 {
    .level-#{$i} {
      $paddingLeft: ($i - 2) + 2.75rem;

      @include fd-nested-level-padding($paddingLeft, 0);
    }
  }

  @include fd-rtl() {
    @for $i from 2 through 10 {
      .level-#{$i} {
        $paddingRight: ($i - 2) + 2.75rem;

        @include fd-nested-level-padding(0, $paddingRight);
      }
    }
  }

  &[aria-hidden="true"] {
    display: none;
  }

  &__item {
    @include fd-reset();

    background: var(--sapList_Background);
  }

  &__link,
  &__content {
    @include fd-reset();

    text-decoration: none;
    display: flex;
    height: 2.75rem;
    width: 100%;
    align-items: center;
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);

    @include fd-hover() {
      background: var(--sapList_Hover_Background);

      .#{$block}__button {
        background: var(--sapList_Hover_Background);
      }
    }

    @include fd-fiori-focus();

    &.is-expanded {
      border-bottom: none;
    }

    @include fd-selected() {
      background: var(--sapList_SelectionBackgroundColor);
      border-bottom: var(--sapList_BorderWidth) solid;
      border-bottom-color: var(--sapList_SelectionBorderColor);

      .#{$block}__button {
        background: var(--sapList_SelectionBackgroundColor);
      }

      @include fd-hover() {
        background: var(--sapList_Hover_SelectionBackground);

        .#{$block}__button {
          background: var(--sapList_Hover_SelectionBackground);
        }
      }
    }

    @include fd-active() {
      background: var(--sapList_Active_Background);

      .#{$block}__button {
        background: var(--sapList_Active_Background);
      }

      @include fd-selected() {
        background: var(--sapList_Active_Background);

        .#{$block}__button {
          background: var(--sapList_Active_Background);
        }
      }

      .#{$block}__title,
      .#{$block}__icon,
      .#{$block}__button {
        color: var(--sapList_Active_TextColor);
      }
    }

    &.has-child {
      justify-content: space-between;
      padding: 0;

      > .#{$block}__link {
        background: transparent;
        border: none;
        height: 100%;

        > .#{$block}__title {
          padding-right: 0;

          @include fd-rtl() {
            padding-left: 0;
          }
        }
      }

      > .#{$block}__link,
      > .#{$block}__button {
        @include fd-fiori-focus();
      }
    }
  }

  &__button {
    @include fd-reset();
    @include fd-fiori-focus();

    text-decoration: none;
    height: 100%;
    min-width: 2.5rem;
    color: var(--sapContent_IconColor);
    display: flex;
    justify-content: center;

    @include fd-icon('navigation-right-arrow', 'default', 'after') {
      @include fd-flex-center();

      height: 100%;
      min-height: 100%;
      font-size: var(--sapFontLargeSize);
    }

    @include fd-rtl() {
      &::after {
        content: "\e067";
      }
    }

    &.is-expanded,
    &[aria-expanded="true"] {
      border-bottom: none;

      &::after {
        content: "\e1e2";
      }
    }
  }

  &__icon {
    @include fd-reset();
    @include fd-flex-center();

    height: 100%;
    min-width: 2.75rem;
    color: var(--sapList_TextColor);
    font-size: var(--sapFontHeader4Size);
  }

  &__title {
    @include fd-reset();

    height: 100%;
    width: 100%;
    font-size: var(--sapFontLargeSize);
    color: var(--sapList_TextColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
    display: flex;
    align-items: center;

    &:first-child {
      padding-left: 2.75rem;
    }

    @include fd-rtl() {
      text-align: right;
      padding-right: 0;
      padding-left: 1rem;

      &:first-child {
        padding-right: 2.75rem;
        padding-left: 0;
      }
    }
  }

  &__group-header {
    @include fd-reset();

    height: 2.75rem;
    background: var(--sapList_GroupHeaderBackground);
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_GroupHeaderBorderColor);
    color: var(--sapList_GroupHeaderTextColor);
    display: flex;
    align-items: flex-end;
    font-size: var(--sapFontSize);
    font-weight: bold;
    line-height: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--no-border {
    .#{$block}__item,
    .#{$block}__group-header {
      border-bottom: none;
    }
  }

  &--text-only {
    .#{$block}__link,
    .#{$block}__content {
      padding-left: 1rem;

      &.has-child {
        padding: 0;
      }
    }

    .#{$block}__title {
      &:first-child {
        padding-left: 0;
      }
    }

    @for $i from 2 through 10 {
      .level-#{$i} {
        $paddingLeft: 1rem * $i;

        @include fd-nested-level-padding($paddingLeft, 0);
      }

      &.level-#{$i} {
        $paddingLeft: ($i - 2) + 2.75rem;

        @include fd-nested-level-padding($paddingLeft, 0);
      }
    }

    @include fd-rtl() {
      .#{$block}__link,
      .#{$block}__content {
        padding-right: 1rem;
        padding-left: 0;

        &.has-child {
          padding-right: 0;
        }
      }

      .#{$block}__title {
        &:first-child {
          padding-right: 0;
        }
      }

      @for $i from 2 through 10 {
        .level-#{$i} {
          $paddingRight: 1rem * $i;

          @include fd-nested-level-padding(0, $paddingRight);
        }

        &.level-#{$i} {
          $paddingRight: ($i - 2) + 2.75rem;

          @include fd-nested-level-padding(0, $paddingRight);
        }
      }
    }
  }

  &--compact {
    .#{$block}__link,
    .#{$block}__content {
      height: 2rem;
    }

    .#{$block}__title {
      font-size: var(--sapFontSize);
    }

    .#{$block}__icon {
      font-size: var(--sapFontLargeSize);
    }
  }
}
