@import "./settings";
@import "./mixins";
@import "./functions";
$block: #{$fd-namespace}-action-bar;

.#{$block} {
  // LOCAL VARS (set all themeable properties, always include !default)
  $fd-action-bar-background-color: var(--sapPageHeader_Background) !default;
  $fd-action-bar-description-color: var(--sapContent_LabelColor) !default;
  $fd-action-bar-title-color: var(--sapGroup_TitleTextColor) !default;
  $fd-action-bar-height: 3rem;
  $fd-action-bar-transition-params: 0.25s ease-in !default;

  @mixin fd-truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @mixin fd-action-bar-description {
    @include fd-reset();

    color: var(--sapContent_LabelColor);

    @include fd-hide-on-mobile();
    @include fd-truncate-text();

    margin-top: 0.25rem;
    height: 1.25rem;
    width: 100%;
    vertical-align: middle;
  }

  @mixin fd-hide-on-mobile {
    // Changed from deprecated fd-screen(xs)
    @include fd-screen(s) {
      display: none !important;
    }

    @include fd-screen(m) {
      display: inline-block !important;
    }
  }

  @mixin responsive-action-bar($padding-x: 1rem) {
    padding: 0.5rem $padding-x;
  }

  // BLOCK BASE *******************************************
  @include fd-reset();

  background-color: $fd-action-bar-background-color;
  min-height: $fd-action-bar-height;
  word-wrap: break-word;
  justify-content: space-between;

  @include responsive-action-bar($padding-x: 2rem);

  &__header {
    flex-grow: 1;
    width: 100%;

    @include fd-reset();

    min-height: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__back {
    @include fd-reset();

    display: block;

    @include fd-hide-on-mobile();

    position: relative;
    margin-right: 0.5rem;

    @include fd-rtl() {
      transform: scaleX(-1);
      margin-left: 0.5rem;
      margin-right: 0;
    }
  }

  &__title {
    @include fd-reset();
    @include fd-heading();
    @include fd-truncate-text();

    font-size: var(--sapFontHeader3Size);
    font-family: var(--sapFontHeaderFamily);
    color: $fd-action-bar-title-color;
    flex-grow: 1;
    padding-right: 0.5rem;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }

  &__description {
    @include fd-action-bar-description();
  }

  &__description--with-backBtn {
    @include fd-action-bar-description();

    padding-left: 2.25rem;
  }

  &__actions {
    @include fd-reset();

    display: flex;
    align-items: center;
    transition: opacity $fd-action-bar-transition-params;
    visibility: visible;
    height: 2rem;

    &.is-disabled,
    &[aria-hidden="true"] {
      opacity: 0;
      visibility: hidden;
    }

    & > * {
      @include fd-children() {
        margin-left: 0.5rem;
      }

      &:first-child {
        margin-left: 0;
      }

      @include fd-rtl() {
        @include fd-children() {
          margin-right: 0.5rem;
          margin-left: 0;
        }

        &:first-child {
          margin-right: 0;
        }
      }
    }
  }

  &--s {
    @include responsive-action-bar();
  }

  &--m_l {
    @include responsive-action-bar($padding-x: 2rem);
  }

  &--xl {
    @include responsive-action-bar($padding-x: 3rem);
  }
}
