@import "./settings";
@import "./mixins";
@import "./functions";

$block: #{$fd-namespace}-action-bar;

.#{$block} {
  // LOCAL VARS (set all themeable properties, always include !default)
  $fd-action-bar-background-color: var(--sapPageHeader_Background) !default;
  $fd-action-bar-description-color: var(--sapContent_LabelColor) !default;
  $fd-action-bar-title-color: var(--sapGroup_TitleTextColor) !default;
  $fd-action-bar-height: 3rem;
  $fd-action-bar-padding-x: (
    def: 1rem,
    s: 1rem,
    m: 2rem,
    l: 2rem,
    xl: 3rem,
    xxl: 3rem
  );
  $fd-action-bar-transition-params: 0.25s ease-in !default;

  // LOCAL mixins
  @mixin fd-action-bar-responsive {
    // Changed from deprecated fd-screen(xs)
    @include fd-screen(s) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @mixin fd-hide-on-mobile {
    // Changed from deprecated fd-screen(xs)
    @include fd-screen(s) {
      display: none !important;
    }

    @include fd-screen(m) {
      display: inline-block !important;
    }
  }

  @include fd-screen(s) {
    padding-left: map_get($fd-action-bar-padding-x, "s");
    padding-right: map_get($fd-action-bar-padding-x, "s");
  }

  @include fd-screen(m) {
    padding-left: map_get($fd-action-bar-padding-x, "s");
    padding-right: map_get($fd-action-bar-padding-x, "s");
  }

  @include fd-screen(l) {
    padding-left: map_get($fd-action-bar-padding-x, "l");
    padding-right: map_get($fd-action-bar-padding-x, "l");
  }

  @include fd-screen(xl) {
    padding-left: map_get($fd-action-bar-padding-x, "xl");
    padding-right: map_get($fd-action-bar-padding-x, "xl");
  }

  
  // BLOCK BASE *******************************************
  @include fd-reset();

  background-color: $fd-action-bar-background-color;
  min-height: $fd-action-bar-height;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: baseline;
  word-wrap: break-word;
  justify-content: space-between;
  padding-left: map_get($fd-action-bar-padding-x, "m");
  padding-right: map_get($fd-action-bar-padding-x, "m");

  &__header {
    flex-grow: 1;

    @include fd-reset();
    @include fd-action-bar-responsive();
  }

  &__back {
    @include fd-reset();

    display: block;

    @include fd-hide-on-mobile();

    position: relative;
    margin-right: 0.5rem;

    @include fd-rtl() {
      transform: scaleX(-1);
      margin-left: 0.5rem;
      margin-right: 0;
    }
  }

  &__title {
    @include fd-reset();
    @include fd-heading();

    font-size: var(--sapFontHeader3Size);
    font-family: var(--sapFontHeaderFamily);
    font-weight: normal;
    color: $fd-action-bar-title-color;

    @include fd-action-bar-responsive();

    height: 2rem;
    padding-right: 0.75rem;
    vertical-align: middle;
    margin: 0;
  }

  &__description {
    @include fd-reset();

    font-size: var(--sapFontSize);
    font-family: var(--sapFontFamily);
    font-weight: normal;
    color: var(--sapContent_LabelColor);

    @include fd-hide-on-mobile();

    margin-top: 0.25rem;
    height: 1.25rem;
    vertical-align: middle;
  }

  &__actions {
    @include fd-reset();

    display: flex;
    align-items: center;
    transition: opacity $fd-action-bar-transition-params;
    visibility: visible;
    height: 2rem;

    &.is-disabled,
    &[aria-hidden="true"] {
      opacity: 0;
      visibility: hidden;
    }

    & > * {
      @include fd-children() {
        margin-left: 0.5rem;
      }

      &:first-child {
        margin-left: 0;
      }

      @include fd-rtl() {
        @include fd-children() {
          margin-right: 0.5rem;
          margin-left: 0;
        }

        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
}
