@import "./settings";
@import "./mixins";
@import "./functions";
/*!
.fd-asset-upload+(--no-icon)
  .fd-asset-upload__label
    .fd-asset-upload__text
    .fd-asset-upload__message
*/
$block: #{$fd-namespace}-asset-upload;
.#{$block} {

  @include fd-reset();
  @include fd-type("0");
  $fd-asset-upload-padding: fd-space(3);
  $fd-asset-upload-border-radius: fd-space(1);
  $fd-asset-upload-border-color--focus: var(--fd-color-action-focus);

  &__input {
    @include fd-reset();
    height: 0;
    width: 0;
    overflow: hidden;

    &:focus + .#{$block}__label {
        border: 1px solid $fd-asset-upload-border-color--focus;
        box-shadow: 0 0 0 1px $fd-asset-upload-border-color--focus;
    }
  }

  &__input + .#{$block}__label {
    @include fd-reset();
    background-color: var(--fd-color-neutral-1, fd-color("neutral", 1));
    border: 1px dashed var(--fd-color-neutral-4, fd-color("neutral", 4));
    text-align: center;
    padding: $fd-asset-upload-padding;
    border-radius: $fd-asset-upload-border-radius;
    cursor: pointer;
    display: block;

    &:hover {
      border-style: solid;
      border-color: var(--fd-color-action-1, fd-color("action", 1));
    }
  }

  &__text {
    @include fd-reset();
    display: block;
    color: var(--fd-color-action-1, fd-color("action", 1));
    @include fd-icon("upload-to-cloud", "m");
    margin-bottom: fd-space(.5);

    &::before {
      display: block;
      margin-bottom: fd-space(1);
    }
  }

  &__message {
    @include fd-reset();
  }

  &--no-icon {
    .#{$block}__text::before {
      display: none;
    }
  }
}