@import "./settings";
@import "./mixins";
@import "./functions";

$block: #{$fd-namespace}-bar;

.#{$block} {
  $fd-bar-padding-x: 0.5rem !default;
  $fd-bar-element-spacing: 0.5rem !default;

  @mixin bar-design($height: 2.5rem, $background: var(--sapPageHeader_Background), $shadow: var(--sapContent_HeaderShadow)) {
    height: $height;
    background: $background;
    box-shadow: $shadow;

    @content;
  }

  @mixin responsive-page($padding-x: 1rem) {
    padding: 0 $padding-x;
  }

  @mixin responsive-floating-footer($margin-x: 1rem) {
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: $margin-x;
    margin-right: $margin-x;
  }

  @include fd-reset();
  @include bar-design();

  @include fd-flex () {
    justify-content: space-between;
  }

  padding: 0 $fd-bar-padding-x;

  &__left,
  &__middle,
  &__right {
    @include fd-reset();

    display: flex;
    align-items: center;
    flex: 1;
    max-width: 100%;
  }

  &__middle {
    padding: 0 $fd-bar-padding-x;
    justify-content: center;
  }

  &__middle:only-child {
    padding: 0;
  }

  &__right {
    justify-content: flex-end;
  }

  &__element {
    @include fd-reset();

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $fd-bar-element-spacing;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

    @include fd-rtl() {
      margin-right: 0;
      margin-left: $fd-bar-element-spacing;
    }
  }

  &__element--full-width {
    width: 100%;

    & > *:first-child {
      flex-grow: 1;
    }
  }

  &__element:last-child {
    margin-right: 0;

    @include fd-rtl() {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &--header {
    @include bar-design();

    z-index: 1;
  }

  &--subheader {
    @include bar-design($height: 2.25rem) {
      padding-bottom: 0.25rem;
    }

    z-index: 1;
  }

  &--header-with-subheader {
    @include bar-design($shadow: none);

    position: relative;
    z-index: 2;
  }

  &--footer {
    @include bar-design($background: var(--sapPageFooter_Background), $shadow: none) {
      border-top: 0.0625rem solid var(--sapPageFooter_BorderColor);
    }
  }

  &--floating-footer {
    @include bar-design($background: var(--sapPageFooter_Background), $shadow: var(--sapContent_Shadow1)) {
      border-radius: var(--sapElement_BorderCornerRadius);
      border: none;
      opacity: 1;
    }
  }

  &--cosy {
    height: 2.75rem;

    &.#{$block}--header,
    &.#{$block}--footer,
    &.#{$block}--floating-footer {
      height: 2.75rem;
    }

    &.#{$block}--subheader {
      height: 3rem;
      padding-bottom: 0.25rem;
    }
  }

  &--page,
  &--home-page {
    @include responsive-page();

    &.#{$block}--floating-footer {
      @include responsive-floating-footer($margin-x: 0.5rem);
    }
  }

  &--page-s {
    @include responsive-page();

    &.#{$block}--floating-footer {
      @include responsive-floating-footer();
    }
  }

  &--home-page-s {
    @include responsive-page($padding-x: 0.5rem);

    &.#{$block}--floating-footer {
      @include responsive-floating-footer();
    }
  }

  &--page-m_l,
  &--home-page-m_l {
    @include responsive-page($padding-x: 2rem);

    &.#{$block}--floating-footer {
      @include responsive-floating-footer($margin-x: 2rem);
    }
  }

  &--page-xl,
  &--home-page-xl {
    @include responsive-page($padding-x: 3rem);

    &.#{$block}--floating-footer {
      @include responsive-floating-footer($margin-x: 3rem);
    }
  }
}
