@import "./new-settings";
@import "./mixins";

/*!
.fd-breadcrumb
    .fd-breadcrumb__item
    .fd-breadcrump__link
*/

$fd-breadcrumb-spacing: 0.25rem;

$fd-breadcrumb-separator-color: var(--sapContent_LabelColor);
$fd-breadcrumb-item-color: var(--sapContent_LabelColor);
$block: #{$fd-namespace}-breadcrumb;
$fd-breadcrumb-border-top-radius: 0.125rem !default;

.#{$block} {

  // BLOCK BASE *******************************************
  @include fd-reset();

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;

  // ELEMENTS *******************************************
  &__item {
    @include fd-reset();

    color: $fd-breadcrumb-item-color;

    &::after {
      content: "/";
      color: $fd-breadcrumb-separator-color;
      margin-right: $fd-breadcrumb-spacing;
      margin-left: $fd-breadcrumb-spacing;
    }

    &:last-child::after {
      content: none;
    }

    .#{$block}__popover-body {
      border: none;
      border-top-left-radius: $fd-breadcrumb-border-top-radius;
      border-top-right-radius: $fd-breadcrumb-border-top-radius;

      .#{$block}__wrapper {
        border-top-left-radius: $fd-breadcrumb-border-top-radius;
        border-top-right-radius: $fd-breadcrumb-border-top-radius;
      }
    }
  }

  &__link {
    @include fd-reset();
    @include fd-link();

    display: inline-block;
    transition: all $fd-animation-speed ease-in;
  }

  &__dropdown-icon {
    @include fd-reset();
    @include fd-icon('slim-arrow-down');

    text-decoration: inherit;
    color: var(--sapLinkColor);
  }
}
