@import "./new-settings";
@import "./mixins";
@import "./functions";

/*!
.fd-breadcrumb
    .fd-breadcrumb__item
    .fd-breadcrump__link
*/

$fd-breadcrumb-margin-bottom: 0.5rem;
$fd-breadcrumb-spacing: 0.25rem;

$fd-breadcrumb-separator-color: var(--sapContent_LabelColor);
$fd-breadcrumb-item-color: var(--sapContent_LabelColor);

$block: #{$fd-namespace}-breadcrumb;

.#{$block} {

  // BLOCK BASE *******************************************
  @include fd-reset();

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: $fd-breadcrumb-margin-bottom;
  list-style: none;

  // ELEMENTS *******************************************
  &__item {
    @include fd-reset();

    color: $fd-breadcrumb-item-color;

    &::after {
      content: "/";
      color: $fd-breadcrumb-separator-color;
      margin-right: $fd-breadcrumb-spacing;
      margin-left: $fd-breadcrumb-spacing;
    }

    &:last-child::after {
      content: none;
    }
  }

  &__link {
    @include fd-reset();
    @include fd-link();

    display: inline-block;
    transition: all $fd-animation-speed ease-in;
  }

  &__dropdown-icon {
    @include fd-reset();
    @include fd-icon('slim-arrow-down');

    text-decoration: inherit;
    color: var(--sapLinkColor);
  }
}
