@import "./new-settings";
@import "./mixins";
@import "./mixins/button/base";
@import "./mixins/button/button-helper";
@import "./mixins/button/standard";
@import "./mixins/button/negative";
@import "./mixins/button/attention";
@import "./mixins/button/ghost";
@import "./mixins/button/positive";
@import "./mixins/button/emphasized";
@import "./mixins/button/button-transparent";

$block: #{$fd-namespace}-button;

@mixin iconOverwrite {
  &,
  &[class*=sap-icon] {
    @content;
  }
}

@mixin buttonReset() {
  @include iconOverwrite() {
    @include fd-reset();
    @include fd-button-reset();
    @include buttonBase();
  }
}

@mixin compact() {
  @include iconOverwrite() {
    // set metrics
    height: $fd-button-compact-height;
    max-height: $fd-button-compact-height;
    min-width: $fd-button-compact-min-width;
    padding-left: $fd-button-compact-padding-x;
    padding-right: $fd-button-compact-padding-x;
    line-height: $fd-button-compact-line-height;
  }
}

@mixin menuCompact() {
  @include iconOverwrite() {
    $fd-button-menu-button-padding: 1.812rem;
    $fd-menu-button-icon-position-horizontal: 0.438rem;

    padding-right: $fd-button-menu-button-padding;

    &::after {
      top: $fd-menu-button-icon-position-top-compact;
      right: $fd-menu-button-icon-position-horizontal;
    }

    @include fd-rtl() {
      padding-left: $fd-button-menu-button-padding;
      padding-right: $fd-button-compact-padding-x;

      &::after {
        right: auto;
        left: $fd-menu-button-icon-position-horizontal;
      }
    }
  }
}

@mixin menu() {
  @include iconOverwrite() {
    $fd-button-menu-button-padding: 1.937rem;
    $fd-menu-button-icon-position-horizontal: 0.562rem;

    max-width: $fd-menu-button-max-width;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: $fd-button-menu-button-padding;

    &::after {
      font-family: "SAP-icons";
      font-weight: normal;
      font-size: $fd-menu-button-icon-size;
      content: "\e1ef";
      position: absolute;
      top: $fd-menu-button-icon-position-top;
      right: $fd-menu-button-icon-position-horizontal;
      margin-right: 0;
      margin-left: 0;
    }

    @include fd-rtl() {
      padding-left: $fd-button-menu-button-padding;
      padding-right: $fd-button-padding-x;

      &::after {
        left: $fd-menu-button-icon-position-horizontal;
        right: auto;
      }

      @include fd-empty() {
        &::before {
          margin-left: 0;
        }
      }
    }
  }
}

@mixin textAlignment() {
  @include iconOverwrite() {
    &-left {
      text-align: left;
    }

    &-right {
      text-align: right;
    }

    &-center {
      text-align: center;
    }
  }
}

@mixin half() {
  @include iconOverwrite() {
    height: $fd-button-height / 2;
    max-height: $fd-button-height / 2;
    line-height: 1;

    &.#{$block}--compact {
      height: $fd-button-compact-height / 2;
      max-height: $fd-button-compact-height / 2;
      line-height: 1;
    }
  }
}

@mixin buttonContainer() {
  @include iconOverwrite() {
    @include standard();

    &.#{$block}--ghost {
      @include ghost();
    }

    &.#{$block}--positive {
      @include positive();
    }

    &.#{$block}--negative {
      @include negative();
    }

    &.#{$block}--attention {
      @include attention();
    }

    &.#{$block}--emphasized {
      font-weight: bold;

      @include emphasized();
    }

    &.#{$block}--transparent {
      @include transparent();
    }
  }
}

@mixin buttonContainerDisabled() {
  @include iconOverwrite() {
    @include standardDisabled();

    &.#{$block}--ghost {
      @include ghostDisabled();
    }

    &.#{$block}--positive {
      @include positiveDisabled();
    }

    &.#{$block}--negative {
      @include negativeDisabled();
    }

    &.#{$block}--attention {
      @include attentionDisabled();
    }

    &.#{$block}--emphasized {
      @include emphasizedDisabled();
    }

    &.#{$block}--transparent {
      @include transparentDisabled();
    }
  }
}

@mixin buttonContainerFocus() {
  @include iconOverwrite() {
    box-shadow: none;

    @include standardFocus();

    &.#{$block}--ghost {
      @include ghostFocus();
    }

    &.#{$block}--positive {
      @include positiveFocus();
    }

    &.#{$block}--negative {
      @include negativeFocus();
    }

    &.#{$block}--attention {
      @include attentionFocus();
    }

    &.#{$block}--emphasized {
      @include negativeFocus();
    }
  }
}

@mixin buttonContainerPressedFocus() {
  @include iconOverwrite() {
    box-shadow: none;

    @include standardPressedFocus();

    &.#{$block}--ghost {
      @include ghostPressedFocus();
    }

    &.#{$block}--positive {
      @include positivePressedFocus();
    }

    &.#{$block}--negative {
      @include negativePressedFocus();
    }

    &.#{$block}--attention {
      @include attentionPressedFocus();
    }

    &.#{$block}--emphasized {
      @include emphasizedPressedFocus();
    }
  }
}

@mixin buttonContainerPressed() {
  @include iconOverwrite() {
    @include standardPressed();

    &.#{$block}--ghost {
      @include ghostPressed();
    }

    &.#{$block}--positive {
      @include positivePressed();
    }

    &.#{$block}--negative {
      @include negativePressed();
    }

    &.#{$block}--attention {
      @include attentionPressed();
    }

    &.#{$block}--emphasized {
      @include emphasizedPressed();
    }
  }
}

@mixin buttonContainerHover() {
  @include iconOverwrite() {
    @include standardHover();

    &.#{$block}--ghost {
      @include ghostHover();
    }

    &.#{$block}--positive {
      @include positiveHover();
    }

    &.#{$block}--negative {
      @include negativeHover();
    }

    &.#{$block}--attention {
      @include attentionHover();
    }

    &.#{$block}--emphasized {
      @include emphasizedHover();
    }
  }
}

.#{$block} {
  @include buttonReset();
  @include buttonContainer();

  overflow: visible;
  min-width: $fd-button-min-width;

  &--compact {
    @include compact();
  }

  &--menu {
    @include menu();

    &.#{$block}--compact {
      @include menuCompact();
    }
  }

  &--text-alignment {
    @include textAlignment();
  }

  &--half {
    @include half();
  }

  @include fd-hover() {
    @include buttonContainerHover();
  }

  @include fd-active-pressed-selected() {
    outline: none;

    @include buttonContainerPressed();
  }

  @include fd-focus() {
    @include buttonContainerFocus();

    @include fd-active-pressed-selected() {
      @include buttonContainerPressedFocus();
    }
  }

  @include fd-disabled() {
    @include buttonContainerDisabled();
  }
}
