@import './new-settings';
@import './mixins';
@import './mixins/button/button-helper';
@import './mixins/button/standard';
@import './mixins/button/negative';
@import './mixins/button/attention';
@import './mixins/button/ghost';
@import './mixins/button/positive';
@import './mixins/button/emphasized';
@import './mixins/button/button-transparent';

$fd-button-border-width: var(--sapButton_BorderWidth);
$fd-button-icon-font-size: 1rem;

$fd-button-height: 2.25rem;
$fd-button-clickable-height: 2.75rem;
$fd-button-touchable-area: ($fd-button-clickable-height - $fd-button-height) / 2;
$fd-button-padding-x: calc(0.625rem - #{$fd-button-border-width});
$fd-button-min-width: 2.25rem;
$fd-button-icon-margin: 0.375rem;

$fd-button-compact-height: 1.625rem;
$fd-button-compact-clickable-height: 2rem;
$fd-button-compact-touchable-area: ($fd-button-compact-clickable-height - $fd-button-compact-height) / 2;
$fd-button-compact-padding-x: calc(0.5rem - #{$fd-button-border-width});
$fd-button-compact-min-width: 2rem;
$fd-button-compact-line-height: calc(#{$fd-button-compact-height} - 2 * #{$fd-button-border-width});

$fd-menu-button-max-width: 12rem;

// anim
$fd-button-transition-params: $fd-animation-speed ease-in !default;

$block: #{$fd-namespace}-button;

@mixin isDisabled() {
  opacity: var(--sapContent_DisabledOpacity);
  cursor: not-allowed;
}

@mixin iconSize($size) {
  width: $size;
  min-width: $size;
  height: $size;
  font-size: $size;
  line-height: $size;
  font-family: 'SAP-icons';
}

@mixin buttonBase() {
  height: $fd-button-height;
  max-height: $fd-button-height;
  min-width: $fd-button-min-width;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding-left: $fd-button-padding-x;
  padding-right: $fd-button-padding-x;
  text-align: center;

  // look
  border-style: solid;
  border-width: $fd-button-border-width;

  // Extended touchable area
  &::before {
    content: "";
    display: block;
    position: absolute;
    height: auto;
    width: 100%;
    top: -$fd-button-touchable-area;
    bottom: -$fd-button-touchable-area;
    left: 0;
    right: 0;
  }
}

@mixin buttonReset() {
  @include fd-reset();
  @include fd-button-reset();
  @include buttonBase();
}

@mixin compact() {
  // set metrics
  height: $fd-button-compact-height;
  max-height: $fd-button-compact-height;
  min-width: $fd-button-compact-min-width;
  padding-left: $fd-button-compact-padding-x;
  padding-right: $fd-button-compact-padding-x;
  line-height: $fd-button-compact-line-height;

  // Extended touchable area
  &::before {
    top: -$fd-button-compact-touchable-area;
    bottom: -$fd-button-compact-touchable-area;
  }
}

@mixin menu() {
  max-width: $fd-menu-button-max-width;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin menu-icon() {
  > .sap-icon--icon-slim-arrow-down {
    font-size: var(--sapFontSmallSize);
  }
}

@mixin textAlignment() {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

@mixin buttonContainer() {
  @include standard();

  &.#{$block}--ghost {
    @include ghost();
  }

  &.#{$block}--positive {
    @include positive();
  }

  &.#{$block}--negative {
    @include negative();
  }

  &.#{$block}--attention {
    @include attention();
  }

  &.#{$block}--emphasized {
    font-weight: bold;

    @include emphasized();
  }

  &.#{$block}--transparent {
    @include transparent();
  }
}

@mixin buttonContainerDisabled() {
  @include standardDisabled();
  @include buttonContainer();
}

@mixin buttonContainerFocus() {
  box-shadow: none;

  @include standardFocus();

  &.#{$block}--emphasized {
    @include standardPressedFocus();
  }
}

@mixin buttonContainerPressedFocus() {
  box-shadow: none;

  @include standardPressed();
  @include standardPressedFocus();

  &.#{$block}--ghost {
    @include ghostPressed();
  }

  &.#{$block}--positive {
    @include positivePressed();
  }

  &.#{$block}--negative {
    @include negativePressed();
  }

  &.#{$block}--attention {
    @include attentionPressed();
  }

  &.#{$block}--emphasized {
    @include emphasizedPressed();
  }
}

@mixin buttonContainerHover() {
  @include standardHover();

  &.#{$block}--ghost {
    @include ghostHover();
  }

  &.#{$block}--positive {
    @include positiveHover();
  }

  &.#{$block}--negative {
    @include negativeHover();
  }

  &.#{$block}--attention {
    @include attentionHover();
  }

  &.#{$block}--emphasized {
    @include emphasizedHover();
  }
}

@mixin iconStyles() {
  > [class*='sap-icon'] {
    @include iconSize($fd-button-icon-font-size);

    color: inherit;
    font-style: normal;
    vertical-align: text-bottom;
    margin-right: $fd-button-icon-margin;
    margin-left: $fd-button-icon-margin;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    @include fd-rtl() {
      &:first-child {
        margin-left: $fd-button-icon-margin;
        margin-right: 0;
      }

      &:last-child {
        margin-right: $fd-button-icon-margin;
        margin-left: 0;
      }
    }

    & + [class*='sap-icon'] {
      margin-left: 0;
    }

    &::before,
    &::after {
      width: inherit;
      height: inherit;
      font-size: inherit;
      line-height: inherit;
    }
  }
}

.#{$block} {
  @include buttonReset();
  @include buttonContainer();
  @include iconStyles();

  overflow: visible;
  min-width: $fd-button-min-width;

  &__text {
    @include fd-reset();
    @include fd-ellipsis();

    color: inherit;
  }

  &--compact {
    @include compact();
  }

  &--menu {
    @include menu();
  }

  &--full-width {
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
  }

  &--text-alignment {
    @include textAlignment();
  }

  &__instructions {
    @include fd-screen-reader-only();
  }

  @include fd-hover() {
    @include buttonContainerHover();
  }

  @include fd-focus() {
    @include buttonContainerFocus();
  }

  @include fd-active-pressed-selected() {
    @include buttonContainerFocus();
    @include buttonContainerPressedFocus();
  }

  @include fd-disabled() {
    @include buttonContainerDisabled();
  }
}
