@import "./new-settings";
@import "./mixins";

/*!
.fd-button-split+()
    .fd-button
*/
$block: #{$fd-namespace}-button-split;
$fd-button-split-corner-radius: var(--sapButton_BorderCornerRadius);
$fd-button-split-border-width: var(--sapButton_BorderWidth);
$fd-button-split-margin: 0.125rem / 2;

@mixin ltrMode() {
  > * {
    &:first-child {
      margin: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:nth-child(2) {
      margin: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      &:not(.#{$fd-namespace}-button--transparent) {
        border-left-width: 0;
      }
    }
  }
}

@mixin rtlMode() {
  > * {
    &:first-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: $fd-button-split-corner-radius;
      border-bottom-right-radius: $fd-button-split-corner-radius;
    }

    &:nth-child(2) {
      border-top-left-radius: $fd-button-split-corner-radius;
      border-bottom-left-radius: $fd-button-split-corner-radius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-left-width: $fd-button-split-border-width;
      &:not(.#{$fd-namespace}-button--transparent) {
        border-right-width: 0;
      }
    }
  }
}

.#{$block} {
  @include fd-reset();

  display: inline-flex;
  vertical-align: middle;
  position: relative;

  @include ltrMode();

  @include fd-rtl() {
    @include rtlMode();
  }

  > [class*="--emphasized"] {
    &:first-child {
      margin-right: $fd-button-split-margin;
    }

    @include fd-rtl() {
      &:first-child {
        margin-right: 0;
        margin-left: $fd-button-split-margin;
      }
    }
  }

  & > :first-child {
    @include fd-flex-vertical-center() {
      justify-content: flex-start;
    }

    &:hover {
      .#{$block}__text {
        color: var(--sapButton_TextColor);
      }
    }

    &:active {

      .#{$block}__text {
        color: var(--sapButton_Selected_TextColor);
      }
    }
  }

  &--emphasized {
    > [class*="--emphasized"] {
      & > .#{$block}__text {
        color: var(--sapButton_Emphasized_TextColor);
        font-weight: bold;
      }

      &:hover {
        & > .#{$block}__text {
          color: var(--sapButton_Emphasized_Hover_TextColor);
        }
      }

      &:active {
        & > .#{$block}__text {
          color: var(--sapButton_Selected_TextColor);
        }
      }
    }
  }

  &--transparent {
    > [class*="--transparent"] {
      & > .#{$block}__text {
        color: var(--sapButton_TextColor);
      }

      &:hover {
        & > .#{$block}__text {
          color: var(--sapButton_TextColor);
        }
      }

      &:active {
        & > .#{$block}__text {
          color: var(--sapButton_Selected_TextColor);
        }
      }
    }
  }

  .#{$block}__text {
    @include fd-reset();
    @include fd-ellipsis();

    color: var(--sapButton_TextColor);
    max-width: 9.75rem;
    display: block;

    &--compact {
      max-width: 10rem;
    }
  }
}
