@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-calendar+(--compact, --mobile-landscape, --mobile-portrait)
    .fd-calendar__header
      .fd-calendar__navigation(--main-navigation)
        .fd-calendar__action(+[--arrow-left, --arrow-right])
        .fd-calendar__close-button
    .fd-calendar__content(+[--months, --years])
        .fd-calendar__table
          .fd-calendar__group
            .fd-calendar__row
              .fd-calendar__item(+[--other-month, --current, --side-helper, --weekend, --range],
                                 +[(.is-disabled | [aria-disabled=true]), (.is-focus | [aria-focus=true]), (.is-active | [aria-active=true])])
              .fd-calendar__special-day(+[--1, --2, ..., --19, --20])
                .fd-calendar__text
*/
$block: #{$fd-namespace}-calendar;

// Calendar default
$fd-calendar-padding: 1rem !default;
$fd-calendar-item-width: 2.125rem !default;
$fd-calendar-item-height: 2.75rem !default;
$fd-calendar-action-padding: 0.5rem !default;
$fd-calendar-item-spacing: 0.0625rem !default;
$fd-calendar-background: var(--sapList_Background) !default;
$fd-calendar-item-font-size: var(--sapFontMediumSize) !default;
$fd-calendar-border-radius: var(--sapElement_BorderCornerRadius) !default;
$fd-calendar-width: $fd-calendar-item-width * 8 + 2 * $fd-calendar-padding + $fd-calendar-item-spacing * 16 !default;

// Compact dimensions
$fd-calendar-padding-compact: 0.5rem !default;
$fd-calendar-item-width-compact: 1.875rem !default;
$fd-calendar-item-height-compact: 1.875rem !default;
$fd-calendar-width-compact: $fd-calendar-item-width-compact * 8 + 2 * $fd-calendar-padding-compact + $fd-calendar-item-spacing * 16 !default;

$fd-calendar-button-height-compact: 2rem !default;
$fd-calendar-padding-mobile-landscape: 0 !default;
$fd-calendar-padding-mobile-portrait: 1rem 0 0 0 !default;
$fd-calendar-item-helper-height-landscape: 1.625rem !default;

// Mobile dimensions
$fd-calendar-navigation-landscape-width: 20rem !default;

// Calendar items variations
$fd-calendar-item-color: var(--sapTextColor) !default;
$fd-calendar-item-background: var(--sapLegend_WorkingBackground) !default;
$fd-calendar-item-background-hover: var(--sapList_Hover_Background) !default;

$fd-calendar-item-helper-height: 1.875rem !default;
$fd-calendar-item-helper-font: var(--sapFontSmallSize) !default;
$fd-calendar-item-helper-color: var(--sapContent_LabelColor) !default;

$fd-calendar-item-active-color: var(--sapContent_Selected_TextColor) !default;
$fd-calendar-item-active-background: var(--sapContent_Selected_Background) !default;
$fd-calendar-item-active-background-hover: var(--sapContent_Selected_Hover_Background) !default;

$fd-calendar-item-inactive-color: var(--sapContent_LabelColor) !default;
$fd-calendar-item-inactive-background-hover: var(--sapList_Hover_Background) !default;

$fd-calendar-item-focused-outline-offset: -0.1875rem !default;
$fd-calendar-item-focused-outline-color: var(--sapContent_FocusColor) !default;
$fd-calendar-item-focused-outline-width: var(--sapContent_FocusWidth) !default;
$fd-calendar-item-focused-outline-style: var(--sapContent_FocusStyle) !default;

$fd-calendar-item-weekend-background: var(--sapLegend_NonWorkingBackground) !default;
$fd-calendar-item-weekend-background-hover: var(--sapList_Hover_Background) !default;

$fd-calendar-item-range-background: var(--sapList_SelectionBackgroundColor) !default;
$fd-calendar-item-range-background-hover: var(--sapList_Hover_SelectionBackground) !default;
$fd-calendar-item-range-border: solid 0.0625rem var(--sapList_SelectionBorderColor) !default;

$fd-calendar-item-current-border-width: 0.125rem !default;
$fd-calendar-item-current-border: solid medium var(--sapLegend_CurrentDateTime) !default; // 'medium' value is used to support browser rendering precision
$fd-calendar-item-current-inner-border-width: 0.0625rem !default;
$fd-calendar-item-current-inner-border-color: var(--sapList_Background) !default;
$fd-calendar-item-current-inner-border-radius: calc(var(--sapElement_BorderCornerRadius) / 2) !default;
$fd-calendar-item-current-inner-border: $fd-calendar-item-current-inner-border-width solid $fd-calendar-item-current-inner-border-color !default;

// Special Days
$fd-special-day-marker-height: 0.25rem;
$fd-calendar-special-days: (
  "1": var(--sapLegendColor1),
  "2": var(--sapLegendColor2),
  "3": var(--sapLegendColor3),
  "4": var(--sapLegendColor4),
  "5": var(--sapLegendColor5),
  "6": var(--sapLegendColor6),
  "7": var(--sapLegendColor7),
  "8": var(--sapLegendColor8),
  "9": var(--sapLegendColor9),
  "10": var(--sapLegendColor10),
  "11": var(--sapLegendColor11),
  "12": var(--sapLegendColor12),
  "13": var(--sapLegendColor13),
  "14": var(--sapLegendColor14),
  "15": var(--sapLegendColor15),
  "16": var(--sapLegendColor16),
  "17": var(--sapLegendColor17),
  "18": var(--sapLegendColor18),
  "19": var(--sapLegendColor19),
  "20": var(--sapLegendColor20),
);

@mixin special-days($nameColorMap) {
  @each $name, $color in $nameColorMap {
    &__special-day--#{$name} {
      .#{$block}__text::after {
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: $fd-special-day-marker-height;
        box-shadow: inset 0 $fd-special-day-marker-height * -1 0 $color;
      }

      @include fd-active() {
        .#{$block}__text::after {
          height: $fd-special-day-marker-height + $fd-calendar-item-current-inner-border-width;
          box-shadow: inset 0 $fd-special-day-marker-height * -1 0 $color, inset 0 0.33rem * -1 0 $fd-calendar-item-current-inner-border-color;
        }
      }

      &.#{$block}__item--current {
        @include fd-active() {
          .#{$block}__text::after {
            height: $fd-special-day-marker-height + $fd-calendar-item-current-inner-border-width;
            box-shadow: inset 0 -0.1875rem 0 $color, inset 0 $fd-special-day-marker-height * -1 $fd-calendar-item-current-inner-border-color;
          }
        }
      }
    }
  }
}

%fd-calendar-item {
  @include fd-reset();

  overflow: hidden;
  position: relative;
  height: $fd-calendar-item-height;
  margin: $fd-calendar-item-spacing;
  min-width: $fd-calendar-item-width;
  border-radius: $fd-calendar-border-radius;
  background-color: $fd-calendar-item-background;
  flex: 1 1 $fd-calendar-item-current-border-width * 2;

  @include fd-hover() {
    cursor: default;
    background-color: $fd-calendar-item-background-hover;
  }
}

%fd-calendar-item-side-helper {
  @extend %fd-calendar-item;

  align-self: center;
  pointer-events: none;
  height: $fd-calendar-item-helper-height;
  background-color: $fd-calendar-background;
}

%fd-calendar-item-other-month {
  background-color: $fd-calendar-background;

  @include fd-hover() {
    background-color: $fd-calendar-item-inactive-background-hover;
  }
}

%fd-calendar-item-weekend {
  background-color: $fd-calendar-item-weekend-background;

  @include fd-hover() {
    background-color: $fd-calendar-item-weekend-background-hover;
  }
}

%fd-calendar-item-current {
  border: $fd-calendar-item-current-border;
}

%fd-calendar-item-active {
  background-color: $fd-calendar-item-active-background;

  @include fd-hover() {
    background-color: $fd-calendar-item-active-background-hover;
  }

  @include fd-focus() {
    box-shadow: none;
    outline-color: var(--sapContent_ContrastFocusColor);
  }
}

%fd-calendar-item-range {
  border: $fd-calendar-item-range-border;
  background-color: $fd-calendar-item-range-background;

  @include fd-hover() {
    background-color: $fd-calendar-item-range-background-hover;
  }
}

%fd-calendar-item-disabled {
  pointer-events: none;
  opacity: 0.4;

  &:hover {
    cursor: not-allowed;
  }
}

%fd-calendar-item-focus {
  box-shadow: none;
  outline-offset: $fd-calendar-item-focused-outline-offset;
  outline-width: $fd-calendar-item-focused-outline-width;
  outline-color: $fd-calendar-item-focused-outline-color;
  outline-style: $fd-calendar-item-focused-outline-style;
}

%fd-calendar-item-text {
  @include fd-reset();
  @include fd-flex-center();

  height: 100%;
  color: $fd-calendar-item-color;
  font-size: $fd-calendar-item-font-size;
}

.#{$block} {
  @include fd-reset();

  width: $fd-calendar-width;
  padding: $fd-calendar-padding;
  background-color: $fd-calendar-background;

  // CALENDAR HEADER
  &__header {
    @include fd-reset();

    display: flex;
    flex-direction: column;
  }

  &__navigation {
    @include fd-reset();

    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
  }

  &__action {
    @include fd-reset();

    flex-grow: 1;

    &:not(:last-child):not(:first-child) {
      margin-left: $fd-calendar-action-padding / 2;
      margin-right: $fd-calendar-action-padding / 2;
    }

    &:first-child {
      margin-right: $fd-calendar-action-padding / 2;
    }

    &:last-child {
      margin-left: $fd-calendar-action-padding / 2;
    }

    > [type="button"] {
      width: 100%;
    }

    &--arrow-left,
    &--arrow-right {
      flex-grow: 0;
    }

    [class*="sap-icon"] {
      @include fd-rtl() {
        transform: scaleX(-1);
      }
    }
  }

  // CALENDAR CONTENT
  &__content {
    @include fd-reset();

    &--years,
    &--months {
      padding-top: $fd-calendar-item-helper-height;
    }
  }

  &__table {
    @include fd-reset();

    width: 100%;
    display: table;
    border-spacing: 0;
  }

  &__group {
    @include fd-reset();

    display: table-row-group;
  }

  &__row {
    @include fd-reset();

    display: flex;
  }

  &__item {
    @extend %fd-calendar-item;

    display: inline-block;

    &--weekend {
      @extend %fd-calendar-item-weekend;
    }

    &--side-helper {
      @extend %fd-calendar-item-side-helper;

      .#{$block}__text {
        color: $fd-calendar-item-helper-color;
        font-size: $fd-calendar-item-helper-font;
      }
    }

    &--other-month {
      @extend %fd-calendar-item-other-month;

      .#{$block}__text {
        color: $fd-calendar-item-inactive-color;
      }
    }

    &--current {
      @extend %fd-calendar-item-current;

      .#{$block}__text::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        border: $fd-calendar-item-current-inner-border;
        border-radius: $fd-calendar-item-current-inner-border-radius;
      }
    }

    &--range {
      @extend %fd-calendar-item-range;

      &.#{$block}__item--current {
        @extend %fd-calendar-item-current;
      }
    }

    @include fd-active() {
      @extend %fd-calendar-item-active;

      .#{$block}__text {
        color: $fd-calendar-item-active-color;
      }
    }

    @include fd-focus() {
      @extend %fd-calendar-item-focus;
    }

    @include fd-disabled() {
      @extend %fd-calendar-item-disabled;
    }
  }

  &__text {
    @extend %fd-calendar-item-text;

    // Active behaviour is doubled for text element because of IE11 issue
    &:active {
      background-color: $fd-calendar-item-active-background;
      color: $fd-calendar-item-active-color;
    }
  }

  @include special-days($fd-calendar-special-days);

  &__close-button {
    @include fd-icon("decline", "m");

    &--navigation {
      @include fd-rtl() {
        left: 0;
        right: auto;
      }

      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  // CALENDAR COMPACT
  &--compact {
    width: $fd-calendar-width-compact;
    padding: $fd-calendar-padding-compact;

    .#{$block} {
      &__action {
        &--arrow-left,
        &--arrow-right {
          width: $fd-calendar-item-width-compact;
        }
      }

      &__item {
        height: $fd-calendar-item-height-compact;
        min-width: $fd-calendar-item-width-compact;
      }
    }
  }

  // CALENDAR MOBILE
  &--mobile-landscape,
  &--mobile-portrait {
    width: 100%;
    height: 100%;
  }

  &--mobile-landscape {
    padding: $fd-calendar-padding-mobile-landscape;

    .#{$block} {
      &__item--side-helper {
        height: $fd-calendar-item-helper-height-landscape;
      }

      &__navigation--main {
        padding-right: calc(100vw - #{$fd-calendar-navigation-landscape-width});

        @include fd-rtl() {
          padding-right: 0;
          padding-left: calc(100vw - #{$fd-calendar-navigation-landscape-width});
        }
      }
    }
  }

  &--mobile-portrait {
    padding: $fd-calendar-padding-mobile-portrait;
  }
}
