@import "./new-settings";
@import "./mixins";
@import "./mixins/button/button-helper";

$block: #{$fd-namespace}-carousel;
$button: #{$fd-namespace}-button;

.#{$block} {
  $fd-carousel-page-indicator-border: 0.0625rem solid var(--sapPageFooter_BorderColor) !default;
  $fd-carousel-button-size: 2.125rem !default;
  $fd-carousel-touchable-button-size: 2.625rem !default;
  $fd-carousel-button-focus-outline-offset: 0.0625rem !default;
  $fd-carousel-button-content-offset: 0.5rem !default;
  $fd-carousel-dot-size: var(--fdCarousel_Dot_Size) !default;
  $fd-carousel-dot-active-size: 0.5rem !default;

  @mixin after-position-overwrite() {
    outline-offset: $fd-carousel-button-focus-outline-offset;
  }

  @include fd-reset();
  @include fd-flex(column);

  @include fd-hover() {
    .#{$block}__content {
      .#{$block}__button.#{$button} {
        display: block;
      }
    }
  }

  width: 100%;
  min-width: 15.5rem;
  max-width: 100%;
  height: 100%;

  &__content {
    @include fd-reset();

    flex: 1 1 auto;
    width: 100%;
    background: var(--sapBackgroundColor);
    position: relative;

    .#{$block}__button.#{$button} {
      box-shadow: var(--sapContent_Shadow1);
      position: absolute;
      margin: 0;
      top: calc(50%);
      transform: translateY(-50%);
      display: none;

      &.#{$block}__button--left {
        left: $fd-carousel-button-content-offset;

        @include fd-rtl() {
          left: initial;
          right: $fd-carousel-button-content-offset;
        }
      }

      &.#{$block}__button--right {
        right: $fd-carousel-button-content-offset;

        @include fd-rtl() {
          right: initial;
          left: $fd-carousel-button-content-offset;
        }
      }
    }

    &--display {
      overflow: hidden;
    }
  }

  &__item {
    @include fd-reset();
    @include fd-flex-center();

    width: 100%;
    height: 100%;
    display: none;

    &--active {
      display: block;
    }
  }

  &__page-indicator-container {
    @include fd-reset();
    @include fd-flex-center();

    width: 100%;
    height: 100%;
    min-height: 2.75rem;
    max-height: 3.5rem;
    background: var(--sapPageFooter_Background);
    padding: 0.375rem 0.5rem;
    border-top: $fd-carousel-page-indicator-border;

    &:first-child {
      border-top: none;
      border-bottom: $fd-carousel-page-indicator-border;
    }
  }

  &__page-indicators {
    @include fd-reset();

    @include fd-flex-center() {
      flex-wrap: wrap;
    }

    width: 9rem;
    padding: 0.5rem;
  }

  &__page-indicator {
    @include fd-reset();

    list-style-type: none;
    margin: var(--fdCarousel_Dot_Margin);
    width: $fd-carousel-dot-size;
    height: $fd-carousel-dot-size;
    border-radius: 50%;
    background-color: var(--sapContent_NonInteractiveIconColor);
    border: var(--fdCarousel_Dot_Border);

    &--active {
      margin: 0 0.25rem;
      width: $fd-carousel-dot-active-size;
      height: $fd-carousel-dot-active-size;
      background-color: var(--sapSelectedColor);
    }
  }

  &__text {
    @include fd-reset();
    @include fd-ellipsis();

    color: var(--sapPageFooter_TextColor);
    text-align: center;
  }

  &__button {
    &.#{$button} {
      @include fd-flex-center();
      @include set-width($fd-carousel-button-size);
      @include set-height($fd-carousel-button-size);

      border-radius: 50%;
      padding: 0;
      box-shadow: none;
      margin: 0.25rem;

      &::before {
        left: -0.25rem;
        right: -0.25rem;
        height: $fd-carousel-touchable-button-size;
        width: $fd-carousel-touchable-button-size;
      }

      @include fd-rtl() {
        & > [class*=sap-icon] {
          transform: rotate(180deg);
        }
      }

      @include fd-focus() {
        @include after-position-overwrite();
      }

      @include fd-hover() {
        box-shadow: var(--sapContent_Shadow1);
      }

      @include fd-active() {
        @include buttonFocus() {
          @include after-position-overwrite();
        }
      }
    }
  }

  &--no-navigation {
    .#{$block}__button.#{$button} {
      display: none;
    }

    @include fd-hover() {
      .#{$block}__content {
        .#{$block}__button.#{$button} {
          display: none;
        }
      }
    }
  }

  &--horizontal {
    @include fd-flex-vertical-center() {
      width: 100%;
    }
  }
}
