@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-checkbox
*/
$block: #{$fd-namespace}-checkbox;

$fd-checkbox-dimensions: 1.375rem;
$fd-checkbox-dimensions-compact: 1rem;
$fd-checkbox-margin: 0.6875rem;
$fd-checkbox-margin-compact: 0.5rem;

.#{$block} {
  @include fd-form-base();
  @include action-cursor();

  height: $fd-checkbox-dimensions;
  width: $fd-checkbox-dimensions;
  margin: $fd-checkbox-margin;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sapField_Background);
  border: var(--sapField_BorderWidth) solid var(--sapField_BorderColor);
  border-radius: var(--sapField_BorderCornerRadius);
  color: var(--sapSelectedColor);

  &::after {
    font-family: "SAP-icons";
    font-style: normal;
    font-weight: normal;
    font-size: var(--sapFontLargeSize);
    content: "";
  }

  &:checked {
    &::after {
      content: "\e05b";
    }
  }

  &:indeterminate {
    &::after {
      content: "";
      display: inline-block;
      width: 0.75rem;
      height: 0.75rem;
      background-color: var(--sapSelectedColor);
    }
  }

  @include fd-form-radio-focus($fd-checkbox-margin);

  &--compact {
    height: $fd-checkbox-dimensions-compact;
    width: $fd-checkbox-dimensions-compact;
    margin: $fd-checkbox-margin-compact;

    &::after {
      font-size: 0.625rem;
    }

    &:indeterminate {
      &::after {
        width: 0.5rem;
        height: 0.5rem;
      }
    }

    @include fd-form-radio-focus($fd-checkbox-margin-compact);
  }

  // states
  @include fd-hover() {
    background-color: var(--sapField_Hover_Background);
    border-color: var(--sapField_Hover_BorderColor);

    @include fd-disabled() {
      border-color: var(--sapField_BorderColor);
    }
  }

  &.is-invalid {
    background-color: var(--sapField_InvalidBackground);
    border: 0.125rem solid var(--sapField_InvalidColor);

    &:checked {
      &::after {
        color: var(--sapField_InvalidColor);
      }
    }

    &:indeterminate {
      &::after {
        background-color: var(--sapField_InvalidColor);
      }
    }

    @include fd-hover() {
      @include fd-disabled() {
        border-color: var(--sapField_InvalidColor);
      }
    }
  }

  &.is-valid {
    background-color: var(--sapField_SuccessBackground);
    border: var(--sapField_BorderWidth) solid var(--sapField_SuccessColor);

    &:checked {
      &::after {
        color: var(--sapField_SuccessColor);
      }
    }

    &:indeterminate {
      &::after {
        background-color: var(--sapField_SuccessColor);
      }
    }

    @include fd-hover() {
      @include fd-disabled() {
        border-color: var(--sapField_SuccessColor);
      }
    }
  }

  &.is-warning,
  &.is-alert {
    background-color: var(--sapField_WarningBackground);
    border: 0.125rem solid var(--sapField_WarningColor);

    &:checked {
      &::after {
        color: var(--sapField_TextColor);
      }
    }

    &:indeterminate {
      &::after {
        background-color: var(--sapField_TextColor);
      }
    }

    @include fd-hover() {
      @include fd-disabled() {
        border-color: var(--sapField_WarningColor);
      }
    }
  }

  &.is-information {
    background-color: var(--sapField_InformationBackground);
    border: 0.125rem solid var(--sapField_InformationColor);

    &:checked {
      &::after {
        color: var(--sapField_InformationColor);
      }
    }

    &:indeterminate {
      &::after {
        background-color: var(--sapField_InformationColor);
      }
    }

    @include fd-hover() {
      @include fd-disabled() {
        border-color: var(--sapField_InformationColor);
      }
    }
  }

  &[readonly],
  &.is-readonly {
    background-color: var(--sapField_ReadOnly_Background);
    border-color: var(--sapField_ReadOnly_BorderColor);
    pointer-events: none;

    &:checked {
      &::after {
        color: var(--sapContent_NonInteractiveIconColor);
      }
    }

    &:indeterminate {
      &::after {
        background-color: var(--sapContent_NonInteractiveIconColor);
      }
    }
  }

  @include fd-focus() {
    outline: none;
    box-shadow: none;
  }

  @include fd-disabled() {
    pointer-events: none;
    opacity: 0.4;
  }
}
