@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-counter+(--notification)
*/
$block: #{$fd-namespace}-counter;

.#{$block} {
  // VARIABLES
  $fd-counter-radius: 1rem;
  $fd-counter-background: var(--sapContent_BadgeBackground);
  $fd-counter-color: var(--sapShell_TextColor);
  $fd-counter-font-size: var(--sapFontSmallSize);
  $fd-counter-padding: 0.25rem;

  @include fd-reset();

  border-radius: $fd-counter-radius;
  color: $fd-counter-color;
  background-color: $fd-counter-background;
  font-size: $fd-counter-font-size;
  line-height: 1;
  display: inline-block;
  text-align: center;
  padding: $fd-counter-padding;

  &--notification {
    transform: translate(-40%, -50%);

    @include fd-rtl() {
      transform: translate(40%, -50%);
    }
  }
}
