@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-dynamic-side;

.#{$block} {
  $main: #{$block}__main;
  $side: #{$block}__side;

  $main-width-screen-s: 100%;
  $main-width-screen-m: 66.666%;
  $main-width-screen-xl: 75%;

  @include fd-reset();
  @include fd-flex();

  width: 100%;

  .#{$main} {
    @include fd-reset();

    @include fd-screen(s) {
      width: $main-width-screen-s;
    }

    @include fd-screen(m) {
      width: $main-width-screen-m;
    }

    @include fd-screen(xl) {
      width: $main-width-screen-xl;
    }
  }

  .#{$side} {
    @include fd-reset();

    flex: 1 1 0;

    @include fd-screen(s) {
      display: none;
    }

    @include fd-screen(m) {
      display: block;
    }
  }

  &--s {
    .#{$main} {
      width: $main-width-screen-s;
    }

    .#{$side} {
      display: none;
    }
  }

  &--m {
    .#{$main} {
      width: $main-width-screen-m;
    }

    .#{$side} {
      display: block;
    }
  }

  &--xl {
    .#{$main} {
      width: $main-width-screen-xl;
    }
  }

  &--equal-split {
    flex-direction: row;

    .#{$main} {
      flex: 1 1 50%;
      width: 50%;
    }

    .#{$side} {
      flex: 1 1 50%;
      width: 50%;
    }
  }

  &--below {
    flex-direction: column;

    .#{$main} {
      width: 100%;
    }

    .#{$side} {
      display: block;
      width: 100%;
    }
  }
}
