@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-dynamic-page;

.#{$block} {

  $fd-dynamic-page-background-color: var(--sapObjectHeader_Background);
  $fd-dynamic-page-content-background-color: var(--sapBackgroundColor);
  $fd-dynamic-page-padding-top-bottom: 0.5rem;
  $fd-dynamic-page-header-padding-top-bottom: 1rem;
  $fd-dynamic-page-box-shadow: var(--sapContent_HeaderShadow);
  $fd-dynamic-page-button-width: 1.5rem;
  $fd-dynamic-page-button-padding: 0 0.25rem;
  $fd-dynamic-page-button-group-width: 4rem;
  $fd-dynamic-page-button-group-height: 0.0625rem;
  $fd-dynamic-page-focus-outline-offset: 0.0625rem;

  @include fd-reset();

  @mixin responsive-page($padding-y: 0,$padding-x: 1rem) {
    padding: $padding-y $padding-x;
  }

  @mixin no-shadow() {
    box-shadow: none;
  }

  @mixin custom-button() {
    @include fd-flex-vertical-center() {
      justify-content: space-evenly;
    }

    margin: $fd-dynamic-page-button-padding;
    padding: $fd-dynamic-page-button-padding; // for IE
    width: $fd-dynamic-page-button-width;
    height: 2rem;
    min-width: $fd-dynamic-page-button-width;

    @include fd-rtl() {
      > [class*='sap-icon'] {
        &:last-child {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }

  &__title-area {
    @include fd-reset();

    @include fd-flex(column) {
      justify-content: space-between;
    }

    @include fd-fiori-focus(0.0625rem);

    min-height: 3rem;
    word-wrap: break-word;
    background-color: $fd-dynamic-page-background-color; // discrepancy

    @include fd-hover() {
      background: var(--sapObjectHeader_Hover_Background);    // color not yet available in Fundamental, therefore hover not reflecting the color
      border-bottom: var(--sapDynamicPage_Hover_Border_Bottom);
    }

    &--s {
      @include responsive-page($fd-dynamic-page-padding-top-bottom, 0.5rem);
    }

    &--m,
    &--l {
      @include responsive-page($fd-dynamic-page-padding-top-bottom, 2rem);
    }

    &--xl {
      @include responsive-page($fd-dynamic-page-padding-top-bottom, 3rem);
    }

    &--transparent-bg {
      background: var(--sapDynamicPage_Title_Header_Transparent_Background);
    }

    &--collapsed {
      padding-bottom: 1rem;
    }

    &[aria-hidden="true"] {
      display: none;
    }
  }

  &__title-container {
    @include fd-reset();

    @include fd-flex-vertical-center() {
      justify-content: flex-start;
    }
  }

  .#{$fd-namespace}-breadcrumb.#{$block}__breadcrumb {
    padding: 0.5rem 0 0.25rem 0;

    &--s {
      padding: 0;
    }
  }

  &__breadcrumb-container {
    @include fd-reset();

    @include fd-flex-vertical-center() {
      justify-content: space-between;
    }
  }

  &__title {
    @include fd-reset();

    color: var(--sapGroup_TitleTextColor);
    font-size: var(--sapFontHeader3Size);
    padding: 0.3125rem 0 0 0;

    &--collapsed {
      @include fd-ellipsis();
    }

    &--collapsed-s {
      font-size: var(--sapFontHeader5Size);
      padding: 0;
      line-height: 2rem;

      @include fd-ellipsis();
    }
    // tablet spec
    &--m {
      padding: 0.6875rem 0 0 0;
    }
  }

  &__subtitle {
    @include fd-reset();

    color: var(--sapContent_LabelColor);
    font-size: var(--sapFontSize);
    margin-top: 0.25rem;
  }

  &__title-content {
    @include fd-reset();

    padding: 0 0 0 1rem;

    @include fd-rtl() {
      padding: 0 1rem 0 0;
    }
  }

  &__toolbar {
    padding: 0 0 0 1rem;
    margin-left: auto;  // align toolbar to right in a flex layout

    @include fd-rtl() {
      margin-left: 0;
      margin-right: auto;
    }

    &--actions {
      padding: 0;
    }
  }

  &__summarized-title-area {
    @include fd-reset();

    @include fd-flex-vertical-center() {
      justify-content: space-between;
    }

    @include fd-fiori-focus(0.0625rem);

    word-wrap: break-word;
    background: var(--sapObjectHeader_Background);
    box-shadow: $fd-dynamic-page-box-shadow;
    height: 2rem;

    &--s {
      @include responsive-page(0.5rem);
    }

    &--m,
    &--l {
      @include responsive-page(2rem);
    }

    &--xl {
      @include responsive-page(3rem);
    }

    &--no-shadow {
      @include no-shadow();
    }

    &[aria-hidden="true"] {
      display: none;
    }
  }

  &__summarized-title {
    color: var(--sapGroup_TitleTextColor);
    font-size: var(--sapFontHeader5Size);
    padding: 0;
    line-height: 2rem;
    text-overflow: ellipsis;
  }

  &__header {
    // contains B and B1
    @include fd-reset();

    background-color: $fd-dynamic-page-background-color;
    padding: $fd-dynamic-page-header-padding-top-bottom 0;

    &--transparent-bg {
      background-color: var(--sapDynamicPage_Title_Header_Transparent_Background);
    }

    &--s {
      @include responsive-page($fd-dynamic-page-header-padding-top-bottom, 0.5rem);
    }

    &--m,
    &--l {
      @include responsive-page($fd-dynamic-page-header-padding-top-bottom, 2rem);
    }

    &--xl {
      @include responsive-page($fd-dynamic-page-header-padding-top-bottom, 3rem);
    }

    &[aria-hidden="true"] {
      display: none;
    }
  }

  &__tabs {
    @include fd-reset();

    &--overflow {
      overflow: hidden;
    }
  }
  .#{$fd-namespace}-tabs.#{$block}__tabs {
    &--s {
      @include responsive-page($padding-x: 0.5rem);
    }

    &--m,
    &--l {
      @include responsive-page($padding-x: 2rem);
    }

    &--xl {
      @include responsive-page($padding-x: 3rem);
    }

    &--add-shadow {
      box-shadow: $fd-dynamic-page-box-shadow;
    }
  }

  &__header-visibility-container {
    @include fd-reset();
    @include fd-flex-center();

    box-shadow: $fd-dynamic-page-box-shadow;
    // left and right gradient for the pin/collapse buttons
    &--left-gradient {
      background-image: var(--sapDynamicPage_Button_Left_Gradient);
      width: $fd-dynamic-page-button-group-width;
      height: $fd-dynamic-page-button-group-height;

      @include fd-rtl() {
        background-image: var(--sapDynamicPage_Button_Right_Gradient);
      }
    }

    &--right-gradient {
      background-image: var(--sapDynamicPage_Button_Right_Gradient);
      width: $fd-dynamic-page-button-group-width;
      height: $fd-dynamic-page-button-group-height;

      @include fd-rtl() {
        background-image: var(--sapDynamicPage_Button_Left_Gradient);
      }
    }

    &--button-group {
      @include fd-reset();
      @include fd-flex-center();

      background: var(--sapDynamicPage_Button_Group_Background);
      width: 4.25rem;
      height: $fd-dynamic-page-button-group-height;

      // button styles
      .#{$block}__pin-button.#{$fd-namespace}-button,
      .#{$block}__expand-button.#{$fd-namespace}-button,
      .#{$block}__collapse-button.#{$fd-namespace}-button {
        @include custom-button();
      }
    }

    &[aria-hidden="true"] {
      display: none;
    }

    &--no-shadow {
      @include no-shadow();
    }
  }

  &__content {
    @include fd-reset();

    padding: 1rem 0 0 0;
    background-color: $fd-dynamic-page-content-background-color;

    &--s {
      @include responsive-page($fd-dynamic-page-header-padding-top-bottom, 0.5rem);
    }

    &--m,
    &--l {
      @include responsive-page($fd-dynamic-page-header-padding-top-bottom, 2rem);
    }

    &--xl {
      @include responsive-page($fd-dynamic-page-header-padding-top-bottom, 3rem);
    }

    // for list and transparent, different bg colors
    &--list-bg {
      background-color: var(--sapDynamicPage_Content_List_Background);
    }

    &--transparent-bg {
      background-color: var(--sapDynamicPage_Content_Transparent_Background);
    }
  }
}
