@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-dynamic-page;

.#{$block} {

  $fd-dynamic-page-background-color: var(--sapObjectHeader_Background);
  $fd-dynamic-page-content-background-color: var(--sapBackgroundColor);
  $fd-dynamic-page-padding-top-bottom: 0.5rem;
  $fd-dynamic-page-header-padding-top-bottom: 1rem;
  $fd-dynamic-page-box-shadow: var(--sapContent_HeaderShadow);
  $fd-dynamic-page-button-width: 1.5rem;
  $fd-dynamic-page-button-padding: 0 0.25rem;
  $fd-dynamic-page-button-group-width: 4rem;
  $fd-dynamic-page-button-group-height: 0.0625rem;
  $fd-dynamic-page-focus-outline-offset: 0.0625rem;
  $fd-button-height: 1.5rem;
  $fd-button-clickable-height: 2rem;
  $fd-button-touchable-area: ($fd-button-clickable-height - $fd-button-height) / 2;

  @include fd-reset();

  @mixin fd-background-page($background-color) {
    .#{$block}__content {
      background-color: $background-color;
    }
  }

  @mixin fd-responsive-page($padding-y: 0,$padding-x: 1rem) {
    .#{$block}__title-area {
      @include responsive-page($fd-dynamic-page-padding-top-bottom, $padding-x);

      &--collapsed {
        padding-bottom: 1rem;
      }
    }

    .#{$block}__collapsible-header,
    .#{$block}__content {
      @include responsive-page($padding-y, $padding-x);
    }

    .#{$block}__tabs {
      @include responsive-page(0, $padding-x);
    }

    .#{$block}__summarized-title-area {
      @include responsive-page($padding-y);
    }
  }

  @mixin responsive-page($padding-y: 0,$padding-x: 1rem) {
    padding: $padding-y $padding-x;
  }

  @mixin no-shadow() {
    box-shadow: none;
  }

  @mixin custom-button() {
    @include fd-flex-vertical-center() {
      justify-content: center;
    }

    margin: $fd-dynamic-page-button-padding;
    padding: 0;
    width: $fd-dynamic-page-button-width;
    height: $fd-button-height;
    min-width: $fd-dynamic-page-button-width;

    // Extended touchable area
    &::before {
      height: $fd-button-clickable-height;
      width: 100%;
      top: -$fd-button-touchable-area;
      bottom: -$fd-button-touchable-area;
    }

    @include fd-rtl() {
      > [class*='sap-icon'] {
        &:last-child {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }

  @include fd-flex(column);

  &__header-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
  }

  &__header {
    @include fd-reset();

    @include fd-flex(column) {
      justify-content: space-between;
    }
  }

  &__title-area {
    @include fd-reset();

    @include fd-flex(column) {
      justify-content: space-between;
    }

    @include fd-fiori-focus($fd-dynamic-page-focus-outline-offset) {
      z-index: 1;
    }

    min-height: 3rem;
    word-wrap: break-word;
    background-color: $fd-dynamic-page-background-color;
    z-index: 1;

    @include fd-hover() {
      background: var(--sapObjectHeader_Hover_Background);
      border-bottom: var(--fdDynamicPage_Hover_Border_Bottom);
      cursor: pointer;
    }

    &--collapsed {
      padding-bottom: 1rem;
    }

    &[aria-hidden="true"] {
      display: none;
    }
  }

  &__main-container {
    @include fd-reset();

    @include fd-flex() {
      justify-content: space-between;
    }
  }

  &__title-container {
    @include fd-reset();

    @include fd-flex() {
      align-items: baseline;
    }
  }

  &__breadcrumb {
    @include fd-reset();

    padding: 0.5rem 0 0.25rem 0;
  }

  &__breadcrumb-title-container {
    @include fd-reset();

    flex: 1;
    min-width: 0;
  }

  &__breadcrumb-container {
    @include fd-reset();

    @include fd-flex-vertical-center() {
      justify-content: space-between; // to space breadcrumb and close button at each end
    }
  }

  &__title {
    @include fd-reset();

    color: var(--sapGroup_TitleTextColor);
    font-size: var(--sapFontHeader3Size);
    padding: 0.3125rem 0 0 0;

    @include fd-ellipsis();

    // if fd-link is used as a child class
    .#{$fd-namespace}-link {
      @include fd-ellipsis();

      padding: 0;
      color: var(--sapGroup_TitleTextColor);
      font-size: var(--sapFontHeader3Size);
      max-width: 100%;
      vertical-align: bottom;
    }
  }

  &__subtitle {
    @include fd-reset();

    color: var(--sapContent_LabelColor);
    font-size: var(--sapFontSize);
    margin-top: 0.25rem;
  }

  &__title-content {
    @include fd-reset();
    @include fd-ellipsis();

    padding: 0 0 0 1rem;
    vertical-align: baseline;

    @include fd-rtl() {
      padding: 0 1rem 0 0;
    }
  }

  &__actions-container {
    @include fd-reset();
    @include fd-flex(column);

    justify-content: flex-end;
  }

  &__toolbar-container {
    @include fd-reset();
    @include fd-flex-vertical-center();
  }

  &__toolbar {
    @include fd-reset();

    padding: 0 0 0 1rem;
    justify-content: flex-end;
    align-items: flex-end;

    @include fd-rtl() {
      padding: 0 1rem 0 0;
      margin-left: 0;
      margin-right: auto;
    }
  }

  &__toolbar-actions {
    @include fd-reset();

    padding: 0;
    justify-content: flex-end;
    align-items: baseline;
  }

  &__title-content-toolbar {
    @include fd-reset();

    justify-content: flex-start;
    align-self: center;
    padding: 0;
  }

  &__summarized-title-area {
    @include fd-reset();

    @include fd-flex-vertical-center() {
      justify-content: space-between;
    }

    @include fd-fiori-focus($fd-dynamic-page-focus-outline-offset);

    word-wrap: break-word;
    background: var(--sapObjectHeader_Background);
    box-shadow: $fd-dynamic-page-box-shadow;
    height: 2rem;
    z-index: 1;

    &--no-shadow {
      @include no-shadow();
    }

    &[aria-hidden="true"] {
      display: none;
    }
  }

  &__summarized-title {
    @include fd-reset();
    @include fd-ellipsis();

    color: var(--sapGroup_TitleTextColor);
    font-size: var(--sapFontHeader5Size);
    padding: 0;
    line-height: 2rem;
  }

  &__collapsible-header-container {
    // contains B and B1
    @include fd-reset();
  }

  &__collapsible-header {
    @include fd-reset();

    background-color: $fd-dynamic-page-background-color;
    padding: $fd-dynamic-page-header-padding-top-bottom 0;

    &[aria-hidden="true"] {
      display: none;
    }
  }

  &__tabs {
    @include fd-reset();

    &--overflow {
      overflow: hidden;
    }

    &--add-shadow {
      box-shadow: $fd-dynamic-page-box-shadow;
    }
  }

  &__collapsible-header-visibility-container {
    @include fd-reset();
    @include fd-flex-center();

    box-shadow: $fd-dynamic-page-box-shadow;
    background-color: $fd-dynamic-page-background-color;
    z-index: 2;
    min-height: $fd-dynamic-page-button-group-height;

    // left and right gradient for the pin/collapse buttons
    &--left-gradient {
      background-image: var(--fdDynamicPage_Button_Left_Gradient);
      width: $fd-dynamic-page-button-group-width;
      height: $fd-dynamic-page-button-group-height;

      @include fd-rtl() {
        background-image: var(--fdDynamicPage_Button_Right_Gradient);
      }
    }

    &--right-gradient {
      background-image: var(--fdDynamicPage_Button_Right_Gradient);
      width: $fd-dynamic-page-button-group-width;
      height: $fd-dynamic-page-button-group-height;

      @include fd-rtl() {
        background-image: var(--fdDynamicPage_Button_Left_Gradient);
      }
    }

    &--button-group {
      @include fd-reset();
      @include fd-flex-center();

      background: var(--fdDynamicPage_Button_Group_Background);
      width: 4.25rem;
      height: $fd-dynamic-page-button-group-height;
      z-index: 1;

      // button styles
      .#{$block}__pin-button.#{$fd-namespace}-button,
      .#{$block}__expand-button.#{$fd-namespace}-button,
      .#{$block}__collapse-button.#{$fd-namespace}-button {
        @include custom-button();
      }
    }

    &[aria-hidden="true"] {
      display: none;
    }

    &--no-shadow {
      @include no-shadow();
    }
  }

  &__content {
    @include fd-reset();

    background-color: $fd-dynamic-page-content-background-color;
    overflow-y: auto;
  }

  &__footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 $fd-dynamic-page-padding-top-bottom $fd-dynamic-page-padding-top-bottom;
  }

  &--sm {
    @include fd-responsive-page($fd-dynamic-page-header-padding-top-bottom, 0.5rem);

    .#{$block}__breadcrumb {
      padding: 0;
    }

    .#{$block}__toolbar {
      margin-left: auto;
      padding: 0;
      align-items: center;
      align-self: center;
    }

    .#{$block}__toolbar-actions {
      flex: 1;
      align-items: center;
    }
  }

  &--md,
  &--lg {
    @include fd-responsive-page($fd-dynamic-page-header-padding-top-bottom, 2rem);
  }

  &--xl {
    @include fd-responsive-page($fd-dynamic-page-header-padding-top-bottom, 3rem);
  }

  &--md {
    .#{$block}__title {
      padding: 0.6875rem 0 0 0;
    }

    .#{$block}__actions-container {
      flex-flow: row;
    }

    .#{$block}__toolbar-container {
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }

    .#{$block}__toolbar {
      padding: 0;
    }
  }

  &--list-bg {
    .#{$block}__content {
      background-color: var(--fdDynamicPage_Content_List_Background);
    }
  }

  &--transparent-bg {
    .#{$block}__content {
      background-color: var(--fdDynamicPage_Content_Transparent_Background);
    }

    .#{$block}__title-area {
      background: var(--fdDynamicPage_Title_Header_Transparent_Background);
    }

    .#{$block}__collapsible-header {
      background-color: var(--fdDynamicPage_Title_Header_Transparent_Background);
    }
  }
}
