@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-dynamic-page-layout;

.#{$block} {

  $fd-dynamic-page-layout-background-color: var(--sapObjectHeader_Background);
  $fd-dynamic-page-layout-content-background-color: var(--sapBackgroundColor);
  $fd-dynamic-page-layout-padding-top-bottom: 0.5rem;
  $fd-dynamic-page-layout-header-padding-top-bottom: 1rem;

  @include fd-reset();

  @mixin responsive-page($padding-y: 0,$padding-x: 1rem) {
    padding: $padding-y $padding-x;
  }

  @mixin box-shadow() {
    box-shadow: var(--sapContent_HeaderShadow);
    // box-shadow: 0 0.25rem 0.25rem -0.25rem rgba(0,0,0,0.15), inset 0 -0.0625rem 0 0 var(--sapObjectHeader_BorderColor);
  }

  @mixin no-shadow {
    &--no-shadow {
      box-shadow: none;
    }
  }
  // todo: check for mixin naming conventoin
  @mixin flex-config($justify-content: space-between) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: center;
  }

  @mixin custom-button() {
    @include flex-config($justify-content: space-evenly);

    margin: 0 0.25rem;
    width: 1.5rem;
    height: 2rem;
    min-width: 1.5rem;
  }

  &__title-area {
    @include fd-reset();

    @include fd-flex($direction: column) {
      justify-content: space-between;
    }

    min-height: 3rem;
    word-wrap: break-word;
    background-color: $fd-dynamic-page-layout-background-color; // discrepancy

    @include fd-hover() {
      background: var(--sapObjectHeader_Hover_Background);    // color not yet available in Fundamental, therefore hover not reflecting the color
    }

    &--s {
      @include responsive-page($padding-y: $fd-dynamic-page-layout-padding-top-bottom, $padding-x: 0.5rem);
    }

    &--m_l {
      @include responsive-page($padding-y: $fd-dynamic-page-layout-padding-top-bottom, $padding-x: 2rem);
    }

    &--xl {
      @include responsive-page($padding-y: $fd-dynamic-page-layout-padding-top-bottom, $padding-x: 3rem);
    }

    &--transparent-bg {
      background: transparent;  // WARNING: theme conflicting values
    }

    &--collapsed {
      padding-bottom: 1rem;
    }

    &[aria-hidden="true"] {
      display: none;
    }
  }

  &__title-container {
    @include fd-reset();
    @include flex-config($justify-content: flex-start);
  }

  .#{$fd-namespace}-breadcrumb.#{$block}__breadcrumb {
    @include fd-reset();

    padding: 0.5rem 0 0.25rem 0;

    &--s {
      padding: 0;
    }
  }

  &__breadcrumb-container {
    @include fd-reset();
    @include flex-config();
  }

  &__title {
    @include fd-reset();

    color: var(--sapGroup_TitleTextColor);
    font-size: var(--sapFontHeader3Size);
    padding: 0.3125rem 0 0 0;

    &--collapsed {
      @include fd-ellipsis();
    }

    &--collapsed-s {
      color: var(--sapGroup_TitleTextColor);
      font-size: var(--sapFontHeader5Size);
      padding: 0;
      line-height: 2rem;

      @include fd-ellipsis();
    }
    // tablet spec
    &--m {
      padding: 0.6875rem 0 0 0;
    }
  }

  &__subtitle {
    @include fd-reset();

    color: var(--sapContent_LabelColor);
    font-size: var(--sapFontSize);
    margin-top: 0.25rem;
  }

  &__title-content {
    @include fd-reset();

    padding: 0 0 0 1rem;

    @include fd-rtl() {
      padding: 0 1rem 0 0;
    }
  }

  &__toolbar {
    @include fd-reset();

    padding: 0 0 0 1rem;
    margin-left: auto;  // align toolbar to right in a flex layout

    @include fd-rtl() {
      margin-left: 0;
      margin-right: auto;
    }

    &--actions {
      padding: 0;
    }
  }

  &__summarized-title-area {
    @include fd-reset();
    @include flex-config();

    word-wrap: break-word;
    background: var(--sapObjectHeader_Background);

    @include box-shadow();

    height: 2rem;

    &--s {
      @include responsive-page($padding-x: 0.5rem);
    }

    &--m_l {
      @include responsive-page($padding-x: 2rem);
    }

    &--xl {
      @include responsive-page($padding-x: 3rem);
    }

    @include no-shadow();

    &[aria-hidden="true"] {
      display: none;
    }
  }

  &__summarized-title {
    color: var(--sapGroup_TitleTextColor);
    font-size: var(--sapFontHeader5Size);
    padding: 0;
    line-height: 2rem;
    text-overflow: ellipsis;
  }

  // todo: refactor common stuff to mixins

  &__header {
    // contains B and B1
    @include fd-reset();

    background-color: $fd-dynamic-page-layout-background-color;
    padding: $fd-dynamic-page-layout-header-padding-top-bottom 0;

    &--transparent-bg {
      background-color: transparent;  // WARNING: theme conflicting values
    }

    &--s {
      @include responsive-page($padding-y: $fd-dynamic-page-layout-header-padding-top-bottom, $padding-x: 0.5rem);
    }

    &--m_l {
      @include responsive-page($padding-y: $fd-dynamic-page-layout-header-padding-top-bottom, $padding-x: 2rem);
    }

    &--xl {
      @include responsive-page($padding-y: $fd-dynamic-page-layout-header-padding-top-bottom, $padding-x: 3rem);
    }

    &[aria-hidden="true"] {
      display: none;
    }
  }

  &__tabs {
    &--overflow {
      overflow: hidden;
    }
  }
  .#{$fd-namespace}-tabs.#{$block}__tabs {
    &--s {
      @include responsive-page($padding-x: 0.5rem);
    }

    &--m_l {
      @include responsive-page($padding-x: 2rem);
    }

    &--xl {
      @include responsive-page($padding-x: 3rem);
    }

    &--add-shadow {
      @include box-shadow();
    }
  }

  &__header-visibility-container {
    @include fd-reset();
    @include fd-flex-center();
    @include box-shadow();
    // left and right gradient for the pin/collapse buttons
    &--left-gradient {
      background-image: linear-gradient(to left, var(--sapHighlightColor), transparent);
      width: 4rem;
      height: 0.0625rem;

      @include fd-rtl() {
        background-image: linear-gradient(to right, var(--sapHighlightColor), transparent);
      }
    }

    &--right-gradient {
      background-image: linear-gradient(to right, var(--sapHighlightColor), transparent);
      width: 4rem;
      height: 0.0625rem;

      @include fd-rtl() {
        background-image: linear-gradient(to left, var(--sapHighlightColor), transparent);
      }
    }

    &--button-group {
      @include fd-reset();
      @include fd-flex-center();

      background: var(--sapHighlightColor);
      width: 4.25rem;
      height: 0.0625rem;

      // button styles
      .#{$block}__pin-button.#{$fd-namespace}-button {
        @include custom-button();
      }
      .#{$block}__expand-button.#{$fd-namespace}-button {
        @include custom-button();
      }
      .#{$block}__collapse-button.#{$fd-namespace}-button {
        @include custom-button();
      }
    }

    &[aria-hidden="true"] {
      display: none;
    }

    // &--no-shadow{
    //     box-shadow: none;
    // }
    @include no-shadow();
  }

  // &__pin-button{

  // }

  // &__collapse-button{

  // }

  &__content {
    // contains D
    @include fd-reset();
    // @include responsive-page();
    padding: 1rem 0 0 0;
    // padding-top: 1rem;
    background-color: $fd-dynamic-page-layout-content-background-color;

    &--s {
      @include responsive-page($padding-y: $fd-dynamic-page-layout-header-padding-top-bottom, $padding-x: 0.5rem);
    }

    &--m_l {
      @include responsive-page($padding-y: $fd-dynamic-page-layout-header-padding-top-bottom, $padding-x: 2rem);
    }

    &--xl {
      @include responsive-page($padding-y: $fd-dynamic-page-layout-header-padding-top-bottom, $padding-x: 3rem);
    }

    // for list and transparent, different bg colors
    &--list-bg {
      background-color: var(--sapGroup_ContentBackground);
    }

    &--transparent-bg {
      background-color: transparent;
    }
  }

  &__footer {
    // contains E
    // &--s{
    //     @include responsive-page($padding-x: 0.5rem);
    // }
    // &--m_l{
    //     @include responsive-page($padding-x: 2rem);
    // }
    // &--xl{
    //     @include responsive-page($padding-x: 3rem);
    // }
  }
}
