@import "./settings";
@import "./mixins";
@import "./functions";
@import "./form-group";

/*!
.fd-fieldset
*/
$block: #{$fd-namespace}-fieldset;

.#{$block} {
  @extend .#{$fd-namespace}-form-group;

  &__legend {
    @include fd-reset();
    @include fd-var-color("color", fd-color(text, 3), --fd-color-text-3);

    line-height: $fd-forms-height--input-check;
    margin-bottom: fd-space(2);
    display: block;

    &.is-disabled {
      opacity: 0.4;
    }
  }
}
