@import "./mixins";
@import "./new-settings";

$block: #{$fd-namespace}-file-uploader;
$input: #{$fd-namespace}-input;

$fd-file-uploader-padding: 0.25rem;

.#{$block} {
  @include fd-reset();
  @include fd-flex-vertical-center();

  &__input.#{$input} {
    width: auto;
    margin-right: $fd-file-uploader-padding;
    background-color: var(--sapField_Background);
    user-select: none;
    cursor: pointer;

    &::placeholder {
      color: var(--sapTextColor);
    }

    @include fd-rtl() {
      margin-left: $fd-file-uploader-padding;
      margin-right: 0;
    }

    &.is-success {
      background-color: var(--sapField_SuccessBackground);
      border-color: var(--sapField_SuccessColor);
    }

    &.is-error {
      background-color: var(--sapField_InvalidBackground);
      border-color: var(--sapField_InvalidColor);
    }

    &.is-warning {
      background-color: var(--sapField_WarningBackground);
      border-color: var(--sapField_WarningColor);
    }

    &.is-information {
      background-color: var(--sapField_InformationBackground);
      border-color: var(--sapField_InformationColor);
    }
  }

  &__hidden {
    display: none;
  }
}
