@import "./mixins";
@import "./new-settings";

$block: #{$fd-namespace}-file-uploader;

.#{$block} {
  $fd-file-uploader-padding: 0.25rem;

  @include fd-reset();

  display: inline-flex;
  align-items: center;
  width: auto;

  &__input.#{$fd-namespace}-input {
    width: auto;
    margin-right: $fd-file-uploader-padding;

    @include fd-ellipsis();

    user-select: none;

    @include fd-rtl() {
      margin-left: $fd-file-uploader-padding;
      margin-right: 0;
    }

    cursor: text;

    @include fd-readonly() {
      background-color: var(--sapField_Background);

      &::placeholder {
        color: var(--sapTextColor);
      }
    }

    @include fd-focus() {
      outline: none;
    }

    @include fd-hover() {
      outline: none;
      cursor: pointer;
      border-color: var(--sapField_BorderColor);
    }
  }

  &__button.#{$fd-namespace}-button {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__hidden {
    display: none;
  }
}
