@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-flexible-column-layout;

.#{$block} {

  $fd-column-layout-expand-decoration-image: var(--fdFlexibleColumnLayoutToggleImage);
  $fd-toggle-button-height: 2rem;
  $fd-toggle-button-width: 1.5rem;
  $fd-column-layout-border-x: var(--fdFlexibleColumnLayoutBorder);
  $fd-column-layout-expand-decoration-position: calc(50% + #{$fd-toggle-button-height} / 2);

  @include fd-reset();
  @include fd-flex();

  &__separator {
    @include fd-reset();
    @include fd-flex-center();

    position: relative;
    width: 1rem;
    background-color: var(--fdFlexibleColumnBackgroundSolid);

    @include both-pseudo-selectors() {
      content: "";
      display: block;
      width: 0.0625rem;
      height: 4rem;
      transition: all 0.1s ease-in;

      @include fd-absolute-horizontal-center();
    }

    &::before {
      bottom: $fd-column-layout-expand-decoration-position;
      background-image: linear-gradient(to top, var(--fdFlexibleColumnLayoutToggleImageColor), transparent);
    }

    &::after {
      top: $fd-column-layout-expand-decoration-position;
      background-image: linear-gradient(to bottom, var(--fdFlexibleColumnLayoutToggleImageColor), transparent);
    }

    @include fd-hover() {
      @include both-pseudo-selectors() {
        height: 7rem;
      }
    }
  }

  .#{$block}__button {
    height: $fd-toggle-button-height;
    width: $fd-toggle-button-width;
    min-width: $fd-toggle-button-width;
    justify-content: center;

    @include fd-absolute-center();
  }

  &__column {
    @include fd-reset();

    min-width: 20rem;
    border-left: $fd-column-layout-border-x;
    border-right: $fd-column-layout-border-x;

    @include fd-first-child() {
      border-left: none;
    }

    @include fd-last-child() {
      border-right: none;
    }

    &--hidden {
      border: none;
      min-width: 0;
    }
  }

  &--translucent {
    .#{$block}__separator {
      background-color: var(--fdFlexibleColumnBackgroundTranslucent);
    }
  }

  &--transparent {
    .#{$block}__separator {
      background-color: var(--fdFlexibleColumnBackgroundTransparent);
    }
  }
}
