@import "./fn-settings";

$block: #{$fn-namespace}-switch;
$fn-switch-slider-transition: 0.4s;
$fn-switch-slider-offset: 0.125rem;
$fn-switch-slider-translateX: 0.75rem;

@mixin fn-switch-set-states($default, $checked, $shadow) {
  & + .#{$block}__slider {
    background-color: $default;
  }

  & + .#{$block}__slider::before {
    color: $default;
  }

  &:checked  + .#{$block}__slider {
    box-shadow: $shadow;
    background-color: $checked;
  }

  &:checked  + .#{$block}__slider::before {
    color: $checked;
  }
}

@mixin fn-switch-set-slider-inset-shadow($color) {
  box-shadow: inset 0 0 0 0.125rem $color;
}

.#{$block} {
  @include fn-reset();

  @include fn-flex() {
    align-items: center;
  }

  &__toggle {
    @include fn-reset();

    width: 2.5rem;
    height: 1.5rem;
    position: relative;
    display: inline-block;

    @include fn-active() {
      .#{$block}__input + .#{$block}__slider {
        box-shadow: $fn-focus-outline-shadow, $fn-focus-outline-inner-shadow;

        &::before {
          @include fn-switch-set-slider-inset-shadow($fn-color-grey-4);
        }
      }

      .#{$block}__input:checked  + .#{$block}__slider {
        box-shadow: $fn-shadow-blue-small, $fn-focus-outline-shadow, $fn-focus-outline-inner-shadow;

        &::before {
          @include fn-switch-set-slider-inset-shadow($fn-color-blue-7);
        }
      }
    }
  }

  &__input {
    @include fn-reset();

    width: 0;
    height: 0;
    opacity: 0;

    &:checked + .#{$block}__slider {
      background-color: $fn-color-blue-5;
    }

    &:checked + .#{$block}__slider::before {
      content: "\e05b";
      color: $fn-color-blue-5;
      transform: translateX($fn-switch-slider-translateX);
      -ms-transform: translateX($fn-switch-slider-translateX);
      -webkit-transform: translateX($fn-switch-slider-translateX);
    }

    @include fn-hover() {
      @include fn-switch-set-states($fn-color-grey-5, $fn-color-blue-6, $fn-shadow-blue-small);
    }

    @include fn-focus() {
      @include fn-switch-set-states($fn-color-grey-4, $fn-color-blue-7, none);

      & + .#{$block}__slider {
        box-shadow: $fn-focus-outline-shadow, $fn-focus-outline-inner-shadow;

        &::before {
          @include fn-switch-set-slider-inset-shadow($fn-color-grey-4);
        }
      }

      &:checked  + .#{$block}__slider {
        box-shadow: $fn-shadow-blue-small, $fn-focus-outline-shadow, $fn-focus-outline-inner-shadow;

        &::before {
          @include fn-switch-set-slider-inset-shadow($fn-color-blue-7);
        }
      }
    }

    @include fn-disabled() {
      @include fn-switch-set-states($fn-color-grey-2, $fn-color-grey-2, none);

      & ~ .#{$block}__label {
        color: $fn-color-grey-2;
      }

      &:checked + .#{$block}__slider::before {
        color: $fn-color-grey-2;
      }
    }
  }

  &__slider {
    @include fn-reset();

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    border-radius: 0.75rem;
    background-color: $fn-color-grey-4;
    transition: $fn-switch-slider-transition;
    -webkit-transition: $fn-switch-slider-transition;

    &::before {
      @include fn-flex-center();
      @include fn-set-position-left($fn-switch-slider-offset);

      width: 1.5rem;
      height: 1.25rem;
      content: "\e069";
      font-size: 0.75rem;
      position: absolute;
      color: $fn-color-grey-4;
      border-radius: 0.875rem;
      font-family: "SAP-icons";
      bottom: $fn-switch-slider-offset;
      background-color: $fn-color-base-white;
      transition: $fn-switch-slider-transition;
      -webkit-transition: $fn-switch-slider-transition;
    }
  }

  &__label {
    @include fn-reset();
    @include fn-set-position-left(3.125rem);

    position: absolute;
  }
}
