@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-form-message(--help, --error, --warning)
*/
$block: #{$fd-namespace}-form-message;

.#{$block} {
  // LOCAL VARS (set all vars used in component, always include !default)
  $fd-form-message-font-size: -1 !default;
  $fd-form-message-color: fd-color(text, 2) !default;

  @include fd-reset();

  clear: both;
  // display: block;
  // position: relative;
  height: auto;
  width: fit-content;
  min-width: 6rem;
  max-width: 22rem;
  padding: 0.5rem;
  margin-left: 1px;
  font-size: var(--sapFontSmallSize);
  font-weight: normal;
  line-height: normal;
  color: var(--sapTextColor);
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: var(--sapContent_Shadow1);

  &--error {
    background-color: var(--sapErrorBackground);
  }

  &--warning {
    background-color: var(--sapWarningBackground);
  }

  &--success {
    background-color: var(--sapSuccessBackground);
  }

  &--information {
    background-color: var(--sapInformationBackground);
  }

  & + .#{$fd-namespace}-input {
    margin-top: 0;
  }
}
