@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-form-message(--help, --error, --warning)
*/
$block: #{$fd-namespace}-form-message;

.#{$block} {
  @include fd-reset();

  z-index: 10;
  clear: both;
  height: auto;
  width: fit-content;
  min-width: 6rem;
  max-width: 22rem;
  padding: 0.5rem;
  margin-top: -0.25rem;
  font-size: var(--sapFontSmallSize);
  font-weight: normal;
  line-height: normal;
  color: var(--sapTextColor);
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0 !important;
  white-space: pre-line !important;

  @include fd-rtl() {
    right: 0;
  }

  &--compact {
    margin-top: -0.1875rem;
  }

  &--error {
    background-color: var(--sapErrorBackground);
  }

  &--warning {
    background-color: var(--sapWarningBackground);
  }

  &--success {
    background-color: var(--sapSuccessBackground);
  }

  &--information {
    background-color: var(--sapInformationBackground);
  }

  & + .#{$fd-namespace}-input {
    margin-top: 0;
  }
}
