@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-form-group
*/

$block: #{$fd-namespace}-form-group;

.#{$block} {
  @include fd-reset();

  margin-bottom: fd-space("small");

  &:last-child {
    margin-bottom: 0;
  }
}

.#{$block}--inline {
  display: flex;
  justify-content: flex-start;

  :not(:last-child) {
    margin-right: fd-space(4);
  }
}
