@import "./new-settings";
@import "./mixins";

/*!
.fd-form-group
*/

$block: #{$fd-namespace}-form-group;

.#{$block} {
  @include fd-reset();

  min-inline-size: auto;

  &:last-child {
    margin-bottom: 0;
  }

  &--inline {
    display: flex;
    justify-content: flex-start;
  }

  &__item {
    @include fd-reset();
  }
}
