@import "./mixins";
@import "./layout-grid.scss";

$block: #{$fd-namespace}-form-layout-grid;
$blockCol: #{$fd-namespace}-col;
$blockContainer: #{$fd-namespace}-container;
$blockRow: #{$fd-namespace}-row;
$cols: 11;

@mixin placement($direction) {
  .fd-form-label {
    float: $direction;
  }
}

@media (min-width: 0) {
  .#{$blockContainer}.#{$block}-container {
    margin: 0 -0.25rem;

    & > .fd-row {
      & > :first-child & :not(.fd-col--wrap) {
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .#{$blockRow},
    .#{$blockRow}+.#{$blockRow} {
      margin-top: 0;
    }

    .#{$blockRow} {
      align-items: center;
      margin-top: 0;
      margin-bottom: 0.625rem;

      .#{$blockCol} {
        padding: 0 0.25rem;
        overflow: hidden;
        text-overflow: ellipsis;

        @include placement('left');

        @include fd-rtl() {
          @include placement('right');
        }

        .fd-select__control {
          margin: 0.25rem 0;
        }

        .fd-form-label {
          display: inline-block;
          padding-bottom: 0.125rem;
        }

        @for $n from 0 through $cols {
          &--#{$n} {
            @include placement('right');

            @include fd-rtl() {
              @include placement('left');
            }

            margin-bottom: 0;

            .fd-form-label {
              padding-bottom: 0;
            }
          }
        }

        &--12 {
          @include placement('left');

          @include fd-rtl() {
            @include placement('right');
          }
        }

        .#{$blockRow} {
          margin: 0 -0.25rem;
        }
      }

      .#{$fd-namespace}-form-group.#{$blockCol} {
        padding: 1rem;
      }
    }

    :last-child {
      * > {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 600px) {
  .#{$blockContainer}.#{$block}-container {
    .#{$blockRow} {
      margin-bottom: 0;

      .#{$blockCol} {
        .fd-form-label {
          padding-bottom: 0;
        }

        @for $n from 0 through $cols {
          &-md--#{$n} {
            @include placement('right');

            @include fd-rtl() {
              @include placement('left');

              text-align: left;
            }

            margin-bottom: 0;
          }
        }

        &-md--12 {
          @include placement('left');

          @include fd-rtl() {
            @include placement('right');
          }

          .fd-form-label {
            padding-bottom: 0.125rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {

  .#{$blockContainer}.#{$block}-container {
    .#{$blockRow} {
      .#{$blockCol} {
        .fd-form-label {
          padding-bottom: 0;
        }

        @for $n from 0 through $cols {
          &-lg--#{$n} {
            @include placement('right');

            @include fd-rtl() {
              @include placement('left');
            }

            margin-bottom: 0;
          }
        }

        &-lg--12 {
          @include placement('left');

          .fd-form-label {
            padding-bottom: 0.125rem;
          }
        }
      }

      @include fd-rtl() {
        @for $n from 0 through $cols {
          .#{$blockCol}-lg--#{$n} {
            @include placement('left');
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .#{$blockContainer}.#{$block}-container {
    .#{$blockRow} {
      .#{$blockCol} {
        .fd-form-label {
          padding-bottom: 0;
        }

        @for $n from 0 through $cols {
          &-xl--#{$n} {
            @include placement('right');

            @include fd-rtl() {
              @include placement('left');

              text-align: left;
            }

            margin-bottom: 0;
          }
        }

        &-xl--12 {
          @include fd-rtl() {
            @include placement('right');
          }

          @include placement('left');

          .fd-form-label {
            padding-bottom: 0.125rem;
          }
        }
      }
    }
  }
}
