@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-form-label
*/
$block: #{$fd-namespace}-form-label;

.#{$block} {
  @include fd-reset();
  @include fd-ellipsis();

  width: fit-content;
  max-width: 100%;
  display: inline-block;
  position: relative;
  font-size: var(--sapFontSize);
  color: var(--sapContent_LabelColor);
  padding-right: 6px;
  margin-right: 8px;
  cursor: text;

  @include fd-rtl() {
    padding-left: 6px;
    margin-left: 8px;
  }

  &.is-disabled {
    opacity: 0.4;
  }

  &:focus-within {
    outline-width: var(--sapContent_FocusWidth);
    outline-style: var(--sapContent_FocusStyle);
    outline-color: var(--sapContent_FocusColor);
    // outline-offset: -0.5rem;
  }

  &--required,
  &[aria-required="true"] {
    &::after {
      content: "*";
      font-size: var(--sapFontSize);
      font-weight: bold;
      color: var(--sapField_RequiredColor);
      margin-left: 0.125rem;
      position: absolute;
      right: 0;
    }

    @include fd-rtl() {
      &::after {
        margin-left: 0;
        position: absolute;
        right: auto;
        left: 0;
      }
    }
  }
}
