@import "./settings";
@import "./mixins";
@import "./functions";

/*!

.fd-form-item+(--inline)
*/
$block: #{$fd-namespace}-form-item;

.#{$block} {
  @include fd-reset();

  position: relative;
  display: flex;
  align-content: center;
  flex-direction: column;

  &--horizontal {
    flex-direction: row;
    align-items: center;

    .#{$fd-namespace}-form-label {
      padding-bottom: 0;
    }

    .#{$fd-namespace}-input {
      flex: 1;
    }
  }
}
