@import './new-settings';
@import './mixins';

/*!
.fd-form-header
   .fd-form-header__text
*/
$block: #{$fd-namespace}-form-header;
$fd-form-header-padding-x: 1rem !default;

.#{$block} {
  @include fd-reset();
  @include fd-flex-vertical-center();
  @include fd-form-backgrounds();

  width: 100%;
  height: 2.75rem;
  padding-left: $fd-form-header-padding-x;
  padding-right: $fd-form-header-padding-x;
  box-shadow: 0 var(--fdFormHeader_Border_Width) var(--fdFormHeader_Border_Width) var(--sapGroup_TitleBorderColor);

  &__text {
    @include fd-reset();
    @include fd-ellipsis();

    font-family: var(--sapFontHeaderFamily);
    font-size: var(--sapFontHeader4Size);
    color: var(--sapGroup_TitleTextColor);
  }
}
