@import "./mixins";
@import "./layout-grid.scss";

$block: #{$fd-namespace}-form-layout-grid;
$blockCol: #{$fd-namespace}-col;
$blockContainer: #{$fd-namespace}-container;
$blockRow: #{$fd-namespace}-row;

.#{$block}-flex {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: flex-start;

  &--right {
    justify-content: flex-end;
  }
}

@media (min-width: 0) {
  .#{$blockContainer}.#{$block}-container {
    padding: 1rem;
    .#{$blockRow},
    .#{$blockRow}+.#{$blockRow} {
      margin-top: 0;
    }
  }

  .#{$block}-container {
    padding: 1rem;
    margin: 0 -0.25rem;

    .#{$blockRow} {
      margin-bottom: 0;
      align-items: center;
      margin-top: 0;

      .#{$blockCol} {
        padding: 0 0.25rem;

        .fd-form-label {
          margin-right: 0;
        }

        .#{$blockRow} {
          margin: 0 -0.25rem;
        }
      }
    }

    &--vertical {
      > *:not(:last-child) {
        margin-bottom: 0.625rem;
      }

      .fd-form-label {
        padding-bottom: 0.125rem;
      }
    }
  }
}
