@import "./new-settings";
@import "./mixins";
@import "./functions";

/*!
.fd-form-message(--help, --error, --warning)
*/
$block: #{$fd-namespace}-form-message;

.#{$block} {
  @include fd-reset();
  @include fd-ellipsis();

  padding: 0.5rem;
  min-width: 6rem;
  max-width: 22rem;
  width: 100%;
  font-size: var(--sapFontSmallSize);
  font-weight: normal;
  line-height: normal;
  color: var(--sapTextColor);
  white-space: pre-line !important;

  @include fd-rtl() {
    right: 0;
  }

  &--static {
    margin-top: 0;
    display: table;
    width: auto;
  }

  &--error {
    background-color: var(--sapErrorBackground);
  }

  &--warning {
    background-color: var(--sapWarningBackground);
  }

  &--success {
    background-color: var(--sapSuccessBackground);
  }

  &--information {
    background-color: var(--sapInformationBackground);
  }
}
