@import "./mixins";

$block: sap-icon;

[class*="#{$block}"] {
  @include fd-reset();
  @include fd-icon-base();

  font-style: normal;
  display: inline-block;
}

.#{$block} {
  @each $key, $value in $fd-icons {
    &--#{$key} {
      @include fd-icon-glyph($key);
    }
  }
}

// Business Suite Icons
$blockBusiness: sap-icon-business-suite;

[class*='#{$blockBusiness}'] {
  @include fd-reset();
  @include fd-business-suite-icon-base();

  font-family: 'BusinessSuiteInAppSymbols';
  font-style: normal;
  display: inline-block;
}

.#{$blockBusiness} {
  @each $key, $value in $fd-business-suite-icons {
    &--#{$key} {
      @include fd-business-suite-icon-glyph($key);
    }
  }
}

// SAP-icons-TNT Icons
$blockTNT: sap-icon-tnt;

[class*='#{$blockTNT}'] {
  @include fd-reset();
  @include fd-tnt-icon-base();

  font-family: 'SAP-icons-TNT';
  font-style: normal;
  display: inline-block;
}

.#{$blockTNT} {
  @each $key, $value in $fd-tnt-icons {
    &--#{$key} {
      @include fd-tnt-icon-glyph($key);
    }
  }
}
