@import "./mixins";

$block: sap-icon;

[class*="#{$block}"] {
  @include fd-icon-base();

  display: inline-block;
}

.#{$block} {
  @each $key, $value in $fd-icons {
    &--#{$key} {
      @include fd-icon-glyph($key);
    }
  }
}
