@import "./mixins";

$block: #{$fd-namespace}-icon-message;
$icon-states: (
  "question": ("iconColor": var(--sapNeutralElementColor), "icon": "\e1c4","textColor":var(--sapNeutralTextColor)),
  "error": ("iconColor": var(--sapNegativeElementColor), "icon": "\e0b1","textColor":var(--sapNegativeTextColor)),
  "success": ("iconColor": var(--sapPositiveElementColor), "icon": "\e203","textColor":var(--sapPositiveTextColor)),
  "warning": ("iconColor": var(--sapCriticalElementColor), "icon": "\e201","textColor":var(--sapCriticalTextColor)),
  "information": ("iconColor": var(--sapInformativeElementColor), "icon": "\e05c","textColor":var(--sapNeutralTextColor))
);

@each $set-name, $state-set in $icon-states {
  .#{$block}-#{$set-name} {
    @include fd-reset();

    color: map_get($state-set, "textColor");

    @include fd-icon-base ("before") {
      color: map_get($state-set, "iconColor");
      content: map_get($state-set, "icon");
    }

    &--no-icon {
      @include fd-icon-base ("before") {
        content: none;
      }
    }
  }
}
