@import "./new-settings";
@import "./functions";
@import "./mixins";

$block: #{$fd-namespace}-inline-help;

.#{$block} {
  // LOCAL VARS
  $fd-tooltip-icon-background-color: var(--sapButton_Neutral_Background) !default;
  $fd-tooltip-content-background-color: var(--sapTile_Background) !default;
  $fd-tooltip-content-color: var(--sapTextColor) !default;
  $fd-tooltip-padding: 0.5rem !default;
  $fd-tooltip-icon-size: 1.125rem;
  $fd-tooltip-transition-params: $fd-animation-speed ease-in !default;
  $fd-tooltip-min-width: 21.875rem !default;
  $fd-tooltip-box-shadow: drop-shadow(var(--sapContent_Shadow0)) !default;

  // BLOCK BASE *******************************************
  @include fd-reset();

  position: relative;
  display: inline-block;
  width: $fd-tooltip-icon-size;
  height: $fd-tooltip-icon-size;
  top: 0.188rem;

  &::before {
    content: "?";
    width: $fd-tooltip-icon-size;
    height: $fd-tooltip-icon-size;
    line-height: $fd-tooltip-icon-size;
    font-style: normal;
    position: absolute;
    left: 0;
    border-radius: 50%;
    color: var(--sapContent_ContrastIconColor);
    background-color: $fd-tooltip-icon-background-color;
    text-align: center;
  }

  // ELEMENTS *******************************************
  &__content {
    font-size: var(--sapFontSmallSize);
    line-height: normal;
    background-color: $fd-tooltip-content-background-color;
    padding: $fd-tooltip-padding;
    display: block;
    color: $fd-tooltip-content-color;
    top: $fd-tooltip-padding * 2.5;
    right: -$fd-tooltip-padding;
    min-width: $fd-tooltip-min-width;
    transition: opacity $fd-tooltip-transition-params;
    text-align: left;
    z-index: map-get($fd-z-index-levels, "first");
    border-radius: 0.313rem;
    filter: $fd-tooltip-box-shadow;
  }

  &:hover {
    .#{$block}__content {
      visibility: visible;
      opacity: 1;
      overflow: visible;
    }
  }

  &:focus {
    outline: none;
  }
}
