@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-input
*/
$block: #{$fd-namespace}-input;

.#{$block} {
  @include fd-form-text();

  min-width: 2.75rem;
  height: $fd-form-input-height;
  margin-top: $fd-form-input-margin;
  height: 2.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0 0.625rem;
  cursor: text;

  &:last-child {
    margin-bottom: $fd-form-input-margin;
  }

  &--compact {
    min-width: 2rem;
    height: $fd-form-input-height--compact;
    margin-top: $fd-form-input-margin--compact;
    margin-bottom: $fd-form-input-margin--compact;
    padding: 0 0.5rem;
    box-sizing: border-box;
  }

  &::placeholder {
    @include fd-reset();

    line-height: 2.4;
    font-style: italic;
    color: var(--sapField_PlaceholderTextColor);
  }

  &--compact {
    margin-top: 0.1875rem;
    margin-bottom: 0.1875rem;
    min-width: 2rem;
    height: 1.625rem;
    padding: 0 0.5rem;
    box-sizing: border-box;

    &::placeholder {
      line-height: 1.7rem;
    }
  }

  &--no-number-spinner {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    -moz-appearance: textfield;
  }

  &.right-align {
    text-align: right;
  }
}
