@import "./new-settings";
@import "./mixins";
@import "./functions";

/*!
.fd-input-group+(--inline, --control)
    .fd-input-group__addon+(--button)
*/

$block: #{$fd-namespace}-input-group;

$fd-input-border-radius: var(--sapField_BorderCornerRadius);

.#{$block} {

  $fd-input-width-basis: 10rem;
  $fd-input-group-add-on-border: 0.0625rem;
  $fd-input-group-button-active-text-color: var(--sapButton_Active_TextColor);
  $fd-input-group-button-active-background: var(--sapButton_Active_Background);
  $fd-input-group-button-active-focus-color: var(--sapContent_ContrastFocusColor);

  @include fd-reset();

  display: flex;
  border-style: solid;
  border-width: var(--sapField_BorderWidth);
  border-color: var(--sapField_BorderColor);
  border-radius: var(--sapField_BorderCornerRadius);
  background-color: var(--sapField_Background);
  width: 100%;
  overflow: hidden;

  // states
  @include fd-form-states();
  @include fd-fiori-focus();

  > * {
    border-radius: $fd-input-border-radius;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    @include fd-rtl() {
      border-radius: $fd-input-border-radius;

      &:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .#{$block}__input {
    @include fd-reset-child-spacing();

    background-color: transparent;
    border: none;
    flex: 1 1 $fd-input-width-basis;
    padding-right: 0.25rem;
    padding-left: 0.25rem;

    @include fd-focus() {
      outline: none;
      box-shadow: none;
    }

    @include fd-disabled() {
      pointer-events: none;
      opacity: var(--sapContent_DisabledOpacity);
    }

    &:nth-child(1) {
      padding-left: 0.625rem;
      padding-right: 0.25rem;

      @include fd-rtl() {
        padding-left: 0.25rem;
        padding-right: 0.625rem;
      }
    }

    &:nth-last-child(1) {
      padding-left: 0.25rem;
      padding-right: 0.625rem;

      @include fd-rtl() {
        padding-left: 0.625rem;
        padding-right: 0.25rem;
      }
    }
  }

  &--inline {
    display: inline-flex;
    vertical-align: bottom;
    width: auto;
  }

  &__addon {
    @include fd-reset();
    @include fd-flex-center();
    @include fd-ellipsis();

    color: var(--sapContent_NonInteractiveIconColor);
    background-color: var(--sapField_Background);
    font-size: var(--sapFontLargeSize);
    min-width: 2.25rem;
    min-height: $fd-form-input-height;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    span[class*='sap-icon--'] {
      &::before {
        font-size: var(--sapFontLargeSize);
      }
    }

    &--compact {
      min-width: 2rem;
      min-height: $fd-form-input-height--compact;
    }

    &--readonly {
      opacity: 0.4;
    }

    &--button {
      padding: 0;
      display: flex;
      flex-direction: column;
      border: none;
      border-radius: $fd-input-group-add-on-border;

      .#{$block}__button {
        @include fd-reset-child-spacing();

        border-radius: 0;
        height: 100%;
        max-height: 100%;
      }

      > * {
        border-radius: 0;
      }

      &:first-child {
        border-radius: $fd-input-group-add-on-border 0 0 $fd-input-group-add-on-border;
      }

      &:last-child {
        border-radius: 0 $fd-input-group-add-on-border $fd-input-group-add-on-border 0;
      }

      &:not(:first-child):not(:last-child) {
        .#{$block}__button {
          border-radius: 0;
        }
      }

      @include fd-rtl() {
        &:first-child {
          border-radius: 0 $fd-input-group-add-on-border $fd-input-group-add-on-border 0;
          margin-right: 0;
        }

        &:last-child {
          border-radius: $fd-input-group-add-on-border 0 0 $fd-input-group-add-on-border;
          margin-left: 0;
        }
      }
    }
  }

  &__button {
    @include fd-ellipsis();

    border: none;
    width: 100%;
  }

  &--control {
    .#{$block}__button {
      &.is-expanded {
        background-color: $fd-input-group-button-active-background;
        color: $fd-input-group-button-active-text-color;

        @include fd-fiori-focus() {
          outline-color: $fd-input-group-button-active-focus-color;
        }
      }
    }
  }

  .#{$fd-namespace}-textarea {
    resize: vertical;
  }
}
