@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-input
*/
$block: #{$fd-namespace}-input;

.#{$block} {
  @include fd-form-text();

  min-width: 2.75rem;
  height: 2.25rem;
  margin-top: 0.25rem;
  padding: 0 0.625rem;
  margin-bottom: 0;

  &:last-child {
    margin-bottom: 0.25rem;
  }

  &::placeholder {
    @include fd-reset();

    font-style: italic;
    color: var(--sapField_PlaceholderTextColor);
  }

  &--compact {
    min-width: 2rem;
    height: 1.625rem;
    margin-top: 0.1875rem;
    margin-bottom: 0.1875rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
  }

  &--no-number-spinner {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    -moz-appearance: textfield;
  }
}
