@import "./mixins";

/*!
.fd-col
*/

$block: #{$fd-namespace}-col;
$blockContainer: #{$fd-namespace}-container;
$blockRow: #{$fd-namespace}-row;
$size: (12: "l", 16: "xl");
$col-until-xl: 12;
$col-xl: 16;

.#{$blockContainer} {
  @include fd-reset();

  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  position: relative;
  margin: 0 -0.25rem;

  &--no-gap {
    margin: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  .#{$blockRow} {
    margin-left: 0;
    margin-right: 0;
  }
}

.#{$blockRow} {
  @include fd-reset();

  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  position: relative;
  margin: 0 -0.25rem 0.5rem -0.25rem;
  min-width: 100%;

  &--inner-flex {
    display: flex;
  }

  .#{$block} {
    .#{$blockRow} + .#{$blockRow} {
      margin-top: 0.5rem;
    }
  }
}

.#{$block} {
  @include fd-reset();

  padding: 0 0.25rem;
  min-width: 100%;
  max-width: 100%;

  @for $n from 1 through $col-until-xl {
    &--#{$n} {
      min-width: ( ( $n / $col-until-xl ) *100%);
      max-width: ( ( $n / $col-until-xl ) *100%);
    }
  }

  @for $n from 1 through $col-until-xl {
    &--offset-#{$n} {
      margin-left: ( ( $n / $col-until-xl ) *100%);
    }
  }

  &--no-gap {
    padding: 0;
  }

  .#{$blockRow} {
    margin: -0.25rem 0;
  }
}

@media (min-width: 600px) {
  .#{$blockContainer} {
    margin: 0 -0.5rem;

    .#{$blockRow} {
      margin-left: 0;
      margin-right: 0;
    }

    &--no-gap {
      margin: 0;
    }
  }

  .#{$blockRow} {
    margin-bottom: 1rem;

    .#{$block} {
      .#{$blockRow} + .#{$blockRow} {
        margin-top: 1rem;
      }
    }
  }

  .#{$block} {
    padding: 0 0.5rem;

    @for $n from 1 through $col-until-xl {
      &--#{$n}--m {
        min-width: ( ( $n / $col-until-xl ) *100%);
        max-width: ( ( $n / $col-until-xl ) *100%);
      }
    }

    &--no-gap {
      padding: 0;
    }

    .#{$blockRow} {
      margin: 0 -0.5rem;
    }
  }
}

@media (min-width: 1024px) {
  .#{$block} {
    @for $n from 1 through $col-until-xl {
      &--#{$n}--#{map-get($size,$col-until-xl)} {
        min-width: ( ( $n / $col-until-xl ) *100%);
        max-width: ( ( $n / $col-until-xl ) *100%);
      }
    }
  }
}

@media (min-width: 1440px) {
  .#{$block} {
    @for $n from 1 through 16 {
      &--#{$n}--#{map-get($size,$col-xl)} {
        min-width: ( ( $n / $col-xl ) *100%);
        max-width: ( ( $n / $col-xl ) *100%);
      }
    }
  }
}
