@import './new-settings';
@import './mixins';

/*!
.fd-grid-list
*/
$block: #{$fd-namespace}-grid-list;

.#{$block} {
  $item: #{$block}__item;
  $more: #{$block}__more;

  $fd-grid-list-selection-border-color: var(--sapList_SelectionBorderColor);
  $fd-grid-list-border-radius: var(--sapElement_BorderCornerRadius);
  $fd-grid-list-active-text-color: var(--sapList_Active_TextColor);
  $fd-grid-list-item-box-shadow: var(--sapContent_Shadow0);
  $fd-grid-list-mode-box-shadow: 0 0 0 0.125rem $fd-grid-list-selection-border-color;
  $fd-grid-list-item-selected-background-color: var(--sapList_SelectionBackgroundColor);
  $fd-grid-list-item-active-background-color: var(--sapList_Active_Background);
  $fd-grid-list-item-hover-background-color: var(--sapList_Hover_Background);
  $fd-grid-list-item-hover-box-shadow: 0 0 0 0.0625rem var(--fdGrid_List_Item_Hover_Border_Color);
  $fd-grid-list-highlight: (
    'positive': ('backgroundColor': var(--sapSuccessBorderColor)),
    'negative': ('backgroundColor': var(--sapErrorBorderColor)),
    'critical': ('backgroundColor': var(--sapWarningBorderColor)),
    'neutral': ('backgroundColor': var(--sapNeutralBorderColor))
  );

  @include fd-reset();
  @include fd-flex(column);

  display: block;

  &__item {
    @include fd-reset();
    @include fd-flex(column);

    @include fd-fiori-focus() {
      .#{$block}__highlight {
        width: 0.25rem;
        left: 0.1875rem;
        bottom: 0.1875rem;
        top: 0.1875rem;
      }
    }

    background-color: var(--sapList_Background);
    border-radius: $fd-grid-list-border-radius;
    box-shadow: $fd-grid-list-item-box-shadow;
    height: 100%;
    position: relative;
    overflow: hidden;

    .#{$block}__radio-input {
      height: 1rem;
      width: 1rem;

      @include fd-focus() {
        + .#{$block}__radio-label {
          outline-offset: 0;
          outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
        }
      }

      + .#{$block}__radio-label {
        @include fd-empty() {
          padding: 0;
        }

        &::after {
          top: 0;
          right: 0 !important;
          bottom: 0;
          left: 0;
          margin: auto !important;
        }
      }
    }

    .#{$block}__checkbox-input {
      height: 1rem;
      width: 1rem;

      @include fd-focus() {
        + .#{$block}__checkbox-label {
          outline-offset: 0;
        }
      }

      + .#{$block}__checkbox-label {
        @include fd-empty() {
          padding: 0;
        }
      }
    }

    .#{$block}__checkbox-label,
    .#{$block}__radio-label {
      display: none;
    }

    &--unread {
      .#{$item}-body * {
        font-weight: bold;
      }
    }

    &--link {
      cursor: pointer;

      @include fd-hover() {
        box-shadow: $fd-grid-list-item-hover-box-shadow;
        background-color: $fd-grid-list-item-hover-background-color;
      }

      @include fd-active() {
        background-color: $fd-grid-list-item-active-background-color !important;

        * {
          color: $fd-grid-list-active-text-color !important;
        }
      }

      @include fd-navigated() {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 0.1875rem;
          display: block;
          border-radius: 0 $fd-grid-list-border-radius $fd-grid-list-border-radius 0;
          background-color: $fd-grid-list-selection-border-color;
        }
      }
    }

    .#{$item}-toolbar {
      @include fd-flex-vertical-center();

      padding: 0 1rem;
    }
  }

  &__item-body {
    @include fd-reset();

    @include fd-flex(column) {
      justify-content: space-between;
    }

    height: 100%;
    padding: 1rem;

    &--no-padding {
      padding: 0;
    }
  }

  &__item-body-actions {
    margin-top: 1rem;
    order: 1;
  }

  &__item-counter {
    color: var(--sapContent_MarkerTextColor);
  }

  .#{$block}__group-header {
    @include fd-reset();
    @include fd-flex-vertical-center();
    @include fd-ellipsis();
    @include fd-fiori-focus();

    font-size: var(--sapFontHeader5Size);
    margin-top: 0.75rem;
    height: 2rem;
    color: var(--sapList_GroupHeaderTextColo);
    font-weight: bold;
    line-height: 2rem;

    &--no-margin {
      margin-top: 0;
    }
  }

  &--mode {
    &-single-select {
      .#{$item} {
        cursor: pointer;

        @include fd-hover() {
          &:not(.#{$item}--link, [aria-selected="true"], .is-selected) {
            box-shadow: $fd-grid-list-item-hover-box-shadow;
            background-color: $fd-grid-list-item-hover-background-color;
          }
        };

        .#{$block}__radio-input {
          width: 100%;
          height: 100%;
          z-index: -1;
        }
      }
    }

    &-single-select-right,
    &-single-select-left,
    &-multi-select {
      .#{$item} {
        .#{$block}__checkbox-label,
        .#{$block}__radio-label {
          @include fd-flex(column);

          align-self: inherit;
          color: var(--sapContent_LabelColor);
        }
      }
    }

    &-single-select,
    &-multi-select,
    &-single-select-left,
    &-single-select-right {
      .#{$item} {
        @include fd-selected() {
          box-shadow: $fd-grid-list-mode-box-shadow;
          background-color: $fd-grid-list-item-selected-background-color;

          &.#{$item}--link {
            @include fd-hover() {
              box-shadow: $fd-grid-list-mode-box-shadow;
              background-color: $fd-grid-list-item-selected-background-color;
            }

            @include fd-active() {
              background-color: $fd-grid-list-item-active-background-color;
            }
          }
        }
      }
    }

    &-single-select-right {
      .#{$block}__radio-input {
        right: 1rem;
      }

      .#{$block}__radio-label {
        order: 1;
        margin-left: 0.5rem !important;

        @include fd-rtl() {
          margin-right: 0.5rem !important;
          margin-left: 0 !important;
        }
      }
    }
  }

  &__filter {
    @include fd-fiori-focus();
  }

  &__filter,
  &__filter-button {
    color: var(--sapHighlightTextColor) !important;
  }

  &__filter-button {
    @include fd-hover() {
      color: var(--sapButton_TextColor) !important;
    }

    @include fd-active() {
      @include fd-hover() {
        color: var(--sapHighlightTextColor) !important;
      }
    }
  }

  &__more {
    @include fd-reset();
    @include fd-fiori-focus();

    cursor: pointer;
    padding: 0.813rem;
    background-color: var(--sapGroup_ContentBackground);
    border-radius: $fd-grid-list-border-radius;
    box-shadow: $fd-grid-list-item-box-shadow;
    text-align: center;

    .#{$more}-title {
      @include fd-reset();

      font-weight: bold;
    }

    &-description {
      @include fd-reset();

      margin: 0.813rem 0 0;
    }

    .#{$more}-title,
    &-description {
      color: var(--sapLink_Visited_Color);
    }

    @include fd-hover() {
      background-color: $fd-grid-list-item-hover-background-color;
    }

    &:active {
      background-color: $fd-grid-list-item-active-background-color;

      .#{$more}-title,
      .#{$more}-description {
        color: $fd-grid-list-active-text-color;
      }
    }
  }

  &__footer {
    @include fd-reset();
    @include fd-fiori-focus(0);

    color: var(--sapList_FooterTextColor);
  }

  @each $set-name, $colors in $fd-grid-list-highlight {
    &__highlight {
      @include fd-reset();

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 0.375rem;
      display: block;
      border-radius: $fd-grid-list-border-radius 0 0 $fd-grid-list-border-radius;

      @include fd-rtl() {
        right: 0;
      }

      &--#{$set-name} {
        background-color: map_get($colors, 'backgroundColor');
      }
    }
  }

  &__btn-navigation {
    @include fd-rtl() {
      transform: rotate(180deg);
    }
  }
}
