@import "./new-settings";
@import "./mixins";
@import "./functions";

/*!
.fd-list+(--compact)
    .fd-list+(__item, __title, __secondary, __icon, __group-header, __footer)
.fd-list--dropdown
    .fd-list+(__item, __title, __secondary, __message)+(--no-wrap)
.fd-list--multi-input
    .fd-list+(__item, __label, _input,  __title, __message, __footer)+(--no-wrap)
*/

$block: #{$fd-namespace}-list;

.#{$block} {
  $fd-list-horizontal-padding: 1rem;
  $fd-dropdown-vertical-padding: 0.75rem;
  $fd-dropdown-vertical-compact-padding: 0.5rem;
  $fd-checkbox-dimensions: 1.375rem;
  $fd-list-last-item-bottom-border-radius: var(--sapElement_BorderCornerRadius) !default;

  @include fd-reset();

  position: relative;
  list-style: none;
  width: 100%;

  &__item,
  &__group-header,
  &__footer {
    @include fd-reset();

    display: flex;
    align-items: center;
    padding: 0 $fd-list-horizontal-padding;
    height: 2.75rem;
  }

  &__item {
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);
    background: var(--sapList_Background);

    @include fd-hover() {
      background: var(--sapList_Hover_Background);
    }

    @include fd-fiori-focus();

    @include fd-selected() {
      background: var(--sapList_SelectionBackgroundColor);
      border-bottom: var(--sapList_BorderWidth) solid var(--sapList_SelectionBorderColor);

      @include fd-hover() {
        background: var(--sapList_Hover_SelectionBackground);
      }
    }

    @include fd-active() {
      background: var(--sapList_Active_Background);

      @include fd-hover() {
        background: var(--sapList_Active_Background);
      }

      @include fd-fiori-focus() {
        outline-color: var(--sapContent_ContrastFocusColor);
      }

      .#{$block}__title,
      .#{$block}__secondary,
      .#{$block}__icon,
      & {
        color: var(--sapList_Active_TextColor);
      }
    }

    &--no-data {
      .#{$block}__title {
        text-align: center;
      }

      @include fd-hover() {
        background: var(--sapList_Background);
      }
    }
  }

  &__title,
  &__secondary {
    @include fd-reset();

    line-height: 1rem;
    color: var(--sapList_TextColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title {
    flex: 3 3 10%;
    font-size: var(--sapFontLargeSize);

    &--anchor {
      pointer-events: none;

      &:focus {
        outline: none;
      }
    }
  }

  &__secondary {
    font-size: var(--sapFontSize);
    flex: 2 2 10%;
    text-align: right;
    padding-left: 1rem;

    @include fd-rtl() {
      text-align: left;
      padding-right: 1rem;
      padding-left: 0;
    }
  }

  &__icon {
    @include fd-reset();

    color: var(--sapList_TextColor);
    flex: 0 0 auto;
    width: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--sapFontHeader4Size);

    &:first-child {
      margin-left: -1rem;
    }

    &:last-child {
      margin-right: -1rem;
    }

    @include fd-rtl() {
      &:first-child {
        margin-right: -1rem;
        margin-left: 0;
      }

      &:last-child {
        margin-left: -1rem;
        margin-right: 0;
      }
    }
  }

  &__group-header {
    background: var(--sapList_GroupHeaderBackground);
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_GroupHeaderBorderColor);
    color: var(--sapList_GroupHeaderTextColor);
    align-items: flex-end;
    font-size: var(--sapFontSize);
    font-weight: bold;
    height: 2.75rem;
    line-height: 2rem;
  }

  &__footer {
    background: var(--sapList_FooterBackground);
    color: var(--sapList_FooterTextColor);
    font-size: var(--sapFontSize);
    height: 2rem;
  }

  &__bold {
    font-weight: bold;
  }

  &__message {
    @include fd-reset();

    position: absolute;
    line-height: 2rem;
    width: 100%;
    top: 0;
    left: 0;
    height: 2rem;
    padding-left: 1rem;
    font-size: var(--sapFontSmallSize);
    overflow: hidden;
    text-overflow: ellipsis;

    &--error {
      background-color: var(--sapErrorBackground);
    }

    &--warning {
      background-color: var(--sapWarningBackground);
    }

    &--success {
      background-color: var(--sapSuccessBackground);
    }

    &--information {
      background-color: var(--sapInformationBackground);
    }
  }

  &--compact {
    .#{$block}__item {
      height: 2rem;
    }

    .#{$block}__title {
      font-size: var(--sapFontSize);
    }

    .#{$block}__icon {
      font-size: var(--sapFontLargeSize);
    }
  }

  &--no-border {
    .#{$block}__item,
    .#{$block}__group-header {
      border-bottom: 0;
    }
  }

  &--has-message {
    padding-top: 2rem;
  }

  &--dropdown {
    .#{$block}__item {
      height: auto;
      padding: $fd-dropdown-vertical-padding $fd-list-horizontal-padding;
    }

    &.#{$block}--compact {
      .#{$block}__item {
        height: auto;
        padding: $fd-dropdown-vertical-compact-padding $fd-list-horizontal-padding;
      }
    }
  }

  &--multi-input {
    .#{$block}__item {
      padding: 0;
      height: auto;
    }

    .#{$block}__label {
      @include fd-reset();

      color: inherit;
      width: 100%;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 0;

      &::before {
        margin-left: 0;
        margin-top: (1rem - $fd-checkbox-dimensions) / 2;
        margin-bottom: (1rem - $fd-checkbox-dimensions) / 2;
      }
    }

    .#{$block}__input {
      @include fd-focus() {
        box-shadow: none;

        + .#{$block}__label {
          &::after {
            $fd-multi-input-focus-offset: 0.0625rem;

            top: $fd-multi-input-focus-offset;
            bottom: $fd-multi-input-focus-offset;
            left: $fd-multi-input-focus-offset;
            right: $fd-multi-input-focus-offset;
          }
        }
      }
    }

    .#{$block}__footer {
      height: auto;
      text-align: right;
      justify-content: flex-end;
      line-height: 1rem;
      background-color: var(--sapList_Background);
    }

    .#{$block}__footer,
    .#{$block}__label {
      padding: $fd-dropdown-vertical-padding $fd-list-horizontal-padding;
    }

    &.#{$block}--compact {
      .#{$block}__item {
        padding: 0;
        height: auto;
      }

      .#{$block}__label {
        &::before {
          margin-left: 0;
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .#{$block}__footer,
      .#{$block}__label {
        padding: $fd-dropdown-vertical-compact-padding $fd-list-horizontal-padding;
      }
    }
  }

  &--dropdown,
  &--multi-input {
    display: block;
    min-width: 5rem;
    max-width: 37.5rem;

    .#{$block}__item {
      cursor: pointer;
      border: none;

      @include fd-selected() {
        border-bottom: var(--sapList_BorderWidth) solid var(--sapList_SelectionBorderColor);
      }
    }

    .#{$block}__title,
    .#{$block}__secondary {
      font-size: var(--sapFontSize);
      white-space: normal;
      flex: auto;

      &--no-wrap {
        white-space: nowrap;
      }
    }

    .#{$block}__title {
      width: auto;
      max-width: 22.5rem;

      &:first-child:last-child {
        max-width: 37.5rem;
      }
    }

    .#{$block}__secondary {
      width: auto;
      max-width: 15rem;
    }

    .#{$block}__icon {
      line-height: 1rem;
    }
  }
}
