@import "./new-settings";
@import "./mixins";

/*!
.fd-list+(--compact)
    .fd-list+(__item, __title, __secondary, __icon, __group-header, __footer)
.fd-list--dropdown
    .fd-list+(__item, __title, __secondary, __message)+(--no-wrap)
.fd-list--multi-input
    .fd-list+(__item, __label, _input,  __title, __message, __footer)+(--no-wrap)
*/

$block: #{$fd-namespace}-list;
$form-item: #{$fd-namespace}-form-item;

$fd-list-item-padding-x: 1rem !default;
$fd-dropdown-vertical-padding: 0.75rem !default;
$fd-dropdown-vertical-compact-padding: 0.5rem !default;
$fd-checkbox-dimensions: 1.375rem !default;
$fd-list-last-item-bottom-border-radius: var(--sapElement_BorderCornerRadius) !default;
$fd-list-form-item-margin-x: -1rem !default;
$fd-list-large-font-size: var(--sapFontLargeSize) !default;
$fd-list-normal-font-size: var(--sapFontSize) !default;
$fd-list-message-padding-left: 0.5rem !default;
$fd-list-selected-state-border-bottom: var(--sapList_BorderWidth) solid var(--sapList_SelectionBorderColor);
$fd-list-item-border: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);

// STANDARD LIST WITH BYLINE
$fd-list-byline-thumbnail-dimensions: 3rem !default;
$fd-list-byline-thumbnail-border-radius: 0.25rem !default;
$fd-list-byline-thumbnail-spacing: 0.75rem !default;
$fd-list-byline-item-height: 5rem !default;
$fd-list-byline-text-line-height: 1rem !default;
$fd-list-byline-elements-spacing: 0.5rem !default;
$fd-list-byline-item-padding-x: 1rem !default;
$fd-list-byline-item-padding-y: 1rem !default;
$fd-list-byline-borderless-item-padding-y: 0.5rem !default;
$fd-list-byline-section-text-color: var(--sapContent_LabelColor) !default;
$fd-list-form-item-margin-top: -0.5rem !default;
$fd-list-byline-form-item-top-offset: 0.3125rem !default;
$fd-list-byline-form-item-compact-top-offset: 0.5rem !default;
$fd-list-byline-form-item-left-offset: 0.375rem !default;
$fd-list-byline-form-item-label-top-offset: 0.375rem !default;

// STANDARD LIST WITH NAVIGATION
$fd-list-navigation-indicator-width: 2.5rem !default;
$fd-list-navigation-navigator-bar-right: inset -0.1875rem 0 0 0 var(--sapSelectedColor);
$fd-list-navigation-navigator-bar-left: inset 0.1875rem 0 0 0 var(--sapSelectedColor);
$fd-list-navigation-indicator-width: 2.75rem !default;

// STANDARD LIST WITH SELECTION
$fd-list-selection-container-width: 2.75rem !default;
$fd-list-selection-container-compact-width: 2rem !default;

$semantic-color: (
  "neutral": ("color": var(--sapNeutralTextColor)),
  "positive": ("color": var(--sapPositiveTextColor)),
  "critical": ("color": var(--sapCriticalTextColor)),
  "negative": ("color": var(--sapNegativeTextColor)),
  "informative": ("color": var(--sapInformativeTextColor))
);

@mixin fake-list-outline() {
  &:focus,
  &.is-focus {
    outline: none;

    &::before {
      content: '';
      position: absolute;
      display: block;
      border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
      top: 0.125rem;
      left: 0.125rem;
      right: 0.125rem;
      bottom: 0.125rem;
    }

    @include fd-active() {
      &::before {
        border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_ContrastFocusColor);
      }
    }
  }
}

@mixin list-item-selected-state() {
  background: var(--sapList_SelectionBackgroundColor);
  border-bottom: $fd-list-selected-state-border-bottom;

  @include fd-hover() {
    background: var(--sapList_Hover_SelectionBackground);
  }
}

@mixin list-item-states() {
  @include fd-hover() {
    background: var(--sapList_Hover_Background);
  }

  @include fd-selected() {
    @include list-item-selected-state();
  }

  @include fd-active() {
    background: var(--sapList_Active_Background);

    @include fd-hover() {
      background: var(--sapList_Active_Background);
    }

    @include fd-selected() {
      background: var(--sapList_Active_Background);

      @include fd-hover() {
        background: var(--sapList_Active_Background);
      }
    }

    .#{$block}__title,
    .#{$block}__secondary,
    .#{$block}__icon,
    .#{$block}__content,
    .#{$block}__byline,
    .#{$block}__byline-left,
    .#{$block}__byline-right,
    .#{$block}__thumbnail,
    &.#{$block}__link--navigation-indicator::after,
    & {
      color: var(--sapList_Active_TextColor);
    }

    @each $set-name, $color-set in $semantic-color {
      .#{$block}__byline-right--#{$set-name} {
        color: var(--sapList_Active_TextColor);
      }
    }
  }
}

@mixin ie11-active-state-fix() {
  // :active selector has issues in IE11 when there are nested elements.
  // The solution is to remove the pointer events from the nested elements.
  pointer-events: none;
}

@mixin padding-left-right($left, $right) {
  padding-left: $left;
  padding-right: $right;

  @include fd-rtl() {
    padding-left: $right;
    padding-right: $left;
  }
}

@mixin padding-top-bottom($padding-y) {
  padding-top: $padding-y;
  padding-bottom: $padding-y;
}

@mixin reset-list-item-paddings() {
  .#{$block}__item--link {
    padding: 0;
  }
}

@mixin navigation-byline-borderless() {
  .#{$block}__item--link {
    .#{$block}__link {
      @include padding-top-bottom(0.5rem);
    }
  }

  .#{$block}__item--link:first-child {
    padding-top: 0;
    .#{$block}__link {
      padding-top: 1rem;
    }

    .#{$block}__link--navigation-indicator::after {
      margin-bottom: 0.5rem;
    }
  }

  .#{$block}__item--link:last-child {
    padding-bottom: 0;
    .#{$block}__link {
      padding-bottom: 1rem;
    }

    .#{$block}__link--navigation-indicator::after {
      margin-top: 0.25rem;
    }
  }
}

.#{$block} {
  @include fd-reset();

  position: relative;
  list-style: none;
  width: 100%;

  &__item,
  &__group-header,
  &__footer {
    @include fd-reset();

    display: flex;
    align-items: center;
    padding: 0 $fd-list-item-padding-x;
    height: 2.75rem;
  }

  &__item {
    @include fake-list-outline();

    border-bottom: $fd-list-item-border;
    background: var(--sapList_Background);
    position: relative;

    &--no-data {
      .#{$block}__title {
        text-align: center;
      }
    }

    &--action {
      padding: 0;
      text-align: center;

      &:first-child {
        border-top: $fd-list-item-border;
      }

      .#{$block}__title {
        @include list-item-states();

        padding: 0 $fd-list-item-padding-x;
        height: 100%;
        width: 100%;
        background: transparent;
        color: var(--sapButton_TextColor);
        pointer-events: all;
        cursor: pointer;

        @include fd-focus() {
          outline-style: dotted;
          outline-width: var(--sapContent_FocusWidth);
          outline-color: var(--sapContent_FocusColor);
          outline-offset: -0.125rem;

          @include fd-active() {
            outline-color: var(--sapContent_ContrastFocusColor);
          }
        }

        &::-moz-focus-inner {
          border: 0;
        }
      }
    }
  }

  &__title,
  &__secondary {
    @include fd-reset();
    @include fd-ellipsis();
    @include ie11-active-state-fix();

    line-height: 1rem;
    color: var(--sapList_TextColor);
  }

  &__title {
    flex: 3 3 10%;
    font-size: $fd-list-large-font-size;

    &:last-child:first-child {
      flex-basis: auto;
    }
  }

  &__secondary {
    font-size: $fd-list-normal-font-size;
    flex: 2 2 10%;
    text-align: right;
    padding-left: 1rem;

    @include fd-rtl() {
      text-align: left;
      padding-right: 1rem;
      padding-left: 0;
    }
  }

  &__icon {
    @include fd-reset();
    @include ie11-active-state-fix();

    color: var(--sapList_TextColor);
    flex: 0 0 auto;
    width: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--sapFontHeader4Size);

    &:first-child {
      margin-left: -1rem;
    }

    &:last-child {
      margin-right: -1rem;
    }

    @include fd-rtl() {
      &:first-child {
        margin-right: -1rem;
        margin-left: 0;
      }

      &:last-child {
        margin-left: -1rem;
        margin-right: 0;
      }
    }
  }

  &__link {
    @include fd-reset();
    @include fake-list-outline();
    @include list-item-states();

    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 $fd-list-item-padding-x;
    cursor: pointer;
  }

  &__group-header {
    background: var(--sapList_GroupHeaderBackground);
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_GroupHeaderBorderColor);
    color: var(--sapList_GroupHeaderTextColor);
    align-items: flex-end;
    font-size: $fd-list-normal-font-size;
    font-weight: bold;
    height: 2.75rem;
    line-height: 2rem;
  }

  &__footer {
    background: var(--sapList_FooterBackground);
    color: var(--sapList_FooterTextColor);
    font-size: $fd-list-normal-font-size;
    height: 2rem;
  }

  &__bold {
    font-weight: bold;
  }

  &__message {
    @include fd-reset();

    position: absolute;
    line-height: 2rem;
    width: 100%;
    top: 0;
    left: 0;
    height: 2rem;
    padding-left: $fd-list-message-padding-left;
    font-size: var(--sapFontSmallSize);
    overflow: hidden;
    text-overflow: ellipsis;

    @include fd-rtl() {
      padding-left: 0;
      padding-right: $fd-list-message-padding-left;
    }

    &--error {
      background-color: var(--sapErrorBackground);
    }

    &--warning {
      background-color: var(--sapWarningBackground);
    }

    &--success {
      background-color: var(--sapSuccessBackground);
    }

    &--information {
      background-color: var(--sapInformationBackground);
    }
  }

  &--compact {
    .#{$block}__item {
      height: 2rem;
    }

    .#{$block}__title {
      font-size: $fd-list-normal-font-size;
    }

    .#{$block}__icon {
      font-size: $fd-list-large-font-size;
    }
  }

  &--no-border {
    .#{$block}__item,
    .#{$block}__group-header {
      border-bottom: 0;
      border-top: 0;
    }

    .#{$block}__item {
      @include fd-selected() {
        border-bottom: $fd-list-selected-state-border-bottom;
      }
    }
  }

  &--has-message {
    padding-top: 2rem;
  }

  &--dropdown {
    .#{$block}__item {
      @include list-item-states();

      height: auto;
      padding: $fd-dropdown-vertical-padding $fd-list-item-padding-x;
    }

    &.#{$block}--compact {
      .#{$block}__item {
        height: auto;
        padding: $fd-dropdown-vertical-compact-padding $fd-list-item-padding-x;
      }
    }
  }

  &--multi-input {
    .#{$block}__item {
      @include list-item-states();

      padding: 0;
      height: auto;
    }

    .#{$block}__label {
      @include fd-reset();

      color: inherit;
      width: 100%;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 0;

      &::before {
        margin-top: (1rem - $fd-checkbox-dimensions) / 2;
        margin-bottom: (1rem - $fd-checkbox-dimensions) / 2;
      }
    }

    .#{$block}__input {
      @include fd-focus() {
        box-shadow: none;

        + .#{$block}__label {
          &::after {
            $fd-multi-input-focus-offset: 0.0625rem;

            top: $fd-multi-input-focus-offset;
            bottom: $fd-multi-input-focus-offset;
            left: $fd-multi-input-focus-offset;
            right: $fd-multi-input-focus-offset;
          }
        }
      }
    }

    .#{$block}__footer {
      height: auto;
      text-align: right;
      justify-content: flex-end;
      line-height: 1rem;
      background-color: var(--sapList_Background);
    }

    .#{$block}__footer,
    .#{$block}__label {
      padding: $fd-dropdown-vertical-padding $fd-list-item-padding-x;
    }

    &.#{$block}--compact {
      .#{$block}__item {
        padding: 0;
        height: auto;
      }

      .#{$block}__label {
        &::before {
          margin-left: 0;
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .#{$block}__footer,
      .#{$block}__label {
        padding: $fd-dropdown-vertical-compact-padding $fd-list-item-padding-x;
      }
    }
  }

  &--dropdown,
  &--multi-input {
    display: block;
    min-width: 5rem;
    max-width: 37.5rem;

    .#{$block}__item {
      cursor: pointer;
      border: none;

      @include fd-selected() {
        border-bottom: $fd-list-selected-state-border-bottom;
      }
    }

    .#{$block}__title,
    .#{$block}__secondary {
      font-size: $fd-list-normal-font-size;
      white-space: normal;
      flex: auto;

      &--no-wrap {
        white-space: nowrap;
      }
    }

    .#{$block}__title {
      width: auto;
      max-width: 22.5rem;

      &:first-child:last-child {
        max-width: 37.5rem;
      }
    }

    .#{$block}__secondary {
      width: auto;
      max-width: 15rem;
    }

    .#{$block}__icon {
      line-height: 1rem;
    }

    > * {
      &:last-child {
        border-bottom-left-radius: $fd-list-last-item-bottom-border-radius;
        border-bottom-right-radius: $fd-list-last-item-bottom-border-radius;
      }
    }
  }

  // Standard List with Byline
  &--byline {
    .#{$block}__item {
      width: 100%;
      height: $fd-list-byline-item-height;
      padding: $fd-list-byline-item-padding-y $fd-list-byline-item-padding-x;
      align-items: flex-start;
    }

    .#{$block}__thumbnail {
      @include fd-reset();
      @include fd-flex-center();
      @include ie11-active-state-fix();

      width: $fd-list-byline-thumbnail-dimensions;
      height: $fd-list-byline-thumbnail-dimensions;
      min-width: $fd-list-byline-thumbnail-dimensions;
      max-width: $fd-list-byline-thumbnail-dimensions;
      min-height: $fd-list-byline-thumbnail-dimensions;
      max-height: $fd-list-byline-thumbnail-dimensions;
      border-radius: $fd-list-byline-thumbnail-border-radius;
      margin-right: $fd-list-byline-thumbnail-spacing;
      font-size: 2.5rem;
      color: var(--sapContent_NonInteractiveIconColor);

      @include fd-rtl() {
        margin-right: 0;
        margin-left: $fd-list-byline-thumbnail-spacing;
      }
    }

    .#{$block}__content {
      @include fd-reset();
      @include ie11-active-state-fix();

      @include fd-flex(column) {
        align-content: space-between;
      }

      min-height: $fd-list-byline-thumbnail-dimensions;
      min-width: $fd-list-byline-thumbnail-dimensions;
      height: 100%;
      width: 100%;
      padding: 0.125rem 0;
    }

    .#{$block}__title {
      font-size: $fd-list-large-font-size;
    }

    .#{$block}__byline {
      @include fd-reset();
      @include fd-ellipsis();

      font-size: $fd-list-normal-font-size;
      color: $fd-list-byline-section-text-color;
      line-height: $fd-list-byline-text-line-height;

      &--2-col {
        display: flex;
      }
    }

    .#{$block}__byline-left {
      @include fd-reset();
      @include fd-ellipsis();

      width: 60%;
      color: $fd-list-byline-section-text-color;
      padding-right: $fd-list-byline-elements-spacing;
      line-height: $fd-list-byline-text-line-height;

      @include fd-rtl() {
        padding-left: $fd-list-byline-elements-spacing;
        padding-right: 0;
      }
    }

    .#{$block}__byline-right {
      @include fd-reset();
      @include fd-ellipsis();

      width: 40%;
      color: $fd-list-byline-section-text-color;
      padding-left: $fd-list-byline-elements-spacing;
      line-height: $fd-list-byline-text-line-height;

      @include fd-rtl() {
        padding-left: 0;
        padding-right: $fd-list-byline-elements-spacing;
      }

      @each $set-name, $color-set in $semantic-color {
        &--#{$set-name} {
          color: map_get($color-set, "color");
        }
      }
    }

    &.#{$block}--compact {
      .#{$block}__title {
        font-size: $fd-list-normal-font-size;
      }
    }

    &.#{$block}--no-border {
      .#{$block}__item {
        padding: $fd-list-byline-borderless-item-padding-y $fd-list-byline-item-padding-x;
        max-height: $fd-list-byline-item-height;
        height: 100%;
      }

      .#{$block}__item:first-child {
        padding-top: $fd-list-byline-item-padding-y;
      }

      .#{$block}__item:last-child {
        padding-bottom: $fd-list-byline-item-padding-y;
      }
    }
  }

  // NAVIGATION INDICATION
  &--navigation-indication {

    .#{$block}__item {
      &::after {
        min-width: $fd-list-navigation-indicator-width - 1rem;
        content: '';
      }
    }

    .#{$block}__item.#{$block}__item--link {
      &::after {
        content: none;
      }

      padding-right: 0;

      @include fd-rtl() {
        padding-left: 0;
        padding-right: initial;
      }
    }

    .#{$block}__link {
      &::after {
        min-width: $fd-list-navigation-indicator-width;
        content: '';
      }

      &--navigation-indicator {
        &::after {
          @include fd-flex-center();

          height: 100%;
          font-family: "SAP-icons";
          content: '\e1ed';
          color: var(--sapContent_NonInteractiveIconColor);
          font-size: var(--sapFontSmallSize);
          text-decoration: none;
          text-transform: none;
        }

        @include fd-rtl() {
          &::after {
            content: '\e1ee';
          }
        }
      }
    }

    .#{$block}__icon {
      &:last-child {
        margin: 0;
      }

      @include fd-rtl() {
        &:last-child {
          margin: 0;
        }
      }
    }

    .is-navigated {
      box-shadow: $fd-list-navigation-navigator-bar-right;

      @include fd-rtl() {
        box-shadow: $fd-list-navigation-navigator-bar-left;
      }
    }
  }

  // SELECTION
  &--selection {
    .#{$block}__item {
      @include padding-left-right($fd-list-selection-container-width, $fd-list-item-padding-x);

      @include fd-hover() {
        background: var(--sapList_Hover_Background);
      }

      @include fd-selected() {
        @include list-item-selected-state();
      }

      cursor: pointer;
    }

    .#{$block}__form-item {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;

      @include fd-rtl() {
        left: initial;
        right: 0;
      }
    }

    // SELECTION + Compact
    &.#{$block}--compact {
      .#{$block}__item {
        @include padding-left-right($fd-list-selection-container-compact-width, $fd-list-item-padding-x);
      }
    }

    // SELECTION + Byline
    &.#{$block}--byline {
      .#{$block}__item {
        @include padding-left-right($fd-list-selection-container-width, $fd-list-byline-item-padding-x);
      }

      .#{$block}__form-item {
        top: $fd-list-byline-form-item-top-offset;
      }
    }

    // SELECTION + BYLINE + Compact
    &.#{$block}--byline.#{$block}--compact {
      .#{$block}__item {
        @include padding-left-right($fd-list-selection-container-width, $fd-list-byline-item-padding-x);
      }

      .#{$block}__form-item {
        top: $fd-list-byline-form-item-compact-top-offset;
        left: $fd-list-byline-form-item-left-offset;

        @include fd-rtl() {
          left: initial;
          right: $fd-list-byline-form-item-left-offset;
        }
      }
    }

    // SELECTION + BYLINE + Borderless
    &.#{$block}--byline.#{$block}--no-border {
      .#{$block}__item {
        @include padding-left-right($fd-list-selection-container-width, $fd-list-byline-item-padding-x);
        @include padding-top-bottom($fd-list-byline-borderless-item-padding-y);

        &:first-child {
          padding-top: $fd-list-byline-item-padding-y;
        }

        &:last-child {
          padding-bottom: $fd-list-byline-item-padding-y;
        }
      }

      .#{$block}__item:not(:first-child) {
        .#{$block}__form-item,
        .#{$block}__form-item.#{$form-item} {
          top: 0;

          label {
            padding-top: $fd-list-byline-borderless-item-padding-y;

            &::after {
              top: $fd-list-byline-form-item-label-top-offset;
            }
          }
        }
      }
    }
  }

  &--navigation {
    @include reset-list-item-paddings();

    .#{$block}__link {
      @include padding-left-right($fd-list-item-padding-x, $fd-list-item-padding-x);
    }

    // NAVIGATION + Navigation Indication
    &.#{$block}--navigation-indication {
      .#{$block}__link {
        @include padding-left-right($fd-list-item-padding-x, 0);
      }
    }

    // NAVIGATION + Selection
    &.#{$block}--selection {
      @include reset-list-item-paddings();

      .#{$block}__link {
        @include padding-left-right($fd-list-selection-container-width, $fd-list-item-padding-x);
      }
    }

    // NAVIGATION + SELECTION + Compact
    &.#{$block}--selection.#{$block}--compact {
      .#{$block}__link {
        @include padding-left-right($fd-list-selection-container-compact-width, $fd-list-item-padding-x);
      }
    }

    // NAVIGATION + SELECTION + Navigation Indication
    &.#{$block}--selection.#{$block}--navigation-indication {
      @include reset-list-item-paddings();

      .#{$block}__link {
        @include padding-left-right($fd-list-selection-container-width, 0);
      }
    }

    // NAVIGATION + SELECTION + NAVIGATION INDICATION + Compact
    &.#{$block}--selection.#{$block}--navigation-indication.#{$block}--compact {
      .#{$block}__link {
        @include padding-left-right($fd-list-selection-container-compact-width, 0);
      }
    }

    // NAVIGATION + Byline
    &.#{$block}--byline,
    &.#{$block}--byline.#{$block}--compact {
      @include reset-list-item-paddings();

      .#{$block}__link {
        @include padding-left-right($fd-list-byline-item-padding-x, $fd-list-byline-item-padding-x);
        @include padding-top-bottom(1rem);
      }
    }

    // NAVIGATION + BYLINE + Navigation Indication
    &.#{$block}--byline.#{$block}--navigation-indication {
      .#{$block}__link {
        @include padding-left-right($fd-list-item-padding-x, 0);
      }
    }

    // NAVIGATION + BYLINE + Borderless
    &.#{$block}--byline.#{$block}--no-border {
      @include navigation-byline-borderless();
    }

    // NAVIGATION + BYLINE + Selection
    &.#{$block}--byline.#{$block}--selection {
      @include reset-list-item-paddings();

      .#{$block}__link {
        @include padding-left-right($fd-list-selection-container-width, $fd-list-byline-item-padding-x);
      }
    }

    // NAVIGATION + BYLINE + SELECTION + Compact
    &.#{$block}--byline.#{$block}--selection.#{$block}--compact {
      @include reset-list-item-paddings();

      .#{$block}__link {
        @include padding-left-right($fd-list-selection-container-width, $fd-list-byline-item-padding-x);
      }
    }

    // NAVIGATION + BYLINE + SELECTION + Borderless
    &.#{$block}--byline.#{$block}--selection.#{$block}--no-border {
      @include reset-list-item-paddings();
      @include navigation-byline-borderless();
    }

    // NAVIGATION + BYLINE + SELECTION + Navigation Indication
    &.#{$block}--byline.#{$block}--selection.#{$block}--navigation-indication {
      @include reset-list-item-paddings();

      .#{$block}__link {
        @include padding-left-right($fd-list-selection-container-width, 0);
      }
    }

    // NAVIGATION + BYLINE + SELECTION + NAVIGATION INDICATION + Compact
    &.#{$block}--byline.#{$block}--selection.#{$block}--navigation-indication.#{$block}--compact {
      .#{$block}__link {
        @include padding-left-right($fd-list-selection-container-width, 0);
      }
    }

    // NAVIGATION + BYLINE + SELECTION + NAVIGATION INDICATION + Borderless
    &.#{$block}--byline.#{$block}--selection.#{$block}--navigation-indication.#{$block}--no-border {
      @include navigation-byline-borderless();
    }
  }
}
