@import "./settings";
@import "./mixins";
@import "./functions";

$block: #{$fd-namespace}-localization-editor;

.#{$block} {
    &__language {
        @include fd-reset();
        padding: fd-space(2);
    }
}
