@import "./settings";
@import "./mixins";
@import "./functions";

$block: #{$fd-namespace}-menu;

.#{$block} {
  // Menu
  $fd-menu-border-radius: var(--sapElement_BorderCornerRadius) !default;

  // Menu Item
  $fd-menu-item-color-active: var(--sapList_Active_TextColor) !default;

  // Menu Link
  $fd-menu-icon-width: 2.25rem !default; // to account for item right padding of 16px or 1rem so 2.25rem-1rem = 1.25rem
  $fd-menu-icon-width-compact: 2rem !default;
  $fd-menu-icon-width-mobile: 2.75rem !default;
  $fd-menu-icon-after-margin: 0 -1rem 0 0 !default;
  $fd-menu-icon-before-margin: 0 0 0 -0.75rem !default;
  $fd-menu-icon-before-margin-compact: 0 0 0 -0.5rem !default;
  $fd-menu-icon-after-margin-compact: 0 -0.75rem 0 0 !default;
  $fd-menu-icon-before-margin-mobile: 0 0 0 -1rem !default;
  $fd-menu-icon-after-margin-mobile: 0 -1rem 0 0 !default;

  // Menu Title
  $fd-menu-title-font-family: var(--sapFontFamily) !default;

  // Menu Icon
  $fd-menu-icon-color: var(--sapContent_NonInteractiveIconColor) !default;

  @mixin selected-menu-item() {
    border-bottom: 0.0625rem solid var(--sapList_SelectionBorderColor);
    background-color: var(--sapList_SelectionBackgroundColor);

    .#{$block}__shortcut,
    .#{$block}__addon-before,
    .#{$block}__addon-after {
      color: $fd-menu-icon-color;
    }

    @include fd-hover() {
      &:not(:active):not(.is-active) {
        background-color: var(--sapList_Hover_SelectionBackground);
      }
    }
  }

  // BLOCK BASE *******************************************
  @include fd-reset();

  width: 100%;
  max-width: 20rem;

  &__list,
  &__sublist {
    @include fd-reset();

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    box-shadow: var(--sapContent_Shadow1);
    border-radius: $fd-menu-border-radius;

    &--no-shadow {
      box-shadow: none;
    }
  }

  &__sublist {
    @include fd-reset();

    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
    margin: 0.25rem 0 0 -0.25rem;
    width: 100%; // to fix IE issue

    @include fd-rtl() {
      right: 100%;
      left: initial;
      margin: 0.25rem -0.25rem 0 0;
    }

    &[aria-hidden='true'] {
      display: none;
    }
  }

  &__list > li {
    position: relative;
    width: 100%;
  }

  &__separator {
    @include fd-reset();

    width: 100%;
    height: 0.0625rem;
    background-color: var(--sapGroup_ContentBorderColor);
  }

  &__item {
    @include fd-reset();

    position: relative;
    border-radius: 0;
    background-color: var(--sapList_Background);

    &:first-child {
      border-top-right-radius: $fd-menu-border-radius;
      border-top-left-radius: $fd-menu-border-radius;
    }

    &:last-child {
      border-bottom-right-radius: $fd-menu-border-radius;
      border-bottom-left-radius: $fd-menu-border-radius;
    }
  }

  &__link {
    @include fd-reset();
    @include action-cursor();
    @include fd-fiori-focus();

    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: inherit;
    height: 2.75rem;
    padding: 0.75rem 1rem 0.75rem 0.75rem; // line-height=20px so 2.75rem or 44px-20px=24px/2= 12px or 0.75rem each;

    @include fd-hover() {
      background-color: var(--sapList_Hover_Background);
    }

    @include fd-selected() {
      @include selected-menu-item();
    }

    @include fd-active() {
      color: $fd-menu-item-color-active;
      background-color: var(--sapList_Active_Background);

      .#{$block}__title {
        color: $fd-menu-item-color-active;
      }

      .#{$block}__shortcut,
      .#{$block}__addon-before,
      .#{$block}__addon-after {
        color: var(--sapList_Active_TextColor);
      }
    }

    @include fd-disabled() {
      pointer-events: none;
      opacity: var(--sapContent_DisabledOpacity);
    }

    &.has-child.is-expanded,
    &.has-child[aria-expanded="true"] {
      &:not(:active):not(.is-active) {
        @include selected-menu-item();
      }
    }
  }

  &__title {
    @include fd-reset();
    @include fd-ellipsis();

    width: 100%;
    color: var(--sapList_TextColor);
    font-size: var(--sapFontSize);
    font-family: $fd-menu-title-font-family;
  }

  &__addon-before,
  &__addon-after {
    @include fd-reset();
    @include fd-flex-center();

    color: $fd-menu-icon-color;
    width: $fd-menu-icon-width;
    min-width: $fd-menu-icon-width;
    height: 1.25rem; // to account for item top padding of 12px or 0.75rem so 2.75rem-0.75rem-0.75rem = 1.25rem;
    font-size: var(--sapFontLargeSize);
    background-color: transparent;
  }

  &__addon-before {
    margin: $fd-menu-icon-before-margin;

    @include fd-rtl() {
      margin: $fd-menu-icon-after-margin;
    }
  }

  &__addon-after {
    flex: 0 0 auto;
    margin: $fd-menu-icon-after-margin;

    @include fd-rtl() {
      margin: $fd-menu-icon-before-margin;
    }

    &--submenu {
      @include fd-icon("navigation-right-arrow", "s");

      font-size: var(--sapFontSmallSize);

      @include fd-rtl() {
        @include fd-icon("navigation-left-arrow", "s");
      }
    }
  }

  &__shortcut {
    @include fd-reset();
    @include fd-ellipsis();

    display: flex;
    flex-shrink: 0;
    font-weight: normal;
    font-family: $fd-menu-title-font-family;
    color: var(--sapContent_NonInteractiveIconColor);
    font-size: var(--sapFontSize);
    padding-left: 1rem;
  }

  &--full-width {
    max-width: 100%;
  }

  &--compact {
    .#{$block}__link {
      padding: 0.375rem 0.75rem; // line-height=20px so 2rem or 32px-20px=12px/2= 6px or 0.375rem each;
      height: 2rem;

      .#{$block}__addon-before,
      .#{$block}__addon-after {
        min-width: $fd-menu-icon-width-compact;
        width: $fd-menu-icon-width-compact;
      }

      .#{$block}__addon-before {
        margin: $fd-menu-icon-before-margin-compact;
      }

      .#{$block}__addon-after {
        margin: $fd-menu-icon-after-margin-compact;
      }

      @include fd-rtl() {
        .#{$block}__addon-before {
          margin: $fd-menu-icon-after-margin-compact;
        }

        .#{$block}__addon-after {
          margin: $fd-menu-icon-before-margin-compact;
        }
      }
    }
  }

  &--mobile {
    max-width: 100%;

    .#{$block}__list,
    .#{$block}__sublist {
      border-radius: 0;
      box-shadow: none;
      position: static;

      .#{$block}__item {
        border-radius: 0;
      }

      .#{$block}__link {
        padding: 0.75rem 1rem; // line-height=20px so 2.75rem or 44px-20px=24px/2= 12px or 0.75rem each;
      }

      .#{$block}__addon-before,
      .#{$block}__addon-after {
        min-width: $fd-menu-icon-width-mobile;
        width: $fd-menu-icon-width-mobile;
      }

      .#{$block}__addon-before {
        margin: $fd-menu-icon-before-margin-mobile;
      }

      .#{$block}__addon-after {
        margin: $fd-menu-icon-after-margin-mobile;
      }

      @include fd-rtl() {
        .#{$block}__addon-before {
          margin: $fd-menu-icon-after-margin-mobile;
        }

        .#{$block}__addon-after {
          margin: $fd-menu-icon-before-margin-mobile;
        }
      }
    }
  }
}
