@import "./settings";
@import "./mixins";
@import "./functions";

$block: #{$fd-namespace}-menu;

.#{$block} {
  // LOCAL VARS (set all themeable properties, always include !default)
  // items
  $fd-menu-item-color: var(--sapList_TextColor) !default;
  $fd-menu-item-color--active: var(--sapList_Active_TextColor) !default;

  $fd-menu-item-background-color: var(--sapList_Background) !default;
  $fd-menu-item-background-color--hover: var(--sapList_Hover_Background) !default;
  $fd-menu-item-background-color--active: var(--sapList_Active_Background) !default;
  $fd-menu-item-background-color--selected: var(--sapList_SelectionBackgroundColor) !default;
  $fd-menu-item-background-color--selected-hover: var(--sapList_Hover_SelectionBackground) !default;

  $fd-menu-item-separator-color: var(--sapGroup_ContentBorderColor) !default;

  $fd-menu-primary-icon-color: var(--sapContent_NonInteractiveIconColor) !default;
  $fd-menu-primary-icon-color-active-selected: var(--sapList_Active_TextColor) !default;

  // BLOCK BASE *******************************************
  // set all BLOCK reset and baseline styles
  @include fd-reset();

  width: 100%;
  max-width: 20rem;

  &__list,
  &__sublist {
    @include fd-reset();

    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  }

  &__sublist {
    @include fd-reset();

    left: 100%;
    right: initial;
    position: absolute;
    top: 0;
    z-index: 2;
    margin: 0.25rem 0 0 -0.25rem; // offset of submenu

    @include fd-rtl() {
      right: 100%;
      left: initial;
      margin: 0.25rem -0.25rem 0 0;
    }

    width: 100%;  // to fix IE issue
  }

  &__list > li {
    position: relative; // submenu's positioning relative to parent item
    width: 100%;  // to ensure in mobile mode the width of parent is taken fully
  }

  &--compact {
    @include fd-reset();

    .#{$block}__item {
      // for desktop mode
      padding: 0.375rem 0.75rem 0.375rem 0.5rem; // line-height=20px so 2rem or 32px-20px=12px/2= 6px or 0.375rem each
      height: 2rem;
    }

    .#{$block}__addon-before {
      width: 2rem; // to account for item right padding of 12px or 0.75rem so 2rem-0.75rem = 1.25rem
      height: 1.25rem; // to account for item top padding of 6px or 0.375rem so 2rem-0.375rem-0.375rem = 1.25rem
      margin: 0 0 0 -0.5rem;
    }

    .#{$block}__addon-after {
      width: 2rem; // to account for item right padding of 12px or 0.75rem so 2rem-0.75rem = 1.25rem
      height: 1.25rem; // to account for item top padding of 6px or 0.375rem so 2rem-0.375rem-0.375rem = 1.25rem
      margin: 0 -0.75rem 0 0;
    }

    // handle icons rtl modes
    @include fd-rtl() {
      .#{$block}__addon-before {
        margin: 0 -0.75rem 0 0; // since before and after icons switch places, their margins also switch
      }

      .#{$block}__addon-after {
        margin: 0 0 0 -0.5rem; // since before and after icons switch places, their margins also switch
      }
    }
  }

  &--mobile {      // for mobile mode
    @include fd-reset();

    max-width: none;

    .#{$block}__item {
      padding: 0.75rem 1rem 0.75rem 1rem; // line-height=20px so 2.75rem or 44px-20px=24px/2= 12px or 0.75rem each
      height: 2.75rem;
      width: 100%;
      max-width: none;

      .#{$block}__title {
        max-width: 100%;
      }
    }

    .#{$block}__addon-before {
      width: 2.75rem; // to account for item right padding of 16px or 1rem so 2.75rem-1rem = 1.75rem
      height: 1.25rem; // to account for item top padding of 12px or 0.75rem so 2.75rem-0.75rem-0.75rem = 1.25rem
      margin: 0 0 0 -1rem;
    }

    .#{$block}__addon-after {
      width: 2.75rem; // to account for item right padding of 16px or 1rem so 2.75rem-1rem = 1.75rem
      height: 1.25rem; // to account for item top padding of 12px or 0.75rem so 2.75rem-0.75rem-0.75rem = 1.25rem
      margin: 0 -1rem 0 0;
    }

    @include fd-rtl() {
      .#{$block}__addon-before {
        margin: 0 -1rem 0 0; // since before and after icons switch places, their margins also switch
      }

      .#{$block}__addon-after {
        margin: 0 0 0 -1rem; // since before and after icons switch places, their margins also switch
      }
    }
  }

  &__item--separated {
    height: 0.0625rem;
    width: 100%;
    background-color: $fd-menu-item-separator-color;
  }

  &__item {
    @include fd-reset();

    display: flex;
    align-items: center;

    @include action-cursor();

    max-width: 20rem;
    background-color: $fd-menu-item-background-color;
    // tablet cozy - will be default
    padding: 0.75rem 1rem 0.75rem 0.75rem; // line-height=20px so 2.75rem or 44px-20px=24px/2= 12px or 0.75rem each
    height: 2.75rem;

    @include fd-hover() {
      .#{$block}__title {
        color: $fd-menu-item-color;
      }

      background-color: $fd-menu-item-background-color--hover;
    }

    @include fd-active() {
      .#{$block}__title {
        color: $fd-menu-item-color--active;
      }

      background-color: $fd-menu-item-background-color--active;

      .#{$block}__addon-before,
      .#{$block}__addon-after {
        color: $fd-menu-primary-icon-color-active-selected;
      }

      .#{$block}__addon-after {
        // border-bottom-color: var(--sapList_BorderColor); // TODO change this when fade() evaluates to a value
        border-bottom-color: transparent;
      }
    }

    @include fd-selected() {
      .#{$block}__title {
        color: $fd-menu-item-color;
      }

      background-color: $fd-menu-item-background-color--selected;
      border-bottom: var(--sapList_BorderWidth) solid var(--sapList_SelectionBorderColor);

      .#{$block}__addon-before,
      .#{$block}__addon-after {
        color: $fd-menu-primary-icon-color;
      }

      @include fd-hover() {
        background-color: $fd-menu-item-background-color--selected-hover;
      }
    }

    @include fd-fiori-focus();

    @include fd-disabled() {
      opacity: var(--sapContent_DisabledOpacity);
      cursor: not-allowed;
      text-decoration: none;
      pointer-events: none;
    }

    .#{$block}__title {
      @include fd-reset();

      flex: 3 3 10%;  // needed to keep the icons aligned
      color: $fd-menu-item-color;

      @include fd-weight("normal");

      font-size: var(--sapFontSize);
      font-family: var(--sapFontFamily);
      text-decoration: none;

      @include fd-ellipsis();
    }
  }

  &__addon-before {
    @include fd-reset();
    @include fd-flex-center();

    // cozy tablet icon size
    width: 2.25rem; // to account for item right padding of 16px or 1rem so 2.25rem-1rem = 1.25rem
    height: 1.25rem; // to account for item top padding of 12px or 0.75rem so 2.75rem-0.75rem-0.75rem = 1.25rem
    margin: 0 0 0 -0.75rem;

    @include fd-rtl() {
      margin: 0 -1rem 0 0; // since before and after icons switch places, their margins also switch
    }

    color: $fd-menu-primary-icon-color;

    @include fd-active() {
      color: $fd-menu-item-color--active;
    }

    @include fd-selected() {
      color: $fd-menu-primary-icon-color;

      @include fd-hover() {
        color: $fd-menu-item-color--active;
      }
    }

    display: flex;
    background-color: transparent;
    font-size: var(--sapFontLargeSize);
  }

  // for affordance icon to be used with submenu
  &__addon-after {
    @include fd-reset();
    @include fd-flex-center();

    flex: 0 0 auto;
    display: flex;
    color: $fd-menu-primary-icon-color;
    // cozy tablet icon size
    width: 2.25rem; // to account for item right padding of 16px or 1rem so 2.25rem-1rem = 1.25rem
    height: 1.25rem; // to account for item top padding of 12px or 0.75rem so 2.75rem-0.75rem-0.75rem = 1.25rem
    margin: 0 -1rem 0 0;

    @include fd-rtl() {
      margin: 0 0 0 -0.75rem; // since before and after icons switch places, their margins also switch
    }

    @include fd-active() {
      color: $fd-menu-item-color--active;
    }

    @include fd-selected() {
      color: $fd-menu-primary-icon-color;

      @include fd-hover() {
        color: $fd-menu-item-color--active;
      }
    }

    background-color: transparent;
    font-size: var(--sapFontLargeSize);

    &--submenu {
      font-size: var(--sapFontSmallSize);
    }
  }
}
