@import "./settings";
@import "./mixins";
@import "./functions";

$block: #{$fd-namespace}-menu;

.#{$block} {
  // Menu
  $fd-menu-max-width: 20rem !default;
  $fd-menu-box-shadow: var(--sapContent_Shadow1) !default;
  $fd-menu-border-radius: var(--sapElement_BorderCornerRadius) !default;

  // Menu Sublist
  $fd-menu-sublist-offset: 0.25rem 0 0 -0.25rem !default;

  // Menu Item
  $fd-menu-item-color: var(--sapList_TextColor) !default;
  $fd-menu-item-color-active: var(--sapList_Active_TextColor) !default;
  $fd-menu-item-border-bottom: 0.0625rem solid var(--sapList_SelectionBorderColor) !default;

  $fd-menu-item-background-color: var(--sapList_Background) !default;
  $fd-menu-item-background-color-hover: var(--sapList_Hover_Background) !default;
  $fd-menu-item-background-color-active: var(--sapList_Active_Background) !default;
  $fd-menu-item-background-color-selected: var(--sapList_SelectionBackgroundColor) !default;
  $fd-menu-item-background-color-selected-hover: var(--sapList_Hover_SelectionBackground) !default;

  // Menu Link
  $fd-menu-link-height: 2.75rem !default;
  $fd-menu-link-height-compact: 2rem !default;

  // Menu Icon
  $fd-menu-icon-size: var(--sapFontLargeSize) !default;
  $fd-menu-icon-sublist-size: var(--sapFontSmallSize) !default;
  $fd-menu-icon-height: 1.25rem !default; // to account for item top padding of 12px or 0.75rem so 2.75rem-0.75rem-0.75rem = 1.25rem
  $fd-menu-icon-width: 2.25rem !default; // to account for item right padding of 16px or 1rem so 2.25rem-1rem = 1.25rem
  $fd-menu-icon-width-compact: 2rem !default;
  $fd-menu-icon-width-mobile: 2.75rem !default;
  $fd-menu-icon-color: var(--sapContent_NonInteractiveIconColor) !default;
  $fd-menu-icon-color-active: var(--sapList_Active_TextColor) !default;
  $fd-menu-icon-color-selected: var(--sapContent_NonInteractiveIconColor) !default;

  // Menu Title
  $fd-menu-title-font-size: var(--sapFontSize) !default;

  // Menu SHortcur
  $fd-menu-shortcut-height: 1.25rem !default;
  $fd-menu-shortcut-padding-left: 1rem !default;
  $fd-menu-shortcut-font-size: var(--sapFontSize) !default;
  $fd-menu-shortcut-color: var(--sapContent_NonInteractiveIconColor) !default;

  // Separator
  $fd-menu-separator-color: var(--sapGroup_ContentBorderColor) !default;
  $fd-menu-separator-height: 0.0625rem !default;

  @mixin selected-menu-item() {
    border-bottom: $fd-menu-item-border-bottom;
    background-color: $fd-menu-item-background-color-selected;

    .#{$block}__shortcut,
    .#{$block}__addon-before,
    .#{$block}__addon-after {
      color: $fd-menu-icon-color-selected;
    }

    @include fd-hover() {
      &:not(:active):not(.is-active) {
        background-color: $fd-menu-item-background-color-selected-hover;
      }
    }
  }

  // BLOCK BASE *******************************************
  @include fd-reset();

  width: 100%;
  max-width: $fd-menu-max-width;

  &--full-width {
    max-width: 100%;
  }

  &__list,
  &__sublist {
    @include fd-reset();

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    box-shadow: $fd-menu-box-shadow;
    border-radius: $fd-menu-border-radius;

    &--no-shadow {
      box-shadow: none;
    }
  }

  &__sublist {
    @include fd-reset();

    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
    margin: $fd-menu-sublist-offset;
    width: 100%; // to fix IE issue

    @include fd-rtl() {
      right: 100%;
      left: initial;
      margin: 0.25rem -0.25rem 0 0;
    }

    &[aria-hidden='true'] {
      display: none;
    }
  }

  &__list > li {
    position: relative; // submenu's positioning relative to parent item
    width: 100%; // to ensure in mobile mode the width of parent is taken fully
  }

  &--compact {
    .#{$block}__link {
      padding: 0.375rem 0.75rem 0.375rem 0.5rem; // line-height=20px so 2rem or 32px-20px=12px/2= 6px or 0.375rem each
      height: $fd-menu-link-height-compact;

      .#{$block}__addon-before,
      .#{$block}__addon-after {
        min-width: $fd-menu-icon-width-compact;
        width: $fd-menu-icon-width-compact;
      }

      .#{$block}__addon-before {
        margin: 0 0 0 -0.5rem;
      }

      .#{$block}__addon-after {
        margin: 0 -0.75rem 0 0;
      }

      @include fd-rtl() {
        .#{$block}__addon-before {
          margin: 0 -0.75rem 0 0; // since before and after icons switch places, their margins also switch
        }

        .#{$block}__addon-after {
          margin: 0 0 0 -0.5rem; // since before and after icons switch places, their margins also switch
        }
      }
    }
  }

  &--mobile {
    max-width: 100%;

    .#{$block}__list,
    .#{$block}__sublist {
      border-radius: 0;
      box-shadow: none;
      position: static;

      .#{$block}__item {
        border-radius: 0;
      }

      .#{$block}__link {
        padding: 0.75rem 1rem 0.75rem 1rem; // line-height=20px so 2.75rem or 44px-20px=24px/2= 12px or 0.75rem each
      }

      .#{$block}__addon-before,
      .#{$block}__addon-after {
        min-width: $fd-menu-icon-width-mobile;
        width: $fd-menu-icon-width-mobile;
      }

      .#{$block}__addon-before {
        margin: 0 0 0 -1rem;
      }

      .#{$block}__addon-after {
        margin: 0 -1rem 0 0;
      }

      @include fd-rtl() {
        .#{$block}__addon-before {
          margin: 0 -1rem 0 0; // since before and after icons switch places, their margins also switch
        }

        .#{$block}__addon-after {
          margin: 0 0 0 -1rem; // since before and after icons switch places, their margins also switch
        }
      }
    }
  }

  &__separator {
    @include fd-reset();

    width: 100%;
    height: $fd-menu-separator-height;
    background-color: $fd-menu-separator-color;
  }

  &__item {
    @include fd-reset();

    position: relative;
    border-radius: 0;
    background-color: $fd-menu-item-background-color;

    &:first-child {
      border-top-right-radius: $fd-menu-border-radius;
      border-top-left-radius: $fd-menu-border-radius;
    }

    &:last-child {
      border-bottom-right-radius: $fd-menu-border-radius;
      border-bottom-left-radius: $fd-menu-border-radius;
    }
  }

  &__link {
    @include fd-reset();
    @include action-cursor();
    @include fd-fiori-focus();

    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: inherit;
    height: $fd-menu-link-height;
    padding: 0.75rem 1rem 0.75rem 0.75rem; // line-height=20px so 2.75rem or 44px-20px=24px/2= 12px or 0.75rem each

    @include fd-hover() {
      background-color: $fd-menu-item-background-color-hover;
    }

    @include fd-selected() {
      @include selected-menu-item();
    }

    @include fd-active() {
      color: $fd-menu-item-color-active;
      background-color: $fd-menu-item-background-color-active;

      .#{$block}__title {
        color: $fd-menu-item-color-active;
      }

      .#{$block}__shortcut,
      .#{$block}__addon-before,
      .#{$block}__addon-after {
        color: $fd-menu-icon-color-active;
      }
    }

    @include fd-disabled() {
      pointer-events: none;
      opacity: var(--sapContent_DisabledOpacity);
    }

    &.has-child.is-expanded,
    &.has-child[aria-expanded="true"] {
      @include selected-menu-item();
    }
  }

  &__title {
    @include fd-reset();
    @include fd-ellipsis();

    width: 100%;
    color: $fd-menu-item-color;
    font-size: $fd-menu-title-font-size;
    font-family: var(--sapFontFamily);
  }

  &__addon-before,
  &__addon-after {
    @include fd-reset();
    @include fd-flex-center();

    color: $fd-menu-icon-color;
    width: $fd-menu-icon-width;
    min-width: $fd-menu-icon-width;
    height: $fd-menu-icon-height;
    font-size: $fd-menu-icon-size;
    background-color: transparent;
  }

  &__addon-before {
    margin: 0 0 0 -0.75rem;

    @include fd-rtl() {
      margin: 0 -1rem 0 0; // since before and after icons switch places, their margins also switch
    }
  }

  &__addon-after {
    flex: 0 0 auto;
    margin: 0 -1rem 0 0;

    @include fd-rtl() {
      margin: 0 0 0 -0.75rem; // since before and after icons switch places, their margins also switch
    }

    &--submenu {
      font-size: $fd-menu-icon-sublist-size;
    }
  }

  &__shortcut {
    @include fd-reset();
    @include fd-ellipsis();

    flex: 0 1 auto;
    font-weight: normal;
    font-family: var(--sapFontFamily);
    color: $fd-menu-shortcut-color;
    font-size: $fd-menu-shortcut-font-size;
    padding-left: $fd-menu-shortcut-padding-left;
  }
}
