@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-message-page;

.#{$block} {
  @include fd-reset();
  @include fd-flex-center();

  width: 100%;
  height: 100%;
  padding: 1rem;
  background: var(--sapBackgroundColor);

  &__container,
  &__content,
  &__title,
  &__subtitle,
  &__actions,
  &__icon,
  &__more {
    @include fd-reset();

    max-width: 30rem;
  }

  &__container {
    @include fd-flex(column) {
      align-items: center;
    }

    transform: translateY(-1rem);
  }

  &__icon-container {
    @include fd-reset();
    @include fd-flex-center();

    width: 100%;
    height: 8rem;
  }

  &__icon {
    font-size: 6rem;
    color: var(--sapContent_NonInteractiveIconColor);

    @include fd-icon-element-sub-selector() {
      font-size: 6rem;
      color: var(--sapContent_NonInteractiveIconColor);
      opacity: 50%;
    }
  }

  &__content {
    @include fd-flex(column) {
      align-items: center;
    }

    padding-bottom: 2rem;
  }

  &__title {
    margin: 1rem 0;
    text-align: center;
    font-size: var(--sapFontHeader2Size);
    color: var(--sapGroup_TitleTextColor);
  }

  &__subtitle {
    margin-bottom: 2rem;
    font-size: var(--sapFontHeader5Size);
    color: var(--sapContent_LabelColor);
  }

  &__actions {
    @include fd-flex-center() {
      flex-wrap: wrap;
    }

    min-height: 2rem;
  }

  &__more {
    @include fd-flex-center();

    min-height: 2rem;
    margin-top: 0.5rem;
  }
}
