@import "./settings";
@import "./mixins";
@import "./functions";
@import "./overlay.scss";

/*!
  .fd-modal+(--active)
    .fd-modal__content+(--s, --m, --l, --xl, --xxl, --compact, --resizable)
      .fd-modal__header
        .fd-modal__title
        .fd-modal__close
      .fd-modal__body
      .fd-modal__footer
*/
$block: #{$fd-namespace}-modal;

.#{$block} {

  // OVERLAY
  // TODO PROVIDE CORRECT COLOR AFTER RESOLVING CSS VARIABLES ISSUE
  // $fd-modal-overlay-color: fade(var(--sapBlockLayer_Background), 60);
  $fd-modal-overlay-color: var(--sapBlockLayer_Background);

  // CONTENT
  $fd-modal-content-margin-y: 6%;
  $fd-modal-content-margin-x: 10%;
  $fd-modal-content-margin-y-mobile: 0;
  $fd-modal-content-margin-x-mobile: 0;
  $fd-modal-content-min-width: 20rem;
  $fd-modal-content-min-height: 7.5rem;
  $fd-modal-content-box-shadow: var(--sapContent_Shadow3);
  $fd-modal-content-border-radius: var(--sapElement_BorderCornerRadius);
  $fd-modal-content-padding-x: (def: 1rem, s: 1rem, m: 2rem, l: 2rem, xl: 3rem, xxl: 3rem);

  // RESIZE HANDLE
  $fd-modal-resize-handle-color: var(--sapButton_Lite_TextColor);

  // HEADER
  $fd-modal-header-height: 2.75rem;
  $fd-modal-header-compact-height: 2.5rem;
  $fd-modal-header-color: var(--sapPageHeader_Background);
  $fd-modal-header-shadow-color-1: var(--sapContent_ShadowColor);
  $fd-modal-header-shadow-color-2: var(--sapPageHeader_BorderColor);
  // TODO PROVIDE CORRECT COLOR AFTER RESOLVING CSS VARIABLES ISSUE
  // $fd-modal-header-box-shadow: 0 0 0.25rem 0 fade($fd-modal-header-shadow-color-1, 15), inset 0 -0.0625rem 0 0 $fd-modal-header-shadow-color-2;
  $fd-modal-header-box-shadow: 0 0 0.25rem 0 $fd-modal-header-shadow-color-1, inset 0 -0.0625rem 0 0 $fd-modal-header-shadow-color-2;

  // BODY
  $fd-modal-body-padding-y: 1rem;
  $fd-modal-body-color: var(--sapGroup_ContentBackground);

  // FOOTER
  $fd-modal-footer-height: 2.75rem;
  $fd-modal-footer-compact-height: 2.5rem;
  $fd-modal-footer-background: var(--sapPageFooter_Background);
  $fd-modal-footer-border-color: var(--sapPageFooter_BorderColor);
  $fd-modal-footer-border: 0.0625rem solid $fd-modal-footer-border-color;

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $fd-modal-overlay-color;

  &--active {
    display: block;
  }

  &__content {
    @include fd-reset();

    @include media-breakpoint-down(l) {
      margin: $fd-modal-content-margin-y-mobile $fd-modal-content-margin-x-mobile;
    }

    overflow: hidden;
    min-width: $fd-modal-content-min-width;
    min-height: $fd-modal-content-min-height;
    box-shadow: $fd-modal-content-box-shadow;
    border-radius: $fd-modal-content-border-radius;
    margin: $fd-modal-content-margin-y $fd-modal-content-margin-x;

    @each $size-label, $size in $fd-modal-content-padding-x {
      &--#{$size-label} {
        .#{$block}__header,
        .#{$block}__body,
        .#{$block}__footer {
          padding-left: map_get($fd-modal-content-padding-x, $size-label);
          padding-right: map_get($fd-modal-content-padding-x, $size-label);
        }
      }
    }

    &--compact {
      .#{$block}__header {
        height: $fd-modal-header-compact-height;
      }

      .#{$block}__footer {
        height: $fd-modal-footer-compact-height;
      }
    }

    &--resizable {
      display: flex;
      flex-direction: column;
      position: relative;

      .#{$block}__body {
        flex-grow: 1;
      }

      .#{$block}__header,
      .#{$block}__footer {
        flex-shrink: 0;
      }

      @include media-breakpoint-up(l) {
        resize: both;

        @include fd-icon("resize-corner", "m", "after") {
          color: $fd-modal-resize-handle-color;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  &__header,
  &__body,
  &__footer {
    padding-left: map_get($fd-modal-content-padding-x, "def");
    padding-right: map_get($fd-modal-content-padding-x, "def");
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $fd-modal-header-height;
    box-shadow: $fd-modal-header-box-shadow;
    background-color: $fd-modal-header-color;

    .#{$block}__title {
      @include fd-reset();
      @include fd-type("1");
      @include fd-ellipsis();

      margin-bottom: 0;
    }

    .#{$block}__close {
      margin-left: fd-space(reg);

      @include fd-rtl() {
        margin-right: fd-space(reg);
        margin-left: 0;
      }
    }
  }

  &__body {
    overflow-y: auto;
    box-sizing: border-box;
    padding-top: $fd-modal-body-padding-y;
    padding-bottom: $fd-modal-body-padding-y;
    background-color: $fd-modal-body-color;
    max-height: calc(100vh - #{$fd-modal-header-height} - #{$fd-modal-footer-height});
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: $fd-modal-footer-height;
    border-top: $fd-modal-footer-border;
    background-color: $fd-modal-footer-background;

    & > :not(:first-child) {
      margin-left: fd-space(base);

      @include fd-rtl() {
        margin-right: fd-space(base);
        margin-left: 0;
      }
    }
  }
}
