@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-multi-input
*/
$block: #{$fd-namespace}-multi-input;

.#{$block} {
  $fd-checkbox-dimensions: 1.375rem;

  @include fd-reset();
  @include dropdown-list($block);

  &__item {
    padding: 0;
  }

  &__label {
    @include fd-reset();

    color: inherit;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0;

    &::before {
      margin-left: 0;
      margin-top: (1rem - $fd-checkbox-dimensions) / 2;
      margin-bottom: (1rem - $fd-checkbox-dimensions) / 2;
    }
  }

  &__input {
    @include fd-focus() {
      box-shadow: none;

      + .#{$block}__label {
        &::after {
          $fd-multi-input-focus-offset: 0.0625rem;

          top: $fd-multi-input-focus-offset;
          bottom: $fd-multi-input-focus-offset;
          left: $fd-multi-input-focus-offset;
          right: $fd-multi-input-focus-offset;
        }
      }
    }
  }

  &__footer {
    height: auto;
    text-align: right;
    justify-content: flex-end;
    line-height: 1rem;
    background-color: var(--sapList_Background);
  }

  &__footer,
  &__label {
    padding: $fd-dropdown-list-vertical-padding $fd-list-horizontal-padding;
  }

  &--compact {
    .#{$block}__item {
      padding: 0;
    }

    .#{$block}__label {
      &::before {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .#{$block}__footer,
    .#{$block}__label {
      padding: $fd-dropdown-list-vertical-compact-padding $fd-list-horizontal-padding;
    }
  }
}
