@import "./settings";
@import "./mixins";
@import "./functions";

$block: #{$fd-namespace}-notification;

.#{$block} {
  // variables
  $fd-notification-max-width: 60rem !default;
  $fd-notification-max-width-m: 640px !default;
  $fd-notification-min-width-m: 320px !default;
  $fd-notification-width-s: 320px !default;

  $fd-notification-background-color: var(--sapList_Background) !default;

  $fd-notification-box-shadow: var(--sapContent_Shadow0) !default;

  $fd-notification-border-radius: 0.25rem !default;
  $fd-notification-group-border-radius-first-child: 0.25rem 0.25rem 0 0 !default;
  $fd-notification-group-border-radius-last-child: 0 0 0.25rem 0.25rem !default;

  $fd-notification-indicator-color-error: var(--sapErrorColor) !default;
  $fd-notification-indicator-color-warning: var(--sapWarningColor) !default;
  $fd-notification-indicator-color-success: var(--sapSuccessColor) !default;
  $fd-notification-indicator-color-information: var(--sapInformationColor) !default;

  $fd-notification-indicator-border-color-default: var(--sapNeutralBorderColor) !default;
  $fd-notification-indicator-border-color-error: var(--sapErrorBorderColor) !default;
  $fd-notification-indicator-border-color-warning: var(--sapWarningBorderColor) !default;
  $fd-notification-indicator-border-color-success: var(--sapSuccessBorderColor) !default;
  $fd-notification-indicator-border-color-information: var(--sapInformationBorderColor) !default;

  $fd-notification-title-color: var(--sapGroup_TitleTextColor) !default;
  $fd-notification-header-border-color: var(--sapPageHeader_BorderColor) !default;
  $fd-notification-content-text-color: var(--sapContent_LabelColor) !default;

  // mixins
  @mixin fd-priority-indicator($type) {
    margin: 1px 0 0 0;
    padding: 1rem 0.5rem 0 1rem;

    @include fd-rtl() {
      padding: 1rem 1rem 0 0.5rem;
    }

    @include fd-icon("message-#{$type}", "m");
  }

  // ------------------------ CONTAINER ------------------------
  @include fd-reset();

  max-width: $fd-notification-max-width;
  background-color: $fd-notification-background-color;
  box-shadow: $fd-notification-box-shadow;
  border-radius: $fd-notification-border-radius;
  border-left: 0.375rem solid;
  border-left-color: $fd-notification-indicator-border-color-default;
  margin-bottom: 0.5rem;

  @include fd-rtl() {
    border-left: none;
    border-right: 0.375rem solid;
    border-right-color: $fd-notification-indicator-border-color-default;
  }

  // ------------------------ HEADER ------------------------
  &__header {
    @include fd-reset();

    display: flex;
    box-shadow: inset 0 -0.0625rem $fd-notification-header-border-color;
  }

  &__indicator {
    @include fd-reset();

    &--error {
      @include fd-priority-indicator('error');

      color: $fd-notification-indicator-color-error;
    }

    &--success {
      @include fd-priority-indicator('success');

      color: $fd-notification-indicator-color-success;
    }

    &--warning {
      @include fd-priority-indicator('warning');

      color: $fd-notification-indicator-color-warning;
    }

    &--information {
      @include fd-priority-indicator('information');

      color: $fd-notification-indicator-color-information;
    }
  }

  &__title {
    @include fd-reset();

    color: $fd-notification-title-color;
    padding: 1rem 0;
    margin-right: 1rem;
    font-weight: 700;
    width: 100%;

    @include fd-rtl() {
      margin-right: 0;
      margin-left: 1rem;
    }

    &:first-child {
      padding-left: 1rem;

      @include fd-rtl() {
        padding-left: 0;
        padding-right: 1rem;
      }
    }
  }

  &__close {
    color: $fd-notification-title-color;
    position: relative;
    top: 0.45rem;
    right: 0.35rem;
    min-width: 36px;
    min-height: 36px;
    width: 36px;
    height: 36px;

    &:hover {
      color: $fd-notification-title-color;
      border: none;
      background-color: $fd-notification-background-color;
    }

    @include fd-rtl() {
      right: -0.35rem;
    }
  }

  // ------------------------ BODY ------------------------
  &__body {
    @include fd-reset();

    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  &__content {
    @include fd-reset();

    display: flex;
    padding: 1rem;
    width: 60%;
  }

  &__avatar {
    @include fd-reset();

    margin-right: 1rem;
    min-width: 2rem;
    min-height: 2rem;

    @include fd-rtl() {
      margin-right: 0;
      margin-left: 1rem;
    }
  }

  &__text {
    @include fd-reset();

    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
  }

  &__description {
    @include fd-reset();
    @include multiline-truncate($lineHeight: 1.45em, $lineCount: 2, $backgroundColor: $fd-notification-background-color);

    color: $fd-notification-content-text-color;
  }

  &__metadata {
    @include fd-reset();

    color: $fd-notification-content-text-color;
    margin-top: 0.375rem;
  }

  // ------------------------ FOOTER ------------------------
  &__footer {
    @include fd-reset();

    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem 0.5rem 1rem;

    & > * {
      &:not(:last-child) {
        margin: 0.25rem;
      }
    }
  }

  &__actions {
    @include fd-reset();

    margin-left: auto;
    display: flex;

    & > * {
      margin: 0.25rem;
    }

    @include fd-rtl() {
      margin-left: 0;
    }
  }

  &--error {
    border-left-color: $fd-notification-indicator-border-color-error;

    @include fd-rtl() {
      border-right-color: $fd-notification-indicator-border-color-error;
    }
  }

  &--success {
    border-left-color: $fd-notification-indicator-border-color-success;

    @include fd-rtl() {
      border-right-color: $fd-notification-indicator-border-color-success;
    }
  }

  &--warning {
    border-left-color: $fd-notification-indicator-border-color-warning;

    @include fd-rtl() {
      border-right-color: $fd-notification-indicator-border-color-warning;
    }
  }

  &--information {
    border-left-color: $fd-notification-indicator-border-color-information;

    @include fd-rtl() {
      border-right-color: $fd-notification-indicator-border-color-information;
    }
  }

  // ------------------------ NOTIFICATION SIZES ------------------------
  &--m,
  &--s {
    .#{$block}__body {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .#{$block}__content {
      width: 100%;
      padding: 1rem 1rem 0.5rem 1rem;

      &:last-child {
        padding-bottom: 1rem;
      }
    }

    .#{$block}__footer {
      width: 100%;
    }
  }

  &--m {
    max-width: $fd-notification-max-width-m;
    min-width: $fd-notification-min-width-m;
  }

  &--s {
    width: $fd-notification-width-s;
  }

  // ------------------------ NOTIFICATION GROUP ------------------------
  &--group {
    & > * {
      border-radius: 0;

      &:not(:first-child) {
        // background-color: darken($fd-notification-background-color, 2);
        .#{$block}__header {
          box-shadow: none;
        }
      }
    }

    .#{$block} {
      margin-bottom: 0;

      &:first-child {
        border-radius: $fd-notification-group-border-radius-first-child;
      }

      &:last-child {
        border-radius: $fd-notification-group-border-radius-last-child;
      }

      &:only-child {
        border-radius: $fd-notification-border-radius;
      }
    }

    .#{$block}__content {
      padding-top: 0.75rem;
      padding-bottom: 0.5rem;
    }

    .#{$block}__title {
      padding: 0.75rem 0;
    }

    .#{$block}__close {
      top: 0.1875rem;
      right: 0.1875rem;
    }

    @include fd-rtl() {
      .#{$block}__close {
        right: -0.1875rem;
      }
    }

    .#{$block}__indicator {
      &--error,
      &--success,
      &--warning,
      &--information {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }
    }
  }
}
