@import "./mixins";

$block: #{$fd-namespace}-notification;

.#{$block} {

  // variables
  $fd-notification-max-width: 60rem !default;
  $fd-notification-max-width-m: 40rem !default;
  $fd-notification-min-width-m: 20rem !default;
  $fd-notification-width-s: 20rem !default;

  $fd-notification-background-color: var(--sapList_Background) !default;
  $fd-notification-box-shadow: var(--sapContent_Shadow0) !default;

  $fd-notification-border-radius: 0.25rem !default;
  $fd-notification-group-border-radius-first-child: 0.25rem 0.25rem 0 0 !default;
  $fd-notification-group-border-radius-last-child: 0 0 0.25rem 0.25rem !default;
  $fd-notification-border: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);

  $fd-notification__footer-padding: 0 0 0 0.5rem;

  $fd-notification-indicator-color-error: var(--sapErrorColor) !default;
  $fd-notification-indicator-color-warning: var(--sapWarningColor) !default;
  $fd-notification-indicator-color-success: var(--sapSuccessColor) !default;
  $fd-notification-indicator-color-information: var(--sapInformationColor) !default;

  $fd-notification-indicator-border-color-default: var(--sapNeutralBorderColor) !default;
  $fd-notification-indicator-border-color-error: var(--sapErrorBorderColor) !default;
  $fd-notification-indicator-border-color-warning: var(--sapWarningBorderColor) !default;
  $fd-notification-indicator-border-color-success: var(--sapSuccessBorderColor) !default;
  $fd-notification-indicator-border-color-information: var(--sapInformationBorderColor) !default;


  // mixins

  @mixin fd-priority-indicator($type) {
    @include fd-icon("message-#{$type}");
  }

  @include fd-reset();
  background-color: $fd-notification-background-color;
  box-shadow: $fd-notification-box-shadow;
  border-radius: $fd-notification-border-radius;
  margin-bottom: 1.25rem;
  width: 100%;
  max-width: $fd-notification-max-width-m;
  box-sizing: border-box;
  padding: 1rem 0.5rem 1rem 1rem;

  @include fd-rtl() {
    padding-right: 1rem;
    padding-left: 0.5rem;
  }

  &__body {
    @include fd-reset();
    display: flex;
    justify-content: space-between;
    padding: 0;

    &--message {
      padding-top: 1rem;
    }
  }

  &__group {
    @include fd-reset();
    padding: 0;
    overflow: hidden;

    .#{$block}__body {
      padding: 1rem 0.5rem 1rem 1rem;
      border-bottom: $fd-notification-border;

      &:last-child {
        border-bottom: none;
      }
      @include fd-rtl() {
        padding-left: 0.5rem;
        padding-right: 1rem;
      }
    }

    &--tabs {
      box-shadow: $fd-notification-box-shadow;
    }

    .#{$block}__group-header {
      @include fd-reset();
      display: flex;
      align-items: baseline;
      border-bottom: $fd-notification-border;
      padding: 0.75rem 0.5rem 0 1rem;

      @include fd-rtl() {
        padding-left: 0.5rem;
        padding-right: 1rem;
      }
    }

    @include fd-rtl() {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__content {
    @include fd-reset();
    width: 100%;
    margin-left: 0.75rem;

    @include fd-rtl() {
      margin-right: 0.75rem;
      margin-left: 0;
    }

    &:first-child {
      margin-left: 0;

      @include fd-rtl() {
        margin-right: 0;
      }
    }

    .fd-notification__title {
      @include fd-reset();
      @include line-clamp(2);
      font-weight: bold;
      font-size: var(--sapFontHeader6Size);
    }

    .fd-notification__paragraph {
      @include fd-reset();
      @include line-clamp(2);
      padding-top: 0.5rem;
    }

    .#{$block}__footer {
      padding-top: 0.5rem;
      margin: 0;

      .#{$block}__footer--button {
        margin-left: 1rem;
      }

      .#{$block}__footer--separator {
        margin: 0 0.5rem;
      }
    }
  }

  &__header {
    @include fd-reset();
    display: flex;
  }

  &__actions {
    @include fd-reset();
    display: flex;
    align-items: self-start;
    margin-left: 1rem;

    @include fd-rtl() {
      margin-left: 0;
      margin-right: 1rem;
    }

    .fd-button:first-child {
      margin-right: 0.5rem;
    }

    &--button {
      margin-bottom: 3px;
    }
  }

  &__limit {
    @include fd-reset();
    padding: 1rem;
    text-align: center;

    &--title {
      @include fd-reset();
      font-size: var(--sapFontHeader5Size);
    }

    &--description {
      @include fd-reset();
      margin: 0.5rem 0 0;
    }
  }

  &__indicator {
    @include fd-reset();
    padding-right: 0.5rem;

    @include fd-rtl() {
      padding-right: 0;
      padding-left: 0.5rem;
    }

    &--error {
      @include fd-priority-indicator('error');
      color: $fd-notification-indicator-color-error;
    }

    &--success {
      @include fd-priority-indicator('success');
      color: $fd-notification-indicator-color-success;
    }

    &--warning {
      @include fd-priority-indicator('warning');
      color: $fd-notification-indicator-color-warning;
    }

    &--information {
      @include fd-priority-indicator('information');
      color: $fd-notification-indicator-color-information;
    }
  }
}
