@import "./settings";
@import "./mixins";
@import "./functions";

$block: #{$fd-namespace}-numeric-content;

$fd-numeric-content-elements-spacing: 0.375rem !default;
$fd-numeric-content-elements-spacing-m: 0.5rem !default;
$fd-numeric-content-elements-spacing-s: 0.5rem !default;

@mixin small-tile-values() {
  height: 2.375rem;

  .#{$block}__launch-icon-container,
  .#{$block}__kpi-container {
    padding-top: 0.5rem;
    margin-right: $fd-numeric-content-elements-spacing;

    @include fd-rtl() {
      margin-right: 0;
      margin-left: $fd-numeric-content-elements-spacing;
    }
  }

  .#{$block}__launch-icon-container {
    min-width: 1.5rem; // font-side
  }

  .#{$block}__scale-container {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .#{$block}__launch-icon {
    font-size: 1.5rem;
  }

  .#{$block}__kpi {
    font-size: 1.5rem;
  }

  @content;
}

.#{$block} {
  @include fd-reset();

  display: flex;
  height: 3rem;
  width: 100%;

  &__launch-icon-container,
  &__kpi-container {
    @include fd-reset();
    @include fd-flex-vertical-center();

    height: 100%;
    overflow: hidden;
    padding-top: 0.125rem;
    margin-right: $fd-numeric-content-elements-spacing;

    @include fd-rtl() {
      margin-right: 0;
      margin-left: $fd-numeric-content-elements-spacing;
    }

    &:first-child:last-child {
      margin: 0;
    }
  }

  &__launch-icon-container {
    min-width: 1.75rem; // font-side
  }

  &__scale-container {
    @include fd-reset();

    display: flex;
    flex: 1;
    height: 100%;
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.375rem;

    &:first-child:last-child {
      margin: 0;
    }
  }

  &__launch-icon {
    @include fd-reset();

    line-height: normal;
    font-size: 1.75rem;
    color: var(--sapTile_IconColor);
  }

  &__kpi {
    @include fd-reset();

    line-height: normal;
    color: var(--sapNeutralTextColor);
    font-weight: lighter;
    font-size: 2.25rem;

    &--positive {
      color: var(--sapPositiveTextColor);
    }

    &--critical {
      color: var(--sapCriticalTextColor);
    }

    &--negative {
      color: var(--sapNegativeTextColor);
    }

    &--informative {
      color: var(--sapInformativeTextColor);
    }
  }

  &__scale {
    @include fd-reset();

    @include fd-flex-vertical-center () {
      flex-direction: column;
      justify-content: space-between;
    }

    &-arrow,
    &-text {
      @include fd-reset();

      font-size: 0.875rem;
      line-height: normal;
      color: var(--sapNeutralTextColor);
    }

    &--positive {
      .#{$block}__scale-arrow,
      .#{$block}__scale-text {
        color: var(--sapPositiveTextColor);
      }
    }

    &--critical {
      .#{$block}__scale-arrow,
      .#{$block}__scale-text {
        color: var(--sapCriticalTextColor);
      }
    }

    &--negative {
      .#{$block}__scale-arrow,
      .#{$block}__scale-text {
        color: var(--sapNegativeTextColor);
      }
    }

    &--informative {
      .#{$block}__scale-arrow,
      .#{$block}__scale-text {
        color: var(--sapInformativeTextColor);
      }
    }
  }

  &--m {
    height: 2.5rem;

    .#{$block}__launch-icon-container,
    .#{$block}__kpi-container {
      padding-top: 0;
      margin-right: $fd-numeric-content-elements-spacing-m;

      @include fd-rtl() {
        margin-right: 0;
        margin-left: $fd-numeric-content-elements-spacing-m;
      }
    }

    .#{$block}__launch-icon-container {
      align-items: flex-end;
    }

    .#{$block}__scale-container {
      padding-top: 0.375rem;
      padding-bottom: 0.188rem;
    }

    .#{$block}__kpi {
      font-size: 2rem;
    }
  }

  &--s {
    height: 2.25rem;

    .#{$block}__launch-icon-container,
    .#{$block}__kpi-container {
      padding-top: 0;
      margin-right: $fd-numeric-content-elements-spacing-s;

      @include fd-rtl() {
        margin-right: 0;
        margin-left: $fd-numeric-content-elements-spacing-s;
      }
    }

    .#{$block}__scale-container {
      padding-top: 0;
      padding-bottom: 0.313rem;
    }

    .#{$block}__kpi {
      font-size: 1.75rem;
    }
  }

  &--small-tile {
    @include small-tile-values();

    &.#{$block}--m {
      @include small-tile-values() {
        .#{$block}__launch-icon-container {
          align-items: flex-end;
        }
      };
    }

    &.#{$block}--s {
      @include small-tile-values() {
        .#{$block}__scale-container {
          padding-top: 0;
        }
      };
    }
  }
}
