@import "./new-settings";
@import "./mixins";

/*!
.fd-object-marker
*/
$block: #{$fd-namespace}-object-marker;

.#{$block} {
  // ICON VARIABLES
  $fd-object-marker-color: var(--sapContent_MarkerIconColor) !default;
  $fd-object-marker-text-color: var(--sapContent_LabelColor) !default;
  $fd-object-marker-color-hover: var(--sapContent_IconColor) !default;
  $fd-object-marker-padding-left: 0.5rem !default;
  $fd-object-marker-padding-right: 0.25rem !default;

  @include fd-reset();

  max-width: 100%;
  line-height: 1;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;

  // CLICKABLE OBJECT STATUS
  &--link {
    cursor: pointer;
    text-decoration: none;
    color: $fd-object-marker-color;

    .#{$block}__text {
      color: $fd-object-marker-color;
    }

    &:focus,
    &:hover,
    &:visited {
      .#{$block}__text {
        text-decoration: underline;
      }
    }

    &:hover {
      .#{$block}__text {
        color: $fd-object-marker-color-hover;
      }
    }
  }

  &__icon {
    @include fd-reset();

    @include fd-icon-selector() {
      @include fd-flex-center();

      font-size: 1rem;
      line-height: normal;
      color: $fd-object-marker-color;
      padding-right: $fd-object-marker-padding-right;

      &:only-child {
        padding-right: 0;
        padding-left: 0;
      }

      @include fd-rtl() {
        padding-left: $fd-object-marker-padding-right;
        padding-right: 0;
      }
    }
  }

  &__text {
    @include fd-reset();
    @include fd-ellipsis();

    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    word-break: break-word;
    color: $fd-object-marker-text-color;
  }

  & + .#{$block} {
    margin-left: $fd-object-marker-padding-left;
    margin-right: 0;

    @include fd-rtl() {
      margin-right: $fd-object-marker-padding-left;
      margin-left: 0;
    }
  }
}
