@import "./new-settings";
@import "./functions";
@import "./mixins";

$block: #{$fd-namespace}-page;

.#{$block} {
  @include fd-reset();

  display: flex;
  flex-direction: column;
  background: var(--sapBackgroundColor);

  &__content {
    @include fd-reset();

    padding: 0;
  }

  &__content--s {
    @include fd-reset();

    padding: 0 1rem;
  }

  &__content--m_l {
    @include fd-reset();

    padding: 0 2rem;
  }

  &__content--xl {
    @include fd-reset();

    padding: 0 3rem;
  }

  &--solid {
    background: var(--sapBackgroundColor);
  }

  &--list {
    background: var(--sapGroup_ContentBackground);
  }

  &--transparent {
    background: transparent;
  }

  &--home {
    &.#{$block}__content--S {
      @include fd-reset();

      padding: 0 0.5rem;
    }
  }
}
