@import "./new-settings";
@import "./mixins";

/*!
.fd-pagination
*/

$block: #{$fd-namespace}-pagination;

.#{$block} {

  $fd-pagination-link-padding-x: 0.25rem;
  $fd-pagination-padding-x: 0.5rem;

  @include fd-reset();

  font-size: var(--sapFontSize);

  &__total {
    @include fd-reset();

    font-size: var(--sapFontSize);
    color: var(--sapContent_LabelColor);
    margin-right: $fd-pagination-padding-x;

    @include fd-rtl() {
      margin-right: 0;
      margin-left: $fd-pagination-padding-x;
    }
  }

  &__nav {
    @include fd-reset();

    display: inline-block;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    margin-bottom: 0;
  }

  &__more {
    @include fd-reset();

    &::before {
      content: "...";
      color: var(--sapContent_LabelColor);
      font-weight: bold;
    }
  }

  &__link {
    @include fd-reset();
    @include fd-link();

    font-size: var(--sapFontSize);
    background-color: transparent;
    padding-left: $fd-pagination-link-padding-x;
    padding-right: $fd-pagination-link-padding-x;
    position: relative;
    text-decoration: none;

    @include fd-selected() {
      color: var(--sapContent_LabelColor);
      text-decoration: none;
      cursor: default;
      font-weight: bold;
    }

    &--previous,
    &--next {
      @include fd-reset();
      @include fd-link();

      font-size: var(--sapFontSize);
      padding-left: $fd-pagination-padding-x;
      padding-right: $fd-pagination-padding-x;
    }

    &--previous {
      @include fd-icon("navigation-left-arrow","s");

      @include fd-rtl() {
        @include fd-icon("navigation-right-arrow","s");
      }
    }

    &--next {
      @include fd-icon("navigation-right-arrow","s");

      @include fd-rtl() {
        @include fd-icon("navigation-left-arrow","s");
      }
    }
  }
}
