@import "./settings";
@import "./mixins";
@import "./functions";
@import "./drag-and-drop";

/*!
.fd-product-switch
*/
$block: #{$fd-namespace}-product-switch;

.#{$block} {
  @include fd-reset();

  &__control {
    @include fd-reset();

    color: var(--sapShell_TextColor);

    &::before {
      margin-right: 0;
    }

    @include fd-hover() {
      color: var(--sapShell_TextColor);
      background-color: var(--sapShell_Hover_Background);

      @include fd-disabled() {
        color: var(--sapShell_TextColor);
        opacity: 0.4%;
      }
    }

    @include fd-disabled() {
      opacity: 0.4%;
    }

    @include fd-active-pressed-selected() {
      color: var(--sapShell_Active_TextColor);
      background-color: var(--sapShell_Active_Background);
    }
  }

  &__body {
    @include fd-reset();

    width: fit-content;
    max-height: calc(100vh - 76px);
    overflow-y: auto;
    padding: 1.5rem 0.5rem 1rem 1rem;
    background-color: var(--sapList_Background);
  }

  &__body--col-3 {
    .#{$block}__list {
      width: 35.25rem;
    }
  }

  &__body--mobile {
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;

    .#{$block}__list {
      @include fd-flex(column);

      width: 100%;
    }

    .#{$block}__item {
      @include fd-reset();
      @include fd-flex();

      max-width: 100%;
      max-height: 5rem;
      margin: 0.0625rem;
      padding: 1rem;
      text-align: left;
      border-radius: 0;

      &.selected {
        border: none;
        border-bottom: 0.0625rem solid;
        border-bottom-color: var(--sapList_SelectionBorderColor);
      }

      &:focus {
        outline-style: dotted;
        outline-width: 0.0625rem;
        outline-color: var(--sapContent_FocusColor);
      }
    }

    .#{$block}__text {
      @include fd-flex(column) {
        justify-content: space-between;
      }

      height: 100%;
    }

    .#{$block}__icon {
      margin-bottom: 0;
      margin-right: 0.75rem;
    }

    @include fd-rtl() {
      .#{$block}__icon {
        margin-right: 0;
        margin-left: 0.75rem;
      }

      .#{$block}__text {
        align-items: flex-start;
      }
    }
  }

  &__list {
    @include fd-reset();

    @include fd-flex() {
      flex-wrap: wrap;
    }

    width: 47rem;
    list-style: none;
  }

  &__item {
    @include fd-reset();

    @include fd-flex(column) {
      align-items: center;
      text-align: center;
    }

    height: 7rem;
    max-width: 11.25rem;
    flex: 1 0 25%;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--sapList_Background);
    border-radius: var(--sapElement_BorderCornerRadius);

    &:hover {
      background-color: var(--sapList_Hover_Background);
    }

    &:active {
      background-color: var(--sapList_Active_Background);

      .#{$block}__icon,
      .#{$block}__title,
      .#{$block}__subtitle {
        color: var(--sapList_Active_TextColor);
      }
    }

    &.selected {
      background-color: var(--sapList_SelectionBackgroundColor);
      border: 0.125rem solid;
      border-color: var(--sapList_SelectionBorderColor);

      &:hover {
        background-color: var(--sapList_Hover_SelectionBackground);
      }

      &:active {
        background-color: var(--sapList_Active_Background);
      }
    }

    &:focus {
      outline: 0.0625rem dotted;
      outline-color: var(--sapContent_FocusColor);
    }

    &.dragged {
      @include dragged () {
        &:hover,
        &:active {
          background-color: fade(var(--sapList_Background), 90);

          .#{$block}__icon {
            color: var(--sapContent_IconColor);
          }

          .#{$block}__title {
            color: var(--sapGroup_TitleTextColor);
          }

          .#{$block}__subtitle {
            color: var(--sapContent_LabelColor);
          }
        }

        &.selected {
          border: none;
          box-shadow: var(--sapContent_Shadow2);
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__icon {
    @include fd-reset();

    @include fd-flex() {
      align-items: center;
      justify-content: center;
    }

    min-width: 3rem;
    min-height: 3rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--sapContent_IconColor);
  }

  &__text {
    @include fd-reset();

    width: 100%;
    overflow: hidden;
    max-height: 2.5rem;
  }

  &__title {
    @include fd-reset();

    max-height: 2.5rem;
    line-height: 1.25rem;
    font-size: var(--sapFontHeader6Size);
    color: var(--sapGroup_TitleTextColor);

    &:not(:last-child) {
      @include fd-ellipsis();
    }
  }

  &__subtitle {
    @include fd-reset();
    @include fd-ellipsis();

    line-height: 1.25rem;
    font-size: var(--sapFontSmallSize);
    color: var(--sapContent_LabelColor);
  }
}
