@import "./new-settings";
@import "./mixins";

/*!
.fd-radio
*/
$block: #{$fd-namespace}-radio;

%fd-radio-input-hidden {
  position: absolute;
  opacity: 0.0001;
  width: 100%;
  height: 100%;
}

.#{$block} {
  @mixin fd-radio-state($background-color, $text-color, $border-color, $border-size, $border-type) {
    + .#{$block}__label {
      &::before {
        background-color: $background-color;
        border: $border-size $border-type $border-color;
      }

      &::after {
        background: $text-color;
      }

      @include fd-hover() {
        @include fd-disabled() {
          border-color: $border-color;
        }
      }
    }
  }

  $fd-radio-inner-circle-diameter: 1.375rem;
  $fd-radio-inner-circle-diameter-compact: 1rem;

  $fd-radio-outer-circle-margin: 0.6875rem;
  $fd-radio-outer-circle-margin-compact: 0.5rem;

  $fd-radio-inner-content-size: 0.625rem; // inner circle size
  $fd-radio-inner-content-size-compact: 0.375rem; // inner circle size for compact

  $fd-radio-inner-content-padding: 1.0625rem; // aligns inner circle
  $fd-radio-inner-content-padding-compact: 0.8125rem; // aligns inner circle for compact

  @include fd-form-base();

  @extend %fd-radio-input-hidden;

  &__wrapper {
    position: relative;
    display: inline-block;
  }

  &__label {
    @include fd-form-label();
    @include action-cursor();

    line-height: 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: $fd-radio-outer-circle-margin;

    &::before {
      content: "";
      height: $fd-radio-inner-circle-diameter;
      width: $fd-radio-inner-circle-diameter;
      min-width: $fd-radio-inner-circle-diameter;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: var(--sapField_Background);
      margin-right: $fd-radio-outer-circle-margin;
      color: var(--sapSelectedColor);
      border: var(--sapField_BorderWidth) solid var(--sapField_BorderColor);
      border-radius: 50%;
    }

    &::after {
      height: $fd-radio-inner-content-size;
      width: $fd-radio-inner-content-size;
      top: $fd-radio-inner-content-padding;
      left: $fd-radio-inner-content-padding;
    }

    @include fd-focus() {
      outline: none;
    }

    @include fd-hover() {
      &::before {
        background-color: var(--sapField_Hover_Background);
        border-color: var(--sapField_Hover_BorderColor);
      }
    }

    @include fd-rtl() {
      &::before {
        margin-left: $fd-radio-outer-circle-margin;
        margin-right: 0;
      }

      &::after {
        right: $fd-radio-inner-content-padding;
      }
    }

    @include fd-empty() {
      padding: $fd-radio-outer-circle-margin;
      margin: 0;

      &::before,
      &::after {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &:checked + .#{$block}__label::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: var(--fdRadio_Selected_Color);
  }

  // states
  &.is-warning,
  &.is-alert {
    @include fd-radio-state(var(--sapField_WarningBackground), var(--sapField_TextColor), var(--sapField_WarningColor), 0.125rem, var(--fdRadio_State_Border_Type));
  }

  &.is-error {
    @include fd-radio-state(var(--sapField_InvalidBackground), var(--sapField_InvalidColor), var(--sapField_InvalidColor), 0.125rem, var(--fdRadio_State_Border_Type));
  }

  &.is-success {
    @include fd-radio-state(var(--sapField_SuccessBackground), var(--sapField_SuccessColor), var(--sapField_SuccessColor), var(--sapField_BorderWidth), solid);
  }

  &.is-information {
    @include fd-radio-state(var(--sapField_InformationBackground), var(--sapField_InformationColor), var(--sapField_InformationColor), 0.125rem, var(--fdRadio_State_Border_Type));
  }

  &[readonly],
  &.is-readonly {
    @include fd-radio-state(var(--sapField_ReadOnly_Background), var(--sapContent_NonInteractiveIconColor), var(--sapField_ReadOnly_BorderColor), var(--sapField_BorderWidth), solid);
  }

  @include fd-focus() {
    + .#{$block}__label {
      @include fd-form-radio-focus($fd-radio-outer-circle-margin);
    }
  }

  @include fd-disabled() {
    opacity: 0.0001;

    + .#{$block}__label {
      pointer-events: none;
      opacity: 0.4;
    }
  }

  &--compact {
    + .#{$block}__label {
      padding: $fd-radio-outer-circle-margin-compact;

      &::before {
        height: $fd-radio-inner-circle-diameter-compact;
        width: $fd-radio-inner-circle-diameter-compact;
        min-width: $fd-radio-inner-circle-diameter-compact;
        margin-right: $fd-radio-outer-circle-margin-compact;
        margin-left: 0;
      }

      &::after {
        height: $fd-radio-inner-content-size-compact;
        width: $fd-radio-inner-content-size-compact;
        top: $fd-radio-inner-content-padding-compact;
        left: $fd-radio-inner-content-padding-compact;
      }

      @include fd-rtl() {
        &::before {
          margin-left: $fd-radio-outer-circle-margin-compact;
          margin-right: 0;
          padding-left: 0;
        }

        &::after {
          right: $fd-radio-inner-content-padding-compact;
        }
      }

      @include fd-empty() {
        padding: $fd-radio-outer-circle-margin-compact;
        margin: 0;

        &::before,
        &::after {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }

    @include fd-focus() {
      + .#{$block}__label {
        @include fd-form-radio-focus($fd-radio-outer-circle-margin-compact);
      }
    }
  }
}
