@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-radio
*/
$block: #{$fd-namespace}-radio;

$fd-radio-outer-circle-diameter: 1.375rem;
$fd-radio-outer-circle-diameter-compact: 1rem;
$fd-radio-outer-circle-margin: 0.6875rem;
$fd-radio-outer-circle-margin-compact: 0.5rem;

$fd-radio-inner-circle-diameter: 0.625rem;
$fd-radio-inner-circle-diameter-compact: 0.375rem;

.#{$block} {
  @include fd-form-base();
  @include action-cursor();

  height: $fd-radio-outer-circle-diameter;
  width: $fd-radio-outer-circle-diameter;
  margin: $fd-radio-outer-circle-margin;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sapField_Background);
  border: var(--sapField_BorderWidth) solid var(--sapField_BorderColor);

  &::after {
    content: "";
    border-radius: 50%;
    width: $fd-radio-inner-circle-diameter;
    height: $fd-radio-inner-circle-diameter;
    background-color: transparent;
  }

  &--compact {
    height: $fd-radio-outer-circle-diameter-compact;
    width: $fd-radio-outer-circle-diameter-compact;
    margin: $fd-radio-outer-circle-margin-compact;

    &::after {
      width: $fd-radio-inner-circle-diameter-compact;
      height: $fd-radio-inner-circle-diameter-compact;
    }
  }

  &:checked {
    &::after {
      background-color: var(--sapSelectedColor);
    }
  }

  // states
  @include fd-hover() {
    background-color: var(--sapField_Hover_Background);
    border-color: var(--sapField_Hover_BorderColor);

    @include fd-disabled() {
      border-color: var(--sapField_BorderColor);
    }
  }

  &.is-invalid {
    background-color: var(--sapField_InvalidBackground);
    border: 0.125rem solid var(--sapField_InvalidColor);

    &:checked {
      &::after {
        background-color: var(--sapField_InvalidColor);
      }
    }

    @include fd-hover() {
      @include fd-disabled() {
        border-color: var(--sapField_InvalidColor);
      }
    }
  }

  &.is-valid {
    background-color: var(--sapField_SuccessBackground);
    border: var(--sapField_BorderWidth) solid var(--sapField_SuccessColor);

    &:checked {
      &::after {
        background-color: var(--sapField_SuccessColor);
      }
    }

    @include fd-hover() {
      @include fd-disabled() {
        border-color: var(--sapField_SuccessColor);
      }
    }
  }

  &.is-warning,
  &.is-alert {
    background-color: var(--sapField_WarningBackground);
    border: 0.125rem solid var(--sapField_WarningColor);

    &:checked {
      &::after {
        background-color: var(--sapField_TextColor);
      }
    }

    @include fd-hover() {
      @include fd-disabled() {
        border-color: var(--sapField_WarningColor);
      }
    }
  }

  &.is-information {
    background-color: var(--sapField_InformationBackground);
    border: 0.125rem solid var(--sapField_InformationColor);

    &:checked {
      &::after {
        background-color: var(--sapField_InformationColor);
      }
    }

    @include fd-hover() {
      @include fd-disabled() {
        border-color: var(--sapField_InformationColor);
      }
    }
  }

  &[readonly],
  &.is-readonly {
    background-color: var(--sapField_ReadOnly_Background);
    border-color: var(--sapField_ReadOnly_BorderColor);

    &:checked {
      &::after {
        background-color: var(--sapContent_NonInteractiveIconColor);
      }
    }
  }

  @include fd-focus() {
    outline: none;
    box-shadow: none;
  }

  @include fd-disabled() {
    pointer-events: none;
    opacity: 0.4;
  }
}
