@import './new-settings';
@import './mixins';
@import './icon';

$block: #{$fd-namespace}-resizable-card;

$fd-resize-handle-width: 0.0625rem;
$fd-border-on-drag: 0.125rem dashed var(--sapContent_DragAndDropActiveColor);

.#{$block} {
  @include fd-reset();

  position: relative;

  &__card {
    @include fd-reset();

    float: left;
    // some width taken by vertical handler
    width: calc(100% - 0.0625rem);
    height: 100%;

    @include fd-rtl() {
      float: right;
    }
  }

  &__resize {
    &__cursor {
      &--horizontal {
        @include fd-reset();

        cursor: ew-resize;
      }

      &--vertical {
        @include fd-reset();

        cursor: ns-resize;
      }

      &--both {
        @include fd-reset();

        cursor: nwse-resize;

        @include fd-rtl() {
          cursor: nesw-resize;
        }
      }
    }

    &__handle {
      &--vertical-handle {
        @include fd-reset();

        float: right;
        // subtract resize-corner icon font-size/2
        height: calc(100% - 0.5rem);
        width: $fd-resize-handle-width;
        cursor: ew-resize;

        @include fd-rtl() {
          float: left;
        }
      }

      &--vertical-handle::after {
        content: '';
        position: absolute;
      }

      &--horizontal-handle {
        @include fd-reset();

        // subtract resize-corner icon font-size/2
        width: calc(100% - 0.5rem);
        height: $fd-resize-handle-width;
        position: absolute;
        bottom: 0;
        cursor: ns-resize;
      }
    }

    &--indication-border {
      @include fd-reset();

      border: $fd-border-on-drag;
    }

    &--icon {
      @include fd-reset();
      @include fd-icon('resize-corner');

      font-size: 1rem;
      color: var(--sapContent_DragAndDropActiveColor);
      position: absolute;
      // positioning icon at bottom corner
      bottom: -0.3rem;
      right: 0.125rem;
      z-index: 1;
      cursor: nwse-resize;

      @include fd-rtl() {
        right: auto;
        transform: rotate(90deg);
        // after rotation positioning icon at left bottom corner
        left: 0.25rem;
        bottom: -0.45rem;
        cursor: nesw-resize;
      }
    }
  }
}
