@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-select;

.#{$block} {
  $fd-select-padding-x: 0.625rem;
  $fd-select-padding-compact-x: 0.5rem;
  $fd-select-button-active-text-color: var(--sapButton_Active_TextColor);
  $fd-select-button-active-background: var(--sapButton_Active_Background);
  $fd-select-button-active-focus-color: var(--sapContent_ContrastFocusColor);

  @include fd-reset();

  display: block;
  padding-right: 0;
  min-width: 5rem;

  &__control {
    @include fd-form-base();

    height: $fd-form-input-height;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    padding-left: $fd-select-padding-x;

    .#{$block}__button {
      border-radius: 0;
      margin-left: 0.5rem;
      color: var(--sapContent_IconColor);
      border: none;

      @include fd-hover() {
        border: none;
      }
    }

    @include fd-fiori-focus();
    @include fd-form-states();

    @include fd-rtl() {
      text-align: right;
      padding-right: $fd-select-padding-x;
      padding-left: 0;
    }

    @include fd-hover() {
      .#{$block}__button {
        background-color: var(--sapButton_Lite_Hover_Background);
      }
    }

    &.is-expanded {
      .#{$block}__button {
        background-color: $fd-select-button-active-background;
        color: $fd-select-button-active-text-color;

        @include fd-fiori-focus() {
          outline-color: $fd-select-button-active-focus-color;
        }
      }
    }

    @include fd-active() {
      .#{$block}__button {
        background-color: $fd-select-button-active-background;
        color: $fd-select-button-active-text-color;

        @include fd-fiori-focus() {
          outline-color: $fd-select-button-active-focus-color;
        }
      }
    }

    &.is-readonly {
      padding-right: $fd-select-padding-x;
      padding-left: $fd-select-padding-x;
      cursor: text;
    }
  }

  &__text {
    font-size: var(--sapFontSize);
  }

  &--compact {
    .#{$block}__control {
      height: $fd-form-input-height--compact;
      padding-left: $fd-select-padding-compact-x;

      @include fd-rtl() {
        text-align: right;
        padding-right: $fd-select-padding-compact-x;
        padding-left: 0;
      }

      &.is-readonly {
        padding-right: $fd-select-padding-compact-x;
        padding-left: $fd-select-padding-compact-x;
      }
    }
  }

  @include fd-rtl() {
    .#{$block}__control {
      .#{$block}__button {
        margin-left: 0;
        margin-right: 0.5rem;
      }
    }
  }
}
