@import "./settings";
@import "./mixins";
@import "./functions";
@import "./product-menu";
@import "./search-input";

$block: #{$fd-namespace}-shellbar;

.#{$block} {

  // Brand
  $fd-shellbar-logo-height: 24px !default;
  $fd-shellbar-logo-width: 48px !default;
  $fd-shellbar-logo-background-image-url: "data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MTIuMzggMjA0Ij48ZGVmcz48c3R5bGU+LmNscy0xLC5jbHMtMntmaWxsLXJ1bGU6ZXZlbm9kZH0uY2xzLTF7ZmlsbDp1cmwoI2xpbmVhci1ncmFkaWVudCl9LmNscy0ye2ZpbGw6I2ZmZn08L3N0eWxlPjxsaW5lYXJHcmFkaWVudCBpZD0ibGluZWFyLWdyYWRpZW50IiB4MT0iMjA2LjE5IiB4Mj0iMjA2LjE5IiB5Mj0iMjA0IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjMDBiOGYxIi8+PHN0b3Agb2Zmc2V0PSIuMDIiIHN0b3AtY29sb3I9IiMwMWI2ZjAiLz48c3RvcCBvZmZzZXQ9Ii4zMSIgc3RvcC1jb2xvcj0iIzBkOTBkOSIvPjxzdG9wIG9mZnNldD0iLjU4IiBzdG9wLWNvbG9yPSIjMTc3NWM4Ii8+PHN0b3Agb2Zmc2V0PSIuODIiIHN0b3AtY29sb3I9IiMxYzY1YmYiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMxZTVmYmIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48dGl0bGU+U0FQX2dyYWRfUl9zY3JuX1plaWNoZW5mbMOkY2hlIDE8L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTAgMjA0aDIwOC40MUw0MTIuMzggMEgwdjIwNCIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTI0NC43MyAzOC4zNmgtNDAuNnY5Ni41MmwtMzUuNDYtOTYuNTVoLTM1LjE2bC0zMC4yNyA4MC43MkMxMDAgOTguNyA3OSA5MS42NyA2Mi40IDg2LjQgNTEuNDYgODIuODkgMzkuODUgNzcuNzIgNDAgNzJjLjA5LTQuNjggNi4yMy05IDE4LjM4LTguMzggOC4xNy40MyAxNS4zNyAxLjA5IDI5LjcxIDhsMTQuMS0yNC41NUM4OS4wNiA0MC40MiA3MSAzNi4yMSA1Ni4xNyAzNi4xOWgtLjA5Yy0xNy4yOCAwLTMxLjY4IDUuNi00MC42IDE0LjgzQTM0LjIzIDM0LjIzIDAgMCAwIDUuNzcgNzQuN0M1LjU0IDg3LjE1IDEwLjExIDk2IDE5LjcxIDEwM2M4LjEgNS45NCAxOC40NiA5Ljc5IDI3LjYgMTIuNjIgMTEuMjcgMy40OSAyMC40NyA2LjUzIDIwLjM2IDEzQTkuNTcgOS41NyAwIDAgMSA2NSAxMzVjLTIuODEgMi45LTcuMTMgNC0xMy4wOSA0LjEtMTEuNDkuMjQtMjAtMS41Ni0zMy42MS05LjU5TDUuNzcgMTU0LjQyYTkzLjc3IDkzLjc3IDAgMCAwIDQ2IDEyLjIyaDIuMTFjMTQuMjQtLjI1IDI1Ljc0LTQuMzEgMzQuOTItMTEuNzEuNTMtLjQxIDEtLjg0IDEuNDktMS4yOGwtNC4xMiAxMC44NUgxMjNsNi4xOS0xOC44MmE2Ny40NiA2Ny40NiAwIDAgMCAyMS42OCAzLjQzIDY4LjMzIDY4LjMzIDAgMCAwIDIxLjE2LTMuMjVsNiAxOC42NGg2MC4xNHYtMzloMTMuMTFjMzEuNzEgMCA1MC40Ni0xNi4xNSA1MC40Ni00My4yIDAtMzAuMTEtMTguMjItNDMuOTQtNTcuMDEtNDMuOTR6TTE1MC45MSAxMjFhMzYuOTMgMzYuOTMgMCAwIDEtMTMtMi4yOGwxMi44Ny00MC41OWguMjJsMTIuNjUgNDAuNzFhMzguNSAzOC41IDAgMCAxLTEyLjc0IDIuMTZ6bTk2LjItMjMuMzNoLTguOTRWNjQuOTFoOC45NGMxMS45MyAwIDIxLjQ0IDQgMjEuNDQgMTYuMTQgMCAxMi42LTkuNTEgMTYuNTctMjEuNDQgMTYuNTciLz48L3N2Zz4=" !default;

  // Paddings
  $fd-shellbar-item-spacing: 0.5rem !default;

  // Heights
  $fd-shellbar-height: 2.75rem !default;
  $fd-shellbar-copilot-width: 30px !default;

  // Colors
  $fd-shellbar-color: var(--sapShell_TextColor) !default; // White
  $fd-shellbar-background-color: transparent !default;
  $fd-field-border-color: var(--sapField_BorderColor) !default;
  $fd-shell-active-text-color: var(--sapShell_Active_TextColor) !default;

  // Background
  $fd-shellbar-background: var(--sapShellColor) !default;
  $fd-shell-hover-background: var(--sapShell_Hover_Background) !default;
  $fd-shell-active-background: var(--sapShell_Active_Background) !default;
  $fd-content-badge-background: var(--sapContent_BadgeBackground) !default;

  // Box shadow
  $fd-shellbar-box-shadow: inset 0 -0.0625rem 0 0 var(--sapShellBorderColor) !default;

  @include fd-reset();

  background-color: $fd-shellbar-background;
  box-shadow: $fd-shellbar-box-shadow;
  height: $fd-shellbar-height;
  display: flex;
  align-items: center;
  color: $fd-shellbar-color;
  position: relative;
  justify-content: space-between;
  padding: 0 1rem;

  &__group {
    @include fd-reset();

    display: flex;
    align-items: center;
    flex: 1;

    &--product {
      justify-content: flex-start;
      order: 1;
    }

    &--copilot {
      justify-content: center;
      order: 2;

      .#{$block}__button {
        padding-left: 0;
      }
    }

    &--actions {
      justify-content: flex-end;
      order: 3;
    }

    .#{$block}__product-menu {
      cursor: pointer;
      color: $fd-shellbar-color;
      background: $fd-shellbar-background-color;

      &:hover {
        background: $fd-shell-hover-background;
      }

      &:active,
      &:focus {
        background: $fd-shell-active-background;
        color: $fd-shell-active-text-color;
      }
    }

    .#{$block}__identifier--circle {
      background-color: var(--sapAccentColor6);
    }
  }

  &__title,
  &__subtitle {
    @include fd-reset();

    color: var(--sapShell_TextColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;

    @include fd-screen(m) {
      display: inline-block;
    }
  }

  &__subtitle {
    padding: 0 16px;
    font-size: var(--sapFontSmallSize);

    // Show only on desktop, hide on s
    @include fd-screen(s) {
      display: none;
    }

    @include fd-screen(m) {
      display: none;
    }

    @include fd-screen(l) {
      display: inline-block;
    }
  }

  &__logo,
  &__product,
  &__subtitle {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0;
    padding-left: $fd-shellbar-item-spacing;

    @include fd-rtl() {
      padding-right: $fd-shellbar-item-spacing;
      padding-left: 0;
    }
  }

  &__title {
    font-weight: bold;
    padding-right: 0;
    vertical-align: middle;

    @include fd-rtl() {
      padding-right: $fd-shellbar-item-spacing;
      padding-left: 0;
    }
  }

  &__logo {
    @include fd-reset();

    padding-right: 0;

    @include fd-rtl() {
      padding-left: 0;
    }

    max-height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    // the logo inside the menu (show only on small screen)
    @include fd-screen(m) {
      display: inline-block;
      margin-right: fd-space("tiny");

      @include fd-rtl() {
        margin-right: 0;
        margin-left: fd-space("tiny");
      }
    }

    > * {
      line-height: 0;
      max-height: fd-space(10);
      width: auto;
      display: block;
    }

    &--image-replaced {
      background-image: url(#{$fd-shellbar-logo-background-image-url});
      width: $fd-shellbar-logo-width;
      height: $fd-shellbar-logo-height;
    }
  }

  &__action {
    @include fd-reset();

    padding-right: 0;
    padding-left: $fd-shellbar-item-spacing;

    @include fd-rtl() {
      padding-right: $fd-shellbar-item-spacing;
      padding-left: 0;
    }

    > * {
      vertical-align: middle;
    }

    &--mobile {
      // Show only on s, hide on desktop
      @include fd-screen(s) {
        display: inline-block;
      }

      @include fd-screen(m) {
        display: inline-block;
      }

      @include fd-screen(l) {
        display: none;
      }
    }

    &--desktop {
      // Show only on l, hide on s
      @include fd-screen(s) {
        display: none;
      }

      @include fd-screen(m) {
        display: none;
      }

      @include fd-screen(l) {
        display: inline-block;
      }
    }

    .#{$block}__counter--notification {
      max-width: 2.5rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: absolute;
      background: $fd-content-badge-background;
      border: $fd-content-badge-background;
      color: $fd-shellbar-color;
      line-height: 0.8;
      top: 10px;
      max-height: 16px;
      overflow: hidden;
    }

    .#{$block}__input-group__addon {
      background-color: $fd-shellbar-background-color;

      .#{$block}__button {
        border-radius: 0;
      }
    }

    .#{$block}__input-group {
      background-color: $fd-shellbar-background-color;
      cursor: text;

      &:hover {
        border-color: $fd-field-border-color;
      }

      .#{$block}__input-group__input {
        border: none;
        color: $fd-shellbar-color;

        &:hover {
          background-color: $fd-shell-hover-background;
        }
      }
    }
  }

  &__popover__body--right {
    &::before,
    &::after {
      right: 14px; // needed to place the popover body arrow under the button arrow icon
    }
  }

  .#{$fd-namespace}-button.#{$block}__button {
    @include fd-button-reset();
    @include fd-icon-size("m", "before");
    @include fd-icon-size("m", "after");

    border-color: transparent;
    background: $fd-shellbar-background-color;
    color: $fd-shellbar-color;

    &:hover {
      background: $fd-shell-hover-background;
    }

    &:active {
      background: $fd-shell-active-background;
    }

    &:hover,
    &:active {
      color: $fd-shell-active-text-color;
    }

    @include fd-hover() {
      @include fd-disabled() {
        background: $fd-shellbar-background-color;
      }
    }

    &.sap-icon--bell {
      &::before {
        margin-right: 0;
      }
    }
  }

  .#{$fd-namespace}-button.#{$block}__button--menu {
    font-size: var(--sapFontSize);

    &::after {
      color: $fd-shellbar-color;
    }

    &:hover {
      background: $fd-shell-hover-background;
      border-color: transparent;
    }

    &:active,
    &:focus {
      background: $fd-shell-active-background;
      color: $fd-shell-active-text-color;
    }
  }
}
