@import "./new-settings";
@import "./mixins";
@import "./functions";
@import "./nested-list";

/*!
.fd-side-nav
    .fd-side-nav__group
        .fd-side-nav__title
        .fd-side-nav__list
            .fd-side-nav__item
                .fd-side-nav__link (.has-child, .is-active, .is-expanded)
                .fd-side-nav__sublist
                    .fd-side-nav__subitem
                    .fd-side-nav__sublink (.is-active)
*/

$block: #{$fd-namespace}-side-nav;

.#{$block} {
  @include fd-reset();

  background-color: var(--sapList_Background);
  width: 15rem;
  border-right: var(--sapList_BorderWidth) solid;
  border-right-color: var(--sapGroup_ContentBorderColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__main-navigation {
    @include fd-reset();
  }

  &__utility {
    @include fd-reset();

    margin-top: 3rem;

    &::before {
      content: " ";
      display: block;
      border-top: 0.125rem solid;
      border-top-color: var(--sapList_GroupHeaderBorderColor);
      margin: 0.25rem 0.5rem;
    }
  }

  &--condensed {
    width: 2.75rem;

    .#{$fd-namespace}-nested-list {
      &__title,
      &__group-header,
      &__expand-icon {
        display: none;
      }

      &__link,
      &__content {
        border-bottom: none;

        @include fd-selected() {
          border-bottom: var(--sapList_BorderWidth) solid;
          border-bottom-color: var(--sapList_SelectionBorderColor);
        }

        &.has-child {
          position: relative;

          &::after {
            content: "";
            min-width: 0;
            min-height: 0;
            margin-right: 0.125rem;
            margin-bottom: 0.1875rem;
            border-style: solid;
            border-width: 0.375rem 0.375rem 0 0;
            border-color: transparent var(--sapContent_IconColor) transparent transparent;
            right: 0;
            bottom: 0;
            position: absolute;
          }
        }
      }
    }
  }

  .#{$fd-namespace}-nested-list {
    &__icon {
      color: var(--sapContent_IconColor);
    }

    &__link {
      &.has-child {
        &::after {
          color: var(--sapContent_IconColor);
        }

        &:active::after {
          color: var(--sapList_Active_TextColor);
        }
      }
    }
  }
}
