@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-side-nav
    .fd-side-nav__group
        .fd-side-nav__title
        .fd-side-nav__list
            .fd-side-nav__item
                .fd-side-nav__link (.has-child, .is-active, .is-expanded)
                .fd-side-nav__sublist
                    .fd-side-nav__subitem
                    .fd-side-nav__sublink (.is-active)
*/

$block: #{$fd-namespace}-side-nav;

.#{$block} {
  // LOCAL VARS *******************************************
  $fd-side-nav-width: 15rem;
  $fd-side-nav-width--condensed: 2.75rem;

  $fd-side-nav-item-height: 2.75rem;
  $fd-side-nav-item-height--compact: 2rem;

  $fd-side-nav-icon-height: 2.75rem;
  $fd-side-nav-icon-height--compact: 2rem;
  $fd-side-nav-icon-width: 2.75rem;
  $fd-side-nav-icon-arrow-width: 2.5rem;

  $fd-side-nav-padding: 1rem;
  $fd-side-nav-padding-2: 1.75rem;
  $fd-side-nav-padding-3: 2.75rem;

  $fd-side-nav-separator-margin: 0.25rem 0.875rem;
  $fd-side-nav-separator-margin--condensed: 0.25rem 0.5rem;
  $fd-side-nav-utility-margin: 3rem;

  $fd-side-nav-border: var(--sapList_BorderWidth) solid;

  // MIXINS *******************************************
  @mixin fd-side-nav-arrow {
    font-family: "SAP-icons";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    text-decoration: inherit;
    text-transform: none;
    speak: none;
  }

  @mixin fd-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin fd-flex-vertical-align {
    display: flex;
    align-items: center;
  }

  // BLOCK BASE *******************************************
  @include fd-reset();

  background-color: var(--sapList_Background);
  width: $fd-side-nav-width;
  border-right: $fd-side-nav-border;
  border-right-color: var(--sapGroup_ContentBorderColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // ELEMENTS *******************************************
  &__main-navigation,
  &__item,
  &__subitem {
    @include fd-reset();
  }

  &__utility {
    @include fd-reset();

    margin-top: $fd-side-nav-utility-margin;

    &::before {
      content: " ";
      display: block;
      border-top: 0.125rem solid;
      border-top-color: var(--sapList_GroupHeaderBorderColor);
      margin: $fd-side-nav-separator-margin;
    }
  }

  &__list,
  &__sublist {
    @include fd-reset();

    list-style-type: none;
  }

  &__sublist {
    &[aria-hidden="true"] {
      display: none;
    }
  }

  &__item {
    &.no-icon {
      .#{$block}__text:first-child {
        padding-left: $fd-side-nav-padding-3;
      }
    }

    &.has-child {
      .#{$block}__link {
        &::after {
          @include fd-flex-center();
          @include fd-side-nav-arrow();

          min-height: $fd-side-nav-icon-height;
          min-width: $fd-side-nav-icon-arrow-width;
          color: var(--sapContent_IconColor);
          content: "\e066";
        }

        &.is-expanded,
        &[aria-expanded="true"] {
          border-bottom: none;

          &::after {
            content: "\e1e2";
          }
        }

        &:active::after {
          color: var(--sapList_Active_TextColor);
        }
      }
    }
  }

  &__subitem {
    &[aria-hidden="true"] {
      display: none;
    }

    &:last-child {
      .#{$block}__sublink {
        border-bottom: $fd-side-nav-border;
        border-bottom-color: var(--sapList_BorderColor);
      }
    }
  }

  &__link,
  &__sublink {
    @include fd-reset();

    list-style: none;
    text-decoration: none;

    @include fd-flex-vertical-align();

    height: $fd-side-nav-item-height;
    border-bottom: $fd-side-nav-border;
    border-bottom-color: var(--sapList_BorderColor);

    &:hover {
      background-color: var(--sapList_Hover_Background);
    }

    &:active {
      background-color: var(--sapList_Active_Background);

      .#{$block}__text,
      .#{$block}__icon {
        color: var(--sapList_Active_TextColor);
      }
    }

    &.is-selected,
    &[aria-selected="true"] {
      background-color: var(--sapList_SelectionBackgroundColor);
      border-bottom-color: var(--sapSelectedColor);

      &:hover {
        background-color: var(--sapList_Hover_SelectionBackground);
      }

      &:active {
        background-color: var(--sapList_Active_Background);

        .#{$block}__text,
        .#{$block}__icon {
          color: var(--sapList_Active_TextColor);
        }
      }
    }
  }

  &__sublink {
    padding-left: $fd-side-nav-padding;
    border-bottom: none;

    &.is-selected,
    &[aria-selected="true"] {
      border-bottom: $fd-side-nav-border;
      border-bottom-color: var(--sapSelectedColor);
    }
  }

  &__icon {
    @include fd-reset();
    @include fd-flex-center();

    min-height: $fd-side-nav-icon-height;
    min-width: $fd-side-nav-icon-width;
    color: var(--sapContent_IconColor);
    line-height: 1.25rem;

    &[class*="sap-icon"]::before {
      font-size: 1.125rem;
    }
  }

  &__text {
    @include fd-reset();

    font-size: var(--sapFontLargeSize);
    width: 100%;
    color: var(--sapList_TextColor);
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: $fd-side-nav-padding;

    &:first-child {
      padding-left: $fd-side-nav-padding;
    }
  }

  &.condensed {
    width: $fd-side-nav-width--condensed;

    .#{$block} {
      &__text {
        display: none;
      }

      &__link {
        border-bottom: none;

        &.is-selected,
        &[aria-selected="true"] {
          border-bottom: $fd-side-nav-border;
          border-bottom-color: var(--sapSelectedColor);
        }
      }

      &__item {
        &.no-icon {
          display: none;
        }

        &.has-child {
          .#{$block}__link {
            position: relative;
          }

          .#{$block}__link::after {
            content: "";
            min-width: 0;
            min-height: 0;
            margin-right: 0.125rem;
            margin-bottom: 0.1875rem;
            border-style: solid;
            border-width: 0.375rem 0.375rem 0 0;
            border-color: transparent var(--sapContent_IconColor) transparent transparent;
            right: 0;
            bottom: 0;
            position: absolute;
          }
        }
      }

      &__utility {
        &::before {
          margin: $fd-side-nav-separator-margin--condensed;
        }
      }
    }
  }

  &.has-icons {
    .#{$block}__sublink {
      padding-left: $fd-side-nav-padding-2;
    }
  }

  &.compact {
    .#{$block} {
      &__link,
      &__sublink {
        height: $fd-side-nav-item-height--compact;
      }

      &__icon,
      &__item.has-child .#{$block}__link::after {
        min-height: $fd-side-nav-icon-height--compact;
        font-size: 1rem;
      }

      &__text {
        font-size: var(--sapFontSize);
      }
    }

    .#{$block}__icon[class*="sap-icon"]::before {
      font-size: 1rem;
    }
  }
}
