@import "./new-settings";
@import "./mixins";
@import "./icon";

$block: #{$fd-namespace}-status-indicator;

$fd-status-indicator-sizes: (
  "sm": ("width": 1.875rem, "height": 1.375rem, "font-size":  var(--sapFontSmallSize, 0.75rem), "margin": 0.375rem),
  "md": ("width": 2.8125rem, "height": 1.875rem, "font-size":  var(--sapFontSize, 0.875rem), "margin": 0.5rem),
  "lg": ("width": 5rem, "height": 3.4375rem, "font-size": 1.125rem, "margin": 0.75rem),
  "xl": ("width": 9.0625rem, "height": 6.25rem, "font-size": 1.875rem, "margin": 1rem)
);
$color-states: (
  "positive": ("color": var(--sapPositiveElementColor)),
  "critical": ("color": var(--sapCriticalElementColor)),
  "negative": ("color": var(--sapNegativeElementColor)),
);

.#{$block} {

  $fd-status-indicator-default-color-stroke: var(--sapNeutralElementColor) !default;
  $fd-status-indicator-default-color-stroke-width: 0.25 !default;
  $fd-status-indicator-default-color-fill: transparent !default;
  $fd-status-indicator-default-color: var(--sapContent_LabelColor) !default;

  font-family: var(--sapFontFamily);
  border-color: var(--sapContent_ForegroundBorderColor);
  display: inline-flex;
  color: $fd-status-indicator-default-color;
  stroke: $fd-status-indicator-default-color-stroke;
  stroke-width: $fd-status-indicator-default-color-stroke-width;
  fill: $fd-status-indicator-default-color-fill;
  flex-direction: column;
  align-items: center;

  @include fd-focus() {
    outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    outline-offset: var(--sapContent_FocusWidth);
  }

  @include fd-reset();

  &--horizontal-label {
    @include fd-reset();

    flex-direction: unset;
  }

  &--link {
    cursor: pointer;
  }

  @each $set-name, $color-set in $color-states {
    &--#{$set-name} {
      fill: map_get($color-set, "color");
      color: map_get($color-set, "color");
    }
  }

  // sizes
  @each $set-name, $size-set in $fd-status-indicator-sizes {
    &--#{$set-name} {
      @include fd-reset-spacing();

      width: map-get($size-set, 'width');
      height: map-get($size-set, 'height');
    }
    &__label--#{$set-name} {
      font-size: map-get($size-set, 'font-size');
      margin: map-get($size-set, 'margin');
    }
  }
}
