@import "./new-settings";
@import "./mixins";

/*!
.fd-switch+(--no-border)
    .fd-switch__content+()
    .fd-switch__title+()
*/
$block: #{$fd-namespace}-switch;

.#{$block} {

  $fd-switch-off-opacity: 0;
  $fd-switch-transition: all 0.1s;
  $fd-switch-active-border-color: var(--sapButton_Selected_BorderColor);
  $fd-switch-inactive-border-color: var(--sapContent_ForegroundBorderColor);
  $fd-switch-inactive-handle-background: var(--sapButton_Background);

  $fd-switch-hover-border-color: var(--sapButton_Hover_BorderColor);
  $fd-switch-hover-selected-border-color: var(--sapButton_Selected_Hover_BorderColor);
  $fd-switch-success-border-color: var(--sapSuccessBorderColor);
  $fd-switch-error-border-color: var(--sapErrorBorderColor);
  $fd-switch-border-width: var(--sapButton_BorderWidth);
  $fd-switch-handle-border-width: var(--fdSwitch_Handle_Border_Width);
  $fd-switch-slider-on-hover-background: var(--fdSwitch_On_Hover_Slider_Background);
  $fd-switch-semantic-success-border-color: var(--fdSwitch_Semantic_Success_Border_Color);
  $fd-switch-semantic-success-background-color: var(--fdSwitch_Semantic_Success_Background_Color);
  $fd-switch-semantic-error-border-color: var(--fdSwitch_Semantic_Error_Border_Color);
  $fd-switch-semantic-error-background-color: var(--fdSwitch_Semantic_Error_Background_Color);
  $fd-switch-semantic-success-handle-hover-background-color: var(--fdSwitch_Semantic_Success_Handle_Hover_Background_Color);
  $fd-switch-semantic-error-icon-color: var(--fdSwitch_Semantic_Error_Icon_Color);

  $fd-switch-label-width: 1.75rem;

  $fd-switch-handle-size: 1.875rem;
  $fd-switch-handle-compact-size: 1.5rem;

  $fd-switch-track-compact-offset: 0.8125rem;
  $fd-switch-track-offset: 1.1875rem;
  $fd-switch-track-semantic-offset: 1.9375rem;
  $fd-switch-track-border-offset: 0.0625rem;

  @include fd-reset();
  @include fd-form-label();

  overflow: initial;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;

  @include fd-disabled() {
    cursor: auto;
    pointer-events: none;
    opacity: var(--sapContent_DisabledOpacity);
  }

  &__control {
    display: inline-block;
    position: relative;
    padding: 0.375rem 0;
  }

  &__slider {
    @include fd-reset();

    background-color: var(--sapButton_Track_Background);
    box-sizing: content-box;
    width: 3.125rem;
    height: 1.25rem;
    border: $fd-switch-border-width solid $fd-switch-inactive-border-color;
    transition: $fd-switch-transition;
    border-radius: 0.75rem;
  }

  &__track {
    @include fd-reset();

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translate(-$fd-switch-track-offset, -50%);
    transition: $fd-switch-transition;
    min-width: 4.25rem;
  }

  &__text {
    @include fd-form-label();

    align-self: auto;
    cursor: inherit;
  }

  &__icon {
    @include fd-icon-selector() {
      @include fd-flex-center();

      width: $fd-switch-label-width;
      min-width: $fd-switch-label-width;
      font-size: 0.75rem;
      line-height: 1.375rem;
      transition: visibility 0s ease 0.03s, opacity 0s ease 0.03s;
    }

    &--off {
      @include fd-icon-selector() {
        color: var(--sapNegativeElementColor);
        margin: 0 0.125rem 0 0;
      }
    }

    &--on {
      @include fd-icon-selector() {
        color: var(--sapPositiveElementColor);
        margin: 0 0 0 0.125rem;
        visibility: hidden;
        opacity: $fd-switch-off-opacity;
      }
    }
  }

  &__handle {
    @include fd-reset();

    box-sizing: content-box;
    border: $fd-switch-handle-border-width solid $fd-switch-inactive-border-color;
    background-color: $fd-switch-inactive-handle-background;
    min-width: $fd-switch-handle-size;
    min-height: $fd-switch-handle-size;
    border-radius: 1rem;
    background-clip: padding-box;
  }

  &__input {
    @include fd-reset();

    opacity: $fd-switch-off-opacity;
    width: 0;
    height: 0;
    position: absolute;

    &::before,
    &::after {
      display: none;
    }

    &:hover,
    &:active {
      border-color: transparent;
    }
  }

  @include fd-disabled() {
    pointer-events: none;
    opacity: var(--sapContent_DisabledOpacity);
  }

  &__input:focus + .#{$block}__slider {
    &::before {
      position: absolute;
      display: block;
      outline-offset: -0.0625rem;
      border-width: var(--sapContent_FocusWidth);
      border-color: var(--sapContent_FocusColor);
      border-style: var(--sapContent_FocusStyle);
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__input:checked + &__slider {
    background-color: var(--sapButton_Track_Selected_Background);
    border-color: $fd-switch-active-border-color;

    .#{$block}__handle {
      background-color: var(--sapButton_Selected_Background);
      border-color: $fd-switch-active-border-color;
    }

    .#{$block}__track {
      transform: translate($fd-switch-track-border-offset, -50%);
    }

    .#{$block}__icon {
      &--off {
        @include fd-icon-selector() {
          opacity: $fd-switch-off-opacity;
          visibility: hidden;
        }
      }

      &--on {
        @include fd-icon-selector() {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  @include fd-rtl() {
    .#{$block}__icon {
      &--on {
        margin: 0 0.125rem 0 0;
      }

      &--off {
        margin: 0 0 0 0.125rem;
      }
    }

    .#{$block}__track {
      transform: translate($fd-switch-track-offset, -50%);
    }

    .#{$block}__input:checked + .#{$block}__slider {
      .#{$block}__track {
        transform: translate(-$fd-switch-track-border-offset, -50%);
      }
    }
  }

  @include fd-hover() {
    .#{$block}__slider {
      border-color: $fd-switch-hover-border-color;
    }

    .#{$block}__handle {
      border-color: $fd-switch-hover-border-color;
      background-color: var(--sapButton_Hover_Background);
    }

    .#{$block}__input:checked + .#{$block}__slider {
      background-color: $fd-switch-slider-on-hover-background;

      .#{$block}__handle {
        border-color: $fd-switch-hover-selected-border-color;
        background-color: var(--sapButton_Selected_Hover_Background);
      }
    }
  }

  &--compact {
    padding: 0.25rem 0;

    .#{$block}__handle {
      min-width: $fd-switch-handle-compact-size;
      min-height: $fd-switch-handle-compact-size;
    }

    .#{$block}__slider {
      width: 2.375rem;
      height: 1rem;
    }

    .#{$block}__track {
      transform: translate(-$fd-switch-track-compact-offset, -50%);
      min-width: 3.125rem;
    }

    @include fd-rtl() {
      .#{$block}__track {
        transform: translate($fd-switch-track-compact-offset, -50%);
      }
    }
  }

  &--semantic {
    .#{$block}__slider {
      width: 3.75rem;
      height: 1.25rem;
      border-color: $fd-switch-error-border-color;
      background-color: var(--sapErrorBackground);
    }

    .#{$block}__track {
      transform: translate(-$fd-switch-track-semantic-offset, -50%);
    }

    .#{$block}__handle {
      background-color: $fd-switch-inactive-handle-background;
      border-color: $fd-switch-error-border-color;
    }

    .#{$block}__input:checked + .#{$block}__slider {
      background-color: $fd-switch-semantic-success-background-color;
      border-color: $fd-switch-success-border-color;

      .#{$block}__track {
        transform: translate(-$fd-switch-track-border-offset, -50%);
      }

      .#{$block}__handle {
        border-color: $fd-switch-success-border-color;
        background-color: $fd-switch-inactive-handle-background;
      }
    }

    &.#{$block}--compact {
      padding: 0.1875rem 0;

      .#{$block}__slider {
        width: 3.375rem;
        height: 1.25rem;
      }
    }

    @include fd-hover() {

      .#{$block}__icon {
        color: $fd-switch-semantic-error-border-color;
      }

      .#{$block}__slider {
        border-color: $fd-switch-semantic-error-icon-color;
      }

      .#{$block}__handle {
        background-color: $fd-switch-semantic-error-background-color;
        border-color: $fd-switch-semantic-error-border-color;
      }

      .#{$block}__input:checked + .#{$block}__slider {
        background-color: $fd-switch-semantic-success-background-color;
        border-color: $fd-switch-semantic-success-border-color;
        .#{$block}__handle {
          background-color: $fd-switch-semantic-success-handle-hover-background-color;
          border-color: $fd-switch-semantic-success-border-color;
        }
        .#{$block}__icon {
          color: $fd-switch-semantic-success-border-color;
        }
      }
    }

    @include fd-rtl() {
      .#{$block}__track {
        transform: translate($fd-switch-track-semantic-offset, -50%);
      }

      .#{$block}__input:checked + .#{$block}__slider {
        .#{$block}__track {
          transform: translate($fd-switch-track-border-offset, -50%);
        }
      }
    }
  }
}
