@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-switch+(--no-border)
    .fd-switch__content+()
    .fd-switch__title+()
*/
$block: #{$fd-namespace}-switch;

.#{$block} {

  $fd-switch-active-border-color: var(--sapButton_Selected_BorderColor);
  $fd-switch-active-background-color: var(--sapButton_Selected_Background);
  $fd-switch-inactive-border-color: var(--sapContent_ForegroundBorderColor);
  $fd-switch-inactive-handle-background: var(--sapButton_Background);

  $fd-switch-hover-border-color: var(--sapButton_Hover_BorderColor);
  $fd-switch-hover-selected-border-color: var(--sapButton_Selected_Hover_BorderColor);
  $fd-switch-hover-background: var(--sapButton_Hover_Background);
  $fd-switch-hover-selected-background: var(--sapButton_Selected_Hover_Background);
  $fd-switch-success-border-color: var(--sapSuccessBorderColor);
  $fd-switch-error-border-color: var(--sapErrorBorderColor);
  $fd-switch-border-width: var(--sapButton_BorderWidth);

  $fd-switch-label-width: 1.75rem;

  $fd-switch-transition: all 0.1s;

  $fd-switch-container-padding-y: 0.375rem;
  $fd-switch-size-x: 3.75rem;
  $fd-switch-size-y: 1.25rem;
  $fd-switch-handle-size: 1.875rem;
  $fd-switch-border-radius: 0.75rem;
  $fd-switch-handle-border-radius: 1rem;

  $fd-switch-container-compact-padding-y: 0.1875rem;
  $fd-switch-container-compact-no-label-padding-y: 0.25rem;
  $fd-switch-size-compact-x: 3.375rem;
  $fd-switch-size-compact-y: 1.25rem;
  $fd-switch-handle-compact-size: 1.5rem;

  $fd-switch-track-no-label-width: 3.125rem;
  $fd-switch-track-no-label-height: 1.25rem;

  $fd-switch-track-no-label-compact-width: 2.375rem;
  $fd-switch-track-no-label-compact-height: 1rem;

  @include fd-reset();

  cursor: pointer;
  display: inline-block;
  padding: $fd-switch-container-padding-y 0;
  overflow: hidden;

  &__label {
    @include fd-form-label();

    overflow: initial;
    display: flex;
    align-items: center;
    padding: 0;

    &.is-disabled {
      opacity: 0.4;
    }
  }

  &__wrapper {
    @include fd-reset();

    // background: darken(@sapUiButtonBackground,7);
    background-color: #ededed;
    position: relative;
    width: $fd-switch-size-x;
    height: $fd-switch-size-y;
    border: $fd-switch-border-width solid $fd-switch-inactive-border-color;
    transition: $fd-switch-transition;
    border-radius: $fd-switch-border-radius;
  }

  &__track {
    @include fd-reset();

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    left: calc(1.8125rem - 100%);
    transition: $fd-switch-transition;
    min-width: 4.25rem;
  }

  &__text {
    @include fd-reset();

    font-size: var(--sapFontSmallSize);
    line-height: 1.375rem;
    display: block;
    width: $fd-switch-label-width;
    text-transform: uppercase;
    text-align: center;
  }

  &__icon {
    @include fd-reset();

    font-size: 0.75rem;

    &--off {
      color: var(--sapNegativeElementColor);
    }

    &--on {
      color: var(--sapPositiveElementColor);
    }
  }

  &__icon,
  &__text {
    &--on {
      margin: 0 0 0 0.125rem;
    }

    &--off {
      margin: 0 0.125rem 0 0;
    }
  }

  &__handle {
    @include fd-reset();

    border: $fd-switch-border-width solid $fd-switch-inactive-border-color;
    background-color: $fd-switch-inactive-handle-background;
    width: $fd-switch-handle-size;
    height: $fd-switch-handle-size;
    border-radius: $fd-switch-handle-border-radius;
    background-clip: padding-box;
  }

  &__input {
    @include fd-reset();

    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;

    &::before,
    &::after {
      display: none;
    }

    &:hover,
    &:active {
      border-color: transparent;
    }
  }

  @include fd-disabled() {
    pointer-events: none;
    opacity: 0.4;
  }

  &__input:focus + .#{$block}__wrapper {
    &::before {
      position: absolute;
      display: block;
      outline-offset: -0.0625rem;
      outline-width: var(--sapContent_FocusWidth);
      outline-color: var(--sapContent_FocusColor);
      outline-style: var(--sapContent_FocusStyle);
      content: '';
      top: -$fd-switch-container-padding-y;
      bottom: -$fd-switch-container-padding-y;
      left: -0.0625rem;
      right: -0.0625rem;
    }
  }

  &__input:checked + &__wrapper {
    // background-color: lighten(var(--sapButton_Selected_Background), 63);
    background-color: #ebf5fe; // To be changed later
    border-color: $fd-switch-active-border-color;

    .#{$block}__handle {
      background-color: $fd-switch-active-background-color;
      border-color: $fd-switch-active-border-color;
    }

    .#{$block}__track {
      right: -2rem;
      left: -0.1875rem;
    }
  }

  @include fd-rtl() {
    .#{$block}__icon,
    .#{$block}__text {
      &--on {
        margin: 0 0.125rem 0 0;
      }

      &--off {
        margin: 0 0 0 0.125rem;
      }
    }

    .#{$block}__track {
      left: -0.1875rem;
      right: -2rem;
    }

    .#{$block}__input:checked + .#{$block}__wrapper {
      .#{$block}__track {
        left: calc(1.688rem - 100%);
        right: -0.1875rem;
      }
    }
  }

  @include fd-hover() {
    .#{$block}__wrapper {
      border-color: $fd-switch-hover-border-color;
    }

    .#{$block}__handle {
      border-color: $fd-switch-hover-border-color;
      background-color: $fd-switch-hover-background;
    }

    .#{$block}:checked + .#{$block}__wrapper {
      border-color: $fd-switch-hover-selected-border-color;

      .#{$block}__handle {
        border-color: $fd-switch-hover-selected-border-color;
        background-color: $fd-switch-hover-selected-background;
      }
    }
  }

  &--compact {
    padding: $fd-switch-container-compact-padding-y 0;

    .#{$block}__handle {
      width: $fd-switch-handle-compact-size;
      height: $fd-switch-handle-compact-size;
    }

    .#{$block}__wrapper {
      width: $fd-switch-size-compact-x;
      height: $fd-switch-size-compact-y;
    }

    .#{$block}__track {
      left: calc(1.438rem - 100%);
      min-width: 3.125rem;
    }

    .#{$block}__input:focus + .#{$block}__wrapper {
      &::before {
        top: -$fd-switch-container-compact-padding-y;
        bottom: -$fd-switch-container-compact-padding-y;
      }
    }

    @include fd-rtl() {
      .#{$block}__input:checked + .#{$block}__wrapper {
        .#{$block}__track {
          left: calc(1.3125rem - 100%);
        }
      }
    }
  }

  &--no-text {
    .#{$block}__wrapper {
      width: $fd-switch-track-no-label-width;
      height: $fd-switch-track-no-label-height;
    }

    .#{$block}__track {
      right: 0;
    }

    .#{$block}__input:checked + .#{$block}__wrapper {
      .#{$block}__track {
        left: 0.0625rem;
        right: 1rem;
      }
    }

    &.#{$block}--compact {
      padding: $fd-switch-container-compact-no-label-padding-y 0;

      .#{$block}__wrapper {
        width: $fd-switch-track-no-label-compact-width;
        height: $fd-switch-track-no-label-compact-height;
      }

      .#{$block}__input:focus + .#{$block}__wrapper {
        &::before {
          top: -0.3125rem;
          bottom: -0.3125rem;
        }
      }

      @include fd-rtl() {
        .#{$block}__track {
          right: -1rem;
        }
      }
    }

    @include fd-rtl() {
      .#{$block}__track {
        right: -1.4375rem;
      }

      .#{$block}__input:checked + .#{$block}__wrapper {
        .#{$block}__track {
          right: 0.0625rem;
          left: 0;
        }
      }
    }
  }

  &--semantic {
    .#{$block}__wrapper {
      border-color: $fd-switch-error-border-color;
      background-color: var(--sapErrorBackground);
    }

    .#{$block}__handle {
      background-color: $fd-switch-inactive-handle-background;
      border-color: $fd-switch-error-border-color;
    }

    .#{$block}__input:checked + .#{$block}__wrapper {
      background-color: var(--sapSuccessBackground);
      border-color: $fd-switch-success-border-color;

      .#{$block}__handle {
        border-color: $fd-switch-success-border-color;
        background-color: $fd-switch-inactive-handle-background;
      }
    }

    @include fd-hover() {
      .#{$block}__wrapper {
        border-color: $fd-switch-error-border-color;
      }

      .#{$block}__handle {
        background-color: var(--sapErrorBackground);
        border-color: $fd-switch-error-border-color;
      }

      .#{$block}__input:checked + .#{$block}__wrapper {
        .#{$block}__handle {
          background-color: var(--sapSuccessBackground);
        }
      }
    }
  }
}
