@import "./new-settings";
@import "./mixins";

/*!
.fd-switch+(--no-border)
    .fd-switch__content+()
    .fd-switch__title+()
*/
$block: #{$fd-namespace}-switch;

.#{$block} {

  $fd-switch-active-border-color: var(--sapButton_Selected_BorderColor);
  $fd-switch-active-background-color: var(--sapButton_Selected_Background);
  $fd-switch-inactive-border-color: var(--sapContent_ForegroundBorderColor);
  $fd-switch-inactive-handle-background: var(--sapButton_Background);

  $fd-switch-hover-border-color: var(--sapButton_Hover_BorderColor);
  $fd-switch-hover-selected-border-color: var(--sapButton_Selected_Hover_BorderColor);
  $fd-switch-hover-background: var(--sapButton_Hover_Background);
  $fd-switch-hover-selected-background: var(--sapButton_Selected_Hover_Background);
  $fd-switch-success-border-color: var(--sapSuccessBorderColor);
  $fd-switch-error-border-color: var(--sapErrorBorderColor);
  $fd-switch-border-width: var(--sapButton_BorderWidth);

  $fd-switch-label-width: 1.75rem;

  $fd-switch-transition: all 0.1s;
  $fd-switch-semantic-icon-transition: visibility 0s ease 0.03s, opacity 0s ease 0.03s;

  $fd-switch-container-padding-y: 0.375rem;
  $fd-switch-size-x: 3.75rem;
  $fd-switch-size-y: 1.25rem;
  $fd-switch-handle-size: 1.875rem;
  $fd-switch-border-radius: 0.75rem;
  $fd-switch-handle-border-radius: 1rem;

  $fd-switch-container-compact-padding-y: 0.1875rem;
  $fd-switch-container-compact-no-label-padding-y: 0.25rem;
  $fd-switch-size-compact-x: 3.375rem;
  $fd-switch-size-compact-y: 1.25rem;
  $fd-switch-handle-compact-size: 1.5rem;

  $fd-switch-track-no-label-width: 3.125rem;
  $fd-switch-track-no-label-height: 1.25rem;

  $fd-switch-track-no-label-compact-width: 2.375rem;
  $fd-switch-track-no-label-compact-height: 1rem;

  $fd-switch-track-compact-offset: 0.8125rem;
  $fd-switch-track-offset: 1.1875rem;
  $fd-switch-track-semantic-offset: 1.9375rem;
  $fd-switch-track-border-offset: 0.0625rem;

  $fd-switch-off-opacity: 0;
  $fd-switch-on-opacity: 1;

  @include fd-reset();

  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: $fd-switch-container-padding-y 0;

  &__label {
    @include fd-form-label();

    overflow: initial;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;

    &.is-disabled {
      opacity: var(--sapContent_DisabledOpacity);
    }
  }

  &__wrapper {
    @include fd-reset();

    background-color: var(--sapButton_Track_Background);
    box-sizing: content-box;
    width: $fd-switch-track-no-label-width;
    height: $fd-switch-track-no-label-height;
    border: $fd-switch-border-width solid $fd-switch-inactive-border-color;
    transition: $fd-switch-transition;
    border-radius: $fd-switch-border-radius;
  }

  &__track {
    @include fd-reset();

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translate(-$fd-switch-track-offset, -50%);
    transition: $fd-switch-transition;
    min-width: 4.25rem;
  }

  &__text {
    @include fd-form-label();

    cursor: pointer;
  }

  &__icon {
    @include fd-reset();

    width: $fd-switch-label-width;
    min-width: $fd-switch-label-width;
    font-size: 0.75rem;
    line-height: 1.375rem;
    text-align: center;
    transition: $fd-switch-semantic-icon-transition;

    &--off {
      color: var(--sapNegativeElementColor);
      margin: 0 0.125rem 0 0;
    }

    &--on {
      color: var(--sapPositiveElementColor);
      margin: 0 0 0 0.125rem;
      visibility: hidden;
      opacity: $fd-switch-off-opacity;
    }
  }

  &__handle {
    @include fd-reset();

    box-sizing: content-box;
    border: $fd-switch-border-width solid $fd-switch-inactive-border-color;
    background-color: $fd-switch-inactive-handle-background;
    min-width: $fd-switch-handle-size;
    min-height: $fd-switch-handle-size;
    border-radius: $fd-switch-handle-border-radius;
    background-clip: padding-box;
  }

  &__input {
    @include fd-reset();

    opacity: $fd-switch-off-opacity;
    width: 0;
    height: 0;
    position: absolute;

    &::before,
    &::after {
      display: none;
    }

    &:hover,
    &:active {
      border-color: transparent;
    }
  }

  @include fd-disabled() {
    pointer-events: none;
    opacity: var(--sapContent_DisabledOpacity);
  }

  &__input:focus + .#{$block}__wrapper {
    &::before {
      position: absolute;
      display: block;
      outline-offset: -0.0625rem;
      border-width: var(--sapContent_FocusWidth);
      border-color: var(--sapContent_FocusColor);
      border-style: var(--sapContent_FocusStyle);
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__input:checked + &__wrapper {
    background-color: var(--sapButton_Track_Selected_Background);
    border-color: $fd-switch-active-border-color;

    .#{$block}__handle {
      background-color: $fd-switch-active-background-color;
      border-color: $fd-switch-active-border-color;
    }

    .#{$block}__track {
      transform: translate($fd-switch-track-border-offset, -50%);
    }

    .#{$block}__icon {
      &--off {
        opacity: $fd-switch-off-opacity;
        visibility: hidden;
      }

      &--on {
        opacity: $fd-switch-on-opacity;
        visibility: visible;
      }
    }
  }

  @include fd-rtl() {
    .#{$block}__icon {
      &--on {
        margin: 0 0.125rem 0 0;
      }

      &--off {
        margin: 0 0 0 0.125rem;
      }
    }

    .#{$block}__track {
      transform: translate($fd-switch-track-offset, -50%);
    }

    .#{$block}__input:checked + .#{$block}__wrapper {
      .#{$block}__track {
        transform: translate(-$fd-switch-track-border-offset, -50%);
      }
    }
  }

  @include fd-hover() {
    .#{$block}__wrapper {
      border-color: $fd-switch-hover-border-color;
    }

    .#{$block}__handle {
      border-color: $fd-switch-hover-border-color;
      background-color: $fd-switch-hover-background;
    }

    .#{$block}:checked + .#{$block}__wrapper {
      border-color: $fd-switch-hover-selected-border-color;

      .#{$block}__handle {
        border-color: $fd-switch-hover-selected-border-color;
        background-color: $fd-switch-hover-selected-background;
      }
    }
  }

  &--compact {
    padding: $fd-switch-container-compact-no-label-padding-y 0;

    .#{$block}__handle {
      min-width: $fd-switch-handle-compact-size;
      min-height: $fd-switch-handle-compact-size;
    }

    .#{$block}__wrapper {
      width: $fd-switch-track-no-label-compact-width;
      height: $fd-switch-track-no-label-compact-height;
    }

    .#{$block}__track {
      transform: translate(-$fd-switch-track-compact-offset, -50%);
      min-width: 3.125rem;
    }

    @include fd-rtl() {
      .#{$block}__track {
        transform: translate($fd-switch-track-compact-offset, -50%);
      }
    }
  }

  &--semantic {
    .#{$block}__wrapper {
      width: $fd-switch-size-x;
      height: $fd-switch-size-y;
      border-color: $fd-switch-error-border-color;
      background-color: var(--sapErrorBackground);
    }

    .#{$block}__track {
      transform: translate(-$fd-switch-track-semantic-offset, -50%);
    }

    .#{$block}__handle {
      background-color: $fd-switch-inactive-handle-background;
      border-color: $fd-switch-error-border-color;
    }

    .#{$block}__input:checked + .#{$block}__wrapper {
      background-color: var(--sapSuccessBackground);
      border-color: $fd-switch-success-border-color;

      .#{$block}__track {
        transform: translate(-$fd-switch-track-border-offset, -50%);
      }

      .#{$block}__handle {
        border-color: $fd-switch-success-border-color;
        background-color: $fd-switch-inactive-handle-background;
      }
    }

    &.#{$block}--compact {
      padding: $fd-switch-container-compact-padding-y 0;

      .#{$block}__wrapper {
        width: $fd-switch-size-compact-x;
        height: $fd-switch-size-compact-y;
      }
    }

    @include fd-hover() {
      .#{$block}__wrapper {
        border-color: $fd-switch-error-border-color;
      }

      .#{$block}__handle {
        background-color: var(--sapErrorBackground);
        border-color: $fd-switch-error-border-color;
      }

      .#{$block}__input:checked + .#{$block}__wrapper {
        .#{$block}__handle {
          background-color: var(--sapSuccessBackground);
        }
      }
    }

    @include fd-rtl() {
      .#{$block}__track {
        transform: translate($fd-switch-track-semantic-offset, -50%);
      }

      .#{$block}__input:checked + .#{$block}__wrapper {
        .#{$block}__track {
          transform: translate($fd-switch-track-border-offset, -50%);
        }
      }
    }
  }
}
