@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-tile;

// PADDINGS
$fd-tile-padding: calc(1rem - 0.0625rem) !default;
$fd-tile-small-padding: calc(0.5rem - 0.0625rem) !default;
$fd-tile-inner-padding: 0.25rem !default;

// REFRESH
$fd-tile-refresh-icon-spacing: 0.5rem !default;

// MIXINS
@mixin two-col-sections {
  display: flex;
  justify-content: space-between;
}

@mixin set-height($height) {
  height: $height;
  min-height: $height;
  max-height: $height;
}

@mixin set-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

@mixin line-clamp($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.#{$block} {
  @include fd-reset();
  @include set-height(11rem);
  @include set-width(11rem);

  padding: $fd-tile-padding;
  background: var(--sapTile_Background);
  box-shadow: var(--sapContent_Shadow0);
  border-radius: var(--sapElement_BorderCornerRadius);
  border: 0.0625rem solid var(--sapTile_BorderColor);
  cursor: pointer;

  // STATES
  @include fd-active() {
    background: var(--sapTile_Active_Background);
    // box-shadow: 0 0 0 1px fade(var(--sapContent_ShadowColor), 30);
  }

  @include fd-hover() {
    background: var(--sapTile_Hover_Background);
    // box-shadow: 0 0 0 1px fade(var(--sapContent_ShadowColor), 30);;
  }

  @include fd-fiori-focus();

  // ELEMENTS
  &__header,
  &__content,
  &__footer,
  &__header-content {
    @include fd-reset();

    overflow: hidden;

    &--2-col {
      @include two-col-sections();
    }
  }

  &__header {
    @include set-height(3.625rem);

    margin-bottom: $fd-tile-inner-padding;
  }

  &__content {
    @include set-height(3.875rem);

    margin-bottom: $fd-tile-inner-padding;
  }

  &__header-content {
    @include set-height(7.75rem);

    margin-bottom: $fd-tile-inner-padding;

    .#{$block}__title {
      @include line-clamp(4);
    }
  }

  &__footer {
    @include set-height(1rem);
  }

  &__section {
    @include fd-reset();

    overflow: hidden;
    width: calc(50% - 0.125rem); // 0.125rem is 0.25rem (inner-padding) / 2
    height: 100%;
  }

  &__title,
  &__subtitle,
  &__footer-text,
  &__refresh {
    @include fd-reset();

    font-size: var(--sapFontSize);
    line-height: normal;
    color: var(--sapTile_TextColor);
  }

  &__title {
    @include line-clamp();

    color: var(--sapTile_TitleTextColor);
    font-size: var(--sapFontHeader5Size);
  }

  &__subtitle,
  &__footer-text {
    @include fd-ellipsis();
  }

  &__refresh {
    color: var(--sapButton_IconColor);
    min-width: 0.875rem;
    text-align: center;
    margin-right: $fd-tile-refresh-icon-spacing;

    @include fd-rtl() {
      margin-right: 0;
      margin-left: $fd-tile-refresh-icon-spacing;
    }
  }

  &__profile-img {
    @include fd-reset();
    @include set-width(3.5rem);
    @include set-height(3.5rem);

    border-radius: 50%;
  }

  &__logo {
    @include set-width(3.625rem);
    @include set-height(1.75rem);
  }

  // MODIFIERS
  &--double {
    @include set-width(22.5rem);
  }

  &--s {
    @include set-height(9.25rem);
    @include set-width(9.25rem);

    padding: $fd-tile-small-padding;

    &.#{$block}--double {
      @include set-width(19rem);
    }

    .#{$block}__header {
      @include set-height(3.25rem);
    }

    .#{$block}__content {
      @include set-height(3.438rem);
    }

    .#{$block}__header-content {
      @include set-height(6.938rem);
    }

    .#{$block}__footer {
      @include set-height(1.063rem);
    }

    .#{$block}__title {
      font-size: var(--sapFontHeader6Size);
    }

    .#{$block}__footer-text {
      font-size: var(--sapFontSmallSize);
    }

    .#{$block}__profile-img {
      @include set-width(3rem);
      @include set-height(3rem);
    }

    .#{$block}__logo {
      @include set-width(3rem);
      @include set-height(1.438rem);
    }
  }

  // TILE TYPES
  &--kpi,
  &--launch,
  &--feed {
    .#{$block}__content {
      @include fd-flex-vertical-bottom();

      &--2-col {
        .#{$block}__section {
          @include fd-flex-vertical-bottom();
        }
      }
    }

    .#{$block}__footer {
      @include fd-flex-vertical-center();

      &--2-col {
        .#{$block}__section {
          @include fd-flex-vertical-center();
        }

        .#{$block}__section:last-child {
          justify-content: flex-end;
        }
      }
    }
  }

  &--feed {
    .#{$block}__content {
      .#{$block}__section {
        width: auto;

        &:first-child {
          flex: 1;
          margin-right: $fd-tile-inner-padding;

          @include fd-rtl() {
            margin-left: $fd-tile-inner-padding;
            margin-right: 0;
          }
        }

        &:nth-child(2) {
          max-width: 10.25rem;
        }
      }
    }

    .#{$block}__content-text-container {
      @include fd-reset();

      display: flex;
      flex-direction: column;
      max-width: 100%;
    }

    .#{$block}__content-text,
    .#{$block}__content-byline {
      @include fd-reset();

      font-size: var(--sapFontSmallSize);
      line-height: 1.063rem;
      color: var(--sapTile_TitleTextColor);
    }

    .#{$block}__content-text {
      @include line-clamp();
    }

    .#{$block}__content-byline {
      @include fd-ellipsis();

      color: var(--sapTile_TextColor);
    }

    &.#{$block}--s {
      .#{$block}__content {
        .#{$block}__section {
          &:nth-child(2) {
            max-width: 8.25rem;
          }
        }
      }
    }
  }
}
