@import "./settings";
@import "./mixins";
@import "./functions";

$block: #{$fd-namespace}-tile;

// DEFAULT (LARGE) TILE
$fd-tile-height: 11rem !default;
$fd-tile-width: 11rem !default;
$fd-tile-double-width: 22.5rem !default;

// SMALL TILE
$fd-tile-small-height: 9.25rem !default;
$fd-tile-small-width: 9.25rem !default;
$fd-tile-small-double-width: 19rem !default;

// PADDINGS
$fd-tile-padding: 1rem !default;
$fd-tile-small-padding: 0.5rem !default;
$fd-tile-inner-padding: 0.25rem !default;

// MIXINS
@mixin two-col-sections {
  display: flex;
  justify-content: space-between;
}

.#{$block} {
  @include fd-reset();

  height: $fd-tile-height;
  width: $fd-tile-width;
  padding: $fd-tile-padding;
  background: var(--sapTile_Background);
  box-shadow: var(--sapContent_Shadow0);
  border-radius: var(--sapElement_BorderCornerRadius);
  border: 0.0625rem solid var(--sapTile_BorderColor);

  // ELEMENTS
  &__header {
    background-color: khaki; // JUST FOR DEVELOPMENT PURPOSES
    height: 3.625rem;
    margin-bottom: $fd-tile-inner-padding;

    &--2-col {
      @include two-col-sections();
    }
  }

  &__content {
    background-color: lightpink; // JUST FOR DEVELOPMENT PURPOSES
    height: 3.875rem;
    margin-bottom: $fd-tile-inner-padding;

    &--2-col {
      @include two-col-sections();
    }
  }

  &__footer {
    background-color: mediumturquoise; // JUST FOR DEVELOPMENT PURPOSES
    height: 1rem;

    &--2-col {
      @include two-col-sections();
    }
  }

  &__section {
    width: calc(50% - 0.125rem); // 0.125rem is 0.25rem (inner-padding) / 2
    height: 100%;
    background-color: hotpink;
  }

  // MODIFIERS
  &--double {
    width: $fd-tile-double-width;
  }

  &--s {
    height: $fd-tile-small-height;
    width: $fd-tile-small-width;
    padding: $fd-tile-small-padding;

    &.#{$block}--double {
      width: $fd-tile-small-double-width;
    }

    .#{$block}__header {
      height: 3.25rem;
    }

    .#{$block}__content {
      height: 3.438rem;
    }

    .#{$block}__footer {
      height: 1.063rem;
    }
  }
}
