@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-tile;

// SIZES
$fd-tile-height: 11rem !default;
$fd-tile-width: 11rem !default;
$fd-tile-double-width: 22.5rem !default;

$fd-tile-height-s: 9.25rem !default;
$fd-tile-width-s: 9.25rem !default;
$fd-tile-double-width-s: 19rem !default;

// PADDINGS
$fd-tile-padding: calc(1rem - 0.0625rem) !default;
$fd-tile-small-padding: calc(0.5rem - 0.0625rem) !default;
$fd-tile-inner-padding: 0.25rem !default;

$fd-tile-border-radius: var(--sapElement_BorderCornerRadius) !default;

// REFRESH
$fd-tile-refresh-icon-spacing: 0.5rem !default;

// FEED
$fd-tile-feed-kpi-spacing: 0.5rem !default;

// INDICATOR DOTS
$fd-tile-indicator-dot-size: 0.188rem !default;
$fd-tile-indicator-dot-active-size: 0.313rem !default;
$fd-tile-indicator-dot-spacing: 0.375rem !default;

// TOGGLE BUTTON
$fd-tile-toggle-button-position: -0.0625rem !default;

// CLOSE BUTTON
$fd-tile-close-button-position: -0.375rem !default;
$fd-tile-close-button-offset: 0.625rem !default;

// ACTION INDICATOR
$fd-tile-action-indicator-offset: 0.25rem !default;

// MIXINS
@mixin two-col-sections {
  display: flex;
  justify-content: space-between;
}

@mixin set-height($height) {
  height: $height;
  min-height: $height;
  max-height: $height;
}

@mixin set-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

@mixin line-clamp($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin fake-tile-outline() {
  &:focus,
  &.is-focus {
    outline: none;

    &::before {
      content: '';
      position: absolute;
      display: block;
      border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
      border-radius: $fd-tile-border-radius;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
    }
  }
}

@mixin fake-tile-button-outline() {
  &:focus,
  &.is-focus {
    outline: none;

    &::after {
      content: '';
      position: absolute;
      display: block;
      border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
      top: 0;
      left: 0.625rem;
      right: 0;
      bottom: 0.625rem;
      z-index: 3;
    }
  }
}

.#{$block} {
  @include fd-reset();
  @include set-height($fd-tile-height);
  @include set-width($fd-tile-width);

  position: relative;
  padding: $fd-tile-padding;
  background: var(--sapTile_Background);
  box-shadow: var(--sapContent_Shadow0);
  border-radius: $fd-tile-border-radius;
  border: 0.0625rem solid var(--sapTile_BorderColor);
  cursor: pointer;

  // STATES
  @include fd-active() {
    background: var(--sapTile_Active_Background);
    // box-shadow: 0 0 0 1px fade(var(--sapContent_ShadowColor), 30);
  }

  @include fd-hover() {
    background: var(--sapTile_Hover_Background);
    // box-shadow: 0 0 0 1px fade(var(--sapContent_ShadowColor), 30);

    .#{$block}__toggle {
      display: block;
    }
  }

  @include fake-tile-outline();

  // ELEMENTS
  &__header,
  &__content,
  &__footer,
  &__header-content {
    @include fd-reset();

    overflow: hidden;

    &--2-col {
      @include two-col-sections();
    }
  }

  &__header {
    @include set-height(3.625rem);

    margin-bottom: $fd-tile-inner-padding;
  }

  &__content {
    @include set-height(3.875rem);

    margin-bottom: $fd-tile-inner-padding;
  }

  &__header-content {
    @include set-height(7.75rem);

    margin-bottom: $fd-tile-inner-padding;

    .#{$block}__title {
      @include line-clamp(4);
    }
  }

  &__footer {
    @include set-height(1rem);

    display: flex;
  }

  &__section {
    @include fd-reset();

    overflow: hidden;
    width: calc(50% - 0.125rem); // 0.125rem is 0.25rem (inner-padding) / 2
    height: 100%;
  }

  &__title,
  &__subtitle,
  &__footer-text,
  &__refresh {
    @include fd-reset();

    font-size: var(--sapFontSize);
    line-height: normal;
    color: var(--sapTile_TextColor);
  }

  &__title {
    @include line-clamp();

    color: var(--sapTile_TitleTextColor);
    font-size: var(--sapFontHeader5Size);
  }

  &__subtitle,
  &__footer-text {
    @include fd-ellipsis();
  }

  &__refresh {
    color: var(--sapButton_IconColor);
    min-width: 0.875rem;
    text-align: center;
    margin-right: $fd-tile-refresh-icon-spacing;

    @include fd-rtl() {
      margin-right: 0;
      margin-left: $fd-tile-refresh-icon-spacing;
    }
  }

  &__profile-img {
    @include fd-reset();
    @include set-width(3.5rem);
    @include set-height(3.5rem);

    border-radius: 50%;
  }

  &__logo {
    @include set-width(3.625rem);
    @include set-height(1.75rem);
  }

  &__action-close,
  &__action-indicator,
  &__overlay {
    display: none;
  }

  // MODIFIERS
  &--double {
    @include set-width($fd-tile-double-width);
  }

  &--s {
    @include set-height($fd-tile-height-s);
    @include set-width($fd-tile-width-s);

    padding: $fd-tile-small-padding;

    &.#{$block}--double {
      @include set-width($fd-tile-double-width-s);
    }

    .#{$block}__header {
      @include set-height(3.25rem);
    }

    .#{$block}__content {
      @include set-height(3.438rem);
    }

    .#{$block}__header-content {
      @include set-height(6.938rem);
    }

    .#{$block}__footer {
      @include set-height(1.063rem);
    }

    .#{$block}__title {
      font-size: var(--sapFontHeader6Size);
    }

    .#{$block}__footer-text {
      font-size: var(--sapFontSmallSize);
    }

    .#{$block}__profile-img {
      @include set-width(3rem);
      @include set-height(3rem);
    }

    .#{$block}__logo {
      @include set-width(3rem);
      @include set-height(1.438rem);
    }
  }

  // TILE TYPES
  &--kpi,
  &--launch,
  &--feed {
    .#{$block}__content {
      @include fd-flex-vertical-bottom();

      &--2-col {
        .#{$block}__section {
          @include fd-flex-vertical-bottom();
        }
      }
    }

    .#{$block}__footer {
      @include fd-flex-vertical-center();

      &--2-col {
        .#{$block}__section {
          @include fd-flex-vertical-center();
        }

        .#{$block}__section:last-child {
          justify-content: flex-end;
        }
      }
    }
  }

  &--feed {
    .#{$block}__content {
      .#{$block}__section {
        width: auto;

        &:first-child {
          flex: 1;
          max-width: 100%;
          margin-right: $fd-tile-inner-padding;

          @include fd-flex($direction: column) {
            align-items: flex-start;
            justify-content: flex-end;
          }

          @include fd-rtl() {
            margin-left: $fd-tile-inner-padding;
            margin-right: 0;
          }
        }

        &:nth-child(2) {
          max-width: 10.25rem;
          padding-left: $fd-tile-feed-kpi-spacing;

          @include fd-rtl() {
            padding-right: $fd-tile-feed-kpi-spacing;
            padding-left: 0;
          }
        }
      }
    }

    .#{$block}__content-text,
    .#{$block}__content-byline {
      @include fd-reset();

      max-width: 100%;
      font-size: var(--sapFontSmallSize);
      line-height: 1.063rem;
      color: var(--sapTile_TitleTextColor);
    }

    .#{$block}__content-text {
      @include line-clamp();
    }

    .#{$block}__content-byline {
      @include fd-ellipsis();

      color: var(--sapTile_TextColor);
    }

    &.#{$block}--s {
      .#{$block}__content {
        .#{$block}__section {
          &:nth-child(2) {
            max-width: 8.25rem;
          }
        }
      }
    }
  }

  &--slide {
    padding: 0;
    display: flex;
    align-items: flex-end;

    .#{$block}__background-img {
      @include fd-reset();

      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      border-radius: $fd-tile-border-radius;

      @include fd-hover() {
        opacity: 0.9;
      }

      @include fd-active() {
        opacity: 0.8;
      }
    }

    .#{$block}__toggle {
      @include fd-reset();
      @include set-height(3rem);
      @include set-width(3rem);

      display: none;
      padding: 0.5rem;
      position: absolute;
      background: transparent;
      top: $fd-tile-toggle-button-position;
      right: $fd-tile-toggle-button-position;

      @include fd-rtl() {
        right: initial;
        left: $fd-tile-toggle-button-position;
      }

      &::before {
        @include set-height(2rem);
        @include set-width(2rem);
        @include fd-flex-center();

        background-color: var(--sapBlockLayer_Background);
        opacity: 0.6;
        border-radius: 50%;
        font-family: SAP-icons;
        font-size: 1rem;
        color: var(--sapButton_Emphasized_TextColor);
        text-shadow: var(--sapButton_Emphasized_TextShadow);
        content: "\e14b";
      }

      &--pause {
        &::before {
          content: "\e14c";
        }
      }

      @include fd-focus() {
        outline: none;
      }

      @include fd-hover() {
        &::before {
          opacity: 0.8;
        }
      }

      @include fd-active() {
        &::before {
          opacity: 1;
        }
      }
    }

    .#{$block}__container {
      @include fd-reset();
      @include set-height(6.125rem);

      @include fd-flex($direction: column) {
        justify-content: space-between;
      }

      z-index: 2;
      width: 100%;
      max-width: 100%;
      background-color: var(--sapBlockLayer_Background);
      opacity: 0.8;
      padding-top: $fd-tile-inner-padding;
      padding-left: $fd-tile-padding;
      padding-right: $fd-tile-padding;
      border-bottom-left-radius: $fd-tile-border-radius;
      border-bottom-right-radius: $fd-tile-border-radius;
    }

    .#{$block}__title,
    .#{$block}__subtitle,
    .#{$block}__footer-text {
      color: var(--sapContent_ContrastTextColor); // TO BE CONFIRMED
      text-shadow: var(--sapContent_ContrastShadowColor); // TO BE CONFIRMED
      font-size: var(--sapFontSize);
      line-height: normal;
    }

    .#{$block}__page-indicator {
      @include fd-reset();
      @include fd-flex-center();
      @include set-height(0.5rem);

      margin-bottom: 0.125rem;
      margin-top: 0.375rem;
    }

    .#{$block}__dot {
      @include fd-reset();
      @include set-height($fd-tile-indicator-dot-size);
      @include set-width($fd-tile-indicator-dot-size);

      border-radius: 50%;
      background-color: var(--sapContent_ContrastTextColor); // TO BE CONFIRMED
      box-shadow: 0 0 0.25rem var(--sapContent_ShadowColor);
      margin-right: $fd-tile-indicator-dot-spacing;

      @include fd-rtl() {
        margin-right: 0;
        margin-left: $fd-tile-indicator-dot-spacing;
      }

      &--active {
        @include set-height($fd-tile-indicator-dot-active-size);
        @include set-width($fd-tile-indicator-dot-active-size);

        color: var(--sapContent_ContrastTextColor); // TO BE CONFIRMED
      }
    }

    &.#{$block}--s {
      .#{$block}__container {
        @include set-height(5.25rem);

        padding-top: 0.1875rem;
        padding-right: $fd-tile-small-padding;
        padding-left: $fd-tile-small-padding;
      }

      .#{$block}__title,
      .#{$block}__subtitle,
      .#{$block}__footer-text {
        font-size: var(--sapFontSmallSize);
      }

      .#{$block}__page-indicator {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }

  // MODES
  &--action {

    .#{$block}__action-close,
    .#{$block}__action-indicator,
    .#{$block}__overlay {
      display: block;
    }

    .#{$block}__overlay {
      @include fd-reset();

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--sapTile_Background);
      border-radius: $fd-tile-border-radius;
      opacity: 0.7;
      z-index: 4;
    }

    .#{$block}__footer {
      display: none;
    }

    .#{$fd-namespace}-badge {
      display: none;
    }

    .#{$block}__action-close {
      @include fd-reset();
      @include set-height(2rem);
      @include set-width(2rem);
      @include fake-tile-button-outline();

      position: absolute;
      background: transparent;
      top: $fd-tile-close-button-position;
      right: $fd-tile-close-button-position;
      z-index: 5;
      cursor: pointer;

      @include fd-rtl() {
        right: initial;
        left: $fd-tile-close-button-position;

        &::before {
          margin-left: initial;
          margin-right: $fd-tile-close-button-offset;
        }
      }

      &::before {
        @include set-height(1.375rem);
        @include set-width(1.375rem);
        @include fd-flex-center();

        border-radius: 50%;
        margin-bottom: $fd-tile-close-button-offset;
        margin-left: $fd-tile-close-button-offset;
        font-family: SAP-icons;
        font-size: 0.75rem;
        background: var(--sapButton_Background);
        border: 0.0625rem solid var(--sapButton_BorderColor);
        color: var(--sapButton_IconColor);
        content: "\e03e";
      }

      @include fd-focus() {
        outline: none;
      }

      &::-moz-focus-inner {
        border: 0;
      }
    }

    .#{$block}__action-indicator {
      @include fd-reset();
      @include set-height(1.625rem);
      @include set-width(2rem);

      background: transparent;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: $fd-tile-action-indicator-offset;
      margin-right: $fd-tile-action-indicator-offset;
      z-index: 5;
      cursor: pointer;

      @include fd-rtl() {
        right: initial;
        left: 0;
        margin-right: initial;
        margin-left: $fd-tile-action-indicator-offset;
      }

      &::before {
        @include fd-flex-center();

        font-family: SAP-icons;
        font-size: 1rem;
        color: var(--sapButton_IconColor);
        content: "\e1f2";
      }

      @include fd-focus() {
        outline: none;
      }

      &::-moz-focus-inner {
        border: 0;
      }
    }

    &.#{$block}--slide {
      .#{$block}__action-indicator {
        &::before {
          color: var(--sapShell_Active_TextColor);
        }
      }
    }
  }
}
