@import "./settings";
@import "./mixins";
@import "./functions";

$block: #{$fd-namespace}-time;

.#{$block} {
  @include fd-reset();

  $fd-time-item-height: 2.875rem;
  $fd-time-item-compact-height: 2rem;
  $fd-time-dropdown-padding: 1rem;
  $fd-time-dropdown-compact-padding: 0.5rem;

  padding: $fd-time-dropdown-padding;
  display: flex;
  justify-content: center;

  &__col {
    @include fd-reset();

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__wrapper {
    @include fd-reset();

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
  }

  &__item {
    @include fd-reset();

    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: $fd-time-item-height;
    border-radius: var(--sapButton_BorderCornerRadius);
    // color: var(--sapTextColor);
    // font-size: var(--sapFontSize);

    // darken(@sapUiListBackground, 2);
    background-color: var(--sapList_Background);
    border: 0.0625rem solid var(--sapList_Background);

    &:hover {
      background-color: var(--sapList_Hover_Background);
    }

    &:active {
      background-color: var(--sapList_Active_Background);
      border-color: transparent;
      color: var(--sapContent_ContrastTextColor);
    }

    &--current {
      border-color: var(--sapList_SelectionBorderColor);

      &:hover {
        background-color: var(--sapList_Hover_Background);
      }

      &:active {
        background-color: var(--sapList_Active_Background);
        border-color: transparent;
        color: var(--sapContent_ContrastTextColor);
      }
    }

    &--collapsed {
      background-color: var(--sapList_Active_Background);
      border-color: transparent;
      color: var(--sapContent_ContrastTextColor);

      &:hover {
        // lighten(@sapUiListActiveBackground, 3);
        background-color: var(--sapList_Active_Background);
      }
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &__slider-label {
    @include fd-reset();

    line-height: $fd-time-item-compact-height;
    height: $fd-time-item-compact-height;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--sapFontSmallSize);
  }

  &__control {
    @include fd-reset();
  }

  &--tablet {
    padding: $fd-time-dropdown-compact-padding;

    .#{$block}__item {
      height: $fd-time-item-height;
    }
  }

  &--compact {
    padding: $fd-time-dropdown-compact-padding;

    .#{$block}__item {
      height: $fd-time-item-compact-height;
    }
  }
}
