@import "./settings";
@import "./mixins";
@import "./functions";

$block: #{$fd-namespace}-time;

.#{$block} {
  @include fd-reset();

  $fd-time-item-height: 2.875rem;
  $fd-time-wrapper-height: 7 * $fd-time-item-height;
  $fd-time-item-compact-height: 2rem;
  $fd-time-wrapper-compact-height: 7 * $fd-time-item-compact-height;
  $fd-time-dropdown-padding: 1rem;
  $fd-time-dropdown-compact-padding: 0.5rem;

  padding: $fd-time-dropdown-padding;
  display: flex;
  justify-content: center;

  &__col {
    @include fd-reset();

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__current-indicator {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    box-sizing: border-box;
    width: 3rem;
    height: $fd-time-item-height;
    border: 0.0625rem solid var(--sapList_SelectionBorderColor);
    border-radius: var(--sapButton_BorderCornerRadius);
  }

  &__wrapper {
    @include fd-reset();

    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    width: 3rem;

    &--active {
      max-height: $fd-time-wrapper-height;
      height: $fd-time-wrapper-height;
      justify-content: initial;
    }

    &--meridian {
      .#{$block}__item {
        &:first-child {
          margin-top: $fd-time-item-height * 3;
        }

        &:last-child {
          margin-bottom: $fd-time-item-height * 3;
        }
      }

      .#{$block}__list {
        height: $fd-time-wrapper-height;
      }
    }
  }

  &__item {
    @include fd-reset();

    cursor: default;
    width: 3rem;
    height: $fd-time-item-height;
    min-height: $fd-time-item-height;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--sapButton_BorderCornerRadius);
    // color: var(--sapTextColor);
    // font-size: var(--sapFontSize);

    // darken(@sapUiListBackground, 2);
    background-color: var(--sapList_Background);
    border: 0.0625rem solid var(--sapList_Background);

    &:hover {
      background-color: var(--sapList_Hover_Background);
    }

    &:active {
      background-color: var(--sapList_Active_Background);
      border-color: transparent;
      color: var(--sapContent_ContrastTextColor);
    }

    &--current {
      border-color: var(--sapList_SelectionBorderColor);

      &:hover {
        background-color: var(--sapList_Hover_Background);
      }

      &:active {
        background-color: var(--sapList_Active_Background);
        border-color: transparent;
        color: var(--sapContent_ContrastTextColor);
      }
    }

    &--collapsed {
      background-color: var(--sapList_Active_Background);
      border-color: transparent;
      color: var(--sapContent_ContrastTextColor);

      &:hover {
        // lighten(@sapUiListActiveBackground, 3);
        background-color: var(--sapList_Active_Background);
      }
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &__unit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__list {
    @include fd-reset();
    @include fd-remove-scrollbar();

    overflow: hidden;
  }

  &__slider-label {
    @include fd-reset();

    line-height: $fd-time-item-compact-height;
    height: $fd-time-item-compact-height;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--sapFontSmallSize);
  }

  &__control {
    @include fd-reset();
  }

  &--tablet {
    padding: $fd-time-dropdown-compact-padding;

    .#{$block}__item {
      height: $fd-time-item-height;
      min-height: $fd-time-item-height;
    }
  }

  &--compact {
    padding: $fd-time-dropdown-compact-padding;

    .#{$block}__item {
      height: $fd-time-item-compact-height;
      min-height: $fd-time-item-compact-height;
    }

    .#{$block}__wrapper {
      .#{$block}__current-indicator {
        height: $fd-time-item-compact-height;
      }

      &.#{$block}__wrapper--active {
        max-height: $fd-time-wrapper-compact-height;
        height: $fd-time-wrapper-compact-height;
      }

      &.#{$block}__wrapper--meridian {
        .#{$block}__item {
          &:first-child {
            margin-top: $fd-time-item-compact-height * 3;
          }

          &:last-child {
            margin-bottom: $fd-time-item-compact-height * 3;
          }
        }

        .#{$block}__list {
          height: $fd-time-wrapper-compact-height;
        }
      }
    }
  }

  &--scrollable {
    .#{$block}__list {
      overflow: auto;
    }
  }
}
