@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-toggle+(--no-border)
    .fd-toggle__content+()
    .fd-toggle__title+()
*/
$block: #{$fd-namespace}-toggle;

.#{$block} {

  $fd-toggle-active-border-color: var(--sapButton_Selected_BorderColor);
  $fd-toggle-active-background-color: var(--sapButton_Selected_Background);
  $fd-toggle-inactive-border-color: var(--sapContent_ForegroundBorderColor);
  $fd-toggle-inactive-switch-background: var(--sapButton_Background);

  $fd-toggle-hover-border-color: var(--sapButton_Hover_BorderColor);
  $fd-toggle-hover-selected-border-color: var(--sapButton_Selected_Hover_BorderColor);
  $fd-toggle-hover-background: var(--sapButton_Hover_Background);
  $fd-toggle-hover-selected-background: var(--sapButton_Selected_Hover_Background);
  $fd-toggle-success-border-color: var(--sapSuccessBorderColor);
  $fd-toggle-error-border-color: var(--sapErrorBorderColor);
  $fd-toggle-border-width: var(--sapButton_BorderWidth);

  $fd-toggle-label-width: 1.75rem;

  $fd-toggle-transition: all 0.1s;

  $fd-toggle-container-padding-y: 0.375rem;
  $fd-toggle-size-x: 3.75rem;
  $fd-toggle-size-y: 1.25rem;
  $fd-toggle-switch-size: 1.875rem;
  $fd-toggle-border-radius: 0.75rem;
  $fd-toggle-switch-border-radius: 1rem;

  $fd-toggle-container-compact-padding-y: 0.1875rem;
  $fd-toggle-container-compact-no-label-padding-y: 0.25rem;
  $fd-toggle-size-compact-x: 3.375rem;
  $fd-toggle-size-compact-y: 1.25rem;
  $fd-toggle-switch-compact-size: 1.5rem;

  $fd-toggle-track-no-label-width: 3.125rem;
  $fd-toggle-track-no-label-height: 1.25rem;

  $fd-toggle-track-no-label-compact-width: 2.375rem;
  $fd-toggle-track-no-label-compact-height: 1rem;

  @include fd-reset();

  cursor: pointer;
  display: inline-block;
  padding: $fd-toggle-container-padding-y 0;
  overflow: hidden;

  &__wrapper {
    // background: darken(@sapUiButtonBackground,7);
    background-color: #ededed;
    position: relative;
    width: $fd-toggle-size-x;
    height: $fd-toggle-size-y;
    border: $fd-toggle-border-width solid $fd-toggle-inactive-border-color;
    transition: $fd-toggle-transition;
    border-radius: $fd-toggle-border-radius;
  }

  &__inner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    left: calc(1.9375rem - 100%);
    transition: $fd-toggle-transition;
    min-width: 4.25rem;
  }

  &__label {
    @include fd-reset();

    font-size: var(--sapFontSmallSize);
    line-height: 1.375rem;
    display: block;
    width: $fd-toggle-label-width;
    text-transform: uppercase;
    text-align: center;
  }

  &__switch {
    border: $fd-toggle-border-width solid $fd-toggle-inactive-border-color;
    background-color: $fd-toggle-inactive-switch-background;
    width: $fd-toggle-switch-size;
    height: $fd-toggle-switch-size;
    border-radius: $fd-toggle-switch-border-radius;
  }

  &__input {
    @include fd-reset();

    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;

    &::before,
    &::after {
      display: none;
    }

    &:hover {
      border-color: transparent;
    }

    &:active,
    &:focus {
      border-color: transparent;
    }
  }

  @include fd-disabled() {
    pointer-events: none;
    opacity: 0.4;
  }

  &__input:checked + &__wrapper {
    // background-color: lighten(var(--sapButton_Selected_Background), 63);
    background-color: #ebf5fe; // To be changed later
    border-color: $fd-toggle-active-border-color;

    .#{$block}__switch {
      background-color: $fd-toggle-active-background-color;
      border-color: $fd-toggle-active-border-color;
    }

    .#{$block}__inner {
      right: -1.8125rem;
      left: 1px;
    }
  }

  @include fd-rtl() {
    .#{$block}__inner {
      left: 1px;
    }

    .#{$block}__input:checked + .#{$block}__wrapper {
      .#{$block}__inner {
        left: calc(1.9375rem - 100%);
      }
    }
  }

  @include fd-hover() {
    .#{$block}__wrapper {
      border-color: $fd-toggle-hover-border-color;
    }

    .#{$block}__switch {
      border-color: $fd-toggle-hover-border-color;
      background-color: $fd-toggle-hover-background;
    }

    .#{$block}:checked + .#{$block}__wrapper {
      border-color: $fd-toggle-hover-selected-border-color;

      .#{$block}__switch {
        border-color: $fd-toggle-hover-selected-border-color;
        background-color: $fd-toggle-hover-selected-background;
      }
    }
  }

  &--compact {
    padding: $fd-toggle-container-compact-padding-y 0;

    .#{$block}__switch {
      width: $fd-toggle-switch-compact-size;
      height: $fd-toggle-switch-compact-size;
    }

    .#{$block}__wrapper {
      width: $fd-toggle-size-compact-x;
      height: $fd-toggle-size-compact-y;
    }

    .#{$block}__inner {
      left: calc(1.5625rem - 100%);
      min-width: 3.125rem;
    }

    @include fd-rtl() {
      .#{$block}__inner {
        left: 1px;
      }

      .#{$block}__input:checked + .#{$block}__wrapper {
        .#{$block}__inner {
          left: calc(1.5625rem - 100%);
        }
      }
    }
  }

  &--no-label {
    .#{$block}__wrapper {
      width: $fd-toggle-track-no-label-width;
      height: $fd-toggle-track-no-label-height;
    }

    .#{$block}__input:checked + .#{$block}__wrapper {
      .#{$block}__inner {
        right: auto;
      }
    }

    &.#{$block}--compact {
      padding: $fd-toggle-container-compact-no-label-padding-y 0;

      .#{$block}__wrapper {
        width: $fd-toggle-track-no-label-compact-width;
        height: $fd-toggle-track-no-label-compact-height;
      }
    }
  }

  &__icon-on {
    @include fd-reset();

    font-size: 0.75rem;
    color: var(--sapPositiveElementColor);
  }

  &__icon-off {
    @include fd-reset();

    font-size: 0.75rem;
    color: var(--sapNegativeElementColor);
  }

  &--semantic {
    .#{$block}__wrapper {
      border-color: $fd-toggle-error-border-color;
      background-color: var(--sapErrorBackground);
    }

    .#{$block}__switch {
      background-color: $fd-toggle-inactive-switch-background;
      border-color: $fd-toggle-error-border-color;
    }

    .#{$block}__input:checked + .#{$block}__wrapper {
      background-color: var(--sapSuccessBackground);
      border-color: $fd-toggle-success-border-color;

      .#{$block}__switch {
        border-color: $fd-toggle-success-border-color;
        background-color: $fd-toggle-inactive-switch-background;
      }
    }

    @include fd-hover() {
      .#{$block}__wrapper {
        border-color: $fd-toggle-error-border-color;
      }

      .#{$block}__switch {
        background-color: var(--sapErrorBackground);
        border-color: $fd-toggle-error-border-color;
      }

      .#{$block}__input:checked + .#{$block}__wrapper {
        .#{$block}__switch {
          background-color: var(--sapSuccessBackground);
        }
      }
    }
  }
}
