@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-tokenizer;

.#{$block} {
  $fd-tokenizer-compact-spacing: 0.25rem;
  $fd-tokenizer-spacing: 0.3125rem;

  width: 100%;
  background-color: var(--sapField_Background);
  display: flex;
  align-items: center;

  &__inner {
    @include fd-remove-scrollbar();

    padding: 0 $fd-tokenizer-spacing;
    overflow: hidden;
    float: right;
    white-space: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .fd-token {
    margin-right: $fd-tokenizer-spacing;

    @include fd-rtl() {
      margin: 0 0 0 $fd-tokenizer-spacing;
    }
  }

  &__indicator {
    @include fd-reset();

    display: inline-block;
    cursor: pointer;
  }

  &__input {
    &.#{$fd-namespace}-input {
      border: none;
      padding: 0;
      min-width: 3rem;
    }

    &:last-child {
      flex-basis: 100%;
    }

    @include fd-focus() {
      outline: none;
      box-shadow: none;
      border: none;
    }
  }

  @include fd-focus() {
    box-shadow: none;
    border: none;
    outline-offset: -0.0625rem;
    outline-width: var(--sapContent_FocusWidth);
    outline-color: var(--sapContent_FocusColor);
    outline-style: var(--sapContent_FocusStyle);
  }

  &--compact {
    .#{$block}__inner {
      padding: 0 $fd-tokenizer-compact-spacing;
    }

    .#{$block}__input.#{$fd-namespace}-input {
      min-width: 2rem;
    }

    .fd-token {
      margin-right: $fd-tokenizer-compact-spacing;

      @include fd-rtl() {
        margin: 0 0 0 $fd-tokenizer-spacing;
      }
    }
  }

  &--readonly {
    overflow: visible;
    background-color: var(--sapField_ReadOnly_Background);
    .#{$block}__inner {
      overflow: visible;
    }
  }

  &--scrollable {
    .#{$block}__inner {
      justify-content: initial;
      overflow: scroll;
    }
  }
}
