@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-token+(--no-border)
    .fd-token__content+()
    .fd-token__title+()
*/
$block: #{$fd-namespace}-token;

.#{$block} {
  // LOCAL VARS (set all themeable properties, always include !default)
  $fd-token-border-color: fd-color("neutral", 5) !default;
  $fd-token-color: fd-color("text", 1) !default;
  $fd-token-background-color: fd-color("neutral", 1) !default;

  --fd-token-color: var(--sapTextColor);
  --fd-token-background-color: darken(var(--sapButton_Background), 2);
  --fd-token-border-color: darken(var(--sapButton_BorderColor), 24);
  --fd-token-icon-color: var(--sapContent_IconColor);
  --fd-token-hover-background-color: var(--sapButton_Hover_Background);
  --fd-token-hover-border-color: lighten(var(--sapButton_Hover_BorderColor), 30);

  @include fd-reset();
  @include fd-type("-1");
  @include fd-var-color("color", $fd-token-color, --fd-token-color);
  @include fd-var-color("background-color", $fd-token-background-color, --fd-token-background-color);

  font-size: fd-font-size("0");
  vertical-align: middle;
  display: inline-block;
  padding-left: 0.3125rem;
  //padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: $fd-border-radius;
  border: 0.0625rem solid;
  height: 1.625rem;

  @include fd-var-color("border-color", $fd-token-border-color, --fd-token-border-color);

  @include fd-icon("decline", "s", "after") {
    color: var(--sapContent_IconColor);
    padding: 0.25rem 0.5rem;
    width: 1.75rem;
    height: 1.625rem;
    line-height: 1rem;
    vertical-align: middle;
    cursor: pointer;
  }

  @include fd-rtl() {
    @include fd-icon("decline", "s", "before") {
      color: var(--sapContent_IconColor);
      padding: 0.25rem 0.5rem;
      width: 1.75rem;
      height: 1.625rem;
      line-height: 1rem;
      vertical-align: middle;
      cursor: pointer;
    }

    &::before {
      display: inline;
      margin-left: 0;
      margin-right: fd-space(tiny);
    }

    &::after {
      content: none;
    }
  }

  &:hover {
    background-color: var(--fd-token-hover-background-color);
    border-color: var(--fd-token-hover-border-color);
  }

  &--compact {
    padding-left: 0.25rem;
    padding-bottom: 0.1rem;
    height: 1.25rem;

    @include fd-icon("decline", "s", "after") {
      padding: 0.1rem 0.25rem;
      vertical-align: baseline;
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &--selected {
    color: var(--sapButton_Selected_TextColor);
    background-color: var(--sapButton_Selected_Background);
    border-color: var(--sapButton_Selected_BorderColor);

    &::before,
    &::after {
      color: var(--sapButton_Selected_TextColor);
    }

    &:hover {
      background-color: var(--sapButton_Selected_Hover_Background);
      border-color: var(--sapButton_Selected_Hover_BorderColor);
    }
  }
}

.tokenizer {
  //padding-left: 0.3125rem;
  //
  //.fd-token {
  //  margin-right: 0.3125rem;
  //}
  //
  //input {
  //  margin: 0 0.3125rem !important;
  //  min-width: 2.375rem;
  //}
}
