@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-token;

.#{$block} {
  cursor: default;

  @mixin fd-token-focus() {
    @include fd-focus() {
      box-shadow: none;
      outline-offset: -0.1875rem;
      outline-width: var(--sapContent_FocusWidth);
      outline-color: var(--sapContent_FocusColor);
      outline-style: var(--sapContent_FocusStyle);
      @content;
    }
  }

  $fd-token-height: 1.625rem;
  $fd-token-compact-height: 1.25rem;
  $fd-token-compact-close-width: 1.25rem;
  $fd-token-close-width: 1.75rem;
  $fd-token-padding-horizontal: 0.3125rem;
  $fd-token-padding-vertical: 0.25rem;
  $fd-token-compact-padding-horizontal: 0.25rem;
  $fd-token-compact-padding-vertical: 0.1rem;
  $fd-token-color: var(--sapTextColor) !default;
  $fd-token-background-color: var(--sapButton_TokenBackground) !default;
  $fd-token-border-color: var(--sapButton_TokenBorderColor) !default;
  $fd-token-selected-hover-border-color: var(--sapButton_Selected_Hover_BorderColor) !default;

  $fd-token-icon-color: var(--sapContent_IconColor) !default;

  $fd-token-selected-text-color: var(--sapButton_Selected_TextColor) !default;

  // readonly
  $fd-token-readonly-padding-horizontal: 0.375rem;
  $fd-token-compact-readonly-padding-horizontal: 0.25rem;

  @include fd-reset();

  background-color: $fd-token-background-color;
  color: $fd-token-color;
  font-size: var(--sapFontSize);
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
  padding: $fd-token-padding-vertical 0 $fd-token-padding-vertical $fd-token-padding-horizontal;
  border-radius: 0.25rem;
  white-space: nowrap;
  max-width: 100%;
  min-width: 3.625rem;
  text-overflow: clip;
  height: $fd-token-height;
  line-height: 1.5rem;
  border: var(--sapButton_BorderWidth) solid $fd-token-border-color;

  @include fd-rtl() {
    padding-left: 0;
    padding-right: $fd-token-padding-horizontal;
  }

  &__text {
    overflow: hidden;
    max-width: 100%;
    min-width: auto;
    width: 100%;
    text-overflow: ellipsis;
    text-shadow: var(--fdToken_Text_Shadow);
  }

  &__close {
    @include fd-reset();

    font-size: var(--sapFontSmallSize);
    color: $fd-token-icon-color;
    padding: 0.25rem 0.5rem;
    width: $fd-token-close-width;
    min-width: $fd-token-close-width;
    height: $fd-token-height;
    background-color: transparent;
    line-height: 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @include fd-icon("decline");

    @include fd-focus() {
      outline: none;
      box-shadow: none;
    }
  }

  &:hover {
    background-color: var(--sapButton_Hover_Background);
    border-color: var(--sapButton_Hover_BorderColor);
  }

  @include fd-token-focus();

  &--compact {
    padding: 0 0 $fd-token-compact-padding-vertical $fd-token-compact-padding-horizontal;
    height: $fd-token-compact-height;
    min-width: 3rem;
    line-height: 1.125rem;

    .#{$block}__close {
      padding: ($fd-token-compact-padding-vertical * 2) $fd-token-compact-padding-horizontal $fd-token-compact-padding-vertical;
      vertical-align: baseline;
      width: $fd-token-compact-close-width;
      min-width: $fd-token-compact-close-width;
      height: $fd-token-compact-height;
    }

    @include fd-rtl() {
      padding-left: 0;
      padding-right: $fd-token-compact-padding-horizontal;
    }
  }

  &--selected {
    color: $fd-token-selected-text-color;
    background-color: var(--sapButton_Selected_Background);
    border-color: var(--sapButton_Selected_BorderColor);

    .#{$block}__close {
      color: $fd-token-selected-text-color;
    }

    &:hover {
      background-color: var(--sapButton_Selected_Hover_Background);
      border-color: $fd-token-selected-hover-border-color;
    }

    @include fd-token-focus() {
      outline-color: var(--sapContent_ContrastFocusColor);
    }
  }

  &--readonly {
    color: var(--sapContent_LabelColor);
    padding: $fd-token-padding-vertical $fd-token-readonly-padding-horizontal;

    &.#{$block}--compact {
      padding: $fd-token-compact-padding-vertical $fd-token-compact-readonly-padding-horizontal;

      @include fd-rtl() {
        padding-left: $fd-token-compact-readonly-padding-horizontal;
      }
    }

    @include fd-rtl() {
      padding-left: $fd-token-readonly-padding-horizontal;
    }
  }
}
