@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-tree;

$fd-tree-item-padding-y: 0.25rem !default;

.#{$block} {
  // VARIABLES

  // MIXINS

  @mixin set-state(
    $background: var(--sapList_Background),
    $icon: var(--sapContent_IconColor),
    $text: var(--sapList_TextColor),
    $border: var(--sapList_BorderColor)) {
    background-color: $background;
    border-bottom: 0.063rem solid $border;

    .#{$block}__expander {
      color: $icon;
    }

    .#{$block}__text {
      color: $text;
    }
  }

  // BLOCK
  width: 100%;
  list-style-type: none;

  &[aria-hidden="true"] {
    display: none;
  }

  &[class*="level"] {
    .#{$block}__content {
      background-color: var(--sapList_AlternatingBackground);
      border-bottom-color: transparent;

      @include fd-hover() {
        @include set-state($background: var(--sapList_Hover_Background), $border: transparent);
      }

      @include fd-selected() {
        @include set-state($background: var(--sapList_SelectionBackgroundColor), $border: var(--sapList_SelectionBorderColor));

        @include fd-hover() {
          @include set-state($background: var(--sapList_Hover_SelectionBackground), $border: var(--sapList_SelectionBorderColor));
        }
      }
    }
  }

  &.level-2 {
    .#{$block}__expander {
      margin-left: 1.5rem;
    }

    .#{$block}__text:only-child {
      padding-left: 4.5rem;
    }
  }

  &.level-3 {
    .#{$block}__expander {
      margin-left: 2.5rem;
    }

    .#{$block}__text:only-child {
      padding-left: 5.5rem;
    }
  }

  // ELEMENTS
  &__item {
    @include fd-reset();

    height: 100%;
  }

  &__content {
    @include fd-reset();
    @include fd-flex-vertical-center();
    @include set-state();

    height: 2.75rem;

    @include fd-hover() {
      @include set-state($background: var(--sapList_Hover_Background));
    }

    @include fd-selected() {
      @include set-state($background: var(--sapList_SelectionBackgroundColor), $border: var(--sapList_SelectionBorderColor));

      @include fd-hover() {
        @include set-state($background: var(--sapList_Hover_SelectionBackground), $border: var(--sapList_SelectionBorderColor));
      }
    }
  }

  &__expander {
    @include fd-reset();

    width: 3rem;
    height: 2.5rem;

    @include fd-icon('navigation-right-arrow', 'default', 'after') {
      @include fd-flex-center();

      height: 100%;
      min-height: 100%;
      font-size: var(--sapFontLargeSize);
    }

    @include fd-rtl() {
      &::after {
        content: "\e067";
      }
    }

    &.is-expanded,
    &[aria-expanded="true"] {
      border-bottom: none;

      &::after {
        content: "\e1e2";
      }
    }
  }

  &__text {
    @include fd-reset();
    @include fd-ellipsis();

    font-family: var(--sapFontFamily);
    font-size: var(--sapFontSize);
  }

  // MODIFIERS

  &--compact {

    .#{$block}__content {
      height: 1.5rem;
    }

    .#{$block}__expander {
      width: 2rem;
      height: 1.5rem;
      font-size: 0.75rem;
    }
  }
}
