@import "./mixins";

/*!
.fd-tree+(--header)
    .fd-tree__group+(--sublevel-1...-6, ([aria-hidden] | .is-hidden))
    .fd-tree__item
        .fd-tree__row+(--header, ([aria-selected] | .is-selected))
            .fd-tree__col+(--control, --actions)
                .fd-tree__control+([aria-pressed] | .is-pressed)
*/
$block: #{$fd-namespace}-tree;

.#{$block} {
  // LOCAL VARS (set all themeable properties, always include !default)
  $fd-tree-background-color: #fff !default;
  $fd-tree-border-color: #eeeeef !default;
  $fd-tree-border-width: 0 !default;
  $fd-tree-link-color: #0a6ed1 !default;

  $fd-tree-header-color: #6a6d70 !default;
  $fd-tree-header-background-color: #eeeeef !default;
  $fd-tree-row-background-color--hover: #fafafa !default;

  $fd-tree-control-width: 18px !default;
  $fd-tree-control-button-width-height: 34px !default;
  $fd-tree-transition-params: 0.125s ease-in !default;

  @include fd-reset();
  @include fd-last-child();

  position: relative;
  width: 100%;
  max-width: 100%;
  background-color: $fd-tree-background-color;
  border-bottom-style: solid;
  border-bottom-width: $fd-tree-border-width;
  border-bottom-color: $fd-tree-border-color;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 12px;
  margin-left: 0;

  &:last-child {
    margin-bottom: 0;
  }

  &--header {
    border-bottom: 0;
    border-top-style: solid;
    border-top-width: $fd-tree-border-width;
    border-top-color: $fd-tree-border-color;
    margin-bottom: 0;
    background-color: $fd-tree-header-background-color;
  }

  &__group {
    @include fd-reset();

    transition: opacity $fd-animation-speed linear;
    max-height: auto;
    opacity: 1;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;

    &.is-hidden {
      display: none;
    }
  }

  &__item {
    @include fd-reset();

    border-top-style: solid;
    border-top-width: $fd-tree-border-width;
    border-top-color: $fd-tree-border-color;
    margin-bottom: 0;
    list-style: none;
  }

  &__row {
    @include fd-reset();

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color $fd-tree-transition-params;

    @include fd-hover() {
      background-color: $fd-tree-row-background-color--hover;
    }

    &--header {
      color: $fd-tree-header-color;
      background-color: $fd-tree-header-background-color;
      text-transform: uppercase;

      @include fd-hover() {
        background-color: initial;
      }
    }

    @include fd-selected() {
      background-color: rgba(10, 110, 209, 0.07);
    }
  }

  &__col {
    @include fd-reset();

    flex: 1;
    padding: 12px 0;
    // pad to account for control
    padding-left: 30px;

    @include fd-rtl() {
      padding-left: 0;
      padding-right: 30px;
    }

    &--control {
      flex: auto;
      width: 20%;
      // sets 8 sublevels of indentation based on __group level
      @at-root {
        @each $i in 1,2,3,4,5,6,7,8 {
          .#{$block}__group--sublevel-#{$i} & {
            padding-left: 30px * ($i + 1);

            @include fd-rtl() {
              padding-left: 0;
              padding-right: 30px * ($i + 1);
            }
          }
        }
      }
    }

    &--actions {
      @include fd-reset();

      padding-top: 0;
      padding-bottom: 0;
      text-align: right;

      @include fd-rtl() {
        text-align: left;
      }
    }
  }

  &__control {
    @include fd-reset();
    @include fd-button-reset();

    position: absolute;
    top: calc(50% - #{$fd-tree-control-width} / 2);
    margin: -8px fd-space(3) 0 -36px;
    width: $fd-tree-control-button-width-height;
    height: $fd-tree-control-button-width-height;
    transform: rotate(180deg);
    vertical-align: middle;
    transition: transform 0.125s linear;
    color: #0a6ed1;

    @include fd-icon("nav-back");
    @include fd-focus();

    @include fd-rtl() {
      margin-right: -40px;
      transform: rotate(0deg);
    }

    &.is-pressed {
      transform: rotate(270deg);
    }
  }
}
