@import "./new-settings";
@import "./mixins";

// VARIABLES
$block: #{$fd-namespace}-tree;
$checkbox: #{$fd-namespace}-checkbox;

$fd-tree-item-padding-y: 0.25rem !default;
$fd-tree-item-height: 2.75rem !default;
$fd-tree-item-height-compact: 2rem !default;
$fd-tree-content-padding-right: 1rem !default;
$fd-tree-content-padding-y: 0.25rem !default;
$fd-tree-growing-content-padding: 1rem !default;
$fd-tree-expander-height: 2.75rem !default;
$fd-tree-expander-height-compact: 1.5rem !default;
$fd-tree-expander-width: 2.75rem !default;
$fd-tree-expander-width-compact: 2rem !default;
$fd-tree-checkbox-margin-left: 0.688rem !default;
$fd-tree-checkbox-margin-left-compact: 0.5rem !default;
$fd-tree-checkbox-margin-right: 0.688rem !default;
$fd-tree-checkbox-margin-right-compact: 0.5rem !default;

// MIXINS
@mixin set-state(
  $background: var(--sapList_Background),
  $icon: var(--sapContent_IconColor),
  $text: var(--sapList_TextColor),
  $border: var(--sapList_BorderColor)) {
  background-color: $background;
  border-bottom: 0.063rem solid $border;

  .#{$block}__expander {
    color: $icon;
  }

  .#{$block}__text {
    color: $text;
  }
}

@mixin set-indentation($margin) {
  .#{$block}__expander {
    margin-left: $margin;
  }

  .#{$block}__form-item + .#{$block}__content,
  .#{$block}__content:only-child {
    margin-left: $margin + $fd-tree-expander-width;
  }

  @include fd-rtl() {
    .#{$block}__expander {
      margin-right: $margin;
    }

    .#{$block}__form-item + .#{$block}__content,
    .#{$block}__content:only-child {
      margin-right: $margin + $fd-tree-expander-width;
    }
  }

  &.#{$block}--compact {
    .#{$block}__form-item + .#{$block}__content,
    .#{$block}__content:only-child {
      margin-left: $margin + $fd-tree-expander-width-compact;
    }

    @include fd-rtl() {
      .#{$block}__form-item + .#{$block}__content,
      .#{$block}__content:only-child {
        margin-right: $margin + $fd-tree-expander-width-compact;
      }
    }
  }

  &.#{$block}--dependent-selection {

    .#{$block}__form-item:first-child {
      margin-left: $margin + $fd-tree-expander-width;
    }

    @include fd-rtl() {
      .#{$block}__form-item:first-child {
        margin-right: $margin + $fd-tree-expander-width;
      }
    }

    &.#{$block}--compact {
      .#{$block}__form-item:first-child {
        margin-left: $margin + $fd-tree-expander-width-compact;
      }

      @include fd-rtl() {
        .#{$block}__form-item:first-child {
          margin-right: $margin + $fd-tree-expander-width-compact;
        }
      }
    }
  }
}

.#{$block} {
  // BLOCK
  @include fd-reset();

  width: 100%;
  list-style-type: none;

  &[aria-hidden="true"] {
    display: none;
  }

  &.level-1 > .#{$block}__item {
    & > .#{$block}__item-container {
      @include set-state();

      @include fd-selected() {
        @include set-state($background: var(--sapList_SelectionBackgroundColor), $border: var(--sapList_SelectionBorderColor));
      }
    }

    & > .#{$block}__item-container.#{$block}__item-container--growing {
      .#{$block}__text {
        color: var(--sapButton_TextColor);
      }

      .#{$block}__content:only-child {
        margin: 0;

        @include fd-rtl() {
          margin: 0;
        }
      }

      @include fd-active() {
        @include set-state($background: var(--sapList_Active_Background), $text: var(--sapList_Active_TextColor));

        @include fd-focus() {
          outline-color: var(--sapContent_ContrastFocusColor);
        }
      }

      @include fd-hover() {
        @include set-state($background: var(--sapList_Hover_Background), $border: var(--sapList_BorderColor), $text: var(--sapButton_TextColor));

        @include fd-active() {
          @include set-state($background: var(--sapList_Active_Background), $text: var(--sapList_Active_TextColor));

          @include fd-focus() {
            outline-color: var(--sapContent_ContrastFocusColor);
          }
        }
      }
    }
  }

  &.level-1,
  &.level-25 {
    @include set-indentation(0);
  }

  &.expanded-level-1,
  &.expanded-level-25 {
    .level-2,
    .level-26 {
      @include set-indentation(1.5rem);
    }
  }

  &.expanded-level-2,
  &.expanded-level-26 {
    .level-2,
    .level-26 {
      @include set-indentation(1rem);
    }

    .level-3,
    .level-27 {
      @include set-indentation(2.5rem);
    }
  }

  &.expanded-level-3,
  &.expanded-level-4,
  &.expanded-level-5,
  &.expanded-level-27,
  &.expanded-level-28,
  &.expanded-level-29 {
    @for $i from 2 through 6 {
      $marginLeft: ($i - 1) * 0.5rem;
      .level-#{$i},
      .level-#{$i + 24} {
        @include set-indentation($marginLeft);
      }
    }
  }

  @for $i from 6 through 24 {
    &.expanded-level-#{$i} {
      @for $j from 2 through 24 {
        $marginLeft: ($j - 1) * 0.25rem;
        .level-#{$j} {
          @include set-indentation($marginLeft);
        }
      }
    }
  }

  @for $i from 30 through 36 {
    &.expanded-level-#{$i} {
      @for $j from 25 through 36 {
        $marginLeft: ($j - 25) * 0.25rem;
        .level-#{$j} {
          @include set-indentation($marginLeft);
        }
      }
    }
  }

  // ELEMENTS
  &__item {
    @include fd-reset();

    height: 100%;
  }

  &__item-container {
    @include fd-reset();
    @include fd-flex-vertical-center();
    @include set-state($background: var(--sapList_AlternatingBackground), $border: transparent);

    @include fd-focus() {
      outline-style: dotted;
      outline-width: var(--sapContent_FocusWidth);
      outline-color: var(--sapContent_FocusColor);
      outline-offset: -0.125rem;
    }

    @include fd-selected() {
      @include set-state($background: var(--sapList_SelectionBackgroundColor), $border: var(--sapList_SelectionBorderColor));
    }

    @include fd-rtl() {
      padding-right: 0;
      padding-left: $fd-tree-content-padding-right;
    }

    min-height: $fd-tree-item-height;
    height: 100%;
    padding-right: $fd-tree-content-padding-right;

    &--growing {
      cursor: pointer;
      justify-content: center;
      padding-right: $fd-tree-growing-content-padding;
      padding-left: $fd-tree-growing-content-padding;

      .#{$block}__text {
        color: var(--sapButton_TextColor);
      }

      @include fd-rtl() {
        padding-right: $fd-tree-growing-content-padding;
        padding-left: $fd-tree-growing-content-padding;
      }
    }
  }

  &__expander {
    @include fd-reset();

    @include fd-icon('navigation-right-arrow', 'default', 'after') {
      @include fd-flex-center();

      height: 100%;
      min-height: 100%;
      font-size: var(--sapFontLargeSize);
    }

    @include fd-focus() {
      outline: none;
    }

    @include fd-rtl() {
      &::after {
        content: "\e067";
      }
    }

    min-width: $fd-tree-expander-width;
    width: $fd-tree-expander-width;
    height: $fd-tree-expander-height;
    background-color: transparent;

    &.is-expanded,
    &[aria-expanded="true"] {
      border-bottom: none;

      &::after {
        content: "\e1e2";
      }
    }

    + .#{$block}__content {
      margin: 0;
    }
  }

  &__content {
    @include fd-reset();
    @include fd-ellipsis();
    @include fd-flex-vertical-center();

    padding-top: $fd-tree-content-padding-y;
    padding-bottom: $fd-tree-content-padding-y;

    &--wrap {
      white-space: initial;
      overflow: visible;
      text-overflow: initial;

      .#{$block}__text {
        white-space: initial;
        overflow: visible;
        text-overflow: initial;
      }
    }
  }

  &__text {
    @include fd-reset();
    @include fd-ellipsis();

    font-family: var(--sapFontFamily);
    font-size: var(--sapFontSize);
  }

  .#{$block}__form-item {
    .#{$checkbox}:focus + .#{$checkbox}__label:empty::after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .#{$checkbox}__label {
      padding: 0.0625rem;

      &:empty {
        padding: 0.0625rem;
      }
    }
  }

  // MODIFIERS
  &--compact {
    .#{$block}__item-container {
      height: $fd-tree-item-height-compact;
      min-height: $fd-tree-item-height-compact;
    }

    .#{$block}__expander {
      width: $fd-tree-expander-width-compact;
      min-width: $fd-tree-expander-width-compact;
      height: $fd-tree-expander-height-compact;
      font-size: 0.75rem;
    }
  }

  &--hoverable {
    &.level-1 > .#{$block}__item {
      & > .#{$block}__item-container {
        @include fd-hover() {
          @include set-state($background: var(--sapList_Hover_Background), $border: var(--sapList_BorderColor));
        }

        @include fd-selected() {
          @include set-state($background: var(--sapList_SelectionBackgroundColor), $border: var(--sapList_SelectionBorderColor));

          @include fd-hover() {
            @include set-state($background: var(--sapList_Hover_SelectionBackground), $border: var(--sapList_SelectionBorderColor));
          }
        }
      }
    }

    .#{$block}__item-container {
      @include fd-hover() {
        @include set-state($background: var(--sapList_Hover_Background), $border: transparent);
      }

      @include fd-selected() {
        @include set-state($background: var(--sapList_SelectionBackgroundColor), $border: var(--sapList_SelectionBorderColor));

        @include fd-hover() {
          @include set-state($background: var(--sapList_Hover_SelectionBackground), $border: var(--sapList_SelectionBorderColor));
        }
      }
    }
  }

  &--independent-selection {
    .#{$block}__form-item {
      margin-left: $fd-tree-checkbox-margin-left;

      @include fd-rtl() {
        margin-left: 0;
        margin-right: $fd-tree-checkbox-margin-left;
      }
    }

    &.#{$block}--compact {
      .#{$block}__form-item {
        margin-left: $fd-tree-checkbox-margin-left-compact;

        @include fd-rtl() {
          margin-left: 0;
          margin-right: $fd-tree-checkbox-margin-left-compact;
        }
      }
    }
  }

  &--dependent-selection {
    .#{$block}__form-item {
      margin-right: $fd-tree-checkbox-margin-right;

      @include fd-rtl() {
        margin-right: 0;
        margin-left: $fd-tree-checkbox-margin-right;
      }
    }

    &.#{$block}--compact {
      .#{$block}__form-item {
        margin-right: $fd-tree-checkbox-margin-right-compact;

        @include fd-rtl() {
          margin-right: 0;
          margin-left: $fd-tree-checkbox-margin-right-compact;
        }
      }
    }
  }

  &[class*='expanded-level-'] {
    &,
    [class*=' level-'] {
      &.#{$block}--dependent-selection {
        .#{$block}__item {
          .#{$block}__form-item + .#{$block}__content {
            margin: 0;
          }

          .#{$block}__content {
            margin: 0;
          }
        }

        @include fd-rtl() {
          .#{$block}__form-item + .#{$block}__content {
            margin: 0;
          }

          .#{$block}__content {
            margin: 0;
          }

          .#{$block}__form-item:first-child {
            margin-left: $fd-tree-checkbox-margin-right;
          }
        }

        &.#{$block}--compact {
          @include fd-rtl() {
            .#{$block}__form-item:first-child {
              margin-left: $fd-tree-checkbox-margin-right-compact;
            }
          }
        }
      }

      &,
      &.#{$block}--compact {
        @include fd-rtl() {
          .#{$block}__expander {
            margin-left: 0;
          }

          .#{$block}__form-item + .#{$block}__content,
          .#{$block}__content:only-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
