@import "./mixins";

// VARIABLES
$block: #{$fd-namespace}-tree;
$button: #{$fd-namespace}-button;
$first-level-item-container: '.#{$block}__item[aria-level="1"] > .#{$block}__item-container';
$active-item-container: '.#{$block}__item-container.#{$block}__item-container--active';

$fd-tree-item-height: 2.75rem !default;
$fd-tree-item-height-compact: 2rem !default;
$fd-tree-item-padding-right: 1rem !default;
$fd-tree-item-padding-right-negative: -1rem !default;
$fd-tree-expander-size: 2.75rem !default;
$fd-tree-expander-size-compact: 2rem !default;
$fd-tree-expander-size-negative: -2.75rem !default;
$fd-tree-expander-size-negative-compact: -2rem !default;
$fd-tree-icon-size: 2.75rem !default;
$fd-tree-icon-size-compact: 2rem !default;
$fd-tree-navigated-box-shadow: inset -0.1875rem 0 0 0 var(--sapSelectedColor) !default;
$fd-tree-navigated-box-shadow-rtl: inset 0.1875rem 0 0 0 var(--sapSelectedColor) !default;
$fd-tree-highlight-box-shadow: inset 0.375rem 0 0 0 !default;
$fd-tree-highlight-box-shadow-rtl: inset -0.375rem 0 0 0 !default;
$fd-tree-item-transparent-border-bottom: var(--sapList_BorderWidth) solid transparent !default;
$fd-tree-item-selected-border-bottom: var(--sapList_BorderWidth) solid var(--sapList_SelectionBorderColor) !default;

// MIXINS
@mixin set-indentation($level, $padding) {
  .#{$block}__item {
    &[aria-level="#{$level}"] {
      .#{$block}__item-container {
        padding-left: $padding + $fd-tree-expander-size;

        @include fd-rtl() {
          padding-left: $fd-tree-item-padding-right;
          padding-right: $padding + $fd-tree-expander-size;
        }
      }
    }
  }

  &.#{$block}--compact {
    .#{$block}__item {
      &[aria-level="#{$level}"] {
        .#{$block}__item-container {
          padding-left: $padding + $fd-tree-expander-size-compact;

          @include fd-rtl() {
            padding-left: $fd-tree-item-padding-right;
            padding-right: $padding + $fd-tree-expander-size-compact;
          }
        }
      }
    }
  }
}

@mixin set-highlight($color) {
  box-shadow: $fd-tree-highlight-box-shadow $color;

  @include fd-rtl() {
    box-shadow: $fd-tree-highlight-box-shadow-rtl $color;
  }

  @include fd-navigated() {
    box-shadow: $fd-tree-navigated-box-shadow, $fd-tree-highlight-box-shadow $color;

    @include fd-rtl() {
      box-shadow: $fd-tree-navigated-box-shadow-rtl, $fd-tree-highlight-box-shadow-rtl $color;
    }
  }
}

@mixin text-wrapping-behaviour() {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
}

@mixin tree-selected-state() {
  background: var(--sapList_SelectionBackgroundColor);
  border-bottom: $fd-tree-item-selected-border-bottom;
}

@mixin tree-focus() {
  outline-style: dotted;
  outline-width: var(--sapContent_FocusWidth);
  outline-color: var(--sapContent_FocusColor);
  outline-offset: -0.125rem;

  @include fd-active() {
    outline-color: var(--sapContent_ContrastFocusColor);
  }
}

@mixin tree-states() {
  cursor: pointer;

  @include fd-hover() {
    background: var(--sapList_Hover_Background);
  }

  @include fd-selected() {
    @include tree-selected-state();

    @include fd-hover() {
      background: var(--sapList_Hover_SelectionBackground);
    }
  }

  @include fd-active() {
    background: var(--sapList_Active_Background);

    .#{$button},
    .#{$block}__icon,
    .#{$block}__expander {
      @include fd-icon-selector() {
        color: var(--sapList_Active_TextColor);
      }

      @include fd-hover() {
        @include fd-icon-selector() {
          background: var(--sapList_Active_Background);
        }
      }

      @include fd-selected() {
        @include fd-icon-selector() {
          background: var(--sapList_Active_Background);

          @include fd-hover() {
            background: var(--sapList_Active_Background);
          }
        }
      }

      @include fd-focus() {
        @include fd-icon-selector() {
          outline-color: var(--sapContent_ContrastFocusColor);
        }
      }
    }

    .#{$block}__text {
      color: var(--sapList_Active_TextColor);
    }

    @include fd-hover() {
      background: var(--sapList_Active_Background);
    }

    @include fd-selected() {
      background: var(--sapList_Active_Background);

      @include fd-hover() {
        background: var(--sapList_Active_Background);
      }
    }

    @include fd-focus() {
      outline-color: var(--sapContent_ContrastFocusColor);
    }
  }
}

// BLOCK
.#{$block} {
  @include fd-reset();

  width: 100%;
  list-style-type: none;

  &[aria-hidden="true"] {
    display: none;
  }

  &.expanded-level-1 {
    @include set-indentation(2, 1.5rem);
  }

  &.expanded-level-2 {
    @include set-indentation(2, 1rem);
    @include set-indentation(3, 2.5rem);
  }

  &.expanded-level-3,
  &.expanded-level-4,
  &.expanded-level-5 {
    @include set-indentation(2, 0.5rem);
    @include set-indentation(3, 1rem);
    @include set-indentation(4, 1.5rem);
    @include set-indentation(5, 2rem);
    @include set-indentation(6, 2.5rem);
  }

  @for $i from 6 through 12 {
    &.expanded-level-#{$i} {
      @for $j from 1 through 12 {
        $offset: ($j - 1) * 0.25rem;

        @include set-indentation($j, $offset);
      }
    }
  }

  // ELEMENTS
  &__item {
    @include fd-reset();
  }

  #{$first-level-item-container} {
    padding-left: $fd-tree-expander-size;
    background: var(--sapList_Background);
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);

    @include fd-rtl() {
      padding-left: $fd-tree-item-padding-right;
      padding-right: $fd-tree-expander-size;
    }

    @include fd-selected() {
      @include tree-selected-state();
    }
  }

  &__item-container {
    @include fd-reset();
    @include fd-flex-vertical-center();

    @include fd-selected() {
      @include tree-selected-state();
    }

    @include fd-navigated() {
      box-shadow: $fd-tree-navigated-box-shadow;

      @include fd-rtl() {
        box-shadow: $fd-tree-navigated-box-shadow-rtl;
      }
    }

    @include fd-focus() {
      @include tree-focus();
    }

    width: 100%;
    min-height: $fd-tree-item-height;
    padding-right: $fd-tree-item-padding-right;
    background: var(--sapList_AlternatingBackground);
    border-bottom: $fd-tree-item-transparent-border-bottom;
  }

  .#{$block}__item[aria-level="1"] > #{$active-item-container},
  #{$active-item-container} {
    @include tree-states();
  }

  &__expander {
    @include fd-reset();

    @include fd-icon-contain() {
      font-size: var(--sapFontLargeSize);
    }

    @include fd-focus() {
      @include tree-focus();
    }

    cursor: pointer;
    background: transparent;
    color: var(--sapButton_IconColor);
    min-width: $fd-tree-expander-size;
    min-height: $fd-tree-expander-size;
    margin-left: $fd-tree-expander-size-negative;

    @include fd-rtl() {
      margin-left: 0;
      margin-right: $fd-tree-expander-size-negative;
    }

    &.is-expanded,
    &[aria-expanded="true"] {
      border-bottom: none;
    }
  }

  &__content {
    @include fd-reset();
    @include fd-ellipsis();
    @include fd-flex-vertical-center();

    min-height: $fd-tree-item-height;
    width: 100%;
    text-decoration: none;

    &--wrap {
      @include text-wrapping-behaviour();

      .#{$block}__text {
        @include text-wrapping-behaviour();

        line-height: 1.4;
      }
    }
  }

  &__icon {
    @include fd-reset();
    @include fd-flex-center();

    @include fd-icon-contain() {
      font-size: 1.125rem;
      color: var(--sapContent_NonInteractiveIconColor);
      min-width: $fd-tree-icon-size;
      min-height: $fd-tree-icon-size;
      line-height: $fd-tree-icon-size; // IE11 fix for vertical alignment
    }

    &--navigation {
      @include fd-icon-selector() {
        min-width: 2.5rem;
        font-size: 0.75rem;
      }

      &:last-child {
        margin-right: $fd-tree-item-padding-right-negative;
      }

      @include fd-rtl() {
        &:last-child {
          margin-right: 0;
          margin-left: $fd-tree-item-padding-right-negative;
        }
      }
    }
  }

  &__text {
    @include fd-reset();
    @include fd-ellipsis();

    width: 100%;
    font-size: var(--sapFontLargeSize);
    color: var(--sapList_TextColor);
    line-height: $fd-tree-item-height; // IE11 fix for vertical alignment
  }

  // MODIFIERS
  &--compact {
    #{$first-level-item-container} {
      padding-left: $fd-tree-expander-size-compact;

      @include fd-rtl() {
        padding-left: $fd-tree-item-padding-right;
        padding-right: $fd-tree-expander-size-compact;
      }
    }

    .#{$block}__item-container {
      min-height: $fd-tree-item-height-compact;
    }

    .#{$block}__content {
      min-height: $fd-tree-item-height-compact;

      &--wrap {
        .#{$block}__text {
          line-height: 1.4;
        }
      }
    }

    .#{$block}__text {
      font-size: var(--sapFontSize);
      line-height: $fd-tree-item-height-compact; // IE11 fix for vertical alignment
    }

    .#{$block}__expander {
      min-height: $fd-tree-expander-size-compact;
      min-width: $fd-tree-expander-size-compact;
      margin-left: $fd-tree-expander-size-negative-compact;

      @include fd-icon-selector() {
        font-size: var(--sapFontSmallSize);
      }

      @include fd-rtl() {
        margin-left: 0;
        margin-right: $fd-tree-expander-size-negative-compact;
      }
    }

    .#{$block}__icon {
      min-height: $fd-tree-icon-size-compact;
      line-height: $fd-tree-icon-size-compact;
      font-size: 1rem;
    }
  }

  &--no-border {
    #{$first-level-item-container} {
      border-bottom: $fd-tree-item-transparent-border-bottom;

      @include fd-selected() {
        border-bottom: $fd-tree-item-selected-border-bottom;
      }
    }
  }

  &--active {
    .#{$block}__item-container,
    #{$first-level-item-container} {
      @include tree-states();
    }
  }

  &--no-data {
    .#{$block}__text {
      text-align: center;
    }
  }

  .has-highlight-indicator {
    @include set-highlight(var(--sapInformationBorderColor));

    &--error {
      @include set-highlight(var(--sapErrorBorderColor));
    }

    &--warning {
      @include set-highlight(var(--sapWarningBorderColor));
    }

    &--success {
      @include set-highlight(var(--sapSuccessBorderColor));
    }
  }
}
