@import "./new-settings";
@import "./mixins";
@import "./listDefinitions.scss";

$block: #{$fd-namespace}-upload-collection;

$fd-upload-collection-button-spacing: 1rem !default;
$fd-upload-collection-side-margin: 0.375rem !default;
$fd-upload-collection-button-group-margin: 0.125rem !default;
$fd-upload-collection-button-group-small-margin: 0.5rem !default;

.#{$block} {
  &__item {
    flex-wrap: nowrap;

    &--small {
      flex-wrap: wrap;
    }

    .#{$block}__button-group {
      @include fd-reset();

      display: flex;

      button {
        @include fd-set-margin-left($fd-upload-collection-button-group-margin);
      }

      &--small {
        flex-basis: 100%;
        margin-top: 0.75rem;

        button:not(:first-child) {
          @include fd-set-margin-left($fd-upload-collection-button-group-small-margin);
        }
      }
    }

    .#{$block}__description,
    .#{$block}__status-group,
    .#{$block}__extension {
      @include fd-reset();
      @include fd-ellipsis();

      font-size: $fd-list-normal-font-size;
      line-height: $fd-list-byline-text-line-height;
      color: $fd-list-byline-section-text-color;
    }

    .#{$block}__description {
      padding-top: 0.625rem;
    }

    .#{$block}__status-group {
      margin-top: $fd-upload-collection-side-margin;
    }

    .#{$block}__extension {
      display: inline-block;

      @include fd-set-margin-left($fd-upload-collection-side-margin);
    }

    .#{$block}__file-name-icon {
      @include fd-set-margin-left($fd-upload-collection-button-group-small-margin);
    }

    .#{$block}__text-separator::before {
      @include fd-reset();

      color: var(--sapContent_LabelColor);
      content: "\2022";
    }

    .#{$block}__form-item {
      display: inline-block;

      input {
        width: 60%;
      }

      &--small {
        input {
          width: 75%;
        }
      }
    }

    .#{$block}__thumbnail {
      align-items: flex-start;
    }
  }
}
