@import "./new-settings";
@import "./mixins";

$block: #{$fd-namespace}-vertical-nav;
$has-child-content-arrow-margin: 0.125rem;

.#{$block} {
  @include fd-reset();

  background-color: var(--sapList_AlternatingBackground);
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: var(--fdVerticalNav_Text_Shadow);
  box-shadow: var(--sapContent_Shadow0);
  height: 100%;

  &__skip-link {
    @include fd-reset();
    @include fd-screen-reader-only();

    &:focus {
      @include fd-link();

      position: static;
      width: auto;
      height: auto;
    }
  }

  &__group-header {
    @include fd-reset();

    height: 2.75rem;
    background: var(--sapList_GroupHeaderBackground);
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_GroupHeaderBorderColor);
    color: var(--sapList_GroupHeaderTextColor);
    display: flex;
    align-items: flex-end;
    font-size: var(--sapFontSize);
    font-weight: bold;
    line-height: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__main-navigation {
    @include fd-reset();
  }

  &--condensed {
    width: 3.25rem;

    @include fd-rtl() {
      &.#{$block}--condensed {
        width: 2.75rem;
      }
    }
  }
}
