@import "./mixins";

// VARIABLES
$block: #{$fd-namespace}-wizard;

$fd-wizard-step-indicator-spacing: 0.1875rem !default;
$fd-wizard-step-indicator-size: 2rem !default;
$fd-wizard-step-no-label-max-size: 4rem !default;
$fd-wizard-step-indicator-stacked-offset: -1 * ($fd-wizard-step-indicator-size - $fd-wizard-step-indicator-spacing + 0.25rem) !default;
$fd-wizard-stacked-upcoming-step-offset: 2.375rem !default;

@mixin fd-wizard-responsive-paddings() {
  &--s {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &--m,
  &--l {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &--xl {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

// BLOCK
.#{$block} {
  @include fd-reset();

  position: relative;

  &__navigation {
    @include fd-reset();
  }

  &__progress-bar {
    @include fd-reset();
    @include fd-wizard-responsive-paddings();

    width: 100%;
    height: 4rem;
    display: table;
    padding-top: 1rem;
    position: relative;
    table-layout: fixed;
    list-style-type: none;
    background: var(--sapObjectHeader_Background);
    box-shadow: var(--sapContent_HeaderShadow); // to be discussed
  }

  &__step-wrapper {
    @include fd-reset();
    @include fd-flex-vertical-center();

    height: 2rem;
  }

  &__step {
    @include fd-reset();

    width: 100%;
    min-width: 10.5rem;
    position: relative;
    display: table-cell;
    vertical-align: top;

    // --- STEP MODIFIERS ---
    &--completed {
      .#{$block}__step-indicator {
        background: var(--sapObjectHeader_Background);
        color: var(--sapWizard_Completed_Step_Color);
        border: var(--sapWizard_Completed_Step_Border);

        &::before {
          color: var(--sapWizard_Completed_Step_Icon_Color);
        }
      }
    }

    &--current {
      .#{$block}__step-indicator {
        position: relative;
        background: var(--sapSelectedColor);
        color: var(--sapWizard_Current_Step_Color);

        &::before {
          color: var(--sapWizard_Current_Step_Icon_Color);
        }

        // Selection Bar
        &::after {
          content: "";
          bottom: -1rem;
          left: -$fd-wizard-step-indicator-spacing;
          position: absolute;
          display: inline-block;
          width: calc(100% + 2 * 0.1875rem);
          height: var(--sapWizard_Selection_Bar_Height);
          background: var(--sapWizard_Selection_Bar_Background);
          border-radius: 0.125rem 0.125rem 0 0;
          transition: all $fd-animation-speed ease-in;
        }
      }
    }

    &--upcoming {
      .#{$block}__step-indicator {
        background: var(--sapObjectHeader_Background);
        border: var(--sapWizard_Upcoming_Step_Border);
        color: var(--sapWizard_Upcoming_Step_Color);

        &::before {
          color: var(--sapWizard_Upcoming_Step_Icon_Color);
        }
      }

      .#{$block}__step-container {
        cursor: default;
        pointer-events: none;
      }
    }

    &--no-label {
      min-width: $fd-wizard-step-no-label-max-size;

      .#{$block}__label-container {
        display: none;
      }
    }

    &--stacked-top {
      &.#{$block}__step--stacked {
        min-width: $fd-wizard-step-no-label-max-size;
        width: $fd-wizard-step-no-label-max-size;

        .#{$block}__connector {
          display: block;
          min-width: auto;
        }
      }
    }

    &--stacked {
      width: 0.25rem;
      min-width: auto;

      .#{$block}__connector,
      .#{$block}__label-container {
        display: none;
      }

      &.#{$block}__step--upcoming {
        &:last-child {
          padding-right: $fd-wizard-stacked-upcoming-step-offset;

          @include fd-rtl() {
            padding-right: 0;
            padding-left: $fd-wizard-stacked-upcoming-step-offset;
          }
        }

        // Fiori 3 recommends a maximum of 8 steps
        @for $i from 1 through 8 {
          &:nth-child(#{$i}) {
            z-index: calc(10 - #{$i});
          }
        }
      }
    }

    &--active {
      .#{$block}__step-indicator {
        background: var(--sapActiveColor);
        border-color: var(--sapWizard_Active_Step_Border_Color);
        color: var(--sapWizard_Active_Step_Color);
      }

      &::before {
        color: var(--sapWizard_Active_Step_Icon_Color);
      }
    }
  }

  &__step-container {
    @include fd-reset();
    @include fd-flex-vertical-center();

    @include fd-focus() {
      outline-style: var(--sapContent_FocusStyle);
      outline-width: var(--sapContent_FocusWidth);
      outline-color: var(--sapContent_FocusColor);
    }

    cursor: pointer;
  }

  &__step-indicator {
    @include fd-reset();
    @include fd-flex-center();

    border-radius: 50%;
    min-width: $fd-wizard-step-indicator-size;
    min-height: $fd-wizard-step-indicator-size;
    width: $fd-wizard-step-indicator-size;
    height: $fd-wizard-step-indicator-size;
    margin: 0 $fd-wizard-step-indicator-spacing;

    &::before {
      font-size: var(--sapFontLargeSize);
    }
  }

  &__label-container {
    @include fd-reset();
    @include fd-flex(column);

    max-width: 100%;
    max-height: $fd-wizard-step-indicator-size;
    color: var(--sapContent_LabelColor);
    overflow: hidden;

    &--optional {
      .#{$block}__label {
        @include line-clamp(1);
      }
    }
  }

  &__label {
    @include fd-reset();
    @include line-clamp();

    line-height: 1;
    max-width: 100%;
  }

  &__optional-text {
    @include fd-reset();
    @include line-clamp(1);

    max-width: 100%;
    font-size: var(--sapFontSmallSize);
  }

  &__connector {
    @include fd-reset();

    flex: 1 1 auto;
    margin: 0.5rem;
    max-width: 100%;
    min-width: 1rem;
    border-bottom: 0.0625rem solid var(--sapList_BorderColor);

    &--active {
      border-bottom-color: var(--sapWizard_Connector_Active_Border_Color);
    }

    &--branching {
      border-bottom-style: dashed;
    }
  }

  &__content {
    @include fd-reset();
    @include fd-wizard-responsive-paddings();

    width: 100%;
    height: 100%;
    padding-top: 1rem;
    background: var(--sapWizard_Content_Default_Background);

    &--solid {
      background: var(--sapWizard_Content_Solid_Background);
    }

    &--list {
      background: var(--sapWizard_Content_List_Background);
    }

    &--transparent {
      background: var(--sapWizard_Content_Transparent_Background);
    }
  }

  &__next-step {
    @include fd-reset();
    @include fd-wizard-responsive-paddings();

    margin-top: 1rem;

    &--floating {
      position: absolute;
      bottom: 3.5rem;
    }
  }
}
