:root {
  --fdInverted_Object_Border_Width: 0;
  --fdOverlay_Background_Opacity: 0.6;

  /* Rating Indicator */
  // default mode
  --fdRating_Indicator_Selected_Hover_Opacity: 0.9;
  // Display Only mode
  --fdRating_Indicator_Display_Only_Selected_Color: var(--sapTextColor);
  // Disabled mode
  --fdRating_Indicator_Disabled_Selected_Color: var(--sapContent_RatedColor);
  --fdRating_Indicator_Disabled_Unselected_Color: var(--sapContent_UnratedColor);
  --fdRating_Indicator_Disabled_Control_Opacity: 0.4;

  /* Wizard */
  --fdWizard_Completed_Step_Color: var(--sapSelectedColor);
  --fdWizard_Completed_Step_Border: 0.0625rem solid var(--sapSelectedColor);
  --fdWizard_Completed_Step_Icon_Color: var(--sapSelectedColor);
  --fdWizard_Current_Step_Color: var(--sapContent_ContrastTextColor);
  --fdWizard_Current_Step_Icon_Color: var(--sapContent_ContrastIconColor);
  --fdWizard_Upcoming_Step_Color: var(--sapContent_LabelColor);
  --fdWizard_Upcoming_Step_Icon_Color: var(--sapContent_LabelColor);
  --fdWizard_Upcoming_Step_Border: 0.0625rem solid var(--sapList_BorderColor);
  --fdWizard_Active_Step_Color: var(--sapContent_ContrastTextColor);
  --fdWizard_Active_Step_Icon_Color: var(--sapContent_ContrastIconColor);
  --fdWizard_Active_Step_Border_Color: var(--sapActiveColor);
  --fdWizard_Connector_Active_Border_Color: var(--sapSelectedColor);
  --fdWizard_Content_Default_Background: var(--sapBackgroundColor);
  --fdWizard_Content_Solid_Background: var(--sapShell_Background);
  --fdWizard_Content_List_Background: var(--sapGroup_ContentBackground);
  --fdWizard_Content_Transparent_Background: transparent;
  --fdWizard_Selection_Bar_Height: 0.188rem;
  --fdWizard_Selection_Bar_Background: var(--sapSelectedColor);

  /* Avatar */
  --fdAvatar_Tile_BackgroundColor: var(--sapTile_IconColor);
  --fdAvatar_DefaultColor: var(--sapContent_ContrastTextColor);
  --fdAvatar_Placeholder_BackgroundColor: var(--sapContent_ImagePlaceholderBackground);
  --fdAvatar_Placeholder_DefaultColor: var(--sapContent_ContrastTextColor);
  --fdAvatar_Tile_DefaultColor: var(--sapContent_ContrastTextColor);
  --fdAvatar_Border: 0.0625rem solid var(--sapGroup_ContentBorderColor);

  /* Tabs */
  --fdTabs_Selected_Color: var(--sapSelectedColor);
  --fdTabs_Selected_Icon_Color: var(--sapContent_ContrastIconColor);

  /* Radio */
  --fdRadio_Selected_Color: var(--sapSelectedColor);

  /* Checkbox */
  --fdCheckbox_Selected_Color: var(--sapSelectedColor);
}
