{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import button_group %}


{% block content %}
<style media="screen">
  .fd-button-group {
    margin-bottom: 10px;
  }
</style>

<h2>default</h2>

{% set example %}

    {% call button_group() -%}
     <button class="btn-playground">First</button>
     <button class="btn-playground">Second</button>
     <button class="btn-playground">Third</button>
  {%- endcall %}

  {% call button_group() -%}
     <button class="btn-playground">First</button>
     <button class="btn-playground">Second</button>
     <button class="btn-playground">Third</button>
     <button class="btn-playground">Fourth</button>
  {%- endcall %}

    {% endset %}
    {{ format(example) }}

{% endblock %}
