{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import messageStrip %}
{% from "./../overlay.njk" import overlay, overlay_toggle %}

{% block content %}

    {% set messageStripKinds = ["", "information", "success", "warning", "error" ] %}
    {% set messageStripDissmisable = [true, false] %}
    {% set messageStripWithIcon = [true, false] %}
    {% set titleIndex = 0 %}
    {% set sectionTitles = ["Closeable Message String ", "Closeable without icon", "Uncloseable", "Uncloseable without icon"] %}
    {% set messageStripText = "Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio. Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. Sed bibendum, sapien at posuere interdum, libero est sollicitudin magna, ac gravida tellus purus eu ipsum. Proin ut quam arcu." %}

    {% for dissmisable in messageStripDissmisable %}
        {% for withIcon in messageStripWithIcon %}
            <h1>{{ sectionTitles[titleIndex] }}</h1>
            {% set example %}
                {% for messageStripKind in messageStripKinds %}
                    {{ messageStrip(
                        properties={
                            text: messageStripText,
                            dismissible: dissmisable,
                            rtl: withRTL
                        },
                        modifier={
                            block: ['no-icon' if not withIcon, messageStripKind]
                        }
                    ) }}
                {% endfor %}
            {% endset %}
            {% set titleIndex = titleIndex + 1 %}
            {{- format(example) -}}
        {% endfor %}
    {% endfor %}

{% endblock %}
