@import "mixins";

$fd-popover-body-shadow-offset: var(--sapGroup_BorderWidth) !default;
$fd-popover-background-color: var(--sapGroup_ContentBackground) !default;
$fd-popover-border-radius: var(--fdPopover_Border_Radius) !default;
$fd-popover-box-shadow-no-arrow: var(--sapContent_Shadow1) !default;
$fd-popover-full-filled-width: calc(100% - #{$fd-popover-body-shadow-offset} * 2);

@mixin fd-popover-border-radius() {
  border-radius: $fd-popover-border-radius;

  @content;
}

@mixin fd-left-popover-offset-placement() {
  left: $fd-popover-body-shadow-offset;
  right: auto;

  @include fd-rtl() {
    right: $fd-popover-body-shadow-offset;
    left: auto;
  }
}

@mixin fd-right-popover-offset-placement() {
  right: $fd-popover-body-shadow-offset;
  left: auto;

  @include fd-rtl() {
    left: $fd-popover-body-shadow-offset;
    right: auto;
  }
}
