@import "../mixins";

@mixin fd-table-no-borders() {
  &,
  &__body,
  &__header {
    &--no-vertical-borders {
      .#{$block}__cell {
        border-left-color: transparent;

        @include fd-rtl() {
          border-right-color: transparent;
        }

        &:first-child {
          border-left-color: var(--sapList_BorderColor);

          @include fd-rtl() {
            border-left-color: transparent;
            border-right-color: var(--sapList_BorderColor);
          }
        }

        &:last-child {
          border-right-color: var(--sapList_BorderColor);

          @include fd-rtl() {
            border-right-color: transparent;
            border-left-color: var(--sapList_BorderColor);
          }
        }
      }
    }

    &--no-horizontal-borders {
      .#{$block}__cell {
        border-bottom-color: transparent;
      }

      .#{$block}__row:last-child {
        .#{$block}__cell {
          border-bottom-color: var(--sapList_BorderColor);
        }
      }
    }
  }

  .#{$block}__cell {
    &--no-vertical-border {
      & + .#{$block}__cell {
        border-left-color: transparent;
      }

      @include fd-rtl() {
        border-right-color: transparent;
      }
    }

    &--no-horizontal-border {
      border-bottom-color: transparent;
    }
  }

  &--responsive,
  &--no-outer-border {
    .#{$block}__header {
      .#{$block}__cell {
        border-top-color: transparent;
      }
    }

    .#{$block}__body {
      .#{$block}__row:last-child {
        .#{$block}__cell {
          border-bottom-color: transparent;
        }
      }
    }

    .#{$block}__cell {
      &:first-child {
        border-left-color: transparent;

        @include fd-rtl() {
          border-right-color: transparent;
        }
      }

      &:last-child {
        border-right-color: transparent;

        @include fd-rtl() {
          border-left-color: transparent;
        }
      }
    }
  }
}
