
.fd-has-background-color-accent-1 {
    background-color: var(--fd-color-accent-1, map-get($fd-colors-accent, 1));
  }

.fd-has-background-color-accent-2 {
    background-color: var(--fd-color-accent-2, map-get($fd-colors-accent, 2));
  }

.fd-has-background-color-accent-3 {
    background-color: var(--fd-color-accent-3, map-get($fd-colors-accent, 3));
  }

.fd-has-background-color-accent-4 {
    background-color: var(--fd-color-accent-4, map-get($fd-colors-accent, 4));
  }

.fd-has-background-color-accent-5 {
    background-color: var(--fd-color-accent-5, map-get($fd-colors-accent, 5));
  }

.fd-has-background-color-accent-6 {
    background-color: var(--fd-color-accent-6, map-get($fd-colors-accent, 6));
  }

.fd-has-background-color-accent-7 {
    background-color: var(--fd-color-accent-7, map-get($fd-colors-accent, 7));
  }

.fd-has-background-color-accent-8 {
    background-color: var(--fd-color-accent-8, map-get($fd-colors-accent, 8));
  }

.fd-has-background-color-accent-9 {
    background-color: var(--fd-color-accent-9, map-get($fd-colors-accent, 9));
  }

.fd-has-background-color-accent-10 {
    background-color: var(--fd-color-accent-10, map-get($fd-colors-accent, 10));
  }

.fd-has-background-color-accent-11 {
    background-color: var(--fd-color-accent-11, map-get($fd-colors-accent, 11));
  }

.fd-has-background-color-accent-12 {
    background-color: var(--fd-color-accent-12, map-get($fd-colors-accent, 12));
  }

.fd-has-background-color-accent-13 {
    background-color: var(--fd-color-accent-13, map-get($fd-colors-accent, 13));
  }

.fd-has-background-color-accent-14 {
    background-color: var(--fd-color-accent-14, map-get($fd-colors-accent, 14));
  }

.fd-has-background-color-accent-15 {
    background-color: var(--fd-color-accent-15, map-get($fd-colors-accent, 15));
  }