name: "Chromatic"
on: push

jobs:
  test:
    if: "contains(toJSON(github.event.head_commit.message), '[ci visual]')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: |
        yarn && yarn build
    - uses: chromaui/action@v1
      with: 
        projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
        token: ${{ secrets.GITHUB_TOKEN }}
        buildScriptName: storybook:chromatic
